{% set CodiceModulo = "DOMANDA-DI-ACCESSO-CONSULTAZIONE-ATTI-IN-MATERIA-EDILIZIA" %}
{% set Urn =  "document:c_l378:accesso.atti.edilizia;richiesta.accesso.atti.edilizia;modulo.accesso.atti.materia.edilizia" %}
{% set modulo_workflow_model =  "https://sportello.comune.trento.it/modulistica/moduli/DOMANDA-DI-ACCESSO-CONSULTAZIONE-ATTI-IN-MATERIA-EDILIZIA_vSTU3" %}
{% extends "base_trento_new.html" %}

{% block meta %}

<meta campi_firma="Titolare_CodiceFiscale"
campi_firma_label="il dichiarante"
classi_modulo="Tributi"
codice_modulo="{{ CodiceModulo }}"
urn="{{ Urn }}"
sub_urn_list=""
uo_globo_list=""
contesto_procedurale="Richiesta di accesso/consultazione atti in materia edilizia"
descrizione="Richiesta di accesso/consultazione atti in materia edilizia"
destinatario_amministrazione=""
destinatario_ufficio="OE7NEF"
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="NO"
firmare="NO"
istruzioni_compilazione=""
istruzioni_invio="mail_pec"
metodo_invio="mail"
name="GLOBO_modulo"
procura="NO,,"
segnatura="Titolare"
tipo_modulo="principale"
urlhelp="DomandeRisposte/FAQ"
verifica_pagamento="NO"
versione="1.0|23/02/2018" />

<meta codice_modulo_figlio="GEN-MARCABOLLO"
urn_modulo_figlio="document:c_l378:modulo.secondario.pagamento.marca.bollo"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<meta codice_allegato="AFFIDAMENTO-INCARICO"
urn_allegato="document:c_l378:allegato.affidamento.incarico"
descrizione_estesa="Documentazione comprovante l'incarico"
filename="Affidamento incarico.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/AFFIDAMENTO-INCARICO"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="DOC-GIUSTIFICATIVA"
urn_allegato="document:c_l378:allegato.documentazione.giustificativa"
descrizione_estesa="Eventuale documentazione giustificativa degli interessi"
filename="Documentazione giustificativa.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/DOC-GIUSTIFICATIVA"
name="GLOBO_allegato"
numero="0"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="ALTRI-ALLEGATI"
urn_allegato="document:c_l378:allegato.altri.allegati"
descrizione_estesa="Altri allegati"
filename="Altri allegati.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/ALTRI-ALLEGATI"
name="GLOBO_allegato"
numero="0"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_report="CSP_SESSION_REPORT"
generate_on="sending"
name="GLOBO_report"
urn_report="report:CSP_SESSION_REPORT"
/>

{% endblock meta %}

{% block simpaticoconfig %}
  {% set simpaticoEservice="12" %}
  {% set simpaticoEserviceName="DOMANDA DI ACCESSO CONSULTAZIONE ATTI IN MATERIA EDILIZIA" %}
  {% set simpaticoEserviceURL="https://sportello.comune.trento.it/modulistica/moduli/DOMANDA-DI-ACCESSO-CONSULTAZIONE-ATTI-IN-MATERIA-EDILIZIA" %}
  {% set simpaticoForm="main" %}
  {% set simpaticoCategory="Edilizia" %}
  {% set simpaticoMapping=[ "Titolare_Telefono","Titolare_EMail","Titolare_EMailPEC"] %}
  {% set ERROR_LABELS=[ ('block1' , 'Inserire nome e cognome'),
                        ('block2' , 'Scegliere una delle opzioni'),
                        ('block3' , 'Scegliere una o entrambe le opzioni'),
                        ('block4' , 'Indicare i documenti di interesse'),
                        ('block5' , 'Specificare le motivazioni'),
                        ('block6' , 'Scegliere una delle opzioni'),
                        ('block8' , 'Confermare presa visione informativa sulla privacy')] %}
  {{ utilsSimpatico.ScriptSimpatico(simpaticoEservice, simpaticoEserviceName, simpaticoEserviceURL, simpaticoForm, simpaticoCategory, simpaticoMapping, ERROR_LABELS ) }}
{% endblock simpaticoconfig %}

{% block title %}DOMANDA-DI-ACCESSO-CONSULTAZIONE-ATTI-IN-MATERIA-EDILIZIA{% endblock title %}

{% block content %}
<globo_fondo_pagina areaheight="150" scope="4">
  {{ utils.firma() }}
</globo_fondo_pagina>

<input dynamic_value="#Ente.value()" id="Parametri_Comune" name="Parametri_Comune" type="hidden" />

<input dynamic_value="#Titolare_Cognome.value().toUpperCase() + ' - Domanda di accesso/consultazione agli atti in materia edilizia'" id="Oggetto" name="Oggetto" type="hidden" />

{{ intestazioni.intestazione_moduloprincipale_senzabollo() }}

<br>
<h1 class="Modulo">
  Domanda di accesso/consultazione agli atti in materia edilizia
</h1>

<p align="justify" class="Modulo">
  Ai sensi degli artt. 46 e 47 del D.P.R. 445/2000 e s.m., consapevole delle sanzioni penali, ai sensi dell’art. 76 del D.P.R. 445 del 28.12.2000 e s.m., nel caso di attestazioni non veritiere e falsità negli atti;
</p>

<br>

{{anagrafica_trento.societa_nocf("Titolare","Il sottoscritto", "Titolare", "visibility:visibility", "cursor:pointer")}}

<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="12">
        <p><b>in qualità di:</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="Tipo_richiedente" name="Tipo_richiedente" label="Tipo richiedente" mandatory_enabled="true"> </div>
        <input group="Tipo_richiedente" id="Tipo_richiedente1" name="Tipo_richiedente" type="radio" value="1" />
      </td>
      <td colspan="11">
        <p><b>Proprietario dell'immobile oggetto della richiesta presentata</b></p>
      </td>
    </tr>  
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Tipo_richiedente" id="Tipo_richiedente6" name="Tipo_richiedente" type="radio" value="6" />
      </td>
      <td colspan="11">
        <p><b>Amministratore del condominio oggetto della richiesta presentata</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;" rowspan="6">
        <input group="Tipo_richiedente" id="Tipo_richiedente2" name="Tipo_richiedente" type="radio" value="2" />
      </td>
      <td colspan="11">
        <p><b>Professionista/Agente immobiliare incaricato</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="Tipo_professionista" name="Tipo_professionista" label="TipoTipo_professionistarichiedente" mandatory_enabled="#Tipo_richiedente2.checked()"> </div>
        <input group="Tipo_professionista" id="Tipo_professionista1" name="Tipo_professionista" type="radio" value="1" />
      </td>
      <td colspan="10">dal tribunale o altro organo giudiziario</td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;" rowspan="3">
        <input group="Tipo_professionista" id="Tipo_professionista2" name="Tipo_professionista" type="radio" value="2" />
      </td>
      <td colspan="10">dal proprietario dell'immobile oggetto della richiesta presentata:</td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td colspan="4">
        <p class="Labelcella">Cognome</p>
      </td>
      <td colspan="2">
        <p class="Labelcella">Nome</p>
      </td>
      <td colspan="4">
        <p class="Labelcella">Indirizzo</p>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <input class="" id="Cognome_proprietario_immobile" name="Cognome_proprietario_immobile" label="Cognome del proprietario dell'immobile" style="width:100%;" enabled="#Tipo_professionista2.checked()"/>
      </td>
      <td colspan="2">
        <input class="" id="Nome_proprietario_immobile" name="Nome_proprietario_immobile" label="Nome del proprietario dell'immobile" style="width:100%;" enabled="#Tipo_professionista2.checked()"/>
      </td>
      <td colspan="4">
        <input class="" id="Indirizzo_proprietario_immobile" name="Indirizzo_proprietario_immobile" label="Indirizzo del proprietario dell'immobile" style="width:100%;" enabled="#Tipo_professionista2.checked()"/>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Tipo_professionista" id="Tipo_professionista3" name="Tipo_professionista" type="radio" value="3" />
      </td>
      <td colspan="10">da altro soggetto: <input class="" id="altro_tipo_incarico" name="altro_tipo_incarico" size="66" mandatory_enabled="#Tipo_professionista3.checked()" label="Specificare da chi si è incaricati"/></td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Tipo_richiedente" id="Tipo_richiedente3" name="Tipo_richiedente" type="radio" value="3" />
      </td>
      <td colspan="11">
        <p><b>Notaio rogante</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;" rowspan="4">
        <input group="Tipo_richiedente" id="Tipo_richiedente4" name="Tipo_richiedente" type="radio" value="4" />
      </td>
      <td colspan="11">
        <p><b>Confinante</b></p>
      </td>
    </tr>
    <input id="confinante_DatiCatastaliObbligatori" name="confinante_DatiCatastaliObbligatori" dynamic_check="#Tipo_richiedente4.checked()" type="hidden"/>
    {{ immobili_trento.immobile_accesso_atti(prefix='confinante', intestazione="e proprietario del seguente immobile:", visibility_intestazione="display:visibility") }}
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Tipo_richiedente" id="Tipo_richiedente5" name="Tipo_richiedente" type="radio" value="5" />
      </td>
      <td colspan="11">
        <p><b>Altro titolo:</b> <input class="" id="altro_tipo_richiedente" name="altro_tipo_richiedente" size="81" mandatory_enabled="#Tipo_richiedente5.checked()" label="Specificare titolo per effettuare la richiesta"/></p>
      </td>
    </tr>
  </tbody>
</table>

<br>


<div class="simpatico-block simpatico-query-and-answer">

<h1 class="Modulo">CHIEDE</h1>

<table class="Modulo" style="border: 1px solid grey">
    <tbody>
        <tr>
            <td style="vertical-align: top; width: 4%;" rowspan="10">
                <div id="Servizio_richiesto" name="Servizio_richiesto" label="Servizio richiesto" mandatory_enabled="true"> </div>
                <input group="Servizio_richiesto" id="Servizio_richiesto1" name="Servizio_richiesto1" type="checkbox" value="1" /> 
            </td>
            <td colspan="12">
                <p>La <b>CONSULTAZIONE</b> di atti risalenti a più di 40 anni fa <i>(Archivio Storico)</i></p>
            </td>
        </tr>
        <input id="consultazione_DatiCatastaliObbligatori" name="consultazione_DatiCatastaliObbligatori" dynamic_check="#Servizio_richiesto1.checked()" type="hidden"/>
        {{ immobili_trento.immobile_accesso_atti_no_ult_part(prefix='consultazione', intestazione="per la seguente particella:", visibility_intestazione="display:visibility") }}
        <tr>
            <td style="vertical-align: top; width: 4%;" rowspan="13">
                <input group="Servizio_richiesto" id="Servizio_richiesto2" name="Servizio_richiesto2" type="checkbox" value="2" /> 
            </td>
            <td colspan="12">
                <p>L'<b>ACCESSO</b> agli atti e ai documenti
                <span style="font-size:85%;"><i>&nbsp;&nbsp;&nbsp;(Ai sensi dell'articolo 22 e seguenti della Legge 07/08/1990, n. 241)</i></span></p>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top; width: 4%;">
                <div id="Tipo_accesso" name="Tipo_accesso" label="Servizio Tipo_accesso" mandatory_enabled="#Servizio_richiesto2.checked()"> </div>
                <input group="Tipo_accesso" id="Tipo_accesso1" name="Tipo_accesso1" type="checkbox" value="1" /> 
            </td>
            <td colspan="11">Presa visione</td>
        </tr>
        <tr>
            <td style="vertical-align: top; width: 4%;">
                <input group="Tipo_accesso" id="Tipo_accesso3" name="Tipo_accesso3" type="checkbox" value="3" /> 
            </td>
            <td colspan="11">Estrazione copia in carta semplice</td>
        </tr>
        <tr>
            <td style="vertical-align: top; width: 4%;">
                <input group="Tipo_accesso" id="Tipo_accesso4" name="Tipo_accesso4" type="checkbox" value="4" /> 
            </td>
            <td colspan="11">Estrazione copia conforme all'originale</td>
        </tr>
            <input id="accesso_DatiCatastaliObbligatori" name="accesso_DatiCatastaliObbligatori" dynamic_check="#Servizio_richiesto2.checked()" type="hidden"/>
            {{ immobili_trento.immobile_accesso_atti_no_ult_part(prefix='accesso', intestazione="per la seguente particella:", visibility_intestazione="display:visibility") }}
    </tbody>
</table>
</div>

<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="3">
        <p><b>dei seguenti atti/documenti amministrativi:</b></p>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <textarea class="inputNormal" id="atti_richiesti" name="atti_richiesti" label="Specificare atti a cui si richiede accesso" style="width:100%;height:4cm" mandatory_enabled="true"></textarea>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td colspan="3">
        <p style="font-size: 85%;">Eventuali estremi identificativi dei documenti di riferimento</p>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td style="width:65%;">
        <p style="font-size: 85%;"><b>Tipo di documento</b></p>
      </td>
      <td style="width:20%;">
        <p style="font-size: 85%;"><b>Protocollo/numero</b></p>
      </td>
      <td style="width:15%;">
        <p style="font-size: 85%;"><b>Data</b></p>
      </td>
    </tr>
    <tr>
      <td>
          <input class="" id="Tipo_documento1" name="Tipo_documento1" enabled="true" label="Dati documento 1" style="width:100%;"/>
      </td>
      <td>
          <input class="" id="Prot_documento1" name="Prot_documento1" enabled="true" label="Numero protocollo documento 1" style="width:100%;"/>
      </td>
      <td>
          <input class="" id="Data_documento1" name="Data_documento1" enabled="true" label="Data protocollo documento 1" style="width:100%;" format="date"/>
      </td>
    </tr>
    <tr>
        <td>
            <input class="" id="Tipo_documento2" name="Tipo_documento2" enabled="true" label="Dati documento 2" style="width:100%;"/>
        </td>
        <td>
            <input class="" id="Prot_documento2" name="Prot_documento2" enabled="true" label="Numero protocollo documento 2" style="width:100%;"/>
        </td>
        <td>
            <input class="" id="Data_documento2" name="Data_documento2" enabled="true" label="Data protocollo documento 2" style="width:100%;" format="date"/>
        </td>
    </tr>
    <tr>
        <td>
            <input class="" id="Tipo_documento3" name="Tipo_documento3" enabled="true" label="Dati documento 3" style="width:100%;"/>
        </td>
        <td>
            <input class="" id="Prot_documento3" name="Prot_documento3" enabled="true" label="Numero protocollo documento 3" style="width:100%;"/>
        </td>
        <td>
            <input class="" id="Data_documento3" name="Data_documento3" enabled="true" label="Data protocollo documento 3" style="width:100%;" format="date"/>
        </td>
    </tr>
    <tr>
        <td>
            <input class="" id="Tipo_documento4" name="Tipo_documento4" enabled="true" label="Dati documento 4" style="width:100%;"/>
        </td>
        <td>
            <input class="" id="Prot_documento4" name="Prot_documento4" enabled="true" label="Numero protocollo documento 4" style="width:100%;"/>
        </td>
        <td>
            <input class="" id="Data_documento4" name="Data_documento4" enabled="true" label="Data protocollo documento 4" style="width:100%;" format="date"/>
        </td>
    </tr>
    <tr>
        <td>
            <input class="" id="Tipo_documento5" name="Tipo_documento5" enabled="true" label="Dati documento 5" style="width:100%;"/>
        </td>
        <td>
            <input class="" id="Prot_documento5" name="Prot_documento5" enabled="true" label="Numero protocollo documento 5" style="width:100%;"/>
        </td>
        <td>
            <input class="" id="Data_documento5" name="Data_documento5" enabled="true" label="Data protocollo documento 5" style="width:100%;" format="date"/>
        </td>
    </tr>
  </tbody>
</table>

<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td>
        <p><b>per le seguenti motivazioni:</b></p>
      </td>
    </tr>
    <tr>
      <td>
        <textarea class="inputNormal" id="motivazione_richiesta" name="motivazione_richiesta" label="Motivazione della richiesta" style="width:100%;height:4cm" mandatory_enabled="#Servizio_richiesto2.checked()"></textarea>
      </td>
    </tr>
  </tbody>
</table>

<br>

<div class="simpatico-block simpatico-query-and-answer">

<h1 class="Modulo">CHIEDE INOLTRE</h1>

<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="Metodo_ricezione" name="Metodo_ricezione" label="Metodo scelto per ricevere i documenti" mandatory_enabled="true"> </div>
        <input group="Metodo_ricezione" id="Metodo_ricezione1" name="Metodo_ricezione" type="radio" value="1" /> 
      </td>
      <td>di poterli ritirare presso l'ufficio competente</td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Metodo_ricezione" id="Metodo_ricezione5" name="Metodo_ricezione" type="radio" value="5" /> 
      </td>
      <td>di poterli ritirare presso l'ufficio competente su CD, DVD o supporto USB fornito dall'utente</td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Metodo_ricezione" id="Metodo_ricezione2" name="Metodo_ricezione" type="radio" value="2" dynamic_check="#Tipo_richiedente2.checked()"/> 
      </td>
      <td>di riceverli all'indirizzo PEC sopra indicato: <input class="" id="PEC_invio_doc" name="PEC_invio_doc" enabled="#Metodo_ricezione2.checked()" dynamic_value="#Titolare_EMailPEC.value()" size="56" readonly/><br>
          o tramite servizio di trasferimento dati informatici (es. Pydio, WeTransfer, ecc.)    
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Metodo_ricezione" id="Metodo_ricezione3" name="Metodo_ricezione" type="radio" value="3" /> 
      </td>
      <td>di riceverli all'indirizzo mail sopra indicato: <input class="" id="mail_invio_doc" name="mail_invio_doc" enabled="#Metodo_ricezione3.checked()" dynamic_value="#Titolare_EMail.value()" size="56" readonly/><br>
          o tramite servizio di trasferimento dati informatici (es. Pydio, WeTransfer, ecc.) 
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Metodo_ricezione" id="Metodo_ricezione4" name="Metodo_ricezione" type="radio" value="4" /> 
      </td>
      <td>di riceverli a mezzo posta all'indirizzo sopra indicato, previo pagamento delle spese di spedizione</td>
    </tr>
  </tbody>
</table>
</div>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" name="Allegati" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="3">
        <p style="text-align: center;">
          <b>Elenco degli allegati</b>
          <br>
        </p>
      </td>
    </tr>
    <tr>
			<td style="width:4%">
			 <input id="AFFIDAMENTO_INCARICO" name="AFFIDAMENTO_INCARICO" type="checkbox" dynamic_check="#Tipo_richiedente2.checked()" enabled="#Tipo_richiedente2.checked()" value="OBBLIGATORIO"/>
			</td>
			<td style="background-color: #eeeeee;" colspan="2">
			  <p>
			  Documentazione comprovante l'affidamento dell'incarico
			 </p>
			</td>
    </tr>
    <tr>
			<td style="width:4%">
			 <input id="DOC_GIUST" name="DOC_GIUST" type="checkbox" enabled="true" value="OBBLIGATORIO"/>
			</td>
			<td style="background-color: #eeeeee;" colspan="2">
			  <p>
			  Eventuale documentazione giustificativa degli interessi giuridicamente rilevanti e motivi di legittimazione
			 </p>
			</td>
    </tr>
    <tr>
      <td style="width: 4%; vertical-align: top;">
        <input id="GEN_MARCABOLLO" name="GEN_MARCABOLLO" dynamic_check="#Tipo_accesso4.checked()" enabled="#Tipo_accesso4.checked()" type="checkbox" value="OBBLIGATORIO" />
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p>
          Pagamento dell'imposta di bollo
        </p>
        <p>
          <select class="inputNormal" id="Tipo_Firma_pagamento_bollo" name="Tipo_Firma_pagamento_bollo" style="width:100%" label="Tipo firma bollo" mandatory_enabled="#GEN_MARCABOLLO.checked()">
            <option value=""></option>
            <option value="A">Si allega dichiarazione del pagamento dell'imposta di bollo con firma autografa del richiedente</option>
            <option value="E">Si allega dichiarazione del pagamento dell'imposta di bollo con firma elettronica del richiedente</option>
          </select>
        </p>
      </td>
    </tr>
    <tr>
			<td style="width:4%">
			 <input id="ALTRI_ALLEGATI" name="ALTRI_ALLEGATI" type="checkbox" value="OBBLIGATORIO"/>
			</td>
			<td style="background-color: #eeeeee;" colspan="2">
			  <p>
			  Altri allegati <i>(specificare)</i>: 
			  <input class="" label="Altri allegati" id="AltriAllegati" mandatory_enabled="#ALTRI_ALLEGATI.checked()" name="AltriAllegati" style="width:77%;"/>
			 </p>
			</td>
	  </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" name="Informativa_dati" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p style="text-align: center;"><b>INFORMATIVA SULLA PRIVACY</b></p>
        <p style="text-align: center; font-size:85%"><i>Art. 13 del D. Lgs. n. 196/2003, Regolamento UE 2016/679 in vigore dal 24.05.2016 e pienamente dal 25.05.2018</i></p>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <p>Ai sensi del Regolamento UE n. 2016/679 relativo alla protezione delle persone fisiche con riguardo al trattamento dei dati personali e delle disposizioni della normativa nazionale, si informa che:</p>
          <ul>
            <li>Titolare del trattamento dei dati è il Comune di Trento (email: segreteria_generale@comune.trento.it; sito web: http://comune.trento.it)</li>
            <li>Responsabile per la protezione dei dati è il Consorzio dei Comuni Trentini (email: servizioRPD@comunitrentini.it; sito web: http://www.comunitrentini.it)</li>
            <li>i dati vengono raccolti e trattati al fine di dare riscontro alle richieste di accesso agli atti e ai documenti in materia edilizia formati o detenuti dall’Amministrazione comunale</li>
            <li>la base giuridica del trattamento consiste nell'esecuzione di un compito o di una funzione di interesse pubblico, ai sensi della normativa statale e provinciale in materia di procedimento amministrativo e diritto di accesso ai documenti amministrativi (legge n. 241/1990; legge della Provincia Autonoma di Trento n. 23/1992)</li>
            <li>i dati vengono trattati con sistemi informatici e/o manuali, attraverso procedure adeguate a garantirne la sicurezza e la riservatezza</li>
            <li>i dati possono essere comunicati ad altri soggetti pubblici o privati che, secondo le norme, sono tenuti a conoscerli o possono conoscerli, nonché ai soggetti che sono a loro volta titolari del diritto di accesso.<br>I dati non sono oggetto di diffusione né di trasferimento all'estero</li>
            <li>i dati possono essere conosciuti dal responsabile o dagli autorizzati dei Servizi di merito presso i quali è custodita la documentazione richiesta in sede di esercizio del diritto di accesso</li>
            <li>il conferimento dei dati ha natura obbligatoria ai fini del riscontro alle richieste di accesso agli atti e ai documenti in materia edilizia. Non fornire i dati comporta l’impossibilità di dare riscontro alle richieste medesime</li>
            <li>i dati sono conservati per il periodo strettamente necessario all'esecuzione del compito o della funzione di interesse pubblico e comunque a termini di legge</li>
            <li>i diritti dell'interessato sono:</li>
            <ul>
              <li>richiedere la conferma dell'esistenza o meno dei dati che lo riguardano</li>  
              <li>ottenere la loro comunicazione in forma intelligibile</li>  
              <li>richiedere di conoscere l’origine dei dati personali, le finalità e modalità del trattamento, la logica applicata se il trattamento è effettuato con l’ausilio di strumenti elettronici</li>  
              <li>ottenere la rettifica , la cancellazione, la limitazione, la trasformazione in forma anonima o il blocco dei dati trattati in violazione di legge</li>  
              <li>richiedere la portabilità dei dati</li>  
              <li>aggiornare, correggere o integrare i dati che lo riguardano</li>  
              <li>opporsi, per motivi legittimi, al trattamento dei dati</li>
              <li>proporre reclamo al Garante per la protezione dei dati personali</li>
            </ul>
          </ul>
      </td>
    </tr>
    <tr>
      <td style="width: 4%; vertical-align: top;">
        <div id="Presa_visione" name="Presa_visione" label="Dichiarazione presa visione" mandatory_enabled="true"></div> 
        <input id="Presa_visione_check" name="Presa_visione" type="radio" value="1"/>
      </td>
      <td colspan="2" style="background-color: #eeeeee;">
        <p>Dichiaro di aver preso visione dell'informativa sul trattamento dei dati personali e acconsento al trattamento dei suddetti dati con le modalità e per le finalità indicate nell'informativa stessa</p>
      </td>
    </tr>
  </tbody>
</table>

<br>

<div class="simpatico-block">
 {{ utils.firma_hidden() }}
</div>

<br>

<p class="Modulo">
  <input id="SalvaModulo" name="SalvaModulo" style="height:30px;width:120px;" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza." type="submit" value="Salva modulo" />
</p>
<input destinatario_amministrazione="getParameter('Ente')" id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value="" />

<input id="Metadati_Titolare_Cognome" name="Metadati_Titolare_Cognome" dynamic_value="#Titolare_Cognome.value()" type="hidden"/>

<input id="GLOBO_allegato_cAFFIDAMENTO-INCARICO" name="GLOBO_allegato_cAFFIDAMENTO-INCARICO" obbligatorio="#AFFIDAMENTO_INCARICO.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_allegato_cDOC-GIUSTIFICATIVA" name="GLOBO_allegato_cDOC-GIUSTIFICATIVA" obbligatorio="#DOC_GIUST.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_allegato_cALTRI-ALLEGATI" name="GLOBO_allegato_cALTRI-ALLEGATI" obbligatorio="#ALTRI_ALLEGATI.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<input firmare="'NO'" id="GLOBO_modulofiglio_cGEN-MARCABOLLO" name="GLOBO_modulofiglio_cGEN-MARCABOLLO" obbligatorio="#GEN_MARCABOLLO.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden" />
<input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden" />
<input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}" />

<input id="Metadati_firma_bollo" name="Metadati_firma_bollo" dynamic_value="#Tipo_Firma_pagamento_bollo.value()" type="hidden"/>
<input id="Metadati_oggetto" name="Metadati_oggetto" dynamic_value="#Oggetto.value()" type="hidden"/>

{% endblock content %}
