{% set CodiceModulo = "RILASCIO-TITOLI-EDILIZI" %}
{% set Urn =  "document:c_l378:rilascio.titoli.edilizi;richiesta.rilascio.titoli.edilizi;modulo.richiesta.rilascio.titoli.edilizi" %}
{% set modulo_workflow_model =  "https://sportello.comune.trento.it/modulistica/moduli/RILASCIO-TITOLI-EDILIZI_v1.0" %}
{% extends "base_trento_new.html" %}

{% block meta %}

<meta campi_firma="AventeTitolo_CodiceFiscale"
campi_firma_label="il dichiarante"
classi_modulo="Tributi"
codice_modulo="{{ CodiceModulo }}"
urn="{{ Urn }}"
sub_urn_list=""
uo_globo_list=""
contesto_procedurale="Rilascio titoli edilizi"
descrizione="Istanza per il rilascio di titoli edilizi per atti di compravendita"
destinatario_amministrazione=""
destinatario_ufficio="OE7NEF"
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="NO"
firmare="NO"
istruzioni_compilazione=""
istruzioni_invio="mail_pec"
metodo_invio="mail"
name="GLOBO_modulo"
procura="NO,,"
segnatura="AventeTitolo"
tipo_modulo="principale"
urlhelp="DomandeRisposte/FAQ"
verifica_pagamento="NO"
versione="1.0|23/02/2018" />

<meta codice_allegato="RIC-DIR-SEG"
urn_allegato="document:c_l378:allegato.ricevuta.pagamento.diritti.segreteria.istruttoria"
descrizione_estesa="Ricevuta del pagamento di 26,00 euro per diritti di istruttoria"
filename="Ricevuta diritti segreteria.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/RIC-DIR-SEG"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="AFFIDAMENTO-INCARICO"
urn_allegato="document:c_l378:allegato.nomina.perito"
descrizione_estesa="Altri allegati"
filename="Nomina perito.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/AFFIDAMENTO-INCARICO"
name="GLOBO_allegato"
numero="0"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="ALTRI-ALLEGATI"
urn_allegato="document:c_l378:allegato.altri.allegati"
descrizione_estesa="Altri allegati"
filename="Altri allegati.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/ALTRI-ALLEGATI"
name="GLOBO_allegato"
numero="0"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_report="CSP_SESSION_REPORT"
generate_on="sending"
name="GLOBO_report"
urn_report="report:CSP_SESSION_REPORT"
/>

<!-- *********** INIZIO ATTIVAZIONE STRUMENTI SIMPATICO *********** 
<script type="text/javascript">
  var simpaticoEservice="8"
  var simpaticoForm="main"
  var simpaticoCategory="Edilizia"
  var simpaticoMapping=["AventeTitolo_CodiceFiscale",
                        "AventeTitolo_DataNascita",
                        "AventeTitolo_Sesso",
                        "AventeTitolo_Nazionalita",
                        "AventeTitolo_LuogoNascita",
                        "AventeTitolo_ComuneResidenza",
                        "AventeTitolo_ViaResidenza",
                        "AventeTitolo_CivicoResidenza",
                        "AventeTitolo_CAPResidenza",
                        "AventeTitolo_Cognome",
                        "AventeTitolo_Nome",
                        "AventeTitolo_Telefono",
                        "AventeTitolo_Fax",
                        "AventeTitolo_EMail",
                        "AventeTitolo_EMailPEC"]
  var serviceName = "Rilascio di titoli edilizi per atti di compravendita"; // Eservice example
  var serviceURL="https://sportello.comune.trento.it/sites/default/files/sportello_telematico/RILASCIO-TITOLI-EDILIZI.html";
  var ERROR_LABELS= {   
                     'block1' : 'Selezionare una delle opzioni',
                     'block2' : 'Inserire il codice fiscale',
                     'block3' : 'Particella edilizia non valida',
                     'block4' : 'Indirizzo non inserito',
                     'block5' : 'Indirizzo non verificato',
                     'block12' : 'Selezionare una delle opzioni'
                    }
</script>
 *********** FINE ATTIVAZIONE STRUMENTI SIMPATICO *********** -->

{% endblock meta %}

<!--{% block simpaticoconfig %}
{% set simpaticoEservice="1" %}
{% set simpaticoEserviceName="M47750 AUTORIZZAZIIONE CPC" %}
{% set simpaticoEserviceURL="https://sportello.comune.trento.it/modulistica/moduli/M47750-AUTORIZZAZIONE-CPC" %}
{% set simpaticoForm="main" %}
{% set simpaticoCategory="Edilizia" %}
{% set simpaticoMapping=[ "AventeTitolo_EMailPEC","AventeTitolo_Fax","AventeTitolo_EMail"] %}
{% set ERROR_LABELS=[   ('block1' , 'Selezionare una delle opzioni'),
                        ('block2' , 'Inserire il codice fiscale'),
                        ('block3' , 'Selezionare il ruolo'),
                        ('block5' , 'Selezionare la tipologia di autorizzazione/parere richiesta'),
                        ('block7' , 'Specificare la tipologia di intervento'),
                        ('block8' , 'Particella edilizia non valida'),
                        ('block9' , 'Indirizzo non inserito'),
                        ('block10' , 'Indirizzo non verificato'),
                        ('block12' , 'Selezionare una delle opzioni'),
                        ('block13' , 'Definire il ruolo'),
                        ('block14' , 'Inserire il codice fiscale'),
                        ('block15' , 'Selezionare una delle opzioni'),
                        ('block17' , 'Confermare presa visione informativa sulla privacy')] %}
{{ utilsSimpatico.ScriptSimpatico(simpaticoEservice, simpaticoEserviceName, simpaticoEserviceURL, simpaticoForm, simpaticoCategory, simpaticoMapping, ERROR_LABELS ) }}
{% endblock simpaticoconfig %}-->

{% block title %}RILASCIO-TITOLI-EDILIZI{% endblock title %}

{% block content %}
<globo_fondo_pagina areaheight="150" scope="4">
  {{ utils.firma() }}
</globo_fondo_pagina>

<input dynamic_value="#Ente.value()" id="Parametri_Comune" name="Parametri_Comune" type="hidden" />

<input dynamic_value="#AventeTitolo_Cognome.value().toUpperCase() + ' - Rilascio titoli edilizi per atti di compravendita'" id="Oggetto" name="Oggetto" type="hidden" />

{{ intestazioni.intestazione_moduloprincipale_senzabollo() }}

<h1 class="Modulo">
  Istanza per il rilascio di titoli edilizi per atti di compravendita
</h1>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p><b>La compilazione del modulo seguente viene eseguita in qualità di:</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="Tipo_richiedente" name="Tipo_richiedente" label="Tipo richiedente" mandatory_enabled="true"> </div>
        <input group="Tipo_richiedente" id="Tipo_richiedente1" name="Tipo_richiedente" type="radio" value="1" />
      </td>
      <td>
        <p>Notaio</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Tipo_richiedente" id="Tipo_richiedente2" name="Tipo_richiedente" type="radio" value="2" />
      </td>
      <td>
        <p>Consulente Tecnico d'Ufficio</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Tipo_richiedente" id="Tipo_richiedente3" name="Tipo_richiedente" type="radio" value="3" />
      </td>
      <td>
        <p>Privato</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Tipo_richiedente" id="Tipo_richiedente4" name="Tipo_richiedente" type="radio" value="4" />
      </td>
      <td>
        <p>Agenzia Immobiliare</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Tipo_richiedente" id="Tipo_richiedente5" name="Tipo_richiedente" type="radio" value="5" />
      </td>
      <td>
        <p>Professionista</p>
      </td>
    </tr>
  </tbody>
</table>

<br>

<div class="simpatico-block simpatico-query-and-answer">
{{anagrafica_trento.richiedente( "AventeTitolo", "ll/La sottoscritto/a", "visibility:visibility", "cursor:pointer", "visibility:visibility") }}
</div>

<br>
<br>

<h3 class="Modulo">Chiede l'elenco dei titoli edilizi rilasciati / riferiti alle seguenti realtà immobiliari</h3>

<br>

<input id="Immobile_DatiCatastaliObbligatori" name="Immobile_DatiCatastaliObbligatori" dynamic_check="true" type="hidden"/>

    {{ immobili_trento.immobile_no_ult_part("Immobile", "Particella #1", disattivato="true") }}

    <br><br>

    {{ immobili_trento.immobile_no_ult_part("Immobile2", "Particella #2", disattivato="true") }}

    <br><br>

    {{ immobili_trento.immobile_no_ult_part("Immobile3", "Particella #3", disattivato="true") }}

<br><br>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p><b>Per le finalità di :</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="Finalita_richiesta" name="Finalita_richiesta" label="Finalita richiesta" mandatory_enabled="true"> </div>
        <input group="Finalita_richiesta" id="Finalita_richiesta1" name="Finalita_richiesta" type="radio" value="1" />
      </td>
      <td>
        <p>Redazione atto notarile</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Finalita_richiesta" id="Finalita_richiesta2" name="Finalita_richiesta" type="radio" value="2" />
      </td>
      <td>
        <p>Consulenza d'ufficio per tribunale</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Finalita_richiesta" id="Finalita_richiesta3" name="Finalita_richiesta" type="radio" value="3" />
      </td>
      <td>
        <p>Altro <input class="" label="Altra motivazione per cui si richiedono gli atti" id="Altra_finalita" mandatory_enabled="#Finalita_richiesta3.checked()" name="Altra_finalita" style="width:95%;"/> </p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" name="Allegati" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="3">
        <p style="text-align: center;">
          <b>Elenco degli allegati</b>
          <br>
          <span style="font-size:70%">
            <i>(barrare tutti gli allegati richiesti in fase di presentazione della pratica ed elencati sul portale)</i>
          </span>
        </p>
      </td>
    </tr>
    <tr>
      <td style="width:4%">
        <input id="RIC_DIR_SEG" name="RIC_DIR_SEG" dynamic_check="#Tipo_richiedente1.checked() || #Tipo_richiedente3.checked() || #Tipo_richiedente4.checked() || #Tipo_richiedente5.checked()" type="checkbox" value="OBBLIGATORIO" enabled="#Tipo_richiedente1.checked() || #Tipo_richiedente3.checked() || #Tipo_richiedente4.checked() || #Tipo_richiedente5.checked()"/>
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p>
          ricevuta pagamento dei diritti di istruttoria
        </p>
      </td>
    </tr>
    <tr>
      <td style="width:4%">
        <input id="NOMINA_PERITO" name="NOMINA_PERITO" enabled="#Tipo_richiedente2.checked()" dynamic_check="#Tipo_richiedente2.checked()" type="checkbox" value="OBBLIGATORIO" />
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p>
          nomina del perito
        </p>
      </td>
    </tr>
    <tr>
			<td>
			 <input id="ALTRI-ALLEGATI" name="ALTRI-ALLEGATI" type="checkbox" value="OBBLIGATORIO"/>
			</td>
			<td style="background-color: #eeeeee;" colspan="2">
			  <p>
			  altri allegati
			  <span style="font-size:70%">
			   (specificare)
			  </span>
			  <input class="" label="Altri allegati" id="AltriAllegati" mandatory_enabled="#ALTRI_ALLEGATI.checked()" name="AltriAllegati" style="width:81%;"/>
			 </p>
			</td>
	  </tr>
  </tbody>
</table>

<br>

<div class="simpatico-block">
  {{ utils.firma_hidden() }}
</div>

<br>

<p class="Modulo">
  <input id="SalvaModulo" name="SalvaModulo" style="height:30px;width:120px;" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza." type="submit" value="Salva modulo" />
</p>
<input destinatario_amministrazione="getParameter('Ente')" id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value="" />

<input id="Metadati_AventeTitolo_Cognome" name="Metadati_AventeTitolo_Cognome" dynamic_value="#AventeTitolo_Cognome.value()" type="hidden"/>

<input id="GLOBO_allegato_cRIC-DIR-SEG" name="GLOBO_allegato_cRIC-DIR-SEG" obbligatorio="#RIC_DIR_SEG.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<input id="GLOBO_allegato_cNOMINA-PERITO" name="GLOBO_allegato_cNOMINA-PERITO" obbligatorio="#NOMINA_PERITO.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<input id="GLOBO_allegato_cALTRI-ALLEGATI" name="GLOBO_allegato_cALTRI-ALLEGATI" obbligatorio="#ALTRI_ALLEGATI.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden" />
<input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden" />
<input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}" />

<input id="Metadati_oggetto" name="Metadati_oggetto" dynamic_value="#Oggetto.value()" type="hidden"/>

{% endblock content %}
