{% set CodiceModulo = "M47622-CERTIFICATO-CONFORMITA-EDIFICI-ESISTENTI" %}
{% set Urn =  "document:c_l378:conformita.edifici;certificato.conformita.edifici;m47622.certificato.conformita.edifici.esistenti" %}
<!--{% set modulo_workflow_model =  "https://sportello.comune.trento.it/modulistica/moduli/M47622-CERTIFICATO-CONFORMITA-EDIFICI-ESISTENTI_vSTU3" %}-->
{% extends "base_trento_new.html" %}

{% block meta %}

<meta campi_firma="Progettista_CodiceFiscale"
campi_firma_label="Il tecnico incaricato"
classi_modulo="Tributi"
codice_modulo="{{ CodiceModulo }}"
urn="{{ Urn }}"
sub_urn_list=""
uo_globo_list=""
contesto_procedurale="Certificato di conformità edifici esistenti"
descrizione="Certificato di conformità edifici esistenti"
destinatario_amministrazione=""
destinatario_ufficio="OE7NEF"
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="NO"
firmare="P7M_ELETTRONICA"
istruzioni_compilazione=""
istruzioni_invio="mail_pec"
metodo_invio="mail"
name="GLOBO_modulo"
procura="NO,,"
segnatura="Progettista"
tipo_modulo="principale"
urlhelp="/modulistica/moduli/M47622-CERTIFICATO-CONFORMITA-EDIFICI-ESISTENTI"
verifica_pagamento="NO"
versione="1.0|06/04/2016" />

<meta codice_modulo_figlio="M47622-MSEC01-ULT-TIT-ABIT"
urn_modulo_figlio="document:c_l378:conformita.edifici;certificato.conformita.edifici;msec01.m47622.ulteriori.titoli.abitativi"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<meta codice_allegato="M47622-A01-STATO-RILIEVO"
urn_allegato="document:c_l378:conformita.edifici;certificato.conformita.edifici;a01.m47622.stato.rilievo"
descrizione_estesa="Stato di rilievo"
filename="M47622-A01-STATO-RILIEVO.pdf"
firmato="SI"
istruzioni="/modulistica/moduli/M47622-A01-STATO-RILIEVO"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M47622-A02-DICH-RISP-PRE90"
urn_allegato="document:c_l378:conformita.edifici;certificato.conformita.edifici;a02.m47622.dich.rispond.impianti.pre90"
descrizione_estesa="Dichiarazione di rispondenza alle norme per gli impianti realizzati prima del 13 marzo 1990"
filename="Dichiarazione rispondenza impianti pre 1990.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/M47622-A02-DICH-RISP-PRE90"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M47622-A03-DICH-RISP-9008"
urn_allegato="document:c_l378:conformita.edifici;certificato.conformita.edifici;a03.m47622.dich.rispond.impianti.9008"
descrizione_estesa="Dichiarazione di rispondenza per impianti realizzati tra il 13 marzo 1990 e il 26 marzo 2008"
filename="Dichiarazione rispondenza impianti 1990-2008.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/M47622-A03-DICH-RISP-9008"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M47622-A04-DICH-CONF-9008"
urn_allegato="document:c_l378:conformita.edifici;certificato.conformita.edifici;a04.m47622.dich.conform.9008"
descrizione_estesa="Dichiarazione di conformità per impianti realizzati tra il 13 marzo 1990 e il 26 marzo 2008"
filename="Dichiarazione conformità 1990-2008.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/M47622-A04-DICH-CONF-9008"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M47622-A05-DICH-CONF-POST08"
urn_allegato="document:c_l378:conformita.edifici;certificato.conformita.edifici;a05.m47622.dich.conform.post08"
descrizione_estesa="Dichiarazione di conformità per impianti realizzati dopo il 26 marzo 2008"
filename="Dichiarazione conformità post 2008.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/M47622-A05-DICH-CONF-POST08"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M47622-A06-DICH-CONF-AMB-PROD"
urn_allegato="document:c_l378:conformita.edifici;certificato.conformita.edifici;a06.m47622.dich.conform.ambienti.produttivi"
descrizione_estesa="Dichiarazione di conformità per impianti relativi ad ambienti produttivi e luoghi di lavoro"
filename="Dichiarazione conformità ambienti lavoro.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/M47622-A06-DICH-CONF-AMB-PROD"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M47622-A07-CERT-COLLAUDO-9008"
urn_allegato="document:c_l378:conformita.edifici;certificato.conformita.edifici;a07.m47622.cert.collaudo.impianti.9008"
descrizione_estesa="Certificato di collaudo degli impianti installati per impianti realizzati tra il 13 marzo 1990 e il 26 marzo 2008"
filename="Collaudo impianti 1990-2008.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/M47622-A07-CERT-COLLAUDO-9008"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M47622-A08-RICEVUTA-SCIA"
urn_allegato="document:c_l378:conformita.edifici;certificato.conformita.edifici;a08.m47622.ricevuta.scia"
descrizione_estesa="Copia della ricevuta di segnalazione certificata di inizio attività (SCIA)"
filename="RICEVUTA-SCIA.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/M47622-A08-RICEVUTA-SCIA"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M47622-A09-DICH-IDON-STATICA-PRE40"
urn_allegato="document:c_l378:conformita.edifici;certificato.conformita.edifici;a09.m47622.dich.idon.statica.pre40"
descrizione_estesa="Dichiarazione di idoneità statica per gli interventi o edifici realizzati anteriormente al 19 aprile 1940"
filename="Idoneità statica pre 1940.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/M47622-A09-DICH-IDON-STATICA-PRE40"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M47622-A10-DICH-IDON-STATICA-4072"
urn_allegato="document:c_l378:conformita.edifici;certificato.conformita.edifici;a10.m47622.dich.idon.statica.4072"
descrizione_estesa="Certificato di collaudo o dichiarazione di idoneità statica per gli interventi realizzati tra il 19 aprile 1940 e il 5 gennaio 1972"
filename="Idoneità statica 1940-1972.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/M47622-A10-DICH-IDON-STATICA-4072"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M47622-A11-CERT-PREV-INCENDI"
urn_allegato="document:c_l378:conformita.edifici;certificato.conformita.edifici;a11.m47622.certificato.prevenzione.incendi"
descrizione_estesa="Certificato di prevenzione incendi per le attività soggette alle visite di prevenzione incendi in corso di validità"
filename="Certificato di prevenzione incendi.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/M47622-A11-CERT-PREV-INCENDI"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M47622-A12-DICH-IDON-STATICA-7208"
urn_allegato="document:c_l378:conformita.edifici;certificato.conformita.edifici;a12.m47622.dich.idon.statica.7208"
descrizione_estesa="Dichiarazione di idoneità statica per gli interventi o edifici realizzati tra il 5 gennaio 1972 e il 5 marzo 2008"
filename="Idoneità statica pre 1972-2008.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/M47622-A12-DICH-IDON-STATICA-7208"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M47622-A13-DICH-IDON-STATICA-POST08"
urn_allegato="document:c_l378:conformita.edifici;certificato.conformita.edifici;a13.m47622.dich.idon.statica.post08"
descrizione_estesa="Certificato di collaudo o dichiarazione di idoneità statica per gli interventi realizzati dopo il 5 marzo 2008 oppure dal 1° luglio 2009, a seconda della tipologia di intervento"
filename="Idoneità statica post2008.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/M47622-A13-DICH-IDON-STATICA-POST08"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-PLANIM-VISURE-CATAST"
urn_allegato="document:c_l378:allegato.visure.catastali"
descrizione_estesa="Planimetrie e visure catastali"
filename="GEN-PLANIM-VISURE-CATAST.pdf"
firmato="SI"
istruzioni="/modulistica/moduli/GEN-PLANIM-VISURE-CATAST"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-RIC-RICH-ACCATAST"
urn_allegato="document:c_l378:allegato.richiesta.accatastamento"
descrizione_estesa="Ricevuta deposito richiesta di accatastamento immobile"
filename="Ricevuta deposito richiesta di accatastamento immobile.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-RIC-RICH-ACCATAST"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-VARIAZ-NUM-CIVICO"
urn_allegato="document:c_l378:allegato.variazione.numero.civico"
descrizione_estesa="Nota di assegnazione/aggiornamento numerazione civica"
filename="Variazione numero civico.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-VARIAZ-NUM-CIVICO"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-AFFIDAMENTO-INCARICO"
urn_allegato="document:c_l378:allegato.affidamento.incarico"
descrizione_estesa="Altri allegati"
filename="Affidamento incarico.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-AFFIDAMENTO-INCARICO"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="INFORM-TRATT-DATI-EDILIZIA"
urn_allegato="document:c_l378:allegato.informativa.trattamento.dati.edilizia"
descrizione_estesa="Informativa trattamento dati EDILIZIA"
filename="INFORM-TRATT-DATI-EDILIZIA.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/INFORM-TRATT-DATI-EDILIZIA"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_report="CSP_SESSION_REPORT"
generate_on="sending"
name="GLOBO_report"
urn_report="report:CSP_SESSION_REPORT"
/>

<!-- *********** INIZIO ATTIVAZIONE STRUMENTI SIMPATICO ***********
<script type="text/javascript">
    var simpaticoEservice="4"
    var simpaticoForm="main"
    var simpaticoCategory="Edilizia"
    var simpaticoMapping=[ "Progettista_EMailPEC",
                           "Progettista_Tel_Fisso",
                           "Progettista_EMail"]
    var ERROR_LABELS= {   
                        'block1' : 'Selezionare una delle opzioni',
                        'block2' : 'Inserire il codice fiscale',
                        'block3' : 'Selezionare il ruolo',
                        'block6' : 'Particella edilizia non valida',
                        'block7' : 'Indirizzo non inserito',
                        'block8' : 'Indirizzo non verificato',
                        'block11' : 'Inserire il codice fiscale',
                        'block13' : 'Confermare presa visione informativa sulla privacy'
      }
  
    </script>
*********** FINE ATTIVAZIONE STRUMENTI SIMPATICO *********** -->

{% endblock meta %}

<!--{% block simpaticoconfig %}
{% set simpaticoEservice="1" %}
{% set simpaticoEserviceName="M47750 AUTORIZZAZIIONE CPC" %}
{% set simpaticoEserviceURL="https://sportello.comune.trento.it/modulistica/moduli/M47750-AUTORIZZAZIONE-CPC" %}
{% set simpaticoForm="main" %}
{% set simpaticoCategory="Edilizia" %}
{% set simpaticoMapping=[ "Progettista_EMailPEC","Progettista_Tel_Fisso","Progettista_EMail"] %}
{% set ERROR_LABELS=[   ('block1' , 'Selezionare una delle opzioni'),
                        ('block2' , 'Inserire il codice fiscale'),
                        ('block3' , 'Selezionare il ruolo'),
                        ('block5' , 'Selezionare la tipologia di autorizzazione/parere richiesta'),
                        ('block7' , 'Specificare la tipologia di intervento'),
                        ('block8' , 'Particella edilizia non valida'),
                        ('block9' , 'Indirizzo non inserito'),
                        ('block10' , 'Indirizzo non verificato'),
                        ('block12' , 'Selezionare una delle opzioni'),
                        ('block13' , 'Definire il ruolo'),
                        ('block14' , 'Inserire il codice fiscale'),
                        ('block15' , 'Selezionare una delle opzioni'),
                        ('block17' , 'Confermare presa visione informativa sulla privacy')] %}
{{ utilsSimpatico.ScriptSimpatico(simpaticoEservice, simpaticoEserviceName, simpaticoEserviceURL, simpaticoForm, simpaticoCategory, simpaticoMapping, ERROR_LABELS ) }}
{% endblock simpaticoconfig %}-->


{% block title %}CERTIFICATO CONFORMITA' EDIFICI ESISTENTI{% endblock title %}

{% block content %}

<input dynamic_value="#Ente.value()" id="Parametri_Comune" name="Parametri_Comune" type="hidden" />

<input dynamic_value="#Progettista_Cognome.value().toUpperCase() + ' - Cerificato conformità edifici esistenti'" id="Oggetto" name="Oggetto" type="hidden" />

{{ intestazioni.intestazione_moduloprincipale_senzabollo() }}

<div class="simpatico-block simpatico-query-and-answer">
  <h1 class="Modulo" style="line-height:1.6;">CERTIFICATO DI CONFORMITA' EDIFICI ESISTENTI
    <br><span style="font-size:70%">(ai sensi dell'articolo 93, comma 10, della L.P. 4 agosto 2015 n. 15 e 68 del Regolamento urbanistico edilizio provinciale DPP 19 maggio 2017 n. 8-61/Leg)</span>
  </h1>
  <br> 

  <input type="hidden" name="TipoContesto" id="TipoContesto" value="GLOBO">
<input type="hidden" name="TipoLista" id="TipoLista" value="PGLOBO">

<input id="recapito_obbligatorio" name="recapito_obbligatorio" dynamic_check="true" type="hidden" />
<input id="pec_obbligatoria" name="pec_obbligatoria" dynamic_check="true" type="hidden" />

  {{anagrafica_trento_uniformata.titolare_conf_edifici("Progettista","Il/La sottoscritto/a, avente codice fiscale:", "visibility:visibility", "cursor:pointer", "visibility:visibility")}}
</div>

<br>
<br>

{{anagrafica_trento_uniformata.solo_nominativo("AventeTitolo","Indica il nominativo del soggetto interessato (es. proprietario dell'immobile) --- FACOLTATIVO") }}

<br>
<br>
<div class="simpatico-block simpatico-query-and-answer">
<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="4">
        <p><b>Esaminato il progetto allegato ai seguenti titoli abilitativi edilizi:</b></p>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td style="width:40%;">
        <p style="font-size: 85%;"><b>Titolo abilitativo</b></p>
      </td>
      <td style="width:17%;">
        <p style="font-size: 85%;"><b>Protocollo/numero</b></p>
      </td>
      <td style="width:13%;">
        <p style="font-size: 85%;"><b>Data</b></p>
      </td>
      <td style="width:30%;">
        <p style="font-size: 85%;"><b>Redatto da</b></p>
      </td>
    </tr>
    {% macro titoli_abitativi(prefix) %}
    {% set prefix = prefix|string %}
    <tr>
      <td>
        <input class="" id="Tipo_documento{{ prefix }}" name="Tipo_documento{{ prefix }}" enabled="true" label="Dati documento {{ prefix }}" style="width:100%;"/>
      </td>
      <td>
        <input class="" id="Prot_documento{{ prefix }}" name="Prot_documento{{ prefix }}" enabled="true" label="Numero protocollo documento {{ prefix }}" style="width:100%;"/>
      </td>
      <td>
        <input class="" id="Data_documento{{ prefix }}" name="Data_documento{{ prefix }}" enabled="true" label="Data protocollo documento {{ prefix }}" style="width:100%;" format="date"/>
      </td>
      <td>
        <input class="" id="Redatt_documento{{ prefix }}" name="Redatt_documento{{ prefix }}" enabled="true" label="Redattore documento {{ prefix }}" style="width:100%;"/>
      </td>
    </tr>
    {%- endmacro %}

    {% for i in range(1, 11) %}
    {{ titoli_abitativi(i) }}
    {% endfor %}
  </tbody>
</table>

<table class="Modulo" style="border:1px solid grey; margin-top:-1px">
  <tbody>
    <tr class="Rigaintestazioneridotta">
      <td>
        <p><b>Ulteriori titoli abitativi</b></p>
      </td>
    </tr>
    <tr>
      <td>
        <p>Esistono ulteriori n°: <input id="NumeroAltriTitoli" name="NumeroAltriTitoli" style="width:5%;" label="Numero altri titoli" enabled="true"/> ulteriori titoli abitativi relativi all'intervento</p>
      </td>
    </tr>
  </tbody>
</table>
</div>
  
  <input id="Metadati_altri_titoli" name="Metadati_altri_titoli" dynamic_value="#{{ prefix }}_NumeroAltriTitoli.value()" type="hidden"/>
  
  <br>
  <br>

<br>
<br>

<div class="simpatico-block simpatico-query-and-answer">

<table class="Modulo" name="consapevolezza_sanz_penali" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td>
        <p style="line-height:1.6;">In qualità di persona esercente un servizio di pubblica necessità ai sensi degli artt. 359 e 481 del Codice Penale, esperiti i necessari accertamenti di carattere urbanistico, edilizio, statico, igienico ed a seguito del sopralluogo nell'immobile, consapevole di essere passibile di sanzione penale nel caso di falsa asseverazione circa l'esistenza dei requisiti o dei presupposti di cui al comma 1 dell' art. 19 della l. n. 241/90, <i>ovvero</i></p>
      </td>
    </tr>
  </tbody>
</table>

<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input id="Validita_requisiti1" name="Validita_requisiti1" type="checkbox" value="1" />
      </td>
      <td colspan="2">
        <p style="line-height:1.6;">verificato che legittimamente non esistono titoli abilitativi edilizi per l'edificio in esame</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input id="Validita_requisiti2" name="Validita_requisiti2" type="checkbox" value="2" />
      </td>
      <td colspan="2">
        <p style="line-height:1.6;">esperiti i necessari accertamenti e sopralluoghi sull'immobile interessato</p>
      </td>
    </tr>
  </tbody>
</table>
</div>

<br>
<br>

<h1 class="Modulo">DICHIARA</h1>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p style="line-height:1.6;"><b>Nel caso di:</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="Tipologia_edificio" name="Tipologia_edificio" label="Tipologia edificio e tipo intervento" mandatory_enabled="true"> </div>
        <input group="Tipologia_edificio" id="Tipologia_edificio1" name="Tipologia_edificio" type="radio" value="1" />
      </td>
      <td>
        <p style="line-height:1.6;">nel caso di edifici legittimamente esistenti in assenza di titolo edilizio abilitativo, <b>la data di esecuzione dell'immobile ai fini del rispetto della normativa di seguito richiamata è:</b> <input class="" id="data_esec_imm" name="data_esec_imm" label="data di esecuzione dell'immobile" size="8" format="date" mandatory_enabled="#Tipologia_edificio1.checked()"/></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Tipologia_edificio" id="Tipologia_edificio2" name="Tipologia_edificio" type="radio" value="2" />
      </td>
      <td>
        <p style="line-height:1.6;">nel caso di interventi eseguiti in data successiva alla realizzazione dell'immobile e per loro natura/caratteristiche non soggetti a titolo edilizio abilitativo: <b>la/e data/e di esecuzione degli interventi ai fini del rispetto della normativa di seguito richiamata è/sono:</b> <input class="" id="data_esec_interv" name="data_esec_interv" label="data/e di esecuzione degli interventi" size="40" mandatory_enabled="#Tipologia_edificio1.checked()"/></p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<h1 class="Modulo" style="line-height:1.6;">CERTIFICA<br>
<span style="font-size:70%">ai sensi dell'art. 68, c. 2, l. a) del Regolamento</span></h1>

<input id="Immobile_DatiCatastaliObbligatori" name="Immobile_DatiCatastaliObbligatori" dynamic_check="true" type="hidden"/>
  
{{ immobili_trento.immobile_conformita_edifici("Immobile", "che l'edificio", disattivato="true") }}

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p style="line-height:1.6;"><b>ASPETTI IGIENICO-SANITARI</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="Asp_igien_san" name="Asp_igien_san" label="Aspetti igienico-sanitari" mandatory_enabled="true"> </div>
        <input group="Asp_igien_san" id="Asp_igien_san1" name="Asp_igien_san" type="radio" value="1" />
      </td>
      <td>
        <p style="line-height:1.6;">per le opere realizzate dal 9 agosto 1934 al 1° gennaio 1995; la salubrità degli ambienti ai sensi del Regio Decreto 1265/1934</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Asp_igien_san" id="Asp_igien_san2" name="Asp_igien_san" type="radio" value="2" />
      </td>
      <td>
        <p style="line-height:1.6;">per le opere realizzate dopo il 1° gennaio 1995 la conformità delle opere eseguite rispetto al progetto approvato e l'avvenuta prosciugatura di muri e la salubrità degli ambienti ai sensi del D.P.R. 425/1994 o del D.P.R. 380/2001</p>
      </td>
    </tr>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p style="line-height:1.6;"><i>ovvero</i></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Asp_igien_san" id="Asp_igien_san3" name="Asp_igien_san" type="radio" value="3" />
      </td>
      <td>
        <p style="line-height:1.6;">non necessita della dichiarazione in quanto l'opera risale ad epoca antecedente all'obbligo previsto ex lege</p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="3">
        <p style="line-height:1.6;"><b>DOCUMENTAZIONE RELATIVA AGLI IMPIANTI</b></p>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td colspan="3">
        <p style="line-height:1.6;"><b>>> per gli impianti realizzati prima del 13 marzo 1990</b></p>
      </td>
    </tr>
    <tr>
      <td style="width: 4%; background-color: #eeeeee;"></td>
      <td style="vertical-align: top; width: 4%;">
        <input id="imp_pre90" name="imp_pre90" type="checkbox" value="1" enabled="true"/>
      </td>
      <td>
        <p style="line-height:1.6;">allega dichiarazione di rispondenza alle norme previste per l'adeguamento degli impianti<br><span style="font-size:90%;"><i>Ai sensi dell'art. 7 della legge 46/1990</i></span></p>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td colspan="3">
        <p style="line-height:1.6;"><b>>> per impianti realizzati tra il 13 marzo 1990 e il 26 marzo 2008</b></p>
      </td>
    </tr>
    <tr>
      <td style="width: 4%; background-color: #eeeeee;" rowspan="5"></td>
      <td style="vertical-align: top; width: 4%;">
        <div id="imp_9008" name="imp_9008" label="Impianti tra il 1990 e il 2008" enabled="true"> </div>
        <input group="imp_9008" id="imp_90081" name="imp_90081" type="checkbox" value="1" />
      </td>
      <td>
        <p style="line-height:1.6;">allega dichiarazione di conformità degli impianti installati <span style="font-size:90%;"><i>secondo quanto previsto dalla legge 46/1990</i></span></p>
      </td>
    </tr>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p style="line-height:1.6;"><i>ovvero</i></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="imp_9008" id="imp_90082" name="imp_90082" type="checkbox" value="2" />
      </td>
      <td>
        <p style="line-height:1.6;">allega certificato di collaudo degli impianti installati</p>
      </td>
    </tr>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p style="line-height:1.6;"><i>ovvero</i></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="imp_9008" id="imp_90083" name="imp_90083" type="checkbox" value="3" />
      </td>
      <td>
        <p style="line-height:1.6;">allega, nei casi in cui la dichiarazione di conformità o il certificato di collaudo degli impianti non siano più reperibili, dichiarazione di rispondenza <span style="font-size:90%;"><i>ai sensi dell'art. 7, comma 6, del D.M. 37/2008</i></span></p>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td colspan="3">
        <p style="line-height:1.6;"><b>>> per impianti realizzati dopo il 26 marzo 2008</b></p>
      </td>
    </tr>
    <tr>
      <td style="width: 4%; background-color: #eeeeee;"></td>
      <td style="vertical-align: top; width: 4%;">
        <input id="imp_post081" name="imp_post081" type="checkbox" value="1" />
      </td>
      <td>
        <p style="line-height:1.6;">allega dichiarazione di conformità degli impianti installati <span style="font-size:90%;"><i>ai sensi del D.M. 37/2008</i></span></p>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td colspan="3">
        <p style="line-height:1.6;"><b>>> per gli impianti relativi ad ambienti produttivi e luoghi di lavoro</b></p>
      </td>
    </tr>
    <tr>
      <td style="width: 4%; background-color: #eeeeee;"></td>
      <td style="vertical-align: top; width: 4%;">
        <input id="imp_amb_prod1" name="imp_amb_prod1" type="checkbox" value="1" />
      </td>
      <td>
        <p style="line-height:1.6;">allega dichiarazione di conformità degli impianti installati con riferimento alla normativa di settore</p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="3">
        <p style="line-height:1.6;"><b>STATICA</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;" rowspan="5">
        <div id="all_statica" name="all_statica" label="Richiesti allegati statica" mandatory_enabled="true"> </div>
        <input group="all_statica" id="all_statica1" name="all_statica" type="radio" value="1" />
      </td>
      <td colspan="2" style="background-color: #eeeeee;">
        <p style="line-height:1.6;">L'immobile/l'intervento <b>necessita della seguente documentazione, pertando si allega:</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="doc_statica" name="doc_statica" label="Allegati statica richiesti" mandatory_enabled="#all_statica1.checked()"> </div>
        <input group="doc_statica" id="doc_statica1" name="doc_statica" type="radio" value="1" />
      </td>
      <td>
        <p style="line-height:1.6;">Dichiarazione di idoneità statica per gli interventi o edifici realizzati anteriormente al 19 aprile 1940</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="doc_statica" id="doc_statica2" name="doc_statica" type="radio" value="2" />
      </td>
      <td>
        <p style="line-height:1.6;">Certificato di collaudo o in alternativa dichiarazione di idoneità statica per gli interventi realizzati tra il 19 aprile 1940 e il 5 gennaio 1972<br><span style="font-size:90%;"><i>Ai sensi del Regio Decreto 2229/1939</i></span></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="doc_statica" id="doc_statica3" name="doc_statica" type="radio" value="3" />
      </td>
      <td>
        <p style="line-height:1.6;">Certificato di collaudo per gli interventi realizzati tra il 5 gennaio 1972 e il 5 marzo 2008<br><span style="font-size:90%;"><i>Ai sensi della legge 1086/1971</i></span></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="doc_statica" id="doc_statica4" name="doc_statica" type="radio" value="4" />
      </td>
      <td>
        <p style="line-height:1.6;">Certificato di collaudo per gli interventi realizzati dopo il 5 marzo 2008 oppure dal 1° luglio 2009, a seconda della tipologia di intervento<br><span style="font-size:90%;"><i>Ai sensi del D.M. del 14 gennaio 2008</i></span></p>
      </td>
    </tr>
    <tr class="Rigaintestazione">
      <td colspan="3">
        <p style="line-height:1.6;"><i>ovvero</i></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="all_statica" id="all_statica2" name="all_statica" type="radio" value="2" />
      </td>
      <td colspan="2" style="background-color: #eeeeee;">
        <p style="line-height:1.6;">L'immobile/l'intervento <b>non necessita del certificato di collaudo</b> e del relativo deposito dei calcoli</p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="3">
        <p style="line-height:1.6;"><b>ACCESSIBILITÀ E SUPERAMENTO DELLE BARRIERE ARCHITETTONICHE</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;" rowspan="6">
        <div id="Access_barr_arch" name="Access_barr_arch" label="Accesso e superamento barriere architettoniche" mandatory_enabled="true"> </div>
        <input group="Access_barr_arch" id="Access_barr_arch1" name="Access_barr_arch" type="radio" value="1" />
      </td>
      <td colspan="2" style="background-color: #eeeeee;">
        <p style="line-height:1.6;">nel caso di <b>edifici privati</b> la conformità delle opere in relazione alle norme sull'accessibilità e superamento delle barriere architettoniche ai sensi dell'art. 77 del D.P.R. 380/2001</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="Access_barr_arch_ed_priv" name="Access_barr_arch_ed_priv" label="Accesso edifici privati" mandatory_enabled="#Access_barr_arch1.checked()"> </div>
        <input group="Access_barr_arch_ed_priv" id="Access_barr_arch_ed_priv1" name="Access_barr_arch_ed_priv" type="radio" value="1" />
      </td>
      <td>
        <p style="line-height:1.6;">per le opere realizzate dal 5 agosto 1981 al 10 agosto 1989 secondo le prescrizioni dettate dalla l.p. 12/1981</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Access_barr_arch_ed_priv" id="Access_barr_arch_ed_priv2" name="Access_barr_arch_ed_priv" type="radio" value="2" />
      </td>
      <td>
        <p style="line-height:1.6;">per le opere realizzate dall' 11 agosto 1989 al 30 gennaio 1991 secondo le prescrizioni di cui al D.M. 236/1989</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Access_barr_arch_ed_priv" id="Access_barr_arch_ed_priv3" name="Access_barr_arch_ed_priv" type="radio" value="3" />
      </td>
      <td>
        <p style="line-height:1.6;">per le opere realizzate dopo il 30 gennaio 1991 ai sensi della l.p. 1/1991, <i>"Eliminazione delle barriere architettoniche in Provincia di Trento"</i></p>
      </td>
    </tr>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p style="line-height:1.6;"><i>ovvero</i></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Access_barr_arch_ed_priv" id="Access_barr_arch_ed_priv3" name="Access_barr_arch_ed_priv" type="radio" value="4" />
      </td>
      <td>
        <p style="line-height:1.6;">non necessita della dichiarazione in quanto l'opera risale ad epoca antecedente all'obbligo previsto ex lege</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;" rowspan="6">
        <input group="Access_barr_arch" id="Access_barr_arch2" name="Access_barr_arch" type="radio" value="2" />
      </td>
      <td colspan="2" style="background-color: #eeeeee;">
        <p style="line-height:1.6;">nel caso di <b>edifici privati aperti al pubblico</b> la conformità delle opere in relazione alle norme sull'accessibilità e superamento delle barriere architettoniche ai sensi dell'art. 82 del D.P.R. 380/2001</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="Access_barr_arch_ed_priv_aperti_pubbl" name="Access_barr_arch_ed_priv_aperti_pubbl" label="Accesso edifici privati aperti al pubblico" mandatory_enabled="#Access_barr_arch2.checked()"> </div>
        <input group="Access_barr_arch_ed_priv_aperti_pubbl" id="Access_barr_arch_ed_priv_aperti_pubbl1" name="Access_barr_arch_ed_priv_aperti_pubbl" type="radio" value="1" />
      </td>
      <td>
        <p style="line-height:1.6;">per le opere realizzate dal 7 agosto 1978 al 10 agosto 1989 secondo le prescrizioni del D.P.R. 384/1978</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Access_barr_arch_ed_priv_aperti_pubbl" id="Access_barr_arch_ed_priv_aperti_pubbl2" name="Access_barr_arch_ed_priv_aperti_pubbl" type="radio" value="2" />
      </td>
      <td>
        <p style="line-height:1.6;">per le opere realizzate dall' 11 agosto 1989 al 30 gennaio 1991 secondo le prescrizioni contenute nel D.M. 236/1989 congiuntamente al D.P.R. 384/1978</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Access_barr_arch_ed_priv_aperti_pubbl" id="Access_barr_arch_ed_priv_aperti_pubbl3" name="Access_barr_arch_ed_priv_aperti_pubbl" type="radio" value="3" />
      </td>
      <td>
        <p style="line-height:1.6;">per le opere realizzate dopo il 30 gennaio 1991 ai sensi della l.p. 1/1991, <i>"Eliminazione delle barriere architettoniche in Provincia di Trento"</i></p>
      </td>
    </tr>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p style="line-height:1.6;"><i>ovvero</i></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Access_barr_arch_ed_priv_aperti_pubbl" id="Access_barr_arch_ed_priv_aperti_pubbl4" name="Access_barr_arch_ed_priv_aperti_pubbl" type="radio" value="4" />
      </td>
      <td>
        <p style="line-height:1.6;">non necessita della dichiarazione in quanto l'opera risale ad epoca antecedente all'obbligo previsto ex lege</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;" rowspan="5">
        <input group="Access_barr_arch" id="Access_barr_arch3" name="Access_barr_arch" type="radio" value="3" />
      </td>
      <td colspan="2" style="background-color: #eeeeee;">
        <p style="line-height:1.6;">nel caso di <b>edifici pubblici</b> la conformità delle opere in relazione alle norme sull'accessibilità e superamento delle barriere architettoniche ai sensi dell'art. 82 del D.P.R. 380/2001</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="Access_barr_arch_ed_pubbl" name="Access_barr_arch_ed_pubbl" label="Accesso edifici pubblici" mandatory_enabled="#Access_barr_arch3.checked()"> </div>
        <input group="Access_barr_arch_ed_pubbl" id="Access_barr_arch_ed_pubbl1" name="Access_barr_arch_ed_pubbl" type="radio" value="1" />
      </td>
      <td>
        <p style="line-height:1.6;">per le opere realizzate dal 7 agosto 1978 al 30 gennaio 1991 secondo le prescrizioni del D.P.R. 384/1978</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Access_barr_arch_ed_pubbl" id="Access_barr_arch_ed_pubbl2" name="Access_barr_arch_ed_pubbl" type="radio" value="2" />
      </td>
      <td>
        <p style="line-height:1.6;">per le opere realizzate dopo il 30 gennaio 1991 ai sensi della l.p. 1/1991, <i>"Eliminazione delle barriere architettoniche in Provincia di Trento"</i></p>
      </td>
    </tr>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p style="line-height:1.6;"><i>ovvero</i></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Access_barr_arch_ed_pubbl" id="Access_barr_arch_ed_pubbl3" name="Access_barr_arch_ed_pubbl" type="radio" value="3" />
      </td>
      <td>
        <p style="line-height:1.6;">non necessita della dichiarazione in quanto l'opera risale ad epoca antecedente all'obbligo previsto ex lege</p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="3">
        <p style="line-height:1.6;"><b>PREVENZIONE INCENDI</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="Prev_inc" name="Prev_inc" label="Prevenzione incendi" mandatory_enabled="true"> </div>
        <input group="Prev_inc" id="Prev_inc1" name="Prev_inc" type="radio" value="1" />
      </td>
      <td colspan="2">
        <p style="line-height:1.6;">l'immobile/l'intervento <b>non rientra</b> tra i casi che necessitano del certificato di prevenzione incendi ai sensi del D.M. 16 febbraio 1982 - D.P.R. n. 151/2011, allegato I</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;" rowspan="3">
        <input group="Prev_inc" id="Prev_inc2" name="Prev_inc" type="radio" value="2" />
      </td>
      <td colspan="2">
        <p style="line-height:1.6;"><b>I lavori realizzati hanno comportato variazioni alle condizioni di sicurezza antincendio</b> dell'immobile ed è previsto lo svolgimento di attività soggette al controllo dei Vigili del Fuoco e pertanto si allega:</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="all_prev_inc" name="all_prev_inc" label="Allegati prevenzione antincendio" mandatory_enabled="#Prev_inc2.checked()"> </div>
        <input group="all_prev_inc" id="all_prev_inc1" name="all_prev_inc1" type="checkbox" value="1" />
      </td>
      <td>
        <p style="line-height:1.6;">Copia della ricevuta di segnalazione certificata di inizio attività (SCIA)<br><span style="font-size:90%;"><i>Che costituisce titolo autorizzativo ai sensi dell’art. 38, comma 3, lettere e) ed f), del DL 25 giugno 2008, n. 112, convertito, con modificazioni, dalla legge 6 agosto 2008, n. 113</i></span></p> 
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="all_prev_inc" id="all_prev_inc2" name="all_prev_inc2" type="checkbox" value="2" />
      </td>
      <td>
        <p style="line-height:1.6;">Copia del certificato di prevenzione incendi per le attività soggette alle visite di prevenzione incendi in corso di validità</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;" rowspan="6">
        <input group="Prev_inc" id="Prev_inc3" name="Prev_inc" type="radio" value="3" />
      </td>
      <td colspan="2">
        <p style="line-height:1.6;"><b>I lavori realizzati non hanno comportato attività soggette ai controlli di prevenzioni incendi dell’allegato I del regolamento di cui al DPR 1 agosto 2011, n. 151, ma rispettano normative antincendio specifiche:</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="Norm_spec_prev_inc" name="Norm_spec_prev_inc" label="Normative specifiche antincendio" mandatory_enabled="#Prev_inc3.checked()"> </div>
        <input group="Norm_spec_prev_inc" id="Norm_spec_prev_inc1" name="Norm_spec_prev_inc1" type="checkbox" value="1" />
      </td>
      <td>
        <p style="line-height:1.6;">prescrizioni del DM 16 maggio 1987, n. 246 – edifici civili</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Norm_spec_prev_inc" id="Norm_spec_prev_inc2" name="Norm_spec_prev_inc2" type="checkbox" value="2" />
      </td>
      <td>
        <p style="line-height:1.6;">prescrizioni DM 12 aprile 1996, n. 74 – centrali termiche a gas</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Norm_spec_prev_inc" id="Norm_spec_prev_inc3" name="Norm_spec_prev_inc3" type="checkbox" value="3" />
      </td>
      <td>
        <p style="line-height:1.6;">prescrizioni del DM 1 febbraio 1986 – autorimesse</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Norm_spec_prev_inc" id="Norm_spec_prev_inc4" name="Norm_spec_prev_inc4" type="checkbox" value="4" />
      </td>
      <td>
        <p style="line-height:1.6;">altro: <input class="" id="altre_norm_prev_inc" name="altre_norm_prev_inc" label="altre norme antincendio" size="83" mandatory_enabled="#Norm_spec_prev_inc4.checked()"/></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Norm_spec_prev_inc" id="Norm_spec_prev_inc5" name="Norm_spec_prev_inc4" type="checkbox" value="5" />
      </td>
      <td>
        <p style="line-height:1.6;">altro: <input class="" id="altre_norm_prev_inc2" name="altre_norm_prev_inc2" label="altre norme antincendio" size="83" mandatory_enabled="#Norm_spec_prev_inc5.checked()"/></p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" name="Allegati" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p style="line-height: 1.6;"><b>DOCUMENTAZIONE CATASTALE</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="doc_catast" id="doc_catast2" name="doc_catast2" type="checkbox" dynamic_check="true" value="2" />
      </td>
      <td>
        <p style="line-height:1.6;">allega planimetrie e visure catastali</p>
      </td>
    </tr>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p style="line-height:1.6;"><i>ovvero</i></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="doc_catast" id="doc_catast3" name="doc_catast3" type="checkbox" value="3" />
      </td>
      <td>
        <p style="line-height:1.6;">allega planimetrie catastali firmate dal tecnico abilitato e ricevuta di deposito della richiesta di accatastamento dell'immobile</p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<div class="simpatico-block simpatico-query-and-answer">

<table class="Modulo" name="dichiarazione_agibilita" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td>
        <h1 class="Modulo" style="line-height:1.6;">pertanto, visto quanto sopra,<br> ATTESTA CHE I LOCALI DELL'EDIFICIO CONSIDERATO SONO AGIBILI</h1>
      </td>
    </tr>
  </tbody>
</table>
</div>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" name="Allegati" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="3">
        <p style="text-align: center;"><b>Elenco degli allegati</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input id="proc_delega" name="proc_delega" type="checkbox" enabled="true" value="1" />
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height:1.6;">Procura/delega</p> 
      </td>
    </tr>
    <tr>
      <td style="width:4%; vertical-align: top;">
        <input dynamic_check="(parseInt(#NumeroAltriTitoli.value()) / 20) &gt; 0" enabled="(parseInt(#NumeroAltriTitoli.value()) / 20) &gt; 0" id="GEN_ULTTIT" name="GEN_ULTTIT" type="checkbox" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p>Modulo secondario - Ulteriori titoli abitativi</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input id="doc_catast1" name="doc_catast1" type="checkbox" value="1" />
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height:1.6;">Stato di rilievo
        <br><span style="font-size:85%;">Nel caso di edifici dichiarati legittimamente esistenti privi di progetti depositati in comune</span></p> 
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input id="conformita_impianti" name="conformita_impianti" dynamic_check="true" type="checkbox" value="1" />
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height:1.6;">Dichiarazione di conformità degli impianti o dichiarazione di rispondenza, ex art. 7 d.m. n. 37/2008 o documento equivalente
        <br><span style="font-size:85%;">La dichiarazione di conformità degli impianti, o documentazione equivalente, è presentata anche in caso l'intervento non abbia interessato gli impianti esistenti</span></p> 
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input id="cert_coll_stat" name="cert_coll_stat" dynamic_check="true" type="checkbox" value="1" />
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height:1.6;">Certificato di collaudo statico o dichiarazione di idoneità statica o documento equivalente
        <br><span style="font-size:85%;">Il Certificato di collaudo statico o dichiarazione di idoneità statica o documento equivalente, è presentato anche in caso l'intervento non abbia interessato le strutture esistenti</span></p> 
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input id="norme_prev_inc" name="norme_prev_inc" dynamic_check="true" type="checkbox" value="1" />
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height:1.6;">Norme di prevenzione incendi
        <br><span style="font-size:85%;">SCIA antincendio ovvero CPI ovvero, nel caso di attività non soggette a controllo da parte dei VVF, dichiarazione che l’immobile in parola risponde alle eventuali disposizioni normative antincendio vigenti (ad es. DM 16 maggio 1987, n. 246 – edifici civili, DM 12 aprile 1996, n. 74 – centrali termiche a gas, DM 1 febbraio 1986 – autorimesse, ecc.)</span></p> 
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input id="docum_catast" name="docum_catast" dynamic_check="true" type="checkbox" value="1" />
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height:1.6;">Documentazione catastale
        <br><span style="font-size:85%;">Planimetrie e visure catastali</span></p> 
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input id="doc_catast4" name="doc_catast4" type="checkbox" value="4" />
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height:1.6;">Documentazione necessaria per l’assegnazione o aggiornamento di numerazione civica</p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" name="Accettazione_Informativa_dati" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="width: 4%; vertical-align: top;">
        <div id="Presa_visione" name="Presa_visione" label="Dichiarazione presa visione" mandatory_enabled="true"> </div>
        <input group="Presa_visione" id="Presa_visione_check" name="Presa_visione_check" type="checkbox" value="1" />
      </td>
      <td colspan="2" style="background-color: #eeeeee;">
        <p style="line-height:1.4;"><b>Dichiaro di aver ricevuto e preso visione dell'<a href="https://sportello.comune.trento.it/document/inform-tratt-dati-edilizia" target="_blank">informativa sul trattamento dei dati personali</a></b> <br><span style="font-size:85%"><i>(artt. 13 e 14 Regolamento UE n. 2016/679)</i></span></p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo simpatico-block" name="Luogo_e_data" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="width: 25%; text-align: center;">
        <input class="" id="Luogo_PDF" name="Luogo_PDF" style="width:80%;" type="text"/>
      </td>
      <td style="width: 25%; text-align: center;">
        <input class="" id="Data_PDF" name="Data_PDF" style="width:80%;" type="text"/>
      </td>
      <td style="width: 50%; text-align: center; height: 1.5cm;">
        <input class="" id="nominativo_richiedente" name="nominativo_richiedente" dynamic_value="' ' + #Progettista_Cognome.value().toUpperCase() + ' ' + #Progettista_Nome.value().toUpperCase()" style="width:90%;"/>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td>
        <p class="Labelcella" style="text-align: center">Luogo</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Data</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Il tecnico abilitato <span style="font-size:95%"><i>(firma digitale)</i></span></p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<p class="Modulo">
 <input id="SalvaModulo" name="SalvaModulo" style="height:30px;width:120px;" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza." type="submit" value="Salva modulo" />
</p>

<input destinatario_amministrazione="getParameter('Ente')" id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value="" />

<input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden" />
<input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden" />
<input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}" />
<input id="Metadati_oggetto" name="Metadati_oggetto" dynamic_value="#Oggetto.value()" type="hidden"/>

<input id="numeroallegatititoli" name="numeroallegatititoli" dynamic_value="parseInt(#NumeroAltriTitoli.value()) /20" type="hidden" />
<input id="GLOBO_modulofiglio_cM47622-MSEC01-ULT-TIT-ABIT" name="GLOBO_modulofiglio_cM47622-MSEC01-ULT-TIT-ABIT" numero="Math.ceil(#numeroallegatititoli.value())" obbligatorio="#GEN_ULTTIT.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cGEN-PLANIM-VISURE-CATAST" name="GLOBO_allegato_cGEN-PLANIM-VISURE-CATAST" obbligatorio="'OBBLIGATORIO'" type="hidden" value=""/>
<input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cM47622-A01-STATO-RILIEVO" name="GLOBO_allegato_cM47622-A01-STATO-RILIEVO" obbligatorio="#doc_catast1.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_allegato_cGEN-RIC-RICH-ACCATAST" name="GLOBO_allegato_cGEN-RIC-RICH-ACCATAST" obbligatorio="#doc_catast3.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_allegato_cGEN-VARIAZ-NUM-CIVICO" name="GLOBO_allegato_cGEN-VARIAZ-NUM-CIVICO" obbligatorio="#doc_catast4.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_allegato_cGEN-AFFIDAMENTO-INCARICO" name="GLOBO_allegato_cGEN-AFFIDAMENTO-INCARICO" obbligatorio="#proc_delega.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_allegato_cM47622-A02-DICH-RISP-PRE90" name="GLOBO_allegato_cM47622-A02-DICH-RISP-PRE90" obbligatorio="#imp_pre90.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_allegato_cM47622-A03-DICH-RISP-9008" name="GLOBO_allegato_cM47622-A03-DICH-RISP-9008" obbligatorio="#imp_90084.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_allegato_cM47622-A04-DICH-CONF-9008" name="GLOBO_allegato_cM47622-A04-DICH-CONF-9008" obbligatorio="#imp_90081.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_allegato_cM47622-A05-DICH-CONF-POST08" name="GLOBO_allegato_cM47622-A05-DICH-CONF-POST08" obbligatorio="#imp_post081.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_allegato_cM47622-A06-DICH-CONF-AMB-PROD" name="GLOBO_allegato_cM47622-A06-DICH-CONF-AMB-PROD" obbligatorio="#imp_amb_prod1.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_allegato_cM47622-A07-CERT-COLLAUDO-9008" name="GLOBO_allegato_cM47622-A07-CERT-COLLAUDO-9008" obbligatorio="#imp_90083.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_allegato_cM47622-A08-RICEVUTA-SCIA" name="GLOBO_allegato_cM47622-A08-RICEVUTA-SCIA" obbligatorio="#all_prev_inc1.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_allegato_cM47622-A09-DICH-IDON-STATICA-PRE40" name="GLOBO_allegato_cM47622-A09-DICH-IDON-STATICA-PRE40" obbligatorio="#doc_statica1.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_allegato_cM47622-A10-DICH-IDON-STATICA-4072" name="GLOBO_allegato_cM47622-A10-DICH-IDON-STATICA-4072" obbligatorio="#doc_statica2.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_allegato_cM47622-A12-DICH-IDON-STATICA-7208" name="GLOBO_allegato_cM47622-A12-DICH-IDON-STATICA-7208" obbligatorio="#doc_statica3.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_allegato_cM47622-A13-DICH-IDON-STATICA-POST08" name="GLOBO_allegato_cM47622-A13-DICH-IDON-STATICA-POST08" obbligatorio="#doc_statica4.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_allegato_cM47622-A11-CERT-PREV-INCENDI" name="GLOBO_allegato_cM47622-A11-CERT-PREV-INCENDI" obbligatorio="#all_prev_inc2.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<input id="GLOBO_allegato_cINFORM-TRATT-DATI-EDILIZIA" name="GLOBO_allegato_cINFORM-TRATT-DATI-EDILIZIA" obbligatorio="''" type="hidden" value=""/>

{% endblock content %}
