{% macro titolare( prefix='AventeTitolo', 
                    intestazione="Il/La sottoscritto/a", 
                    ruoli=["Persona fisica", "Titolare", "Legale rappresentante", "Amministratore di condominio", "Responsabile unico del procedimento", "Procuratore legale"], 
                    visibility_carica_dati="visibility:visibility", --- visualizza omino per caricamento dati
                    pointer_carica_dati="cursor:pointer", --- specifica il tipo di cursore
                    visibility_intestazione="visibility:visibility", --- visualizza testo scritto nel campo intestazione
                    carica_campi="") -%}


{% do all_prefix.append( prefix ) %}
{% set Temp = prefix|replace("NonImportare", "NI") %}
{% if prefix != Temp %}
    {% do TitolareNonImportarePresente.append('0') %}
{% endif %}


{%if condizione %} comportamento {%else%} {%endif%}
{%if condizione %} comportamento {%elif altra condizione%} altro comportamento {%endif%}

{{id_campo|safe}} --- legge il campo come html

format="regular_expression" expression="definire l'expression"

\w: tutte le lettere maiuscole o minuscole
\W: caratteri speciali
\d: numerico
A-Z: solo lettere maiuscole

cerca regex 101 su internet

variabile{{i}}
variabile{{i-1}}


campi_firma="AventeTitolo_CodiceFiscale" --- se più firmatari inserire campi CF separati da virgola
campi_firma_label="il dichiarante" --- se più firmatari inserire definizione dei firmatari separate da virgola
classi_modulo="Tributi" --- probabilmente non più usato, va bene lasciare "Generale"
codice_modulo="{{ CodiceModulo }}"
urn="{{ Urn }}"
sub_urn_list="" --- elenco dei possibili destinatari, poi a fine modulo il campo destinatario_amministrazione si valorizza con uno dei due valori con l'attributo sub_urn=""
uo_globo_list="" --- elenco di tutti i moduli generabili da questo
contesto_procedurale="Domanda per la pianificazione territoriale e il paesaggio" --- probabilmente inutile
descrizione="Domanda per la pianificazione territoriale e il paesaggio"
destinatario_amministrazione=""
destinatario_ufficio="OE7NEF"
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="NO" --- per quelli obbligatorio canale online mettere SI
firmare="NO" --- opzione "AUTENTICATO" (si può gestire anche da gestire con override Sportello Telematico --> carica conf. override --> scarica config. corrente)
istruzioni_compilazione=""
istruzioni_invio="mail_pec"
metodo_invio="mail"
name="GLOBO_modulo"
procura="NO,," --- opzione "SI,CODICE_PROCURA,firmatario_procura"
segnatura="AventeTitolo"
tipo_modulo="principale"
urlhelp="/modulistica/moduli/M47750-AUTORIZZAZIONE-CPC"
verifica_pagamento="NO"
versione="1.0|06/04/2016"

<globo_salto_pagina></globo_salto_pagina> --- per dire dove cambiare pagina

<globo_fondo_pagina areaheight="150" scope="1"> --- altezza del piè di pagina e in quale pagina (definita nello scope) inserire ciò che sta dentro a questi tag
    blocco firme
</globo_fondo_pagina>

onclick="recuperaAnagrafica( '{{ prefix }}' )" --- nel modulo

onload="recuperaAnagrafica( '{{ prefix }}' )" --- nel file base.html richiamato

per i metadati si possono dichiarare tutti nel principale, valorizzare nel secondario e utilizzare nel terziario