{% set CodiceModulo =  "GEN-IMMAGG-EL" %}
{% set Urn =  "document:c_l378:modulo.secondario.ulteriori.particelle.firma.elettronica" %}
<!--{% set modulo_workflow_model =  "https://sportello.comune.trento.it/modulistica/moduli/GEN-IMMAGG-EL_vSTU3" %}-->
{% extends "base_trento_new.html" %}

{% block meta %}
<meta campi_firma="AventeTitolo_CodiceFiscale"
classi_modulo="Generale"
codice_modulo="{{ CodiceModulo }}"
urn="{{ Urn }}"
descrizione="Modulo secondario - Ulteriori particelle oggetto del procedimento (firma elettronica)"
destinatario_amministrazione=""
destinatario_ufficio=""
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="NO"
firmare="P7M_DIGITALE"
istruzioni_compilazione=""
istruzioni_invio=""
metodo_invio=""
name="GLOBO_modulo"
procura="NO,,"
tipo_modulo="secondario"
ufficio=""
urlhelp="/modulistica/moduli/GEN-IMMAGG-EL"
verifica_pagamento="NO"
versione="1.0|01/01/2015"/>

{% endblock meta %}

<!--{% block simpaticoconfig %}
  {% set simpaticoEservice="1_3_1" %}
  {% set simpaticoEserviceName="GEN IMMAGG EL" %}
  {% set simpaticoEserviceURL="https://sportello.comune.trento.it/modulistica/moduli/GEN-IMMAGG-EL" %}
  {% set simpaticoForm="modulo_secondario" %}
  {% set simpaticoCategory="Edilizia" %}
  {% set simpaticoMapping=[ "AventeTitolo_EMailPEC",
                           "AventeTitolo_Tel_Fisso",
                           "AventeTitolo_EMail"] %}

  {% set ERROR_LABELS=[ ('block1' ,'Inserire il codice fiscale'),
                        ('block2' , 'Selezionare il ruolo'),
                        ('block4' , 'Particella inesistente'),
                        ('block5' , 'Particella inesistente'),
                        ('block6' , 'Particella inesistente'),
                        ('block7' , 'Particella inesistente'),
                        ('block8' , 'Particella inesistente'),
                        ('block9' , 'Particella inesistente'),
                        ('block10' , 'Particella inesistente'),
                        ('block11' , 'Particella inesistente'),
                        ('block12' , 'Particella inesistente'),
                        ('block13' , 'Particella inesistente')] %}
  {{ utilsSimpatico.ScriptSimpatico(simpaticoEservice, simpaticoEserviceName, simpaticoEserviceURL, simpaticoForm, simpaticoCategory, simpaticoMapping, ERROR_LABELS ) }}
{% endblock simpaticoconfig %}-->


{% block title %}
   Ulteriori particelle o subalterni oggetto del procedimento
{% endblock title %}

{% block content %}


{{intestazioni.intestazione_modulosecondario_senzabollo()}}
 <input id="Oggetto" name="Oggetto" type="hidden" value="" dynamic_value="#AventeTitolo_Cognome.value().toUpperCase() + ' ' + #AventeTitolo_Nome.value().toUpperCase() + ' - ulteriori particelle o subalterni'"/>

 <h1 class="Modulo">
  Ulteriori particelle o subalterni oggetto del procedimento
 </h1>

 <table class="Modulo" name="consapevolezza_sanz_penali" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td>
        <p style="line-height:1.6;">Il <b>titolare</b> <input id="Nominativo_titolare" name="Nominativo_titolare" dynamic_value="#AventeTitolo_Cognome.value() + ' ' + #AventeTitolo_Nome.value()" size="87"/>
        <br>valendosi della facoltà prevista dall'articolo 47 del Decreto del Presidente della Repubblica 28/12/2000, n. 445, consapevole delle sanzioni penali previste dall'articolo 76 del Decreto del Presidente della Repubblica 28/12/2000, n. 445 e dall'articolo 483 del Codice Penale nel caso di dichiarazioni non veritiere e di falsità in atti</p>
      </td>
    </tr>
  </tbody>
</table>

<br>

<h1 class="Modulo">DICHIARA</h1>

<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td>
        <p style="line-height:1.6;"><b>che il procedimento riguarda anche le particelle o i subalterni di seguito indicati:</b>
      </td>
    </tr>
  </tbody>
</table>

<input id="Immobile1_DatiCatastaliObbligatori" name="Immobile1_DatiCatastaliObbligatori" dynamic_value="'vero'" type="hidden"/>
<input id="Immobile1_DatiCatastaliAbilitati" name="Immobile1_DatiCatastaliAbilitati" dynamic_value="'vero'" type="hidden"/>
{{immobili_trento_uniformata.immobile_semplice_noultpart("Immobile1", "Particella #1")}}

<br>

<input id="Immobile2_DatiCatastaliAbilitati" name="Immobile2_DatiCatastaliAbilitati" dynamic_value="'vero'" type="hidden"/>
{{immobili_trento_uniformata.immobile_semplice_noultpart("Immobile2", "Particella #2")}}

<br>

<input id="Immobile3_DatiCatastaliAbilitati" name="Immobile3_DatiCatastaliAbilitati" dynamic_value="'vero'" type="hidden"/>
{{immobili_trento_uniformata.immobile_semplice_noultpart("Immobile3", "Particella #3")}}

<br>

<input id="Immobile4_DatiCatastaliAbilitati" name="Immobile4_DatiCatastaliAbilitati" dynamic_value="'vero'" type="hidden"/>
{{immobili_trento_uniformata.immobile_semplice_noultpart("Immobile4", "Particella #4")}}

<br>

<input id="Immobile5_DatiCatastaliAbilitati" name="Immobile5_DatiCatastaliAbilitati" dynamic_value="'vero'" type="hidden"/>
{{immobili_trento_uniformata.immobile_semplice_noultpart("Immobile5", "Particella #5")}}

<br>

<input id="Immobile6_DatiCatastaliAbilitati" name="Immobile6_DatiCatastaliAbilitati" dynamic_value="'vero'" type="hidden"/>
{{immobili_trento_uniformata.immobile_semplice_noultpart("Immobile6", "Particella #6")}}

<br>

<input id="Immobile7_DatiCatastaliAbilitati" name="Immobile7_DatiCatastaliAbilitati" dynamic_value="'vero'" type="hidden"/>
{{immobili_trento_uniformata.immobile_semplice_noultpart("Immobile7", "Particella #7")}}

<br>

<input id="Immobile8_DatiCatastaliAbilitati" name="Immobile8_DatiCatastaliAbilitati" dynamic_value="'vero'" type="hidden"/>
{{immobili_trento_uniformata.immobile_semplice_noultpart("Immobile8", "Particella #8")}}

<br>

<input id="Immobile9_DatiCatastaliAbilitati" name="Immobile9_DatiCatastaliAbilitati" dynamic_value="'vero'" type="hidden"/>
{{immobili_trento_uniformata.immobile_semplice_noultpart("Immobile9", "Particella #9")}}

<br>

<input id="Immobile10_DatiCatastaliAbilitati" name="Immobile10_DatiCatastaliAbilitati" dynamic_value="'vero'" type="hidden"/>
{{immobili_trento_uniformata.immobile_semplice_noultpart("Immobile10", "Particella #10")}}

<br>
<br>

<table class="Modulo simpatico-block" name="Luogo_e_data" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="width: 25%; text-align: center;">
        <input class="" id="Luogo_PDF" name="Luogo_PDF" style="width:80%; text-align: center;" type="text"/>
      </td>
      <td style="width: 25%; text-align: center;">
        <input class="" id="Data_PDF" name="Data_PDF" style="width:80%; text-align: center;" type="text"/>
      </td>
      <td style="width: 50%; text-align: center; height: 1.5cm;">
        <input class="" id="nominativo_richiedente" name="nominativo_richiedente" dynamic_value="#AventeTitolo_Nome.value().toUpperCase() + ' ' + #AventeTitolo_Cognome.value().toUpperCase()" style="width:90%; text-align: center;"/>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td>
        <p class="Labelcella" style="text-align: center">Luogo</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Data</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Il titolare <span style="font-size:95%"><i>(firma digitale)</i></span></p>
      </td>
    </tr>
  </tbody>
</table>
<br/>


 <p class="Modulo">
  <input id="SalvaModulo" name="SalvaModulo" style="height:30px;width:120px;" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza." type="submit" value="Salva modulo"/>
 </p>
 <input id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value=""/>
 <input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden"/>
 <input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden"/>
 <input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}"/>

<br>
<br>

<input id="AventeTitolo_CodiceFiscale" name="AventeTitolo_CodiceFiscale" type="hidden"/>
<input id="AventeTitolo_Cognome" name="AventeTitolo_Cognome" type="hidden"/>
<input id="AventeTitolo_Nome" name="AventeTitolo_Nome" type="hidden"/>

{% endblock content %}
