{% set CodiceModulo = "M9999-DOMANDA-RACCOLTA-FUNGHI" %}
{% set Urn = "document:c_l378:turismo;micologico;domanda.raccolta.funghi" %}
{% extends "base_trento_ok.html" %}

{% block meta %}

<meta campi_firma="AventeTitolo_CodiceFiscale"
campi_firma_label="il dichiarante"
classi_modulo="Turismo"
codice_modulo="{{ CodiceModulo }}"
urn="{{ Urn }}"
sub_urn_list=""
uo_globo_list=""
contesto_procedurale="Turismo"
descrizione="Domanda raccolta funghi"
destinatario_amministrazione=""
destinatario_ufficio="codiceIPA"
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="NO"
firmare="AUTENTICATO"
istruzioni_compilazione=""
istruzioni_invio="mail_pec"
metodo_invio="mail"
name="GLOBO_modulo"
procura="NO,,"
segnatura="AventeTitolo"
tipo_modulo="principale"
urlhelp="DomandeRisposte/FAQ"
verifica_pagamento="NO"
versione="1.0|24/02/2018" />

<meta codice_report="CSP_SESSION_REPORT"
generate_on="sending"
name="GLOBO_report"
urn_report="report:CSP_SESSION_REPORT"/>

{% endblock meta %}

{% block title %}
M9999-DOMANDA-RACCOLTA-FUNGHI
{% endblock title %}

{% block content %}

<globo_fondo_pagina areaheight="150" scope="1">
  {{ utils.firma() }}
</globo_fondo_pagina>

<input id="Parametri_Comune" name="Parametri_Comune" type="hidden" dynamic_value="#Ente.value()"/>
<input id="Oggetto" name="Oggetto" type="hidden" dynamic_value="#Titolare_Cognome.value().toUpperCase() + ' ' + #Titolare_Nome.value().toUpperCase() + ' - Descrizione modulo'"/>


{{ intestazioni.intestazione_moduloprincipale_senzabollo() }}

<h1 class="Modulo">
  Modulo per la domanda di raccolta funghi spontanei nel Comune di Trento</i>
</h1>

<input id="AventeTItolo_DatiPersonaObbligatori" name="AventeTItolo_DatiPersonaObbligatori" type="hidden" dynamic_check="true"/>
<input id="AventeTItolo_Titolo" name="AventeTItolo_Titolo" type="hidden" value="Richiedente"/>
<input id="AventeTItolo_Ruolo" name="AventeTItolo_Ruolo" type="hidden" value="Richiedente"/>


<!-- *********** INIZIO MODULO ANAGRAFICA *********** -->
<input type="hidden" name="TipoContesto" id="TipoContesto" value="GLOBO">
<input type="hidden" name="TipoLista" id="TipoLista" value="PGLOBO">

{{ anagrafica.persona_fisica("AventeTItolo", "Il/La sottoscritto/a", "visibility:visibility", "cursor:pointer", "visibility:visibility", "visibility:visibility", "mail_ordinaria") }}

<div id="rappresentante_tipo_scelto" name="Rappresentante_Tipo" label="Rappresentanza" mandatory="true"></div>
<table class="Modulo" style="border: 1px solid grey;">
  <tbody>
    
    <!-- titolare ditta -->
    <tr>
      <td style="vertical-align: top; text-align: center; width: 4%;" rowspan="3">
        <input group="rappresentante_tipo_scelto" id="rappresentante_scelto1" name="rappresentante_scelto" type="radio" value="1" />
      </td>
      <td colspan="4">
        titolare dell'omonima <b>ditta individuale</b> con sede legale e/o principale organizzazione aziendale in
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td><p class="Labelcella" style="line-height: 1.6;">Provincia</p></td>
      <td><p class="Labelcella" style="line-height: 1.6;">Comune</p></td>
      <td><p class="Labelcella" style="line-height: 1.6;">Via/Piazza/Strada</p></td>
      <td><p class="Labelcella" style="line-height: 1.6;">Numero civico</p></td>
    </tr>
    <tr>
      <td mandatory_enabled="#recapito_scelto2.checked()">{{ utils.provincie( 'prov_recapito_diverso', 'Provincia per il recapito comunicazioni' )}}</td>
      <td><select name="comune_recapito_diverso" id="comune_recapito_diverso" style="width:100%;" label="Comune per il recapito comunicazioni" dynamic_value="getComuniFromProvincia( #prov_recapito_diverso.value(), 'comune_recapito_diverso')" mandatory_enabled="#recapito_scelto2.checked()"></select></td>
      <td><input name="indirizzo_recapito_diverso" id="indirizzo_recapito_diverso" style="width:100%;" label="Indirizzo per il recapito comunicazioni" mandatory_enabled="#recapito_scelto2.checked()"/></td>
      <td><input name="num_civ_recapito_diverso" id="num_civ_recapito_diverso" style="width:100%;" label="Numero civico per il recapito comunicazioni" mandatory_enabled="#recapito_scelto2.checked()"/></td>
    </tr> 

    <!-- gruppo micologico -->
    <tr>
      <td style="vertical-align: top; text-align: center; width: 4%;" rowspan="4">
        <input group="rappresentante_tipo_scelto" id="rappresentante_scelto2" name="rappresentante_scelto" type="radio" value="2" />
      </td>
      <td colspan="4">
        legale rappresentante del <b>gruppo micologico</b>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <input name="EMailPEC_recapito" id="EMailPEC_recapito" style="width:100%;" label="PEC per il recapito comunicazioni" mandatory_enabled="#recapito_scelto1.checked()"/>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td colspan="2"><p class="Labelcella" style="line-height: 1.6;">con sede legale e/o principale organizzazione aziendale in</p></td>
      <td><p class="Labelcella" style="line-height: 1.6;">Via/Piazza/Strada</p></td>
      <td><p class="Labelcella" style="line-height: 1.6;">Numero civico</p></td>
    </tr>
    <tr>
      <td mandatory_enabled="#recapito_scelto2.checked()">{{ utils.provincie( 'prov_recapito_diverso', 'Provincia per il recapito comunicazioni' )}}</td>
      <td><select name="comune_recapito_diverso" id="comune_recapito_diverso" style="width:100%;" label="Comune per il recapito comunicazioni" dynamic_value="getComuniFromProvincia( #prov_recapito_diverso.value(), 'comune_recapito_diverso')" mandatory_enabled="#recapito_scelto2.checked()"></select></td>
      <td><input name="indirizzo_recapito_diverso" id="indirizzo_recapito_diverso" style="width:100%;" label="Indirizzo per il recapito comunicazioni" mandatory_enabled="#recapito_scelto2.checked()"/></td>
      <td><input name="num_civ_recapito_diverso" id="num_civ_recapito_diverso" style="width:100%;" label="Numero civico per il recapito comunicazioni" mandatory_enabled="#recapito_scelto2.checked()"/></td>
    </tr>  

    <!-- nessuna delle precedenti -->
    <tr>
      <td style="vertical-align: center; width: 4%;">
        <input group="rappresentante_tipo_scelto" id="rappresentante_scelto3" name="rappresentante_scelto" type="radio" value="0" />
      </td>
      <td colspan="4">
         nessuna delle precedenti 
      </td>
    </tr>
  </tbody>
</table>

<!-- *********** FINE MODULO ANAGRAFICA *********** -->

<br>


<!-- *********** INIZIO MODULO UTILIZZO SALE ***********-->
<div class="simpatico-block simpatico-query-and-answer">
  <h3 class="Modulo">
    <b>CHIEDE</b>
  </h3>
  <h4>
  </h4>
  <p class="Modulo">il rilascio del permesso speciale di cui all'art. 17, comma 1, del D.P.P. 26 ottobre 2009 n. 23/25/Leg. 
    “Regolamento di attuazione del titolo IV, Capo II della l.p. 23 maggio 2007 n. 11 
    (Legge provinciale sulle foreste e sulla protezione della natura)” per la raccolta di funghi in 
    quantità superiore a kg 2,00.- giornalieri, nell'ambito del Comune di Trento per 
  </p>
  <br/>  
  <table class="Modulo" style="border: 1px solid grey">
    <tbody> 
      <tr class="Rigaintestazione" >
        <td width="25%">
          <b>Anno di raccolta:</b>
        </td>
        <td>
          <input class="inputNormal" id="Parametri_AnnoLM" name="Parametri_AnnoLM" label="Anno di raccolta" mandatory_enabled="#Tassonomia_ConseguimentoTitoloStudio1.checked()" format="number" maxlength="4" size="4" dynamic_value="current_year()" />
        </td>
      </tr>
      <tr class="Rigaintestazione">
        <td colspan="2">
          <div id="periodo_scelto" name="Periodo" label="Periodo" mandatory="true"></div>
          <b>Periodo di raccolta:</b>
        </td>
      </tr>
      <tr>
        <td>
            <input group="periodo_scelto" id="periodo_raccolta1" type="radio" name="periodo_raccolta" value="10"/> 
        </td> 
        <td>   
            <p>1 giorno</p>
        </td>
      </tr> 
      <tr>
        <td>
            <input group="periodo_scelto" id="periodo_raccolta2" type="radio" name="periodo_raccolta" value="18"/> 
        </td> 
        <td>   
            <p>3 giorni</p>
        </td>
      </tr> 
      <tr>
        <td>
          <input group="periodo_scelto" id="periodo_raccolta3" type="radio" name="periodo_raccolta" value="24"/> 
        </td> 
        <td>   
            <p>1 settimana</p>
        </td>
      </tr> 
      <tr>
        <td>
          <input group="periodo_scelto" id="periodo_raccolta4" type="radio" name="periodo_raccolta" value="40"/> 
        </td> 
        <td>   
            <p>2 settimane</p>
        </td>
      </tr> 
      <tr>
        <td>
          <input group="periodo_scelto" id="periodo_raccolta5" type="radio" name="periodo_raccolta" value="60"/> 
        </td> 
        <td>   
            <p>1 mese</p>
        </td>
      </tr> 
    </tbody>
  </table>
    <p class="Modulo">
    con le seguenti motivazioni</p>
    <p class="Modulo">
    <textarea class="inputNormal" id="Parametri_AnnotazioniDomanda" name="Parametri_AnnotazioniDomanda" style="width:100%;height:5cm;" />
    </textarea></p>
</div>
    
<!-- *********** FINE MODULO UTILIZZO SALE *********** -->

<br>
<br>

  <br>  
  <h1 class="Modulo">*******************************************************************************************</h1>
  <br>

<br>

<!-- *********** INZIO PRESENTAZIONE MATERIALE SALA ESPOSITIVI *********** -->

----------------------------------
<br>
PAGAMENTO DA DEFINIRE
<br>
----------------------------------


<!-- *********** INIZIO FORNITURA DATI *********** -->

<div class="simpatico-block simpatico-query-and-answer">
  <h1 class="Modulo">
    Fornisce i seguenti dati necessari per l'intestazione della fattura laddove richiesto
  </h1>
  
  <br>

  <table class="Modulo" style="border: 1px solid grey">
    <tbody> 
      <tr class="Rigaintestazione">
        <td colspan="2">
          <b>Cognome e nome (in caso di persona fisica)</b>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input id="cognome_persona_fisica" name="cognome_persona_fisica" label="Cognone e nome persona fisica"  style="width: 100%;"/> 
        </td>
      </tr> 
      <tr class="Rigaintestazione">
        <td colspan="2">
          <b>Ragione sociale (negli altri casi)</b>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input id="ragione_sociale" name="ragione_sociale" label="Ragione sociale"  style="width: 100%;"/> 
        </td>
      </tr> 
      <tr class="Rigaintestazione">
        <td colspan="2">
          <b>Indirizzo o sede legale</b>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input id="indirizzo_legale" name="indirizzo_legale" label="Indirizzo o sede legale"  style="width: 100%;"/> 
        </td>
      </tr> 
      <tr class="Rigaintestazione">
        <td style="width: 50%;">
          <b>codice fiscale</b>
        </td>
        <td style="width: 50%;">
          <b>Partita IVA</b>
        </td>
      </tr>
      <tr>
        <td>
          <input id="codice_fiscale" name="codice_fiscale" label="Codice fiscale"  style="width: 100%;"/> 
        </td>
        <td>
          <input id="partita_IVA" name="partita_IVA" label="Partita IVA" style="width: 100%;"/> 
        </td>
      </tr> 
      <tr class="Rigaintestazione">
          <td style="width: 50%;">
            <b>codice destinatario</b>
          </td>
          <td style="width: 50%;">
            <b>indirizzo PEC</b>
          </td>
        </tr>
        <tr>
          <td>
            <input id="codice_destinatario" name="codice_destinatario" label="Codice destinatario" placeholder="fornito dall'Agenzia delle entrate"  style="width: 100%;"/> 
          </td>
          <td>
            <input id="indirizzo_PEC" name="indirizzo_PEC" label="Indirizzo PEC" format="mail_pec" placeholder="comunicato all'Agenzia delle entrate" style="width: 100%;"/> 
          </td>
        </tr> 
        <tr class="Rigaintestazione">
          <td style="width: 50%;">
            <b>codice IPA</b>
          </td>
          <td style="width: 50%;">
            <b>split payment</b>
          </td>
        </tr>
        <tr>
          <td>
            <input id="codice_IPA" name="codice_IPA" label="Codice IPA" placeholder="solo per PPAA e ordini professionali"  style="width: 100%;"/> 
          </td>
          <td>
            <div id="Split_payment" name="Split_payment" label="Split payment"></div>
            <input id="Split_payment_SI" name="Split_payment" type="radio" value="0"  /> Si
            <input id="Split_payment_NO" name="Split_payment" type="radio" value="1"  /> No
          </td>
        </tr> 
        <tr>
          <td colspan="2">
            <p>
              <b>NB:</b> I dati sopra indicati verranno trasmessi all’Amministrazione finanziaria in relazione agli obblighi di cui al D.L. 223/2006
              (elenco clienti) e pertanto il richiedente se ne assume la responsabilità circa la correttezza e la veridicità.
            </p>
          </td>
        </tr>
    </tbody>
  </table>
  
</div>

<!-- *********** FINE FORNITURA DATI *********** -->

<br>

<!-- *********** INIZIO PAGAMENTO MARCA DA BOLLO *********** -->
<h3 class="Modulo">
  DICHIARA
</h3>
<br>

{% block dichiarazioni_minore %}
<table class="Modulo" name="Dic_minore" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="width: 4%; vertical-align: top;"  rowspan="4">
        <div id="Minore" name="Minore" label="Indicare se minore"> </div>
        <input group="Minore" id="Minore_check" name="Minore_check" type="checkbox" value="SI" />
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height:1.4;">In quanto minore, di essere accompagnato da un adulto in possesso dei documenti necessari.RACCOGLIERE DATI DELL'ADULTO?
          </p>
      </td>
    </tr>
    {{ anagrafica.persona_fisica("Accompagnatore", "", "visibility:visibility", "cursor:pointer", "visibility:visibility", "visibility:visibility", "") }}
  </tbody>
</table>
{% endblock dichiarazioni_minore %}

<br/>

{% block dichiarazioni_riduzioni %}
<table class="Modulo" name="Dichiarazione_Riduzioni" style="border: 1px solid grey">
    <tbody>
      <tr class="Rigaintestazione">
        <td colspan="2">
          <p style="line-height: 1.6;">Di beneficiare di <b>riduzione pari al 20%</b> dell'importo fissato, per una delle seguenti motivazioni:
          </p>
        </td>
      </tr>
  
        <div id="Tassonomia_Riduzioni" name="Tassonomia_Riduzioni" label="Indicare gli riduzioni di cui si necessita per l'espletamento della prova orale se in possesso di certificazione medica"></div> 
      
        <tr>
          <td style="vertical-align: top; width: 4%; padding-top: 0.5em;">
            <input group="Tassonomia_Riduzioni" id="Tassonomia_Riduzioni1" name="Tassonomia_Riduzioni1" type="checkbox" value="SI" />
          </td>
          <td>
            <p style="line-height: 1.6;">soggiorno a scopi turistici in un comune della Provincia di Trento, per almeno tre giorni consecutivi (due pernottamenti) </p>
          </td>
        </tr>

        <tr>
          <td style="vertical-align: top; width: 4%;">
              <input group="Tassonomia_Riduzioni" id="Tassonomia_Riduzioni2" name="Tassonomia_Riduzioni2" type="checkbox" value="SI" />
            </td>
            <td>
              <p style="line-height: 1.6;">di essere anagraficamente residenti per almeno cinque anni o hanno un genitore anagraficamente residente in un comune della Provincia di Trento</p>
            </td> 
        </tr> 

        <tr>
          <td style="vertical-align: top; width: 4%;">
              <input group="Tassonomia_Riduzioni" id="Tassonomia_Riduzioni3" name="Tassonomia_Riduzioni3" type="checkbox" value="SI" />
            </td>
            <td>
              <p style="line-height: 1.6;">di essere titolare di un diritto di proprietà o altro diritto reale su immobili adibiti ad uso abitativo ubicati in un comune della Provincia di Trento; in tal caso l’agevolazione è limitata al territorio comunale ove è ubicato l’immobile.</p>
            </td> 
        </tr> 
    </tbody>
  </table>
{% endblock dichiarazioni_riduzioni %}

<br/>
{% block dichiarazioni_esenzioni %}
<table class="Modulo" name="Dichiarazione_Esenzioni" style="border: 1px solid grey">
    <tbody>
      <tr class="Rigaintestazione">
        <td colspan="2">
          <p style="line-height: 1.6;">Di essere <b>esentati</b> dal pagamento dell'importo fissato, per una delle seguenti motivazioni:
          </p>
        </td>
      </tr>
  
        <div id="Tassonomia_Esenzioni" name="Tassonomia_Esenzioni" label="Indicare le esenzioni di cui si necessita per l'espletamento della prova orale se in possesso di certificazione medica"></div> 
      
        <tr>
          <td style="vertical-align: top; width: 4%; padding-top: 0.5em;">
            <input group="Tassonomia_Esenzioni" id="Tassonomia_Esenzioni1" name="Tassonomia_Esenzioni1" type="checkbox" value="SI" />
          </td>
          <td>
            <p style="line-height: 1.6;">di essere residenti o comunque i nati in uno dei comuni della Provincia di Trento, salvo zone interdette</p>
          </td>
        </tr>

        <tr>
          <td style="vertical-align: top; width: 4%;">
              <input group="Tassonomia_Esenzioni" id="Tassonomia_Esenzioni2" name="Tassonomia_Esenzioni2" type="checkbox" value="SI" />
            </td>
            <td>
              <p style="line-height: 1.6;">i proprietari o possessori di boschi ricadenti in territorio provinciale, ancorché non residenti in un comune della Provincia di Trento, nell'ambito del territorio di loro proprietà</p>
            </td> 
        </tr> 

        <tr>
          <td style="vertical-align: top; width: 4%;">
              <input group="Tassonomia_Esenzioni" id="Tassonomia_Esenzioni3" name="Tassonomia_Esenzioni3" type="checkbox" value="SI" />
            </td>
            <td>
              <p style="line-height: 1.6;">i cittadini iscritti all'anagrafe degli italiani residenti all'estero (AIRE) di un comune della Provincia di Trento</p>
            </td> 
        </tr> 

        <tr>
          <td style="vertical-align: top; width: 4%;">
              <input group="Tassonomia_Esenzioni" id="Tassonomia_Esenzioni4" name="Tassonomia_Esenzioni4" type="checkbox" value="SI" />
            </td>
            <td>
              <p style="line-height: 1.6;">coloro che godono di diritto di uso civico, nel territorio di proprietà o gravato dal diritto di uso civico</p>
            </td> 
        </tr> 

        <tr>
          <td style="vertical-align: top; width: 4%;">
              <input group="Tassonomia_Esenzioni" id="Tassonomia_Esenzioni5" name="Tassonomia_Esenzioni5" type="checkbox" value="SI" />
            </td>
            <td>
              <p style="line-height: 1.6;">i possessori di permessi speciali rilasciati dal Comune di Trento, come gruppi micologici in occasione di mostre, corsi, congressi nazionali ed internazionali, aventi carattere culturale, scientifico, didattico e cittadini residenti per i quali la raccolta costituisce fonte di lavoro e sussistenza.</p>
            </td> 
        </tr> 
    </tbody>
  </table>
{% endblock dichiarazioni_esenzioni %}

<br>

<!-- *********** INIZIO MODULO ALLEGATI *********** -->

<div class="simpatico-block simpatico-query-and-answer">
  <h3 class="Modulo">ALLEGA</h3>
  <table class="Modulo" name="Allegati" style="border: 1px solid grey">
    <tbody >
      <tr class="Rigaintestazione">
        <td colspan="4">
          <p style="text-align: center;">
            <b>Elenco degli allegati</b>
            <br>
            <span style="font-size:70%">
              <i>(barrare tutti gli allegati richiesti in fase di presentazione della pratica ed elencati sul portale)</i>
            </span>
          </p>
        </td>  
      </tr>
      <tr>
        <td>
          <input enabled="true" id="Altra_documentazione" name="Altra_documentazione" type="checkbox">
        </td> 
        <td>
          Altra/e n <input id="Num_altra_doc" name="Num_altra_doc" style="width: 6%" type="number">
          documentazione/i:
          <textarea class="inputNormal" id="Altra_doc_note" name="Altra_doc_note" label="Altra documentazione" style="width:100%;height:2cm" placeholder="specificare" mandatory_enabled="#Altra_documentazione.checked()"></textarea>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- *********** FINE MODULO ALLEGATI *********** -->

<br>
<br>

<!-- *********** INIZIO MODULO PRESA VISIONE *********** -->

<div class="simpatico-block simpatico-query-and-answer">

<table class="Modulo" name="Accettazione_Informativa_dati" style="border: 1px solid grey">
  <tbody>
      <tr>
        <td style="width: 4%; vertical-align: top;">
          <div id="Presa_visione" name="Presa_visione" label="Dichiarazione presa visione" mandatory_enabled="true"> </div>
          <input group="Presa_visione" id="Presa_visione_check" name="Presa_visione_check" type="checkbox" value="1" />
        </td>
        <td colspan="2" style="background-color: #eeeeee;">
          <p><b>Dichiaro di aver preso visione dell'<a href="https://sportello.comune.trento.it/document/inform-tratt-dati-utilizzo-sale" target="_blank">informativa relativa al trattamento dei dati personali</a></b><span style="font-size:85%"><i> (artt. 13 e 14 Regolamento UE n. 2016/679)</i></span></p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
  
<!-- *********** FINE MODULO PRESA VISIONE *********** -->

<br>
<br>

<!-- *********** INIZIO MODULO FIRMA *********** -->

<table class="Modulo simpatico-block" name="Luogo_e_data" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="width: 44%; text-align: center;">
        <input class="" id="Luogo_PDF" name="Luogo_PDF" style="width:80%;" type="text"/>
      </td>
      <td style="width: 44%; text-align: center;">
        <input class="" id="Data_PDF" name="Data_PDF" style="width:50%;" type="text"/>
      </td>
      <td style="width: 44%; text-align: center; height: 1.5cm;">
        <input class="" id="nominativo_richiedente" name="nominativo_richiedente" dynamic_value="' ' + #AventeTitolo_Cognome.value().toUpperCase() + ' ' + #AventeTitolo_Nome.value().toUpperCase()"/>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td>
        <p class="Labelcella" style="text-align: center">Luogo</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Data</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Il richiedente</p>
      </td>
    </tr>
  </tbody>
</table>

<!-- *********** FINE MODULO FIRMA *********** -->

<br>
<br>

<!-- *********** INIZIO MODULO INSERIMENTO ALLEGATI E MODULI SECONDARI *********** -->

<p class="Modulo">
  <input id="SalvaModulo" name="SalvaModulo" style="height:40px;width:120px;" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza." type="submit" value="Salva modulo" />
</p>
<input destinatario_amministrazione="getParameter('Ente')" id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value="" />

<input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden" />
<input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden" />
<input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}" />

<input id="Metadati_oggetto" name="Metadati_oggetto" dynamic_value="#Oggetto.value()" type="hidden"/>

<!--allegato atto costitutivo/statuto-->
<input id="GLOBO_allegato_cM0403-A01-ATTO-COSTITUTIVO" name="GLOBO_allegato_cM0403-A01-ATTO-COSTITUTIVO" numero="1" obbligatorio="'OBBLIGATORIO'" type="hidden" value="" />

<!--allegato altra documentazione-->
<input id="GLOBO_allegato_cGEN-ALTRA-DOCUMENTAZIONE" name="GLOBO_allegato_cGEN-ALTRA-DOCUMENTAZIONE" numero="parseInt(#Num_altra_doc.value())" obbligatorio="#Altra_documentazione.checked() ?  'OBBLIGATORIO' : ''" type="hidden" value="" />

<!-- *********** FINE MODULO INSERIMENTO ALLEGATI E MODULI SECONDARI *********** -->

{% endblock content %}


