{% set CodiceModulo =  "M0710-DOMANDA-OPERATORE-APPOGGIO-SECONDARIO_2" %}
{% set Urn =  "document:c_l378:modulo.secondario.operatore.2" %}
{% extends "base_trento_OK.html" %}

{% block meta %}
<meta campi_firma="Titolare_CodiceFiscale"
classi_modulo="Generale"
codice_modulo="{% block codice %}{{ CodiceModulo }}{% endblock codice %}"
urn="{{ Urn }}"
descrizione="Modulo secondario - Ulteriori Esperienze - Contratto collettivo nazionale"
destinatario_amministrazione=""
destinatario_ufficio=""
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="NO"
firmare="AUTENTICATO"
istruzioni_compilazione=""
istruzioni_invio=""
metodo_invio=""
name="GLOBO_modulo"
procura="NO,,"
tipo_modulo="secondario"
ufficio=""
urlhelp="/modulistica/moduli/M0710-DOMANDA-OPERATORE-APPOGGIO-SECONDARIO_2"
verifica_pagamento="NO"
versione="1.0|01/01/2015"/>

{% endblock meta %}

{% block title %}
   Modulo secondario - Ulteriori Esperienze - Contratto collettivo nazionale
{% endblock title %}

{% block content %}


{{intestazioni.intestazione_modulosecondario_senzabollo()}}
<input dynamic_value="#Ente.value()" id="Parametri_Comune" name="Parametri_Comune" type="hidden" />
<input dynamic_value="#nominativo_oggetto.value() + ' - Domanda di partecipazione a concorso operatore appoggio'" id="Oggetto" name="Oggetto" type="hidden" />


<div class="container">
  <div class="title-1">Modulo secondario - Ulteriori Esperienze - Contratto collettivo nazionale
  </div>
</div>





<div class="container border bg-light">
  <div class="form-check indent-1">


<div class="space-1"></div>
<div class="space-1"></div>

<div class="space-1"></div>


<label class="form-check-label" for="TitoliServizio_Tipo2B"> 
  Di aver prestato/di prestare servizio presso presso altri Enti, cui si applica il vigente Contratto 
  collettivo nazionale di Lavoro del personaledel comparto Funzioni locali (punti 0,01 per ogni giornata di servizio);
</label>
<div class="space-1"></div>
<div class="space-1"></div>


{{anagrafica_macro.richiedente_resp("Titolare","Il/La sottoscritto/a, avente codice fiscale:", "visibility:hidden", "cursor:pointer", "visibility:hidden")}} 
<div class="space-1"></div>


<div class="form-row">
  <div class="form-group col-lg-2">
      <label for="TitoliServizio3_DatoreLavoro"> Datore lavoro <br><br><br><br><br></label>
      <input class="form-control" id="TitoliServizio3_DatoreLavoro01" name="TitoliServizio3_DatoreLavoro01">
  </div>
  <div class="form-group col-lg-2">
    <label for="TitoliServizio3_Inizio"> Data inizio rapporto <br><br><br><br><br></label>
    <input class="form-control" id="TitoliServizio3_Inizio01" type="date" name="TitoliServizio3_Inizio01">
  </div> 
  <div class="form-group col-lg-2">
    <label for="TitoliServizio3_Fine"> Data fine rapporto <br><br><br><br><br></label>
    <input class="form-control" id="TitoliServizio3_Fine01" type="date" name="TitoliServizio3_Fine01">
  </div> 
  <div class="form-group col-lg-1">
    <label for="TitoliServizio3_Qualifica"> Figura profess.</label>
    <input class="form-control" id="TitoliServizio3_Figura01" name="TitoliServizio3_Figura01">
  </div>
  <div class="form-group col-lg-2">
    <label for="TitoliServizio3_Contratto"> Categoria o ex qual. funz.<br><br><br><br></label>
    <input class="form-control" id="TitoliServizio3_Categoria01" name="TitoliServizio3_Categoria01">
  </div>
  <div class="form-group col-lg-1">
    <label for="TitoliServizio3_Orario"> Sede di lavoro<br<br><br><br><br></label>
    <input class="form-control" id="TitoliServizio3_Sede01" name="TitoliServizio3_Sede01">
  </div>
  <div class="form-group col-lg-2">
    <label for="TitoliServizio3_Assenze"> Eventali periodi di assenza non utili ai fini dell'anzianità di servizio<br><br></label>
    <input class="form-control" id="TitoliServizio3_Assenze01" name="TitoliServizio3_Assenze01"> 
  </div>   
</div>

<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro02" name="TitoliServizio3_DatoreLavoro02">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio02" type="date" name="TitoliServizio3_Inizio02">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine02" type="date" name="TitoliServizio3_Fine02">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura02" name="TitoliServizio3_Figura02">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria02" name="TitoliServizio3_Categoria02">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede02" name="TitoliServizio3_Sede02">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze02" name="TitoliServizio3_Assenze02"> 
  </div>   
</div>

<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro03" name="TitoliServizio3_DatoreLavoro03">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio03" type="date" name="TitoliServizio3_Inizio03">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine03" type="date" name="TitoliServizio3_Fine03">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura03" name="TitoliServizio3_Figura03">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria03" name="TitoliServizio3_Categoria03">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede03" name="TitoliServizio3_Sede03">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze03" name="TitoliServizio3_Assenze03"> 
  </div>   
</div>

<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro04" name="TitoliServizio3_DatoreLavoro04">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio04" type="date" name="TitoliServizio3_Inizio04">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine04" type="date" name="TitoliServizio3_Fine04">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura04" name="TitoliServizio3_Figura04">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria04" name="TitoliServizio3_Categoria04">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede04" name="TitoliServizio3_Sede04">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze04" name="TitoliServizio3_Assenze04"> 
  </div>   
</div>

<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro05" name="TitoliServizio3_DatoreLavoro05">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio05" type="date" name="TitoliServizio3_Inizio05">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine05" type="date" name="TitoliServizio3_Fine05">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura05" name="TitoliServizio3_Figura05">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria05" name="TitoliServizio3_Categoria05">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede05" name="TitoliServizio3_Sede05">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze05" name="TitoliServizio3_Assenze05"> 
  </div>   
</div>

<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro06" name="TitoliServizio3_DatoreLavoro06">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio06" type="date" name="TitoliServizio3_Inizio06">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine06" type="date" name="TitoliServizio3_Fine06">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura06" name="TitoliServizio3_Figura06">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria06" name="TitoliServizio3_Categoria06">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede06" name="TitoliServizio3_Sede06">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze06" name="TitoliServizio3_Assenze06"> 
  </div>   
</div>

<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro07" name="TitoliServizio3_DatoreLavoro07">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio07" type="date" name="TitoliServizio3_Inizio07">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine07" type="date" name="TitoliServizio3_Fine07">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura07" name="TitoliServizio3_Figura07">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria07" name="TitoliServizio3_Categoria07">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede07" name="TitoliServizio3_Sede07">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze07" name="TitoliServizio3_Assenze07"> 
  </div>   
</div>

<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro08" name="TitoliServizio3_DatoreLavoro08">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio08" type="date" name="TitoliServizio3_Inizio08">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine08" type="date" name="TitoliServizio3_Fine08">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura08" name="TitoliServizio3_Figura08">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria08" name="TitoliServizio3_Categoria08">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede08" name="TitoliServizio3_Sede08">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze08" name="TitoliServizio3_Assenze08"> 
  </div>   
</div>

<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro09" name="TitoliServizio3_DatoreLavoro09">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio09" type="date" name="TitoliServizio3_Inizio09">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine09" type="date" name="TitoliServizio3_Fine09">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura09" name="TitoliServizio3_Figura09">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria09" name="TitoliServizio3_Categoria09">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede09" name="TitoliServizio3_Sede09">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze09" name="TitoliServizio3_Assenze09"> 
  </div>   
</div>

<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro10" name="TitoliServizio3_DatoreLavoro10">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio10" type="date" name="TitoliServizio3_Inizio10">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine10" type="date" name="TitoliServizio3_Fine10">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura10" name="TitoliServizio3_Figura10">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria10" name="TitoliServizio3_Categoria10">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede10" name="TitoliServizio3_Sede10">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze10" name="TitoliServizio3_Assenze10"> 
  </div>   
</div>

<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro11" name="TitoliServizio3_DatoreLavoro11">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio11" type="date" name="TitoliServizio3_Inizio11">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine11" type="date" name="TitoliServizio3_Fine11">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura11" name="TitoliServizio3_Figura11">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria11" name="TitoliServizio3_Categoria11">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede11" name="TitoliServizio3_Sede11">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze11" name="TitoliServizio3_Assenze11"> 
  </div>   
</div>

<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro12" name="TitoliServizio3_DatoreLavoro12">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio12" type="date" name="TitoliServizio3_Inizio12">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine12" type="date" name="TitoliServizio3_Fine12">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura12" name="TitoliServizio3_Figura12">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria12" name="TitoliServizio3_Categoria12">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede12" name="TitoliServizio3_Sede12">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze12" name="TitoliServizio3_Assenze12"> 
  </div>   
</div>

<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro13" name="TitoliServizio3_DatoreLavoro13">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio13" type="date" name="TitoliServizio3_Inizio13">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine13" type="date" name="TitoliServizio3_Fine13">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura13" name="TitoliServizio3_Figura13">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria13" name="TitoliServizio3_Categoria13">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede13" name="TitoliServizio3_Sede13">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze13" name="TitoliServizio3_Assenze13"> 
  </div>   
</div>

<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro14" name="TitoliServizio3_DatoreLavoro14">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio14" type="date" name="TitoliServizio3_Inizio14">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine14" type="date" name="TitoliServizio3_Fine14">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura14" name="TitoliServizio3_Figura14">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria14" name="TitoliServizio3_Categoria14">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede14" name="TitoliServizio3_Sede14">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze14" name="TitoliServizio3_Assenze14"> 
  </div>   
</div>

<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro15" name="TitoliServizio3_DatoreLavoro15">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio15" type="date" name="TitoliServizio3_Inizio15">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine15" type="date" name="TitoliServizio3_Fine15">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura15" name="TitoliServizio3_Figura15">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria15" name="TitoliServizio3_Categoria15">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede15" name="TitoliServizio3_Sede15">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze15" name="TitoliServizio3_Assenze15"> 
  </div>   
</div>

<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro16" name="TitoliServizio3_DatoreLavoro16">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio16" type="date" name="TitoliServizio3_Inizio16">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine16" type="date" name="TitoliServizio3_Fine16">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura16" name="TitoliServizio3_Figura16">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria16" name="TitoliServizio3_Categoria16">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede16" name="TitoliServizio3_Sede16">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze16" name="TitoliServizio3_Assenze16"> 
  </div>   
</div>

<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro17" name="TitoliServizio3_DatoreLavoro17">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio17" type="date" name="TitoliServizio3_Inizio17">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine17" type="date" name="TitoliServizio3_Fine17">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura17" name="TitoliServizio3_Figura17">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria17" name="TitoliServizio3_Categoria17">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede17" name="TitoliServizio3_Sede17">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze17" name="TitoliServizio3_Assenze17"> 
  </div>   
</div>

<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro18" name="TitoliServizio3_DatoreLavoro18">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio18" type="date" name="TitoliServizio3_Inizio18">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine18" type="date" name="TitoliServizio3_Fine18">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura18" name="TitoliServizio3_Figura18">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria18" name="TitoliServizio3_Categoria18">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede18" name="TitoliServizio3_Sede18">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze18" name="TitoliServizio3_Assenze18"> 
  </div>   
</div>

<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro19" name="TitoliServizio3_DatoreLavoro19">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio19" type="date" name="TitoliServizio3_Inizio19">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine19" type="date" name="TitoliServizio3_Fine19">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura19" name="TitoliServizio3_Figura19">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria19" name="TitoliServizio3_Categoria19">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede19" name="TitoliServizio3_Sede19">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze19" name="TitoliServizio3_Assenze19"> 
  </div>   
</div>

<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro20" name="TitoliServizio3_DatoreLavoro20">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio20" type="date" name="TitoliServizio3_Inizio20">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine20" type="date" name="TitoliServizio3_Fine20">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura20" name="TitoliServizio3_Figura20">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria20" name="TitoliServizio3_Categoria20">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede20" name="TitoliServizio3_Sede20">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze20" name="TitoliServizio3_Assenze20"> 
  </div>   
</div>

<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro21" name="TitoliServizio3_DatoreLavoro21">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio21" type="date" name="TitoliServizio3_Inizio21">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine21" type="date" name="TitoliServizio3_Fine21">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura21" name="TitoliServizio3_Figura21">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria21" name="TitoliServizio3_Categoria21">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede21" name="TitoliServizio3_Sede21">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze21" name="TitoliServizio3_Assenze21"> 
  </div>   
</div>

<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro22" name="TitoliServizio3_DatoreLavoro22">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio22" type="date" name="TitoliServizio3_Inizio22">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine22" type="date" name="TitoliServizio3_Fine22">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura22" name="TitoliServizio3_Figura22">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria22" name="TitoliServizio3_Categoria22">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede22" name="TitoliServizio3_Sede22">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze22" name="TitoliServizio3_Assenze22"> 
  </div>   
</div>

<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro23" name="TitoliServizio3_DatoreLavoro23">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio23" type="date" name="TitoliServizio3_Inizio23">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine23" type="date" name="TitoliServizio3_Fine23">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura23" name="TitoliServizio3_Figura23">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria23" name="TitoliServizio3_Categoria23">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede23" name="TitoliServizio3_Sede23">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze23" name="TitoliServizio3_Assenze23"> 
  </div>   
</div>


<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro24" name="TitoliServizio3_DatoreLavoro24">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio24" type="date" name="TitoliServizio3_Inizio24">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine24" type="date" name="TitoliServizio3_Fine24">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura24" name="TitoliServizio3_Figura24">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria24" name="TitoliServizio3_Categoria24">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede24" name="TitoliServizio3_Sede24">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze24" name="TitoliServizio3_Assenze24"> 
  </div>   
</div>

<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro25" name="TitoliServizio3_DatoreLavoro25">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio25" type="date" name="TitoliServizio3_Inizio25">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine25" type="date" name="TitoliServizio3_Fine25">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura25" name="TitoliServizio3_Figura25">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria25" name="TitoliServizio3_Categoria25">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede25" name="TitoliServizio3_Sede25">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze25" name="TitoliServizio3_Assenze25"> 
  </div>   
</div>

<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro26" name="TitoliServizio3_DatoreLavoro26">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio26" type="date" name="TitoliServizio3_Inizio26">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine26" type="date" name="TitoliServizio3_Fine26">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura26" name="TitoliServizio3_Figura26">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria26" name="TitoliServizio3_Categoria26">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede26" name="TitoliServizio3_Sede26">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze26" name="TitoliServizio3_Assenze26"> 
  </div>   
</div>

<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro27" name="TitoliServizio3_DatoreLavoro27">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio27" type="date" name="TitoliServizio3_Inizio27">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine27" type="date" name="TitoliServizio3_Fine27">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura27" name="TitoliServizio3_Figura27">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria27" name="TitoliServizio3_Categoria27">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede27" name="TitoliServizio3_Sede27">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze27" name="TitoliServizio3_Assenze27"> 
  </div>   
</div>

<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro28" name="TitoliServizio3_DatoreLavoro28">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio28" type="date" name="TitoliServizio3_Inizio28">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine28" type="date" name="TitoliServizio3_Fine28">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura28" name="TitoliServizio3_Figura28">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria28" name="TitoliServizio3_Categoria28">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede28" name="TitoliServizio3_Sede28">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze28" name="TitoliServizio3_Assenze28"> 
  </div>   
</div>

<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro29" name="TitoliServizio3_DatoreLavoro29">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio29" type="date" name="TitoliServizio3_Inizio29">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine29" type="date" name="TitoliServizio3_Fine29">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura29" name="TitoliServizio3_Figura29">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria29" name="TitoliServizio3_Categoria29">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede29" name="TitoliServizio3_Sede29">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze29" name="TitoliServizio3_Assenze29"> 
  </div>   
</div>

<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro30" name="TitoliServizio3_DatoreLavoro30">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio30" type="date" name="TitoliServizio3_Inizio30">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine30" type="date" name="TitoliServizio3_Fine30">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura30" name="TitoliServizio3_Figura30">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria30" name="TitoliServizio3_Categoria30">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede30" name="TitoliServizio3_Sede30">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze30" name="TitoliServizio3_Assenze30"> 
  </div>   
</div>

<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro31" name="TitoliServizio3_DatoreLavoro31">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio31" type="date" name="TitoliServizio3_Inizio31">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine31" type="date" name="TitoliServizio3_Fine31">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura31" name="TitoliServizio3_Figura31">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria31" name="TitoliServizio3_Categoria31">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede31" name="TitoliServizio3_Sede31">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze31" name="TitoliServizio3_Assenze31"> 
  </div>   
</div>

<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro32" name="TitoliServizio3_DatoreLavoro32">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio32" type="date" name="TitoliServizio3_Inizio32">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine32" type="date" name="TitoliServizio3_Fine32">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura32" name="TitoliServizio3_Figura32">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria32" name="TitoliServizio3_Categoria32">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede32" name="TitoliServizio3_Sede32">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze32" name="TitoliServizio3_Assenze32"> 
  </div>   
</div>

<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro33" name="TitoliServizio3_DatoreLavoro33">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio33" type="date" name="TitoliServizio3_Inizio33">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine33" type="date" name="TitoliServizio3_Fine33">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura33" name="TitoliServizio3_Figura33">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria33" name="TitoliServizio3_Categoria33">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede33" name="TitoliServizio3_Sede33">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze33" name="TitoliServizio3_Assenze33"> 
  </div>   
</div>
<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro34" name="TitoliServizio3_DatoreLavoro34">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio34" type="date" name="TitoliServizio3_Inizio34">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine34" type="date" name="TitoliServizio3_Fine34">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura34" name="TitoliServizio3_Figura34">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria34" name="TitoliServizio3_Categoria34">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede34" name="TitoliServizio3_Sede34">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze34" name="TitoliServizio3_Assenze34"> 
  </div>   
</div>
<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro35" name="TitoliServizio3_DatoreLavoro35">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio35" type="date" name="TitoliServizio3_Inizio35">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine35" type="date" name="TitoliServizio3_Fine35">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura35" name="TitoliServizio3_Figura35">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria35" name="TitoliServizio3_Categoria35">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede35" name="TitoliServizio3_Sede35">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze35" name="TitoliServizio3_Assenze35"> 
  </div>   
</div>
<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro36" name="TitoliServizio3_DatoreLavoro36">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio36" type="date" name="TitoliServizio3_Inizio36">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine36" type="date" name="TitoliServizio3_Fine36">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura36" name="TitoliServizio3_Figura36">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria36" name="TitoliServizio3_Categoria36">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede36" name="TitoliServizio3_Sede36">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze36" name="TitoliServizio3_Assenze36"> 
  </div>   
</div>
<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro37" name="TitoliServizio3_DatoreLavoro37">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio37" type="date" name="TitoliServizio3_Inizio37">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine37" type="date" name="TitoliServizio3_Fine37">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura37" name="TitoliServizio3_Figura37">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria37" name="TitoliServizio3_Categoria37">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede37" name="TitoliServizio3_Sede37">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze37" name="TitoliServizio3_Assenze37"> 
  </div>   
</div>
<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro38" name="TitoliServizio3_DatoreLavoro38">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio38" type="date" name="TitoliServizio3_Inizio38">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine38" type="date" name="TitoliServizio3_Fine38">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura38" name="TitoliServizio3_Figura38">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria38" name="TitoliServizio3_Categoria38">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede38" name="TitoliServizio3_Sede38">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze38" name="TitoliServizio3_Assenze38"> 
  </div>   
</div>
<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro39" name="TitoliServizio3_DatoreLavoro39">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio39" type="date" name="TitoliServizio3_Inizio39">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine39" type="date" name="TitoliServizio3_Fine39">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura39" name="TitoliServizio3_Figura39">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria39" name="TitoliServizio3_Categoria39">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede39" name="TitoliServizio3_Sede39">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze39" name="TitoliServizio3_Assenze39"> 
  </div>   
</div>
<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro40" name="TitoliServizio3_DatoreLavoro40">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio40" type="date" name="TitoliServizio3_Inizio40">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine40" type="date" name="TitoliServizio3_Fine40">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura40" name="TitoliServizio3_Figura40">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria40" name="TitoliServizio3_Categoria40">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede40" name="TitoliServizio3_Sede40">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze40" name="TitoliServizio3_Assenze40"> 
  </div>   
</div>
<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro41" name="TitoliServizio3_DatoreLavoro41">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio41" type="date" name="TitoliServizio3_Inizio41">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine41" type="date" name="TitoliServizio3_Fine41">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura41" name="TitoliServizio3_Figura41">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria41" name="TitoliServizio3_Categoria41">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede41" name="TitoliServizio3_Sede41">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze41" name="TitoliServizio3_Assenze41"> 
  </div>   
</div>
<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro42" name="TitoliServizio3_DatoreLavoro42">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio42" type="date" name="TitoliServizio3_Inizio42">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine42" type="date" name="TitoliServizio3_Fine42">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura42" name="TitoliServizio3_Figura42">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria42" name="TitoliServizio3_Categoria42">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede42" name="TitoliServizio3_Sede42">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze42" name="TitoliServizio3_Assenze42"> 
  </div>   
</div>
<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro43" name="TitoliServizio3_DatoreLavoro43">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio43" type="date" name="TitoliServizio3_Inizio43">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine43" type="date" name="TitoliServizio3_Fine43">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura43" name="TitoliServizio3_Figura43">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria43" name="TitoliServizio3_Categoria43">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede43" name="TitoliServizio3_Sede43">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze43" name="TitoliServizio3_Assenze43"> 
  </div>   
</div>
<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro44" name="TitoliServizio3_DatoreLavoro44">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio44" type="date" name="TitoliServizio3_Inizio44">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine44" type="date" name="TitoliServizio3_Fine44">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura44" name="TitoliServizio3_Figura44">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria44" name="TitoliServizio3_Categoria44">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede44" name="TitoliServizio3_Sede44">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze44" name="TitoliServizio3_Assenze44"> 
  </div>   
</div>
<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro45" name="TitoliServizio3_DatoreLavoro45">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio45" type="date" name="TitoliServizio3_Inizio45">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine45" type="date" name="TitoliServizio3_Fine45">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura45" name="TitoliServizio3_Figura45">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria45" name="TitoliServizio3_Categoria45">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede45" name="TitoliServizio3_Sede45">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze45" name="TitoliServizio3_Assenze45"> 
  </div>   
</div>




<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro46" name="TitoliServizio3_DatoreLavoro46">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio46" type="date" name="TitoliServizio3_Inizio46">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine46" type="date" name="TitoliServizio3_Fine46">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura46" name="TitoliServizio3_Figura46">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria46" name="TitoliServizio3_Categoria46">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede46" name="TitoliServizio3_Sede46">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze46" name="TitoliServizio3_Assenze46"> 
  </div>   
</div>
<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro47" name="TitoliServizio3_DatoreLavoro47">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio47" type="date" name="TitoliServizio3_Inizio47">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine47" type="date" name="TitoliServizio3_Fine47">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura47" name="TitoliServizio3_Figura47">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria47" name="TitoliServizio3_Categoria47">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede47" name="TitoliServizio3_Sede47">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze47" name="TitoliServizio3_Assenze47"> 
  </div>   
</div>
<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro48" name="TitoliServizio3_DatoreLavoro48">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio48" type="date" name="TitoliServizio3_Inizio48">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine48" type="date" name="TitoliServizio3_Fine48">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura48" name="TitoliServizio3_Figura48">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria48" name="TitoliServizio3_Categoria48">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede48" name="TitoliServizio3_Sede48">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze48" name="TitoliServizio3_Assenze48"> 
  </div>   
</div>
<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro49" name="TitoliServizio3_DatoreLavoro49">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio49" type="date" name="TitoliServizio3_Inizio49">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine49" type="date" name="TitoliServizio3_Fine49">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura49" name="TitoliServizio3_Figura49">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria49" name="TitoliServizio3_Categoria49">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede49" name="TitoliServizio3_Sede49">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze49" name="TitoliServizio3_Assenze49"> 
  </div>   
</div>
<div class="form-row">
  <div class="form-group col-lg-2">
      <input class="form-control" id="TitoliServizio3_DatoreLavoro50" name="TitoliServizio3_DatoreLavoro50">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Inizio50" type="date" name="TitoliServizio3_Inizio50">
  </div> 
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Fine50" type="date" name="TitoliServizio3_Fine50">
  </div> 
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Figura50" name="TitoliServizio3_Figura50">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Categoria50" name="TitoliServizio3_Categoria50">
  </div>
  <div class="form-group col-lg-1">
    <input class="form-control" id="TitoliServizio3_Sede50" name="TitoliServizio3_Sede50">
  </div>
  <div class="form-group col-lg-2">
    <input class="form-control" id="TitoliServizio3_Assenze50" name="TitoliServizio3_Assenze50"> 
  </div>   
</div>



<div class="space-1"></div>
<div class="space-1"></div>

</div>
</div>


<div type="firma" class="simpatico-block simpatico-query-and-answer">
  <div class="container border bg-light" name="Firme">
    <div class="form-row">
      <div class="form-group col-lg-4 firma-custom">
        <input class="form-control" style="text-align: center;" id="Luogo_PDF" name="Luogo_PDF">
        <label for="Luogo_PDF"> Luogo </label>
      </div>
      <div class="form-group col-lg-4 firma-custom">
        <input class="form-control" style="text-align: center;" id="Data_PDF" name="Data_PDF">
        <label for="Data_PDF"> Data </label>
      </div>
      <div class="form-group col-lg-4 firma-custom">
        <input class="form-control" style="text-align: center;" id="Firma_PDF" name="Firma_PDF" dynamic_value="#Titolare_Nome.value().toUpperCase() + ' ' + #Titolare_Cognome.value().toUpperCase()">
        <label for="Firma_PDF"> Il richiedente<br><span><i>(accesso eseguito mediante SPID o CPS/CNS)</i></span></label>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <button type="submit" class="btn btn-success btn-lg btn-block" id="SalvaModulo" name="SalvaModulo" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza."> Salva modulo </button>
</div>


<!--PRENDO I META DATI-->
<!-- <input id="Metadati_Totale_particelle" name="Metadati_Totale_particelle" dynamic_value="#Referente99_Totale_particelle.value()" style="width: 100%;" type="hidden"/>
{{ utils.passaggio_metadati() }}
{{ utils.recupero_dati_meta( 'Referente99_Totale_particelle' ) }}
<input id="Referente99_Totale_particelle" name="Referente99_Totale_particelle" type="hidden"/>
<input id="AventeTitolo_Cognome" name="AventeTitolo_Cognome" type="hidden"/>
<input id="AventeTitolo_Nome" name="AventeTitolo_Nome" type="hidden"/> -->


{% endblock content %}
