{% set CodiceModulo = "INCARICO_PROCURA" %}
{% set Urn = "document:c_l378:generale;incarico.procura" %}
{% extends "base_trento_ok.html" %}
{% block meta %}

<meta campi_firma="Referente_CodiceFiscale"
campi_firma_label="il procuratore"
classi_modulo="Generale"
codice_modulo="{{ CodiceModulo }}"
urn="{% block urn %}{{ Urn }}{% endblock urn %}"
sub_urn_list=""
uo_globo_list=""
descrizione="Accettazione dell'incarico di procuratore speciale"
destinatario_amministrazione=""
destinatario_ufficio=""
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="SI"
firmare="P7M_DIGITALE"
istruzioni_compilazione=""
istruzioni_invio=""
metodo_invio=""
name="GLOBO_modulo" 
procura="NO,,"
tipo_modulo="secondario"
ufficio=""
urlhelp="/modulistica/moduli/{{ CodiceModulo }}"
versione="1.5|23/12/2019"/>

<meta codice_allegato="GEN-COPIA-MODULO-FIRMA-AU"
urn_allegato="document:c_l378:allegato.copia.modulo.firmato.con.firma.autografa"
descrizione_estesa="Conferimento procura"
filename="Conferimento procura.pdf"
firmato="SI"
istruzioni="/modulistica/moduli/GEN-COPIA-MODULO-FIRMA-AU"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-CDI"
urn_allegato="document:c_l378:allegato.copia.documento.identita"
descrizione_estesa="Copie dei documenti d'identità dei soggetti rappresentati"
filename="Documento identita.pdf"
firmato="SI"
istruzioni="/modulistica/moduli/GEN-CDI"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>


{% endblock meta %}

{% block title %}
  Accettazione dell'incarico di procuratore speciale
{% endblock title %}

{% block content %}

<input type="hidden" id="Oggetto" name="Oggetto" dynamic_value="'Accettazione dell\'incarico di procuratore speciale'"/>

{{ intestazioni.intestazione_modulosecondario_senzabollo() }}

<h1 class="Modulo">
  Accettazione dell'incarico di procuratore speciale
</h1>

<h2 class="Modulo">
  Ai sensi dell'articolo 1392 del Regio Decreto 16/03/1942, n. 262 "Codice Civile"
</h2>

<!-----------------INIZIO CAMPO ANAGRAFICA------------------->
<input id="Referente_Titolo" name="Referente_Titolo" type="hidden" value="Procuratore"/>
<input id="Referente_DatiPersonaObbligatori"  name="Referente_DatiPersonaObbligatori"  type="hidden" checked="checked" dynamic_check="true"/>
<!-- <input id="mail_obbligatoria" name="mail_obbligatoria" dynamic_check="true" type="hidden" />-->
<input id="pec_obbligatoria" name="pec_obbligatoria" dynamic_check="true" type="hidden" />

{{anagrafica_trento_uniformata.richiedente("Referente","Il sottoscritto procuratore speciale:", "visibility:visibility", "cursor:pointer", "visibility:visibility")}} 
<!-----------------FINE CAMPO ANAGRAFICA------------------->

<br>

<!-----------------INIZIO CAMPO ISTANZA------------------->

<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td>
        <p>
          <b>
            in relazione all'istanza
          </b>
        </p>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td>
        <p class="Labelcella">
          Breve descrizione istanza
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <input class="" id="Parametri_OggettoIstanza" label="Breve descrizione istanza" mandatory="true" name="Parametri_OggettoIstanza"
          style="width:100%" fatal="true" />
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td style="width:40%;">
        <p class="Labelcella">
          Codice univoco istanza
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <input class="" id="Codice_istanza" label="Codice univoco istanza" style="text-transform:uppercase;" mandatory="true" name="Codice_istanza" style="width:100%" fatal="true" readonly />
      </td>
    </tr>
  </tbody>
</table>

<!-----------------FINE CAMPO ISTANZA------------------->

<br>

<!-----------------INIZIO CAMPO 445------------------->

{{ utils.Dichiara_445() }}

<input checked="checked" id="SempreSI" name="SempreSI" style="display:none;" type="checkbox" value="si" />
<table class="Modulo" style="border: 0px;">
  <tbody>
    <tr style="border: 0px;">
      <td style="width: 20px; border: 0px; vertical-align: top;">
        <input checked="checked" dynamic_check="true" id="Parametri_Dichiara1" name="Parametri_Dichiara1" type="checkbox" value="si"
        />
      </td>
      <td style="border: 0px;">
        <p>
          di agire in qualità di procuratore speciale in rappresentanza del soggetto o dei soggetti che hanno apposto la propria firma
          autografa sul/i modello/i di conferimento di procura speciale allegato/i
        </p>
      </td>
    </tr>
    <tr style="border: 0px;">
      <td style="width: 20px; border: 0px; vertical-align: top;">
        <input checked="checked" dynamic_check="true" id="Parametri_Dichiara3" name="Parametri_Dichiara3" type="checkbox" value="si"
        />
      </td>
      <td style="border: 0px;">
        <p>
          che le copie informatiche degli eventuali documenti non notarili e/o contenenti dichiarazioni presenti nella modulistica
          corrispondono ai documenti consegnatigli dal/i soggetti obbligati/legittimati per l’espletamento degli adempimenti
          di cui alla sopra citata pratica
        </p>
      </td>
    </tr>
    <tr style="border: 0px;">
      <td style="width: 20px; border: 0px; vertical-align: top;">
        <input checked="checked" dynamic_check="true" id="Parametri_Dichiara2" name="Parametri_Dichiara2" type="checkbox" value="si"
        />
      </td>
      <td style="border: 0px;">
        <p>
          che sarà sua cura comunicare tempestivamente all'ente l'eventuale revoca della procura speciale
        </p>
      </td>
    </tr>
  </tbody>
</table>

<!-----------------FINE CAMPO 445------------------->

<br>

<!-----------------INIZIO CAMPO IMPEGNA + IMMOBILE------------------->

<h3 class="Modulo">
  SI IMPEGNA
</h3>

<input dynamic_check="true" id="ImmDaNonImportare_DatiImmobileRichiesti" name="ImmDaNonImportare_DatiImmobileRichiesti" type="checkbox" style="display:none" value="si"/>
<input id="ImmDaNonImportare_DatiCatastaliObbligatori" name="ImmDaNonImportare_DatiCatastaliObbligatori" type="checkbox" style="display:none" value="si"/>

<p class="Modulo">
  <b>a conservare presso:</b>
</p>

{{ immobili.immobile_toponomastica_procura("ImmProcuratore","","","display:none","cursor:default","display:none")}}

<p class="Modulo">
  gli originali del modello di procura speciale e di eventuali dichiarazioni integrative, sottoscritti con firma autografa dai soggetti rappresentati, e a renderli disponibili all'amministrazione per eventuali controlli d'ufficio. Si impegna altresì a consegnare all'amministrazione i documenti originali al momento del ritiro dall'attività professionale.
</p>

<!-----------------FINE CAMPO IMPEGNA + IMMOBILE------------------->

<br/>

<!-----------------INIZIO CAMPO ALLEGATI------------------->

<table class="Modulo" name="Allegati" style="border:1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p style="text-align: center;">
          <b>
            Elenco degli allegati
          </b>
          <br/>
          <span style="font-size:70%">
            <i>(barrare tutti gli allegati richiesti in fase di presentazione della pratica ed elencati sul portale)</i>
          </span>
        </p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align:top; width:3%">
        <input dynamic_check="true" id="CONFERIMENTO_PROCURA" name="CONFERIMENTO_PROCURA" type="checkbox" value="OBBLIGATORIO" />
      </td>
      <td style="background-color: #eeeeee;">
        <p>copie dei modelli di conferimento di procura speciale sottoscritte con firma autografa dai soggetti rappresentati
          <br>
          <span style="font-size:70%">
            <i>
              (tutti i modelli devono essere contenuti in un unico file in formato PDF)
            </i>
          </span>
        </p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align:top">
        <input dynamic_check="true" id="copia_ID" name="copia_ID" type="checkbox" value="OBBLIGATORIO" />
      </td>
      <td style="background-color: #eeeeee;">
        <p>copie dei documenti d'identità dei soggetti rappresentati
          <br>
          <span style="font-size:70%">
            <i>
              (tutte le copie devono essere contenuti in un unico file in formato PDF)
            </i>
          </span>
        </p>
      </td>
    </tr>
  </tbody>
</table>

<!-----------------FINE CAMPO ALLEGATI------------------->

<br/>

<!-----------------INIZIO CAMPO FIRMA + SALVA------------------->

<div type="firma">
	<table class="Modulo" name="Firme" style="border:1px solid grey;">
		<tbody>
			<tr>
				<td style="width: 33%; text-align: center;">
					<input class="" id="Luogo_PDF" name="Luogo_PDF" style="width:80%;" type="text"/>
				</td>
				<td style="width: 33%; text-align: center;">
					<input class="" id="Data_PDF" name="Data_PDF" style="width:50%;" type="text"/>
				</td>
				<td style="width: 34%; text-align: center; height: 1.5cm;"></td>
			</tr>
			<tr class="Rigaintestazioneridotta">
				<td>
					<p class="Labelcella" style="text-align: center">Luogo</p>
				</td>
				<td>
					<p class="Labelcella" style="text-align: center">Data</p>
				</td>
				<td>
					<p class="Labelcella" style="text-align: center">{{ firmatario }}</p>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<p><span style="font-size:70%"><i>I dati acquisiti saranno trattati in conformità alla normativa vigente sul trattamento dei dati personali (artt. 13 e 14 Regolamento UE n. 2016/679).</i></span></p>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<br/>

<p class="Modulo">
  <input id="SalvaModulo" name="SalvaModulo" style="height:30px;width:120px;" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza." type="submit" value="Salva modulo"/>
</p>

<!-----------------FINE CAMPO FIRMA + SALVA------------------->

<!-----------------INIZIO DICHIARAZIONE MODULI SECONDARI/ALLEGATI------------------->

<input id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value=""/>

<input id="GLOBO_allegato_cGEN-COPIA-MODULO-FIRMA-AU" name="GLOBO_allegato_cGEN-COPIA-MODULO-FIRMA-AU" type="hidden" value="" obbligatorio="#CONFERIMENTO_PROCURA.checked() ? 'OBBLIGATORIO' : ''"/>
<input id="GLOBO_allegato_cGEN-CDI" name="GLOBO_allegato_cGEN-CDI" type="hidden" value="" obbligatorio="#copia_ID.checked() ? 'OBBLIGATORIO' : ''"/>


<!-----------------FINE DICHIARAZIONE MODULI SECONDARI/ALLEGATI------------------->

<input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden"/>
<input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden"/>
<input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}"/>

{% endblock content %}
