{% set CodiceModulo = "M0803-TRASM-DOC-INTEG" %}
{% set Urn =  "document:c_l378:m0802.trasmissione.documentazione.integrativa" %}
{% extends "base_trento_ok.html" %}

{% block meta %}

<meta campi_firma="AventeTitolo_CodiceFiscale"
campi_firma_label="il dichiarante"
classi_modulo="Tributi"
codice_modulo="{{ CodiceModulo }}"
urn="{{ Urn }}"
sub_urn_list=""
uo_globo_list=""
contesto_procedurale="Trasmissione documentazione integrativa"
descrizione="Trasmissione di documentazione integrativa"
destinatario_amministrazione=""
destinatario_ufficio="94SMCB"
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="NO"
firmare="NO"
istruzioni_compilazione=""
istruzioni_invio="mail_pec"
metodo_invio="mail"
name="GLOBO_modulo"
procura="NO,,"
segnatura="AventeTitolo"
tipo_modulo="principale"
urlhelp="/modulistica/moduli/M0803-TRASM-DOC-INTEG"
verifica_pagamento="NO"
versione="1.0|06/04/2016"
generabile_da="M0801-ACC-CONS-ATTI-EDI" />

<meta codice_allegato="GEN-ALTRI-ALLEGATI"
urn_allegato="document:c_l378:allegato.altri.allegati"
descrizione_estesa="Altri allegati"
filename="Altri allegati.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-ALTRI-ALLEGATI"
name="GLOBO_allegato"
numero="0"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="INFORM-TRATT-DATI-ARCHIVIO"
urn_allegato="document:c_l378:allegato.informativa.trattamento.dati.archivio"
descrizione_estesa="Informativa trattamento dati ARCHIVIO"
filename="INFORM-TRATT-DATI-ARCHIVIO.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/INFORM-TRATT-DATI-ARCHIVIO"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_report="CSP_SESSION_REPORT"
generate_on="sending"
name="GLOBO_report"
urn_report="report:CSP_SESSION_REPORT"/>

{% endblock meta %}

<!--{% block simpaticoconfig %}
  {% set simpaticoEservice="6" %}
  {% set simpaticoEserviceName="Trasmissione documentazione integrativa" %}
  {% set simpaticoEserviceURL="https://sportello.comune.trento.it/modulistica/moduli/M47011-TRASM-DOC-INTEG" %}  
  {% set simpaticoForm="main" %}
  {% set simpaticoCategory="Edilizia" %}
  {% set simpaticoMapping=["AventeTitolo_Cognome",
                          "AventeTitolo_Nome",
                          "AventeTitolo_CodiceFiscale",
                          "AventeTitolo_DataNascita",
                          "AventeTitolo_Sesso",
                          "AventeTitolo_Cittadinanza",
                          "AventeTitolo_LuogoNascita",
                          "AventeTitolo_ProvinciaResidenza",
                          "AventeTitolo_ComuneResidenza",
                          "AventeTitolo_ViaResidenza",
                          "AventeTitolo_CivicoResidenza",
                          "AventeTitolo_CAPResidenza",
                          "AventeTitolo_Telefono",
                          "AventeTitolo_Tel_Fisso",
                          "AventeTitolo_EMail",
                          "AventeTitolo_EMailPEC",
                          "Progettista_Cognome",
                          "Progettista_Nome",
                          "Progettista_CodiceFiscale",
                          "Progettista_DataNascita",
                          "Progettista_Sesso",
                          "Progettista_Cittadinanza",
                          "Progettista_LuogoNascita",
                          "Progettista_PartitaIVA",
                          "Progettista_Attributi_Albo",
                          "Progettista_Attributi_DellaProvincia",
                          "Progettista_Attributi_AlNumero",
                          "Progettista_ProvinciaStudio",
                          "Progettista_ComuneStudio",
                          "Progettista_ViaStudio",
                          "Progettista_CivicoStudio",
                          "Progettista_CAPStudio",
                          "Progettista_TelefonoStudio",
                          "Progettista_Tel_FissoStudio",
                          "Progettista_EMailPEC"] %}

  {% set ERROR_LABELS=[ ('block1' , 'Selezionare una delle opzioni'),
                        ('block2' , 'Inserire il nominativo del proprietario o soggetto avente titolo idoneo'),
                        ('block3' , 'Selezionare il ruolo'),
                        ('block5' , 'Inserire il nominativo del progettista'),
                        ('block6' , 'Inserire i riferimenti alla pratica per cui si sta trasmettendo una integrazione'),
                        ('block7' , 'Particella edilizia non valida'),
                        ('block8' , 'Indirizzo non inserito'),
                        ('block9' , 'Indirizzo non verificato'),
                        ('block10' , 'Selezionare una delle opzioni'),
                        ('block11' , 'Selezionare una delle opzioni'),
                        ('block13' , 'Selezionare una delle opzioni')] %}
  {{ utilsSimpatico.ScriptSimpatico(simpaticoEservice, simpaticoEserviceName, simpaticoEserviceURL, simpaticoForm, simpaticoCategory, simpaticoMapping, ERROR_LABELS ) }}
{% endblock simpaticoconfig %}-->


{% block title %}M0803-TRASMISSIONE-DOCUMENTAZIONE-INTEGRATIVA{% endblock title %}

{% block content %}

<input dynamic_value="#Ente.value()" id="Parametri_Comune" name="Parametri_Comune" type="hidden" />

<input dynamic_value="'Domanda di integrazione per richiesta accesso/consultazione atti in materia edilizia' + #AventeTitolo_Cognome.value() + ' ' +  #AventeTitolo_Nome.value() + ' (' + #AventeTitolo_CodiceFiscale.value() + ')' " id="Oggetto" name="Oggetto" type="hidden" />

{{ intestazioni.intestazione_moduloprincipale_senzabollo() }}

<br>

<input type="hidden" name="TipoContesto" id="TipoContesto" value="GLOBO">
<input type="hidden" name="TipoLista" id="TipoLista" value="PGLOBO">

<h1 class="Modulo">
  Trasmissione documentazione integrativa
</h1>

<!--<input id="fisso_obbligatorio" name="fisso_obbligatorio" dynamic_check="true" type="hidden" />-->
<input id="cellulare_obbligatorio" name="cellulare_obbligatorio" dynamic_check="true" type="hidden" />
{{anagrafica_trento_uniformata.richiedente_nomail("AventeTitolo","Il/La sottoscritto/a, avente codice fiscale:", "visibility:visibility", "cursor:pointer", "visibility:visibility")}} 

<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="12">
        <p><b>in qualità di:</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="Tipo_richiedente" name="Tipo_richiedente" label="Tipo richiedente" mandatory_enabled="true"> </div>
        <input group="Tipo_richiedente" id="Tipo_richiedente1" name="Tipo_richiedente" type="radio" value="1" />
      </td>
      <td colspan="11">
        <p>Proprietario dell'immobile oggetto della richiesta presentata</p>
      </td>
    </tr>  
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Tipo_richiedente" id="Tipo_richiedente6" name="Tipo_richiedente" type="radio" value="6" />
      </td>
      <td colspan="11">
        <p>Amministratore del condominio oggetto della richiesta presentata</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Tipo_richiedente" id="Tipo_richiedente2" name="Tipo_richiedente" type="radio" value="2" />
      </td>
      <td colspan="11">
        <p>Professionista/Agente immobiliare incaricato</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Tipo_richiedente" id="Tipo_richiedente3" name="Tipo_richiedente" type="radio" value="3" />
      </td>
      <td colspan="11">
        <p>Notaio rogante</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Tipo_richiedente" id="Tipo_richiedente4" name="Tipo_richiedente" type="radio" value="4" />
      </td>
      <td colspan="11">
        <p>Confinante</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Tipo_richiedente" id="Tipo_richiedente5" name="Tipo_richiedente" type="radio" value="5" />
      </td>
      <td colspan="11">
        <p>Altro titolo: <input class="" id="altro_tipo_richiedente" name="altro_tipo_richiedente" size="90" mandatory_enabled="#Tipo_richiedente5.checked()" label="Specificare titolo per effettuare la richiesta"/></p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="3">
        <p style="line-height:1.6;">
          <b>In riferimento all'istanza</b>
        </p>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <p style="line-height:1.6;">Intestata a: <input class="" label="Intestatario" id="Intestatario_istanza" name="Intestatario_istanza" dynamic_value="'  ' + #AventeTitolo_Cognome.value().toUpperCase() + ',' + #AventeTitolo_Nome.value().toUpperCase()" style="width:89%;"/> </p>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td class="Labelcella" style="width:60%">
        <p style="font-size:75%;">Tipologia istanza</p>
      </td>
      <td class="Labelcella" style="width:20%">
        <p style="font-size:75%;">Num. Protocollo</p>
      </td>
      <td class="Labelcella" style="width:20%">
        <p style="font-size:75%;">Data</p>
      </td>
    </tr>
    <tr>
      <td>
        <input class="" id="Tipo_istanza" name="Tipo_istanza" style="width:100%" label="Tipo istanza" dynamic_value="'Richiesta di accesso/consultazione atti in materia edilizia'" readonly />
      </td>
      <td>
        <input class="" label="Numero protocollo" id="Numero_protocollo" name="Numero_protocollo" mandatory_enabled="true" style="width:100%"/>
      </td>
      <td>
        <input class="" label="Data protocollazione" id="Data_protocollazione" name="Data_protocollazione" format="date" mandatory_enabled="true" style="width:100%"/>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="12">
        <p style="line-height:1.6;">
          <b>Con la quale si richiedeva:</b>
        </p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; text-align: center; width: 4%;" rowspan="26">
        <div id="Servizio_richiesto" name="Servizio_richiesto" label="Servizio richiesto" mandatory_enabled="true"> </div>
        <input group="Servizio_richiesto" id="Servizio_richiesto2" name="Servizio_richiesto2" type="checkbox" value="2" /> 
      </td>
      <td colspan="12">
        <p style="line-height:1.6;">L'<b>ACCESSO</b> agli atti e ai documenti <span style="font-size:85%;"><i>&nbsp;&nbsp;&nbsp;(Ai sensi dell'articolo 22 e seguenti della Legge 07/08/1990, n. 241)</i></span></p>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td colspan="12">
        <p style="line-height:1.6; "><b>riguardanti le seguenti realtà immobiliari:</b></p>
      </td>
    </tr>

    <input id="accesso1_DatiCatastaliObbligatori" name="accesso1_DatiCatastaliObbligatori" dynamic_value="#Servizio_richiesto2.checked() ? 'vero' : 'falso'"  type="hidden"/>
    <input id="accesso1_DatiCatastaliAbilitati" name="accesso1_DatiCatastaliAbilitati" dynamic_value="#Servizio_richiesto2.checked() ? 'vero' : 'falso'" type="hidden" />
    {{ immobili_trento_uniformata.immobile_semplice_novia(prefix='accesso1', intestazione="Particella #1") }}

    <tr class="Rigaintestazioneridotta"><td colspan="11"></td></tr>
    <input class="" id="accesso2_DatiCatastaliAbilitati" name="accesso2_DatiCatastaliAbilitati" dynamic_value="#Servizio_richiesto2.checked() ? 'vero' : 'falso'" type="hidden" />
    {{ immobili_trento_uniformata.immobile_semplice_novia(prefix='accesso2', intestazione="Particella #2") }}

    <tr class="Rigaintestazioneridotta"><td colspan="11"></td></tr>
    <input class="" id="accesso3_DatiCatastaliAbilitati" name="accesso3_DatiCatastaliAbilitati" dynamic_value="#Servizio_richiesto2.checked() ? 'vero' : 'falso'" type="hidden" />
    {{ immobili_trento_uniformata.immobile_semplice_novia(prefix='accesso3', intestazione="Particella #3") }}

    <tr class="Rigaintestazioneridotta"><td colspan="11"></td></tr>
    <input class="" id="accesso4_DatiCatastaliAbilitati" name="accesso4_DatiCatastaliAbilitati" dynamic_value="#Servizio_richiesto2.checked() ? 'vero' : 'falso'" type="hidden" />
    {{ immobili_trento_uniformata.immobile_semplice_novia(prefix='accesso4', intestazione="Particella #4") }}

    <tr class="Rigaintestazioneridotta"><td colspan="11"></td></tr>
    <tr class="Rigaintestazioneridotta">
      <td colspan="11">
        <p style="line-height:1.6;"><b>CHIEDENDO, per tali documenti:</b></p>
      </td>
    </tr>  
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <div id="Tipo_accesso" name="Tipo_accesso" label="Servizio Tipo_accesso" mandatory_enabled="#Servizio_richiesto2.checked()"> </div>
        <input group="Tipo_accesso" id="Tipo_accesso1" name="Tipo_accesso1" type="checkbox" value="1" /> 
      </td>
      <td colspan="10">Presa visione</td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <input group="Tipo_accesso" id="Tipo_accesso3" name="Tipo_accesso3" type="checkbox" value="3" /> 
      </td>
      <td colspan="10">Estrazione copia in carta semplice</td>
    </tr>
    <tr>
      <td style="vertical-align: top; text-align: center; width: 4%;">
        <input group="Tipo_accesso" id="Tipo_accesso4" name="Tipo_accesso4" type="checkbox" value="4" /> 
      </td>
      <td colspan="10">
        <p style="line-height:1.6;">Estrazione copia conforme all'originale
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta"><td colspan="12"></td></tr>
    <tr>
      <td style="vertical-align: top; text-align: center; width: 4%;" rowspan="21">
        <input group="Servizio_richiesto" id="Servizio_richiesto1" name="Servizio_richiesto1" type="checkbox" value="1" /> 
      </td>
      <td colspan="11">
        <p style="line-height:1.6;"><b>COPIA</b> deglii atti conservati presso l'Archivio Storico</p>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td colspan="11">
        <p style="line-height:1.6;"><b>riguardanti le seguenti realtà immobiliari:</b></p>
      </td>
    </tr>
    
    <input class="" id="consultazione1_DatiCatastaliObbligatori" name="consultazione1_DatiCatastaliObbligatori" dynamic_value="#Servizio_richiesto1.checked() ? 'vero' : 'falso'" type="hidden"/>
    <input class="" id="consultazione1_DatiCatastaliAbilitati" name="consultazione1_DatiCatastaliAbilitati" dynamic_value="#Servizio_richiesto1.checked() ? 'vero' : 'falso'" type="hidden"/>
    {{ immobili_trento_uniformata.immobile_semplice_novia(prefix='consultazione1', intestazione="Particella #1") }}
    <tr class="Rigaintestazioneridotta"><td colspan="11"></td></tr>
    <input class="" id="consultazione2_DatiCatastaliAbilitati" name="consultazione2_DatiCatastaliAbilitati" dynamic_value="#Servizio_richiesto1.checked() ? 'vero' : 'falso'" type="hidden" />
    {{ immobili_trento_uniformata.immobile_semplice_novia(prefix='consultazione2', intestazione="Particella #2") }}

    <tr class="Rigaintestazioneridotta"><td colspan="11"></td></tr>
    <input class="" id="consultazione3_DatiCatastaliAbilitati" name="consultazione3_DatiCatastaliAbilitati" dynamic_value="#Servizio_richiesto1.checked() ? 'vero' : 'falso'" type="hidden" />
    {{ immobili_trento_uniformata.immobile_semplice_novia(prefix='consultazione3', intestazione="Particella #3") }}

    <tr class="Rigaintestazioneridotta"><td colspan="11"></td></tr>
    <input class="" id="consultazione4_DatiCatastaliAbilitati" name="consultazione4_DatiCatastaliAbilitati" dynamic_value="#Servizio_richiesto1.checked() ? 'vero' : 'falso'" type="hidden" />
    {{ immobili_trento_uniformata.immobile_semplice_novia(prefix='consultazione4', intestazione="Particella #4") }}
   
  </tbody>
</table>

<br>
<br>

<div class="simpatico-block simpatico-query-and-answer">

<h1 class="Modulo">TRASMETTE LA SEGUENTE DOCUMENTAZIONE INTEGRATIVA</h1>

<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <textarea class="inputNormal" id="Documentazione_integrativa" name="Documentazione_integrativa" label="Documentazione_integrativa" style="width:100%;height:5cm" mandatory_enabled="true" maxlength="270">
        </textarea>
      </td>
    </tr>
  </tbody>
</table>

<table class="Modulo simpatico-block simpatico-query-and-answer" name="Allegati" style="border: 1px solid grey">
  <tbody>
    <tr>
			<td style="width: 4%; vertical-align: top;">
				<input id="Integrazione_documentazione" name="Integrazione_documentazione" dynamic_check="true" type="checkbox" checked="checked" value="OBBLIGATORIO" />
			</td>
			<td style="background-color: #eeeeee;" colspan="2">
				<p style="line-height:1.6;">Inserire il numero di file che verranno allegati:  <input class="" type="number" id="Nintegr" label="Numero file integrativi" mandatory_enabled="true" name="Nintegr" size="1" min="0" max="100"/><br><b>Attenzione!</b> Limite max di 20 MB per allegato
        </p>
			</td>
		</tr>
  </tbody>
</table>

<input id="GLOBO_allegato_cALTRI-ALLEGATI" name="GLOBO_allegato_cALTRI-ALLEGATI" numero="#Nintegr.value()" obbligatorio="'OBBLIGATORIO'" type="hidden" value=""/>

</div>

<br>
<br>

<table class="Modulo" name="Accettazione_Informativa_dati" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <div id="Presa_visione" name="Presa_visione" label="Dichiarazione presa visione" mandatory_enabled="true"> </div>
        <input group="Presa_visione" id="Presa_visione_check" name="Presa_visione_check" type="checkbox" value="1" />
      </td>
      <td colspan="2" style="background-color: #eeeeee;">
        <p style="line-height:1.4;"><b>Dichiaro di preso visione dell'<a href="https://sportello.comune.trento.it/document/inform-tratt-dati-archivio" target="_blank">informativa sul trattamento dei dati personali</a></b> <br><span style="font-size:85%"><i>(artt. 13 e 14 Regolamento UE n. 2016/679)</i></span></p>
      </td>
    </tr>
  </tbody>
</table>


<br>
<br>

<table class="Modulo" name="Luogo_e_data" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="width: 20%; text-align: center;">
        <input class="" id="Luogo_PDF" name="Luogo_PDF" style="width:90%; text-align: center;" type="text"/>
      </td>
      <td style="width: 15%; text-align: center;">
        <input class="" id="Data_PDF" name="Data_PDF" style="width:90%; text-align: center;" type="text"/>
      </td>
      <td style="width: 65%; text-align: center; height: 1.5cm;">
        <input class="" id="nominativo_richiedente" name="nominativo_richiedente" dynamic_value="' ' + #AventeTitolo_Nome.value().toUpperCase() + ' ' + #AventeTitolo_Cognome.value().toUpperCase()" style="width: 90%; text-align: center;"/>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td>
        <p class="Labelcella" style="text-align: center">Luogo</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Data</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Il richiedente <span style="font-size:95%"><i>(accesso eseguito mediante SPID o CPS/CNS)</i></span></p>
      </td>
    </tr>
  </tbody>
</table>

<br>

<p class="Modulo">
  <input id="SalvaModulo" name="SalvaModulo" style="height:30px;width:120px;" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza." type="submit" value="Salva modulo" />
</p>

<input destinatario_amministrazione="getParameter('Ente')" id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value="" />


<input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden" />
<input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden" />
<input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}" />

<input id="Metadati_oggetto" name="Metadati_oggetto" dynamic_value="#Oggetto.value()" type="hidden"/>

{% endblock content %}
