{% set CodiceModulo = "M0801-ACC-CONS-ATTI-EDI" %}
{% set Urn = "document:c_l378:accesso.atti.edilizia;richiesta.accesso;m0801.accesso.atti" %}
{% extends "base_trento_ok.html" %}

{% block meta %}

<meta campi_firma="AventeTitolo_CodiceFiscale"
campi_firma_label="il dichiarante"
classi_modulo="Tributi"
codice_modulo="{{ CodiceModulo }}"
urn="{{ Urn }}"
sub_urn_list=""
uo_globo_list=""
contesto_procedurale="Richiesta di accesso consultazione atti in materia edilizia"
descrizione="Richiesta di accesso consultazione atti in materia edilizia"
destinatario_amministrazione=""
destinatario_ufficio="94SMCB"
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="SI"
firmare="NO"
istruzioni_compilazione=""
istruzioni_invio="mail_pec"
metodo_invio="mail"
name="GLOBO_modulo"
procura="NO,,"
segnatura="AventeTitolo"
tipo_modulo="principale"
urlhelp="/modulistica/moduli/M0801-ACC-CONS-ATTI-EDI"
verifica_pagamento="NO"
versione="1.0|23/02/2018" />

<meta codice_modulo_figlio="M0801-MSEC01-MOD-DELEGA-AU"
urn_modulo_figlio="document:c_l378:accesso.atti.edilizia;richiesta.accesso;msec01.m0801.modello.delega.au"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<meta codice_modulo_figlio="M0801-MSEC02-MOD-DELEGA-EL"
urn_modulo_figlio="document:c_l378:accesso.atti.edilizia;richiesta.accesso;msec02.m0801.modello.delega.el"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<meta codice_allegato="M0801-A01-DOC-GIUST"
urn_allegato="document:c_l378:accesso.atti.edilizia;richiesta.accesso;a01.m0801.doc.giust"
descrizione_estesa="Allegato - Documentazione giustificativa degli interessi"
filename="Documentazione giustificativa.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/M0801-A01-DOC-GIUST"
name="GLOBO_allegato"
numero="0"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-ALTRI-ALLEGATI"
urn_allegato="document:c_l378:allegato.altri.allegati"
descrizione_estesa="Altri allegati"
filename="Altri allegati.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-ALTRI-ALLEGATI"
name="GLOBO_allegato"
numero="0"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="INFORM-TRATT-DATI-ARCHIVIO"
urn_allegato="document:c_l378:allegato.informativa.trattamento.dati.archivio"
descrizione_estesa="Informativa trattamento dati ARCHIVIO"
filename="INFORM-TRATT-DATI-ARCHIVIO.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/INFORM-TRATT-DATI-ARCHIVIO"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_report="CSP_SESSION_REPORT"
generate_on="sending"
name="GLOBO_report"
urn_report="report:CSP_SESSION_REPORT"
/>

{% endblock meta %}

{% block title %}DOMANDA-DI-ACCESSO-CONSULTAZIONE-ATTI-IN-MATERIA-EDILIZIA{% endblock title %}

{% block content %}

<input dynamic_value="#Ente.value()" id="Parametri_Comune" name="Parametri_Comune" type="hidden" />

<!-- GESTIONE DINAMICA DEL TESTO DI OGGETTO -->
<input dynamic_value="#Tipo_professionista2.checked() ? #Oggetto_Delegato.value() : #Oggetto_No_Delegato.value()" id="Oggetto" name="Oggetto" style="width:100%;" type="hidden"/>
<input dynamic_value="'Domanda di accesso/consultazione - Richiedente: ' + #AventeTitolo_Cognome.value() + ' ' + #AventeTitolo_Nome.value() + ' (' + #AventeTitolo_CodiceFiscale.value() + ') Particelle Edificiale ' + #num_part_oggetto.value() + ' - Comune: ' + #com_part_oggetto.value()" id="Oggetto_No_Delegato" name="Oggetto_No_Delegato" type="hidden" />
<input dynamic_value="'Domanda di accesso/consultazione - Richiedente: ' + #AventeTitolo_Cognome.value() + ' ' + #AventeTitolo_Nome.value() + ' (' + #AventeTitolo_CodiceFiscale.value() + ') Particelle Edificiale' + #num_part_oggetto.value() + ' - Comune: ' + #com_part_oggetto.value() + ' - Delegato ' + #Referente_CodiceFiscale.value() " id="Oggetto_Delegato" name="Oggetto_Delegato" type="hidden" />

{{ intestazioni.intestazione_moduloprincipale_senzabollo() }}

<br>

<h1 class="Modulo">
  DOMANDA DI ACCESSO/CONSULTAZIONE AGLI ATTI IN MATERIA EDILIZIA
</h1>

<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td>
        <p style="line-height:1.6;"><i>Ai sensi degli artt. 46 e 47 del D.P.R. 445/2000 e s.m., consapevole delle sanzioni penali, ai sensi dell’art. 76 del D.P.R. 445 del 28.12.2000 e s.m., nel caso di attestazioni non veritiere e falsità negli atti</i></p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<input type="hidden" name="TipoContesto" id="TipoContesto" value="GLOBO">
<input type="hidden" name="TipoLista" id="TipoLista" value="PGLOBO">

<!--<input id="fisso_obbligatorio" name="fisso_obbligatorio" dynamic_check="true" type="hidden" />-->
<input id="cellulare_obbligatorio" name="cellulare_obbligatorio" dynamic_check="true" type="hidden" />
<input id="mail_obbligatoria" name="mail_obbligatoria" dynamic_check="true" type="hidden" />
<!--<input id="pec_obbligatoria" name="pec_obbligatoria" dynamic_check="true" type="hidden" />-->
{{anagrafica_trento_uniformata.richiedente_elettorale("AventeTitolo","Il/La sottoscritto/a, avente codice fiscale:", "visibility:visibility", "cursor:pointer", "visibility:visibility")}} 

<br>
<br>

<!--------------------- INIZIO BLOCCO IN QUALITA' DI --------------------->

<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="12">
        <p style="line-height:1.6;"><b>in qualità di:</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <div id="Tipo_richiedente" name="Tipo_richiedente" label="Tipo richiedente richiesto" mandatory_enabled="true"> </div>
        <input group="Tipo_richiedente" id="Tipo_richiedente1" name="Tipo_richiedente" type="radio" value="1" />
      </td>
      <td colspan="11">
        <p style="line-height:1.6;"><b>Proprietario dell'immobile oggetto della richiesta presentata</b></p>
      </td>
    </tr>  
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <input group="Tipo_richiedente" id="Tipo_richiedente6" name="Tipo_richiedente" type="radio" value="6" />
      </td>
      <td colspan="11">
        <p style="line-height:1.6;"><b>Amministratore del condominio oggetto della richiesta presentata</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; text-align: center; width: 4%;" rowspan="8">
        <input group="Tipo_richiedente" id="Tipo_richiedente2" name="Tipo_richiedente" type="radio" value="2" />
      </td>
      <td colspan="11">
        <p style="line-height:1.6;"><b>Professionista/Agente immobiliare incaricato</b></p>
      </td>
    </tr>
    
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <div id="Tipo_professionista" name="Tipo_professionista" label="Tipo professionista richiesto" mandatory_enabled="#Tipo_richiedente2.checked()"> </div>
        <input group="Tipo_professionista" id="Tipo_professionista1" name="Tipo_professionista" type="radio" value="1" />
      </td>
      <td colspan="10">dal tribunale o altro organo giudiziario</td>
    </tr>

    <tr>
      <td style="vertical-align: top; text-align: center; width: 4%;" rowspan="5">
        <input group="Tipo_professionista" id="Tipo_professionista2" name="Tipo_professionista" type="radio" value="2" />
      </td>
      <td colspan="10">dal proprietario dell'immobile oggetto della richiesta presentata:</td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td colspan="4">
        <p class="Labelcella">Cognome</p>
      </td>
      <td colspan="6">
        <p class="Labelcella">Nome</p>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <input class="" id="Referente_Cognome" name="Referente_Cognome" label="Cognome del proprietario dell'immobile" style="width:100%;" enabled="#Tipo_professionista2.checked()"/>
      </td>
      <td colspan="6">
        <input class="" id="Referente_Nome" name="Referente_Nome" label="Nome del proprietario dell'immobile" style="width:100%;" enabled="#Tipo_professionista2.checked()"/>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td colspan="4">
        <p class="Labelcella">Codice Fiscale</p>
      </td>
      <td colspan="6">
        <p class="Labelcella">Indirizzo</p>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <input class="" id="Referente_CodiceFiscale" name="Referente_CodiceFiscale" label="Codice fiscale del proprietario dell'immobile" style="width:100%;" mandatory_enabled="#Tipo_professionista2.checked()"/>
      </td>
      <td colspan="6">
        <input class="" id="Referente_ViaResidenza" name="Referente_ViaResidenza" label="Indirizzo del proprietario dell'immobile" style="width:100%;" enabled="#Tipo_professionista2.checked()"/>
      </td>
    </tr>
    
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <input group="Tipo_professionista" id="Tipo_professionista3" name="Tipo_professionista" type="radio" value="3" />
      </td>
      <td colspan="11">da altro soggetto: <input class="" id="altro_tipo_incarico" name="altro_tipo_incarico" style="width: 100%;" mandatory_enabled="#Tipo_professionista3.checked()" label="Specificare da chi si è incaricati"/></td>
    </tr>

    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <input group="Tipo_richiedente" id="Tipo_richiedente3" name="Tipo_richiedente" type="radio" value="3" />
      </td>
      <td colspan="11">
        <p style="line-height:1.6;"><b>Notaio rogante</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; text-align: center; width: 4%;" rowspan="5">
        <input group="Tipo_richiedente" id="Tipo_richiedente4" name="Tipo_richiedente" type="radio" value="4" />
      </td>
      <td colspan="11">
        <p style="line-height:1.6;"><b>Confinante</b></p>
      </td>
    </tr>
    <input id="confinante_DatiCatastaliObbligatori" name="confinante_DatiCatastaliObbligatori" dynamic_value="#Tipo_richiedente4.checked() ? 'vero' : 'falso'" type="hidden"/>
    <input id="confinante_DatiCatastaliAbilitati" name="confinante_DatiCatastaliAbilitati" dynamic_value="#Tipo_richiedente4.checked() ? 'vero' : 'falso'" type="hidden"/>
    {{ immobili_trento_uniformata.immobile_semplice_novia(prefix='confinante', intestazione="e proprietario del seguente immobile:", visibility_intestazione="display:visibility") }}
    
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <input group="Tipo_richiedente" id="Tipo_richiedente5" name="Tipo_richiedente" type="radio" value="5" />
      </td>
      <td colspan="11">
        <p style="line-height:1.6; text-align: left;"><b>Altro titolo:</b> <input id="altro_tipo_richiedente" name="altro_tipo_richiedente" size="90" mandatory_enabled="#Tipo_richiedente5.checked()" label="Specificare titolo per effettuare la richiesta"/></p>
      </td>
    </tr>

  </tbody>
</table>

<!--------------------- POPOLO CAMPO PER MOD INTEGRAZIONE --------------------->
<input id="Referente99_Tipo_Richiedente" name="Referente99_Tipo_Richiedente" type="hidden" dynamic_value="#Tipo_richiedente1.checked() ? 'Proprietario dell\'immobile oggetto della richiesta presentata' : #Tipo_richiedente6.checked() ? 'Amministratore del condominio oggetto della richiesta presentata' : #Tipo_richiedente2.checked() ? 'Professionista/Agente immobiliare incaricato' : #Tipo_richiedente3.checked() ? 'Notaio rogante' : #Tipo_richiedente4.checked() ? 'Confinante' : #Tipo_richiedente5.checked() ? #altro_tipo_richiedente.value() : '' ">

<!--------------------- FINE BLOCCO IN QUALITA' DI --------------------->



<br>
<br>

<!-------------- INIZIO BLOCCO GESTIONE PARTICELLE PER ACCESSO -------------->

<h1 class="Modulo">CHIEDE</h1>

<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="vertical-align: top; text-align: center; width: 4%;" rowspan="30">
        <div id="Servizio_richiesto" name="Servizio_richiesto" label="Servizio richiesto" mandatory_enabled="true"> </div>
        <input group="Servizio_richiesto" id="Servizio_richiesto2" name="Servizio_richiesto2" type="checkbox" value="2" /> 
      </td>
      <td colspan="12">
        <p style="line-height:1.6;">L'<b>ACCESSO</b> agli atti e ai documenti <span style="font-size:85%;"><i>&nbsp;&nbsp;&nbsp;(Ai sensi dell'articolo 22 e seguenti della Legge 07/08/1990, n. 241)</i></span></p>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td colspan="12">
        <p style="line-height:1.6; "><b>riguardanti le seguenti realtà immobiliari:</b></p>
      </td>
    </tr>

    <input id="Immobile1_DatiCatastaliObbligatori" name="Immobile1_DatiCatastaliObbligatori" dynamic_value="#Servizio_richiesto2.checked() ? 'vero' : 'falso'"  type="hidden"/>
    <input id="Immobile1_DatiCatastaliAbilitati" name="Immobile1_DatiCatastaliAbilitati" dynamic_value="#Servizio_richiesto2.checked() ? 'vero' : 'falso'" type="hidden" />
    {{ immobili_trento_uniformata.immobile_semplice_novia(prefix='Immobile1', intestazione="Particella #1") }}

    <tr class="Rigaintestazioneridotta"><td colspan="11"></td></tr>
    <input class="" id="Immobile2_DatiCatastaliAbilitati" name="Immobile2_DatiCatastaliAbilitati" dynamic_value="#Servizio_richiesto2.checked() ? 'vero' : 'falso'" type="hidden" />
    {{ immobili_trento_uniformata.immobile_semplice_novia(prefix='Immobile2', intestazione="Particella #2") }}

    <tr class="Rigaintestazioneridotta"><td colspan="11"></td></tr>
    <input class="" id="Immobile3_DatiCatastaliAbilitati" name="Immobile3_DatiCatastaliAbilitati" dynamic_value="#Servizio_richiesto2.checked() ? 'vero' : 'falso'" type="hidden" />
    {{ immobili_trento_uniformata.immobile_semplice_novia(prefix='Immobile3', intestazione="Particella #3") }}

    <tr class="Rigaintestazioneridotta"><td colspan="11"></td></tr>
    <input class="" id="Immobile4_DatiCatastaliAbilitati" name="Immobile4_DatiCatastaliAbilitati" dynamic_value="#Servizio_richiesto2.checked() ? 'vero' : 'falso'" type="hidden" />
    {{ immobili_trento_uniformata.immobile_semplice_novia(prefix='Immobile4', intestazione="Particella #4") }}

    <tr class="Rigaintestazioneridotta"><td colspan="11"></td></tr>
    <tr class="Rigaintestazioneridotta">
      <td colspan="11">
        <p style="line-height:1.6;"><b>CHIEDENDO, per tali documenti:</b></p>
      </td>
    </tr>  
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <div id="Tipo_accesso" name="Tipo_accesso" label="Servizio Tipo_accesso" mandatory_enabled="#Servizio_richiesto2.checked()"> </div>
        <input group="Tipo_accesso" id="Tipo_accesso1" name="Tipo_accesso1" type="checkbox" value="1" /> 
      </td>
      <td colspan="10">Presa visione</td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <input group="Tipo_accesso" id="Tipo_accesso3" name="Tipo_accesso3" type="checkbox" value="3" /> 
      </td>
      <td colspan="10">Estrazione copia in carta semplice</td>
    </tr>
    <tr>
      <td style="vertical-align: top; text-align: center; width: 4%;" rowspan="5">
        <input group="Tipo_accesso" id="Tipo_accesso4" name="Tipo_accesso4" type="checkbox" value="4" /> 
      </td>
      <td colspan="10">
        <p style="line-height:1.6;">Estrazione copia conforme all'originale
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; text-align: center; width: 4%;" rowspan="3">
        <div id="esenz_bollo" name="esenz_bollo" label="Esenzione bollo" mandatory_enabled="#Tipo_accesso4.checked()"> </div>
        <input group="esenz_bollo" id="esenz_bollo1" name="esenz_bollo" type="radio" value="1" /> 
      </td>
      <td colspan="9">
        <p style="line-height:1.6;">per la quale viene annullata la seguente <b>marca da bollo</b>:</p> <span style="font-size:85%;"><i>(per informazioni sulle modalità di pagamento dell'imposta di bollo consultare la pagina: <a href="https://sportello.comune.trento.it/action%3As_italia%3Apagare%3Bimposta.bollo" target="_blank">Come pagare? </i></a>)</span>
      </td>
    </tr>
    <tr>
      <td colspan="9">
        <input class="" id="Parametri_NumeroBollo" label="Numero seriale marca da bollo" mandatory_enabled="#esenz_bollo1.checked()" name="Parametri_NumeroBollo" style="width:100%;" type="text" format="regular_expression" expression="^[0-9]{14}$" maxlength="14"/>
      </td>
    </tr>
    <tr>
      <td colspan="9">
        <p style="line-height:1.6;"><b>Il richiedente si impegna a conservare l'originale della marca da bollo annullata</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <input group="esenz_bollo" id="esenz_bollo2" name="esenz_bollo" type="radio" value="2" /> 
      </td>
      <td colspan="9">
        <p style="line-height:1.6;">per la quale non è necessario annullare marca da bollo in quanto soggetto esente</p>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta"><td colspan="12"></td></tr>

    <!-------------- INIZIO BLOCCO GESTIONE PARTICELLE PER CONSULTAZIONE -------------->

    <tr>
      <td style="vertical-align: top; text-align: center; width: 4%;" rowspan="22">
        <input group="Servizio_richiesto" id="Servizio_richiesto1" name="Servizio_richiesto1" type="checkbox" value="1" /> 
      </td>
      <td colspan="11">
        <p style="line-height:1.6;"><b>COPIA</b> degli atti conservati presso l'Archivio Storico (risalenti a più di 40 anni fa, ovvero prima del 1970)</p>
      </td>
    </tr>
    <tr>
      <td colspan="11">
        <div id="Realta_immobil_copia" name="Realta_immobil_copia" label="Realtà immobiliari le quali si chiede copia" mandatory_enabled="#Servizio_richiesto1.checked()"> </div>
        <p style="line-height:1.6;"><input group="Realta_immobil_copia" id="Realta_immobil_copia1" name="Realta_immobil_copia1" type="checkbox" value="1" />&nbsp; &nbsp; riguardanti le <b>stesse realtà immobiliari</b> per le quali si richiede anche l'accesso</p>
      </td>
    </tr>
    <tr>
      <td colspan="11">
        <p style="line-height:1.6;"><input group="Realta_immobil_copia" id="Realta_immobil_copia2" name="Realta_immobil_copia2" type="checkbox" value="2" />&nbsp; &nbsp; riguardanti le seguenti realtà immobiliari:</p>
      </td>
    </tr>
    
    <input class="" id="Immobile5_DatiCatastaliObbligatori" name="Immobile5_DatiCatastaliObbligatori" dynamic_value="#Realta_immobil_copia2.checked() ? 'vero' : 'falso'" type="hidden"/>
    <input class="" id="Immobile5_DatiCatastaliAbilitati" name="Immobile5_DatiCatastaliAbilitati" dynamic_value="#Realta_immobil_copia2.checked() ? 'vero' : 'falso'" type="hidden"/>
    {{ immobili_trento_uniformata.immobile_semplice_novia(prefix='Immobile5', intestazione="Particella #1") }}
    <tr class="Rigaintestazioneridotta"><td colspan="11"></td></tr>
    <input class="" id="Immobile6_DatiCatastaliAbilitati" name="Immobile6_DatiCatastaliAbilitati" dynamic_value="#Realta_immobil_copia2.checked() ? 'vero' : 'falso'" type="hidden" />
    {{ immobili_trento_uniformata.immobile_semplice_novia(prefix='Immobile6', intestazione="Particella #2") }}

    <tr class="Rigaintestazioneridotta"><td colspan="11"></td></tr>
    <input class="" id="Immobile7_DatiCatastaliAbilitati" name="Immobile7_DatiCatastaliAbilitati" dynamic_value="#Realta_immobil_copia2.checked() ? 'vero' : 'falso'" type="hidden" />
    {{ immobili_trento_uniformata.immobile_semplice_novia(prefix='Immobile7', intestazione="Particella #3") }}

    <tr class="Rigaintestazioneridotta"><td colspan="11"></td></tr>
    <input class="" id="Immobile8_DatiCatastaliAbilitati" name="Immobile8_DatiCatastaliAbilitati" dynamic_value="#Realta_immobil_copia2.checked() ? 'vero' : 'falso'" type="hidden" />
    {{ immobili_trento_uniformata.immobile_semplice_novia(prefix='Immobile8', intestazione="Particella #4") }}
   
  </tbody>
</table>

<!------------- POPOLO CAMPO PER TIPO ACCESSO SU DOC PER INTEGRAZIONE -------------->
<input id="Referente99_Tipologia_Accesso" name="Referente99_Tipologia_Accesso" type="hidden" dynamic_value="#Tipo_accesso1.checked() ? 'Presa visione' : #Tipo_accesso3.checked() ? 'Estrazione copia in carta semplice' : #Tipo_accesso4.checked() ? 'Estrazione copia conforme all\'originale' : '' ">

<!-------------- GESTIONE DINAMICA CONTROLLO NUM PARTICELLE -------------->
<input class="" id="num_part_oggetto" name="num_part_oggetto" style="width:100%;" dynamic_value="#Immobile1_CatNumero.value() != '' ? #Immobile1_CatNumero.value() : #Immobile5_CatNumero.value()" type="hidden"/>
<input class="" id="com_part_oggetto" name="com_part_oggetto" style="width:100%;" dynamic_value="#Immobile1_ComuneCatastale_esteso.value() != '' ? #Immobile1_ComuneCatastale_esteso.value() : #Immobile5_ComuneCatastale_esteso.value()" type="hidden"/>

<!-------------- FINE BLOCCO GESTIONE PARTICELLE PER CONSULTAZIONE -------------->

<br>
<br>


<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="3">
        <p style="line-height:1.6;"><b>dei seguenti atti/documenti amministrativi:</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <div id="tipo_docum_ammin" name="tipo_docum_ammin" label="Tipologia documenti amministrativi" mandatory_enabled="true"> </div>
        <input group="tipo_docum_ammin" id="tipo_docum_ammin1" name="tipo_docum_ammin1" type="checkbox" value="1" />
      </td>
      <td>
        <p style="line-height:1.6;">Titoli abilitativi ed amministrativi edilizi</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <input group="tipo_docum_ammin" id="tipo_docum_ammin2" name="tipo_docum_ammin2" type="checkbox" value="2" />
      </td>
      <td>
        <p style="line-height:1.6;">Certificazioni di abitabilità/agibilità o equipollenti</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; text-align: center; width: 4%;" rowspan="2">
        <input group="tipo_docum_ammin" id="tipo_docum_ammin3" name="tipo_docum_ammin3" type="checkbox" value="3" />
      </td>
      <td>
        <p style="line-height:1.6;">Altro:</p>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <textarea class="inputNormal" id="atti_richiesti" name="atti_richiesti" label="Specificare atti a cui si richiede accesso" style="width:100%;height:2cm;" mandatory_enabled="#tipo_docum_ammin3.checked()"></textarea>
      </td>
    </tr>
  </tbody>
</table>

<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazioneridotta">
      <td colspan="3">
        <p style="font-size: 85%;">Eventuali estremi identificativi dei documenti di riferimento</p>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td style="width:65%;">
        <p style="font-size: 85%;"><b>Tipo di documento</b></p>
      </td>
      <td style="width:20%;">
        <p style="font-size: 85%;"><b>Protocollo/numero</b></p>
      </td>
      <td style="width:15%;">
        <p style="font-size: 85%;"><b>Data</b></p>
      </td>
    </tr>
    <tr>
      <td>
          <input class="" id="Tipo_documento1" name="Tipo_documento1" enabled="true" label="Dati documento 1" style="width:100%;"/>
      </td>
      <td>
          <input class="" id="Prot_documento1" name="Prot_documento1" enabled="true" label="Numero protocollo documento 1" style="width:100%;"/>
      </td>
      <td>
          <input class="" id="Data_documento1" name="Data_documento1" enabled="true" label="Data protocollo documento 1" style="width:100%;" type="date"/>
      </td>
    </tr>
    <tr>
        <td>
            <input class="" id="Tipo_documento2" name="Tipo_documento2" enabled="true" label="Dati documento 2" style="width:100%;"/>
        </td>
        <td>
            <input class="" id="Prot_documento2" name="Prot_documento2" enabled="true" label="Numero protocollo documento 2" style="width:100%;"/>
        </td>
        <td>
            <input class="" id="Data_documento2" name="Data_documento2" enabled="true" label="Data protocollo documento 2" style="width:100%;" type="date"/>
        </td>
    </tr>
    <tr>
        <td>
            <input class="" id="Tipo_documento3" name="Tipo_documento3" enabled="true" label="Dati documento 3" style="width:100%;"/>
        </td>
        <td>
            <input class="" id="Prot_documento3" name="Prot_documento3" enabled="true" label="Numero protocollo documento 3" style="width:100%;"/>
        </td>
        <td>
            <input class="" id="Data_documento3" name="Data_documento3" enabled="true" label="Data protocollo documento 3" style="width:100%;" type="date"/>
        </td>
    </tr>
    <tr>
        <td>
            <input class="" id="Tipo_documento4" name="Tipo_documento4" enabled="true" label="Dati documento 4" style="width:100%;"/>
        </td>
        <td>
            <input class="" id="Prot_documento4" name="Prot_documento4" enabled="true" label="Numero protocollo documento 4" style="width:100%;"/>
        </td>
        <td>
            <input class="" id="Data_documento4" name="Data_documento4" enabled="true" label="Data protocollo documento 4" style="width:100%;" type="date"/>
        </td>
    </tr>
    <tr>
        <td>
            <input class="" id="Tipo_documento5" name="Tipo_documento5" enabled="true" label="Dati documento 5" style="width:100%;"/>
        </td>
        <td>
            <input class="" id="Prot_documento5" name="Prot_documento5" enabled="true" label="Numero protocollo documento 5" style="width:100%;"/>
        </td>
        <td>
            <input class="" id="Data_documento5" name="Data_documento5" enabled="true" label="Data protocollo documento 5" style="width:100%;" type="date"/>
        </td>
    </tr>
  </tbody>
</table>

<br>

<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p style="line-height:1.6;"><b>per le seguenti motivazioni:</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; text-align: center; width: 4%;">
        <div id="tipo_motivaz" name="tipo_motivaz" label="Motivazione della richiesta" mandatory_enabled="true"> </div>
        <input group="tipo_motivaz" id="tipo_motivaz1" name="tipo_motivaz1" type="checkbox" value="1" />
      </td>
      <td>
        <p style="line-height:1.6;">Verifica degli standard urbanistici edilizi relativi all'intera realtà immobiliare sopra richiamata</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; text-align: center; width: 4%;">
        <input group="tipo_motivaz" id="tipo_motivaz2" name="tipo_motivaz2" type="checkbox" value="2" />
      </td>
      <td>
        <p style="line-height:1.6;">Verifica dello stato autorizzato della realtà immobiliare di proprietà, compreso eventuali parti comuni</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; text-align: center; width: 4%;">
        <input group="tipo_motivaz" id="tipo_motivaz3" name="tipo_motivaz3" type="checkbox" value="3" />
      </td>
      <td>
        <p style="line-height:1.6;">Compravendita/passaggio di proprietà</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; text-align: center; width: 4%;" rowspan="2">
        <input group="tipo_motivaz" id="tipo_motivaz4" name="tipo_motivaz4" type="checkbox" value="4" />
      </td>
      <td>
        <p style="line-height:1.6;">Altro:</p>
      </td>
    </tr>
    <tr>
      <td>
        <textarea class="inputNormal" id="motivazione_richiesta" name="motivazione_richiesta" label="Motivazione della richiesta" style="width:100%;height:2cm;" mandatory_enabled="#tipo_motivaz4.checked()"></textarea>
      </td>
    </tr>
  </tbody>
</table>

<br>

<h1 class="Modulo">CHIEDE INOLTRE</h1>

<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <div id="Metodo_ricezione" name="Metodo_ricezione" label="Metodo scelto per ricevere i documenti" mandatory_enabled="true"> </div>
        <input group="Metodo_ricezione" id="Metodo_ricezione1" name="Metodo_ricezione" type="radio" value="1" /> 
      </td>
      <td>di poterli ritirare presso l'ufficio competente</td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <input group="Metodo_ricezione" id="Metodo_ricezione5" name="Metodo_ricezione" type="radio" value="5" /> 
      </td>
      <td><p style="line-height:1.6;">di poterli ritirare presso l'ufficio competente su CD, DVD o supporto USB fornito dall'utente</p></td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <input group="Metodo_ricezione" id="Metodo_ricezione2" name="Metodo_ricezione" type="radio" value="2" /> 
      </td>
      <td><p style="line-height:1.6;"><b>[Metodo consigliato]</b> di riceverli al seguente indirizzo PEC: <input class="" id="PEC_per_invio" name="PEC_per_invio" dynamic_value="#AventeTitolo_EMailPEC.value()" enabled="#Metodo_ricezione2.checked()" size="37" readonly/>
        <br>o tramite servizio di trasferimento dati informatici (es. Pydio, WeTransfer, ecc.)</p>  
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <input group="Metodo_ricezione" id="Metodo_ricezione3" name="Metodo_ricezione" type="radio" value="3" /> 
      </td>
      <td><p style="line-height:1.6;">di riceverli al seguente indirizzo mail: <input class="" id="Mail_per_invio" name="Mail_per_invio" dynamic_value="#AventeTitolo_EMail.value()" enabled="#Metodo_ricezione3.checked()" size="57" readonly/>
        <br>o tramite servizio di trasferimento dati informatici (es. Pydio, WeTransfer, ecc.)</p> 
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <input group="Metodo_ricezione" id="Metodo_ricezione4" name="Metodo_ricezione" type="radio" value="4" /> 
      </td>
      <td>di riceverli a mezzo posta all'indirizzo sopra indicato, previo pagamento delle spese di spedizione</td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo" name="Allegati" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="4">
        <p style="text-align: center; line-height: 1.6;"><b>Elenco degli allegati</b></p>
      </td>
    </tr>
    <tr class="Rigaintestazione">
      <td style="width:4%;">
        <p style="line-height: 1.6; font-size: 85%; text-align: center;">Si allega</p>
      </td>
      <td colspan="2">
        <p style="line-height: 1.6; font-size: 85%; text-align: center;">Titolo allegato</p>
      </td>
      <td style="width:15%;">
        <p style="line-height: 1.6; font-size: 85%; text-align: center;">Numero documenti</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center;">
        <input id="Modulo_delega" name="Modulo_delega" type="checkbox" dynamic_check="#Tipo_richiedente2.checked() || #Tipo_richiedente5.checked()" enabled="#Tipo_richiedente2.checked() || #Tipo_richiedente5.checked()" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height:1.6;">Modulo secondario - <b>Modulo di affidamento dell'incarico firmato dal delegante</b> nella seguente modalità: 
          <select class="inputNormal" id="Tipo_Firma_delega" name="Tipo_Firma_delega" style="width:77%;" label="Tipo firma delega" mandatory_enabled="#Modulo_delega.checked()">
            <option value=""></option>
            <option value="Firma autografa">Firma autografa, allegando copia del documento di identità</option>
            <option value="Firma elettronica">Firma digitale</option>
          </select>
        </p>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input id="numero_mod_delega" name="numero_mod_delega" dynamic_value="(#Tipo_richiedente2.checked() || #Tipo_richiedente5.checked()) ? '1' : 'Non richiesto'" style="width: 90%; text-align: center;" readonly/></p>
        <input id="GLOBO_modulofiglio_cM0801-MSEC01-MOD-DELEGA-AU" name="GLOBO_modulofiglio_cM0801-MSEC01-MOD-DELEGA-AU" obbligatorio="#Tipo_Firma_delega.value() == 'Firma autografa' ? 'OBBLIGATORIO' : ''" type="hidden" />
        <input id="GLOBO_modulofiglio_cM0801-MSEC02-MOD-DELEGA-EL" name="GLOBO_modulofiglio_cM0801-MSEC02-MOD-DELEGA-EL" obbligatorio="#Tipo_Firma_delega.value() == 'Firma elettronica' ? 'OBBLIGATORIO' : ''" type="hidden" />
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <input id="DOC_GIUST" name="DOC_GIUST" type="checkbox" enabled="true" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height:1.6;">Eventuale documentazione giustificativa degli interessi giuridicamente rilevanti e motivi di legittimazione</p>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input id="numero_doc_giustific" name="numero_doc_giustific" mandatory_enabled="#DOC_GIUST.checked()" style="width: 90%; text-align: center;" type="number" min="1" max="100"/></p>
        <input id="GLOBO_allegato_cM0801-A01-DOC-GIUST" name="GLOBO_allegato_cM0801-A01-DOC-GIUST" obbligatorio="#DOC_GIUST.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value="" numero="#numero_doc_giustific.value()"/>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <input id="ALTRI_ALLEGATI" name="ALTRI_ALLEGATI" type="checkbox" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height:1.6;">Altri allegati <i>(specificare)</i>: 
        <input class="" label="Altri allegati" id="AltriAllegati" mandatory_enabled="#ALTRI_ALLEGATI.checked()" name="AltriAllegati" style="width:70%;"/>
        </p>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input id="numero_altri_all" name="numero_altri_all" mandatory_enabled="#ALTRI_ALLEGATI.checked()" style="width: 90%; text-align: center;" type="number" min="1" max="100"/></p>
        <input id="GLOBO_allegato_cGEN-ALTRI-ALLEGATI" name="GLOBO_allegato_cGEN-ALTRI-ALLEGATI" obbligatorio="#ALTRI_ALLEGATI.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value="" numero="#numero_altri_all.value()"/>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo" name="Accettazione_Informativa_dati" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <div id="Presa_visione" name="Presa_visione" label="Dichiarazione presa visione" mandatory_enabled="true"> </div>
        <input group="Presa_visione" id="Presa_visione_check" name="Presa_visione_check" type="checkbox" value="1" />
      </td>
      <td colspan="2" style="background-color: #eeeeee;">
        <p style="line-height:1.6;"><b>Dichiaro di aver preso visione dell'<a href="https://sportello.comune.trento.it/document/inform-tratt-dati-archivio" target="_blank">informativa sul trattamento dei dati personali</a></b> <br><span style="font-size:85%"><i>(artt. 13 e 14 Regolamento UE n. 2016/679)</i></span></p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo" name="Luogo_e_data" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="width: 20%; text-align: center;">
        <input class="" id="Luogo_PDF" name="Luogo_PDF" style="width:90%; text-align: center;" type="text"/>
      </td>
      <td style="width: 15%; text-align: center;">
        <input class="" id="Data_PDF" name="Data_PDF" style="width:90%; text-align: center;" type="text"/>
      </td>
      <td style="width: 65%; text-align: center; height: 1.5cm;">
        <input class="" id="nominativo_richiedente" name="nominativo_richiedente" dynamic_value="' ' + #AventeTitolo_Nome.value().toUpperCase() + ' ' + #AventeTitolo_Cognome.value().toUpperCase()" style="width: 90%; text-align: center;"/>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td>
        <p class="Labelcella" style="text-align: center">Luogo</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Data</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Il richiedente <span style="font-size:95%"><i>(accesso eseguito mediante SPID o CPS/CNS)</i></span></p>
      </td>
    </tr>
  </tbody>
</table>

<p class="Modulo">
  <input id="SalvaModulo" name="SalvaModulo" style="height:30px;width:120px;" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza." type="submit" value="Salva modulo" />
</p>

<input destinatario_amministrazione="getParameter('Ente')" id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value="" />


<input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden" />
<input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden" />
<input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}" />

<input id="Metadati_oggetto" name="Metadati_oggetto" dynamic_value="#Oggetto.value()" type="hidden"/>



<input id="GLOBO_allegato_cINFORM-TRATT-DATI-ARCHIVIO" name="GLOBO_allegato_cINFORM-TRATT-DATI-ARCHIVIO" obbligatorio="''" type="hidden" value=""/>

{% endblock content %}

