{% set CodiceModulo = "M47010-DICHIARAZIONE-ULTIMAZIONE-LAVORI" %}
{% set Urn =  "document:c_l378:ultimazione.lavori;dichiarazione.ultimazione.lavori;m47010.dichiarazione.ultimazione.lavori" %}
<!--{% set modulo_workflow_model =  "https://sportello.comune.trento.it/modulistica/moduli/M47010-DICHIARAZIONE-ULTIMAZIONE-LAVORI_vSTU3" %}-->
{% extends "base_trento_new.html" %}

{% block meta %}

<meta campi_firma="AventeTitolo_CodiceFiscale"
campi_firma_label="il dichiarante"
classi_modulo="Tributi"
codice_modulo="{{ CodiceModulo }}"
urn="{{ Urn }}"
sub_urn_list=""
uo_globo_list=""
contesto_procedurale="Dichiarazione di ultimazione lavori"
descrizione="Dichiarazione di ultimazione lavori"
destinatario_amministrazione=""
destinatario_ufficio="OE7NEF"
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="NO"
firmare="NO"
istruzioni_compilazione=""
istruzioni_invio="mail_pec"
metodo_invio="mail"
name="GLOBO_modulo"
procura="NO,,"
segnatura="AventeTitolo"
tipo_modulo="principale"
urlhelp="/modulistica/moduli/M47010-DICHIARAZIONE-ULTIMAZIONE-LAVORI"
verifica_pagamento="NO"
versione="1.0|06/04/2016" />

<meta codice_allegato="GEN-CDI"
urn_allegato="document:c_l378:allegato.copia.documento.identita"
descrizione_estesa="Copia del documento di identità del titolare"
filename="Documento identita.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-CDI"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-Modulo_compilato_firma_autografa"
urn_allegato="document:c_l378:allegato.copia.modulo.firma.autografa"
descrizione_estesa="Modulo compilato e firmato manualmente"
filename="Modulo_compilato_firma_autografa.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-Modulo_compilato_firma_autografa"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-Modulo_compilato_firma_elettronica"
urn_allegato="document:c_l378:allegato.copia.modulo.firma.elettronica"
descrizione_estesa="Modulo compilato e firmato elettronicamente"
filename="Modulo_compilato_firma_elettronica.pdf"
firmato="SI"
istruzioni="/modulistica/moduli/GEN-Modulo_compilato_firma_elettronica"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_modulo_figlio="M47010-MSEC01-DICH-TECN"
urn_modulo_figlio="document:c_l378:ultimazione.lavori;dichiarazione.ultimazione.lavori;msec01.m47010.dichiarazioni.tecnico"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<meta codice_modulo_figlio="M47010-MSEC02-ULT-TIT-ABIT"
urn_modulo_figlio="document:c_l378:ultimazione.lavori;dichiarazione.ultimazione.lavori;msec02.m47010.ulteriori.titoli.abitativi"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<meta codice_modulo_figlio="M47010-MSEC03-ULT-TIT-ABIT-AU"
urn_modulo_figlio="document:c_l378:ultimazione.lavori;dichiarazione.ultimazione.lavori;msec03.m47010.ulteriori.titoli.abitativi.firma.autografa"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>
<meta codice_modulo_figlio="M47010-MSEC04-ULT-TIT-ABIT-EL"
urn_modulo_figlio="document:c_l378:ultimazione.lavori;dichiarazione.ultimazione.lavori;msec04.m47010.ulteriori.titoli.abitativi.firma.elettronica"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<meta codice_modulo_figlio="GEN-PROGETTISTA"
urn_modulo_figlio="document:c_l378:modulo.secondario.anagrafica.progettista"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<meta codice_modulo_figlio="GEN-PROGETTISTA-DIRLAV"
urn_modulo_figlio="document:c_l378:modulo.secondario.anagrafica.progettista.direttore.lavori"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<meta codice_modulo_figlio="GEN-DIR-LAV-EL"
urn_modulo_figlio="document:c_l378:modulo.secondario.anagrafica.direttore.lavori.firma.elettronica"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<meta codice_modulo_figlio="GEN-IMMAGG"
urn_modulo_figlio="document:c_l378:modulo.secondario.ulteriori.particelle"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<meta codice_modulo_figlio="GEN-IMMAGG-EL"
urn_modulo_figlio="document:c_l378:modulo.secondario.ulteriori.particelle.firma.elettronica"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<meta codice_modulo_figlio="GEN-IMMAGG-AU"
urn_modulo_figlio="document:c_l378:modulo.secondario.ulteriori.particelle.firma.autografa"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<meta codice_modulo_figlio="GEN-INTAGG-EL"
urn_modulo_figlio="document:c_l378:modulo.secondario.ulteriori.intestatari.firma.elettronica"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<meta codice_modulo_figlio="GEN-INTAGG-AU"
urn_modulo_figlio="document:c_l378:modulo.secondario.ulteriori.intestatari.firma.autografa"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<meta codice_allegato="M47010-A01-ASS-DIRETT-LAV"
urn_allegato="document:c_l378:ultimazione.lavori;dichiarazione.ultimazione.lavori;a01.m47010.asseverazione.dirlav"
descrizione_estesa="Asseverazione del direttore lavori"
filename="Asseverazione direttore lavori.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/M47010-A01-ASS-DIRETT-LAV"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="INFORM-TRATT-DATI-EDILIZIA"
urn_allegato="document:c_l378:allegato.informativa.trattamento.dati.edilizia"
descrizione_estesa="Informativa trattamento dati EDILIZIA"
filename="INFORM-TRATT-DATI-EDILIZIA.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/INFORM-TRATT-DATI-EDILIZIA"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_report="CSP_SESSION_REPORT"
generate_on="sending"
name="GLOBO_report"
urn_report="report:CSP_SESSION_REPORT"
/>

<!-- *********** INIZIO ATTIVAZIONE STRUMENTI SIMPATICO ***********
<script type="text/javascript">
    var simpaticoEservice="4"
    var simpaticoForm="main"
    var simpaticoCategory="Edilizia"
    var simpaticoMapping=[ "AventeTitolo_EMailPEC",
                           "AventeTitolo_Fax",
                           "AventeTitolo_EMail"]
    var ERROR_LABELS= {   
                        'block1' : 'Selezionare una delle opzioni',
                        'block2' : 'Inserire il codice fiscale',
                        'block3' : 'Selezionare il ruolo',
                        'block6' : 'Particella edilizia non valida',
                        'block7' : 'Indirizzo non inserito',
                        'block8' : 'Indirizzo non verificato',
                        'block11' : 'Inserire il codice fiscale',
                        'block13' : 'Confermare presa visione informativa sulla privacy'
      }
  
    </script>
*********** FINE ATTIVAZIONE STRUMENTI SIMPATICO *********** -->

{% endblock meta %}

<!--{% block simpaticoconfig %}
{% set simpaticoEservice="1" %}
{% set simpaticoEserviceName="M47750 AUTORIZZAZIIONE CPC" %}
{% set simpaticoEserviceURL="https://sportello.comune.trento.it/modulistica/moduli/M47750-AUTORIZZAZIONE-CPC" %}
{% set simpaticoForm="main" %}
{% set simpaticoCategory="Edilizia" %}
{% set simpaticoMapping=[ "AventeTitolo_EMailPEC","AventeTitolo_Fax","AventeTitolo_EMail"] %}
{% set ERROR_LABELS=[   ('block1' , 'Selezionare una delle opzioni'),
                        ('block2' , 'Inserire il codice fiscale'),
                        ('block3' , 'Selezionare il ruolo'),
                        ('block5' , 'Selezionare la tipologia di autorizzazione/parere richiesta'),
                        ('block7' , 'Specificare la tipologia di intervento'),
                        ('block8' , 'Particella edilizia non valida'),
                        ('block9' , 'Indirizzo non inserito'),
                        ('block10' , 'Indirizzo non verificato'),
                        ('block12' , 'Selezionare una delle opzioni'),
                        ('block13' , 'Definire il ruolo'),
                        ('block14' , 'Inserire il codice fiscale'),
                        ('block15' , 'Selezionare una delle opzioni'),
                        ('block17' , 'Confermare presa visione informativa sulla privacy')] %}
{{ utilsSimpatico.ScriptSimpatico(simpaticoEservice, simpaticoEserviceName, simpaticoEserviceURL, simpaticoForm, simpaticoCategory, simpaticoMapping, ERROR_LABELS ) }}
{% endblock simpaticoconfig %}-->


{% block title %}DICHIARAZIONE DI ULTIMAZIONE LAVORI{% endblock title %}

{% block content %}

<input dynamic_value="#Ente.value()" id="Parametri_Comune" name="Parametri_Comune" type="hidden" />

<input dynamic_value="#AventeTitolo_Cognome.value().toUpperCase() + ' - Dichiarazione di ultimazione lavori'" id="Oggetto" name="Oggetto" type="hidden" />

{{ intestazioni.intestazione_moduloprincipale_senzabollo() }}

<div class="simpatico-block simpatico-query-and-answer">
    <h1 class="Modulo">DICHIARAZIONE DI ULTIMAZIONE LAVORI<br><span style="font-size:75%">(ai sensi degli artt. 93 e 86 della legge provinciale 4 agosto 2015, n. 15)</span></h1>
    <br> 
    <h1 class="Modulo">SEGNALAZIONE CERTIFICATA DI CONFORMITA' DELLE OPERE ESEGUITE AL PROGETTO AUTORIZZATO<br><span style="font-size:75%">(ai sensi dell'articolo 93, comma 2, della legge provinciale 4 agosto 2015, n. 15)</span></h1>
    <br> 
    <h1 class="Modulo">CERTIFICAZIONE FINALE DI REGOLARE ESECUZIONE DELLE OPERE<br><span style="font-size:75%">(articolo 86, comma 5, della legge provinciale 4 agosto 2015, n. 15)</span></h1>
    <br> 
    <h1 class="Modulo">DICHIARAZIONE DI VARIAZIONE CATASTALE<br><span style="font-size:75%">(articolo 86, comma 5, della legge provinciale 4 agosto 2015, n. 15)</span></h1>
    <br> 

    <table class="Modulo" style="border: 1px solid grey">
        <tbody>
            <tr class="Rigaintestazione">
                <td colspan="2">
                    <p style="line-height:1.4;"><b>La compilazione del modulo seguente viene eseguita da:</b></p>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top; width: 4%;">
                    <div id="Tipo_richiedente" name="Tipo_richiedente" label="Tipo richiedente" mandatory_enabled="true"> </div>
                    <input group="Tipo_richiedente" id="Tipo_richiedente1" name="Tipo_richiedente" type="radio" value="1" />
                </td>
                <td>
                    <p style="line-height:1.4;">Titolare o soggetto in possesso di titolo idoneo alla presentazione dell'istanza</p>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top; width: 4%;">
                    <input group="Tipo_richiedente" id="Tipo_richiedente2" name="Tipo_richiedente" type="radio" value="2" />
                </td>
                <td>
                    <p style="line-height:1.4;">Progettista incaricato</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<br>
<br>

{{anagrafica_trento_uniformata.titolare("AventeTitolo","Il/La sottoscritto/a, avente codice fiscale:", ["Persona fisica","Legale rappresentante","Amministratore di condominio"], "visibility:visibility", "cursor:pointer", "visibility:visibility")}} 

<br>
<br>

<div class="simpatico-block simpatico-query-and-answer">
<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="4">
        <p><b>in qualità di titolare dei seguenti atti:</b></p>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td style="width:61%;">
        <p style="font-size: 85%;"><b>Titolo abilitativo</b></p>
      </td>
      <td style="width:20%;">
        <p style="font-size: 85%;"><b>Protocollo/numero</b></p>
      </td>
      <td style="width:15%;">
        <p style="font-size: 85%;"><b>Data</b></p>
      </td>
      <td style="width:4%;">
        <p style="font-size: 85%;"><b>In convenzione</b></p>
      </td>
    </tr>

    {% macro titoli_abitativi(prefix) %}
    {% set prefix = prefix|string %}
    <tr>
      <td>
        <input class="" id="Tipo_documento{{ prefix }}" name="Tipo_documento{{ prefix }}" enabled="true" label="Dati documento {{ prefix }}" style="width:100%;"/>
      </td>
      <td>
        <input class="" id="Prot_documento{{ prefix }}" name="Prot_documento{{ prefix }}" enabled="true" label="Numero protocollo documento {{ prefix }}" style="width:100%;"/>
      </td>
      <td>
        <input class="" id="Data_documento{{ prefix }}" name="Data_documento{{ prefix }}" enabled="true" label="Data protocollo documento {{ prefix }}" style="width:100%;" format="date"/>
      </td>
      <td>
        <input class="" id="Convenz_documento{{ prefix }}" name="Convenz_documento{{ prefix }}" enabled="true" label="Convenzione documento {{ prefix }}" type="checkbox"/>
      </td>
    </tr>
    {%- endmacro %}

    {% for i in range(1, 11) %}
    {{ titoli_abitativi(i) }}
    {% endfor %}
  </tbody>
</table>

<table class="Modulo" style="border:1px solid grey; margin-top:-1px">
  <tbody>
    <tr class="Rigaintestazioneridotta">
      <td>
        <p class="Labelcella">Ulteriori titoli abitativi</p>
      </td>
    </tr>
    <tr>
      <td>
        <p>Esistono ulteriori n°: <input id="NumeroAltriTitoli" name="NumeroAltriTitoli" style="width:5%;" label="Numero altri titoli" enabled="true"/> ulteriori titoli abitativi relativi all'intervento</p>
      </td>
    </tr>
  </tbody>
</table>
</div>

<input id="Metadati_altri_titoli" name="Metadati_altri_titoli" dynamic_value="#{{ prefix }}_NumeroAltriTitoli.value()" type="hidden"/>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td>
        <p style="line-height:1.4;"><b>che hanno legittimato il seguente intervento:</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <textarea class="inputNormal" id="Esecuzione_impianti" name="Esecuzione_impianti" label="impianti eseguiti in:" style="width:100%;height:1cm" mandatory_enabled="true"></textarea>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>
 
<div class="simpatico-block simpatico-query-and-answer">
  <table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td>
        <p style="line-height:1.4;"><b>sull'immobile interessato ai lavori:</b></p>
      </td>
    </tr>
  </tbody>
</table>
  {{immobili_trento.immobile_semplice_ultpart("Immobile")}}
</div>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border:1px solid grey;">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p style="line-height:1.4;">
          <b>Abilitato alla presentazione dell'istanza in quanto:</b>
        </p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="Parametri_Titolo" name="Parametri_Titolo" label="Parametri titolo sottoscrivente" mandatory_enabled="true"></div>
        <input id="Parametri_Titolo1" name="Parametri_Titolo" type="radio" value="1" />
      </td>
      <td>
        <p style="line-height:1.4;">Proprietario</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input id="Parametri_Titolo2" name="Parametri_Titolo" type="radio" value="2" />
      </td>
      <td>
        <p style="line-height:1.4;">Comproprietario</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input id="Parametri_Titolo4" name="Parametri_Titolo" type="radio" value="4" />
      </td>
      <td>
        <p style="line-height:1.4;">Titolare di diritto contrattuale (locatario, titolare di leasing, etc.)</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input id="Parametri_Titolo3" name="Parametri_Titolo" type="radio" value="3" />
      </td>
      <td>
        <p style="line-height:1.4;">Altro: <input class="" id="Tipo_Parametri_Titolo3" name="Tipo_Parametri_Titolo3" label="Altro titolo" mandatory_enabled="#Parametri_Titolo3.checked()" style="width:94%;"/></p>
      </td>
    </tr>
  </tbody>
</table>

<br>
  
<table class="Modulo simpatico-block simpatico-query-and-answer" style="border:1px solid grey;">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p style="line-height:1.4;"><b>Esclusivita' del titolo</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="Tassonomia_Titolo" name="Tassonomia_Titolo" label="Titolo sottoscrivente" mandatory_enabled="true"></div>
        <input id="Tassonomia_Titolo1" name="Tassonomia_Titolo" type="radio" value="1" />
      </td>
      <td>
        <p style="line-height:1.4;">intestatario unico</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input id="Tassonomia_Titolo2" name="Tassonomia_Titolo" type="radio" value="2" />
      </td>
      <td>
        <p style="line-height:1.4;">primo intestatario di altri soggetti</p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<div class="simpatico-block simpatico-query-and-answer">
  <input id="Progettista_checkobbligatorio" name="Progettista_checkobbligatorio" dynamic_check="true" type="hidden" />
  <input id="Progettista_checkabilitato" name="Progettista_checkabilitato" dynamic_check="true" type="hidden" />
  {{anagrafica_trento_uniformata.professionista_direttore_lavori("Progettista","<b>DATI DEL PROGETTISTA</b>:","Progettista") }}

  <table class="Modulo" style="border:1px solid grey;">
    <tbody>
      <tr>
        <td style="vertical-align: top; width: 4%;">
          <input id="Progettista_direttorelavori" name="Progettista_direttorelavori" type="checkbox" enabled="true"/>
        </td>
        <td>
          <p><b>Il progettista è anche il direttore dei lavori</b></p>
        </td>
      </tr>
    </tbody>
  </table>

  <br>

  <table class="Modulo" style="border:1px solid grey;">
    <tbody>
      <tr>
        <td>
          <input style="width:100%" class="Modulo" id="coerenza_richiedente" name="coerenza_richiedente" dynamic_value="#Tipo_richiedente2.checked() and #AventeTitolo_CodiceFiscale.value() == #Progettista_CodiceFiscale.value() ? 'ATTENZIONE: il richiedente e il professionista indicati sono la medesima persona!' : 'OK: proseguire la compilazione'">
        </td>
      </tr>
    </tbody>
  </table>

  <input type="hidden" class="Modulo" id="verifica_coerenza_richiedente" name="verifica_coerenza_richiedente" dynamic_value="#coerenza_richiedente.value() == 'ATTENZIONE: il richiedente e il progettista indicato sono la medesima persona!' ? '' : 'OK'" mandatory="true" label="Compilazione eseguita come professionista ma i CF di richiedente e professionista coincidono, verificare correttezza dei dati immessi">


</div>

<br>
<br>

<div class="simpatico-block simpatico-query-and-answer">
    
  <input id="DirettoreLavori_checkobbligatorio" name="DirettoreLavori_checkobbligatorio" dynamic_check="!#Progettista_direttorelavori.checked()" type="hidden" />
  <input id="DirettoreLavori_checkabilitato" name="DirettoreLavori_checkabilitato" dynamic_check="!#Progettista_direttorelavori.checked()" type="hidden" />
  {{anagrafica_trento_uniformata.solo_nominativo("DirettoreLavori","<b>DATI DEL DIRETTORE DEI LAVORI</b> (se presente):") }}
  
</div>

<br>
<br>

<div class="simpatico-block simpatico-query-and-answer">
    <h1 class="Modulo">COMUNICA</h1>

    <table class="Modulo simpatico-block simpatico-query-and-answer" style="border: 1px solid grey">
        <tbody>
            <tr class="Rigaintestazione">
                <td>
                    <p style="line-height:1.4;">che in data <input class="" id="data_ult_lavori" name="data_ult_lavori" mandatory_enabled="true" size="7" format="date"/> si sono conclusi i lavori previsti dagli atti sopracitati</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<br>
<br>

<div class="simpatico-block simpatico-query-and-answer">
    <h1 class="Modulo">INFORMA</h1>
    
    <table class="Modulo simpatico-block simpatico-query-and-answer" style="border: 1px solid grey">
        <tbody>
            <tr class="Rigaintestazione">
                <td>
                    <p style="line-height:1.4;">in relazione a quanto previsto dall'art. 88 comma 3 del regolamento l.p. 15/2015 in materia di cambio di coltura, 
                    <br>di aver depositato in data <input class="" id="data_comun_forest" name="data_comun_forest" mandatory_enabled="true" size="7" format="date"/> la comunicazione di fine lavori all'autorità Forestale</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" name="Allegati" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="3">
        <p style="text-align: center;"><b>Elenco degli allegati</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width:4%">
        <input id="Modulo_compilato_firmato" name="Modulo_compilato_firmato" type="checkbox" dynamic_check="#Tipo_richiedente2.checked()" enabled="#Tipo_richiedente2.checked()" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p><b>Domanda firmata dal titolare</b> nella seguente modalità: 
          <select class="inputNormal" id="Tipo_Firma_modulo_compilato" name="Tipo_Firma_modulo_compilato" style="width:50%" label="Tipo firma modulo compilato" mandatory_enabled="#Modulo_compilato_firmato.checked()">
            <option value=""></option>
            <option value="Firma autografa">Firma autografa</option>
            <option value="Firma elettronica">Firma elettronica</option>
          </select>
        </p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width:4%">
        <input id="GEN_CDI" name="GEN_CDI" type="checkbox" dynamic_check="#Tipo_richiedente2.checked() and #Tipo_Firma_modulo_compilato.value() == 'Firma autografa'" enabled="#Tipo_richiedente2.checked() and #Tipo_Firma_modulo_compilato.value() == 'Firma autografa'" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p><b>Copia del documento d'identità del titolare</b></p>
      </td>
    </tr>
    <tr>
      <td style="width:4%; vertical-align: top;">
        <input dynamic_check="true" enabled="true" id="GEN_PROG_INC" name="GEN_PROG_INC" type="checkbox" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p>Modulo secondario - <b>Anagrafica del progettista incaricato</b> <input enabled="true" dynamic_value="'firmato con firma elettronica'" id="Tipo_firma_anag_prog" name="Tipo_firma_anag_prog" style="width:45.5%;"/></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width:4%">
        <input id="Dichiar_prog" name="Dichiar_prog" type="checkbox" dynamic_check="true" enabled="true" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height:1.6;">Modulo secondario - <b>Dichiarazioni del progettista</b> <input enabled="#Tipo_richiedente1.checked()" dynamic_value="'firmato con firma elettronica'" id="Tipo_firma_dich_prog" name="Tipo_firma_dich_prog" style="width:53%;" readonly/></p>
      </td>
    </tr>
    <tr>
      <td style="width:4%; vertical-align: top;">
        <input dynamic_check="#DirettoreLavori_CodiceFiscale.value() != '' and !#Progettista_direttorelavori.checked()" enabled="#DirettoreLavori_CodiceFiscale.value() != '' and !#Progettista_direttorelavori.checked()" id="GEN_DIR_LAV" name="GEN_DIR_LAV" type="checkbox" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p>Modulo secondario - <b>Anagrafica del direttore lavori</b> <input  enabled="#GEN_DIR_LAV.checked()" dynamic_value="'firmato con firma elettronica'" id="Tipo_Firma_dir_lav" name="Tipo_Firma_dir_lav" style="width:51.5%;" readonly/></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width:4%">
        <input id="assver_dirlav" name="assver_dirlav" type="checkbox" dynamic_check="#GEN_DIR_LAV.checked()" enabled="#GEN_DIR_LAV.checked()" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p><b>Asseverazione del direttore lavori</b><br><span style="font-size:85%;">ai sensi dell'art. 8, comma 2, del D. Lgs. n. 192/2005, in merito alla <i>Conformità delle opere realizzate rispetto al progetto ed alle sue eventuali varianti ed alla relazione tecnica di cui al comma 1 del medesimo articolo”</i></span></p>
      </td>
    </tr>
    <tr>
      <td style="width:4%; vertical-align: top;">
        <input dynamic_check="(parseInt(#Immobile_NumeroAltriImmobili.value()) / 10) &gt; 0" enabled="(parseInt(#Immobile_NumeroAltriImmobili.value()) / 10) &gt; 0" id="GEN_IMMAGG" name="GEN_IMMAGG" type="checkbox" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p>Modulo secondario - <b>Ulteriori particelle</b> oggetto del procedimento
          <select class="inputNormal" id="Tipo_Firma_ult_particelle" name="Tipo_Firma_ult_particelle" style="width:40.5%;" label="Tipo firma modulo ulteriori particelle" mandatory_enabled="#Tipo_richiedente2.checked() and #Immobile_NumeroAltriImmobili.value() != '0'">
            <option value=""></option>
            <option value="Firmato con firma autografa">firmato dal titolare con firma autografa</option>
            <option value="Firmato con firma elettronica">firmato dal titolare con firma elettronica</option>
          </select>
        </p>
      </td>
    </tr>
    <tr>
      <td style="width:4%; vertical-align: top;">
        <input dynamic_check="(parseInt(#NumeroAltriTitoli.value()) / 20) &gt; 0" enabled="(parseInt(#NumeroAltriTitoli.value()) / 20) &gt; 0" id="GEN_ULTTIT" name="GEN_ULTTIT" type="checkbox" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p>Modulo secondario - <b>Ulteriori titli abitativi</b>
          <select class="inputNormal" id="Tipo_Firma_ult_titoli" name="Tipo_Firma_ult_titoli" style="width:61%;" label="Tipo firma modulo ulteriori titoli" mandatory_enabled="#Tipo_richiedente2.checked() and #NumeroAltriTitoli.value() != '0'">
            <option value=""></option>
            <option value="Firmato con firma autografa">firmato dal titolare con firma autografa</option>
            <option value="Firmato con firma elettronica">firmato dal titolare con firma elettronica</option>
          </select>
        </p>
      </td>
    </tr>
    <tr>
      <td style="width:4%; vertical-align: top;">
        <input dynamic_check="#Tassonomia_Titolo2.checked()" enabled="#Tassonomia_Titolo2.checked()" id="GEN_INTAGG" name="GEN_INTAGG" type="checkbox" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height:1.6;">Modulo secondario - <b>Ulteriori soggetti coinvolti</b> nel procedimento edilizio (diversi dal titolare e/o dal progettista), dei quali:
          <br>- n° <input class="" format="number" id="NschedeAllegateEl" label="Numero ulteriori intestatari" mandatory_enabled="#GEN_INTAGG.checked()" name="NschedeAllegateEl" size="1"/> firmano con <b>firma elettronica</b>
          <br>- n° <input class="" format="number" id="NschedeAllegateAu" label="Numero ulteriori intestatari" mandatory_enabled="#GEN_INTAGG.checked()" name="NschedeAllegateAu" size="1"/> firmano con <b>firma autografa</b>, allegando inoltre copia del documento di identità
        </p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" name="Accettazione_Informativa_dati" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="width: 4%; vertical-align: top;">
        <div id="Presa_visione" name="Presa_visione" label="Dichiarazione presa visione" mandatory_enabled="true"> </div>
        <input group="Presa_visione" id="Presa_visione_check" name="Presa_visione_check" type="checkbox" value="1" />
      </td>
      <td colspan="2" style="background-color: #eeeeee;">
        <p style="line-height:1.4;"><b>Dichiaro di aver ricevuto e preso visione dell'<a href="https://sportello.comune.trento.it/document/inform-tratt-dati-edilizia" target="_blank">informativa sul trattamento dei dati personali</a></b> <br><span style="font-size:85%"><i>(artt. 13 e 14 Regolamento UE n. 2016/679)</i></span></p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo simpatico-block" name="Luogo_e_data" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="width: 25%; text-align: center;">
        <input class="" id="Luogo_PDF" name="Luogo_PDF" style="width:80%;" type="text"/>
      </td>
      <td style="width: 25%; text-align: center;">
        <input class="" id="Data_PDF" name="Data_PDF" style="width:80%;" type="text"/>
      </td>
      <td style="width: 50%; text-align: center; height: 1.5cm;">
        <input class="" id="nominativo_richiedente" name="nominativo_richiedente" dynamic_value="' ' + #AventeTitolo_Cognome.value().toUpperCase() + ' ' + #AventeTitolo_Nome.value().toUpperCase()" style="width:90%;"/>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td>
        <p class="Labelcella" style="text-align: center">Luogo</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Data</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Il titolare</p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<p class="Modulo">
 <input id="SalvaModulo" name="SalvaModulo" style="height:30px;width:120px;" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza." type="submit" value="Salva modulo" />
</p>

<input destinatario_amministrazione="getParameter('Ente')" id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value="" />

<input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden" />
<input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden" />
<input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}" />

<input id="Metadati_oggetto" name="Metadati_oggetto" dynamic_value="#Oggetto.value()" type="hidden"/>

<input id="GLOBO_allegato_cGEN-CDI" name="GLOBO_allegato_cGEN-CDI" obbligatorio="#GEN_CDI.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_allegato_cGEN-Modulo_compilato_firma_autografa" name="GLOBO_allegato_cGEN-Modulo_compilato_firma_autografa" obbligatorio="#Tipo_Firma_modulo_compilato.value() == 'Firma autografa' ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cGEN-Modulo_compilato_firma_elettronica" name="GLOBO_allegato_cGEN-Modulo_compilato_firma_elettronica" obbligatorio="#Tipo_Firma_modulo_compilato.value() == 'Firma elettronica' ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<input id="GLOBO_modulofiglio_cGEN-PROGETTISTA" name="GLOBO_modulofiglio_cGEN-PROGETTISTA" obbligatorio="!#Progettista_direttorelavori.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<input id="GLOBO_modulofiglio_cGEN-PROGETTISTA-DIRLAV" name="GLOBO_modulofiglio_cGEN-PROGETTISTA-DIRLAV" obbligatorio="#Progettista_direttorelavori.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<input id="GLOBO_modulofiglio_cM47010-MSEC01-DICH-TECN" name="GLOBO_modulofiglio_cM47010-MSEC01-DICH-TECN" obbligatorio="'OBBLIGATORIO'" type="hidden" value=""/>

<input id="GLOBO_modulofiglio_cGEN-DIR-LAV-EL" name="GLOBO_modulofiglio_cGEN-DIR-LAV-EL" obbligatorio="#Tipo_Firma_dir_lav.value() == 'firmato con firma elettronica' ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<input id="numeroallegati" name="numeroallegati" dynamic_value="parseInt(#Immobile_NumeroAltriImmobili.value()) /10" type="hidden" />
<input id="GLOBO_modulofiglio_cGEN-IMMAGG" name="GLOBO_modulofiglio_cGEN-IMMAGG" numero="Math.ceil(#numeroallegati.value())" obbligatorio="(#GEN_IMMAGG.checked() and #Tipo_richiedente1.checked()) ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_modulofiglio_cGEN-IMMAGG-EL" name="GLOBO_modulofiglio_cGEN-IMMAGG-EL" numero="Math.ceil(#numeroallegati.value())" obbligatorio="#Tipo_Firma_ult_particelle.value() == 'Firmato con firma elettronica' ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_modulofiglio_cGEN-IMMAGG-AU" name="GLOBO_modulofiglio_cGEN-IMMAGG-AU" numero="Math.ceil(#numeroallegati.value())" obbligatorio="#Tipo_Firma_ult_particelle.value() == 'Firmato con firma autografa' ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<input id="numeroallegatititoli" name="numeroallegatititoli" dynamic_value="parseInt(#NumeroAltriTitoli.value()) /20" type="hidden" />
<input id="GLOBO_modulofiglio_cM47010-MSEC02-ULT-TIT-ABIT" name="GLOBO_modulofiglio_cM47010-MSEC02-ULT-TIT-ABIT" numero="Math.ceil(#numeroallegatititoli.value())" obbligatorio="(#GEN_ULTTIT.checked() and #Tipo_richiedente1.checked()) ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_modulofiglio_cM47010-MSEC04-ULT-TIT-ABIT-EL" name="GLOBO_modulofiglio_cM47010-MSEC04-ULT-TIT-ABIT-EL" numero="Math.ceil(#numeroallegatititoli.value())" obbligatorio="#Tipo_Firma_ult_titoli.value() == 'Firmato con firma elettronica' ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_modulofiglio_cM47010-MSEC03-ULT-TIT-ABIT-AU" name="GLOBO_modulofiglio_cM47010-MSEC03-ULT-TIT-ABIT-AU" numero="Math.ceil(#numeroallegatititoli.value())" obbligatorio="#Tipo_Firma_ult_titoli.value() == 'Firmato con firma autografa' ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<input id="GLOBO_modulofiglio_cGEN-INTAGG-EL" name="GLOBO_modulofiglio_cGEN-INTAGG-EL" numero="#NschedeAllegateEl.value()" obbligatorio="#NschedeAllegateEl.value() != 0 ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_modulofiglio_cGEN-INTAGG-AU" name="GLOBO_modulofiglio_cGEN-INTAGG-AU" numero="#NschedeAllegateAu.value()" obbligatorio="#NschedeAllegateAu.value() != 0 ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<input id="GLOBO_allegato_cM47010-A01-ASS-DIRETT-LAV" name="GLOBO_allegato_cM47010-A01-ASS-DIRETT-LAV" obbligatorio="#assver_dirlav.checked()' ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<input id="GLOBO_allegato_cINFORM-TRATT-DATI-EDILIZIA" name="GLOBO_allegato_cINFORM-TRATT-DATI-EDILIZIA" obbligatorio="''" type="hidden" value=""/>
{% endblock content %}
