{% set CodiceModulo = "M1651-DOMANDA-LOCAZIONE-CANONE-MODERATO" %}
{% set Urn = "document:c_l378:edilizia.abitativa.pubblica;domanda.locazione.canone.moderato;m1651.domanda.locazione.canone.moderato" %}
{% extends "base_trento_new.html" %}

{% block meta %}

<meta campi_firma="AventeTitolo_CodiceFiscale"
campi_firma_label="il dichiarante"
classi_modulo="Generale"
codice_modulo="{{ CodiceModulo }}"
urn="{% block urn %}{{ Urn }}{% endblock urn %}"
sub_urn_list=""
uo_globo_list=""
descrizione="Domanda locazione a canone moderato"
destinatario_amministrazione=""
destinatario_ufficio="BF7HBC"
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="NO"
firmare="NO"
istruzioni_compilazione=""
istruzioni_invio="mail_pec"
metodo_invio="mail"
name="GLOBO_modulo"
procura="NO,,"
segnatura="AventeTitolo"
tipo_modulo="principale"
urlhelp="/modulistica/moduli/{{ CodiceModulo }}"
verifica_pagamento="NO"
versione="1.0|01/01/2019"/>


{% endblock meta %}

{% block title %}
DOMANDA LOCAZIONE A CANONE MODERATO
{% endblock title %}

{% block content %}

<globo_fondo_pagina areaheight="150" scope="2">
  {{ utils.firma() }}
</globo_fondo_pagina>

<input id="Parametri_Comune" name="Parametri_Comune" type="hidden" dynamic_value="#Ente.value()"/>
<input id="Oggetto" name="Oggetto" type="hidden" dynamic_value="#AventeTitolo_Cognome.value().toUpperCase() + ' ' + #AventeTitolo_Nome.value().toUpperCase() + ' - Domanda locazione a canone moderato'"/>
<input id="Provincia" name="Provincia" type="hidden" dynamic_value="'TN'"/>

{{ intestazioni.intestazione_moduloprincipale_conbollo() }}

<br>

<h1 class="Modulo">
    DOMANDA LOCAZIONE A CANONE MODERATO
</h1>
<h2 class="Modulo" style="line-height:1.6;">
    (ai sensi della L.P. 7 novembre 2005, n. 15 e s.m.i. e del suo Regolamento d'esecuzione)
</h2>

<br>
<br>

<input type="hidden" name="TipoContesto" id="TipoContesto" value="GLOBO">
<input type="hidden" name="TipoLista" id="TipoLista" value="PGLOBO">

<input id="cellulare_obbligatorio" name="cellulare_obbligatorio" dynamic_check="true" type="hidden" />
<input id="mail_obbligatoria" name="mail_obbligatoria" dynamic_check="true" type="hidden" />

{{anagrafica_trento_uniformata.richiedente("AventeTitolo","Il/La sottoscritto/a, avente codice fiscale:", "visibility:visibility", "cursor:pointer", "visibility:visibility")}} 

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" name="Scelta del bando per il quale si presenta la domanda" style="border: 1px solid grey">
<tbody>
  <tr class="Rigaintestazione">
    <td colspan="2">
      <p>
        <b>
          Scelta del bando:
        </b>
      </p>
    </td>
  </tr>
<tr>
  <td style="vertical-align: top; width: 4%;">
    <div id="Tassonomia_bando" name="Tassonomia_bando" label="Tassonomia_bando" mandatory="true"> </div>
    <input group="Tassonomia_bando" id="Tassonomia_bando1" name="Tassonomia_bando" type="radio" value="1" /> 
  </td>
  <td>
    <p style="line-height:1.6;"><b>N. ___ alloggi in Via ______ : DATA DI APERTURA BANDO 15/05/2020</b></p>
  </td>
</tr>
<tr>
  <td style="vertical-align: top; width: 4%;">
    <input group="Tassonomia_bando" id="Tassonomia_bando2" name="Tassonomia_bando" type="radio" value="2" /> 
  </td>
  <td>
    <p style="line-height:1.6;"><b>N. ___ alloggi in Via ______ : DATA DI APERTURA BANDO 15/05/2020</b></p>
  </td>
</tr>
</tbody>
</table>

<br>

<h1 class="Modulo">
    DICHIARA
</h1>
<h2 class="Modulo" style="line-height:1.6;">
  (requisiti da possedere alla data di apertura del bando)
</h2>

<br>

<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="5">
        <p style="line-height: 1.6;"><b>Cittadinanza/Di essere cittadino</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <div id="Tassonomia_residenza" name="Tassonomia_residenza" label="Specificare la cittadinanza" mandatory_enabled="true"> </div>
        <input group="Tassonomia_residenza" id="Tassonomia_residenza1" name="Tassonomia_residenza" type="radio" value="1" />
      </td>
      <td colspan="3">
        <p style="line-height: 1.6;">italiano/a </p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; text-align: center; width: 4%;">
        <input group="Tassonomia_residenza" id="Tassonomia_residenza2" name="Tassonomia_residenza" type="radio" value="2" />
      </td>
      <td colspan="3">
        <p style="line-height: 1.6;">di altro Stato appartenente all’Unione Europea</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; text-align: center; width: 4%;">
        <input group="Tassonomia_residenza" id="Tassonomia_residenza3" name="Tassonomia_residenza" type="radio" value="3" />
      </td>
      <td colspan="3">
        <p style="line-height: 1.6;">di altro Stato NON appartenente all’Unione Europea ed in possesso dei seguenti requisiti:</p>
      </td>
    </tr>
    
    <tr>
      <td style="vertical-align: top; width: 4%;" rowspan="6"> 
      </td>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <div id="Tassonomia_permesso" name="Tassonomia_permesso" label="Specificare il tipo di permesso di soggiorno" mandatory_enabled="#Tassonomia_residenza3.checked()"> </div>
        <input group="Tassonomia_permesso" id="Tassonomia_permesso1" name="Tassonomia_permesso" type="radio" value="1" />
      </td>
      <td colspan="2">
        <p style="line-height: 1.6;">Permesso di soggiorno UE per soggiornanti di lungo periodo</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <input group="Tassonomia_permesso" id="Tassonomia_permesso2" name="Tassonomia_permesso" type="radio" value="2" />
      </td>
      <td colspan="2">
        <p style="line-height: 1.6;">Permesso di soggiorno</p>
      </td>
    </tr>

    <tr> 
      <td style="vertical-align: top; width: 4%;" rowspan="4"> 
      </td>   
        <td class="Rigaintestazioneridotta" colspan="2">
          <p class="Labelcella">Tipo di attività lavorativa</p>
        </td>
    </tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <div id="Tassonomia_lavoro" name="Tassonomia_lavoro" label="Specificare il tipo di attività lavorativa" mandatory_enabled="#Tassonomia_permesso2.checked()"> </div>
        <input group="Tassonomia_lavoro" id="Tassonomia_lavoro1" name="Tassonomia_lavoro" type="radio" value="1" />
      </td>
      <td>
        <p style="line-height: 1.6;">regolare lavoro subordinato</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <input group="Tassonomia_lavoro" id="Tassonomia_lavoro2" name="Tassonomia_lavoro" type="radio" value="2" />
      </td>
      <td>
        <p style="line-height: 1.6;">autonomo con iscrizione alla Camera di Commercio</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <input group="Tassonomia_lavoro" id="Tassonomia_lavoro3" name="Tassonomia_lavoro" type="radio" value="3" />
      </td>
      <td>
        <p style="line-height: 1.6;">iscritto nelle liste dei Centri per l'impiego</p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="5">
        <p style="line-height: 1.6;"><b>Residenza/Di risiedere</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <div id="Tassonomia_residenza" name="Tassonomia_residenza" label="Entrambe le oprzioni relative alla residenza sono richieste" mandatory="true"> </div>
        <input group="Tassonomia_residenza" id="Tassonomia_residenza1" name="Tassonomia_residenza1" type="checkbox" value="SI" />
      </td>
      <td colspan="3">
        <p style="line-height: 1.6;">residenza anagrafica in Italia da almeno 10 anni, di cui gli ultimi 2 in modo continuativo</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; text-align: center; width: 4%;">
        <input group="Tassonomia_residenza" id="Tassonomia_residenza2" name="Tassonomia_residenza2" type="checkbox" value="SI" />
      </td>
      <td colspan="3">
        <p style="line-height: 1.6;">residenza anagrafica sul territorio della Provincia di Trento da almeno 3 anni, in via continuativa e senza interruzioni</p>
      </td>
    </tr>
  </tbody>
</table>   
<br>

<br>
<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="5">
        <p style="line-height: 1.6;"><b>Assenza di proprietà/Di non avere</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <div id="Tassonomia_proprieta" name="Tassonomia_proprieta" label="Specificare l'assenza di proprietà" mandatory="true"> </div>
        <input group="Tassonomia_proprieta" id="Tassonomia_proprieta1" name="Tassonomia_proprieta" type="radio" value="1" />
      </td>
      <td colspan="3">
        <p style="line-height: 1.6;">assenza di titolarità, riconducibile per intero in capo al nucleo familiare e con riferimento al triennio precedente la data di apertura del bando, di un diritto esclusivo di proprietà, usufrutto o abitazione su un alloggio adeguato (L'alloggio è adeguato se è dotato di servizi igienici interni all'appartamento e non è stato dichiarato inagibile dalla competente autorità)</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; text-align: center; width: 4%;">
        <input group="Tassonomia_proprieta" id="Tassonomia_proprieta2" name="Tassonomia_proprieta" type="radio" value="2" />
      </td>
      <td colspan="3">
        <p style="line-height: 1.6;">il titolo di disponibilità dell'alloggio è cessato a seguito di 	esecuzione immobiliare ovvero è stato emesso un provvedimento giudiziale di assegnazione della casa coniugale di esclusiva proprietà del richiedente a favore dell'altro coniuge a seguito di procedimento di separazione legale</p>
      </td>
    </tr>
  </tbody>
</table>   
<br>

<br>
<table class="Modulo" style="border: 1px solid grey;">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="5">
        <p style="line-height: 1.6;"><b>Assenza di condanne/Di non avere subito</b></p>
      </td>
    </tr>
      <div id="Tassonomia_AssenzaCondanne" name="Tassonomia_AssenzaCondanne" label="Specificare l'assenza di condanne" mandatory="true"></div>      
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Tassonomia_AssenzaCondanne" id="Tassonomia_AssenzaCondanne1" name="Tassonomia_AssenzaCondanne1" type="checkbox" value="SI" />
      </td>
      <td>
        l’assenza di condanna, anche non definitiva, o di applicazione della pena su richiesta delle parti nei casi previsti dall’art. 3 bis del decreto legge 14 agosto 2013 n. 93 (Disposizioni urgenti in materia di sicurezza e per il contrasto alla violenza di genere, nonché in tema di protezione civile e di commissariamento delle province), convertito, con modificazioni, dalla Legge 15.10.2013 n. 119;
      </td>
    </tr>
  </tbody>
</table>    
<br>

<br>
<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="5">
        <p style="line-height: 1.6;"><b>Requisiti per applicazione della riserva del 40% / Di essere....</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <div id="Tassonomia_GiovaneCoppia" name="Tassonomia_GiovaneCoppia" label="Indicare le eventuali condizioni per giovane coppia oppure nessun requisito" mandatory="true"> </div>
        <input group="Tassonomia_GiovaneCoppia" id="Tassonomia_GiovaneCoppia1" name="Tassonomia_GiovaneCoppia" type="radio" value="1" />
      </td>
      <td colspan="3">
        <p style="line-height: 1.6;">giovane coppia di coniugi (soggetti che, alla data di apertura del bando, hanno contratto matrimonio da non più di cinque anni purché entrambi i coniugi non abbiano un’età superiore ai 45 anni )</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; text-align: center; width: 4%;">
        <input group="Tassonomia_GiovaneCoppia" id="Tassonomia_GiovaneCoppia2" name="Tassonomia_GiovaneCoppia" type="radio" value="2" />
      </td>
      <td colspan="3">
        <p style="line-height: 1.6;">giovane coppia di conviventi more-uxorio (soggetti che, alla data di apertura del bando, convivono stabilmente da non più di cinque anni, secondo quanto stabilito dalle norme di diritto comune in materia di ordinamento anagrafico, e comunque entrambi non abbiano un'età superiore ai 45 anni)</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; text-align: center; width: 4%;" rowspan="3">
        <input group="Tassonomia_GiovaneCoppia" id="Tassonomia_GiovaneCoppia3" name="Tassonomia_GiovaneCoppia" type="radio" value="3" />
      </td>
      <td colspan="3">
        <p style="line-height: 1.6;">nubendo (soggetti che dichiarano in domanda di voler contrarre matrimonio,	purché alla data di apertura del bando, entrambi i soggetti non abbiano un’età  superiore ai 40 anni)</p>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta"> 
      
      <td>
        <p class="Labelcella">Cognome coniuge/convivente/futuro coniuge</p>
      </td>
      <td>
        <p class="Labelcella">Nome coniuge/convivente/futuro coniuge</p>
      </td>
      <td>
        <p class="Labelcella">Codice fiscale</p>
      </td>
    </tr>
    <tr>
      
  <td>
    <input type="text" name="GiovaneCoppia_Cognome" id="GiovaneCoppia_Cognome"style="width:100%;"  mandatory_enabled="#Tassonomia_GiovaneCoppia1.checked() || #Tassonomia_GiovaneCoppia2.checked() || #Tassonomia_GiovaneCoppia3.checked()" label="Cognome del coniuge/convivente/futuro coniuge">
  </td>
  <td>
    <input type="text" name="GiovaneCoppia_Nome" id="GiovaneCoppia_Nome" style="width:100%;" mandatory_enabled="#Tassonomia_GiovaneCoppia1.checked() || #Tassonomia_GiovaneCoppia2.checked() || #Tassonomia_GiovaneCoppia3.checked()" label="Nome coniuge/convivente/futuro coniuge">
  </td>
  <td>
    <input class="" id="GiovaneCoppia_CF" name="GiovaneCoppia_CF" mandatory_enabled="#Tassonomia_GiovaneCoppia1.checked() || #Tassonomia_GiovaneCoppia2.checked() || #Tassonomia_GiovaneCoppia3.checked()" label="Codice fiscale del coniuge/convivente/futuro coniuge" style="width:100%;" format="cf"/>
</td>
  </tr>
    <tr>
      <td style="vertical-align: top; text-align: center; width: 4%;">
        <input group="Tassonomia_GiovaneCoppia" id="Tassonomia_GiovaneCoppia4" name="Tassonomia_GiovaneCoppia" type="radio" value="4" />
      </td>
      <td colspan="3">
        <p style="line-height: 1.6;">nessun requisito</p>
      </td>
    </tr>
  </tbody>
</table> 
<br>

<table class="Modulo" style="border: 1px solid grey;">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="5">
        <p style="line-height: 1.6;"><b>Requisiti di punteggio/Caratteristiche del nucleo...</b></p>
      </td>
    </tr>
      <div id="Tassonomia_CaratteristicheNucleo" name="Tassonomia_CaratteristicheNucleo" label="Indicare le caratteristiche del nucleo"></div>      
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Tassonomia_CaratteristicheNucleo" id="Tassonomia_CaratteristicheNucleo1" name="Tassonomia_CaratteristicheNucleo1" type="checkbox" value="SI" />
      </td>
      <td>
        genitore separato o divorziato <br>(tale punteggio è attribuito al genitore legalmente separato o divorziato con uno o più figli minori stabilmente residenti con altro genitore. Sono equiparati i genitori che risultino aver risieduto, a seguito di convivenza more uxorio, con l'altro genitore al quale sia stato affidato il/i figlio/i)
      </td>
    </tr>
    <tr>
        <td style="vertical-align: top; width: 4%;">
            <input group="Tassonomia_CaratteristicheNucleo" id="Tassonomia_CaratteristicheNucleo2" name="Tassonomia_CaratteristicheNucleo2" type="checkbox" value="SI" />
          </td>
          <td>
            il proprio nucleo familiare è composto da un solo soggetto maggiorenne ed uno o più soggetti minorenni
          </td> 
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
          <input group="Tassonomia_CaratteristicheNucleo" id="Tassonomia_CaratteristicheNucleo3" name="Tassonomia_CaratteristicheNucleo3" type="checkbox" dynamic_check="#Tassonomia_CaratteristicheNucleo2.checked()" value="SI" />
        </td>
        <td>
          nel nucleo familiare sono presenti componenti minorenni, indicare il numero <input type="number" name="num_compNucleo_minori" id="num_compNucleo_minori"  mandatory_enabled="#Tassonomia_CaratteristicheNucleo3.checked()" label="N. minori presenti nel nucleo">
          <br>
          (nel punteggio rientra anche lo stato di gravidanza non inferiore a 12 settimane, al 16/03/2020, dimostrato con certificato medico)
        </td> 
      </tr>    
      <tr>
        <td style="vertical-align: top; width: 4%;">
            <input group="Tassonomia_CaratteristicheNucleo" id="Tassonomia_CaratteristicheNucleo4" name="Tassonomia_CaratteristicheNucleo4" type="checkbox" value="SI" />
          </td>
          <td>
            nel nucleo familiare sono presenti componenti con invalidità certificata, indicare il numero <input type="number" name="num_compNucleo_invalidi" id="num_compNucleo_invalidi"  mandatory_enabled="#Tassonomia_CaratteristicheNucleo4.checked()" label="N. componenti con invalidità certificata presenti nel nucleo">
          </td> 
        </tr>  
        <tr>
          <td style="vertical-align: top; width: 4%;">
              <input group="Tassonomia_CaratteristicheNucleo" id="Tassonomia_CaratteristicheNucleo5" name="Tassonomia_CaratteristicheNucleo5" type="checkbox" value="SI" />
            </td>
            <td>
              nel nucleo familiare sono presenti componenti con accertata difficoltà a svolgere compiti e funzioni proprie dell'età come da certificato di invalidità, indicare il numero <input type="number" name="num_compNucleo_difficolta" id="num_compNucleo_difficolta"  mandatory_enabled="#Tassonomia_CaratteristicheNucleo5.checked()" label="N. componenti con difficoltà presenti nel nucleo">
            </td> 
          </tr> 
          <tr>
            <td style="vertical-align: top; width: 4%;">
                <input group="Tassonomia_CaratteristicheNucleo" id="Tassonomia_CaratteristicheNucleo6" name="Tassonomia_CaratteristicheNucleo6" type="checkbox" value="SI" />
              </td>
              <td>
                nel nucleo sono presenti componenti che hanno prestato attività lavorativa e che, nel periodo valido ai fini della valutazione ICEF dichiarata in domanda, hanno conseguito ciascuno compensi di almeno €10.000,00 di reddito complessivo lordo ai fini delle imposte sui redditi delle persone fisiche (IRPEF) (va considerata, per ogni componente, la somma dei redditi per attività lavorativa conseguiti negli anni di riferimento dell’ICEF).<br> Indicare il numero <input type="number" name="num_compNucleo_reddito" id="num_compNucleo_reddito"  mandatory_enabled="#Tassonomia_CaratteristicheNucleo6.checked()" label="N. componenti con reddito nel nucleo">
              </td> 
            </tr>  
  </tbody>
</table>

<br>
<table class="Modulo" style="border: 1px solid grey;">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p style="line-height: 1.6;"><b>Condizione economico/patrimoniale</b></p>
      </td>
    </tr>
         
    <tr> 
      <td colspan="2">
       <p>Di essere in possesso di indicatore ICEF CANONE MODERATO aggiornato, per l’accesso ai benefici di cui alla legge provinciale n. 15/2005, ricompreso tra 0,1600 e 0,3900</p>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta"> 
    <td>
      <p class="Labelcella">Anno domanda</p>
    </td>
    <td>
      <p class="Labelcella">N. domanda</p>
    </td>
  </tr>
  <tr>
    <td>
  <input type="number" name="anno_ICEF" id="anno_ICEF"  mandatory="true" label="Anno della domanda ICEF">
</td>
<td>
  <input type="number" name="numero_domanda_ICEF" id="numero_domanda_ICEF"  mandatory="true" label="Numero della domanda ICEF">
</td>
</tr>
</tbody>
</table>
<!--
<table class="Modulo" style="border: 1px solid grey;">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="3">
        <p style="line-height: 1.6;"><b>Condizione economico/patrimoniale</b></p>
      </td>
    </tr>
      <div id="Tassonomia_CondizioneEconomica" name="Tassonomia_CondizioneEconomica" label="Indicare la condizione economico/patrimoniale" mandatory="true"></div>      
    <tr>
      <td style="vertical-align: top; width: 4%;" rowspan="3">
        <input group="Tassonomia_CondizioneEconomica" id="Tassonomia_CondizioneEconomica1" name="Tassonomia_CondizioneEconomica1" type="checkbox" value="SI" />
      </td>
      <td colspan="2">
       <p>Possesso di indicatore ICEF CANONE MODERATO aggiornato, per l’accesso ai benefici di cui alla legge provinciale n. 15/2005, ricompreso tra 0,1600 e 0,3900</p>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta"> 
    <td>
      <p class="Labelcella">Anno</p>
    </td>
    <td>
      <p class="Labelcella">N. domanda</p>
    </td>
  </tr>
  <tr>
    <td>
  <input type="number" name="anno_ICEF" id="anno_ICEF"  mandatory_enabled="#Tassonomia_CondizioneEconomica.checked()" label="Anno della domanda ICEF">
</td>
<td>
  <input type="number" name="numero_domanda_ICEF" id="numero_domanda_ICEF"  mandatory_enabled="#Tassonomia_CondizioneEconomica.checked()" label="Numero della domanda ICEF">
</td>
</tr>
</tbody>
</table> -->   
<br>

<br>
<table class="Modulo" style="border: 1px solid grey;">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="5">
        <p style="line-height: 1.6;"><b>Residenza in Provincia, Comune, Circoscrizione</b></p>
      </td>
    </tr>
          
    <tr>     
      <td colspan="4">
       <p>Indicare il componente del nucleo che vanta maggior anzianità di residenza in Provincia e specificare comuni e anni di residenza</p>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta"> 
      <td colspan="4">
        <p class="Labelcella">Tipologia componente</p>
      </td>
    </tr>
    <tr>
      <div id="Tassonomia_ComponenteAnziano" name="Tassonomia_ComponenteAnziano" label="Indicare il componente anziano" mandatory="true"></div>

<td style="vertical-align: top; width: 4%;">
<input id="Tassonomia_ComponenteAnziano1" name="Tassonomia_ComponenteAnziano" type="radio" value="1" />
</td>
  <td colspan="3">
    <p style="line-height:1.6;">Il dichiarante</p>
  </td>
</tr>
<tr>
  <td style="vertical-align: top; width: 4%;">
  <input id="Tassonomia_ComponenteAnziano2" name="Tassonomia_ComponenteAnziano" type="radio" value="2" />
  </td>
    <td colspan="3">
      <p style="line-height:1.6;">Coniuge/convivente/futuro coniuge</p>
    </td>
  </tr>
  <tr>
    <td style="vertical-align: top; width: 4%;">
    <input id="Tassonomia_ComponenteAnziano3" name="Tassonomia_ComponenteAnziano" type="radio" value="3" />
    </td>
      <td colspan="3">
        <p style="line-height:1.6;">Altro componente</p>
      </td>
    </tr>
    </tr>
    <tr class="Rigaintestazioneridotta"> 
      <td>
        
      </td>
    <td>
      <p class="Labelcella">Cognome</p>
    </td>
    <td>
      <p class="Labelcella">Nome</p>
    </td>
    <td>
      <p class="Labelcella">Codice fiscale</p>
    </td>
  </tr>
  <tr>
    <td rowspan="5">
      
    </td>
    <td>

  <input type="text" name="permanenza1_cognome" style="width:100%;" id="permanenza1_cognome" dynamic_value="#Tassonomia_ComponenteAnziano.value() == '1' ? #AventeTitolo_Cognome.value() : (#Tassonomia_ComponenteAnziano.value() == '2' ? #GiovaneCoppia_Cognome.value() : '')" mandatory_enabled="#Tassonomia_ComponenteAnziano.checked()" label="Cognome della persona con maggiore permanenza">
</td>
<td>
  <input type="text" name="permanenza1_nome" style="width:100%;" id="permanenza1_nome" dynamic_value="#Tassonomia_ComponenteAnziano.value() == '1' ? #AventeTitolo_Nome.value() : (#Tassonomia_ComponenteAnziano.value() == '2' ? #GiovaneCoppia_Nome.value() : '')" mandatory_enabled="#Tassonomia_ComponenteAnziano.checked()" label="Nome della persona con maggiore permanenza">
</td>
  <td>
    <input class="" id="permanenza1_CF" style="width:100%;" name="permanenza1_CF" dynamic_value="#Tassonomia_ComponenteAnziano.value() == '1' ? #AventeTitolo_CodiceFiscale.value() : (#Tassonomia_ComponenteAnziano.value() == '2' ? #GiovaneCoppia_CF.value() : '')" mandatory_enabled="#Tassonomia_ComponenteAnziano.checked()" label="Codice fiscale della persona con maggiore permanenza" style="width:100%;" format="cf"/>
</td>
</tr>

<tr class="Rigaintestazioneridotta"> 
<td colspan="3">
  <p class="Labelcella">Comune</p>
</td>
</tr>
<tr>
  <td colspan="3">
    <select name="permanenza1_comune" id="permanenza1_comune" style="width:100%;" label="Comune di permanenza" dynamic_value="getComuniFromProvincia(#Provincia.value(), 'permanenza1_comune')" mandatory_enabled="#Tassonomia_ComponenteAnziano.checked()" ></select></td>
  </td>
<tr> 
<td colspan="3" >
<select name="permanenza2_comune" id="permanenza2_comune" style="width:100%;" label="Comune di permanenza" dynamic_value="getComuniFromProvincia(#Provincia.value(), 'permanenza2_comune')" ></select></td>
</td>
</tr>
<tr>
<td colspan="3">
  <select name="permanenza3_comune" id="permanenza3_comune" style="width:100%;" label="Comune di permanenza" dynamic_value="getComuniFromProvincia(#Provincia.value(), 'permanenza3_comune')" ></select></td>
</td>
</tr>
</tbody>
</table>  

<br>
<!-- <table class="Modulo" style="border: 1px solid grey;">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="5">
        <p style="line-height: 1.6;"><b>Residenza in Provincia, Comune, Circoscrizione</b></p>
      </td>
    </tr>   
    <tr>
      <td colspan="5">
       <p>Indicare il componente del nucleo che vanta maggior anzianità di residenza in Provincia e specificare comuni e anni di residenza</p>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta"> 
      <td>
        <p class="Labelcella">Componente</p>
      </td>
    <td>
      <p class="Labelcella">Cognome</p>
    </td>
    <td>
      <p class="Labelcella">Nome</p>
    </td>
    <td>
      <p class="Labelcella">Codice fiscale</p>
    </td>
    <td>
      <p class="Labelcella">Comune</p>
    </td>
  </tr>
  <tr>
    <td>
    
<select class="inputNormal" id="permanenza1_tipo" name="permanenza1_tipo" style="width:100%;" mandatory="true" label="In relazione alla maggiore permanenza indicare se si tratta del dichiarante o di altro componente del nucleo">
      <option value=""></option>
      <option value="sottoscritto">Sottoscritto</option>
      <option value="coniuge">Coniuge</option>
      <option value="convivente">Convivente</option>
      <option value="nubendo">Futuro coniuge</option>
      <option value="altro">Altro</option>
</select>
   
</td>
    <td>
  <input type="text" name="permanenza1_cogn" id="permanenza1_cogn" dynamic_value="#permanenza1_tipo.value().trim() != 'altro' ? #AventeTitolo_Cognome.value() : ''" mandatory_enabled="#permanenza1_tipo.value() != ''" label="Cognome della persona con maggiore permanenza">
</td>
<td>
  <input type="text" name="permanenza1_nom" id="permanenza1_nom" label="Nome della persona con maggiore permanenza">
</td>
  <td>
    <input class="" id="permanenza1_CFf" name="permanenza1_CFf" label="Codice fiscale della persona con maggiore permanenza" style="width:100%;" format="cf"/>
</td>
<td>
  <select name="permanenza1_com" id="permanenza1_com" style="width:100%;" label="Comune di permanenza" dynamic_value="getComuniFromProvincia( 'TN', 'permanenza1_com')" ></select></td>
</td>
</tr>
<tr>
  <td>
    
    <select class="inputNormal" id="permanenza2_tipo" name="permanenza2_tipo" style="width:100%;" mandatory="true" label="Tipo componente">
      <option value=""></option>
      <option value="sottoscritto">Sottoscritto</option>
      <option value="altro">Altro</option>
 </select>
   
</td>
  <td>
<input type="text" name="permanenza2_cogn" id="permanenza2_cogn"  label="Cognome della persona con maggiore permanenza">
</td>
<td>
<input type="text" name="permanenza2_nom" id="permanenza2_nom"  label="Nome della persona con maggiore permanenza">
</td>
<td>
  <input class="" id="permanenza2_CFf" name="permanenza2_CFf" label="Codice fiscale della persona con maggiore permanenza" style="width:100%;" format="cf"/>
</td>
<td>
<select name="permanenza2_com" id="permanenza2_com" style="width:100%;" label="Comune di permanenza" dynamic_value="getComuniFromProvincia( 'TN', 'permanenza2_com')" ></select></td>
</td>
</tr>
<tr>
  <td>
    
    <select class="inputNormal" id="permanenza3_tipo" name="permanenza3_tipo" style="width:100%;" mandatory="true" label="Tipo componente">
      <option value=""></option>
      <option value="sottoscritto">Sottoscritto</option>
      <option value="altro">Altro</option>
 </select>
   
</td>
  <td>
<input type="text" name="permanenza3_cogn" id="permanenza3_cogn"  label="Cognome della persona con maggiore permanenza">
</td>
<td>
<input type="text" name="permanenza3_nom" id="permanenza3_nom"  label="Nome della persona con maggiore permanenza">
</td>
<td>
  <input class="" id="permanenza3_CFf" name="permanenza3_CFf" label="Codice fiscale della persona con maggiore permanenza" style="width:100%;" format="cf"/>
</td>
<td>
  <select name="permanenza3_com" id="permanenza3_com" style="width:100%;" label="Comune di permanenza" dynamic_value="getComuniFromProvincia( 'TN', 'permanenza3_com')" ></select></td>
</td>
</tr>
</tbody>
</table>    -->
<br>




<table class="Modulo" style="border: 1px solid grey">
<tbody>
<tr class="Rigaintestazione">
  <td colspan="2">
    <p>
      <b>
        Vincoli offerta alloggio:
      </b>
      <br>
      Il richiedente chiede che gli venga proposto solamente un alloggio idoneo per numero di stanze da letto alla composizione del nucleo che occuperà l'alloggio.
      <br>
      Se scelto SI dichiara quindi di essere stato informato e di aver compreso che non verranno offerti alloggi con un numero di stanze inferiori a quelle richieste in sede di domanda.
    </p>
  </td>
</tr>
<div id="Tassonomia_SceltaAlloggio" name="Tassonomia_SceltaAlloggio" label="Indicare le eventuali preferenze per le offerte di alloggio" mandatory="true"></div>
<tr>
<td style="vertical-align: top; width: 4%;">
<input id="Tassonomia_SceltaAlloggio1" name="Tassonomia_SceltaAlloggio" type="radio" value="1" />
</td>
  <td>
    <p style="line-height:1.6;"><b>SI</b></p> indicare il numero delle stanze da letto  <input type="number" name="num_stanze_offerta" id="num_stanze_offerta"  mandatory_enabled="#Tassonomia_SceltaAlloggio1.checked()" label="N. stanze da letto">
  </td>
</tr>
<tr>
  <td style="vertical-align: top; width: 4%;">
  <input id="Tassonomia_SceltaAlloggio2" name="Tassonomia_SceltaAlloggio" type="radio" value="2" />
  </td>
    <td>
      <p style="line-height:1.6;"><b>NO</b></p>
    </td>
  </tr>
</tbody>
</table>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" name="Accettazione_Informativa_dati" style="border: 1px solid grey">
      <tbody>
        <tr>
          <td style="width: 4%; vertical-align: top;">
            <div id="Presa_visione" name="Presa_visione" label="Dichiarazione presa visione" mandatory_enabled="true"> </div>
            <input group="Presa_visione" id="Presa_visione_check" name="Presa_visione_check" type="checkbox" value="1" />
          </td>
          <td style="background-color: #eeeeee;">
            <p style="line-height:1.4;"><b>Di aver preso visione dell'<a href="https://sportellotest.comune.trento.it/document/inform-tratt-dati-sviluppoeconomico" target="_blank">informativa sul trattamento dei dati personali</a></b> <br><span style="font-size:85%"><i>(artt. 13 e 14 Regolamento UE n. 2016/679)</i></span></p>
          </td>
        </tr>
      </tbody>
</table>

<br>

<div class="simpatico-block simpatico-query-and-answer">
  <table class="Modulo" style="border: 1px solid grey">
    <tbody>
        <tr class="Rigaintestazioneridotta">
            <td colspan="2">
              <p>
                <b>
                  Dati della marca da bollo
                </b>
              </p>
            </td>
          </tr>
      <tr>  
        <td>
          <p style="line-height:1.6;">La seguente <b>marca da bollo</b> è stata annullata per la presentazione della domanda: <br><span style="font-size:85%;"><i>(per informazioni sulle modalità di pagamento dell'imposta di bollo consultare la pagina: <a href="https://sportello.comune.trento.it/action%3As_italia%3Apagare%3Bimposta.bollo" target="_blank">Come pagare? </i></a>)</span></p>
        </td>
      </tr>
      <tr class="Rigaintestazioneridotta"> 
        <td><p class="Labelcella">Numero identificativo della marca da bollo</p></td>
      </tr>
      <tr>
        <td>
          <input class="" id="Parametri_NumeroBollo" label="Numero seriale marca da bollo" mandatory="true" name="Parametri_NumeroBollo" style="width:100%;" type="text" format="regular_expression" expression="^[0-9]{14}$" maxlength="14"/>
        </td>
      </tr>
      <tr>
        <td>
          <p><b>Il richiedente si impegna a conservare l'originale della marca da bollo annullata</b></p>
        </td>
      </tr>
   </tbody>
  </table>
  <!-- <table class="Modulo" style="border: 1px solid grey">
    <tbody>
        <tr class="Rigaintestazioneridotta">
            <td colspan="2">
              <p>
                <b>
                  Dati della marca da bollo
                </b>
              </p>
            </td>
          </tr>
      <tr>
        <td style="vertical-align: top; width: 4%;" rowspan="3">
          <div id="Tipo_Bollo" name="Tipo_Bollo" label="Marca da bollo" mandatory_enabled="true"> </div>
          <input group="Tipo_Bollo" id="Tipo_Bollo1" name="Tipo_Bollo1" type="checkbox" value="1" /> 
        </td>
        <td>
          <p style="line-height:1.6;">che la seguente <b>marca da bollo</b> è stata annullata per la presentazione della documentazione sopra indicata: <br><span style="font-size:85%;"><i>(per informazioni sulle modalità di pagamento dell'imposta di bollo consultare la pagina: <a href="https://sportello.comune.trento.it/action%3As_italia%3Apagare%3Bimposta.bollo" target="_blank">Come pagare? </i></a>)</span></p>
        </td>
      </tr>
      <tr>
        <td>
          <input class="" id="Parametri_NumeroBollo" label="Numero seriale marca da bollo" mandatory_enabled="#Tipo_Bollo1.checked()" name="Parametri_NumeroBollo" style="width:100%;" type="text" format="regular_expression" expression="^[0-9]{14}$" maxlength="14"/>
        </td>
      </tr>
      <tr>
        <td>
          <p><b>Il richiedente si impegna a conservare l'originale della marca da bollo annullata</b></p>
        </td>
      </tr>
   </tbody>
  </table> -->
  </div>

<br/>
  {{ utils.firma_hidden() }}
<br/>

<p class="Modulo">
  <input id="SalvaModulo" name="SalvaModulo" style="height:30px;width:120px;" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza." type="submit" value="Salva modulo"/>
</p>

<input destinatario_amministrazione="getParameter('Ente')" id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value=""/>

<input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden"/>
<input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden"/>
<input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}"/>

{% endblock content %}