{% set CodiceModulo =  "GEN-PROGETTISTA-OPERE-PRECARIE-OPERE-LIBERE" %}
{% set Urn =  "document:c_l378:modulo.secondario.anagrafica.opere.libere.progettista.opere.precarie" %}
{% extends "base_trento_ok.html" %}

{% block meta %}
<meta campi_firma="Referente4_CodiceFiscale"
classi_modulo="Generale"
codice_modulo="{{ CodiceModulo }}"
urn="{{ Urn }}"
descrizione="Modulo secondario - Anagrafica di progettista di relazione tecnica descrittiva delle opere (firma digitale)"
destinatario_amministrazione=""
destinatario_ufficio=""
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="SI"
firmare="P7M_DIGITALE"
istruzioni_compilazione=""
istruzioni_invio=""
metodo_invio=""
name="GLOBO_modulo"
procura="NO,,"
tipo_modulo="secondario"
segnatura="Referente4"
ufficio=""
urlhelp="/modulistica/moduli/GEN-PROGETTISTA-OPERE-PRECARIE-OPERE-LIBERE"
verifica_pagamento="NO"
versione="2.0|06/10/2022"/>

<meta codice_allegato="INFORM-TRATT-DATI-EDILIZIA"
urn_allegato="document:c_l378:allegato.informativa.trattamento.dati.edilizia"
descrizione_estesa="Informativa trattamento dati EDILIZIA"
filename="INFORM-TRATT-DATI-EDILIZIA.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/INFORM-TRATT-DATI-EDILIZIA"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

{% endblock meta %}


{% block title %}
   Anagrafica di progettista di relazione tecnica descrittiva delle opere
{% endblock title %}

{% block content %}

{{ porzioni_edilizia_anag_progettista.anagrafica_progettista(prefix="Referente4", oggetto_suffix="anagrafica progettista di relazione tecnica descrittiva delle opere", 
title="Anagrafica progettista di relazione tecnica descrittiva delle opere (firma digitale)") }}


{% endblock content %}
