{% set CodiceModulo =  "GEN-INTAGG-EL-OPERE-LIBERE" %}
{% set Urn =  "document:c_l378:modulo.secondario.ulteriori.intestatari.opere.libere.firma.digitale" %}
{% extends "base_trento_ok.html" %}

{% block meta %}
<meta campi_firma="AltroIntestatario_CodiceFiscale"
classi_modulo="Generale"
codice_modulo="{{ CodiceModulo }}"
urn="{{ Urn }}"
descrizione="Modulo secondario - Ulteriore intestatario del procedimento (firma digitale)"
destinatario_amministrazione=""
destinatario_ufficio=""
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="NO"
firmare="P7M_DIGITALE"
istruzioni_compilazione="ATTENZIONE: questo modulo deve essere compilato con i dati del sottoscrivente."
istruzioni_invio=""
metodo_invio=""
name="GLOBO_modulo"
procura="NO,,"
tipo_modulo="secondario"
ufficio=""
urlhelp="/modulistica/moduli/GEN-INTAGG-EL-OPERE-LIBERE"
verifica_pagamento="NO"
versione="2.0|28/09/2022"/>

<meta codice_allegato="GEN-DOC-DIRITTO-CONTRATTUALE"
urn_allegato="document:c_l378:allegato.doc.diritto.contrattuale"
descrizione_estesa="Documentazione comprovante il diritto contrattuale"
filename="Doc_diritto_contrattuale.jpeg,Doc_diritto_contrattuale.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-DOC-DIRITTO-CONTRATTUALE"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf,image/jpeg"/>

<meta codice_allegato="INFORM-TRATT-DATI-EDILIZIA"
urn_allegato="document:c_l378:allegato.informativa.trattamento.dati.edilizia"
descrizione_estesa="Informativa trattamento dati EDILIZIA"
filename="INFORM-TRATT-DATI-EDILIZIA.jpeg,INFORM-TRATT-DATI-EDILIZIA.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/INFORM-TRATT-DATI-EDILIZIA"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf,image/jpeg"/>

{% endblock meta %}

{% block title %}
   Ulteriore intestatario del procedimento
{% endblock title %}

{% block content %}


{{ porzioni_edilizia_anag_intestatari_agg.anagrafica_intestatario_aggiuntivo(title="ULTERIORE INTESTATARIO (firma digitale)", delega="false")}}

<input id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value=""/>
<input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden"/>
<input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden"/>
<input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}"/>

<input id="GLOBO_allegato_cINFORM-TRATT-DATI-EDILIZIA" name="GLOBO_allegato_cINFORM-TRATT-DATI-EDILIZIA" obbligatorio="''" type="hidden" value=""/>

{% endblock content %}