{% set CodiceModulo =  "GEN-IMMAGG-AU-NUOVO" %}
{% set Urn =  "document:c_l378:modulo.secondario.ulteriori.particelle.firma.autografa.nuovo" %}
<!--{% set modulo_workflow_model =  "https://sportello.comune.trento.it/modulistica/moduli/GEN-IMMAGG-AU-NUOVO_vSTU3" %}-->
{% extends "base_trento_new.html" %}

{% block meta %}
<meta campi_firma="Metadati_AventeTitolo_CodiceFiscale"
classi_modulo="Generale"
codice_modulo="{{ CodiceModulo }}"
urn="{{ Urn }}"
descrizione="Modulo secondario - Ulteriori particelle oggetto del procedimento (firma autografa)"
destinatario_amministrazione=""
destinatario_ufficio=""
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="NO"
firmare="NO"
istruzioni_compilazione=""
istruzioni_invio=""
metodo_invio=""
name="GLOBO_modulo"
procura="NO,,"
tipo_modulo="secondario"
ufficio=""
urlhelp="/modulistica/moduli/GEN-IMMAGG-AU-NUOVO"
verifica_pagamento="NO"
versione="1.0|01/01/2015"/>

<meta codice_allegato="GEN-Modulo_compilato_firma_autografa"
urn_allegato="document:c_l378:allegato.copia.modulo.firma.autografa"
descrizione_estesa="Scansione del modulo ulteriori particelle compilato e firmato manualmente"
filename="Modulo_ult_part_compilato_firma_autografa.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-Modulo_compilato_firma_autografa"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

{% endblock meta %}

<!--{% block simpaticoconfig %}
  {% set simpaticoEservice="1_3_2" %}
  {% set simpaticoEserviceName="GEN IMMAGG AU" %}
  {% set simpaticoEserviceURL="https://sportello.comune.trento.it/modulistica/moduli/GEN-IMMAGG-AU-NUOVO" %}
  {% set simpaticoForm="modulo_secondario" %}
  {% set simpaticoCategory="Edilizia" %}
  {% set simpaticoMapping=[ "AventeTitolo_EMailPEC",
                           "AventeTitolo_Tel_Fisso",
                           "AventeTitolo_EMail"] %}

  {% set ERROR_LABELS=[ ('block1' ,'Inserire il codice fiscale'),
                        ('block2' , 'Selezionare il ruolo'),
                        ('block4' , 'Particella inesistente'),
                        ('block5' , 'Particella inesistente'),
                        ('block6' , 'Particella inesistente'),
                        ('block7' , 'Particella inesistente'),
                        ('block8' , 'Particella inesistente'),
                        ('block9' , 'Particella inesistente'),
                        ('block10' , 'Particella inesistente'),
                        ('block11' , 'Particella inesistente'),
                        ('block12' , 'Particella inesistente'),
                        ('block13' , 'Particella inesistente')] %}
  {{ utilsSimpatico.ScriptSimpatico(simpaticoEservice, simpaticoEserviceName, simpaticoEserviceURL, simpaticoForm, simpaticoCategory, simpaticoMapping, ERROR_LABELS ) }}
{% endblock simpaticoconfig %}-->


{% block title %}
   Ulteriori particelle o subalterni oggetto del procedimento
{% endblock title %}

{% block content %}


{{intestazioni.intestazione_modulosecondario_senzabollo()}}
<input id="Oggetto" name="Oggetto" type="hidden" value="" dynamic_value="#Nominativo_titolare.value().toUpperCase() + ' - ulteriori particelle o subalterni'"/>

<div class="simpatico-block simpatico-query-and-answer">

  <h1 class="Modulo">Ulteriori particelle o subalterni oggetto del procedimento</h1>


  <table class="Modulo" name="consapevolezza_sanz_penali" style="border: 1px solid grey">
    <tbody>
      <tr class="Rigaintestazione">
        <td>
          <p style="line-height:1.6;">Il <b>titolare</b> <input id="Nominativo_titolare" name="Nominativo_titolare" dynamic_value="#Metadati_AventeTitolo_Nome.value() + ' ' + #Metadati_AventeTitolo_Cognome.value()" size="87"/>
          <br>valendosi della facoltà prevista dall'articolo 47 del Decreto del Presidente della Repubblica 28/12/2000, n. 445, consapevole delle sanzioni penali previste dall'articolo 76 del Decreto del Presidente della Repubblica 28/12/2000, n. 445 e dall'articolo 483 del Codice Penale nel caso di dichiarazioni non veritiere e di falsità in atti</p>
        </td>
      </tr>
    </tbody>
  </table>

  <br>

  <h1 class="Modulo">DICHIARA</h1>

  <table class="Modulo" style="border: 1px solid grey">
    <tbody>
      <tr class="Rigaintestazione">
        <td>
          <p style="line-height:1.6;"><b>che il procedimento riguarda anche le particelle o i subalterni di seguito indicati:</b>
        </td>
      </tr>
    </tbody>
  </table>

  {{immobili_trento.immobile_semplice("Immobile1")}}
</div>

<div class="simpatico-block simpatico-query-and-answer">
  {{immobili_trento.immobile_semplice("Immobile2")}}
</div>

<div class="simpatico-block simpatico-query-and-answer">
  {{immobili_trento.immobile_semplice("Immobile3")}}
</div>

<div class="simpatico-block simpatico-query-and-answer">
  {{immobili_trento.immobile_semplice("Immobile4")}}
</div>

<div class="simpatico-block simpatico-query-and-answer">
  {{immobili_trento.immobile_semplice("Immobile5")}}
</div>

<div class="simpatico-block simpatico-query-and-answer">
  {{immobili_trento.immobile_semplice("Immobile6")}}
</div>

<div class="simpatico-block simpatico-query-and-answer">
  {{immobili_trento.immobile_semplice("Immobile7")}}
</div>

<div class="simpatico-block simpatico-query-and-answer">
  {{immobili_trento.immobile_semplice("Immobile8")}}
</div>

<div class="simpatico-block simpatico-query-and-answer">
  {{immobili_trento.immobile_semplice("Immobile9")}}
</div>

<div class="simpatico-block simpatico-query-and-answer">
  {{immobili_trento.immobile_semplice("Immobile10")}}
</div>

<br/>

<table class="Modulo simpatico-block simpatico-query-and-answer" name="Allegati" style="border:1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="4">
        <p style="text-align: center; line-height: 1.6;"><b>Elenco degli allegati</b></p>
      </td>
    </tr>
    <tr class="Rigaintestazione">
      <td style="width:4%;">
        <p style="line-height: 1.6; font-size: 85%; text-align: center;">Si allega</p>
      </td>
      <td colspan="2">
        <p style="line-height: 1.6; font-size: 85%; text-align: center;">Titolo allegato</p>
      </td>
      <td style="width:15%;">
        <p style="line-height: 1.6; font-size: 85%; text-align: center;">Numero documenti</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <input id="Modulo_ult_part_firma_autografa" name="Modulo_ult_part_firma_autografa" dynamic_check="true" enabled="true" type="checkbox" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height:1.6;">Scansione della stampa di questo modulo firmata</p>
        <input id="GLOBO_allegato_cGEN-Modulo_compilato_firma_autografa" name="GLOBO_allegato_cGEN-Modulo_compilato_firma_autografa" obbligatorio="'OBBLIGATORIO'" type="hidden" value=""/>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input id="numero_copia_modulo" name="numero_copia_modulo" dynamic_value="'1'" style="width: 90%; text-align: center;" readonly/></p>
      </td>
    </tr>
  </tbody>
</table>

<br>

<div class="simpatico-block">
  <table class="Modulo simpatico-block" name="Luogo_e_data" style="border: 1px solid grey">
    <tbody>
      <tr>
        <td style="width: 25%; text-align: center;">
          <input class="" id="Luogo_PDF" name="Luogo_PDF" style="width:80%; text-align: center;" type="text"/>
        </td>
        <td style="width: 25%; text-align: center;">
          <input class="" id="Data_PDF" name="Data_PDF" style="width:80%; text-align: center;" type="text"/>
        </td>
        <td style="width: 50%; text-align: center; height: 1.5cm;">
        </td>
      </tr>
      <tr class="Rigaintestazioneridotta">
        <td>
          <p class="Labelcella" style="text-align: center;">Luogo</p>
        </td>
        <td>
          <p class="Labelcella" style="text-align: center;">Data</p>
        </td>
        <td>
          <p class="Labelcella" style="text-align: center;">Il titolare <span style="font-size:95%"><i>(firma autografa)</i></span></p>
        </td>
      </tr>
    </tbody>
  </table>

  <br/>

  <p class="Modulo">
    <input id="SalvaModulo" name="SalvaModulo" style="height:30px;width:120px;" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza." type="submit" value="Salva modulo"/>
  </p>
</div>

<input id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value=""/>
<input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden"/>
<input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden"/>
<input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}"/>

<br>

{{ utils.passaggio_metadati() }}
<input id="Metadati_AventeTitolo_CodiceFiscale" name="Metadati_AventeTitolo_CodiceFiscale"/>
<input id="Metadati_AventeTitolo_Cognome" name="Metadati_AventeTitolo_Cognome"/>
<input id="Metadati_AventeTitolo_Nome" name="Metadati_AventeTitolo_Nome"/>

{% endblock content %}
