{% set CodiceModulo = "M55562-COMUNICAZIONE-OPERE-LIBERE" %}
{% set Urn =  "document:c_l378:comunicazione.opere.libere.senza.progettista;m55562.comunicazione.opere.libere.senza.progettista" %}
{% extends "base_trento_ok.html" %}

{% block meta %}

<meta campi_firma="AventeTitolo_CodiceFiscale"
campi_firma_label="Il/La titolare"
classi_modulo="Tributi"
codice_modulo="{{ CodiceModulo }}"
urn="{{ Urn }}"
sub_urn_list=""
uo_globo_list=""
contesto_procedurale="Comunicazione opere libere senza progettista"
descrizione="Comunicazione opere libere senza progettista"
destinatario_amministrazione=""
destinatario_ufficio="OE7NEF"
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="SI"
firmare="AUTENTICATO"
istruzioni_compilazione=""
istruzioni_invio="mail_pec"
metodo_invio="mail"
name="GLOBO_modulo"
procura="NO,,"
segnatura="AventeTitolo"
tipo_modulo="principale"
urlhelp="/modulistica/moduli/M55562-COMUNICAZIONE-OPERE-LIBERE"
verifica_pagamento="NO"
versione="1.0|09/02/2018" />

<!-- DICHIARAZIONE MOD SECONDARI -->

<meta codice_allegato="INFORM-TRATT-DATI-EDILIZIA"
urn_allegato="document:c_l378:allegato.informativa.trattamento.dati.edilizia"
descrizione_estesa="Informativa trattamento dati EDILIZIA"
filename="INFORM-TRATT-DATI-EDILIZIA.jpeg,INFORM-TRATT-DATI-EDILIZIA.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/INFORM-TRATT-DATI-EDILIZIA"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf,image/jpeg"/>

<meta codice_modulo_figlio="GEN-IMMAGG-AU"
urn_modulo_figlio="document:c_l378:modulo.secondario.ulteriori.particelle.firma.autografa"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<meta codice_modulo_figlio="GEN-IMPRESE-CILA-EL"
urn_modulo_figlio="document:c_l378:modulo.secondario.cila.anagrafica.imprese.firma.elettronica"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<!-- anagrafe lavoratore autonomo -->
<meta codice_modulo_figlio="GEN-LAV-AUTON-AU"
urn_modulo_figlio="document:c_l378:modulo.secondario.anagrafica.lavoratori.autonomi.firma.autografa"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<meta codice_modulo_figlio="GEN-LAV-AUTON-EL"
urn_modulo_figlio="document:c_l378:modulo.secondario.anagrafica.lavoratori.autonomi.firma.elettronica"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<!-- ulteriori intestatari  -->
<meta codice_modulo_figlio="GEN-INTAGG-AU-OPERE-LIBERE"
urn_modulo_figlio="document:c_l378:modulo.secondario.ulteriori.intestatari.opere.libere.firma.autografa"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<meta codice_modulo_figlio="GEN-INTAGG-EL-OPERE-LIBERE"
urn_modulo_figlio="document:c_l378:modulo.secondario.ulteriori.intestatari.opere.libere.firma.digitale"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<!-- direttore lavori -->
<meta codice_modulo_figlio="GEN-DIRETT-LAV-OPERE-LIBERE"
urn_modulo_figlio="document:c_l378:modulo.secondario.anagrafica.opere.libere.direttore.lavori"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<!-- soggetto certificatore energetico -->
<meta codice_modulo_figlio="GEN-CERTIFIC-ENERG-EL"
urn_modulo_figlio="document:c_l378:modulo.secondario.anagrafica.certificatore.energetico.firma.digitale"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<!-- soggetto attestante i requisiti di prestazione energetica -->
<meta codice_modulo_figlio="GEN-CERTIFIC-REQ-ENERG-EL"
urn_modulo_figlio="document:c_l378:modulo.secondario.anagrafica.certificatore.requisiti.energetici.firma.digitale"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<!-- progettista impianti -->
<meta codice_modulo_figlio="GEN-PROGETTISTA-IMPIANTI-OPERE-LIBERE"
urn_modulo_figlio="document:c_l378:modulo.secondario.anagrafica.opere.libere.progettista.impianti"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<!-- progettista opere precarie -->
<meta codice_modulo_figlio="GEN-PROGETTISTA-OPERE-PRECARIE-OPERE-LIBERE"
urn_modulo_figlio="document:c_l378:modulo.secondario.anagrafica.opere.libere.progettista.opere.precarie"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>


<meta codice_report="CSP_SESSION_REPORT"
generate_on="sending"
name="GLOBO_report"
urn_report="report:CSP_SESSION_REPORT"/>

<!-- INIZIO DICHIARAZIONE ALLEGATI -->

<meta codice_allegato="GEN-DOC-DIRITTO-CONTRATTUALE"
urn_allegato="document:c_l378:allegato.doc.diritto.contrattuale"
descrizione_estesa="Allegato - Documentazione comprovante il diritto contrattuale"
filename="Doc_diritto_contrattuale.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-DOC-DIRITTO-CONTRATTUALE"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-DICH-ASSENSO-TITOLARI"
urn_allegato="document:c_l378:allegato.dich.assenso.titolari"
descrizione_estesa="Allegato - Dichiarazione di assenso e documento di identità dei terzi titolari di altri diritti reali o obbligatori"
filename="Dich_ass_titolari.jpeg,Dich_ass_titolari.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-DICH-ASSENSO-TITOLARI"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf,image/jpeg"/>

<meta codice_allegato="GEN-VERB-ASS-COND"
urn_allegato="document:c_l378:allegato.assenso.condominio"
descrizione_estesa="Allegato - Verbale di assenso del condominio"
filename="Verbale assenso condominio.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-VERB-ASS-COND"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-VERB-ASS-COMP"
urn_allegato="document:c_l378:allegato.assenso.comproprietari"
descrizione_estesa="Allegato - Verbale di assenso dei comproprietari"
filename="Verbale assenso comproprietari.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-VERB-ASS-COMP"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-DOCUMENTAZIONE-FOTOGRAFICA"
urn_allegato="document:c_l378:allegato.documentazione.fotografica.area.intervento"
descrizione_estesa="Allegato - Documentazione fotografica"
filename="GEN-DOCUMENTAZIONE-FOTOGRAFICA.jpeg,GEN-DOCUMENTAZIONE-FOTOGRAFICA.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-DOCUMENTAZIONE-FOTOGRAFICA"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf,image/jpeg"/>

<meta codice_allegato="GEN-RELAZIONE_TECNICA-OPERE"
urn_allegato="document:c_l378:allegato.relazione.tecnica.opere"
descrizione_estesa="Relazione tecnica descrittiva delle opere"
filename="Relazione tecnica descrittiva delle opere.pdf"
firmato="SI"
firmatari="Referente4_CodiceFiscale"
firmatari_label="Il progettista abilitato"
istruzioni="/modulistica/moduli/GEN-RELAZIONE_TECNICA-OPERE"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-ELAB-PROG-IMPIANTI"
urn_allegato="document:c_l378:allegato.elab.prog.impianti"
descrizione_estesa="Elaborato/i progettuale/i relativo/i agli impianti"
filename="Elaborato progettuale impianti.pdf"
firmato="SI"
firmatari="Referente3_CodiceFiscale"
firmatari_label="Il progettista abilitato"
istruzioni="/modulistica/moduli/GEN-ELAB-PROG-IMPIANTI"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-RELAZ-REQ-PREST-ENERG"
urn_allegato="document:c_l378:allegato.requisiti.prestaz.energ"
descrizione_estesa="Relazione requisiti prestazione energetica"
filename="Relazione requisiti prestazione energetica.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-RELAZ-REQ-PREST-ENERG"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-RELAZ-REQ-PREST-ENERG-FIRMATA"
urn_allegato="document:c_l378:allegato.requisiti.prestaz.energ"
descrizione_estesa="Relazione requisiti prestazione energetica firmata da soggetto attestante i requisiti"
filename="Relazione requisiti prestazione energetica.pdf"
firmato="SI"
firmatari="Referente9_CodiceFiscale"
firmatari_label="Il soggetto abilitato"
istruzioni="/modulistica/moduli/GEN-RELAZ-REQ-PREST-ENERG-FIRMATA"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-RELAZ-ENERGETICA"
urn_allegato="document:c_l378:allegato.relaz.energetica"
descrizione_estesa="Relazione energetica"
filename="Relazione energetica.pdf"
firmato="SI"
firmatari="Referente8_CodiceFiscale"
firmatari_label="Il soggetto abilitato"
istruzioni="/modulistica/moduli/GEN-RELAZ-ENERGETICA"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<!-- allegato superbonus cila -->
<meta codice_allegato="GEN-SUPERBONUS-CILA"
urn_allegato="document:c_l378:allegato.superbonus.cila.au"
descrizione_estesa="CILA-SUPERBONUS"
filename="CILA-SUPERBONUS.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-SUPERBONUS-CILA"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>


<!-- altri allegati -->
<meta codice_allegato="GEN-ALTRI-ALLEGATI"
urn_allegato="document:c_l378:allegato.altri.allegati"
descrizione_estesa="Allegato - Altri allegati"
filename="Altri allegati.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-ALTRI-ALLEGATI"
name="GLOBO_allegato"
numero="0"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>


<!-- FINE DICHIARAZIONE ALLEGATI/MOD SECONDARI -->

{% endblock meta %}


{% block title %}Comunicazione opere libere{% endblock title %}


{% block content %}


{{ porzioni_opere_libere.operelibere(solo_titolare="true") }}

<!-- FINE BLOCCO FIRMA -->

<input destinatario_amministrazione="getParameter('Ente')" id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value="" />

<input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden" />
<input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden" />
<input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}" />

<input id="GLOBO_allegato_cINFORM-TRATT-DATI-EDILIZIA" name="GLOBO_allegato_cINFORM-TRATT-DATI-EDILIZIA" obbligatorio="''" type="hidden" value=""/>



{% endblock content %}



