{% set CodiceModulo = "M06014-DOMANDA-COPIA-ATTI-INCIDENTI-STRADALI" %}
{% set Urn =  "document:c_l378:rilascio.copia.atti.incidenti.stradali;m06014.domanda" %}
{% extends "base_trento_ok.html" %}
{% block meta %}

<meta campi_firma="Titolare_CodiceFiscale"
campi_firma_label="il/la dichiarante"
classi_modulo="Occupazione concorsi e assunzione"
codice_modulo="{% block codice %}{{ CodiceModulo }}{% endblock codice %}"
urn="{% block urn %}{{ Urn }}{% endblock urn %}"
sub_urn_list=""
uo_globo_list=""
descrizione="Polizia Locale - Rilascio Copia Atti"
destinatario_amministrazione=""
destinatario_ufficio="KE9B1B"
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="NO"
firmare="AUTENTICATO"
istruzioni_compilazione=""
istruzioni_invio="mail_pec"
metodo_invio="mail"
name="GLOBO_modulo"
procura="NO,,"
segnatura="Titolare"
tipo_modulo="principale"
urlhelp="/modulistica/moduli/{{ CodiceModulo }}"
verifica_pagamento="NO"
versione="2.0|29/05/2020"/>

<meta codice_allegato="M06014-a2-Allegato_2"
urn_allegato="document:c_l378:polizia.rilascio.atti;allegati_2"
descrizione_estesa="Polizia Locale - Documento di Delega"
filename="Verbale commissione.jpeg,Verbale commissione.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/M06014-a2-Allegato_2"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf,image/jpeg"/>

<meta codice_report="CSP_SESSION_REPORT"
generate_on="sending"
name="GLOBO_report"
urn_report="report:CSP_SESSION_REPORT"/>

{% endblock meta %}
{% block title %}Richiesta di rilascio copia atti relativi a incidente stradale{% endblock title %}
{% block content %}

<input dynamic_value="#Ente.value()" id="Parametri_Comune" name="Parametri_Comune" type="hidden" />
<input dynamic_value="'Rilascio Copia Atti - ' + #Titolare_Cognome.value().toUpperCase() + ' ' + #Titolare_Nome.value().toUpperCase() + ' (' + #Titolare_CodiceFiscale.value().toUpperCase() + ')'" id="Oggetto" name="Oggetto" type="hidden" />

<!-- <input dynamic_value="' - Rilascio Copia Atti'" id="Oggetto" name="Oggetto" type="hidden" /> -->

<!-- INIZIO BLOCCO INTESTAZIONE -->
<div type="intestazione_moduloprincipale_senzabollo_2">
  <div class="container border-bottom" style="border-radius: unset;z-index: -1;">
    <div class="form-row">
      <div class="form-group col-lg-3 text-center">
        <img alt="Ente" src="./appoggio/img/StemmaComune.png">
      </div>
      <div class="form-group col-lg-6 text-center mb-0">
        <div class="heading">
          <label for="Ente"> Al comune di </label>
          <div class="space-0"></div>
          <input class="form-control" style="background-color: white;" id="Ente" name="Ente" readonly disabled>
        </div>
        <div class="heading">
          <label for="CodiceISTAT"> Codice ISTAT </label>
          <div class="space-0"></div>
          <input class="form-control" style="background-color: white;" id="CodiceISTAT" name="CodiceISTAT" readonly disabled>
        </div>
        <div class="heading">
          <label for="UfficioDestinatario"> Ufficio destinatario </label>
          <div class="space-0"></div>
          <input class="form-control" style="background-color: white;" id="UfficioDestinatario" name="UfficioDestinatario" dynamic_value="#Parametri_UfficioDestinatario.value() ? get_ufficio_dest() : get_ufficio_dest()" readonly disabled>
        </div>
      </div>
      <div class="form-group col-lg-3 text-center">
        <div class="heading"></div>
      </div>
    </div>
  </div>
</div>
 
<!-- FINE BLOCCO INTESTAZIONE -->
<div class="space-1"></div>

<div class="container">
  <div class="title-1">RICHIESTA DI RILASCIO COPIA ATTI RELATIVI AD INCIDENTE STRADALE</div>
  <div class="space-1"></div>
  <div class="title-3">Ai sensi dell'articolo 21 del Decreto del Presidente della Repubblica 16/12/1992, n. 495</div>
</div>

<div class="space-1"></div>

<input type="hidden" name="TipoContesto" id="TipoContesto" value="GLOBO">
<input type="hidden" name="TipoLista" id="TipoLista" value="PGLOBO">

<input id="cellulare_obbligatorio" name="cellulare_obbligatorio" dynamic_check="true" type="hidden">
<input id="mail_obbligatoria" name="mail_obbligatoria" dynamic_check="true" type="hidden">

<div class="space-1"></div>

<!-- INIZIO BLOCCO ANAGRAFICA RESPONSIVE-->
{{anagrafica_macro.richiedente_resp("Titolare","Il/La sottoscritto/a, avente codice fiscale:", "visibility:visibility", "cursor:pointer", "visibility:visibility")}} 
<!-- FINE BLOCCO ANAGRAFICA RESPONSIVE-->

<div class="space-1"></div>

<!-- INIZIO BLOCCO Titolere_Rapporto -->

  <div class="container border bg-light">
    <div class="form-row">
      <div class="col-lg-12">
        <span class="title"><b> Titolo Richiedente</b> </span>
      </div>
    </div>
  
    <div class="container border bg-light">
      <div class="form-row">
        <div class="form-check indent-1 border-bottom">
          <div id="Titolere_Rapporto" name="Titolere_Rapporto" label="Indicare chi è il titolare" mandatory="true"></div>
          <input class="form-check-input" id="Titolere_Rapporto_1" name="Titolere_Rapporto" type="radio" value="1">
          <label class="form-check-label" for="Titolere_Rapporto_1"> 
          Quale diretto coinvolto nel sinistro stradale e/o proprietario di veicolo coinvolto
          </label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-check indent-1 border-bottom">
          <input class="form-check-input" id="Titolere_Rapporto_3" name="Titolere_Rapporto" type="radio" value="2">
          <label class="form-check-label" for="Titolere_Rapporto_3"> 
            Compagnia assicurativa
          </label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-lg-12">
            <input class="form-control" id="Titolere_Rapporto_asw_2" name="Titolere_Rapporto_asw_2" mandatory_enabled="#Titolere_Rapporto_3.checked()" label="Nome compagni assicurativa">
            <div class="form-row">
              <div class="col-lg-12">
              </div>
            </div>
          </div>
      </div>
        <div class="form-row">
        <div class="form-check indent-1 border-bottom">
          <input class="form-check-input" id="Titolere_Rapporto_2" name="Titolere_Rapporto" type="radio" value="3">
          <label class="form-check-label" for="Titolere_Rapporto_2"> 
          In nome e per conto di
          </label>
        </div>
      </div>
      
      <div class="form-row">
        <div class="form-group col-lg-12">
            <input class="form-control" id="Titolere_Rapporto_asw" name="Titolere_Rapporto_asw" mandatory_enabled="#Titolere_Rapporto_2.checked()" label="Per nome e conto o in nome di">
            <div class="form-row">
              <div class="col-lg-12">
                <label><b>pertanto allega documento di delega (non necessario per compagnie assicurative)</b> </label>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>

<!-- FINE BLOCCO Titolere_Rapporto -->

<!-- INIZIO BLOCCO Verificatosi -->

<div class="container border bg-light">
  <div class="form-row">
    <div class="col-lg-12">
      <span class="title"><b> In relazione al sinistro stradale verificatosi in</b> </span>
    </div>
  </div>

  <div class="container border bg-light">
    <div class="form-row">
      <div class="form-row">
        <div class="form-group col-lg-3">
            <label for="Provincia"> Provincia</label>
            <input class="form-control" id="Provincia" name="Provincia" label="Provincia obbligatoria" mandatory="true">
        </div>
        <div class="form-group col-lg-3">
          <label for="Comune"> Comune</label>
          <input class="form-control" id="Comune" name="Comune" label="Comune obbligatorio" mandatory="true">
        </div> 
        <div class="form-group col-lg-4">
          <label for="Indirizzo">Indirizzo</label>
          <input class="form-control" id="Indirizzo" name="Indirizzo" label="Indirizzo obbligatorio" mandatory="true">
        </div>
        <div class="form-group col-lg-1">
          <label for="Civico">Civico</label>
          <input class="form-control" id="Civico" name="Civico" label="Civico obbligatorio" mandatory="true">
        </div>
        <div class="form-group col-lg-1">
          <label for="Battato">Barrato</label>
          <input class="form-control" id="Battato" name="Battato" label="Battato">
        </div>
      </div>
  </div>
  <div class="form-row">
    <div class="form-row">
      <div class="form-group col-lg-6">
          <label for="CondizioneNucleo_CognomeAnniLavoro"> Data del sinistro</label>
          <input class="form-control" type="text" format="date" id="CondizioneNucleo_CognomeAnniLavoro" name="CondizioneNucleo_CognomeAnniLavoro" label="Cognome della persona con più anni di lavoro" mandatory="true">
      </div>
      <div class="form-group col-lg-6">
        <label for="CondizioneNucleo_NomeAnniLavoro"> Ora del sinistro</label>
        <input class="form-control"  id="CondizioneNucleo_NomeAnniLavoro" name="CondizioneNucleo_NomeAnniLavoro" label="Nome della persona con più anni di lavoro" mandatory="true">
      </div> 
    </div>
</div>
</div>
<!-- FINE BLOCCO Verificatosi -->

<!-- INIZIO BLOCCO Veicoli -->
<div class="container border bg-light">
  <div class="form-row">
    <div class="col-lg-12">
      <span class="title"><b> Che ha riguardato i seguenti veicoli</b> </span>
    </div>
  </div>

  <div class="container border bg-light">
    <div class="form-row">
      <div class="form-row">
        <div class="form-group col-lg-4">
            <label for="Marca"> Marca e Modello</label>
            <input class="form-control" id="Marca" name="Marca" label="Marca obbligatoria" mandatory="true">
            <input class="form-control" id="Marca_1" name="Marca" label="Marca ">
            <input class="form-control" id="Marca_1" name="Marca" label="Marca ">
            <input class="form-control" id="Marca_1" name="Marca" label="Marca ">
            <input class="form-control" id="Marca_1" name="Marca" label="Marca ">
        </div>
        <div class="form-group col-lg-2">
          <label for="Targa"> Numero di targa</label>
          <input class="form-control" id="Targa" name="Targa" label="Targa obbligatorio" mandatory="true">
          <input class="form-control" id="Targa_1" name="Targa_1" label="Targa">
          <input class="form-control" id="Targa_1" name="Targa_1" label="Targa">
          <input class="form-control" id="Targa_1" name="Targa_1" label="Targa">
          <input class="form-control" id="Targa_1" name="Targa_1" label="Targa">
        </div> 
        <div class="form-group col-lg-3">
          <label for="Conducente">Nome conducente</label>
          <input class="form-control" id="Conducente" name="Conducente" label="Conducente obbligatorio" mandatory="true">
          <input class="form-control" id="Conducente_1" name="Conducente_1" label="Conducente">
          <input class="form-control" id="Conducente_1" name="Conducente_1" label="Conducente">
          <input class="form-control" id="Conducente_1" name="Conducente_1" label="Conducente">
          <input class="form-control" id="Conducente_1" name="Conducente_1" label="Conducente">
        </div>
        <div class="form-group col-lg-3">
          <label for="Conducente_c">Cognome conducente</label>
          <input class="form-control" id="Conducente_c" name="Conducente_c" label="Conducente_cognome obbligatorio" mandatory="true">
          <input class="form-control" id="Conducente_c_1" name="Conducente_c" label="Conducente_cognome obbligatorio">
          <input class="form-control" id="Conducente_c_1" name="Conducente_c" label="Conducente_cognome obbligatorio">
          <input class="form-control" id="Conducente_c_1" name="Conducente_c" label="Conducente_cognome obbligatorio">
          <input class="form-control" id="Conducente_c_1" name="Conducente_c" label="Conducente_cognome obbligatorio">


        </div>
      </div>
  </div>
</div>
<!-- FINE BLOCCO Veicoli -->

<div class="container">
  <div class="title-2">CHIEDE</div>
</div>

<div class="container border bg-light">
  <div class="form-row">
    <div class="col-lg-12">
        <label for="rilascio_rapporto">Il rilascio di copia del rapporto di incidente stradale</label>
      </div>
  </div>

  <div class="container border bg-light">
      <div class="form-row">
        <div class="form-group col-lg-6">
            <label for="Numero_pol"> Numero (se conosciuto)</label>
            <input class="form-control" id="Numero_pol" name="Numero_pol" label="Numero obbligatoria">
        </div>
        <div class="form-group col-lg-4">
          <label for="Data_2"> Data</label>
          <input class="form-control" type="text" format="date" id="Data_2" name="Data_2" label="Cognome della persona con più anni di lavoro">
      </div>
      </div>
</div>
</div>

<div class="container border bg-light">
  <div class="form-row">
    <div class="form-group col-lg-12">
      <span class="title"><b> Tramite</b> </span>
        <p style="font-size: x-small;">
          <b>Modalità di rilascio</b>
        </p>
    </div>
  </div>

  <div class="form-row">
    <div class="form-check indent-1 border-bottom">
      <div id="Presa" name="Presa" label="Presa Visione" mandatory_enabled="true"></div>
      <input class="form-check-input" id="Presa_1" name="Presa" type="radio" value="1">
      <label class="form-check-label" for="Presa_1"> 
        Presa Visione
      </label>
    </div>
  </div>
  <div class="form-row">
    <div class="form-check indent-1 border-bottom">
      <input class="form-check-input" id="Presa_2" name="Presa" type="radio" value="2">
      <label class="form-check-label" for="Presa_2"> 
        Copia informatizzata
      </label>
    </div>
  </div>
  <div class="form-row">
    <div class="form-check indent-1 border-bottom">
      <input class="form-check-input" id="Presa_3" name="Presa" type="radio" value="3">
      <label class="form-check-label" for="Presa_3"> 
        Copia in carta semplice
      </label>
    </div>
  </div>
  <div class="form-row">
    <div class="form-check indent-1 border-bottom">
      <input class="form-check-input" id="Presa_4" name="Presa" type="radio" value="4">
      <label class="form-check-label" for="Presa_4"> 
        Copia conforme all'originale
      </label>
    </div>
  </div>
  <div class="form-row">
    <div class="form-check indent-1 border-bottom">
      <input class="form-check-input" id="Presa_5" name="Presa" type="radio" value="5">
      <label class="form-check-label" for="Presa_5"> 
        Altro (specificare)
      </label>
    </div>
  </div>
</div>

  <div class="container border bg-light">
    <div class="form-row">
      <div class="form-group col-lg-12">
        <span class="title"><b> Eventuali Annotazioni</b> </span>
      </div>
    </div>
    <div class="form-row">
      <textarea class="form-control" name="Parametri_CorpoCom" id="Parametri_CorpoCom" mandatory_enabled="#Presa_5.checked()"></textarea>
    </div>
  </div>
</div>

<div class="container">
  <div class="title-2">CHIEDE</div>
</div>


<div class="container border bg-light">
  <div class="form-row">
    <div class="form-check indent-1 border-bottom">
      <div id="Ritiro" name="Ritiro" label="Ritiro" mandatory_enabled="true"></div>
      <input class="form-check-input" id="Ritiro_1" name="Ritiro" type="radio" value="1">
      <label class="form-check-label" for="Ritiro_1"> 
        Di poterli ritirare presso l'ufficio competente
      </label>
    </div>
  </div>

  <div class="form-row">
    <div class="form-check indent-1 border-bottom">
      <input class="form-check-input" id="Ritiro_3" name="Ritiro" type="radio" value="2">
      <label class="form-check-label" for="Ritiro_3"> 
        Di riceverli a mezzo posta all'indirizzo di residenza sopra indicato
      </label>
      <p style="font-size: x-small;">
        se previsto dall'Amministrazione
      </p>
    </div>
  </div>
</div>

<div class="space-1"></div>

{% block allegati %}
<div class="container border bg-light">
  <div class="form-row">
    <label class="title"><b>Elenco degli allegati:</b></label>
  </div>
  <div class="form-row">
    <div class="form-check indent-1">
      <input class="form-check-input" id="Allegato_100" name="Allegato_100"  dynamic_check="true" type="checkbox" value="OBBLIGATORIO">
      <label class="form-check-label" for="Allegato_100"><b>Modulo secondario</b> - Distinta di pagamento: versamento di 53,40 € per spese di procedimento</label>
      <p style="font-size: x-small;">
        (completare la distinta con i dati di chi effettua il pagamento e procedere al versamento direttamente da Sportello tramite i bottoni Paga online oppure Paga con Avviso di pagamento)
      </p> 
    </div>
  </div>

  <div class="form-row">
    <div class="form-check indent-1">
      <div id="Allegato_2_div" name="Allegato_2_div" label="Allegato_delega"></div>
      <input class="form-check-input" id="Allegato_2" name="Allegato_2" enabled="#Titolere_Rapporto_2.checked()" dynamic_check="#Titolere_Rapporto_2.checked()" type="checkbox" value="SI">
      <label class="form-check-label" for="Allegato_2"><b>Documento di Delega</b> <br></label> 
    </div>
  </div>
</div>

<div class="container border bg-light">
  <div class="form-row">
    <div class="form-check indent-1">
      <div id="Presa_Visione" name="Presa_Visione" label="Presa visione è obbligatorio" mandatory="true"></div>
      <input group="Presa_Visione" class="form-check-input" id="Presa_visione_check" name="Presa_Visione" type="checkbox" value="1">
      <label class="form-check-label" for="Presa_visione_check"><b>Dichiaro di aver preso visione dell'<a href="https://sportello.comune.trento.it/document/inform-tratt-dati-polizia" target="_blank">informativa sul trattamento dei dati personali</a></b> <br><span style="font-size:85%"><i>(artt. 13 e 14 Regolamento UE n. 2016/679)</i></label> 
    </div>
  </div>
</div> 
{% endblock allegati %}









<!-- INIZIO BLOCCO FIRMA -->

<div type="firma" class="simpatico-block simpatico-query-and-answer">
  <div class="container border bg-light" name="Firme">
    <div class="form-row">
      <div class="form-group col-lg-4 firma-custom">
        <input class="form-control" style="text-align: center;" id="Luogo_PDF" name="Luogo_PDF">
        <label for="Luogo_PDF"> Luogo </label>
      </div>
      <div class="form-group col-lg-4 firma-custom">
        <input class="form-control" style="text-align: center;" id="Data_PDF" name="Data_PDF">
        <label for="Data_PDF"> Data </label>
      </div>
      <div class="form-group col-lg-4 firma-custom">
        <input class="form-control" style="text-align: center;" id="Firma_PDF" name="Firma_PDF" dynamic_value="#Titolare_Nome.value().toUpperCase() + ' ' + #Titolare_Cognome.value().toUpperCase()">
        <label for="Firma_PDF"> Il richiedente<br><span><i>(accesso eseguito mediante SPID o CPS/CNS)</i></span></label>
      </div>
    </div>
  </div>
</div>
  
<!-- FINE BLOCCO FIRMA -->

<br>

<!-- INIZIO BLOCCO SALVA -->

<div class="container">
  <button type="submit" class="btn btn-success btn-lg btn-block" id="SalvaModulo" name="SalvaModulo" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza."> Salva modulo </button>
</div>
  
<!-- FINE BLOCCO SALVA -->




 <input destinatario_amministrazione="getParameter('Ente')" id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value="" />

<input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden" />
<input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden" />
<input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}" />

<!-- <input id="Metadati_oggetto" name="Metadati_oggetto" dynamic_value="#Oggetto.value()" type="hidden"/> -->
<!-- <input id="GLOBO_allegato_cM06014-a1-Allegato" name="GLOBO_allegato_cM06014-a1-Allegato" obbligatorio="#Allegato_100.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/> -->
<input id="GLOBO_allegato_cM06014-a2-Allegato_2" name="GLOBO_allegato_cM06014-a2-Allegato_2"  obbligatorio="#Allegato_2.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<!-- <input id="GLOBO_allegato_cM06014-a3-Allegato_3" name="GLOBO_allegato_cM06014-a3-Allegato_3"  obbligatorio="#Allegato_3.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/> -->



{% endblock content %}