{% set CodiceModulo = "M0704-DOMANDA-CONCORSO-ASSISTENTE-AMMINISTRATIVO-CONTABILE-POSTI-RISERVATI" %}
{% set Urn =  "document:c_l378:concorso.pubblico;concorso.assistente.amministrativo.contabile.posti.riservati;domanda" %}
{% extends "base_trento_ok.html" %}
{% block meta %}
 
<meta campi_firma="Titolare_CodiceFiscale"
campi_firma_label="il/la dichiarante"
classi_modulo="Occupazione concorsi e assunzione"
codice_modulo="{% block codice %}{{ CodiceModulo }}{% endblock codice %}"
urn="{% block urn %}{{ Urn }}{% endblock urn %}"
sub_urn_list=""
uo_globo_list=""
descrizione="Domanda di partecipazione a concorso assistente amministrativo/contabile - posti riservati"
destinatario_amministrazione=""
destinatario_ufficio="AMK73K"
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="SI"
firmare="AUTENTICATO"
istruzioni_compilazione=""
istruzioni_invio="mail_pec"
metodo_invio="mail"
name="GLOBO_modulo"
procura="NO,,"
segnatura="Titolare"
tipo_modulo="principale"
urlhelp="/modulistica/moduli/{{ CodiceModulo }}"
verifica_pagamento="NO"
versione="2.0|29/05/2020"/>

<meta codice_allegato="M0704-A01-CERT-PROT"
urn_allegato="document:c_l378:concorso.pubblico;selezione.assistente.amministrativo.contabile.posti.riservati;a01.M0704.verbale.commissione.medica"
descrizione_estesa="Copia del verbale della commissione medica"
filename="Verbale commissione.jpeg,Verbale commissione.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/M0704-A01-CERT-PROT"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf,image/jpeg"/>

<meta codice_allegato="M0704-A02-CERT-MED"
urn_allegato="document:c_l378:concorso.pubblico;selezione.assistente.amministrativo.contabile.posti.riservati;a02.M0704.certificato.medico"
descrizione_estesa="Copia del certificato medico"
filename="Certificato medico.jpeg,Certificato medico.pdf"
firmato="SI"
istruzioni="/modulistica/moduli/M0704-A02-CERT-MED"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf,image/jpeg"/>

<meta codice_report="CSP_SESSION_REPORT"
generate_on="sending"
name="GLOBO_report"
urn_report="report:CSP_SESSION_REPORT"
/>

{% block ulteriori_allegati %}{% endblock ulteriori_allegati %}
{% endblock meta %}
{% block title %}Richiesta di rilascio copia atti relativi as incidente stradale{% endblock title %}
{% block content %}
<input dynamic_value="#Ente.value()" id="Parametri_Comune" name="Parametri_Comune" type="hidden"/>
{% block oggetto %}
<input dynamic_value="'Richiesta di rilascio copia atti relativi as incidente stradale' + ' ' + #Titolare_Cognome.value().toUpperCase() + ' ' + #Titolare_Nome.value().toUpperCase() + ' (' + #Titolare_CodiceFiscale.value().toUpperCase() + ')'" id="Oggetto" name="Oggetto" type="hidden"/>
{% endblock oggetto %}
{{ intestazioni.intestazione_moduloprincipale_senzabollo() }}
<br>
<br>
<br>
<br>
<h1 class="Modulo">
    RICHIESTA DI RILASCIO COPIA ATTI RELATIVI AD INCIDENTE STRADALE
</h1>
<br>
<br>

<input dynamic_check="true" id="Titolare_DatiPersonaObbligatori" name="Titolare_DatiPersonaObbligatori" type="hidden"/>
<input id="Titolare_Titolo" name="Titolare_Titolo" type="hidden" value="Richiedente"/>
<input id="Titolare_Ruolo" name="Titolare_Ruolo" type="hidden" value="Richiedente"/>
{{ anagrafica_trento_uniformata.persona_fisica("Titolare", "Il sottoscritto/La sottoscritta (Clicca sull'icona omino per recuperare i tuoi dati anagrafici)", "visibility:visibility", "cursor:pointer", "visibility:visibility", "visibility:visibility", "mail_ordinaria", "", "true", "false", "false", " ", "true", "true", "display:none", "visibility:visibility" ) }}
<br>
<br>
<br>
<table class="Modulo" name="tablella_principale" style="border: 1px solid grey;"> 
  <tbody>
  <div id="PerConto" name="PerConto" label="A nome e per conto proprio"></div> 

  <tr>
    <td style="vertical-align: top; width: 4%;">
      <input group="PerConto" id="PerConto1" name="PerConto" type="radio" value="1" />
    </td>
    <td>
      <p style="line-height: 1.6;">A nome e per conto proprio </p>
    </td>
  </tr>

  <tr>
    <td style="vertical-align: top; width: 4%;">
        <input group="PerConto" id="PerConto2" name="PerConto" type="radio" value="2" />
      </td>
      <td>
        <p style="line-height: 1.6;">A nome e per conto di</p>
        <input type="text" name="PerConto_di" id="PerConto_di"style="width:100%;"  mandatory_enabled="#PerConto2.checked()" label="Indicare per chi si richiede il certificato" style="width: 100%;" >
      </td> 
    </tr> 
  </tbody>
</table>


<h3 class="Modulo">
    Chiede il rilascio di:
</h3>
<br>
<br>
<br>
<p class="Modulo">Copia integrale (a pagamento euro 53,40 - comprende eventuali  planimetria e fascicolo fotografico) </p>
<br>
<br>

<table class="Modulo" name="tablella_principale" style="border: 1px solid grey;"> 
  <tbody>
  <div id="TipoConsegna" name="TipoConsegna" label="A nome e per conto proprio"></div> 

  <tr>
    <td style="vertical-align: top; width: 4%;">
      <input group="TipoConsegna" id="TipoConsegna1" name="TipoConsegna" type="radio" value="1" />
    </td>
    <td>
      <p style="line-height: 1.6;">Spedire la copia completa all'indirizzo e-mail</p>
      <input type="text" name="TipoConsegna_email" id="TipoConsegna_email"style="width:100%;"  mandatory_enabled="#TipoConsegna1.checked()" label="Indicare l'indirizzo e-mail" style="width: 100%;" >
    </td>
  </tr>

  <tr>
    <td style="vertical-align: top; width: 4%;">
        <input group="TipoConsegna" id="TipoConsegna2" name="TipoConsegna" type="radio" value="2" />
      </td>
      <td>
        <p style="line-height: 1.6;">passa a ritirare quanto richiesto (inserire telefono)   </p>
        <input type="text" name="TipoConsegna_telefono" id="TipoConsegna_telefono"style="width:100%;"  mandatory_enabled="#TipoConsegna2.checked()" label="Indicare il recapito telefonico" style="width: 100%;" >
      </td> 
    </tr> 
  </tbody>
</table>



      
{% block allegati %}
<table class="Modulo" name="Allegati" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p style="text-align: center;">
          <b>
            Elenco degli allegati
          </b>
        </p>
      </td>
    </tr>

  
  <tr>
    <td style="width: 4%; vertical-align: top;">
    <input id="RIC_DIR_SEG" name="RIC_DIR_SEG" dynamic_check="true" type="checkbox" value="OBBLIGATORIO" />
    </td>
    <td style="background-color: #eeeeee;" colspan="2">
      <!-- <p>Ricevuta versamento di 16,52 € per bollo rilascio e diritti segreteria/istruttoria: <b>S53 Ambiente - Deroga acustica cantieri/manifestazioni/pubblici esercizi</b></p> -->
      <p>Modulo secondario - <b>Distinta di pagamento: versamento di 53,40 € per spese di procedimento</b><br><u>(completare la distinta con i dati di chi effettua il pagamento e procedere al versamento direttamente da Sportello tramite i bottoni Paga online oppure Paga con Avviso di pagamento)</u></a>                                                                        
      </p>
    </td>
  </tr>
  </tbody>
</table>
{% endblock allegati %}
<br>


<h3 class="Modulo">
  DICHIARA
</h3>
<p class="Modulo" style="text-align: center;">di aver preso visione dell'informativa in calce al presente modulo, redatta ai sensi del Regolamento UE n. 2016/679 relativo alla protezione delle persone fisiche con riguardo al trattamento dei dati personali e delle disposizioni della normativa nazionale"</p>

<br>

<table class="Modulo" name="Luogo_e_data" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="width: 25%; text-align: center;">
        <input class="" id="Luogo_PDF" name="Luogo_PDF" style="width:80%; text-align: center;" type="text"/>
      </td>
      <td style="width: 25%; text-align: center;">
        <input class="" id="Data_PDF" name="Data_PDF" style="width:80%; text-align: center;" type="text"/>
      </td>
      <td style="width: 50%; text-align: center; height: 1.5cm;">
        <input class="" id="nominativo_richiedente" name="nominativo_richiedente" dynamic_value="#Titolare_Nome.value().toUpperCase() + ' ' + #Titolare_Cognome.value().toUpperCase()" style="width:90%; text-align: center;"/>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td>
        <p class="Labelcella" style="text-align: center">Luogo</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Data</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Il/la titolare <span style="font-size:95%"><i>(accesso eseguito mediante SPID o CPS/CNS)</i></span></p>
      </td>
    </tr>
  </tbody>
</table>
<br>
<br>
<table class="Modulo" style="border:1px solid grey">
    <tbody>
     <tr class="Rigaintestazioneridotta">
      <td colspan="2">
       <p class="Labelcella">
        Eventuali annotazioni
       </p>
      </td>
     </tr>
     <tr>
      <td colspan="2">
       <textarea class="inputNormal" id="Parametri_AnnotazioniDomanda" name="Parametri_AnnotazioniDomanda" style="width:100%;height:3cm;">
       </textarea>
      </td>
     </tr>
    </tbody>
   </table>








<br>

  



<p class="Modulo">
<input id="SalvaModulo" name="SalvaModulo" style="height:30px;width:120px;" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza." type="submit" value="Salva modulo"/>
</p>

<input destinatario_amministrazione="getParameter('Ente')" id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value=""/>

<input id="GLOBO_allegato_cM0704-A01-CERT-PROT" name="GLOBO_allegato_cM0704-A01-CERT-PROT" type="hidden" value="" obbligatorio="#CERT_PROT.checked() ? 'OBBLIGATORIO' : ''"/>
<input id="GLOBO_allegato_cM0704-A02-CERT-MED" name="GLOBO_allegato_cM0704-A02-CERT-MED" type="hidden" value="" obbligatorio="#CERT_MED.checked() ? 'OBBLIGATORIO' : ''"/>
<!---<input id="GLOBO_allegato_cM0704-A03-TITOLO-EQUIV" name="GLOBO_allegato_cM0704-A03-TITOLO-EQUIV" type="hidden" value="" obbligatorio="#TITOLO_EQUIV.checked() ? 'OBBLIGATORIO' : ''"/> -->


<input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden"/>
<input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden"/>
<input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}"/>

<!-- INIZIO BLOCCO PRESENTAZIONE DOMANDA PER SCADENZA TERMINI -->

<input id="Salva_Modulo_Termini" mandatory="true" type="hidden" label="Impossibile salvare il modulo. I termini per la presentazione della domanda sono conclusi.">

<!-- FINE BLOCCO PRESENTAZIONE DOMANDA PER SCADENZA TERMINI -->

{% endblock content %}
