{% macro build_ws_request(name, description, ws_input, ws_output, prefix, types = {}, event = 'click', sample = {}) %}
  <h1>{{ name }}</h1>
  <p>{{ description }}</p>
  <h3>Input</h3>
  <table>
    {% for key, value in ws_input.iteritems() %}
    <tr>
      <td>{{ key }}</td>
      <td><input type="text" name="{{ prefix }}_{{ value }}" id="{{ prefix }}_{{ value }}" {% if key in sample %}value="{{ sample[key] }}"{% endif %} /></td>
    </tr>
    {% endfor %}
  </table>

  <h3>Trigger</h3>
  <button
    type="button"
    id="{{ prefix }}_trigger"
    name="{{ prefix }}_trigger"
    ws-name="{{ name }}"
    ws-param-in="{%- for key, value in ws_input.iteritems() -%}{{ key }}={{ prefix }}_{{ value }}{% if not loop.last %};{% endif %}{%- endfor -%}"
    ws-param-out="{%- for key, value in ws_output.iteritems() -%}{{ prefix }}_{{ key }}={{ value }}{% if not loop.last %};{% endif %}{%- endfor -%}"
    ws-on="#{{ prefix }}_trigger:{{ event }}" >
  Trigger {{ name }} WS Service
  </button>

  <h3>Output</h3>

  <table>
    {% for key, value in ws_output.iteritems() %}
    <tr>
      <td>{{ value }}</td>
      <td>
        {% if key in types %}
          {% if types[key] == 'select' %}
          <select name="{{ prefix }}_{{ key }}" id="{{ prefix }}_{{ key }}" />
          {% endif %}
        {% else %}
          <input type="text" name="{{ prefix }}_{{ key }}" id="{{ prefix }}_{{ key }}" />
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>

  <hr />
{%- endmacro %}

{% macro compose_ws_param(params = {}) %}
  "{%- for key, value in params.iteritems() -%}{{ key }}={{ value }}{% if not loop.last %};{% endif %}{%- endfor -%}"
{%- endmacro %}

<!-- CHIAMATE AD ANAGRAFE -->

{% macro getPersonaFreeREST(codice_fiscale_element, output, on) %}
<div
  ws-name="getPersonaFreeREST"
  ws-param-in={{ compose_ws_param({'codiceFiscale':codice_fiscale_element}) }}
  ws-param-out={{ compose_ws_param(output) }}
  ws-on="{{ on }}" >
</div>
{%- endmacro %}

{% macro getPersonaREST(codice_fiscale_element, contesto_element, lista_elemento, output, on, allow_edit="") %}
<div
  ws-name="getPersonaREST"
  ws-param-in={{ compose_ws_param({'codiceFiscale': codice_fiscale_element, 'contesto': contesto_element, 'listaAut': lista_elemento }) }}
  ws-param-out={{ compose_ws_param(output) }}
  ws-on="{{ on }}"
  {% if allow_edit!="" %}
    ws-allow-edit="{{ allow_edit }}"
  {% endif %} >
</div>
{%- endmacro %}

{% macro getFiglioREST(codice_fiscale_element, contesto_element, lista_elemento, output, on, allow_edit="") %}
<div
  ws-name="getFiglioREST"
  ws-param-in={{ compose_ws_param({'codiceFiscale': codice_fiscale_element, 'contesto': contesto_element, 'listaAut': lista_elemento }) }}
  ws-param-out={{ compose_ws_param(output) }}
  ws-on="{{ on }}"
  {% if allow_edit!="" %}
    ws-allow-edit="{{ allow_edit }}"
  {% endif %} >
</div>
{%- endmacro %}


{% macro getListaFamigliaREST(codice_famiglia_element, select_output, on, id="lista_famiglia") %}
<div
  id="{{ id }}"
  ws-name="getListaFamigliaREST"
  ws-param-in={{ compose_ws_param({'codiceFamiglia': codice_famiglia_element}) }}
  ws-param-out={{ compose_ws_param({select_output : 'listaCodiceFiscale'}) }}
  ws-on="{{ on }}" >
</div>
{%- endmacro %}


{% macro getListaFamigliaCodiceFiscaleREST(codice_fiscale_element, select_output, on, id="lista_famiglia") %}
<div
  id="{{ id }}"
  ws-name="getListaFamigliaCodiceFiscaleREST"
  ws-param-in={{ compose_ws_param({'codiceFiscaleRicerca': codice_fiscale_element}) }}
  ws-param-out={{ compose_ws_param({select_output : 'listaCodiceFiscale'}) }}
  ws-on="{{ on }}" >
</div>
{%- endmacro %}

<!-- CHIAMATE AD ANAGRAFE - END -->



<!-- CHIAMATE IMMOBILI - CATASTO - CARTOGRAFIA  -->

{% macro verifica_particella(codice_catastale, numero, barra, tipo, subalterno, output, on) %}
<div
  ws-name="verifica_particella"
  ws-param-in={{ compose_ws_param({
  'num': numero,
  'barra': barra,
  'tipo': tipo,
  'com': codice_catastale,
  'sub': subalterno
  }) }}
  ws-param-out={{ compose_ws_param(output) }}
  ws-on="{{ on }}">
</div>
{%- endmacro %}

{% macro lista_vie(codice_catastale, numero, barra, tipo, select_output, on) %}
<div
  ws-name="lista_vie"
  ws-param-in={{ compose_ws_param({
  'num': numero,
  'com': codice_catastale,
  'tipo': tipo,
  'barra': barra
  }) }}
  ws-param-out={{ compose_ws_param({select_output : "lista_vie_particella"}) }}
  ws-on="{{ on }}">
</div>
{%- endmacro %}

{% macro lista_vie_stringa(nomevia, select_output, on) %}
<div
  ws-name="gis_lista_vie_stringa"
  ws-param-in={{ compose_ws_param({
  'nomevia': nomevia
  }) }}
  ws-param-out={{ compose_ws_param({select_output : "lista_vie"}) }}
  ws-on="{{ on }}">
</div>
{%- endmacro %}

{% macro verifica_civico(codvia, numero, barrato, output, on) %}
<div
  ws-name="gis_verifica_civico"
  ws-param-in={{ compose_ws_param({
  'codvia': codvia,
  'numero': numero,
  'barra': barrato,
  }) }}
    ws-param-out={{ compose_ws_param(output) }}
  ws-on="{{ on }}">
</div>
{%- endmacro %}

<!-- CHIAMATE IMMOBILI - CATASTO - CARTOGRAFIA-END  -->




<!-- CHIAMATE SPECIFICHE NIDO -->


{% macro getDomandaAttiva(codice_fiscale_element, tipo_servizio, output, on) %}
<div
  ws-name="getDomandaAttiva"
  ws-param-in={{ compose_ws_param({'codiceFiscale': codice_fiscale_element, 'tipoServizio': tipo_servizio }) }}
  ws-param-out={{ compose_ws_param(output) }}
  ws-on="{{ on }}">
</div>
{%- endmacro %}


{% macro getListaNidiDisponibili(codice_via, numero_civico, barra_civico, numero_domanda, tipo_servizio, lista_completa, lista_asili_element, on) %}
<div
  ws-name="getListaNidiDisponibili"
  ws-param-in={{ compose_ws_param({
    'codiceVia': codice_via,
    'numeroCivico': numero_civico,
    'barraCivico': barra_civico,
    'numeroDomanda': numero_domanda,
    'tipoServizio': tipo_servizio,
	'listaCompleta': lista_completa
  }) }}
  ws-param-out={{ compose_ws_param({lista_asili_element: 'listaNidiDisponibili3'}) }}
  ws-on="{{ on }}">
</div>
{%- endmacro %}


{% macro getServiziNido(codice_nido, lista_servizi_element,on, id="lista_servizi") %}
<div
  id="{{ id }}"
  ws-name="getServiziNido"
  ws-param-in={{ compose_ws_param({'codiceNido': codice_nido }) }}
  ws-param-out={{ compose_ws_param({lista_servizi_element: 'listaServiziDisponibili'}) }}
  ws-on="{{ on }}">
</div>
{%- endmacro %}

{% macro getDettaglioServizioNido(codice_nido, codice_servizio, output, on) %}
<div
  ws-name="getDettaglioServizioNido"
  ws-param-in={{ compose_ws_param({
  'codiceNido':codice_nido,
  'codiceServizio':codice_servizio
  }) }}
  ws-param-out={{ compose_ws_param(output) }}
  ws-on="{{ on }}" >
</div>
{%- endmacro %}

<!-- CHIAMATE SPECIFICHE NIDO-END -->

<!-- CHIAMATE SITUAZIONE ECONOMICA -->

{% macro getIcef(codice_fiscale_element, output, on) %}
<div
  ws-name="getIcef"
  ws-param-in={{ compose_ws_param({'codiceFiscale': codice_fiscale_element }) }}
  ws-param-out={{ compose_ws_param(output) }}
  ws-on="{{ on }}">
</div>
{%- endmacro %}

<!-- CHIAMATE SITUAZIONE ECONOMICA-END -->
