{% macro Ragione_sociale_imprese_coinvolte(prefix) %}
    {% set prefix = prefix|string %}
       
    <tr class="Rigaintestazioneridotta">
      <td colspan="2">
        <p class="Labelcella">Ragione sociale</p>
      </td>
      <td>
        <p class="Labelcella">P.IVA/Codice Fiscale</p>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input class="inputNormal" id="Ragione_sociale{{ prefix }}" name="Ragione_sociale{{ prefix }}" style="width: 100%;" label="Ragione sociale imprese" enabled="#Esecuzione_lavori1.checked()" mandatory="#PIVA{{ prefix }}.value() != ''">
      </td>
      <td>
        <input class="inputNormal" id="PIVA{{ prefix }}" name="PIVA{{ prefix }}" style="width: 100%;" label="Partita IVA / Codice fiscale" enabled="#Esecuzione_lavori1.checked()" mandatory="#Ragione_sociale{{ prefix }}.value() != ''">
      </td>
    </tr>
    {%- endmacro %}
        
    {% for i in range(1, 2) %}
      {{ Ragione_sociale_imprese_coinvolte(i) }}
    {% endfor %}


    {% macro Lavoratori_autonomi_coinvolti(prefix) %}
    {% set prefix = prefix|string %}
       
    <tr class="Rigaintestazioneridotta">
      <td>
        <p class="Labelcella">Cognome</p>
      </td>
      <td>
        <p class="Labelcella">Nome</p>
      </td>
      <td>
        <p class="Labelcella">P.IVA/Codice Fiscale</p>
      </td>
    </tr>
    <tr>
      <td>
        <input class="inputNormal" id="Cognome_lav_aut{{ prefix }}" name="Cognome_lav_aut{{ prefix }}" style="width: 100%;" label="Cognome lavoratore autonomo" enabled="#Esecuzione_lavori2.checked()" mandatory="#Nome_lav_aut{{ prefix }}.value() != '' || #CF_lav_aut{{ prefix }}.value() != ''">
      </td>
      <td>
        <input class="inputNormal" id="Nome_lav_aut{{ prefix }}" name="Nome_lav_aut{{ prefix }}" style="width: 100%;" label="Nome lavoratore autonomo" enabled="#Esecuzione_lavori2.checked()" mandatory="#Cognome_lav_aut{{ prefix }}.value() != '' || #CF_lav_aut{{ prefix }}.value() != ''">
      </td>
      <td>
        <input class="inputNormal" id="CF_lav_aut{{ prefix }}" name="CF_lav_aut{{ prefix }}" style="width: 100%;" label="Codice fiscale lavoratore autonomo" enabled="#Esecuzione_lavori2.checked()" mandatory="#Nome_lav_aut{{ prefix }}.value() != '' || #Cognome_lav_aut{{ prefix }}.value() != ''">
      </td>
    </tr>
    {%- endmacro %}
        
    {% for i in range(1, 2) %}
      {{ Lavoratori_autonomi_coinvolti(i) }}
    {% endfor %}