{% set CodiceModulo = "M47561-MANUTENZIONE-STRAORDINARIA" %}
{% extends "base_trento.html" %}

{% block meta %}

<meta campi_firma="Titolare_CodiceFiscale"
campi_firma_label="il dichiarante"
classi_modulo="Tributi"
codice_modulo="{{ CodiceModulo }}"
descrizione="Istanza per la comunicazione di manutenzione straordinaria"
destinatario_amministrazione=""
destinatario_ufficio="OE7NEF"
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="NO"
firmare="NO"
istruzioni_compilazione=""
istruzioni_invio="mail_pec"
metodo_invio="mail"
name="GLOBO_modulo"
procura="NO,,"
tipo_modulo="principale"
urlhelp="DomandeRisposte/FAQ"
verifica_pagamento="NO"
versione="1.0|09/02/2018" />

<meta codice_modulo_figlio="Incarico_procura"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<meta codice_report="CSP_SESSION_REPORT"
generate_on="sending"
name="GLOBO_report"/>

<!-- Allegato DOCUMENTAZIONE FOTOGRAFICA -->
<meta codice_allegato="Documentazione_fotografica"
descrizione_estesa="Documentazione fotografica"
filename="Documentazione_fotografica.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/Documentazione_fotografica"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<!-- Allegato PLANIMETRIA FIRMATA DAL TECNICO -->
<meta codice_allegato="Planimetria"
descrizione_estesa="Planimetria-stato di raffronto (per gli interventi che interessano l'impianto distributivo interno)"
filename="Planimetria.pdf"
firmato="SI"
firmatari="Titolare1_CodiceFiscale"
firmatari_label="Tecnico_incaricato"
istruzioni="/modulistica/moduli/Planimetria"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<!-- Allegato ATTESTAZIONE FIRMATA DAL TECNICO -->
<meta codice_allegato="Attestazione_tecnico"
descrizione_estesa="Attestazione di irrilevanza strutturale"
filename="Attestazione_tecnico.pdf"
firmato="SI"
firmatari="Titolare1_CodiceFiscale"
firmatari_label="Tecnico_incaricato"
istruzioni="/modulistica/moduli/Attestazione_tecnico"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<!-- Allegato ELABORATI PROGETTUALI FIRMATA DAL TECNICO -->
<meta codice_allegato="Elaborato_progettuale"
descrizione_estesa="Elaborato progettuale relativo agli impianti"
filename="Elaborato_progettuale.pdf"
firmato="SI"
firmatari="Titolare1_CodiceFiscale"
firmatari_label="Tecnico_incaricato"
istruzioni="/modulistica/moduli/Elaborato_progettuale"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<!-- Allegato RELAZIONE DITTA -->
<meta codice_allegato="Relazione_ditta"
descrizione_estesa="Relazione della ditta/tecnico attestante i requisiti di prestazione energetica"
filename="Relazione_ditta.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/Relazione_ditta"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<!-- Allegati ulteriori firmatari -->
<meta codice_modulo_figlio="STU-EDI-INT-TN"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<meta codice_modulo_figlio="STU-EDI-INT-AU-TN"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<!-- Allegato modulo compilato e firmato -->
<meta codice_allegato="Modulo_compilato_firma_autografa"
descrizione_estesa="Modulo compilato e firmato manualmente"
filename="Modulo_compilato_firma_autografa.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/Modulo_compilato_firma_autografa"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="Modulo_compilato_firma_elettronica"
descrizione_estesa="Modulo compilato e firmato elettronicamente"
filename="Modulo_compilato_firma_elettronica.pdf"
firmato="SI"
istruzioni="/modulistica/moduli/Modulo_compilato_firma_elettronica"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<!-- Allegato copia carta identità titolare -->
<meta codice_allegato="DAE-CDI"
descrizione_estesa="Copia del documento di identità del richiedente"
filename="Documento identita.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/DAE-CDI"
name="GLOBO_allegato"
numero="0"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<!-- Allegato ulteriori particelle -->
<meta codice_modulo_figlio="STU-EDI-IMM-TN"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<!-- Allegato COPIA CONTRATTUALE -->
<meta codice_allegato="Titolo_contrattuale"
descrizione_estesa="Copia del titolo contrattuale (se locatario, titolare di leasing etc.) per l'immobile/gli immobili oggetto del procedimento"
filename="Titolo_contrattuale.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/Titolo_contrattuale"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<!-- Allegato ANAGRAFICA IMPRESE -->
<meta codice_modulo_figlio="ANAGRAFICA-IMPRESE"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<!-- Allegato ANAGRAFICA LAVORATORE AUTONOMO -->
<meta codice_modulo_figlio="ANAGRAFICA-LAVAUTONOMI"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<!-- Allegato MODULO SUBENTRO -->
<meta codice_modulo_figlio="MODULO-SUBENTRO"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>


{% endblock meta %}

{% block title %}M47561-MANUTENZIONE-STRAORDINARIA{% endblock title %}

{% block content %}
<globo_fondo_pagina areaheight="150" scope="4">
  {{ utils.firma() }}
</globo_fondo_pagina>

<input dynamic_value="#Ente.value()" id="Parametri_Comune" name="Parametri_Comune" type="hidden" />

<input dynamic_value="#Titolare_Cognome.value().toUpperCase() + ' - Comunicazione manutenzione straordinaria'" id="Oggetto" name="Oggetto" type="hidden" />

{{ intestazioni.intestazione_moduloprincipale_senzabollo() }}

<h1 class="Modulo" style="text-align: center;">
  COMUNICAZIONE MANUTENZIONE STRAORDINARIA
</h1>

<p class="Modulo" style="text-align: center;">
  (articolo 97, comma 1, lettera a bis) della legge provinciale del 4 marzo 2008, n. 1)
</p>

<br>

<h2 class="Modulo" style="text-align: center;">
  Comunicazione per gli allacciamenti dei servizi all'utenza diretta, sottoservizi e impianti a rete in genere, con esclusione delle linee elettriche aeree
</h2>

<p class="Modulo" style="text-align: center;">
  (articolo 97, comma 1, lettera c bis) della legge provinciale del 4 marzo 2008, n. 1)
</p>

<br>

<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p><b>La compilazione del modulo seguente viene eseguita da:</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="Tipo_richiedente" name="Tipo_richiedente" label="Tipo richiedente" mandatory_enabled="true"> </div>
        <input group="Tipo_richiedente" id="Tipo_richiedente1" name="Tipo_richiedente" type="radio" value="1" />
      </td>
      <td>
        <p>Titolare o soggetto in possesso di titolo idoneo alla presentazione dell'istanza</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Tipo_richiedente" id="Tipo_richiedente2" name="Tipo_richiedente" type="radio" value="2" />
      </td>
      <td>
        <p>Tecnico o professionista incaricato</p>
      </td>
    </tr>
  </tbody>
</table>

<br>

<h2 class="Modulo">
  Ai sensi della Legge urbanistica provinciale 04/08/2015, n. 15
</h2>

{{anagrafica_trento.societa("Titolare","Il titolare o soggetto in possesso di titolo idoneo",["Persona fisica","Legale rappresentante","Amministratore di condominio"], "Titolare", "visibility:visibility", "cursor:pointer", "mail_ordinaria","false")}}

<br>

{{anagrafica_trento.professionista("Titolare1","Il tecnico o professionista incaricato","Professionista","visibility:visibility","cursor:pointer","","visibility:visibility","provinciale") }}

<br>

<h1 class="Modulo">COMUNICA</h1>

<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="3">
        <p><b>In data <input class="" format="date" id="Data_inizio_lavori" name="Data_inizio_lavori" label="Data di inizio lavori" mandatory_enabled="true" size="8"/> avranno inizio i lavori di:</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="Tipo_lavori" name="Tipo_lavori" label="Tipo lavori" mandatory_enabled="true"> </div>
        <input group="Tipo_lavori" id="Tipo_lavori1" name="Tipo_lavori" type="radio" value="1" />
      </td>
      <td colspan="2">
        <p>Allacciamenti dei servizi all'utenza diretta, sottoservizi e impianti a rete in genere, con esclusione delle linee elettriche aeree</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;" rowspan="4">
        <input group="Tipo_lavori" id="Tipo_lavori2" name="Tipo_lavori" type="radio" value="2" />
      </td>
      <td colspan="2">
        <p>Manutenzione straordinaria
        <span style="font-size:80%;"><i> (di cui all'art. 99, comma 1, lettera b, della l.p. 1/2008)</i></span></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="Tipo_manutenzione" name="Tipo_manutenzione" label="Tipo manutenzione" mandatory_enabled="#Tipo_lavori2.checked()"> </div>
        <input id="Tipo_manutenzione1" group="Tipo_manutenzione" name="Tipo_manutenzione" type="radio" value="1" />
      </td>
      <td>
        <p>non interessano le parti esterne dell'edificio</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input id="Tipo_manutenzione2" group="Tipo_manutenzione" name="Tipo_manutenzione" type="radio" value="2" />
      </td>
      <td>
        <p>interessano le parti esterne dell'edificio e non sono utilizzati materiali o tinteggiature diversi da quelli esistenti</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;" colspan="2">
        <textarea class="inputNormal" id="Descrizione_esterno_edi" name="Descrizione_esterno_edi" label="Descrizione elementi esterno edificio" style="width:100%;height:2cm" mandatory_enabled="#Tipo_manutenzione2.checked()" >
        </textarea>
      </td>
    </tr>
  </tbody>
</table>

<br>

<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p><b>I lavori consistono in:</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;" colspan="2">
        <textarea class="inputNormal" id="Descrizione_lavori" name="Descrizione_lavori" label="Descrizione lavori" style="width:100%;height:5cm" mandatory_enabled="true" >
        </textarea>
      </td>
    </tr>
  </tbody>
</table>

<br>

<input id="Immobile_DatiCatastaliObbligatori" name="Immobile_DatiCatastaliObbligatori" dynamic_check="true" type="hidden"/>

    {{ immobili_trento.immobile_trento("Immobile", "I lavori interessano le seguenti realtà immobiliari", disattivato="true") }}

<br>

<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="3">
        <p><b>I lavori vengono eseguiti</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="Modalita_lavori" name="Modalita_lavori" label="Modalita lavori" mandatory_enabled="true"> </div>
        <input id="Modalita_lavori1" group="Modalita_lavori" name="Modalita_lavori" type="radio" value="1" />
      </td>
      <td colspan="2">
        <p>in economia</p>
        <span style="font-size:80%;"><i>(trattasi di lavori eseguiti direttamente dal titolare del provvedimento senza intervento di imprese esecutrici dei lavori o di lavoratori autonomi)</i></span>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;" rowspan="4">
        <input id="Modalita_lavori2" group="Modalita_lavori" name="Modalita_lavori" type="radio" value="2" />
      </td>
      <td colspan="2">
        <p>con le imprese / lavoratori autonomi come di seguito indicato:</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input id="Esecuzione_lavori1" name="Esecuzione_lavori1" type="checkbox" value="1" enabled="#Modalita_lavori2.checked()"/>
      </td>
      <td>
        <p>Numero imprese coinvolte: <input class="" format="number" id="numero_imprese" name="numero_imprese" label="numero imprese coinvolte" mandatory_enabled="#Esecuzione_lavori1.checked()" size="2"/></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input id="Esecuzione_lavori2" name="Esecuzione_lavori2" type="checkbox" value="2" enabled="#Modalita_lavori2.checked()"/>
      </td>
      <td>
        <p>Numero lavoratori autonomi coinvolti: <input class="" format="number" id="numero_lavoratori_autonomi" name="numero_lavoratori_autonomi" label="numero lavoratori autonomi coinvolti" mandatory_enabled="#Esecuzione_lavori2.checked()" size="2"/></p>
      </td>
    </tr>
    <tr>
      <td>
        <input id="Allega_modulo_subentro" name="Allega_modulo_subentro" type="checkbox" value="1" />
      </td>
      <td>
        <p><b>Si allega alla presente istanza il modulo di subentro</b>, per indicare altre imprese/lavoratori autonomi che subentreranno in cantiere nel corso dei lavori.</p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<p class="Modulo">Ai sensi dell'art. 47 del d.p.r. 445/2000, consapevole delle sanzioni penali, nel caso di dichiarazioni non veritiere e falsità negli atti, richiamate dall'art. 76 del d.p.r. 445/2000:</p>

<h1 class="Modulo">DICHIARA</h1>

<table class="Modulo" style="border:1px solid grey;">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p>
          <b>di essere soggetto abilitato alla presentazione dell'istanza in quanto</b>
        </p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="Parametri_Titolo" name="Parametri_Titolo" label="Parametri titolo sottoscrivente" mandatory_enabled="true"></div>
        <input id="Parametri_Titolo1" name="Parametri_Titolo" type="radio" value="1" />
      </td>
      <td>
        <p>Proprietario</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input id="Parametri_Titolo2" name="Parametri_Titolo" type="radio" value="2" />
      </td>
      <td>
        <p>Comproprietario</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input id="Parametri_Titolo4" name="Parametri_Titolo" type="radio" value="4" />
      </td>
      <td>
        <p>Titolare di diritto contrattuale (locatario, titolare di leasing, etc.)</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input id="Parametri_Titolo3" name="Parametri_Titolo" type="radio" value="3" />
      </td>
      <td>
        <p>Altro: <input class="" id="Tipo_Parametri_Titolo3" name="Tipo_Parametri_Titolo3" label="Altro titolo" mandatory_enabled="#Parametri_Titolo3.checked()" style="width:94%;"/></p>
      </td>
    </tr>
  </tbody>
</table>

<table class="Modulo" style="border:1px solid grey;">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p>
          <b>Esclusivita' del titolo</b>
        </p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="Tassonomia_Titolo" name="Tassonomia_Titolo" label="Titolo sottoscrivente" mandatory_enabled="true"></div>
        <input id="Tassonomia_Titolo1" name="Tassonomia_Titolo" type="radio" value="1" />
      </td>
      <td>
        <p>intestatario unico</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input id="Tassonomia_Titolo2" name="Tassonomia_Titolo" type="radio" value="2" />
      </td>
      <td>
        <p>primo intestatario di altri soggetti</p>
      </td>
    </tr>
  </tbody>
</table>

<br>

<h2 class="Modulo">DICHIARA inoltre</h2>

<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input id="Vincoli1" name="Vincoli1" type="checkbox" value="1" mandatory_enabled="true"/>
      </td>
      <td>
        <p>che <b>non sussistono vincoli iscritti al Libro Fondiario</b> che creano impedimento alla realizzazione dell'intervento richiesto</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input id="Vincoli2" name="Vincoli2" type="checkbox" value="2" mandatory_enabled="true"/>
      </td>
      <td>
        <p>che i lavori <b>non interessano elementi strutturali dell'edificio</b></p>
      </td>
    </tr>
  </tbody>
</table>

<br>

<h2 class="Modulo">DICHIARA infine di essere informato sui seguenti vincoli e obblighi</h2>

<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input id="Obblighi1" group="Obblighi1" name="Obblighi1" type="checkbox" value="1" mandatory_enabled="true"/>
      </td>
      <td>
        <p>L'intervento deve essere realizzato nel rispetto delle altre normative di settore aventi incidenza sulla disciplina dell'attività edilizia e, in particolare, delle norme:</p>
            <ul>
              <li>in materia antisismica</li>
              <li>in materia di sicurezza</li>
              <li>in materia di lavoro e regolarità contributiva</li>
              <li>in materia igienico-sanitaria, in particolare in osservanza dei criteri fissati dal regolamento edilizio comunale (ad esempio la dimensione minima dei locali, fori, servizi igienici, etc.)</li>
              <li>in materia di efficienza energetica</li>
              <li>in materia di impianti e barriere architettoniche</li>
            </ul>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input id="Obblighi2" name="Obblighi2" type="checkbox" value="2" mandatory_enabled="true"/>
      </td>
      <td>
        <p>L'intervento non deve comportare alcuna modifica dei seguenti aspetti:</p>
            <ul>
              <li>destinazione d'uso</li>
              <li>carico urbanistico ai fini del pagamento del contributo di concessione</li>
              <li>standard urbanistici (ad esempio spazi di parcheggio)</li>
            </ul>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input id="Obblighi3" name="Obblighi3" type="checkbox" value="3" mandatory_enabled="true"/>
      </td>
      <td>
        <p>Le opere di progetto non possono avere inizio <b>prima della data</b> di presentazione della presente comunicazione e che <b>l'omissione della presente comunicazione comporta il pagamento della sanzione pecuniaria prevista dall'art. 97, comma 3-bis, della l.p. 1/2008.</b></p>
      </td>
    </tr>
  </tbody>
</table>

<br>

<h1 class="Modulo">ALLEGA</h1>

<table class="Modulo" name="Allegati" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="3">
        <p style="text-align: center;">
          <b>Elenco degli allegati</b>
          <br>
          <span style="font-size:70%">
            <i>(barrare la documentazione presentata)</i>
          </span>
        </p>
      </td>
    </tr>
    <tr>
      <td style="width:4%">
        <input id="Documentazione_fotografica" name="Documentazione_fotografica" type="checkbox" checked="true" value="OBBLIGATORIO" />
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p>
          Documentazione fotografica
        </p>
      </td>
    </tr>
    <tr>
      <td style="width:4%">
        <input id="Planimetria" name="Planimetria" type="checkbox" value="OBBLIGATORIO" />
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p>
          Planimetria che rappresenti lo stato di raffronto <b>nel caso di interventi che interessano l'impianto distributivo interno</b>
        </p>
      </td>
    </tr>
    <tr>
      <td style="width:4%">
        <input id="Attestazione_tecnico" name="Attestazione_tecnico" type="checkbox" value="OBBLIGATORIO" />
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p>
          Attestazione di un tecnico abilitato che dimostri l'irrilevanza strutturale
        </p>
      </td>
    </tr>
    <tr>
      <td style="width:4%">
        <input id="Elaborato_progettuale" name="Elaborato_progettuale" type="checkbox" value="OBBLIGATORIO" />
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p>
          n° <input class="" format="number" id="Nelaborati_progettuali" label="Numero elaborati progettuali" mandatory_enabled="#Elaborato_progettuale.checked()" name="Nelaborati_progettuali" size="1"/> elaborato/i progettuale/i relativo/i agli impianti di cui al D.M. 37/2008
        </p>
      </td>
    </tr>
    <tr>
      <td>
       <input id="Relazione_ditta" name="Relazione_ditta" type="checkbox" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p>Relazione della ditta/tecnico attestante i requisiti di prestazione energetica (nel caso in cui gli interventi ricadano nell'articolo 4, comma 4 del D.P.P. 13 luglio 2009, n. 11-13/Leg. e ss.mm)</p>
      </td>
    </tr>
    <tr>
     <td>
      <input dynamic_check="#Tassonomia_Titolo2.checked()" enabled="#Tassonomia_Titolo2.checked()" id="STU-EDI-INT-TN" name="STU-EDI-INT-TN" type="checkbox" value="OBBLIGATORIO"/>
      <input dynamic_check="#Tassonomia_Titolo2.checked()" enabled="#Tassonomia_Titolo2.checked()" id="STU-EDI-INT-AU-TN" name="STU-EDI-INT-AU-TN" type="checkbox" value="OBBLIGATORIO"/>
     </td>
     <td style="background-color: #eeeeee;" colspan="2">
      <p>
       n° <input class="" format="number" id="NschedeAllegateEl" label="Numero ulteriori intestatari" mandatory_enabled="#STU_EDI_INT_TN.checked()" name="NschedeAllegateEl" size="1"/> ulteriori sottoscrittori del procedimento edilizio che firmano con firma elettronica
      </p>
	    <p>
       n° <input class="" format="number" id="NschedeAllegateAu" label="Numero ulteriori intestatari" mandatory_enabled="#STU_EDI_INT_AU_TN.checked()" name="NschedeAllegateAu" size="1"/> ulteriori sottoscrittori del procedimento edilizio che firmano con firma autografa con allegata copia del documento di identità
      </p>
     </td>
    </tr>
    <tr>
      <td>
       <input id="Modulo_compilato_firmato" name="Modulo_compilato_firmato" type="checkbox" dynamic_check="#Tipo_richiedente2.checked()" enabled="#Tipo_richiedente2.checked()" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;">
        <p>
        Modulo compilato e firmato nella seguente modalità:
        <br/>
        <span style="font-size:70%">
          (da allegare se la compilazione del modulo è stata eseguita dal professionista incaricato)
        </span>
       </p>
      </td>
      <td style="background-color: #eeeeee;">
        <select class="inputNormal" id="Tipo_Firma_modulo_compilato" name="Tipo_Firma_modulo_compilato" style="width:100%" label="Tipo firma modulo compilato" mandatory_enabled="#Modulo_compilato_firmato.checked()">
          <option value=""></option>
          <option value="A">Firma autografa</option>
          <option value="E">Firma elettronica</option>
        </select>
      </td>
    </tr>
    <tr>
     <td style="vertical-align: top; width:3%">
       <input id="DAE-CDI" name="DAE-CDI" type="checkbox" dynamic_check="#Tipo_richiedente2.checked() and #Tipo_Firma_modulo_compilato.value() == 'A'" enabled="#Tipo_richiedente2.checked() and #Tipo_Firma_modulo_compilato.value() == 'A'" value="OBBLIGATORIO"/>
     </td>
     <td style="background-color: #eeeeee;" colspan="2">
        <p>
          Copia del documento d'identità del proprietario dell'immobile/soggetto in possesso di titolo idoneo
        </p>
      </td>
    </tr>
    <tr>
     <td>
      <input dynamic_check="(parseInt(#Immobile_NumeroAltriImmobili.value()) / 10) &gt; 0" enabled="(parseInt(#Immobile_NumeroAltriImmobili.value()) / 10) &gt; 0" id="STU-EDI-IMM-TN" name="STU-EDI-IMM-TN" type="checkbox" value="OBBLIGATORIO"/>
     </td>
     <td style="background-color: #eeeeee;" colspan="2">
      <p>
       Ulteriori particelle o subalterni oggetto del procedimento
      </p>
     </td>
    </tr>
    <tr>
     <td style="vertical-align: top; width:3%">
       <input id="Titolo_contrattuale" name="Titolo_contrattuale" type="checkbox" dynamic_check="#Parametri_Titolo4.checked()" enabled="#Parametri_Titolo4.checked()" value="OBBLIGATORIO"/>
     </td>
     <td style="background-color: #eeeeee;" colspan="2">
        <p>
          Copia del titolo contrattuale (se locatario, titolare di leasing etc.) per l'immobile/gli immobili oggetto del procedimento
        </p>
      </td>
    </tr>
    <tr>
     <td>
      <input dynamic_check="#Esecuzione_lavori1.checked()" enabled="#Esecuzione_lavori1.checked()" id="Anagrafica_imprese" name="Anagrafica_imprese" type="checkbox" value="OBBLIGATORIO"/>
      <input dynamic_check="#Esecuzione_lavori2.checked()" enabled="#Esecuzione_lavori2.checked()" id="Anagrafica_lavoratori_autonomi" name="Anagrafica_lavoratori_autonomi" type="checkbox" value="OBBLIGATORIO"/>
     </td>
     <td style="background-color: #eeeeee;" colspan="2">
      <p>n° <input class="" format="number" id="Nanag_imprese_allegate" label="Numero anagrafiche imprese allegate" mandatory_enabled="#Anagrafica_imprese.checked()" name="Nanag_imprese_allegate" size="1" dynamic_value="#numero_imprese.value()" readonly/> imprese coinvolte, per le quali si richiede la compilazione delle relative anagrafiche</p>
	    <p>n° <input class="" format="number" id="Nanag_lav_allegate" label="Numero anagrafiche lavoratori autonomi allegate" mandatory_enabled="#Anagrafica_lavoratori_autonomi.checked()" name="Nanag_lav_allegate" size="1" dynamic_value="#numero_lavoratori_autonomi.value()" readonly/> lavoratori autonomi coinvolti, per i quali si richiede la compilazione delle relative anagrafiche</p>
     </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width:3%">
        <input id="Mod_sub" name="Mod_sub" type="checkbox" dynamic_check="#Allega_modulo_subentro.checked()" enabled="#Allega_modulo_subentro.checked()" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
         <p>
           Modulo subentro per indicare altre imprese/lavoratori autonomi che subentrano in cantiere nel corso dei lavori.
         </p>
       </td>
    </tr>
  </tbody>
</table>

<br>

<table class="Modulo" name="Allegati" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td>
        <p><b>Nota bene:</b></p>
          <ul>
            <li>qualora le opere comportino modificazioni catastali andrà presentata denuncia di variazione catastale ai competenti uffici ai sensi della normativa vigente</li>
            <li>al termine dei lavori l'impresa installatrice dovrà rilasciare al committente la dichiarazione di conformità degli impianti realizzati nel rispetto delle norme di cui all'art. 6 del D.M. 37/2008 e che, ai sensi del medesimo decreto, la dichiarazione di conformità o il certificato di collaudo degli impianti, ove previsto, andrà depositato in Comune</li>
            <li>nel caso in cui l'intervento riguardi la copertura dell'edificio va osservato il D.P.P. 25 febbraio 2008, n. 7-117/Leg.: "Regolamento tecnico per la prevenzione dei rischi di infortunio a seguito di cadute dall'alto nei lavori di manutenzione ordinaria sulle coperture"</li>
            <li>la presente comunicaione non è soggetta a vincoli temporali e per la stessa <b>non è previsto il deposito della comunicazione di fine lavori</b></li>
          </ul>
      </td>
    </tr>
  </tbody>
</table>

<input id="Metadati_num_int_firma_au" name="Metadati_num_int_firma_au" dynamic_value="#NschedeAllegateAu.value()" type="hidden"/>
<input id="Metadati_num_int_firma_el" name="Metadati_num_int_firma_el" dynamic_value="#NschedeAllegateEl.value()" type="hidden"/>
<input id="Metadati_num_anag_impr" name="Metadati_num_anag_impr" dynamic_value="#Nanag_imprese_allegate.value()" type="hidden"/>
<input id="Metadati_num_anagr_lav_aut" name="Metadati_num_anagr_lav_aut" dynamic_value="#Nanag_lav_allegate.value()" type="hidden"/>

<br>

 {{ utils.firma_hidden() }}

<br>

<p class="Modulo">
  <input id="SalvaModulo" name="SalvaModulo" style="height:30px;width:120px;" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza." type="submit" value="Salva modulo" />
</p>

<input destinatario_amministrazione="getParameter('Ente')" id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value="" />
<input firmare="'P7M_ELETTRONICA'" id="GLOBO_modulofiglio_cIncarico_procura" name="GLOBO_modulofiglio_cIncarico_procura" type="hidden" value="" />
<input id="Metadati_Titolare_Cognome" name="Metadati_Titolare_Cognome" dynamic_value="#Titolare_Cognome.value()" type="hidden"/>
<input id="Metadati_Titolare1_Cognome" name="Metadati_Titolare1_Cognome" dynamic_value="#Titolare1_Cognome.value()" type="hidden"/>

<!-- Allegato DOCUMENTAZIONE FOTOGRAFICA -->
<input id="GLOBO_allegato_cDocumentazione_fotografica" name="GLOBO_allegato_cDocumentazione_fotografica" obbligatorio="#Documentazione_fotografica.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<!-- Allegato PLANIMETRIA FIRMATA DAL TECNICO -->
<input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cPlanimetria" name="GLOBO_allegato_cPlanimetria" obbligatorio="#Planimetria.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<!-- Allegato ATTESTAZIONE FIRMATA DAL TECNICO -->
<input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cAttestazione_tecnico" name="GLOBO_allegato_cAttestazione_tecnico" obbligatorio="#Attestazione_tecnico.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<!-- Allegato ELABORATI PROGETTUALI FIRMATA DAL TECNICO -->
<input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cElaborato_progettuale" name="GLOBO_allegato_cElaborato_progettuale" numero="#Nelaborati_progettuali.value()" obbligatorio="#Elaborato_progettuale.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<!-- Allegato RELAZIONE DITTA -->
<input id="GLOBO_allegato_cRelazione_ditta" name="GLOBO_allegato_cRelazione_ditta" obbligatorio="#Relazione_ditta.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<!-- Allegati ulteriori firmatari -->
<input id="GLOBO_modulofiglio_cSTU-EDI-INT-TN" name="GLOBO_modulofiglio_cSTU-EDI-INT-TN" numero="#NschedeAllegateEl.value()" obbligatorio="#NschedeAllegateEl.value() != 0 ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_modulofiglio_cSTU-EDI-INT-AU-TN" name="GLOBO_modulofiglio_cSTU-EDI-INT-AU-TN" numero="#NschedeAllegateAu.value()" obbligatorio="#NschedeAllegateAu.value() != 0 ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<!-- Allegato modulo compilato e firmato -->
<input id="GLOBO_allegato_cModulo_compilato_firma_autografa" name="GLOBO_allegato_cModulo_compilato_firma_autografa" obbligatorio="#Tipo_Firma_modulo_compilato.value() == 'A' ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cModulo_compilato_firma_elettronica" name="GLOBO_allegato_cModulo_compilato_firma_elettronica" obbligatorio="#Tipo_Firma_modulo_compilato.value() == 'E' ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<!-- Allegato copia carta identità titolare -->
<input id="GLOBO_allegato_cDAE-CDI" name="GLOBO_allegato_cDAE-CDI" obbligatorio="#DAE_CDI.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<!-- Allegato ulteriori particelle -->
<input id="numeroallegati" name="numeroallegati" dynamic_value="parseInt(#Immobile_NumeroAltriImmobili.value()) /10" type="hidden" />
<input id="GLOBO_modulofiglio_cSTU-EDI-IMM-TN" name="GLOBO_modulofiglio_cSTU-EDI-IMM-TN" numero="Math.ceil(#numeroallegati.value())" obbligatorio="#STU_EDI_IMM_TN.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<!-- Allegato COPIA CONTRATTUALE -->
<input id="GLOBO_allegato_cTitolo_contrattuale" name="GLOBO_allegato_cTitolo_contrattuale" obbligatorio="#Titolo_contrattuale.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<!-- Allegato ANAGRAFICA IMPRESE -->
<input id="GLOBO_modulofiglio_cANAGRAFICA-IMPRESE" name="GLOBO_modulofiglio_cANAGRAFICA-IMPRESE" numero="#numero_imprese.value()" obbligatorio="#numero_imprese.value() != 0 ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<!-- Allegato ANAGRAFICA LAVORATORE AUTONOMO -->
<input id="GLOBO_modulofiglio_cANAGRAFICA-LAVAUTONOMI" name="GLOBO_modulofiglio_cANAGRAFICA-LAVAUTONOMI" numero="#numero_lavoratori_autonomi.value()" obbligatorio="#numero_lavoratori_autonomi.value() != 0 ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<!-- Allegato MODULO SUBENTRO -->
<input id="GLOBO_modulofiglio_cMODULO-SUBENTRO" name="GLOBO_modulofiglio_cMODULO-SUBENTRO" obbligatorio="#Allega_modulo_subentro.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden" />
<input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden" />
<input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}" />

{% endblock content %}
