{% set CodiceModulo = "M47290-DOMANDA-TESSERINO-HOBBISTA" %}
{% set Urn = "document:c_l378:test.loredana;servizio.loredana;modulo.loredana" %}
{% extends "base_trento_ok.html" %}

{% block meta %}

<meta campi_firma="AventeTitolo_CodiceFiscale"
campi_firma_label="il dichiarante"
classi_modulo="Generale"
codice_modulo="{{ CodiceModulo }}"
urn="{% block urn %}{{ Urn }}{% endblock urn %}"
sub_urn_list=""
uo_globo_list=""
descrizione="Domanda di locazione e alloggio di edilizia pubblica"
destinatario_amministrazione=""
destinatario_ufficio="BF7HBC"
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="NO"
firmare="NO"
istruzioni_compilazione=""
istruzioni_invio="mail_pec"
metodo_invio="mail"
name="GLOBO_modulo"
procura="NO,,"
segnatura="AventeTitolo"
tipo_modulo="principale"
urlhelp="/modulistica/moduli/M47290-DOMANDA-TESSERINO-HOBBISTA"
verifica_pagamento="NO"
versione="1.0|01/01/2019"/>


{% endblock meta %}

{% block title %}  
    DOMANDA DI LOCAZIONE ALLOGGIO DI EDILIZIA PUBBLICA E CONTRIBUTO INTEGRATIVO ALL’AFFITTO 
{% endblock title %}

{% block content %}


<input id="Parametri_Comune" name="Parametri_Comune" type="hidden" dynamic_value="#Ente.value()"/>
<input id="Oggetto" name="Oggetto" type="hidden" dynamic_value="#AventeTitolo_Cognome.value().toUpperCase() + ' ' + #AventeTitolo_Nome.value().toUpperCase() + ' - Domanda di locazione alloggio di edilizia pubblica e contribut integrativo all'affitto'">

<!-- INIZIO BLOCCO INTESTAZIONE -->
<div type="intestazione_moduloprincipale_senzabollo">
    <div class="container border-bottom" style="border-radius: unset;z-index: -1;">
      <div class="form-row">
        <div class="form-group col-lg-3 text-center">
          <img alt="Ente" src="./appoggio/img/StemmaComune.png">
        </div>
        <div class="form-group col-lg-6 text-center mb-0">
          <div class="heading">
            <label for="Ente"> Al comune di </label>
            <div class="space-0"></div>
            <input class="form-control" style="background-color: white;" id="Ente" name="Ente" readonly disabled>
          </div>
          <div class="heading">
            <label for="CodiceISTAT"> Codice ISTAT </label>
            <div class="space-0"></div>
            <input class="form-control" style="background-color: white;" id="CodiceISTAT" name="CodiceISTAT" readonly disabled>
          </div>
          <div class="heading">
            <label for="UfficioDestinatario"> Ufficio destinatario </label>
            <div class="space-0"></div>
            <input class="form-control" style="background-color: white;" id="UfficioDestinatario" name="UfficioDestinatario" dynamic_value="#Parametri_UfficioDestinatario.value() ? get_ufficio_dest() : get_ufficio_dest()" readonly disabled>
          </div>
        </div>
        <div class="form-group col-lg-3 text-center">
          <img alt="Marca da bollo" src="./appoggio/img/MarcaDaBollo.jpg">
        </div>
      </div>
    </div>
  </div>
   
  <!-- FINE BLOCCO INTESTAZIONE -->

  <div class="space-1"></div>
  
  <div class="container">
    <div class="title-1">DOMANDA DI LOCAZIONE ALLOGGIO DI EDILIZIA RESIDENZIALE PUBBLICA E DOMANDA DI CONTRIBUTO INTEGRATIVO AL CANONE DI LOCAZIONE</div>
  </div>
  
  <div class="container">
    <div
     class="title-3">(ai sensi della L.P. 7 novembre 2005, n. 15 e s.m.i. e del suo Regolamento d'esecuzione)</div>
  </div>
   
  <div class="space-1"></div>
  
  <div class="container">
    <div
     class="title-2">Edizione 2020<br>Termine presentazione domande dal 28/09/2020 al 18/12/2020</div>
  </div>
  
  <div class="space-1"></div>
  <div class="space-1"></div>
  
  
  <input type="hidden" name="TipoContesto" id="TipoContesto" value="GLOBO">
  <input type="hidden" name="TipoLista" id="TipoLista" value="PGLOBO">
  
  <input id="cellulare_obbligatorio" name="cellulare_obbligatorio" dynamic_check="true" type="hidden">
  <input id="mail_obbligatoria" name="mail_obbligatoria" dynamic_check="true" type="hidden">
  
  
  
  
<!-- INIZIO BLOCCO ANAGRAFICA RESPONSIVE-->

<div class="space-1"></div>

<div class="container border bg-light">

    <div class="form-row">
      <div class="col-lg-12">
        <span class="title mr-3"> Il/La richiedente </span>
        <div class="d-inline" style="cursor:pointer">
          <button type="button" class="recupero-dati" alt="Carica dati da profilo" style="visibility:visibility;" title="Carica dati da profilo utente" onclick="recuperaAnagrafica( 'AventeTitolo' )">Carica dati personali</button>
        </div>
      </div>
    </div>

    <div class="container border bg-light">
      <div class="form-row">
        <div class="form-group col-lg-12" mandatory_enabled="true">
          <label for="AventeTitolo_CodiceFiscale"> Codice Fiscale </label>
          <input class="form-control d-inline-block" id="AventeTitolo_CodiceFiscale" name="AventeTitolo_CodiceFiscale" onkeyup="this.value = this.value.toUpperCase();" format="cf">
        </div>
      </div>
      <div class="form-row mt-1" style="display: grid;">
        <button type="button" class="btn btn-secondary btn-sm pull-right" id="RecuperaDatiAnagr"> Carica dati anagrafici </button>
        <!-- {{ service.getPersonaREST( 'AventeTitolo_CodiceFiscale','TipoContesto', 'TipoLista',{
          'AventeTitolo_DataNascita':  'datanascita',
          'AventeTitolo_Nome':  'nome',
          'AventeTitolo_Cognome':  'cognome',
          'AventeTitolo_Sesso':  'sesso',
          'AventeTitolo_Nazionalita':  'stato',
          'AventeTitolo_Cittadinanza':  'nazionalita',
          'AventeTitolo_CodiceFamiglia':  'codiceFamiglia',
          'AventeTitolo_CodiceVia':  'codiceVia',
          'AventeTitolo_ProvinciaResidenza' : 'provincia',
          'AventeTitolo_ComuneResidenza' : 'citta',
          'AventeTitolo_ViaResidenza' : 'indirizzo',
          'AventeTitolo_CivicoResidenza' : 'numeroCivico',
          'AventeTitolo_BarraResidenza' : 'barra',
          'AventeTitolo_CAPResidenza' : 'cap',
          'AventeTitolo_Nazione' : 'nazione',
          'AventeTitolo_LuogoNascita' : 'comuneNascita',
          'AventeTitolo_CodiceComuneNascita' : 'codiceComuneNascita',
          'AventeTitolo_MatricolaAnagrafe' : 'matricola',
        },
        '#RecuperaDatiAnagr:click','true') }} -->
      </div>
    </div>

    <div class="container border bg-light">
      <div class="form-row">
        <div class="form-group col-lg-12 border-bottom">
          <label> Dati anagrafici </label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-lg-6">
          <label for="AventeTitolo_Cognome"> Cognome </label>
          <input class="form-control" id="AventeTitolo_Cognome" name="AventeTitolo_Cognome">
        </div>
        <div class="form-group col-lg-6">
          <label for="AventeTitolo_Nome"> Nome </label>
          <input class="form-control" id="AventeTitolo_Nome" name="AventeTitolo_Nome">
        </div>
      </div>

    </div>  

  <div class="space-1"></div>

  <div class="space-1"></div>

</div>

<div class="container border bg-light" style="display:none">
  <input type="hidden" id="AventeTitolo_CodiceFamiglia" name="AventeTitolo_CodiceFamiglia">
  <input type="hidden" id="AventeTitolo_CodiceVia" name="AventeTitolo_CodiceVia">
  <input type="hidden" id="AventeTitolo_MatricolaAnagrafe" name="AventeTitolo_MatricolaAnagrafe">
  <input type="hidden" id="AventeTitolo_CodiceComuneNascita" name="AventeTitolo_CodiceComuneNascita">
  <input type="hidden" id="AventeTitolo_Nazione" name="AventeTitolo_Nazione"> 
  <input type="hidden" id="AventeTitolo_Nazionalita" name="AventeTitolo_Nazionalita">
</div>

<!-- FINE BLOCCO ANAGRAFICA RESPONSIVE-->

<!-- INIZIO BLOCCO FIRMA -->
  
<div type="firma" class="simpatico-block simpatico-query-and-answer">
  <div class="container border bg-light" name="Firme">
    <div class="form-row">
      <div class="form-group col-lg-4 firma-custom">
        <input class="form-control" style="text-align: center;" id="Luogo_PDF" name="Luogo_PDF">
        <label for="Luogo_PDF"> Luogo </label>
      </div>
      <div class="form-group col-lg-4 firma-custom">
        <input class="form-control" style="text-align: center;" id="Data_PDF" name="Data_PDF">
        <label for="Data_PDF"> Data </label>
      </div>
      <div class="form-group col-lg-4 firma-custom">
        <input class="form-control" style="text-align: center;" id="Firma_PDF" name="Firma_PDF" dynamic_value="#AventeTitolo_Nome.value().toUpperCase() + ' ' + #AventeTitolo_Cognome.value().toUpperCase()">
        <label for="Firma_PDF"> Il richiedente<br><span><i>(accesso eseguito mediante SPID o CPS/CNS)</i></span></label>
      </div>
    </div>
    <div class="form-row">
      <label class="title-2" style="text-align: center; font-size: 12px;">
        <i>I dati acquisiti saranno trattati in conformità alla normativa vigente sul trattamento dei dati personali (artt. 13 e 14 Regolamento UE n. 2016/679).</i>
      </label>
    </div>
  </div>
</div>
  
<!-- FINE BLOCCO FIRMA -->


<div class="container">
  <button type="submit" class="btn btn-success btn-lg btn-block" id="SalvaModulo" name="SalvaModulo" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza."> Salva modulo </button>
</div>

<input destinatario_amministrazione="getParameter('Ente')" id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value=""/>

<input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden"/>
<input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden"/>
<input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}"/>

{% endblock content %}