{% set CodiceModulo = "M1144-DISPONIBILITA-SCRUTATORE" %}
<!--{% set modulo_workflow_model =  "https://sportello.comune.trento.it/modulistica/moduli/M1144-DISPONIBILITA-SCRUTATORE_v1.0" %}-->
{% extends "base_trento.html" %}

{% block meta %}

<meta campi_firma="AventeTitolo_CodiceFiscale"
campi_firma_label="il dichiarante"
classi_modulo="Tributi"
codice_modulo="{{ CodiceModulo }}"
descrizione="Disponibilità a svolgere l'incarico di scrutatore"
destinatario_amministrazione=""
destinatario_ufficio="B6PZ17" 
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="NO"
firmare="NO"
istruzioni_compilazione=""
istruzioni_invio="mail_pec"
metodo_invio="mail"
name="GLOBO_modulo"
procura="NO,,"
segnatura="AventeTitolo"
tipo_modulo="principale"
urlhelp="DomandeRisposte/FAQ"
verifica_pagamento="NO"
versione="1.0|23/02/2018" />

<!--<meta codice_allegato="GEN-CDI"
urn="document:c_l378:copia.documento.identita"
descrizione_estesa="Documento di identità"
filename="Documento identita.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-CDI"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>-->

<meta codice_report="CSP_SESSION_REPORT"
generate_on="sending"
name="GLOBO_report"/>

<!-- *********** INIZIO ATTIVAZIONE STRUMENTI SIMPATICO *********** 
<script type="text/javascript">
  var simpaticoEservice="18"
  var simpaticoForm="main"
  var simpaticoCategory="Edilizia"
  var simpaticoMapping=["AventeTitolo_CodiceFiscale",
                        "AventeTitolo_DataNascita",
                        "AventeTitolo_Sesso",
                        "AventeTitolo_Nazionalita",
                        "AventeTitolo_LuogoNascita",
                        "AventeTitolo_ComuneResidenza",
                        "AventeTitolo_ViaResidenza",
                        "AventeTitolo_CivicoResidenza",
                        "AventeTitolo_CAPResidenza",
                        "AventeTitolo_Cognome",
                        "AventeTitolo_Nome",
                        "AventeTitolo_Telefono",
                        "AventeTitolo_Fax",
                        "AventeTitolo_EMail",
                        "AventeTitolo_EMailPEC"]
  var serviceName = "Rilascio di titoli edilizi per atti di compravendita"; // Eservice example
  var serviceURL="https://sportello.comune.trento.it/sites/default/files/sportello_telematico/RILASCIO-TITOLI-EDILIZI.html";
  var ERROR_LABELS= {   
                     'block1' : 'Selezionare una delle opzioni',
                     'block2' : 'Inserire il codice fiscale',
                     'block3' : 'Particella edilizia non valida',
                     'block4' : 'Indirizzo non inserito',
                     'block5' : 'Indirizzo non verificato',
                     'block12' : 'Selezionare una delle opzioni'
                    }
</script>
 *********** FINE ATTIVAZIONE STRUMENTI SIMPATICO *********** -->

{% endblock meta %}

{% block title %}DISPONIBILITA-SCRUTATORE{% endblock title %}

{% block content %}
<globo_fondo_pagina areaheight="150" scope="4">
  {{ utils.firma() }}
</globo_fondo_pagina>

<input dynamic_value="#Ente.value()" id="Parametri_Comune" name="Parametri_Comune" type="hidden" />

<input dynamic_value="#AventeTitolo_Cognome.value().toUpperCase() + ' - Disponibilità a svolgere l’incarico di scrutatore'" id="Oggetto" name="Oggetto" type="hidden" />

{{ intestazioni.intestazione_moduloprincipale_senzabollo() }}

<h1 class="Modulo" style="line-height:1.6;">
    Elezioni XXXXXXXX del XX XXXXXXXXX XXXX. Disponibilità a svolgere l'incarico di scrutatore
</h1>

<br>

<div class="simpatico-block simpatico-query-and-answer">
{{anagrafica_trento.richiedente( "AventeTitolo", "ll/La sottoscritto/a", "visibility:visibility", "cursor:pointer", "visibility:visibility") }}
<table class="Modulo simpatico-block simpatico-query-and-answer" style="border: 1px solid grey">
    <tbody>
        <tr class="Rigaintestazioneridotta">
            <td>
                <p class="Labelcella">Condizione lavorativa/Professione</p>
            </td>
        </tr>
        <tr>
            <td>
                <input class="inputNormal" id="tipo_lavoro" name="tipo_lavoro" style="width:100%" mandatory_enabled="true"/>
            </td>
        </tr>
    </tbody>
</table>
</div>

<h4 class="Modulo"><b>già iscritto/a all'Albo degli scrutatori</b>, con la presente</h4>

<h3 class="Modulo">DICHIARA LA PROPRIA DISPONIBILITA'</h3>

<br>

<p class="Modulo"><b>a svolgere l'incarico di scrutatore alle elezioni XXXXXXXXX che si terranno il XX XXXXXXXXXX XXXX</b> (domenica XX XXXXXXXX costituzione seggio e votazione, lunedì XX XXXXXXXXX operazioni di scrutinio)</p>

<br>

<p style="line-height: 1.8;" class="Modulo">L'iscrizione all'Albo degli scrutatori, è stata effettuata in data: <input id="data_iscr_albo_scrut" name="data_iscr_albo_scrut" format="date" size="8">.<br>
  <input style="width:100%;" id="check_pres_domanda" name="check_pres_domanda" dynamic_value="moment(#data_iscr_albo_scrut.value(), 'DD/MM/YYYY').diff(moment(#Data.value(), 'DD/MM/YYYY'), 'years') >= 1 ? 'Iscrizione all’albo successiva a XXXXXXXXX XXXX: non è possibile dare la disponibilità per le elezioni XXXXXX' : 'Iscrizione all’albo successiva a XXXXXXXXX XXXX: è possibile dare la disponibilità per le elezioni XXXXXX'">
  

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" name="Informativa_dati" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p style="text-align: center;"><b>INFORMATIVA SUL TRATTAMENTO DEI DATI PERSONALI</b></p>
        <p style="text-align: center; font-size:85%"><i>artt. 13 e 14 Regolamento UE n. 2016/679</i></p>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <br>
        <p>Ai sensi del Regolamento UE n. 2016/679 relativo alla protezione delle persone fisiche con riguardo al trattamento dei dati personali e delle disposizioni della normativa nazionale, si informa che:</p>
        <ul>
          <li>Titolare del trattamento dei dati è il Comune di Trento (email: segreteria_generale@comune.trento.it; sito web: <a href="http://www.comune.trento.it" target="_blank">http://comune.trento.it</a>);</li>
          <li>Responsabile per la protezione dei dati è il Consorzio dei Comuni Trentini (email: servizioRPD@comunitrentini.it; sito web: <a href="http://www.comunitrentini.it" target="_blank">http://www.comunitrentini.it</a>);</li>
          <li>I dati vengono raccolti e trattati nell'ambito del procedimento per il quale la presente dichiarazione viene resa;</li>
          <li>La base giuridica del trattamento consiste nell'esecuzione di un compito o di una funzione di interesse pubblico;</li>
          <li>I dati vengono trattati con sistemi informatici e/o manuali, attraverso procedure adeguate a garantirne la sicurezza e la riservatezza;</li>
          <li>I dati possono essere comunicati ad altri soggetti pubblici o privati che, secondo le norme, sono tenuti a conoscerli o possono conoscerli, nonché ai soggetti che sono titolari del diritto di accesso;</li>
          <li>I dati sono oggetto di diffusione, nel rispetto del principio di minimizzazione, esclusivamente per l'ottemperanza agli obblighi di pubblicazione dei dati imposti dalla normativa vigente in materia di amministrazione trasparente;</li>
          <li>I dati non sono oggetto di trasferimento all'estero;</li>
          <li>I dati possono essere conosciuti dal responsabile o dagli incaricati del Servizio XXXXXXXX sito in Trento, Via XXXXXXX n. XXXXXX, 38121 – Trento, tel. XXXXXXX, fax XXXXXXX, PEC: XXXXXXXXXXXXXX;</li>
          <li>Il conferimento dei dati ha natura obbligatoria per le finalità di cui sopra e per tutte quelle ausiliarie e connesse. Non fornire i dati comporta non osservare obblighi di legge e/o impedire che il Comune di Trento possa corrispondere alla richiesta connessa alla specifica finalità;</li>
          <li>I dati sono conservati per il periodo strettamente necessario all'esecuzione del compito o della funzione di interesse pubblico e comunque a termini di legge;</li>
          <li>I diritti dell'interessato sono: 
            <ul>
              <li>richiedere la conferma dell'esistenza o meno dei dati che lo riguardano;</li>
              <li>ottenere la loro comunicazione in forma intelligibile; </li>
              <li>richiedere di conoscere l’origine dei dati personali, le finalità e modalità del trattamento, la logica applicata se il trattamento è effettuato con l’ausilio di strumenti elettronici; </li>
              <li>ottenere la rettifica , la cancellazione, la limitazione, la trasformazione in forma anonima o il blocco dei dati trattati in violazione di legge; </li>
              <li>richiedere la portabilità dei dati;</li>
              <li>aggiornare, correggere o integrare i dati che lo riguardano; </li>
              <li>opporsi, per motivi legittimi, al trattamento dei dati;</li>
              <li>proporre reclamo al Garante per la protezione dei dati personali.</li>
            </ul>
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td style="width: 4%; vertical-align: top;">
        <div id="Presa_visione" name="Presa_visione" label="Dichiarazione presa visione" mandatory_enabled="true"></div> 
        <input id="Presa_visione_check" name="Presa_visione" type="radio" value="1"/>
      </td>
      <td style="background-color: #eeeeee;">
        <p>Dichiaro di aver preso visione dell'informativa sul trattamento dei dati personali e acconsento al trattamento dei suddetti dati con le modalità e per le finalità indicate nell'informativa stessa</p>
      </td>
    </tr>
  </tbody>
</table>

<br>

<div class="simpatico-block">
  {{ utils.firma_hidden() }}
</div>

<br>

<p class="Modulo">
  <input id="SalvaModulo" name="SalvaModulo" style="height:30px;width:120px;" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza." type="submit" value="Salva modulo" />
</p>
<input destinatario_amministrazione="getParameter('Ente')" id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value="" />

<input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden" />
<input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden" />
<input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}" />

<input id="Metadati_oggetto" name="Metadati_oggetto" dynamic_value="#Oggetto.value()" type="hidden"/>

{% endblock content %}
