{% set CodiceModulo = "M47622-MSEC04-CONF-IMP-POST08" %}
{% set Urn =  "document:c_l378:conformita.edifici;certificato.conformita.edifici;msec04.m47622.conformita.impianti.post.2008" %}
<!--{% set modulo_workflow_model =  "https://sportello.comune.trento.it/modulistica/moduli/M47675-DEPOSITO-DICHIARAZIONI-CONFORMITA-IMPIANTI-SEC_vSTU3" %}-->
{% extends "base_trento_new.html" %}

{% block meta %}
<meta campi_firma="Progettista_CodiceFiscale"
classi_modulo="Generale"
codice_modulo="{{ CodiceModulo }}"
urn="{{ Urn }}"
descrizione="Dichiarazione di conformità degli impianti realizzati dopo il 26 marzo 2008"
destinatario_amministrazione=""
destinatario_ufficio=""
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="NO"
firmare="NO"
istruzioni_compilazione=""
istruzioni_invio=""
metodo_invio="mail"
name="GLOBO_modulo"
procura="NO,,"
tipo_modulo="secondario"
ufficio=""
urlhelp="/modulistica/moduli/M47622-MSEC04-CONF-IMP-POST08"
verifica_pagamento="NO"
versione="1.0|06/04/2016" />

<meta codice_allegato="GEN-IMP_PROD_ELETTR"
urn_allegato="document:c_l378:allegato.impianto.produzione.elettrica"
descrizione_estesa="Dichiarazione conformità impianto di produzione di energia elettrica"
filename="GEN-IMP_PROD_ELETTR.pdf"
firmato="SI"
firmatari="Progettista_CodiceFiscale"
firmatari_label="Professionista incaricato"
istruzioni="/modulistica/moduli/GEN-IMP_PROD_ELETTR"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-IMP_PROT_ATMOSF"
urn_allegato="document:c_l378:allegato.impianto.protezione.atmosferica"
descrizione_estesa="Dichiarazione conformità impianto di protezione contro le scariche atmosferiche"
filename="GEN-IMP_PROT_ATMOSF.pdf"
firmato="SI"
firmatari="Progettista_CodiceFiscale"
firmatari_label="Professionista incaricato"
istruzioni="/modulistica/moduli/GEN-IMP_PROT_ATMOSF"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-IMP_AUT_PORTE"
urn_allegato="document:c_l378:allegato.impianto.automazione.porte"
descrizione_estesa="Dichiarazione conformità impianti automazione porte"
filename="GEN-IMP_AUT_PORTE.pdf"
firmato="SI"
firmatari="Progettista_CodiceFiscale"
firmatari_label="Professionista incaricato"
istruzioni="/modulistica/moduli/GEN-IMP_AUT_PORTE"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-IMP_TV"
urn_allegato="document:c_l378:allegato.impianto.tv"
descrizione_estesa="Dichiarazione conformità impianto radiotelevisivi, antenne e impianti elettrici"
filename="GEN-IMP_TV.pdf"
firmato="SI"
firmatari="Progettista_CodiceFiscale"
firmatari_label="Professionista incaricato"
istruzioni="/modulistica/moduli/GEN-IMP_TV"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-IMP_RISCALD"
urn_allegato="document:c_l378:allegato.impianto.riscaldamento"
descrizione_estesa="Dichiarazione conformità impianto di riscaldamento/climatizzazione"
filename="GEN-IMP_RISCALD.pdf"
firmato="SI"
firmatari="Progettista_CodiceFiscale"
firmatari_label="Professionista incaricato"
istruzioni="/modulistica/moduli/GEN-IMP_RISCALD"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-IMP_SANITARI"
urn_allegato="document:c_l378:allegato.impianto.sanitario"
descrizione_estesa="Dichiarazione conformità impianti idrici e sanitari"
filename="GEN-IMP_SANITARI.pdf"
firmato="SI"
firmatari="Progettista_CodiceFiscale"
firmatari_label="Professionista incaricato"
istruzioni="/modulistica/moduli/GEN-IMP_SANITARI"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-IMP_GAS"
urn_allegato="document:c_l378:allegato.impianto.distribuzione.gas"
descrizione_estesa="Dichiarazione conformità impianti distribuzione gas"
filename="GEN-IMP_GAS.pdf"
firmato="SI"
firmatari="Progettista_CodiceFiscale"
firmatari_label="Professionista incaricato"
istruzioni="/modulistica/moduli/GEN-IMP_GAS"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-IMP_SOLLEV"
urn_allegato="document:c_l378:allegato.impianto.sollevamento"
descrizione_estesa="Dichiarazione conformità impianti di sollevamento persone o cose"
filename="GEN-IMP_SOLLEV.pdf"
firmato="SI"
firmatari="Progettista_CodiceFiscale"
firmatari_label="Professionista incaricato"
istruzioni="/modulistica/moduli/GEN-IMP_SOLLEV"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-IMP_ANTINC"
urn_allegato="document:c_l378:allegato.impianto.antincendio"
descrizione_estesa="Dichiarazione conformità impianti antincendio"
filename="GEN-IMP_ANTINC.pdf"
firmato="SI"
firmatari="Progettista_CodiceFiscale"
firmatari_label="Professionista incaricato"
istruzioni="/modulistica/moduli/GEN-IMP_ANTINC"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="INFORM-TRATT-DATI-EDILIZIA"
urn_allegato="document:c_l378:allegato.informativa.trattamento.dati.edilizia"
descrizione_estesa="Informativa trattamento dati EDILIZIA"
filename="INFORM-TRATT-DATI-EDILIZIA.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/INFORM-TRATT-DATI-EDILIZIA"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_report="CSP_SESSION_REPORT"
generate_on="sending"
name="GLOBO_report"
urn_report="report:CSP_SESSION_REPORT"
/>

<!-- *********** INIZIO ATTIVAZIONE STRUMENTI SIMPATICO ***********
<script type="text/javascript">
    var simpaticoEservice="4"
    var simpaticoForm="main"
    var simpaticoCategory="Edilizia"
    var simpaticoMapping=[ "AventeTitolo_EMailPEC",
                           "AventeTitolo_Fax",
                           "AventeTitolo_EMail"]
    var ERROR_LABELS= {   
                        'block1' : 'Selezionare una delle opzioni',
                        'block2' : 'Inserire il codice fiscale',
                        'block3' : 'Selezionare il ruolo',
                        'block6' : 'Particella edilizia non valida',
                        'block7' : 'Indirizzo non inserito',
                        'block8' : 'Indirizzo non verificato',
                        'block11' : 'Inserire il codice fiscale',
                        'block13' : 'Confermare presa visione informativa sulla privacy'
      }
  
    </script>
*********** FINE ATTIVAZIONE STRUMENTI SIMPATICO *********** -->

{% endblock meta %}

<!--{% block simpaticoconfig %}
{% set simpaticoEservice="1" %}
{% set simpaticoEserviceName="M47750 AUTORIZZAZIIONE CPC" %}
{% set simpaticoEserviceURL="https://sportello.comune.trento.it/modulistica/moduli/M47750-AUTORIZZAZIONE-CPC" %}
{% set simpaticoForm="main" %}
{% set simpaticoCategory="Edilizia" %}
{% set simpaticoMapping=[ "AventeTitolo_EMailPEC","AventeTitolo_Fax","AventeTitolo_EMail"] %}
{% set ERROR_LABELS=[   ('block1' , 'Selezionare una delle opzioni'),
                        ('block2' , 'Inserire il codice fiscale'),
                        ('block3' , 'Selezionare il ruolo'),
                        ('block5' , 'Selezionare la tipologia di autorizzazione/parere richiesta'),
                        ('block7' , 'Specificare la tipologia di intervento'),
                        ('block8' , 'Particella edilizia non valida'),
                        ('block9' , 'Indirizzo non inserito'),
                        ('block10' , 'Indirizzo non verificato'),
                        ('block12' , 'Selezionare una delle opzioni'),
                        ('block13' , 'Definire il ruolo'),
                        ('block14' , 'Inserire il codice fiscale'),
                        ('block15' , 'Selezionare una delle opzioni'),
                        ('block17' , 'Confermare presa visione informativa sulla privacy')] %}
{{ utilsSimpatico.ScriptSimpatico(simpaticoEservice, simpaticoEserviceName, simpaticoEserviceURL, simpaticoForm, simpaticoCategory, simpaticoMapping, ERROR_LABELS ) }}
{% endblock simpaticoconfig %}-->


{% block title %}DEPOSITO DICHIARAZIONI DI CONFORMITA' DEGLI IMPIANTI{% endblock title %}

{% block content %}

<input dynamic_value="#Progettista_CodiceFiscale.value().toUpperCase() + ' - Dichiarazione di conformità degli impianti'" id="Oggetto" name="Oggetto" type="hidden" />

{{ intestazioni.intestazione_moduloprincipale_senzabollo() }}

<div class="simpatico-block simpatico-query-and-answer">
<h1 style="line-height: 1.6;" class="Modulo">
    DEPOSITO DICHIARAZIONI DI CONFORMITA' DEGLI IMPIANTI<br>
    <span style="font-size:90%">per impianti realizzati dopo il 26 marzo 2008</span>
</h1>

<br>

<table class="Modulo" name="consapevolezza_sanz_penali" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td>
        <p style="line-height:1.6;"><b>Il tecnico abilitato</b>, <input id="Nominativo_progettista" name="Nominativo_progettista" dynamic_value="#Progettista_TitoloPersona.value() + #Progettista_Cognome.value() + #Progettista_Nome.value()" size="79"/>
      </td>
    </tr>
  </tbody>
</table>
</div>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td>
        <p style="line-height:1.4;"> <b>per gli impianti eseguiti: </b> </p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <textarea class="inputNormal" id="Esecuzione_impianti" name="Esecuzione_impianti" label="impianti eseguiti in:" style="width:100%;height:1cm" mandatory_enabled="true" ></textarea>
      </td>
    </tr>
  </tbody>
</table>

<br>

<div class="simpatico-block simpatico-query-and-answer">
<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td>
        <p style="line-height:1.4;"><b>sull'immobile interessato ai lavori:</b></p>
      </td>
    </tr>
  </tbody>
</table>
{{immobili_trento.immobile_semplice("Immobile")}}
</div>

<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="4">
        <p><b>in relazione all'intervento autorizzato con i seguenti titoli edilizi di riferimento:</b></p>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td style="width:40%;">
        <p style="font-size: 85%;"><b>Titolo abilitativo</b></p>
      </td>
      <td style="width:17%;">
        <p style="font-size: 85%;"><b>Protocollo/numero</b></p>
      </td>
      <td style="width:13%;">
        <p style="font-size: 85%;"><b>Data</b></p>
      </td>
      <td style="width:30%;">
        <p style="font-size: 85%;"><b>Redattore</b></p>
      </td>
    </tr>
    {% macro titoli_abitativi(prefix) %}
    {% set prefix = prefix|string %}
    <tr>
      <td>
        <input class="" id="Tipo_documento{{ prefix }}" name="Tipo_documento{{ prefix }}" enabled="true" label="Dati documento {{ prefix }}" style="width:100%;"/>
      </td>
      <td>
        <input class="" id="Prot_documento{{ prefix }}" name="Prot_documento{{ prefix }}" enabled="true" label="Numero protocollo documento {{ prefix }}" style="width:100%;"/>
      </td>
      <td>
        <input class="" id="Data_documento{{ prefix }}" name="Data_documento{{ prefix }}" enabled="true" label="Data protocollo documento {{ prefix }}" style="width:100%;" format="date"/>
      </td>
      <td>
        <input class="" id="Redatt_documento{{ prefix }}" name="Redatt_documento{{ prefix }}" enabled="true" label="Redattore documento {{ prefix }}" style="width:100%;"/>
      </td>
    </tr>
    {%- endmacro %}

    {% for i in range(1, 11) %}
    {{ titoli_abitativi(i) }}
    {% endfor %}
  </tbody>
</table>

<br>
  
<table class="Modulo simpatico-block simpatico-query-and-answer" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td>
        <p style="line-height:1.4;"><b>ed avente per oggetto (descrizione sommaria del lavoro)</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <textarea class="inputNormal" id="Parametri_Esecuzione" name="Parametri_Esecuzione" label="Per esecuzione intervento di:" style="width:100%;height:3cm" mandatory_enabled="true" ></textarea>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<div class="simpatico-block simpatico-query-and-answer">
  <h1 class="Modulo">DEPOSITA<br>
    <span style="font-size:75%">(ai sensi del D.M. 37/2008 le dichiarazioni di conformità dei seguenti impianti)</span>
  </h1>

<!--Parte degli allegati -->
  <table class="Modulo" name="Allegati" style="border: 1px solid grey">
    <tbody>
      <tr>
        <td style="width: 4%; vertical-align: top;">
          <input id="Imp_prod_ener_elett" name="Imp_prod_ener_elett" type="checkbox" enabled="true" value="OBBLIGATORIO" />
        </td>
        <td style="background-color: #eeeeee;">
          <p style="line-height:1.4;">Impianto di produzione, trasformazione, trasporto, distribuzione e utilizzazione dell'energia elettrica</p>
        </td>
      </tr>
      <tr>
        <td style="width: 4%; vertical-align: top;">
          <input id="Imp_prot_scariche" name="Imp_prot_scariche" type="checkbox" enabled="true" value="OBBLIGATORIO" />
        </td>
        <td style="background-color: #eeeeee;">
          <p style="line-height:1.4;">Impianto di protezione contro le scariche atmosferiche</p>
        </td>
      </tr>
      <tr>
        <td style="width: 4%; vertical-align: top;">
          <input id="Imp_autom_porte" name="Imp_autom_porte" type="checkbox" enabled="true" value="OBBLIGATORIO" />
        </td>
        <td style="background-color: #eeeeee;">
          <p style="line-height:1.4;">Impianto di automazione di porte, cancelli e barriere</p>
        </td>
      </tr>
      <tr>
        <td style="width: 4%; vertical-align: top;">
          <input id="Imp_tv" name="Imp_tv" type="checkbox" enabled="true" value="OBBLIGATORIO" />
        </td>
        <td style="background-color: #eeeeee;">
          <p style="line-height:1.4;">Impianto radiotelevisivi, le antenne e impianti elettrici in genere</p>
        </td>
      </tr>
      <tr>
        <td style="width: 4%; vertical-align: top;">
          <input id="Imp_riscald" name="Imp_riscald" type="checkbox" enabled="true" value="OBBLIGATORIO" />
        </td>
        <td style="background-color: #eeeeee;">
          <p style="line-height:1.4;">Impianti di riscaldamento, di climatizzazione, di condizionamento e refrigerazione</p>
        </td>
      </tr>
      <tr>
        <td style="width: 4%; vertical-align: top;">
          <input id="Imp_sanit" name="Imp_sanit" type="checkbox" enabled="true" value="OBBLIGATORIO" />
        </td>
        <td style="background-color: #eeeeee;">
          <p style="line-height:1.4;">Impianti idrici e sanitari</p>
        </td>
      </tr>
      <tr>
        <td style="width: 4%; vertical-align: top;">
          <input id="Imp_gas" name="Imp_gas" type="checkbox" enabled="true" value="OBBLIGATORIO" />
        </td>
        <td style="background-color: #eeeeee;">
          <p style="line-height:1.4;">Impianti per la distribuzione e l'utilizzazione di gas di qualsiasi tipo</p>
        </td>
      </tr>
      <tr>
        <td style="width: 4%; vertical-align: top;">
          <input id="Imp_sollevam" name="Imp_sollevam" type="checkbox" enabled="true" value="OBBLIGATORIO" />
        </td>
        <td style="background-color: #eeeeee;">
          <p style="line-height:1.4;">Impianti di sollevamento di persone o di cose per mezzo di ascensori, di montacarichi, di scale mobili e simili, compreso il documento attestante l'assegnazione di numero di matricola o copia dell'avvenuto deposito della richiesta del numero di matricola prevista dalle disposizioni in materia</p>
        </td>
      </tr>
      <tr>
        <td style="width: 4%; vertical-align: top;">
          <input id="Imp_antinc" name="Imp_antinc" type="checkbox" enabled="true" value="OBBLIGATORIO" />
        </td>
        <td style="background-color: #eeeeee;">
          <p style="line-height:1.4;">Impianti di protezione antincendio</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" name="Accettazione_Informativa_dati" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="width: 4%; vertical-align: top;">
        <div id="Presa_visione" name="Presa_visione" label="Dichiarazione presa visione" mandatory_enabled="true"> </div>
        <input group="Presa_visione" id="Presa_visione_check" name="Presa_visione_check" type="checkbox" value="1" />
      </td>
      <td colspan="2" style="background-color: #eeeeee;">
        <p style="line-height:1.4;"><b>Dichiaro di aver ricevuto e preso visione dell'<a href="https://sportello.comune.trento.it/document/inform-tratt-dati-edilizia" target="_blank">informativa sul trattamento dei dati personali</a></b> <br><span style="font-size:85%"><i>(artt. 13 e 14 Regolamento UE n. 2016/679)</i></span></p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo simpatico-block" name="Luogo_e_data" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="width: 25%; text-align: center;">
        <input class="" id="Luogo_PDF" name="Luogo_PDF" style="width:80%;" type="text"/>
      </td>
      <td style="width: 25%; text-align: center;">
        <input class="" id="Data_PDF" name="Data_PDF" style="width:80%;" type="text"/>
      </td>
      <td style="width: 50%; text-align: center; height: 1.5cm;">
        <input class="" id="nominativo_richiedente" name="nominativo_richiedente" dynamic_value="' ' + #Progettista_Cognome.value().toUpperCase() + ' ' + #Progettista_Nome.value().toUpperCase()" style="width:90%;"/>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td>
        <p class="Labelcella" style="text-align: center">Luogo</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Data</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Il tecnico abilitato</p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<p class="Modulo">
 <input id="SalvaModulo" name="SalvaModulo" style="height:30px;width:120px;" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza." type="submit" value="Salva modulo" />
</p>

<input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cGEN-IMP_PROD_ELETTR" name="GLOBO_allegato_cGEN-IMP_PROD_ELETTR" obbligatorio="#Imp_prod_ener_elett.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cGEN-IMP_PROT_ATMOSF" name="GLOBO_allegato_cGEN-IMP_PROT_ATMOSF" obbligatorio="#Imp_prot_scariche.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cGEN-IMP_AUT_PORTE" name="GLOBO_allegato_cGEN-IMP_AUT_PORTE" obbligatorio="#Imp_autom_porte.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cGEN-IMP_TV" name="GLOBO_allegato_cGEN-IMP_TV" obbligatorio="#Imp_tv.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cGEN-IMP_RISCALD" name="GLOBO_allegato_cGEN-IMP_RISCALD" obbligatorio="#Imp_riscald.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cGEN-IMP_SANITARI" name="GLOBO_allegato_cGEN-IMP_SANITARI" obbligatorio="#Imp_sanit.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cGEN-IMP_GAS" name="GLOBO_allegato_cGEN-IMP_GAS" obbligatorio="#Imp_gas.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cGEN-IMP_SOLLEV" name="GLOBO_allegato_cGEN-IMP_SOLLEV" obbligatorio="#Imp_sollevam.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cGEN-IMP_ANTINC" name="GLOBO_allegato_cGEN-IMP_ANTINC" obbligatorio="#Imp_antinc.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<input id="GLOBO_allegato_cINFORM-TRATT-DATI-EDILIZIA" name="GLOBO_allegato_cINFORM-TRATT-DATI-EDILIZIA" obbligatorio="''" type="hidden" value=""/>

<input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden" />
<input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden" />
<input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}" />
<input id="Metadati_oggetto" name="Metadati_oggetto" dynamic_value="#Oggetto.value()" type="hidden"/>

{% endblock content %}
