{% import 'utils.html' as utils %}

{% macro ScriptSimpatico( simpaticoEservice="", simpaticoEserviceName="", simpaticoEserviceURL="", simpaticoForm="", simpaticoCategory="", simpaticoMapping=[], ERROR_LABELS = [] ) -%}
<!-- *********** INIZIO ATTIVAZIONE STRUMENTI SIMPATICO *********** -->
  <script type="text/javascript">
    var simpaticoEservice = "{{ simpaticoEservice }}"; //  the id corresponding to the e-service
    var simpaticoEserviceName = "{{ simpaticoEserviceName }}"; //  the name corresponding to the e-service
    var simpaticoEserviceURL = "{{ simpaticoEserviceURL }}" ; //  the url corresponding to the e-service
    var simpaticoForm = "{{ simpaticoForm }}";
    var simpaticoCategory = "{{ simpaticoCategory }}"; // the general category of the e-service
    var simpaticoMapping= [{% for mapping in simpaticoMapping %}"{{ mapping }}",
                            {% endfor %}];
    var ERROR_LABELS = { {% for  key, value in ERROR_LABELS %}
        '{{ key }}' : '{{ value }}',{% endfor %} 
    }
  </script>
<!-- *********** FINE ATTIVAZIONE STRUMENTI SIMPATICO *********** -->
{%- endmacro %}
