{% set CodiceModulo =  "M47500-MSEC02-DICH-CONG-TIT-PROG-FIRMA-PROG" %}
{% set Urn =  "document:c_l378:segnalazione.certificata.inizio.attivita;scia;msec02.m47500.dich.cong.tit.prog.firma.prog" %}
{% extends "base_trento_new.html" %}

{% block meta %}
<meta campi_firma="Referente_Progettista_CodiceFiscale"
classi_modulo="Generale"
codice_modulo="{{ CodiceModulo }}"
urn="{{ Urn }}"
descrizione="Modulo secondario - Dichiarazioni congiunte del titolare e del progettista"
destinatario_amministrazione=""
destinatario_ufficio=""
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="NO"
firmare="P7M_ELETTRONICA"
istruzioni_compilazione=""
istruzioni_invio=""
metodo_invio=""
name="GLOBO_modulo"
procura="NO,,"
tipo_modulo="secondario"
ufficio=""
urlhelp="/modulistica/moduli/M47500-MSEC02-DICH-CONG-TIT-PROG-FIRMA-PROG"
verifica_pagamento="NO"
versione="1.0|01/01/2015"/>

<meta codice_modulo_figlio="M47500-MSEC08-RICH-ESENZIONE-FIRMA-EL"
urn_modulo_figlio="document:c_l378:segnalazione.certificata.inizio.attivita;scia;msec08.m47500.richiesta.esenzione.firma.elettronica"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<meta codice_modulo_figlio="M47500-MSEC12-CONTR-NUOVA-COSTR"
urn_modulo_figlio="document:c_l378:segnalazione.certificata.inizio.attivita;scia;msec12.m47500.calcolo.contr.nuova.costr"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<meta codice_allegato="GEN-COPIA-MODULO-FIRMA-EL"
urn_allegato="document:c_l378:allegato.copia.modulo.firmato.con.firma.elettronica"
descrizione_estesa="Allegato - Copia del modulo firmata dal titolare con firma digitale"
filename="Modulo_compilato_firma_digitale.pdf"
firmato="SI"
firmatari="AventeTitolo_CodiceFiscale"
firmatari_label="Il/La titolare"
istruzioni="/modulistica/moduli/GEN-COPIA-MODULO-FIRMA-EL"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M47500-A01-PROGETTO-DIRETTA-ESECUZIONE"
urn_allegato="document:c_l378:segnalazione.certificata.inizio.attivita;scia;a01.m47500.progetto.diretta.esecuzione"
descrizione_estesa="Allegato - Proposta di progetto diretta esecuzione opere di urbanizzazione"
filename="PROGETTO-DIRETTA-ESECUZIONE.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/M47500-A01-PROGETTO-DIRETTA-ESECUZIONE"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

{% endblock meta %}


{% block title %}
   Dichiarazioni congiunte del titolare e del progettista
{% endblock title %}

{% block content %}

{{ intestazioni.intestazione_modulosecondario_senzabollo() }}

<input id="Oggetto" name="Oggetto" dynamic_value="'Dichiarazioni congiunte del titolare e del progettista'" type="hidden"/>

<h1 class="Modulo" style="line-height:1.6;">DICHIARAZIONI CONGIUNTE<br>DEL TITOLARE<br>E DEL PROGETTISTA</h1>

<br>
  
<table class="Modulo" name="consapevolezza_sanz_penali" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td>
        <p style="line-height:1.6;">Il <b>titolare</b> <input id="Nominativo_titolare" name="Nominativo_titolare" dynamic_value="#AventeTitolo_Cognome.value() + ' ' + #AventeTitolo_Nome.value()" size="40"/>, per mezzo del progettista/tecnico incaricato delegato
          <br>e il <b>progettista/tecnico incaricato delegato</b> stesso <input id="Nominativo_progettista" name="Nominativo_progettista" dynamic_value="#Referente_Progettista_TitoloPersona.value() + ' ' + #Referente_Progettista_Cognome.value() + ' ' + #Referente_Progettista_Nome.value()" size="51"/>,
          <br>consapevoli delle pene previste dal codice penale e dalle leggi speciali in materia per le dichiarazioni non veritiere e per la falsità in atti, rispondono, secondo le rispettive qualità e competenze, ai sensi degli articoli 47 e 76 del D.P.R. 28 dicembre 2000, n. 445 recante "Testo unico delle disposizioni legislative e regolamentari in materia di documentazione amministrativa", per le attestazioni e le dichiarazioni contenute nel presente modello, fatta salva ogni altra forma di responsabilità prevista dall'ordinamento vigente.
        </p>
      </td>
    </tr>
  </tbody>
</table>

<h1 class="Modulo">ATTESTANO</h1>

<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="3">
        <p style="line-height:1.6;"><b>1 - </b>I lavori oggetto della presente SCIA, <b>ai sensi dell'art. 31 della legge n. 457/1978, ai fini fiscali</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <div id="class_fisc457" name="class_fisc457" label="Classificazione dell'intervento ai sensi dell'art. 31 della legge n. 457/1978" mandatory_enabled="true"> </div>
        <input group="class_fisc457" id="class_fisc457_1" name="class_fisc457" type="radio" value="1" />
      </td>
      <td colspan="2">
        <p style="line-height:1.6;">non sono classificati</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; text-align: center; width: 4%;" rowspan="5">
        <input group="class_fisc457" id="class_fisc457_2" name="class_fisc457" type="radio" value="2" />
      </td>
      <td colspan="2">
        <p style="line-height:1.6;">sono classificati quali interventi di:</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <div id="classificazione_intervento" name="classificazione_intervento" label="Classificazione dell'intervento" mandatory_enabled="#class_fisc457_2.checked()"> </div>
        <input group="classificazione_intervento" id="classificazione_intervento1" name="classificazione_intervento" type="radio" value="1" />
      </td>
      <td>
        <p style="line-height:1.6;">b) manutenzione straordinaria</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <input group="classificazione_intervento" id="classificazione_intervento2" name="classificazione_intervento" type="radio" value="2" />
      </td>
      <td>
        <p style="line-height:1.6;">c) restauro e risanamento conservativo</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <input group="classificazione_intervento" id="classificazione_intervento3" name="classificazione_intervento" type="radio" value="3" />
      </td>
      <td>
        <p style="line-height:1.6;">d) ristrutturazione edilizia</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <input group="classificazione_intervento" id="classificazione_intervento4" name="classificazione_intervento" type="radio" value="4" />
      </td>
      <td>
        <p style="line-height:1.6;">e) ristrutturazione urbanistica</p>
      </td>
    </tr>
  </tbody>
</table>

<br>

<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="3">
        <p style="line-height:1.6;"><b>2 - </b>I lavori oggetto della presente SCIA, <b>ai sensi del DM 1072 di data 2 agosto 1969, ai fini fiscali</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <div id="class_fisc1072" name="class_fisc1072" label="Classificazione dell'intervento ai sensi del DM 1072 di data 2 agosto 1969" mandatory_enabled="true"> </div>
        <input group="class_fisc1072" id="class_fisc1072_1" name="class_fisc1072" type="radio" value="1" />
      </td>
      <td colspan="2">
        <p style="line-height:1.6;">non sono classificati</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; text-align: center; width: 4%;" rowspan="3">
        <input group="class_fisc1072" id="class_fisc1072_2" name="class_fisc1072" type="radio" value="2" />
      </td>
      <td colspan="2">
        <p style="line-height:1.6;">sono classificati quali interventi di:</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; width: 4%; text-align: center;">
        <div id="classificazione_caratt_intervento" name="classificazione_caratt_intervento" label="Classificazione caratteristiche dell'intervento" mandatory_enabled="#class_fisc1072_2.checked()"></div>
        <input group="classificazione_caratt_intervento" id="classificazione_caratt_intervento1" name="classificazione_caratt_intervento" type="radio" value="1" />
      </td>
      <td>
        <p style="line-height:1.6;">di lusso</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; width: 4%; text-align: center;">
        <input group="classificazione_caratt_intervento" id="classificazione_caratt_intervento2" name="classificazione_caratt_intervento" type="radio" value="2" />
      </td>
      <td>
        <p style="line-height:1.6;">non di lusso</p>
      </td>
    </tr>
  </tbody>
</table>

<br>

<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="3">
        <p style="line-height:1.6;"><b>3 - </b>Per quanto concerne il <b>contributo di costruzione</b>, l'intervento da realizzare:</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; width: 4%; text-align: center;">
        <div id="richiesto_contributo" name="richiesto_contributo" label="Richiesto contributo costruzione" mandatory_enabled="true"> </div>
        <input group="richiesto_contributo" id="richiesto_contributo_no" name="richiesto_contributo" type="radio" value="1" />
      </td>
      <td colspan="2">
        <p style="line-height:1.6;"><b>non è soggetto</b> in quanto non comporta aumento del carico urbanistico</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%; text-align: center;" rowspan="5">
        <input group="richiesto_contributo" id="richiesto_contributo_si" name="richiesto_contributo" type="radio" value="2" />
      </td>
      <td colspan="2">
        <p style="line-height:1.6;"><b>è soggetto:</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%; text-align: center;">
        <div id="tipo_contributo" name="tipo_contributo" label="Tipo contributo costruzione" mandatory_enabled="#richiesto_contributo_si.checked()"> </div>
        <input group="tipo_contributo" id="tipo_contributo1" name="tipo_contributo1" type="checkbox" value="1" />
      </td>
      <td>
        <p style="line-height:1.6;">l'intervento, <b>per quanto concerne il titolare</b>, rientra nei casi di esenzione ai sensi dell'art. 90, comma 1, lettera <input class="" id="lettera_esenz" name="lettera_esenz" label="Lettera caso esenzione" size="3" mandatory_enabled="#tipo_contributo1.checked()" style="text-align:center;"/>, della L.P. nr. 15/2015 e allega pertanto modulo esenzione a firma del titolare
        <br><b>Nota bene:</b> <i><u>gli eventuali comproprietari aventi diritto alla richiesta di esenzione indicano tale volontà in un opportuno modulo da essi firmato</u></i></p>    
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; width: 4%; text-align: center;">
        <input group="tipo_contributo" id="tipo_contributo4" name="tipo_contributo4" type="checkbox" dynamic_check="#richiesto_contributo_si.checked()" value="4" />
      </td>
      <td>
        <p style="line-height:1.6;">si allega il prospetto di calcolo preventivo del contributo di costruzione a firma di tecnico abilitato</p>
      </td>
    </tr>       
    <tr class="Rigaintestazione">
      <td colspan="3">
        <p style="line-height:1.6;">e, relativamente agli <b>oneri di urbanizzazione</b>:</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%; text-align: center;">
        <input id="oneri_urb" name="oneri_urb" type="checkbox" value="1" enabled="#richiesto_contributo_si.checked()"/>
      </td>
      <td colspan="2">
        <p style="line-height:1.6;">il titolare chiede di eseguire direttamente, a scomputo di quanto dovuto, le opere di urbanizzazione ed a tal fine allega la proposta di progetto per la realizzazione delle stesse, previa stipulazione della convenzione prevista dall’art. 84 della L.P. n. 15/2015</p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo" name="Allegati" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="3">
        <p style="text-align: center; line-height: 1.6;"><b>Elenco degli allegati</b></p>
      </td>
    </tr>
    <tr class="Rigaintestazione">
      <td style="width:4%;">
        <p style="line-height: 1.6; font-size: 85%; text-align: center;">Si allega</p>
      </td>
      <td>
        <p style="line-height: 1.6; font-size: 85%; text-align: center;">Titolo allegato</p>
      </td>
      <td style="width:17%;">
        <p style="line-height: 1.6; font-size: 85%; text-align: center;">Numero documenti</p>
      </td>
    </tr>
    <tr>
      <td style="width:4%; vertical-align: center; text-align: center;">
        <input id="Modulo_compilato_firmato" name="Modulo_compilato_firmato" type="checkbox" dynamic_check="#AventeTitolo_verifica_titol_prog.value() == 'persone diverse' and #AventeTitolo_rich_ha_firma_digit.value() == 'firma digitale'" enabled="#AventeTitolo_verifica_titol_prog.value() == 'persone diverse' and #AventeTitolo_rich_ha_firma_digit.value() == 'firma digitale'" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height:1.6;"><b>Copia del modulo</b> firmata dal titolare con <b>firma digitale</b></p>
      </td>
      <td style="background-color: #eeeeee; vertical-align: center;">
        <p style="line-height: 1.6; text-align: center;"><input id="numero_copia_modulo" name="numero_copia_modulo" dynamic_value="#Modulo_compilato_firmato.checked() ? '1' : 'Non richiesto'" style="width: 90%; text-align: center;" readonly/></p>
        <input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cGEN-COPIA-MODULO-FIRMA-EL" name="GLOBO_allegato_cGEN-COPIA-MODULO-FIRMA-EL" obbligatorio="#Modulo_compilato_firmato.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; text-align: center;">
        <input dynamic_check="#Referente99_altri_soggetti.value() == 'ALTRI SOGGETTI'" enabled="#Referente99_altri_soggetti.value() == 'ALTRI SOGGETTI'" id="ALTRI_SOGGETTI" name="ALTRI_SOGGETTI" type="checkbox" value=""/>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height:1.6;">Modulo secondario - <b>Ulteriori soggetti coinvolti</b> nel procedimento edilizio <br><i>(già presentato come allegato del modulo principale)</i></p>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input id="numero_mod_ult_int" name="numero_mod_ult_int" style="width: 90%; text-align: center;" dynamic_value="#ALTRI_SOGGETTI.checked() ? 'Già presentato' : 'Non richiesto'" readonly/></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; text-align: center;">
        <input dynamic_check="#tipo_contributo1.checked()" enabled="#tipo_contributo1.checked()" id="esenz_richiesta" name="esenz_richiesta" type="checkbox" value=""/>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height:1.6;">Modulo secondario - <b>Richiesta di esenzione</b> dal pagamento del contributo di costruzione</p>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input id="numero_mod_esenz" name="numero_mod_esenz" dynamic_value="#tipo_contributo1.checked() ? '1' : 'Non richiesto'" style="width: 90%; text-align: center;" readonly/></p>
        <input id="GLOBO_modulofiglio_cM47500-MSEC08-RICH-ESENZIONE-FIRMA-EL" name="GLOBO_modulofiglio_cM47500-MSEC08-RICH-ESENZIONE-FIRMA-EL" obbligatorio="#tipo_contributo1.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center;">
        <input id="prev_contr_costr" name="prev_contr_costr" type="checkbox" dynamic_check="#tipo_contributo4.checked()" enabled="#tipo_contributo4.checked()" value="OBBLIGATORIO" />
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height:1.6;">Modulo secondario - <b>Prospetto di calcolo preventivo del contributo di costruzione</b></p>
      </td>
      <td style="background-color: #eeeeee;">
          <p style="line-height: 1.6; text-align: center;"><input id="numero_prev_contr_costr" name="numero_prev_contr_costr" style="width: 90%; text-align: center;" dynamic_value="#prev_contr_costr.checked() ? '1' : 'Non richiesto'"/></p>
          <input id="GLOBO_modulofiglio_cM47500-MSEC12-CONTR-NUOVA-COSTR" name="GLOBO_modulofiglio_cM47500-MSEC12-CONTR-NUOVA-COSTR" obbligatorio="#tipo_contributo4.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center;">
        <input id="prog_opere_urb" name="prog_opere_urb" type="checkbox" dynamic_check="#oneri_urb.checked()" enabled="#oneri_urb.checked()" value="OBBLIGATORIO" />
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height:1.6;">Proposta di progetto realizzazione opere di urbanizzazione</p>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input id="numero_prog_opere_urb" name="numero_prog_opere_urb" style="width: 90%; text-align: center;" mandatory_enabled="#prog_opere_urb.checked()" type="number" min="1" max="100"/></p>
        <input numero="#numero_prog_opere_urb.value()" id="GLOBO_allegato_cM47500-A01-PROGETTO-DIRETTA-ESECUZIONE" name="GLOBO_allegato_cM47500-A01-PROGETTO-DIRETTA-ESECUZIONE" obbligatorio="#oneri_urb.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="width: 4%; vertical-align: center; text-align: center;">
        <div id="Dich_conservazione" name="Dich_conservazione" label="Dichiarazione conservazione originale firmato dal titolare" mandatory_enabled="#AventeTitolo_verifica_titol_prog.value() == 'persone diverse' and #AventeTitolo_rich_ha_firma_digit.value() == 'firma autografa'"> </div>
        <input group="Dich_conservazione" id="Dich_conservazione_check" name="Dich_conservazione_check" type="checkbox" value="1" />
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height:1.6;"><b>Dichiaro di conservare presso il mio studio l'originale della stampa di questo modulo firmato con firma autografa dal titolare</b></p>
      </td>
      <td style="width:35%; background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input id="dichiar_richiesta" name="dichiar_richiesta" dynamic_value="#AventeTitolo_verifica_titol_prog.value() == 'persone diverse' and #AventeTitolo_rich_ha_firma_digit.value() == 'firma autografa' ? 'Dichiarazione obbligatoria' : ((#AventeTitolo_verifica_titol_prog.value() == 'stessa persona' || #AventeTitolo_rich_ha_firma_digit.value() == 'firma digitale') ? 'Dichiarazione non necessaria' : '')" style="width: 90%; text-align: center;" readonly/></p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo" name="Luogo_e_data" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="width: 15%; text-align: center;">
        <input class="" id="Luogo_PDF" name="Luogo_PDF" style="width:90%; text-align: center;" type="text"/>
      </td>
      <td style="width: 15%; text-align: center;">
        <input class="" id="Data_PDF" name="Data_PDF" style="width:90%; text-align: center;" type="text"/>
      </td>
      <td style="width: 35%; text-align: center;">
        <p style="line-height:1.8;">
          <input class="" id="firmat_titol" name="firmat_titol" dynamic_value="#AventeTitolo_rich_ha_firma_digit.value() == 'firma digitale' ? #AventeTitolo_Nome.value().toUpperCase() + ' ' + #AventeTitolo_Cognome.value().toUpperCase() : ''" style="width:99%; text-align: center;"/>
        </p>
      </td>
      <td style="width: 35%; text-align: center;">
        <p style="line-height:1.8;">
          <input class="" id="firmat_prog" name="firmat_prog" dynamic_value="#Referente_Progettista_TitoloPersona.value() + ' ' + #Referente_Progettista_Nome.value() + ' ' + #Referente_Progettista_Cognome.value()" style="width:99%; text-align: center;"/>
        </p>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td>
        <p class="Labelcella" style="text-align: center">Luogo</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Data</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center; line-height: 1.6;">Il/la titolare<br><span style="font-size:95%"><i><input id="tipo_firma_tit" name="tipo_firma_tit" dynamic_value="#AventeTitolo_rich_ha_firma_digit.value() == 'firma autografa' ? '(firma autografa)' : (#AventeTitolo_rich_ha_firma_digit.value() == 'firma digitale' ? '(firma digitale)' : '')" style="width: 80%; text-align: center;"/></i></span></p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center; line-height: 1.6;">Il progettista/tecnico incaricato delegato<br><span style="font-size:95%"><i>(firma digitale)</i></span></p>
      </td>
    </tr>
  </tbody>
</table>

<br>

<p class="Modulo">
  <input id="SalvaModulo" name="SalvaModulo" style="height:30px;width:120px;" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza." type="submit" value="Salva modulo" />
</p>

<input id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value=""/>
<input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden"/>
<input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden"/>
<input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}"/>

<input id="Referente99_altri_soggetti" name="Referente99_altri_soggetti" type="hidden"/>

<input id="AventeTitolo_CodiceFiscale" name="AventeTitolo_CodiceFiscale" type="hidden" readonly/>
<input id="AventeTitolo_Cognome" name="AventeTitolo_Cognome" type="hidden" readonly/>
<input id="AventeTitolo_Nome" name="AventeTitolo_Nome" type="hidden" readonly/>

<input id="Referente_Progettista_CodiceFiscale" name="Referente_Progettista_CodiceFiscale" type="hidden" readonly/>
<input id="Referente_Progettista_TitoloPersona" name="Referente_Progettista_TitoloPersona" type="hidden" readonly/>
<input id="Referente_Progettista_Cognome" name="Referente_Progettista_Cognome" type="hidden" readonly/>
<input id="Referente_Progettista_Nome" name="Referente_Progettista_Nome" type="hidden" readonly/>

<input id="Immobile_TipologiaImmobile" name="Immobile_TipologiaImmobile" type="hidden" readonly/>
<input id="Immobile_ComuneCatastale_esteso" name="Immobile_ComuneCatastale_esteso" type="hidden" readonly/>
<input id="Immobile_CatNumero" name="Immobile_CatNumero" type="hidden" readonly/>
<input id="Immobile_CatBarra" name="Immobile_CatBarra" type="hidden" readonly/>
<input id="Immobile_CatPM" name="Immobile_CatPM" type="hidden" readonly/>
<input id="Immobile_CatSubalterno" name="Immobile_CatSubalterno" type="hidden" readonly/>
<input id="Immobile_Provincia" name="Immobile_Provincia" type="hidden" readonly/>
<input id="Immobile_Comune" name="Immobile_Comune" type="hidden" readonly/>
<input id="Immobile_Nomecompleto_via" name="Immobile_Nomecompleto_via" type="hidden" readonly/>
<input id="Immobile_numeroCivico" name="Immobile_numeroCivico" type="hidden" readonly/>
<input id="Immobile_Barracivico" name="Immobile_Barracivico" type="hidden" readonly/>

<input id="AventeTitolo_rich_ha_firma_digit" name="AventeTitolo_rich_ha_firma_digit" type="hidden" readonly/>
<input id="AventeTitolo_verifica_titol_prog" name="AventeTitolo_verifica_titol_prog" type="hidden" readonly/>

<input id="Prova_passaggio_dati" name="Prova_passaggio_dati"  readonly/>
{% endblock content %}
