{% set CodiceModulo =  "M47500-MSEC15-INTAGG-EL" %}
{% set Urn =  "document:c_l378:segnalazione.certificata.inizio.attivita;scia;msec15.m47500.ulteriori.intestatari.firma.elettronica" %}
{% extends "base_trento_ok.html" %}

{% block meta %}
<meta campi_firma="Referente6_CodiceFiscale"
classi_modulo="Generale"
codice_modulo="{{ CodiceModulo }}"
urn="{{ Urn }}"
descrizione="Modulo secondario - Ulteriore intestatario (firma digitale)"
destinatario_amministrazione=""
destinatario_ufficio=""
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="NO"
firmare="P7M_DIGITALE"
istruzioni_compilazione="ATTENZIONE: questo modulo deve essere compilato con i dati del sottoscrivente."
istruzioni_invio=""
metodo_invio=""
name="GLOBO_modulo"
procura="NO,,"
tipo_modulo="secondario"
segnatura="Referente6"
ufficio=""
urlhelp="/modulistica/moduli/M47500-MSEC15-INTAGG-EL"
verifica_pagamento="NO"
versione="1.2|27/07/2022"/>

<meta codice_modulo_figlio="M47500-MSEC17-RICH-ESENZ-INTAGG-FIRMA-EL"
urn_modulo_figlio="document:c_l378:segnalazione.certificata.inizio.attivita;scia;msec17.m47500.ult.intest.rich.esenz.firma.elettronica"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<meta codice_allegato="GEN-DOC-DIRITTO-CONTRATTUALE"
urn_allegato="document:c_l378:allegato.doc.diritto.contrattuale"
descrizione_estesa="Allegato - Documentazione comprovante il diritto contrattuale"
filename="Doc_diritto_contrattuale.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-DOC-DIRITTO-CONTRATTUALE"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="INFORM-TRATT-DATI-EDILIZIA"
urn_allegato="document:c_l378:allegato.informativa.trattamento.dati.edilizia"
descrizione_estesa="Informativa trattamento dati EDILIZIA"
filename="INFORM-TRATT-DATI-EDILIZIA.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/INFORM-TRATT-DATI-EDILIZIA"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

{% endblock meta %}


{% block title %}
   Ulteriori intestatari del procedimento (firma digitale)
{% endblock title %}

{% block content %}


{{intestazioni.intestazione_modulosecondario_senzabollo()}}

<h1 class="Modulo">ULTERIORE INTESTATARIO DEL PROCEDIMENTO (firma digitale)</h1>

<div class="simpatico-block simpatico-query-and-answer">
  <table class="Modulo" style="border:1px solid grey" mandatory="true">
    <tbody>
      <tr class="Rigaintestazione">
        <td colspan="6">
          <p style="line-height: 1.6;"><b>Il sottoscritto</b></p>
        </td>
      </tr>
      <tr class="Rigaintestazioneridotta">
        <td colspan="2" style="width:33%;">
          <p class="Labelcella">Cognome</p>
        </td>
        <td colspan="2" style="width:33%;">
          <p class="Labelcella">Nome</p>
        </td>
        <td colspan="2" style="width:33%;">
          <p class="Labelcella">Codice Fiscale</p>
        </td>
      </tr>
      <tr>
        <td colspan="2" style="width:33%;">
          <input class="" id="Referente6_Cognome" name="Referente6_Cognome" style="width:100%" label="Cognome del firmatario"/>
        </td>
        <td colspan="2" style="width:33%;">
          <input class="" id="Referente6_Nome" name="Referente6_Nome" style="width:100%" label="Nome del firmatario"/>
        </td>
        <td colspan="2" style="width:33%;">
          <input class="" id="Referente6_CodiceFiscale" name="Referente6_CodiceFiscale" style="width:100%" format="cf" label="Il codice fiscale del firmatario"/>
        </td>
      </tr>
      <tr class="Rigaintestazioneridotta" style="border-top:0px">
        <td style="width:20%;">
          <p class="Labelcella">Data di nascita</p>
        </td>
        <td style="width:10;">
          <p class="Labelcella">Sesso (M/F)</p>
        </td>
        <td colspan="2">
          <p class="Labelcella">Nazionalità</p>
        </td>
        <td colspan="2">
          <p class="Labelcella">Luogo di nascita</p>
        </td>
      </tr>
      <tr>
        <td style="width:20%;">
          <input class="" id="Referente6_DataNascita" name="Referente6_DataNascita" style="width:100%;" format="date" label="Data di nascita del firmatario"/>
        </td>
        <td style="width:10%;">
          <select class="inputNormal" id="Referente6_Sesso" name="Referente6_Sesso" style="width:100%;" label="Sesso del firmatario">
            <option value=""></option>
            <option value="M">M</option>
            <option value="F">F</option>
          </select>
        </td>
        <td colspan="2">
          {{ utils.nazionalita("Referente6_Nazionalita", "Nazionalità")}}
        </td>
        <td colspan="2">
          <input class="" id="Referente6_LuogoNascita" name="Referente6_LuogoNascita" style="width:100%;" label="Luogo di nascita del firmatario"/>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="Modulo" style="border:1px solid grey" mandatory="true">
    <tbody>
      <tr class="Rigaintestazioneridotta">
        <td colspan="6">
          <p class="Labelcella"><b>Residenza</b></p>
        </td>
      </tr>
      <tr class="Rigaintestazioneridotta">
        <td style="width:10%;">
          <p class="Labelcella">Provincia</p>
        </td>
        <td style="width:33%;">
          <p class="Labelcella">Comune</p>
        </td>
        <td style="width:33%;">
          <p class="Labelcella">Indirizzo</p>
        </td>
        <td style="width:8%;">
          <p class="Labelcella">Civico</p>
        </td>
        <td style="width:6%;">
          <p class="Labelcella">Barra</p>
        </td>
        <td style="width:12%;">
          <p class="Labelcella">CAP</p>
        </td>
      </tr>
      <tr>
        <td style="width:10%;">
          {{ utils.provincie("Referente6_ProvinciaResidenza", "Provincia di residenza", mandatory="true")}}
        </td>
        <td style="width:33%;">
          <select class="inputNormal" id="Referente6_ComuneResidenza" name="Referente6_ComuneResidenza" style="width:100%" label="Comune di residenza del firmatario" dynamic_value="getComuniFromProvincia( #Referente6_ProvinciaResidenza.value(), 'Referente6_ComuneResidenza')">
          </select>
        </td>
        <td style="width:33%;">
          <input class="" id="Referente6_ViaResidenza" name="Referente6_ViaResidenza" style="width:100%;" label="Via di residenza del firmatario"/>
        </td>
        <td style="width:8%;">
          <input class="" id="Referente6_CivicoResidenza" name="Referente6_CivicoResidenza" style="width:100%;" label="Civico di residenza del firmatario" maxlength="10" format="number"/>
        </td>
        <td style="width:6%;">
          <input class="" id="Referente6_BarraResidenza" name="Referente6_BarraResidenza" style="width:100%;" label="Barra di residenza del firmatario" maxlength="3" mandatory="false"/>
        </td>
        <td style="width:12%;">
          <input class="" id="Referente6_CAPResidenza" name="Referente6_CAPResidenza" style="width:100%;" format="cap" label="CAP di residenza del firmatario" mandatory="#Referente6_ProvinciaResidenza.value() != 'EE'"/>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="Modulo" style="border:1px solid grey">
    <tbody>
      <tr class="Rigaintestazioneridotta">
        <td colspan="4">
          <p class="Labelcella"><b>Recapito</b></p>
        </td>
      </tr>
      <tr class="Rigaintestazioneridotta">
        <td style="width:20%;">
          <p class="Labelcella">Telefono fisso</p>
        </td>
        <td style="width:20%;">
          <p class="Labelcella">Cellulare</p>
        </td>
        <td style="width:30%;">
          <p class="Labelcella">E-mail <i>(posta elettronica ordinaria)</i></p>
        </td>
        <td style="width:30%;">
          <p class="Labelcella">E-mail PEC <i>(domicilio digitale)</i></p>
        </td>
      </tr>
      <tr>
        <td style="width:20%;">
          <input class="inputNormal" id="Referente6_Tel_Fisso" label="Tel_Fisso del firmatario" mandatory="#Referente6_Telefono.value() == ''" name="Referente6_Tel_Fisso" style="width:100%"  format="number" maxlength="13"/>
        </td>
        <td style="width:20%;">
          <input class="inputNormal" id="Referente6_Telefono" label="Telefono del firmatario" name="Referente6_Telefono" style="width:100%" mandatory="#Referente6_Tel_Fisso.value() == ''" format="number" maxlength="13"/>
        </td>
        <td style="width:30%;">
          <input class="inputNormal" format="email" id="Referente6_EMail" label="E-mail ordinaria del firmatario" enabled="true" name="Referente6_EMail" style="width:100%;"/>
        </td>
        <td style="width:30%;">
          <input class="inputNormal" format="pec" id="Referente6_EMailPEC" label="E-mail PEC del firmatario" enabled="true" name="Referente6_EMailPEC" style="width:100%;" />
        </td>
      </tr>
    </tbody>
  </table>
</div>

<input dynamic_value="#Referente6_Cognome.value().toUpperCase() + ' - ulteriore intestatario (firma digitale)'" id="Oggetto" name="Oggetto" type="hidden"/>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border:1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td>
        <p style="line-height: 1.6;"><b>in qualità di</b></p>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td>
        <p class="Labelcella">Ruolo</p>
      </td>
    </tr>
    <tr>
      <td>
        <select class="inputNormal" id="Referente6_Ruolo" name="Referente6_Ruolo" style="width:100%;" mandatory_enabled="true" label="Ruolo del firmatario">
          <option value=""></option>
          <option value="Persona fisica">Persona fisica</option>
          <option value="Legale rappresentante">Legale rappresentante</option>
          <option value="Amministratore di condominio">Amministratore di condominio</option>
        </select>
      </td>
    </tr>
  </tbody>
</table>


<div class="simpatico-block simpatico-query-and-answer">
  <table class="Modulo" style="border:1px solid grey">
    <tbody>
      <tr class="Rigaintestazioneridotta">
        <td style="width:75%;">
          <p class="Labelcella"><b>Denominazione/Ragione sociale (questa sezione deve essere compilata se il dichiarante non è la persona fisica)</b></p>
        </td>
        <td style="width:25%;">
          <p class="Labelcella">Tipologia</p>
        </td>
      </tr>
      <tr mandatory_enabled="#Referente6_Ruolo.check_value(['Legale rappresentante', 'Amministratore di condominio'])">
        <td style="width:75%;">
          <input class="" id="Referente6_Denominazione" name="Referente6_Denominazione" style="width:100%" label="Denominazione/Ragione sociale"/>
        </td>
        <td style="width:25%;">
          {{ utils.tipologiaimpresa('Referente6_TipologiaImpresa')}}
        </td>
      </tr>
    </tbody>
  </table>

  <table class="Modulo" style="border:1px solid grey" mandatory="true">
    <tbody>
      <tr class="Rigaintestazioneridotta">
        <td colspan="6">
          <p class="Labelcella"><b>Sede legale</b></p>
        </td>
      </tr>
      <tr class="Rigaintestazioneridotta">
        <td style="width:10%;">
          <p class="Labelcella">Provincia</p>
        </td>
        <td style="width:33%;">
          <p class="Labelcella">Comune</p>
        </td>
        <td style="width:33%;">
          <p class="Labelcella">Indirizzo</p>
        </td>
        <td style="width:8%;">
          <p class="Labelcella">Civico</p>
        </td>
        <td style="width:6%;">
          <p class="Labelcella">Barra</p>
        </td>
        <td style="width:12%;">
          <p class="Labelcella">CAP</p>
        </td>
      </tr>
      <tr mandatory_enabled="#Referente6_Ruolo.check_value(['Legale rappresentante', 'Amministratore di condominio'])">
        <td>
          {{utils.provincie( 'Referente6_ProvinciaSede', label="Provincia della sede legale", mandatory="#Referente6_Ruolo.check_value(['Legale rappresentante', 'Amministratore di condominio'])")}}
        </td>
        <td>
          <select class="inputNormal" id="Referente6_ComuneSede" name="Referente6_ComuneSede" style="width:100%" label="Comune della sede legale" dynamic_value="getComuniFromProvincia( #Referente6_ProvinciaSede.value(), 'Referente6_ComuneSede')">
          </select>
        </td>
        <td>
          <input class="" id="Referente6_ViaSede" name="Referente6_ViaSede" style="width:100%;" label="Indirizzo della sede legale"/>
        </td>
        <td>
          <input class="" id="Referente6_CivicoSede" name="Referente6_CivicoSede" style="width:100%;" label="Civico della sede legale" maxlength="10" format="number"/>
        </td>
        <td>
          <input class="" id="Referente6_BarraSede" name="Referente6_BarraSede" style="width:100%;" label="Barra del civico della sede legale" maxlength="3" mandatory="false"/>
        </td>
        <td>
          <input class="" id="Referente6_CAPSede" name="Referente6_CAPSede" style="width:100%;" format="cap" label="CAP della sede legale" enabled="#Referente6_Ruolo.check_value(['Legale rappresentante', 'Amministratore di condominio'])" mandatory="#Referente6_Ruolo.check_value(['Legale rappresentante', 'Amministratore di condominio']) and #Referente6_ProvinciaSede.value() != 'EE'"/>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="Modulo" style="border:1px solid grey" mandatory="true">
    <tbody>
      <tr class="Rigaintestazioneridotta">
        <td colspan="2">
          <p class="Labelcella">Codice Fiscale / Partita IVA </p>
        </td>
        <td>
          <p class="Labelcella">E-mail PEC (domicilio digitale)</p>
        </td>
      </tr>
      <tr mandatory_enabled="#Referente6_Ruolo.check_value(['Legale rappresentante', 'Amministratore di condominio'])">
        <td colspan="2">
          <input class="" id="Referente6_CFPI" name="Referente6_CFPI" label="Codice fiscale" style="width:100%;" format="cfpiva"/>
        </td>
        <td>
          <input class="" id="Referente6_APEC" name="Referente6_APEC" label="PEC Azienda" style="width:100%;" format="pec" />
        </td>
      </tr>
      <tr class="Rigaintestazioneridotta">
        <td colspan="2">
          <p class="Labelcella">Telefono fisso</p>
        </td>
        <td>
          <p class="Labelcella">Cellulare</p>
        </td>
      </tr>
      <tr mandatory_enabled="#Referente6_Ruolo.check_value(['Legale rappresentante', 'Amministratore di condominio'])">
        <td colspan="2">
          <input class="" id="Referente6_Tel_FissoSede" name="Referente6_Tel_FissoSede" label="Tel_Fisso della sede legale" style="width:100%;" mandatory="false"/>
        </td>
        <td>
          <input class="" id="Referente6_TelefonoSede" name="Referente6_TelefonoSede" label="Telefono della sede legale" style="width:100%;"/>        
        </td>
      </tr>
      <tr class="Rigaintestazioneridotta">
        <td style="width:50%">
          <p class="Labelcella">Iscrizione al Registro Imprese della Camera di Commercio</p>
        </td>
        <td style="width:9%">
          <p class="Labelcella">Provincia</p>
        </td>
        <td style="width:41%">
          <p class="Labelcella">Numero iscrizione</p>
        </td>
      </tr>
      <tr>
        <td>
          <select class="inputNormal" id="Referente6_Attributi_IscrittoCCIAA" name="Referente6_Attributi_IscrittoCCIAA" label="Iscrizione al Registro Imprese della Camera di Commercio" style="width:100%" mandatory_enabled="#Referente6_Ruolo.check_value(['Legale rappresentante', 'Amministratore di condominio'])">
            <option value=""></option>
            <option value="iscritto">iscritto</option>
            <option value="in attesa di iscrizione">in attesa di iscrizione</option>
            <option value="non tenuto all'iscrizione">non tenuto all'iscrizione</option>
          </select>
        </td>
        <td mandatory_enabled="#Referente6_Attributi_IscrittoCCIAA.check_value([ 'iscritto','in attesa di iscrizione' ])">
          {{utils.provincie( 'Referente6_Attributi_CCIAAProv', label="Provincia iscrizione al Registro Imprese della Camera di Commercio")}}
        </td>
        <td mandatory_enabled="#Referente6_Attributi_IscrittoCCIAA.check_value([ 'iscritto' ])">
          <input class="" id="Referente6_Attributi_CCIAANumero" name="Referente6_Attributi_CCIAANumero" label="Numero iscrizione al Registro Imprese della Camera di Commercio" style="width:100%"/>
        </td>
      </tr>
    </tbody>
  </table>
</div>
  {{ anagrafica_trento_uniformata.attributi_hidden(prefix = "Referente6") }}
<br>


<div class="simpatico-block simpatico-query-and-answer">
  <table class="Modulo" style="border: 1px solid grey">
    <tbody>
      <tr class="Rigaintestazione">
        <td>
          <p style="line-height: 1.6;">Valendosi della facoltà prevista dall'articolo 47 del Decreto del Presidente della Repubblica 28/12/2000, n. 445, consapevole delle sanzioni penali previste dall'articolo 76 del Decreto del Presidente della Repubblica 28/12/2000, n. 445 e dall'articolo 483 del Codice Penale nel caso di dichiarazioni non veritiere e di falsità in atti</p>
        </td>
      </tr>
    </tbody>
  </table>

  <h1 class="Modulo">DICHIARA</h1>
{{ immobili_trento_uniformata.immobile_titolarita(prefix="Referente6",
      intestazione="di essere soggetto abilitato alla presentazione dell'istanza in quanto",
      descrizione_proprietario_esclusivo="Proprietario", 
      descrizione_altro_diritto_reale="Titolare di altro diritto reale:",
      descrizione_diritto_contrattuale="Titolare di diritto contrattuale (locatario, titolare di leasing, etc.), si allega pertanto copia della documentazione comprovante il titolo",
      allegati="false" ) }}

  <table class="Modulo" style="border:1px solid grey; border-top: none; margin-top: 0em;">
    <tbody>
      <tr class="Rigaintestazioneridotta">
        <td colspan="3">
        </td>
      </tr>
      <tr>
        <td style="width: 4%; vertical-align: top; padding-top: 0.5em; text-align: center;">
          <div id="Presa_visione_condivis" name="Presa_visione_condivis" label="Dichiarazione presa visione e condivisione con dichiarazioni del titolare" mandatory_enabled="true"> </div>
          <input group="Presa_visione_condivis" id="Presa_visione_condivis_check" name="Presa_visione_condivis_check" type="checkbox" dynamic_check="true" value="1" />
        </td>
        <td colspan="2">
          <p style="line-height:1.6;">di aver preso visione e di condividere quanto dichiarato dal titolare/richiedente</p>
        </td>
      </tr>
      <tr>
        <td style="width: 4%; vertical-align: top; padding-top: 0.5em; text-align: center;">
          <div id="Accett_comunicaz" name="Accett_comunicaz" label="Dichiarazione presa visione e accettazione delega" mandatory_enabled="true"> </div>
          <input group="Accett_comunicaz" id="Accett_comunicaz_check" name="Accett_comunicaz_check" type="checkbox" dynamic_check="true" value="1" />
        </td>      
        <td colspan="2">
          <p style="line-height: 1.6;">di autorizzare il titolare/richiedente a delegare il progettista/tecnico incaricato alla gestione online della presente pratica edilizia e alla firma digitale di tutte le dichiarazioni rese</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="3">
        <p style="line-height:1.6;">Per quanto concerne il <b>contributo di costruzione</b>, l'intervento da realizzare:</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; padding-top: 0.5em; width: 4%; text-align: center;">
        <div id="richiesto_contributo" name="richiesto_contributo" label="Richiesto contributo costruzione" mandatory_enabled="true"> </div>
        <input group="richiesto_contributo" id="richiesto_contributo_no" name="richiesto_contributo" type="radio" value="1" />
      </td>
      <td colspan="2">
        <p style="line-height:1.6;"><b>non è soggetto</b> in quanto non comporta aumento del carico urbanistico</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; padding-top: 0.5em; width: 4%; text-align: center;" rowspan="2">
        <input group="richiesto_contributo" id="richiesto_contributo_si" name="richiesto_contributo" type="radio" value="2" />
      </td>
      <td colspan="2">
        <p style="line-height:1.6;"><b>è soggetto:</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; padding-top: 0.5em; width: 4%; text-align: center;">
        <div id="tipo_contributo" name="tipo_contributo" label="Tipo contributo costruzione" enabled="#richiesto_contributo_si.checked()"> </div>
        <input group="tipo_contributo" id="tipo_contributo1" name="tipo_contributo1" type="checkbox" enabled="#richiesto_contributo_si.checked()"/>
      </td>
      <td>
        <p style="line-height:1.6;">l'intervento, <b>per quanto concerne il sottoscritto</b>, rientra nei casi di esenzione ai sensi dell'art. 90, comma 1, lettera <input class="" id="lettera_esenz" name="lettera_esenz" label="Lettera caso esenzione" size="3" mandatory_enabled="#tipo_contributo1.checked()"/>, della L.P. nr. 15/2015 e si allega pertanto modulo esenzione firmato dal sottoscritto con firma elettronica</p>    
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" name="Allegati" style="border:1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="4">
        <p style="text-align: center; line-height: 1.6;"><b>Elenco degli allegati</b></p>
      </td>
    </tr>
    <tr class="Rigaintestazione">
      <td style="width:4%;">
        <p style="line-height: 1.6; font-size: 85%; text-align: center;">Si allega</p>
      </td>
      <td colspan="2">
        <p style="line-height: 1.6; font-size: 85%; text-align: center;">Titolo allegato</p>
      </td>
      <td style="width:15%;">
        <p style="line-height: 1.6; font-size: 85%; text-align: center;">Numero documenti</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width:4%;">
        <input id="Contr_locaz" name="Contr_locaz" type="checkbox" dynamic_check="#Referente6_Titolo3.checked()" enabled="#Referente6_Titolo3.checked()" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height: 1.6;">Documentazione comprovante il diritto contrattuale</p>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input class="" type="number" id="num_doc_dir_contr" name="num_doc_dir_contr" label="Numero documenti comprovanti il diritto contrattuale" mandatory_enabled="#Contr_locaz.checked()" style="width: 90%; text-align: center;"  min="1" max="100"/></p>
        <input id="GLOBO_allegato_cGEN-DOC-DIRITTO-CONTRATTUALE" name="GLOBO_allegato_cGEN-DOC-DIRITTO-CONTRATTUALE" obbligatorio="#Contr_locaz.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center;">
        <input dynamic_check="#tipo_contributo1.checked()" enabled="#tipo_contributo1.checked()" id="esenz_richiesta" name="esenz_richiesta" type="checkbox" value=""/>
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height:1.6;">Modulo secondario - <b>Richiesta di esenzione</b> dal pagamento del contributo di costruzione</p>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input id="numero_mod_esenz" name="numero_mod_esenz" dynamic_value="#tipo_contributo1.checked() ? '1' : 'Non richiesto'" style="width: 90%; text-align: center;" readonly/></p>
        <input id="GLOBO_modulofiglio_cM47500-MSEC17-RICH-ESENZ-INTAGG-FIRMA-EL" name="GLOBO_modulofiglio_cM47500-MSEC17-RICH-ESENZ-INTAGG-FIRMA-EL" obbligatorio="#tipo_contributo1.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" name="Accettazione_Informativa_dati" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="vertical-align: center; text-align: center; width:4%;">
        <div id="Presa_visione6" name="Presa_visione6" label="Dichiarazione presa visione" mandatory_enabled="true"> </div>
        <input group="Presa_visione6" id="Presa_visione_check6" name="Presa_visione_check6" type="checkbox" value="1" />
      </td>
      <td colspan="2" style="background-color: #eeeeee;">
        <p style="line-height:1.4;"><b>Dichiaro di aver ricevuto e preso visione dell'<a href="https://sportello.comune.trento.it/document/inform-tratt-dati-edilizia" target="_blank">informativa sul trattamento dei dati personali</a></b> <br><span style="font-size:85%"><i>(artt. 13 e 14 Regolamento UE n. 2016/679)</i></span></p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<div class="simpatico-block">
<table class="Modulo" name="Luogo_e_data" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="width: 25%; text-align: center;">
        <input class="" id="Luogo_PDF" name="Luogo_PDF" style="width:80%; text-align: center;" type="text"/>
      </td>
      <td style="width: 25%; text-align: center;">
        <input class="" id="Data_PDF" name="Data_PDF" style="width:80%; text-align: center;" type="text"/>
      </td>
      <td style="width: 50%; text-align: center; height: 1.5cm;">
        <input class="" id="nominativo_richiedente" name="nominativo_richiedente" dynamic_value="#Referente6_Nome.value().toUpperCase() + ' ' + #Referente6_Cognome.value().toUpperCase()" style="width:90%; text-align: center;"/>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td>
        <p class="Labelcella" style="text-align: center">Luogo</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Data</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Il sottoscritto <span style="font-size:95%"><i>(firma digitale)</i></span></p>
      </td>
    </tr>
  </tbody>
</table>
 <br/>

<p class="Modulo">
 <input id="SalvaModulo" name="SalvaModulo" style="height:30px;width:120px;" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza." type="submit" value="Salva modulo"/>
</p>
</div>

<input id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value=""/>
<input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden"/>
<input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden"/>
<input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}"/>

<input id="GLOBO_allegato_cINFORM-TRATT-DATI-EDILIZIA" name="GLOBO_allegato_cINFORM-TRATT-DATI-EDILIZIA" obbligatorio="''" type="hidden" value=""/>

<!--
{{ utils.passaggio_metadati() }}
<input id="Metadati_Domicilio_Digitale" name="Metadati_Domicilio_Digitale" type="hidden"/>
-->

<input id="Immobile_TipologiaImmobile" name="Immobile_TipologiaImmobile" type="hidden" readonly/>
<input id="Immobile_ComuneCatastale_esteso" name="Immobile_ComuneCatastale_esteso" type="hidden" readonly/>
<input id="Immobile_CatNumero" name="Immobile_CatNumero" type="hidden" readonly/>
<input id="Immobile_CatBarra" name="Immobile_CatBarra" type="hidden" readonly/>
<input id="Immobile_CatPM" name="Immobile_CatPM" type="hidden" readonly/>
<input id="Immobile_CatSubalterno" name="Immobile_CatSubalterno" type="hidden" readonly/>
<input id="Immobile_Provincia" name="Immobile_Provincia" type="hidden" readonly/>
<input id="Immobile_Comune" name="Immobile_Comune" type="hidden" readonly/>
<input id="Immobile_Nomecompleto_via" name="Immobile_Nomecompleto_via" type="hidden" readonly/>
<input id="Immobile_numeroCivico" name="Immobile_numeroCivico" type="hidden" readonly/>
<input id="Immobile_Barracivico" name="Immobile_Barracivico" type="hidden" readonly/>

<input id="Referente_CodiceFiscale" name="Referente_CodiceFiscale" type="hidden" readonly/>

{% endblock content %}
