{% set CodiceModulo =  "M47500-MSEC14-INTAGG-AU" %}
{% set Urn =  "document:c_l378:segnalazione.certificata.inizio.attivita;scia;msec14.m47500.ulteriori.intestatari.firma.autografa" %}
{% extends "base_trento_ok.html" %}

{% block meta %}
<meta campi_firma="Referente7_CodiceFiscale"
classi_modulo="Generale"
codice_modulo="{{ CodiceModulo }}"
urn="{{ Urn }}"
descrizione="Modulo secondario - Ulteriore intestatario (firma autografa)"
destinatario_amministrazione=""
destinatario_ufficio=""
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="NO"
firmare="NO"
istruzioni_compilazione="ATTENZIONE: questo modulo deve essere compilato con i dati del sottoscrivente."
istruzioni_invio=""
metodo_invio=""
name="GLOBO_modulo"
procura="NO,,"
tipo_modulo="secondario"
segnatura="Referente7"
ufficio=""
urlhelp="/modulistica/moduli/M47500-MSEC14-INTAGG-AU"
verifica_pagamento="NO"
versione="1.1|03/06/2016"/>

<meta codice_modulo_figlio="M47500-MSEC16-RICH-ESENZ-INTAGG-FIRMA-AU"
urn_modulo_figlio="document:c_l378:segnalazione.certificata.inizio.attivita;scia;msec16.m47500.ult.intest.rich.esenz.firma.autografa"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<meta codice_allegato="GEN-CDI"
urn_allegato="document:c_l378:allegato.copia.documento.identita"
descrizione_estesa="Allegato - Documento di identità"
filename="Documento identita.jpeg,Documento identita.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-CDI"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf,image/jpeg"/>

<meta codice_allegato="GEN-COPIA-MODULO-FIRMA-AU"
urn_allegato="document:c_l378:allegato.copia.modulo.firmato.con.firma.autografa"
descrizione_estesa="Allegato - Copia del modulo ulteriore intestatario compilato e firmato con firma autografa"
filename="modulo-ult-int.jpeg,modulo-ult-int.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-COPIA-MODULO-FIRMA-AU"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf,image/jpeg"/>

<meta codice_allegato="GEN-DOC-DIRITTO-CONTRATTUALE"
urn_allegato="document:c_l378:allegato.doc.diritto.contrattuale"
descrizione_estesa="Allegato - Documentazione comprovante il diritto contrattuale"
filename="Doc_diritto_contrattuale.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-DOC-DIRITTO-CONTRATTUALE"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="INFORM-TRATT-DATI-EDILIZIA"
urn_allegato="document:c_l378:allegato.informativa.trattamento.dati.edilizia"
descrizione_estesa="Informativa trattamento dati EDILIZIA"
filename="INFORM-TRATT-DATI-EDILIZIA.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/INFORM-TRATT-DATI-EDILIZIA"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

{% endblock meta %}


{% block title %}
   Ulteriori intestatari del procedimento (firma autografa)
{% endblock title %}

{% block content %}


{{intestazioni.intestazione_modulosecondario_senzabollo()}}

<h1 class="Modulo">ULTERIORE INTESTATARIO DEL PROCEDIMENTO (firma autografa)</h1>

<div class="simpatico-block simpatico-query-and-answer">

{{ porzioni_edilizia_anag_intestatari_agg.sezione_anagrafica(prefix="Referente7")}}
</div>
<br>


<div class="simpatico-block simpatico-query-and-answer">
  <table class="Modulo" style="border: 1px solid grey">
    <tbody>
      <tr class="Rigaintestazione">
        <td>
          <p style="line-height: 1.6;">Valendosi della facoltà prevista dall'articolo 47 del Decreto del Presidente della Repubblica 28/12/2000, n. 445, consapevole delle sanzioni penali previste dall'articolo 76 del Decreto del Presidente della Repubblica 28/12/2000, n. 445 e dall'articolo 483 del Codice Penale nel caso di dichiarazioni non veritiere e di falsità in atti</p>
        </td>
      </tr>
    </tbody>
  </table>

  <h1 class="Modulo">DICHIARA</h1>
{{ immobili_trento_uniformata.immobile_titolarita(prefix="Referente7",
      intestazione="di essere soggetto abilitato alla presentazione dell'istanza in quanto",
      descrizione_proprietario_esclusivo="Proprietario", 
      descrizione_altro_diritto_reale="Titolare di altro diritto reale:",
      descrizione_diritto_contrattuale="Titolare di diritto contrattuale (locatario, titolare di leasing, etc.), si allega pertanto copia della documentazione comprovante il titolo",
      allegati="false" ) }}

  <table class="Modulo" style="border:1px solid grey; border-top: none; margin-top: 0em;">
    <tbody>
      <tr class="Rigaintestazioneridotta">
        <td colspan="3">
        </td>
      </tr>
      <tr>
        <td style="width: 4%; vertical-align: top; padding-top: 0.5em; text-align: center;">
          <div id="Presa_visione_condivis" name="Presa_visione_condivis" label="Dichiarazione presa visione e condivisione con dichiarazioni del titolare" mandatory_enabled="true"> </div>
          <input group="Presa_visione_condivis" id="Presa_visione_condivis_check" name="Presa_visione_condivis_check" type="checkbox" dynamic_check="true" value="1" />
        </td>
        <td colspan="2">
          <p style="line-height:1.6;">di aver preso visione e di condividere quanto dichiarato dal titolare/richiedente</p>
        </td>
      </tr>
      <tr>
        <td style="width: 4%; vertical-align: top; padding-top: 0.5em; text-align: center;">
          <div id="Accett_comunicaz" name="Accett_comunicaz" label="Dichiarazione presa visione e accettazione delega" mandatory_enabled="true"> </div>
          <input group="Accett_comunicaz" id="Accett_comunicaz_check" name="Accett_comunicaz_check" type="checkbox" dynamic_check="true" value="1" />
        </td>      
        <td colspan="2">
          <p style="line-height: 1.6;">di autorizzare il titolare/richiedente a delegare il progettista/tecnico incaricato alla gestione online della presente pratica edilizia e alla firma digitale di tutte le dichiarazioni rese</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="3">
        <p style="line-height:1.6;">Per quanto concerne il <b>contributo di costruzione</b>, l'intervento da realizzare:</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%; text-align: center;">
        <div id="richiesto_contributo" name="richiesto_contributo" label="Richiesto contributo costruzione" mandatory_enabled="true"> </div>
        <input group="richiesto_contributo" id="richiesto_contributo_no" name="richiesto_contributo" type="radio" value="1" />
      </td>
      <td colspan="2">
        <p style="line-height:1.6;"><b>non è soggetto</b> in quanto non comporta aumento del carico urbanistico</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%; text-align: center;" rowspan="2">
        <input group="richiesto_contributo" id="richiesto_contributo_si" name="richiesto_contributo" type="radio" value="2" />
      </td>
      <td colspan="2">
        <p style="line-height:1.6;"><b>è soggetto:</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%; text-align: center;">
        <div id="tipo_contributo" name="tipo_contributo" label="Tipo contributo costruzione" enabled="#richiesto_contributo_si.checked()"> </div>
        <input group="tipo_contributo" id="tipo_contributo1" name="tipo_contributo1" type="checkbox" enabled="#richiesto_contributo_si.checked()"/>
      </td>
      <td>
        <p style="line-height:1.6;">l'intervento, <b>per quanto concerne il sottoscritto</b>, rientra nei casi di esenzione ai sensi dell'art. 90, comma 1, lettera <input class="" id="lettera_esenz" name="lettera_esenz" label="Lettera caso esenzione" size="3" mandatory_enabled="#tipo_contributo1.checked()"/>, della L.P. nr. 15/2015 e si allega pertanto modulo esenzione firmato dal sottoscritto con firma autografa</p>    
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" name="Allegati" style="border:1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="4">
        <p style="text-align: center; line-height: 1.6;"><b>Elenco degli allegati</b></p>
      </td>
    </tr>
    <tr class="Rigaintestazione">
      <td style="width:4%;">
        <p style="line-height: 1.6; font-size: 85%; text-align: center;">Si allega</p>
      </td>
      <td colspan="2">
        <p style="line-height: 1.6; font-size: 85%; text-align: center;">Titolo allegato</p>
      </td>
      <td style="width:15%;">
        <p style="line-height: 1.6; font-size: 85%; text-align: center;">Numero documenti</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width:4%;">
        <input id="GEN_CDI" name="GEN_CDI" type="checkbox" dynamic_check="true" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height: 1.6;">Copia del documento d'identità</p>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input id="numero_copia_docident" name="numero_copia_docident" dynamic_value="'1'" style="width: 90%; text-align: center;" readonly/></p>
        <input id="GLOBO_allegato_cGEN-CDI" name="GLOBO_allegato_cGEN-CDI" obbligatorio="#GEN_CDI.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width:4%;">
        <input id="ULT_INT_AU" name="ULT_INT_AU" type="checkbox" dynamic_check="true" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height: 1.6;">Scansione della stampa di questo modulo firmata</p>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input id="numero_copia_modulo" name="numero_copia_modulo" dynamic_value="'1'" style="width: 90%; text-align: center;" readonly/></p>
        <input id="GLOBO_allegato_cGEN-COPIA-MODULO-FIRMA-AU" name="GLOBO_allegato_cGEN-COPIA-MODULO-FIRMA-AU" obbligatorio="#ULT_INT_AU.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width:4%;">
        <input id="Contr_locaz" name="Contr_locaz" type="checkbox" dynamic_check="#Referente7_Titolo3.checked()" enabled="#Referente7_Titolo3.checked()" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height: 1.6;">Documentazione comprovante il diritto contrattuale</p>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input class="" type="number" id="num_doc_dir_contr" name="num_doc_dir_contr" label="Numero documenti comprovanti il diritto contrattuale" mandatory_enabled="#Contr_locaz.checked()" style="width: 90%; text-align: center;" min="1" max="100"/></p>
        <input id="GLOBO_allegato_cGEN-DOC-DIRITTO-CONTRATTUALE" name="GLOBO_allegato_cGEN-DOC-DIRITTO-CONTRATTUALE" obbligatorio="#Contr_locaz.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center;">
        <input dynamic_check="#tipo_contributo1.checked()" enabled="#tipo_contributo1.checked()" id="esenz_richiesta" name="esenz_richiesta" type="checkbox" value=""/>
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height:1.6;">Modulo secondario - <b>Richiesta di esenzione</b> dal pagamento del contributo di costruzione</p>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input id="numero_mod_esenz" name="numero_mod_esenz" dynamic_value="#tipo_contributo1.checked() ? '1' : 'Non richiesto'" style="width: 90%; text-align: center;" readonly/></p>
        <input id="GLOBO_modulofiglio_cM47500-MSEC16-RICH-ESENZ-INTAGG-FIRMA-AU" name="GLOBO_modulofiglio_cM47500-MSEC16-RICH-ESENZ-INTAGG-FIRMA-AU" obbligatorio="#tipo_contributo1.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" name="Accettazione_Informativa_dati" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="vertical-align: center; text-align: center; width:4%;">
        <div id="Presa_visione6" name="Presa_visione6" label="Dichiarazione presa visione" mandatory_enabled="true"> </div>
        <input group="Presa_visione6" id="Presa_visione_check6" name="Presa_visione_check6" type="checkbox" value="1" />
      </td>
      <td colspan="2" style="background-color: #eeeeee;">
        <p style="line-height:1.4;"><b>Dichiaro di aver ricevuto e preso visione dell'<a href="https://sportello.comune.trento.it/document/inform-tratt-dati-edilizia" target="_blank">informativa sul trattamento dei dati personali</a></b> <br><span style="font-size:85%"><i>(artt. 13 e 14 Regolamento UE n. 2016/679)</i></span></p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<div class="simpatico-block">
<table class="Modulo" name="Luogo_e_data" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="width: 25%; text-align: center;">
        <input class="" id="Luogo_PDF" name="Luogo_PDF" style="width:80%; text-align: center;" type="text"/>
      </td>
      <td style="width: 25%; text-align: center;">
        <input class="" id="Data_PDF" name="Data_PDF" style="width:80%; text-align: center;" type="text"/>
      </td>
      <td style="width: 50%; text-align: center; height: 1.5cm;">
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td>
        <p class="Labelcella" style="text-align: center">Luogo</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Data</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Il sottoscritto <span style="font-size:95%"><i>(firma autografa)</i></span></p>
      </td>
    </tr>
  </tbody>
</table>

<br>

<p class="Modulo">
  <input id="SalvaModulo" name="SalvaModulo" style="height:30px;width:120px;" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza." type="submit" value="Salva modulo"/>
</p>
</div>
 
<input id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value=""/>
<input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden"/>
<input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden"/>
<input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}"/>

<input id="GLOBO_allegato_cINFORM-TRATT-DATI-EDILIZIA" name="GLOBO_allegato_cINFORM-TRATT-DATI-EDILIZIA" obbligatorio="''" type="hidden" value=""/>

<!--
{{ utils.passaggio_metadati() }}
<input id="Metadati_Domicilio_Digitale" name="Metadati_Domicilio_Digitale" type="hidden"/>
-->

<input id="Immobile_TipologiaImmobile" name="Immobile_TipologiaImmobile" type="hidden" readonly/>
<input id="Immobile_ComuneCatastale_esteso" name="Immobile_ComuneCatastale_esteso" type="hidden" readonly/>
<input id="Immobile_CatNumero" name="Immobile_CatNumero" type="hidden" readonly/>
<input id="Immobile_CatBarra" name="Immobile_CatBarra" type="hidden" readonly/>
<input id="Immobile_CatPM" name="Immobile_CatPM" type="hidden" readonly/>
<input id="Immobile_CatSubalterno" name="Immobile_CatSubalterno" type="hidden" readonly/>
<input id="Immobile_Provincia" name="Immobile_Provincia" type="hidden" readonly/>
<input id="Immobile_Comune" name="Immobile_Comune" type="hidden" readonly/>
<input id="Immobile_Nomecompleto_via" name="Immobile_Nomecompleto_via" type="hidden" readonly/>
<input id="Immobile_numeroCivico" name="Immobile_numeroCivico" type="hidden" readonly/>
<input id="Immobile_Barracivico" name="Immobile_Barracivico" type="hidden" readonly/>

<input id="Referente_CodiceFiscale" name="Referente_CodiceFiscale" type="hidden" readonly/>

{% endblock content %}