{% set CodiceModulo =  "GEN-DIR-LAV-EL-PROVA" %}
{% set Urn =  "document:c_l378:modulo.secondario.anagrafica.direttore.lavori.firma.elettronica.prova" %}
<!--{% set modulo_workflow_model =  "https://sportello.comune.trento.it/modulistica/moduli/GEN-DIR-LAV-EL_vSTU3" %}-->
{% extends "base_trento_new.html" %}

{% block meta %}
<meta campi_firma="DirettoreLavori_CodiceFiscale"
classi_modulo="Generale"
codice_modulo="{{ CodiceModulo }}"
urn="{{ Urn }}"
descrizione="Modulo secondario TEST - Anagrafica del direttore dei lavori (firma elettronica)"
destinatario_amministrazione=""
destinatario_ufficio=""
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="NO"
firmare="P7M_ELETTRONICA"
istruzioni_compilazione=""
istruzioni_invio=""
metodo_invio=""
name="GLOBO_modulo"
procura="NO,,"
tipo_modulo="secondario"
ufficio=""
urlhelp="/modulistica/moduli/GEN-DIR-LAV-EL-PROVA"
verifica_pagamento="NO"
versione="1.0|01/01/2015"/>

<meta codice_allegato="INFORM-TRATT-DATI-EDILIZIA"
urn_allegato="document:c_l378:allegato.informativa.trattamento.dati.edilizia"
descrizione_estesa="Informativa trattamento dati EDILIZIA"
filename="INFORM-TRATT-DATI-EDILIZIA.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/INFORM-TRATT-DATI-EDILIZIA"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

{% endblock meta %}

<!--{% block simpaticoconfig %}
  {% set simpaticoEservice="5_8_1" %}
  {% set simpaticoEserviceName="GEN DIR LAV EL" %}
  {% set simpaticoEserviceURL="https://sportello.comune.trento.it/modulistica/moduli/GEN-DIR-LAV-EL" %}
  {% set simpaticoForm="modulo_secondario" %}
  {% set simpaticoCategory="Edilizia" %}
  {% set simpaticoMapping=[ "DirettoreLavori_CodiceFiscale",
                           "DirettoreLavori_Cognome",
                           "DirettoreLavori_Nome",
                           "DirettoreLavori_PartitaIVA",
                           "DirettoreLavori_EMailPEC"] %}

  {% set ERROR_LABELS=[ ('block1' , 'Inserire il codice fiscale e dichiarare presa coscienza dei contenuti progettuali'),
                        ('block2' , 'Confermare presa visione informativa sulla privacy')] %}
  {{ utilsSimpatico.ScriptSimpatico(simpaticoEservice, simpaticoEserviceName, simpaticoEserviceURL, simpaticoForm, simpaticoCategory, simpaticoMapping, ERROR_LABELS ) }}
{% endblock simpaticoconfig %}-->

{% block title %}
   Anagrafica direttore dei lavori
{% endblock title %}

{% block content %}

{{intestazioni.intestazione_modulosecondario_senzabollo()}}
 <input id="Oggetto" name="Oggetto" type="hidden" value="" dynamic_value="#DirettoreLavori_Cognome.value().toUpperCase() + ' - anagrafica direttore dei lavori'"/>

 <h1 class="Modulo">
  Anagrafica direttore dei lavori
 </h1>

 <div class="simpatico-block simpatico-query-and-answer">

<!--<input id="fisso_obbligatorio" name="fisso_obbligatorio" dynamic_check="true" type="hidden" />-->
<input id="cellulare_obbligatorio" name="cellulare_obbligatorio" dynamic_check="true" type="hidden" />
<!--<input id="mail_obbligatoria" name="mail_obbligatoria" dynamic_check="true" type="hidden" />-->
<input id="pec_obbligatoria" name="pec_obbligatoria" dynamic_check="true" type="hidden" />

{{anagrafica_trento_uniformata.professionista("DirettoreLavori","Il direttore dei lavori","Direttore_lavori","visibility:visibility","cursor:pointer","","visibility:visibility","provinciale","no") }}

<br>

<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <div id="Dichiarazione_direttore_lavori" name="Dichiarazione_direttore_lavori" label="Dichiarazione direttore lavori" mandatory_enabled="true"> </div>
        <input group="Dichiarazione_direttore_lavori" id="Dichiarazione_direttore_lavori_check" name="Dichiarazione_direttore_lavori_check" type="checkbox" value="1" />
      </td>
      <td>
        <p style="line-height:1.6;">Il sottoscritto Direttore dei lavori dichiara di aver preso conoscenza dei contenuti progettuali e della relazione geologica, geotecnica e idrogeologica eventualmente allegata al progetto, nonché degli adempimenti relativi all'utilizzo delle terre e rocce da scavo.</p>
      </td>
    </tr>
  </tbody>
</table>
 </div>

 <br>
 <br>
 
 <table class="Modulo simpatico-block simpatico-query-and-answer" name="Accettazione_Informativa_dati" style="border: 1px solid grey">
   <tbody>
     <tr>
       <td style="width: 4%; vertical-align: center; text-align: center;">
         <div id="Presa_visione" name="Presa_visione" label="Dichiarazione presa visione" mandatory_enabled="true"> </div>
         <input group="Presa_visione" id="Presa_visione_check" name="Presa_visione_check" type="checkbox" value="1" />
       </td>
       <td colspan="2" style="background-color: #eeeeee;">
         <p style="line-height:1.4;"><b>Dichiaro di aver ricevuto e preso visione dell'<a href="https://sportello.comune.trento.it/document/inform-tratt-dati-edilizia" target="_blank">informativa sul trattamento dei dati personali</a></b> <br><span style="font-size:85%"><i>(artt. 13 e 14 Regolamento UE n. 2016/679)</i></span></p>
       </td>
     </tr>
   </tbody>
 </table>
 
 <br>
 <br>

 <table class="Modulo simpatico-block" name="Luogo_e_data" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="width: 25%; text-align: center;">
        <input class="" id="Luogo_PDF" name="Luogo_PDF" style="width:80%; text-align: center;" type="text"/>
      </td>
      <td style="width: 25%; text-align: center;">
        <input class="" id="Data_PDF" name="Data_PDF" style="width:80%; text-align: center;" type="text"/>
      </td>
      <td style="width: 50%; text-align: center; height: 1.5cm;">
        <input class="" id="nominativo_richiedente" name="nominativo_richiedente" dynamic_value="' ' + #DirettoreLavori_TitoloPersona.value() + ' ' + #DirettoreLavori_Nome.value().toUpperCase() + ' ' + #DirettoreLavori_Cognome.value().toUpperCase()" style="width:90%; text-align: center;"/>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td>
        <p class="Labelcella" style="text-align: center">Luogo</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Data</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Il direttore dei lavori <span style="font-size:95%"><i>(firma digitale)</i></span></p>
      </td>
    </tr>
  </tbody>
</table>
<br/>


 <p class="Modulo">
  <input id="SalvaModulo" name="SalvaModulo" style="height:30px;width:120px;" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza." type="submit" value="Salva modulo"/>
 </p>
 <input id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value=""/>
 <input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden"/>
 <input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden"/>
 <input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}"/>

 <input id="GLOBO_allegato_cINFORM-TRATT-DATI-EDILIZIA" name="GLOBO_allegato_cINFORM-TRATT-DATI-EDILIZIA" obbligatorio="''" type="hidden" value=""/>

 {{ utils.passaggio_metadati() }}
 <input id="Metadati_DirettoreLavori_TitoloPersona" name="Metadati_DirettoreLavori_TitoloPersona"/>
 <input id="Metadati_DirettoreLavori_Cognome" name="Metadati_DirettoreLavori_Cognome" />
 <input id="Metadati_DirettoreLavori_Nome" name="Metadati_DirettoreLavori_Nome" />
 <input id="Metadati_DirettoreLavori_CodiceFiscale" name="Metadati_DirettoreLavori_CodiceFiscale" />

{% endblock content %}
