{% set CodiceModulo =  "M47005-MSEC03-DOC-EDI-EL" %}
{% set Urn =  "document:c_l378:modulo.secondario.documentazione.procedimento.edilizio.firma.elettronica" %}
<!--{% set modulo_workflow_model =  "https://sportello.comune.trento.it/modulistica/moduli/M47005-MSEC03-DOC-EDI-EL_vSTU3" %}-->
{% extends "base_trento_new.html" %}

{% block meta %}
<meta campi_firma="Metadati_DirettoreLavori_CodiceFiscale"
classi_modulo="Generale"
codice_modulo="{{ CodiceModulo }}"
urn="{{ Urn }}"
descrizione="Modulo secondario - Elenco documentazione necessaria per il procedimento edilizio (firma elettronica)"
destinatario_amministrazione=""
destinatario_ufficio=""
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="NO"
firmare="P7M_ELETTRONICA"
istruzioni_compilazione=""
istruzioni_invio=""
metodo_invio=""
name="GLOBO_modulo"
procura="NO,,"
tipo_modulo="secondario"
ufficio=""
urlhelp="/modulistica/moduli/M47005-MSEC03-DOC-EDI-EL"
verifica_pagamento="NO"
versione="1.0|01/01/2015"/>

<meta codice_allegato="M47005-A01-ULT_PROVV"
urn_allegato="document:c_l378:inizio.lavori;comunicazione.inizio.lavori;a01.m47005.ulteriori.provvedimenti"
descrizione_estesa="Ulteriori provvedimenti e atti di assenso previsti da disposizioni particolari"
filename="ULT_PROVV.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/M47005-A01-ULT_PROVV"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M47005-A02-TUTELA_AMBIENTI"
urn_allegato="document:c_l378:inizio.lavori;comunicazione.inizio.lavori;a02.m47005.tutela.ambienti"
descrizione_estesa="Altri provvedimenti di cui alle disposizioni vigenti in materia di tutela degli ambienti per gli inquinamenti"
filename="TUTELA_AMBIENTI.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/M47005-A02-TUTELA_AMBIENTI"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-SCARICHI_ACQUE"
urn_allegato="document:c_l378:allegato.scarichi.acque"
descrizione_estesa="Documentazione del soggetto gestore del servizio: scarichi acque nere e bianche"
filename="GEN_SCARICHI_ACQUE.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-SCARICHI_ACQUE"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-SPAZI_RACCOLTA"
urn_allegato="document:c_l378:allegato.spazi.raccolta"
descrizione_estesa="Documentazione del soggetto gestore del servizio: spazi di raccolta dei rifiuti solidi urbani"
filename="GEN_SPAZI_RACCOLTA.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-SPAZI_RACCOLTA"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-FORNITURA_ACQUA"
urn_allegato="document:c_l378:allegato.fornitura.acqua"
descrizione_estesa="Documentazione del soggetto gestore del servizio: fornitura di acqua"
filename="GEN_FORNITURA_ACQUA.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-FORNITURA_ACQUA"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-FORNITURA_ELETTRICA"
urn_allegato="document:c_l378:allegato.fornitura.energia.elettrica"
descrizione_estesa="Documentazione del soggetto gestore del servizio: fornitura di energia elettrica"
filename="GEN_FORNITURA_ELETTRICA.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-FORNITURA_ELETTRICA"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-FORNITURA_GAS"
urn_allegato="document:c_l378:allegato.fornitura.gas"
descrizione_estesa="Documentazione del soggetto gestore del servizio: fornitura di calore, gas, ecc."
filename="GEN_FORNITURA_GAS.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-FORNITURA_GAS"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-FIBRA_OTTICA"
urn_allegato="document:c_l378:allegato.fibra.ottica"
descrizione_estesa="Collegamenti in fibra ottica"
filename="GEN_FIBRA_OTTICA.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-FIBRA_OTTICA"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-RELAZIONE_ENERGETICA"
urn_allegato="document:c_l378:allegato.relazione.energetica"
descrizione_estesa="Elaborati/relazione energetica relativi ai requisiti di prestazione energetica"
filename="GEN_RELAZIONE_ENERGETICA.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-RELAZIONE_ENERGETICA"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-TERRE_SCAVO"
urn_allegato="document:c_l378:allegato.terre.scavo"
descrizione_estesa="Comunicazioni in materia di gestione delle terre e rocce da scavo"
filename="GEN_TERRE_SCAVO.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-TERRE_SCAVO"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-AUT_TULPS"
urn_allegato="document:c_l378:allegato.autorizzazione.tulps"
descrizione_estesa="Autorizzazione ai sensi del TULPS per locali destinati esercizi pubblici"
filename="GEN_AUT_TULPS.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-AUT_TULPS"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-AUT_ILLUM_EST"
urn_allegato="document:c_l378:allegato.impianti.illuminazione.esterna"
descrizione_estesa="Autorizzazione per impianti di illuminazione esterna"
filename="GEN_AUT_ILLUM_EST.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-AUT_ILLUM_EST"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-PLANIMETRIA_RETI"
urn_allegato="document:c_l378:allegato.planimetria.reti"
descrizione_estesa="Planimetria delle reti"
filename="GEN_PLANIMETRIA_RETI.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-PLANIMETRIA_RETI"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-ALTRI-ALLEGATI"
urn_allegato="document:c_l378:allegato.altri.allegati"
descrizione_estesa="Altri allegati"
filename="ALTRI_ALLEGATI.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-ALTRI-ALLEGATI"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

{% endblock meta %}

<!--{% block simpaticoconfig %}
  {% set simpaticoEservice="5_10_1" %}
  {% set simpaticoEserviceName="GEN DOC EDI EL" %}
  {% set simpaticoEserviceURL="https://sportello.comune.trento.it/modulistica/moduli/M47005-MSEC03-DOC-EDI-EL" %}
  {% set simpaticoForm="modulo_secondario" %}
  {% set simpaticoCategory="Edilizia" %}

  {{ utilsSimpatico.ScriptSimpatico(simpaticoEservice, simpaticoEserviceName, simpaticoEserviceURL, simpaticoForm, simpaticoCategory, simpaticoMapping, ERROR_LABELS ) }}
{% endblock simpaticoconfig %}-->


{% block title %}
Elenco documentazione necessaria per il procedimento edilizio
{% endblock title %}

{% block content %}


{{intestazioni.intestazione_modulosecondario_senzabollo()}}
 <input id="Oggetto" name="Oggetto" type="hidden" value="" dynamic_value="#Metadati_DirettoreLavori_Cognome.value().toUpperCase() + ' - Elenco documentazione necessaria per il procedimento edilizio'"/>

 <h1 class="Modulo">
    ELENCO DOCUMENTAZIONE NECESSARIA PER IL PROCEDIMENTO EDILIZIO
    <span style="font-size:55%"><i>(articolo 74, comma 1, lettera j, della legge provinciale 4 agosto 2005, n.15 ed articolo 65 del regolamento urbanistico-edilizio provinciale)</i></span>
</h1>

 <br>

<table class="Modulo simpatico-block simpatico-query-and-answer" name="Allegati" style="border: 1px solid grey">
   <tbody>
     <tr class="Rigaintestazione">
       <td colspan="3">
         <p style="text-align: center;"><b><i>Documentazione da allegare</i></b></p>
       </td>
       <td style="width:40%;">
         <p style="text-align: center;"><b><i>Consegna necessaria</i></b></p>
       </td>
     </tr>
    <tr>
      <td style="width:4%; vertical-align: top;" rowspan="6">
        <input id="planimetria_reti" name="planimetria_reti" type="checkbox" value="OBBLIGATORIO"/>
      </td>
      <td colspan="2">
        <p style="line-height:1.6;">Planimetria delle reti ed eventuale documentazione del soggetto gestore dei servizi</p>
      </td>
      <td rowspan="6">
          <p style="line-height:1.6;">Obbligatorio, per opere che comportano modifiche alla fornitura dei servizi</p>
      </td>
    </tr>
    <tr>
      <td style="width: 4%; vertical-align: top;">
        <input id="scarichi" name="scarichi" type="checkbox" value="OBBLIGATORIO"/>
      </td>
      <td>
        <p style="line-height:1.6;">Scarichi acque nere e bianche</p>
      </td>
    </tr>
    <tr>
      <td>
        <input id="spazi_raccolta" name="spazi_raccolta" type="checkbox" value="OBBLIGATORIO"/>
      </td>
      <td>
        <p style="line-height:1.6;">Spazi di raccolta dei rifiuti solidi urbani</p>
      </td>
    </tr>
    <tr>
      <td>
        <input id="fornitura_acqua" name="fornitura_acqua" type="checkbox" value="OBBLIGATORIO"/>
      </td>
      <td>
        <p style="line-height:1.6;">Fornitura di acqua</p>
      </td>
    </tr>
    <tr>
      <td>
        <input id="fornitura_elettr" name="fornitura_elettr" type="checkbox" value="OBBLIGATORIO"/>
      </td>
      <td>
        <p style="line-height:1.6;">Fornitura di energia elettrica</p>
      </td>
    </tr>
    <tr>
      <td>
        <input id="fornitura_gas" name="fornitura_gas" type="checkbox" value="OBBLIGATORIO"/>
      </td>
      <td>
        <p style="line-height:1.6;">Fornitura di calore, gas, ecc.</p>
      </td>
    </tr>
    <tr>
      <td style="width:4%; vertical-align: center;">
        <input id="fibra_ottica" name="fibra_ottica" type="checkbox" value="OBBLIGATORIO"/>
      </td>
      <td colspan="2">
        <p style="line-height:1.6;">Collegamenti in fibra ottica</p>
      </td>
      <td>
          <p style="line-height:1.6;">Obbligatorio se intervento soggetto agli adempimenti delle <i>"Linee guida per la predisposizione dei collegamenti in fibra ottica all'interno degli edifici"</i>, previste dalla disciplina provinciale</p>
      </td>
    </tr>
    <tr>
      <td style="width:4%; vertical-align: top;">
        <input id="relazione_energ" name="relazione_energ" type="checkbox" value="OBBLIGATORIO"/>
      </td>
      <td colspan="2">
        <p style="line-height:1.6;">Elaborati/relazione energetica relativi ai requisiti di prestazione energetica di cui all'art.4, commi 3-4-5 dPP 11-13/2009</p>
      </td>
      <td>
          <p style="line-height:1.6;">Obbligatorio in assenza di bonus volumetrici</p>
      </td>
    </tr>
    <tr>
      <td style="width:4%; vertical-align: center;">
        <input id="com_terre_scavo" name="com_terre_scavo" type="checkbox" value="OBBLIGATORIO"/>
      </td>
      <td colspan="2">
        <p style="line-height:1.6;">Comunicazioni in materia di gestione delle terre e rocce da scavo</p>
      </td>
      <td>
          <p style="line-height:1.6;">Se intervento soggetto, nei tempi previsti dalla normativa specifica, ovvero <b>15 giorni prima dell'inizio dell'attività di scavo</b></p>
      </td>
    </tr>
    <tr>
      <td style="width:4%; vertical-align: top;">
        <input id="aut_TULPS" name="aut_TULPS" type="checkbox" value="OBBLIGATORIO"/>
      </td>
      <td colspan="2">
        <p style="line-height:1.6;">Autorizzazione ai sensi del TULPS per locali destinati esercizi pubblici<br>
        Provvedimento nr. <input class="" label="numero provvedimento" id="num_provv1" mandatory_enabled="#aut_TULPS.checked()" name="num_provv1" size="10"/> d.d. <input class="" label="d.d. provvedimento" id="dd_provv1" mandatory_enabled="#aut_TULPS.checked()" name="dd_provv1" size="10"/></p>
      </td>
      <td>
          <p style="line-height:1.6;">Da consegnare nei termini previsti dalla normativa di settore</p>
      </td>
    </tr>
    <tr>
      <td style="width:4%; vertical-align: top;">
        <input id="aut_illum_est" name="aut_illum_est" type="checkbox" value="OBBLIGATORIO"/>
      </td>
      <td colspan="2">
        <p style="line-height:1.6;">Autorizzazione per impianti di illuminazione esterna di cui al d.P.P. n.2-34/2010<br>
        Provvedimento nr. <input class="" label="numero provvedimento" id="num_provv2" mandatory_enabled="#aut_illum_est.checked()" name="num_provv2" size="10"/> d.d. <input class="" label="d.d. provvedimento" id="dd_provv2" mandatory_enabled="#aut_illum_est.checked()" name="dd_provv2" size="10"/></p>
      </td>
      <td>
          <p style="line-height:1.6;">Obbligatorio, se intervento soggetto</p>
      </td>
    </tr>
    <tr>
      <td style="width:4%; vertical-align: top;">
        <input id="ult_provv" name="ult_provv" type="checkbox" value="OBBLIGATORIO"/>
      </td>
      <td colspan="2">
        <p style="line-height:1.6;">Ulteriori provvedimenti e atti di assenso previsti da disposizioni particolari<br>
        Provvedimento nr. <input class="" label="numero provvedimento" id="num_provv3" mandatory_enabled="#ult_provv.checked()" name="num_provv3" size="10"/> d.d. <input class="" label="d.d. provvedimento" id="dd_provv3" mandatory_enabled="#ult_provv.checked()" name="dd_provv3" size="10"/></p>
      </td>
      <td>
          <p style="line-height:1.6;">Da consegnare nei termini previsti dalla normativa di settore</p>
      </td>
    </tr>
    <tr>
      <td style="width:4%; vertical-align: top;">
        <input id="tutela_ambienti" name="tutela_ambienti" type="checkbox" value="OBBLIGATORIO"/>
      </td>
      <td colspan="2">
        <p style="line-height:1.6;">Altri provvedimenti di cui alle disposizioni vigenti in materia di tutela degli ambienti per gli inquinamenti<br>
        Provvedimento nr. <input class="" label="numero provvedimento" id="num_provv4" mandatory_enabled="#tutela_ambienti.checked()" name="num_provv4" size="10"/> d.d. <input class="" label="d.d. provvedimento" id="dd_provv4" mandatory_enabled="#tutela_ambienti.checked()" name="dd_provv4" size="10"/></p>
      </td>
      <td>
          <p style="line-height:1.6;">Da consegnare nei termini previsti dalla normativa di settore</p>
      </td>
    </tr>
    <tr>
      <td style="width:4%; vertical-align: top;">
       <input id="ALTRI_ALLEGATI" name="ALTRI_ALLEGATI" type="checkbox" value="OBBLIGATORIO"/>
      </td>
      <td colspan="2">
        <p style="line-height:1.6;">Altri allegati: specificare il numero di file <input class="" label="Numero altri allegati" id="NumAltriAllegati" mandatory_enabled="#ALTRI_ALLEGATI.checked()" name="NumAltriAllegati" size="7"/></p>
      </td>
      <td></td>
    </tr>
   </tbody>
 </table>

 <br>
 <br>

 <table class="Modulo simpatico-block" name="Luogo_e_data" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="width: 25%; text-align: center;">
        <input class="" id="Luogo_PDF" name="Luogo_PDF" style="width:80%;" type="text"/>
      </td>
      <td style="width: 25%; text-align: center;">
        <input class="" id="Data_PDF" name="Data_PDF" style="width:80%;" type="text"/>
      </td>
      <td style="width: 50%; text-align: center; height: 1.5cm;">
        <input class="" id="nominativo_richiedente" name="nominativo_richiedente" dynamic_value="' ' + #Metadati_DirettoreLavori_Cognome.value().toUpperCase() + ' ' + #Metadati_DirettoreLavori_Nome.value().toUpperCase()" style="width:90%;"/>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td>
        <p class="Labelcella" style="text-align: center">Luogo</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Data</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Il direttore dei lavori <span style="font-size:95%"><i>(firma digitale)</i></span></p>
      </td>
    </tr>
  </tbody>
</table>
<br/>


 <p class="Modulo">
  <input id="SalvaModulo" name="SalvaModulo" style="height:30px;width:120px;" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza." type="submit" value="Salva modulo"/>
 </p>
 <input id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value=""/>
 <input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden"/>
 <input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden"/>
 <input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}"/>

<input id="GLOBO_allegato_cGEN-PLANIMETRIA_RETI" name="GLOBO_allegato_cGEN-PLANIMETRIA_RETI" obbligatorio="#planimetria_reti.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_allegato_cGEN-SCARICHI_ACQUE" name="GLOBO_allegato_cGEN-SCARICHI_ACQUE" obbligatorio="#scarichi.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_allegato_cGEN-SPAZI_RACCOLTA" name="GLOBO_allegato_cGEN-SPAZI_RACCOLTA" obbligatorio="#spazi_raccolta.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_allegato_cGEN-FORNITURA_ACQUA" name="GLOBO_allegato_cGEN-FORNITURA_ACQUA" obbligatorio="#fornitura_acqua.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_allegato_cGEN-FORNITURA_ELETTRICA" name="GLOBO_allegato_cGEN-FORNITURA_ELETTRICA" obbligatorio="#fornitura_elettr.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_allegato_cGEN-FORNITURA_GAS" name="GLOBO_allegato_cGEN-FORNITURA_GAS" obbligatorio="#fornitura_gas.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_allegato_cGEN-FIBRA_OTTICA" name="GLOBO_allegato_cGEN-FIBRA_OTTICA" obbligatorio="#fibra_ottica.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_allegato_cGEN-RELAZIONE_ENERGETICA" name="GLOBO_allegato_cGEN-RELAZIONE_ENERGETICA" obbligatorio="#relazione_energ.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_allegato_cGEN-TERRE_SCAVO" name="GLOBO_allegato_cGEN-TERRE_SCAVO" obbligatorio="#com_terre_scavo.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_allegato_cGEN-AUT_TULPS" name="GLOBO_allegato_cGEN-AUT_TULPS" obbligatorio="#aut_TULPS.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_allegato_cGEN-AUT_ILLUM_EST" name="GLOBO_allegato_cGEN-AUT_ILLUM_EST" obbligatorio="#aut_illum_est.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_allegato_cM47005-A01-ULT_PROVV" name="GLOBO_allegato_cM47005-A01-ULT_PROVV" obbligatorio="#ult_provv.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_allegato_cM47005-A02-TUTELA_AMBIENTI" name="GLOBO_allegato_cM47005-A02-TUTELA_AMBIENTI" obbligatorio="#tutela_ambienti.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_allegato_cGEN-ALTRI-ALLEGATI" name="GLOBO_allegato_cGEN-ALTRI-ALLEGATI" obbligatorio="#ALTRI_ALLEGATI.checked() ? 'OBBLIGATORIO' : ''" numero="#NumAltriAllegati.value()" type="hidden" value=""/>

{{ utils.passaggio_metadati() }}
<input id="Metadati_Tipo_Firma_doc_edi" name="Metadati_Tipo_Firma_doc_edi" type="hidden"/>
<input id="Metadati_DirettoreLavori_CodiceFiscale" name="Metadati_DirettoreLavori_CodiceFiscale" type="hidden"/>
<input id="Metadati_DirettoreLavori_Cognome" name="Metadati_DirettoreLavori_Cognome" type="hidden"/>
<input id="Metadati_DirettoreLavori_Nome" name="Metadati_DirettoreLavori_Nome" type="hidden"/>
{% endblock content %}