{% set CodiceModulo =  "M55500-MSEC14-RIDUZIONE-PROCEDIMENTO" %}
{% set Urn =  "document:c_l378:permesso.costruire.msec.m55500;riduzione.procedimento" %}
{% extends "base_trento_ok.html" %}

{% block meta %}
<meta campi_firma="Referente_CodiceFiscale"
classi_modulo="Generale"
codice_modulo="{{ CodiceModulo }}"
urn="{{ Urn }}"
descrizione="Modulo secondario - Relazione per la riduzione dei termini del procedimento"
destinatario_amministrazione=""
destinatario_ufficio=""
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="SI"
firmare="P7M_ELETTRONICA"
istruzioni_compilazione=""
istruzioni_invio=""
metodo_invio=""
name="GLOBO_modulo"
procura="NO,,"
tipo_modulo="secondario"
segnatura="Referente"
ufficio=""
urlhelp="/modulistica/moduli/M55500-MSEC14-RIDUZIONE-PROCEDIMENTO"
verifica_pagamento="NO"
versione="1.0|01/01/2015"/>

<meta codice_allegato="GEN-DOCUMENTAZIONE-FOTOGRAFICA"
urn_allegato="document:c_l378:allegato.documentazione.fotografica.area.intervento"
descrizione_estesa="Allegato - Documentazione fotografica insediamento storico"
filename="Docu_fotografica_insediamento_storico.jpeg,Docu_fotografica_insediamento_storico.pdf"
firmato="SI"
firmatari="Referente_CodiceFiscale"
firmatari_label="Progettista incaricato"
istruzioni="/modulistica/moduli/GEN-DOCUMENTAZIONE-FOTOGRAFICA"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf,image/jpeg"/>

<meta codice_allegato="M55500-RELAZIONE-TUTELA-INSEDIAMENTI-STORICI"
urn_allegato="document:c_l378:allegato.relazione.stato.tutela.insediamenti.storici"
descrizione_estesa="Relazione degli interventi previsti per la tutela in insediamenti storici"
filename="Interventi_tutela_insediamenti_storici.pdf"
firmato="SI"
firmatari="Referente_CodiceFiscale"
firmatari_label="Progettista incaricato"
istruzioni="/modulistica/moduli/M55500-RELAZIONE-TUTELA-INSEDIAMENTI-STORICI"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>


{% endblock meta %}


{% block title %}
    Relazione per la riduzione dei termini del procedimento
{% endblock title %}

{% block content %}

{{ intestazioni.intestazione_modulosecondario_senzabollo() }}

<input id="Oggetto" name="Oggetto" dynamic_value="'Modulo secondario - Relazione per la riduzione dei termini del procedimento'" type="hidden"/>

<br>

<div>

  <h1 class="Modulo" style="line-height:1.6;">RELAZIONE per la riduzione dei termini del procedimento</h1>
  <h3 class="Modulo" style="line-height:1.6; font-size: 95%;">(ai sensi dell'art. 82, comma 4 della L.P. n. 15/2015 )</h3>

  <br>

<input id="recapito_obbligatorio" name="recapito_obbligatorio" dynamic_check="true" type="hidden" />
<input id="pec_tecnico_obbligatoria" name="pec_tecnico_obbligatoria" dynamic_check="true" type="hidden" />
{{anagrafica_trento_uniformata.professionista_dirlav("Referente","Il Sottoscritto", "visibility:visibility", "cursor:pointer", "visibility:visibility")}} 


  <br>
  <br>


  <table class="Modulo" style="border: 1px solid grey">
    <tbody>
      <tr>
        <td>
          <p style="line-height:1.8;"><b>progettista</b>, in qualità di <b>tecnico asseverante</b> preso atto di assumere la qualità di persona esercente un servizio di
pubblica necessità ai sensi degli artt. 359 e 481 cp, consapevole che le dichiarazioni false, le falsità negli atti e l'uso di
atti falsi comportano l'applicazione delle sanzioni penali previste dagli art. 75 e 76 del d.p.r. 445/2000, sotto la propria
responsabilità

        </td>
      </tr>
    </tbody>
  </table>

<h1 class="Modulo" style="line-height:1.4;">DICHIARA</h1>


<table class="Modulo simpatico-block simpatico-query-and-answer" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td>
          <ul>
            <li style="line-height:1.6;">a) che le opere da realizzare come individuate negli elaborati progettuali, sono conformi agli strumenti urbanistici
ed ai regolamenti edilizi vigenti e non sono in contrasto con quelli adottati;</li>
            <li style="line-height:1.6;">b) che le opere rispettano le norme di sicurezza e igienico - sanitarie;</li>
            <li style="line-height:1.6;">c) nel caso di interventi riguardanti edifici soggetti alla disciplina degli insediamenti storici previsti dall'art. 103 della
L.P. n. 15/2015 o del patrimonio edilizio tradizionale montano, di cui all'art. 104 della L.P. n. 15/2015, lo stato
esistente e l'eventuale presenza di elementi decorativi, quali affreschi, portali e altri elementi decorativi
significativi, mediante la presentazione di idonea documentazione fotografica con l'indicazione degli
interventi previsti per la tutela e la valorizzazione dei predetti elementi.</li>
          </ul>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>
<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="vertical-align: top; padding-top: 0.4rem; text-align: center; width: 4%;" rowspan="3">
        <input id="Parametri_Insediamento_Storico" name="Parametri_Insediamento_Storico" type="checkbox" enabled="true" value="1" />
      </td>
      <td colspan="2">
        <p><b>Essere nel caso di interventi riguardanti edifici soggetti alla disciplina degli insediamenti storici previsti dall'art. 103 della
L.P. n. 15/2015 o del patrimonio edilizio tradizionale montano, di cui all'art. 104 della L.P. n. 15/2015, <br>ALLEGA:</b>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; padding-top: 0.4rem; text-align: center; width: 4%;">
        <input id="Parametri_Insediamento_Storico_All1" name="Parametri_Insediamento_Storico_All1" type="checkbox" mandatory_enabled="#Parametri_Insediamento_Storico.checked()" value="1" />
      </td>
      <td>
        <p>relazione rappresentative dello stato esistente e l'eventuale presenza di elementi decorativi, quali affreschi,
portali e contorni dei fori in genere in pietra, collegamenti verticali e parapetti particolari e altri elementi decorativi
significativi, con l'indicazione degli interventi previsti per la tutela e la valorizzazione di questi elementi
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; padding-top: 0.4rem; text-align: center; width: 4%;">
        <input id="Parametri_Insediamento_Storico_All2" name="Parametri_Insediamento_Storico_All2" type="checkbox" mandatory_enabled="#Parametri_Insediamento_Storico.checked()" value="1" />
      </td>
      <td>
        <p>idonea documentazione fotografica rappresentativa di quanto sopra
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

</div>

<table class="Modulo" name="Allegati" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="3">
        <p style="text-align: center; line-height: 1.6;"><b>Elenco degli allegati</b></p>
      </td>
    </tr>
    <tr class="Rigaintestazione">
      <td style="width:4%;">
        <p style="line-height: 1.6; font-size: 85%; text-align: center;">Si allega</p>
      </td>
      <td>
        <p style="line-height: 1.6; font-size: 85%; text-align: center;">Titolo allegato</p>
      </td>
      <td style="width:15%;">
        <p style="line-height: 1.6; font-size: 85%; text-align: center;">Indicare il numero di documenti</p>
      </td>
    </tr>
    <tr>
      <td style="width:4%; vertical-align: top; padding-top: 0.4rem; text-align: center;">
        <input id="elab_progetto" name="elab_progetto" type="checkbox" enabled="true" value="OBBLIGATORIO" dynamic_check="#Parametri_Insediamento_Storico_All1.checked()" mandatory_enabled="#Parametri_Insediamento_Storico_All1.checked()" />
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height:1.6;">Relazione rappresentative dello stato esistente e l'eventuale presenza di elementi decorativi, quali affreschi,
portali e contorni dei fori in genere in pietra, collegamenti verticali e parapetti particolari e altri elementi decorativi
significativi, con l'indicazione degli interventi previsti per la tutela e la valorizzazione di questi elementi</p>
      </td>
      <td style="background-color: #eeeeee; vertical-align: top;">
        <p style="line-height: 1.6; text-align: center;"><input id="numero_elab_progetto" name="numero_elab_progetto" style="width: 90%; text-align: center;" mandatory_enabled="#elab_progetto.checked()" min="0" max="100"  type="number"/></p>
        <input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cM55500-RELAZIONE-TUTELA-INSEDIAMENTI-STORICI" name="GLOBO_allegato_cM55500-RELAZIONE-TUTELA-INSEDIAMENTI-STORICI" obbligatorio="#elab_progetto.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value="" numero="#numero_elab_progetto.value()"/>
      </td>
    </tr>
    <tr>
      <td style="width:4%; vertical-align: top; padding-top: 0.4rem; text-align: center;">
        <input id="doc_foto" name="doc_foto" type="checkbox" dynamic_check="#Parametri_Insediamento_Storico_All2.checked()" mandatory_enabled="#Parametri_Insediamento_Storico_All2.checked()" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height:1.6;">Documentazione fotografica rappresentativa</p>
      </td>
      <td style="background-color: #eeeeee; vertical-align: center;">
        <p style="line-height: 1.6; text-align: center;"><input id="numero_planim" name="numero_planim" style="width: 90%; text-align: center;" mandatory_enabled="#doc_foto.checked()" min="1" max="100"  type="number"/></p>
        <input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cGEN-DOCUMENTAZIONE-FOTOGRAFICA" name="GLOBO_allegato_cGEN-DOCUMENTAZIONE-FOTOGRAFICA" obbligatorio="#doc_foto.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value="" numero="#numero_planim.value()"/>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>


<table class="Modulo" name="Luogo_e_data" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="width: 15%; text-align: center;">
        <input class="" id="Luogo_PDF" name="Luogo_PDF" style="width:90%; text-align: center;" type="text"/>
      </td>
      <td style="width: 15%; text-align: center;">
        <input class="" id="Data_PDF" name="Data_PDF" style="width:90%; text-align: center;" type="text"/>
      </td>
      <td style="width: 35%; text-align: center;">
        <p style="line-height:1.8;">
          <input class="" id="firmat_prog" name="firmat_prog" dynamic_value="#Referente_TitoloPersona.value() + ' ' + #Referente_Nome.value() + ' ' + #Referente_Cognome.value()" style="width:99%; text-align: center;"/>
        </p>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td>
        <p class="Labelcella" style="text-align: center">Luogo</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Data</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center; line-height: 1.6;">Il progettista/tecnico incaricato delegato<br><span style="font-size:95%"><i>(firma digitale)</i></span></p>
      </td>
    </tr>
  </tbody>
</table>

<br>

<p class="Modulo">
  <input id="SalvaModulo" name="SalvaModulo" style="height:30px;width:120px;" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza." type="submit" value="Salva modulo" />
</p>

<input id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value=""/>
<input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden"/>
<input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden"/>
<input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}"/>



{% endblock content %}
