{% set CodiceModulo =  "M1876-ISCRIZIONE-NIDO" %}
{% set Urn =  "document:c_l378:asilo.nido;iscrivere.al.nido;iscrizione;modulo.iscrizione" %}
<!--{% set modulo_workflow_model =  "https://sportello.comune.trento.it/modulistica/moduli/M1876-ISCRIZIONE-NIDO_vSTU3" %}-->
{% extends "base_trento_new.html" %}

{% block meta %}

<meta campi_firma="AventeTitolo_CodiceFiscale"
campi_firma_label="il dichiarante"
classi_modulo="Tributi"
codice_modulo="{{ CodiceModulo }}"
urn="{{ Urn }}"
sub_urn_list=""
uo_globo_list=""
contesto_procedurale="Iscrizione al nido d'infanzia"
descrizione="Iscrizione al nido d'infanzia"
destinatario_amministrazione=""
destinatario_ufficio="EBPGCM"
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="NO"
firmare="NO"
istruzioni_compilazione=""
istruzioni_invio="mail_pec"
metodo_invio="mail"
name="GLOBO_modulo"
procura="NO,,"
segnatura="AventeTitolo"
tipo_modulo="principale"
urlhelp="DomandeRisposte/FAQ"
verifica_pagamento="NO"
versione="1.0|06/04/2016" />

<meta codice_report="CSP_SESSION_REPORT"
generate_on="sending"
name="GLOBO_report"
urn_report="report:CSP_SESSION_REPORT"
/>

{% endblock meta %}

<!--{% block simpaticoconfig %}
  {% set simpaticoEservice="2" %}
  {% set simpaticoEserviceName="M1876 ISCRIZIONE NIDO" %}
  {% set simpaticoEserviceURL="https://sportello.comune.trento.it/modulistica/moduli/M1876-ISCRIZIONE-NIDO" %}
  {% set simpaticoForm="main" %}
  {% set simpaticoCategory="Infanzia" %}
  {% set simpaticoMapping=["AventeTitolo_Cognome",
                           "AventeTitolo_Nome",
                           "AventeTitolo_CodiceFiscale",
                           "AventeTitolo_DataNascita",
                           "AventeTitolo_EMailPEC",
                           "AventeTitolo_Sesso",
                           "AventeTitolo_ProvinciaResidenza",
                           "AventeTitolo_ComuneResidenza",
                           "AventeTitolo_ViaResidenza",
                           "AventeTitolo_CivicoResidenza",
                           "AventeTitolo_CAPResidenza",
                           "AventeTitolo_Telefono",
                           "AventeTitolo_Fax",
                           "AventeTitolo_Nazionalita",
                           "AventeTitolo_EMail",
                           "AventeTitolo_EnteProvv",
                           "AventeTitolo_NumProt",
                           "AventeTitolo_LuogoNascita",
                           "AventeTitolo_Data",
                           "Parametri_TipoLavoroPadre",
                           "Parametri_AziendaLavoroPadre",
                           "Parametri_IndirizzoAziendaLavoroPadre",
                           "Parametri_CivicoAziendaLavoroPadre",
                           "Parametri_CapAziendaLavoroPadre",
                           "Parametri_TelAziendaLavoroPadre",
                           "Parametri_EmailAziendaLavoroPadre",
                           "Parametri_AgenziaEntratePadre",
                           "Parametri_PIVAPadre",
                           "Parametri_ScuolaPadre",
                           "Parametri_TipoLavoroMadre",
                           "Parametri_AziendaLavoroMadre",
                           "Parametri_IndirizzoAziendaLavoroMadre",
                           "Parametri_CivicoAziendaLavoroMadre",
                           "Parametri_CapAziendaLavoroMadre",
                           "Parametri_TelAziendaLavoroMadre",
                           "Parametri_EmailAziendaLavoroMadre",
                           "Parametri_AgenziaEntrateMadre",
                           "Parametri_PIVAMadre",
                           "Parametri_ScuolaMadre"] %}
  
  {% set ERROR_LABELS=[   ('block1', 'Inserire il codice fiscale'),
                          ('block2', 'Ruolo non specificato'),
                          ('block3', 'Seleziona una delle opzioni'),
                          ('block5', 'IMPOSSIBILE CONTINUARE LA COMPILAZIONE'),
                          ('block9', 'Seleziona se avvalersi dell\'attestazione ICEF o meno'),
                          ('block11', 'Seleziona Part-time / Full-time'),
                          ('block26', 'Seleziona una delle opzioni'),
                          ('block32', 'Seleziona una delle opzioni'),
                          ('block37', 'Confermare presa visione dell’informativa')] %}
  {{ utilsSimpatico.ScriptSimpatico(simpaticoEservice, simpaticoEserviceName, simpaticoEserviceURL, simpaticoForm, simpaticoCategory, simpaticoMapping, ERROR_LABELS ) }}
{% endblock simpaticoconfig %}-->

{% block title %}
M1876-ISCRIZIONE-NIDO
{% endblock title %}


{% macro anagrafica_bambino( prefix='AventeTitolo', intestazione="Il sottoscritto", visibility_carica_dati="visibility:visibility", pointer_carica_dati="cursor:pointer", visibility_intestazione="visibility:visibility", visibility_residenza="visibility:visibility", visibility_mail="no_mail", carica_campi="", cf_obbligatorio="true", format_telefono_numerico="false", pec_obbligatoria ="false"  ) -%}
{% do all_prefix.append( prefix ) %}

<div type="Anagrafica_bambino">

  <input type="hidden" name="TipoContesto" id="TipoContesto" value="GLOBO">
  <input type="hidden" name="TipoLista" id="TipoLista" value="PGLOBO">

  <table class="Modulo" style="border:1px solid grey; {{ visibility_intestazione }}">
    <tbody>
      <tr class="Rigaintestazione">
        <td style="border-right:0px">
          <p class="Labeltabella"  style="vertical-align:middle">{{ intestazione|safe }}
          </p>
        </td>
        <td style="width:38%; border-left:0px; border-right:0px">
          <p class="Labeltabella">{{ carica_campi|safe }}</p>
        </td>
        <td style="width:3%; {{ pointer_carica_dati }}; border-left:0px; border-right:0px">
          <span style="pd4ml-visibility: hidden; pd4ml-display: none;">
            {{ service.getFiglioREST('Parametri_CFBambino','TipoContesto', 'TipoLista', {
              prefix + '_DataNascita':  'datanascita',
              prefix + '_Nome':  'nome',
              prefix + '_Cognome':  'cognome',
              prefix + '_Sesso':  'sesso',
              prefix + '_Nazionalita':  'nazione',
              prefix + '_Cittadinanza':  'nazionalita',
              prefix + '_CFBambino':  'codiceFiscale',
              prefix + '_CodiceFamiglia':  'codiceFamiglia',
              prefix + '_CodiceVia':  'codiceVia',
              prefix + '_ProvinciaResidenza' : 'provincia',
              prefix + '_ComuneResidenza' : 'citta',
              prefix + '_ViaResidenza' : 'indirizzo',
              prefix + '_CivicoResidenza' : 'numeroCivico',
              prefix + '_BarraResidenza' : 'barra',
              prefix + '_CAPResidenza' : 'cap',
              prefix + '_Nazione' : 'nazione',
              prefix + '_LuogoNascita' : 'comuneNascita',
              prefix + '_CodiceComuneNascita' : 'codiceComuneNascita',
              prefix + '_MatricolaAnagrafe' : 'matricola',
              prefix + '_Paternita' : 'padre',
              prefix + '_Maternita' : 'madre',
            },
            '#Parametri_CFBambino:change', '#Tassonomia_ListaFam1_allowEdit' ) }}

            {{ service.getPersonaREST('Tassonomia_ListaFam1','TipoContesto', 'TipoLista', {
              prefix + '_DataNascita':  'datanascita',
              prefix + '_Nome':  'nome',
              prefix + '_Cognome':  'cognome',
              prefix + '_Sesso':  'sesso',
              prefix + '_Nazionalita':  'nazione',
              prefix + '_Cittadinanza':  'nazionalita',
              prefix + '_CFBambino':  'codiceFiscale',
              prefix + '_CodiceFamiglia':  'codiceFamiglia',
              prefix + '_CodiceVia':  'codiceVia',
              prefix + '_ProvinciaResidenza' : 'provincia',
              prefix + '_ComuneResidenza' : 'citta',
              prefix + '_ViaResidenza' : 'indirizzo',
              prefix + '_CivicoResidenza' : 'numeroCivico',
              prefix + '_BarraResidenza' : 'barra',
              prefix + '_CAPResidenza' : 'cap',
              prefix + '_Nazione' : 'nazione',
              prefix + '_LuogoNascita' : 'comuneNascita',
              prefix + '_CodiceComuneNascita' : 'codiceComuneNascita',
              prefix + '_MatricolaAnagrafe' : 'matricola',
              prefix + '_Paternita' : 'padre',
              prefix + '_Maternita' : 'madre',
            },
            '#Tassonomia_ListaFam1:change', '#Tassonomia_ListaFam1_allowEdit' ) }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  <input dynamic_value="#Tassonomia_CF.check_value(['3']) ? 'true' : 'false' " name="Tassonomia_ListaFam1_allowEdit" id="Tassonomia_ListaFam1_allowEdit" />

  <table class="Modulo" style="border:1px solid grey; margin-top:-1px" mandatory="#{{ prefix }}_DatiPersonaObbligatori.checked()">
    <tbody>
      <tr class="Rigaintestazioneridotta">
        <td colspan="2">
          <p class="Labelcella">Cognome</p>
        </td>
        <td colspan="2">
          <p class="Labelcella">Nome</p>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input class="" id="{{ prefix }}_Cognome" name="{{ prefix }}_Cognome" style="width:100%" label="Cognome"/>
        </td>
        <td colspan="2">
          <input class="" id="{{ prefix }}_Nome" name="{{ prefix }}_Nome" style="width:100%" label="Nome"/>
        </td>
      </tr>
      <tr class="Rigaintestazioneridotta">
        <td style="width:24%;">
          <p class="Labelcella">Data di nascita</p>
        </td>
        <td style="width:9%;">
          <p class="Labelcella">Sesso (M/F)</p>
        </td>
        <td style="width: 33%;">
          <p class="Labelcella">Cittadinanza</p>
        </td>
        <td style="width: 34%;">
          <p class="Labelcella">Luogo di nascita</p>
        </td>
      </tr>
      <tr>
        <td>
          <input class="" id="{{ prefix }}_DataNascita" name="{{ prefix }}_DataNascita" style="width:100%;" format="date" label="Data di nascita"/>
        </td>
        <td>
          <select class="inputNormal" id="{{ prefix }}_Sesso" name="{{ prefix }}_Sesso" style="width:100%;" label="Sesso">
            <option value=""></option>
            <option value="M">M</option>
            <option value="F">F</option>
          </select>
        </td>
        <td>
          {{ utils.cittadinanza( prefix + '_Cittadinanza', 'Cittadinanza' )}}
        </td>
        <td>
          <input class="" id="{{ prefix }}_LuogoNascita" name="{{ prefix }}_LuogoNascita" style="width:100%;" label="Luogo di nascita" />
        </td>
      </tr>
    </tbody>
  </table>

  <table class="Modulo" style="border:1px solid grey; margin-top:-1px">
    <tbody>
      <tr class="Rigaintestazioneridotta">
        <td colspan="6">
          <p class="Labelcella">Residenza</p>
        </td>
      </tr>
      <tr class="Rigaintestazioneridotta">
        <td style="width:9%;">
          <p class="Labelcella">Provincia</p>
        </td>
        <td style="width:33%;">
          <p class="Labelcella">Comune</p>
        </td>
        <td style="width:33%;">
          <p class="Labelcella">Indirizzo</p>
        </td>
        <td style="width:9%;">
          <p class="Labelcella">Civico</p>
        </td>
        <td style="width:9%;">
          <p class="Labelcella">Barra</p>
        </td>
        <td style="width:16%;">
          <p class="Labelcella">CAP</p>
        </td>
      </tr>
      <tr>
        <td>
          {{ utils.provincie( prefix + '_ProvinciaResidenza', label="Provincia di residenza") }}
        </td>
        <td>
          <input class="inputNormal" id="{{ prefix }}_ComuneResidenza" name="{{ prefix }}_ComuneResidenza"  mandatory="#{{ prefix }}_DatiPersonaObbligatori.checked()" style="width:100%" label="Comune di residenza"/>
        </td>
        <td>
          <input class="" id="{{ prefix }}_ViaResidenza" name="{{ prefix }}_ViaResidenza"  mandatory="#{{ prefix }}_DatiPersonaObbligatori.checked()" style="width:100%;" label="Via di residenza" maxlength="40"/>
        </td>
        <td>
          <input class="" id="{{ prefix }}_CivicoResidenza" name="{{ prefix }}_CivicoResidenza"  mandatory="#{{ prefix }}_DatiPersonaObbligatori.checked()" format="number" style="width:100%;" label="Civico di residenza" maxlength="10"/>
        </td>
        <td>
          <input class="" id="{{ prefix }}_BarraResidenza" name="{{ prefix }}_BarraResidenza" style="width:100%;" label="Barra di residenza" maxlength="3"/>
        </td>
        <td>
          <input class="" id="{{ prefix }}_CAPResidenza" name="{{ prefix }}_CAPResidenza"  mandatory="#{{ prefix }}_DatiPersonaObbligatori.checked()" style="width:100%;" format="cap" label="CAP di residenza" />
        </td>
      </tr>
    </tbody>
  </table>

  <input id="{{ prefix }}_DatiPersonaObbligatori" name="{{ prefix }}_DatiPersonaObbligatori" dynamic_check="true" type="hidden" />
  <input id="{{ prefix }}_CodiceFamiglia" name="{{ prefix }}_CodiceFamiglia" type="hidden"/>
  <input id="{{ prefix }}_CodiceVia" name="{{ prefix }}_CodiceVia" type="hidden"/>
  <input id="{{ prefix }}_CFBambino" name="{{ prefix }}_CFBambino" type="hidden"/>
  <input id="{{ prefix }}_MatricolaAnagrafe" name="{{ prefix }}_MatricolaAnagrafe" type="hidden"/>
  <input id="{{ prefix }}_Nazionalita" name="{{ prefix }}_Nazionalita" type="hidden"/>
  <input id="{{ prefix }}_Nazione" name="{{ prefix }}_Nazione" type="hidden"/>
  <input id="{{ prefix }}_CodiceComuneNascita" name="{{ prefix }}_CodiceComuneNascita" type="hidden"/>
  <input id="{{ prefix }}_Paternita" name="{{ prefix }}_Paternita" type="hidden"/>
  <input id="{{ prefix }}_Maternita" name="{{ prefix }}_Maternita" type="hidden"/>
</div>
{%- endmacro %}


{% block content %}

<input dynamic_value="#Ente.value()" id="Parametri_Comune" name="Parametri_Comune" type="hidden" />
<input dynamic_value="'Iscrizione nido del bambino ' + #Bambino_CFBambino.value().toUpperCase()" id="Oggetto" name="Oggetto" type="hidden"/>

{{ intestazioni.intestazione_moduloprincipale_senzabollo() }}

<h2 class="Modulo">
  Richiesta di iscrizione al nido d'infanzia anno educativo 2019/2020
</h2>
<p class="Modulo simpatico-text-paragraph">
  Ai sensi del regolamento per la disciplina del sistema dei servizi socio educativi per la prima infanzia approvato con deliberazione del Consiglio comunale 28/06/2007, n.70 e s.m. e dei <i>"Criteri e modalità di presentazione delle domande, formazione delle graduatorie, assegnazione e accettazione del posto nei nidi d’infanzia comunali"</i>, deliberazione della Giunta comunale 28/08/2018 n. 154
</p>

<br>

{% macro persona_fisicaTrento( prefix='AventeTitolo', intestazione="Il sottoscritto", visibility_carica_dati="visibility:visibility", pointer_carica_dati="cursor:pointer", visibility_intestazione="visibility:visibility", visibility_residenza="visibility:visibility", visibility_mail="no_mail", carica_campi="", cf_obbligatorio="true", format_telefono_numerico="false", pec_obbligatoria ="false"  ) -%}
{% do all_prefix.append( prefix ) %}

<div type="Anagrafica_persona_fisica">

  <!-- simpatico start -->
  <div class="simpatico-block simpatico-query-and-answer">
  <!-- simpatico end -->

    <table class="Modulo" style="border:1px solid grey; {{ visibility_intestazione }}">
      <tbody>
        <tr class="Rigaintestazione">
          <td style="border-right:0px">
            <p class="Labeltabella"  style="vertical-align:middle">{{ intestazione|safe }}
  					</p>
          </td>
  				<td style="width:20%; border-left:0px; border-right:0px">
            <p class="Labeltabella">{{ carica_campi|safe }}</p>
          </td>
  				<td style="width:30%; {{ pointer_carica_dati }}; border-left:0px; border-right:0px">
  					<span style="pd4ml-visibility: hidden; pd4ml-display: none;">
  						{{ utils.recupero_dati( prefix, visibility_carica_dati ) }}
  					</span>
          </td>
        </tr>
      </tbody>

      {{ service.getPersonaREST( 'AventeTitolo_CodiceFiscale','TipoContesto', 'TipoLista',  {
        'AventeTitolo_DataNascita':  'datanascita',
        'AventeTitolo_Nome':  'nome',
        'AventeTitolo_Cognome':  'cognome',
        'AventeTitolo_Sesso':  'sesso',
        'AventeTitolo_Nazionalita':  'stato',
        'AventeTitolo_Cittadinanza':  'nazionalita',
        'AventeTitolo_CodiceFamiglia':  'codiceFamiglia',
        'AventeTitolo_CodiceVia':  'codiceVia',
        'AventeTitolo_ProvinciaResidenza' : 'provincia',
        'AventeTitolo_ComuneResidenza' : 'citta',
        'AventeTitolo_ViaResidenza' : 'indirizzo',
        'AventeTitolo_CivicoResidenza' : 'numeroCivico',
        'AventeTitolo_BarraResidenza' : 'barra',
        'AventeTitolo_CAPResidenza' : 'cap',
        'AventeTitolo_Nazione' : 'nazione',
        'AventeTitolo_LuogoNascita' : 'comuneNascita',
        'AventeTitolo_CodiceComuneNascita' : 'codiceComuneNascita',
        'AventeTitolo_MatricolaAnagrafe' : 'matricola',
      },
      '#AventeTitolo_CodiceFiscale:change','true') }}
    </table>

    <table class="Modulo" style="border:1px solid grey; margin-top:-1px" mandatory_enabled="#{{ prefix }}_DatiPersonaObbligatori.checked()">
      <tbody>
        <tr class="Rigaintestazioneridotta">
          <td colspan="2">
            <p class="Labelcella">Cognome</p>
          </td>
          <td>
            <p class="Labelcella">Nome</p>
          </td>
          <td>
            <p class="Labelcella">Codice Fiscale</p>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input class="" id="{{ prefix }}_Cognome" name="{{ prefix }}_Cognome" style="width:100%" label="Cognome"/>
          </td>
          <td>
            <input class="" id="{{ prefix }}_Nome" name="{{ prefix }}_Nome" style="width:100%" label="Nome"/>
          </td>
          {% if cf_obbligatorio == 'true' %}
          <td>
            <input class="" id="{{ prefix }}_CodiceFiscale" name="{{ prefix }}_CodiceFiscale" style="width:100%" format="cf" label="Il codice fiscale"/>
          </td>
          {% endif %}
  				{% if cf_obbligatorio == 'false' %}
          <td>
            <input class="" id="{{ prefix }}_CodiceFiscale" name="{{ prefix }}_CodiceFiscale" style="width:100%" format="cf" label="Il codice fiscale" mandatory="!#{{ prefix }}_ProvinciaResidenza.check_value(['EE'])"/>
          </td>
  				{% endif %}
        </tr>
        <tr class="Rigaintestazioneridotta">
          <td style="width:24%;">
            <p class="Labelcella">Data di nascita</p>
          </td>
          <td style="width:9%;">
            <p class="Labelcella">Sesso (M/F)</p>
          </td>
          <td style="width: 33%;">
            <p class="Labelcella">Nazionalità</p>
          </td>
          <td style="width: 34%;">
            <p class="Labelcella">Luogo di nascita</p>
          </td>
        </tr>
        <tr>
          <td>
            <input class="" id="{{ prefix }}_DataNascita" name="{{ prefix }}_DataNascita" style="width:100%;" format="date" label="Data di nascita"/>
          </td>
          <td>
            <select class="inputNormal" id="{{ prefix }}_Sesso" name="{{ prefix }}_Sesso" style="width:100%;" label="Sesso">
              <option value=""></option>
              <option value="M">M</option>
              <option value="F">F</option>
            </select>
          </td>
          <td>
            {{ utils.stato( prefix + '_Nazionalita', label='Nazionalità')}}
          </td>
          <td>
            <input class="" id="{{ prefix }}_LuogoNascita" name="{{ prefix }}_LuogoNascita" style="width:100%;" label="Luogo di nascita"/>
          </td>
        </tr>
      </tbody>
    </table>
    {% if visibility_residenza == 'visibility:visibility' %}
    <table class="Modulo" style="border:1px solid grey; margin-top:-1px; {{ visibility_residenza }} ">
      <tbody>
        <tr class="Rigaintestazioneridotta">
          <td colspan="6">
            <p class="Labelcella">Residenza</p>
          </td>
        </tr>
        <tr class="Rigaintestazioneridotta">
          <td style="width:9%;">
            <p class="Labelcella">Provincia</p>
          </td>
          <td style="width:33%;">
            <p class="Labelcella">Comune</p>
          </td>
          <td style="width:33%;">
            <p class="Labelcella">Indirizzo</p>
          </td>
          <td style="width:9%;">
            <p class="Labelcella">Civico</p>
          </td>
  				<td style="width:9%;">
            <p class="Labelcella">Barra</p>
          </td>
          <td style="width:16%;">
            <p class="Labelcella">CAP</p>
          </td>
        </tr>
        <tr>
          <td>
            {{ utils.provincie( prefix + '_ProvinciaResidenza', label="Provincia di residenza") }}
          </td>
          <td>
            <input class="" id="{{ prefix }}_ComuneResidenza" name="{{ prefix }}_ComuneResidenza" style="width:100%" label="Comune di residenza" mandatory_enabled="#{{ prefix }}_DatiPersonaObbligatori.checked()"/>
          </td>
          <td>
            <input class="" id="{{ prefix }}_ViaResidenza" name="{{ prefix }}_ViaResidenza" maxlength="40" style="width:100%;" label="Via di residenza" mandatory_enabled="#{{ prefix }}_DatiPersonaObbligatori.checked()"/>
          </td>
          <td>
            <input class="" id="{{ prefix }}_CivicoResidenza" name="{{ prefix }}_CivicoResidenza" style="width:100%;" format="number" label="Civico di residenza" maxlength="10" mandatory_enabled="#{{ prefix }}_DatiPersonaObbligatori.checked()"/>
          </td>
  				<td>
            <input class="" id="{{ prefix }}_BarraResidenza" name="{{ prefix }}_BarraResidenza" style="width:100%;" label="Barra di residenza" maxlength="3"/>
          </td>
          <td>
            <input class="" id="{{ prefix }}_CAPResidenza" name="{{ prefix }}_CAPResidenza" style="width:100%;" format="cap" label="CAP di residenza" enabled="#{{ prefix }}_CodiceFiscale.value() != '' and #{{ prefix }}_ProvinciaResidenza.value() != 'EE'" mandatory="#{{ prefix }}_DatiPersonaObbligatori.checked() and #{{ prefix }}_ProvinciaResidenza.value() != 'EE'"/>
          </td>
        </tr>
      </tbody>
    </table>
    {% endif %}
    {% if visibility_mail == 'mail_ordinaria' %}
  	<table class="Modulo" style="border:1px solid grey; margin-top:-1px;" mandatory_enabled="#{{ prefix }}_DatiPersonaObbligatori.checked()">
  		<tbody>
  			<tr class="Rigaintestazioneridotta">
  				<td style="width:16.5%;">
  					<p class="Labelcella">
  						Numero cellulare
  					</p>
  				</td>
  				<td style="width:16.5%;">
  					<p class="Labelcella">
  						Fax
  					</p>
  				</td>
  				<td style="width:33%;">
  					<p class="Labelcella">
  						E-mail
  							<i>
  								(posta elettronica ordinaria)
  							</i>
  					</p>
  				</td>
  				<td>
  					<p class="Labelcella">
  						E-mail PEC
  							<i>
  							(domicilio digitale)
  							</i>
  					</p>
  				</td>
  			</tr>
  			<tr>
  				{% if format_telefono_numerico == 'false'%}
  				<td>
  					<input class="inputNormal" id="{{ prefix }}_Telefono" label="Telefono" name="{{ prefix }}_Telefono" style="width:100%" maxlength="13"/>
  				</td>
  				{% endif %}
  				{% if format_telefono_numerico == 'true'%}
  				<td>
  					<input class="inputNormal" id="{{ prefix }}_Telefono" label="Telefono" name="{{ prefix }}_Telefono" style="width:100%" format="number" maxlength="13"/>
  				</td>
  				{% endif %}
  				<td>
  					<input class="inputNormal" id="{{ prefix }}_Fax" label="Fax" mandatory="false" name="{{ prefix }}_Fax" style="width:100%" maxlength="13"/>
  				</td>
  				<td>
  					<input class="inputNormal" format="email" id="{{ prefix }}_EMail" label="E-mail ordinaria" mandatory="true" name="{{ prefix }}_EMail" style="width:100%;" maxlength="60"/>
  				</td>
  				<td>
  				{% if pec_obbligatoria == 'true'%}
  					<input class="inputNormal" format="pec" id="{{ prefix }}_EMailPEC" label="E-mail PEC del {{ Solo1 }}" name="{{ prefix }}_EMailPEC" style="width:100%;" mandatory="true" maxlength="60"/>
  				{% endif %}
  				{% if pec_obbligatoria == 'false'%}
  					<input class="inputNormal" format="pec" id="{{ prefix }}_EMailPEC" label="E-mail PEC del {{ Solo1 }}" name="{{ prefix }}_EMailPEC" style="width:100%;" mandatory="false" maxlength="60"/>
  				{% endif %}
  				</td>
  			</tr>
  		</tbody>
    </table>
    {% endif %}
  	{% if visibility_mail == 'mail_pec'%}
  	<table class="Modulo" style="border:1px solid grey; margin-top:-1px;">
  		<tbody>
  			<tr class="Rigaintestazioneridotta">
  				<td style="width:21%;">
  					<p class="Labelcella">
  						Telefono
  					</p>
  				</td>
  				<td style="width:21%;">
  					<p class="Labelcella">
  						Fax
  					</p>
  				</td>
  				<td>
  					<p class="Labelcella">
  						E-mail PEC
  							<i>
  								(domicilio digitale)
  							</i>
  					</p>
  				</td>
  			</tr>
  			<tr>
  				<td>
  					<input class="inputNormal" id="{{ prefix }}_Telefono" label="Telefono" name="{{ prefix }}_Telefono" style="width:100%" mandatory_enabled="#{{ prefix }}_DatiPersonaObbligatori.checked()"/>
  				</td>
  				<td>
  					<input class="inputNormal" id="{{ prefix }}_Fax" label="Fax" enabled="#{{ prefix }}_DatiPersonaObbligatori.checked()" name="{{ prefix }}_Fax" style="width:100%"/>
  				</td>
  				<td>
  					<input class="inputNormal" format="pec" id="{{ prefix }}_EMailPEC" label="E-mail PEC del dichiarante" name="{{ prefix }}_EMailPEC" style="width:100%;" mandatory_enabled="#{{ prefix }}_DatiPersonaObbligatori.checked()" maxlength="60"/>
  				</td>
  			</tr>
  		</tbody>
  	</table>
    {% endif %}

  <!-- simpatico start -->
  </div>
  <!--  simpatico end -->

</div>

<input id="AventeTitolo_DatiPersonaObbligatori" name="AventeTitolo_DatiPersonaObbligatori" dynamic_check="true" type="hidden" />
<input id="AventeTitolo_Titolo" name="AventeTitolo_Titolo" type="hidden" value="" />
<input id="AventeTitolo_Ruolo" name="AventeTitolo_Ruolo" type="hidden" value="" />
<input type="hidden" id="AventeTitolo_CodiceFamiglia" name="AventeTitolo_CodiceFamiglia"/>
<input type="hidden" id="AventeTitolo_CodiceVia" name="AventeTitolo_CodiceVia"/>
<input type="hidden" id="AventeTitolo_MatricolaAnagrafe" name="AventeTitolo_MatricolaAnagrafe"/>
<input type="hidden" id="AventeTitolo_Nazione" name="AventeTitolo_Nazione"/>
<input type="hidden" id="AventeTitolo_CodiceComuneNascita" name="AventeTitolo_CodiceComuneNascita"/>
{%- endmacro %}

{{ persona_fisicaTrento( "AventeTitolo", "ll sottoscritto genitore", "visibility:visibility", "cursor:pointer", "visibility:visibility", "visibility:visibility", "mail_ordinaria") }}

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione" >
      <td colspan="3">
        <b>in qualità di</b>
      </td>
      <tr>
        <td colspan="3">
          <input class="inputNormal" id="AventeTitolo_RuoloRichiedente" name="AventeTitolo_RuoloRichiedente" style="width:100%;" dynamic_value="#AventeTitolo_Sesso.check_value(['M']) ? 'padre' : 'madre'" enabled="#AventeTitolo_Sesso.value() != ''" label="Ruolo del genitore/affidatario" readonly />
        </td>
      </tr>
  </tbody>
</table>

<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazioneridotta">
      <td colspan="3">
        <p>
          <b>
            del bambino/a
          </b>
        </p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="Tassonomia_CF" name="Tassonomia_CF" label="Codice fiscale bambino"> </div>
          <input id="Tassonomia_CF1" name="Tassonomia_CF" type="radio" value="1" enabled="true"/>
      </td>
      <td style="width:60%;">
        <p><b>appartenente</b> al mio nucleo familiare</p>
      </td>
      <td style="width:36%;">
        {{ service.getListaFamigliaREST(
          'AventeTitolo_CodiceFamiglia',
          'Tassonomia_ListaFam1',
          '#AventeTitolo_CodiceFamiglia:change'
        )}}
        <select
          enabled="#Tassonomia_CF1.checked()"
          class="inputNormal"
          id="Tassonomia_ListaFam1"
          name="Tassonomia_ListaFam1"
          style="width:100%;"
          label="Scelta da lista familiari">
        </select>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input id="Tassonomia_CF2" name="Tassonomia_CF" type="radio" value="2"/>
      </td>
      <td style="width:60%;">
        <p><b>NON appartenente</b> al mio nucleo familiare e avente codice fiscale:</p>
      </td>
      <td style="width:36%;">
        <input class="inputNormal" id="Parametri_CFBambino" name="Parametri_CFBambino" format="cf" label="Codice fiscale del bambino" mandatory_enabled="#Tassonomia_CF2.checked()" style="width:100%;">
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input id="Tassonomia_CF3" name="Tassonomia_CF" type="radio" value="3" enabled="true"/>
      </td>
      <td colspan="2">
        <p>non ancora in possesso di codice fiscale perchè in corso di iscrizione all'anagrafe</p>
      </td>
    </tr>
  </tbody>
</table>

<br>

<!-- simpatico add start -->
<div class="simpatico-block simpatico-query-and-answer">
  <!-- simpatico add end -->
    {{ anagrafica_bambino('Bambino', 'Anagrafica del/la bambino/a') }}
    <input name="SvCodiceFamiglia" id="SvCodiceFamiglia" type="hidden" dynamic_value="(#Tassonomia_CF3.checked() ? #AventeTitolo_CodiceFamiglia.value() : 0) || ((#Tassonomia_CF1.checked() || #Tassonomia_CF2.checked()) ? #Bambino_CodiceFamiglia.value() : 0)" >
    <input name="SvCodiceVia" id="SvCodiceVia" type="hidden" dynamic_value="(#Tassonomia_CF3.checked() ? #AventeTitolo_CodiceVia.value() : 0) || ((#Tassonomia_CF1.checked() || #Tassonomia_CF2.checked()) ? #Bambino_CodiceVia.value() : 0 )" >
    <input name="SvCivicoResidenza" id="SvCivicoResidenza" type="hidden" dynamic_value="(#Tassonomia_CF3.checked() ? #AventeTitolo_CivicoResidenza.value() : 0) || ((#Tassonomia_CF1.checked() || #Tassonomia_CF2.checked()) ? #Bambino_CivicoResidenza.value() : 0 )" format="number">
    <input id="SvBambino_Paternita" name="SvBambino_Paternita" dynamic_value="#Bambino_Cognome.value() + ',' + #Bambino_Paternita.value()" type="hidden"/>
    <input id="SvBambino_Maternita" name="SvBambino_Maternita" dynamic_value="#Bambino_Maternita.value()" type="hidden"/>
    <input name="SvCFBambino" id="SvCFBambino" type="hidden" dynamic_value="(#Tassonomia_CF3.checked() ? #AventeTitolo_CodiceFiscale.value() : 0) || ((#Tassonomia_CF1.checked() || #Tassonomia_CF2.checked()) ? #Bambino_CFBambino.value() : 0)" >
   
    <input id="check_CFBambino" name="check_CFBambino" type="hidden" label="ATTENZIONE! Il codice fiscale del bambino non risulta essere stato ancora convalidato dall'Agenzia delle Entrate" dynamic_value="!#Tassonomia_CF3.checked() and #Bambino_CFBambino.value() == '' ? '' : 'OK'" mandatory="true"/>
  
  
    <!-- simpatico add start -->
  </div>
    <!-- simpatico add end -->
  
  <br>
  


<p class="Modulo">
  <input id="SalvaModulo" name="SalvaModulo" style="height:30px;width:120px;" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza." type="submit" value="Salva modulo"/>
</p>

<input destinatario_amministrazione="getParameter('Ente')" id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value=""/>

<input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden"/>
<input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden"/>
<input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}"/>

{% endblock content %}