{% set CodiceModulo =  "GEN-DELEGA-EDILIZIA-AU" %}
{% set Urn =  "document:c_l378:modulo.secondario.delega.edilizia.au" %}
{% extends "base_trento_new.html" %}

{% block meta %}
<meta campi_firma="Referente_CodiceFiscale"
classi_modulo="Generale"
codice_modulo="{{ CodiceModulo }}"
urn="{{ Urn }}"
descrizione="Modulo secondario - Modello di delega (titolare firma autografa)"
destinatario_amministrazione=""
destinatario_ufficio=""
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="NO"
firmare="NO"
istruzioni_compilazione="ATTENZIONE: questo modulo deve essere compilato con i dati del sottoscrivente."
istruzioni_invio=""
metodo_invio=""
name="GLOBO_modulo"
procura="NO,,"
tipo_modulo="secondario"
ufficio=""
urlhelp="/modulistica/moduli/GEN-DELEGA-EDILIZIA-AU"
verifica_pagamento="NO"
versione="1.1|03/06/2016"/>

<meta codice_allegato="GEN-CDI"
urn_allegato="document:c_l378:allegato.copia.documento.identita"
descrizione_estesa="Documento di identità"
filename="Documento identita.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-CDI"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-COPIA-MODULO-FIRMA-EL"
urn_allegato="document:c_l378:allegato.copia.modulo.firmato.con.firma.elettronica"
descrizione_estesa="Allegato - Scansione della delega firmata e controfirmata con firma autografa da titolare e progettista/tecnico incaricato e poi firmata dal progettista/tecnico incaricato con firma digitale"
filename="Modulo_compilato_firma_elettronica.pdf"
firmato="SI"
firmatari="Referente_CodiceFiscale"
firmatari_label="Il progettista/tecnico incaricato"
istruzioni="/modulistica/moduli/GEN-COPIA-MODULO-FIRMA-EL"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="INFORM-TRATT-DATI-EDILIZIA"
urn_allegato="document:c_l378:allegato.informativa.trattamento.dati.edilizia"
descrizione_estesa="Informativa trattamento dati EDILIZIA"
filename="INFORM-TRATT-DATI-EDILIZIA.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/INFORM-TRATT-DATI-EDILIZIA"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

{% endblock meta %}


{% block title %}
Modello di delega
{% endblock title %}

{% block content %}


{{intestazioni.intestazione_modulosecondario_senzabollo()}}

<h1 class="Modulo">DELEGA AL PROGETTISTA / TECNICO INCARICATO</h1>

<input dynamic_value="#AventeTitolo_Cognome.value().toUpperCase() + ' - Delega'" id="Oggetto" name="Oggetto" type="hidden"/>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border:1px solid grey" mandatory="true">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="3">
        <p style="line-height:1.6;"><b>Il/La sottoscritto/a</b></p>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td style="width:35%;">
        <p class="Labelcella">Cognome</p>
      </td>
      <td style="width:35%;">
        <p class="Labelcella">Nome</p>
      </td>
      <td style="width:30%;">
        <p class="Labelcella">Codice Fiscale</p>
      </td>
    </tr>
    <tr>
      <td>
        <input class="" id="AventeTitolo_Cognome" name="AventeTitolo_Cognome" style="width:100%" label="Cognome del titolare"/>
      </td>
      <td>
        <input class="" id="AventeTitolo_Nome" name="AventeTitolo_Nome" style="width:100%" label="Nome del titolare"/>
      </td>
      <td>
        <input class="" id="AventeTitolo_CodiceFiscale" name="AventeTitolo_CodiceFiscale" style="width:100%" format="cf" label="Il codice fiscale del titolare"/>
      </td>
    </tr>
  </tbody>
</table>

<h3 class="Modulo" style="line-height:1.6;">in qualità di titolare/richiedente</h3>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border:1px solid grey" >
  <h1 class="Modulo">DELEGA</h1>
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="5">
        <p style="line-height:1.6;"><b>Il progettista / tecnico incaricato</b></p>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td colspan="2">
        <p class="Labelcella">Titolo</p>
      </td>
      <td style="width:30%;">
        <p class="Labelcella">Cognome</p>
      </td>
      <td style="width:30%;">
        <p class="Labelcella">Nome</p>
      </td>
      <td style="width:25%;">
        <p class="Labelcella">Codice Fiscale</p>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input class="" id="Referente_TitoloPersona" name="Referente_TitoloPersona" style="width:100%" label="Cognome del progettista" readonly/>
      </td>
      <td>
        <input class="" id="Referente_Cognome" name="Referente_Cognome" style="width:100%" label="Cognome del progettista" readonly/>
      </td>
      <td>
        <input class="" id="Referente_Nome" name="Referente_Nome" style="width:100%" label="Nome del progettista" readonly/>
      </td>
      <td>
        <input class="" id="Referente_CodiceFiscale" name="Referente_CodiceFiscale" style="width:100%" format="cf" label="Il codice fiscale del progettista" readonly/>
      </td>
    </tr>            
    <tr class="Rigaintestazioneridotta"><td colspan="5"></td></tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <div id="delega_operazione" name="delega_operazione" label="Delega operazione" mandatory_enabled="true"> </div>
          <input group="delega_operazione" id="delega_operazione1" name="delega_operazione1" type="checkbox" value="1" dynamic_check="true"/> 
      </td>
      <td colspan="4">
        <p style="line-height:1.6;">alla gestione online della presente pratica edilizia e all'invio telematico della stessa</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <input group="delega_operazione" id="delega_operazione2" name="delega_operazione2" type="checkbox" value="2" dynamic_check="true"/> 
      </td>
      <td colspan="4">
        <p style="line-height:1.6;">alla firma digitale delle dichiarazioni da me rese</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; text-align: center; width: 4%;">
        <input group="delega_operazione" id="delega_operazione3" name="delega_operazione3" type="checkbox" value="3" dynamic_check="true"/> 
      </td>
      <td colspan="4">
        <p style="line-height:1.6;">a ricevere per proprio nome e conto le comunicazioni relative al presente procedimento per il tramite del proprio indirizzo PEC (posta elettronica certificata): <input id="Referente_EMailPEC" name="Referente_EMailPEC" style="width:50%;" readonly/>
          <br><span style="font-size:85%"><i>NB.: la delega riguarda tutte le comunicazioni relative alla fase istruttoria del progetto ai sensi dell'art. 86 della l.p. 15/2015</i></span>
        </p>
      </td>
    </tr>
  </tbody>
</table>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border:1px solid grey" >
  <h1 class="Modulo">DELEGA INOLTRE (FACOLTATIVO)</h1>
  <tbody>
    <tr>
      <td style="vertical-align: top; text-align: center; width: 4%;">
        <div id="elez_dom_spec" name="elez_dom_spec" label="elezione domicilio speciale" enabled="true"> </div>
          <input group="elez_dom_spec" id="elez_dom_spec1" name="elez_dom_spec1" type="checkbox" value="1"/> 
      </td>
      <td>
        <p style="line-height:1.6;">il progettista/tecnico incaricato a ricevere per proprio nome e conto anche tutti gli atti e/o provvedimenti comunque denominati inerenti il procedimento, anche di carattere recettizio, presso l'indirizzo di Posta Elettronica Certificata del tecnico delegato: <input id="Mail_domic_digitale" name="Mail_domic_digitale" format="pec" style="width:50%;" dynamic_value="#Referente_EMailPEC.value()" enabled="#elez_dom_spec1.checked()" readonly/>, <b>eleggendo presso di lui domicilio speciale</b> e <b><u>beneficiando così della riduzione dei diritti di segreteria</u></b> (come apposito provvedimento comunale adottato) 
        </p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" name="Allegati" style="border:1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="3">
        <p style="text-align: center; line-height: 1.6;"><b>Elenco degli allegati</b></p>
      </td>
    </tr>
    <tr class="Rigaintestazione">
      <td style="width:10%;">
        <p style="line-height: 1.6; font-size: 85%; text-align: center;">Si allega</p>
      </td>
      <td>
        <p style="line-height: 1.6; font-size: 85%; text-align: center;">Titolo allegato</p>
      </td>
      <td style="width:20%;">
        <p style="line-height: 1.6; font-size: 85%; text-align: center;">Numero documenti</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width:4%;">
        <input id="GEN_CDI" name="GEN_CDI" type="checkbox" dynamic_check="true" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6;">Copia del documento d'identità del titolare</p>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input id="numero_copia_docident" name="numero_copia_docident" dynamic_value="'1'" style="width: 90%; text-align: center;" readonly/></p>
        <input id="GLOBO_allegato_cGEN-CDI" name="GLOBO_allegato_cGEN-CDI" obbligatorio="#GEN_CDI.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
      </td>
    </tr>
    <tr>
      <td style="width:4%; vertical-align: center; text-align: center;">
        <input id="Modulo_compilato_firmato" name="Modulo_compilato_firmato" type="checkbox" dynamic_check="true" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height:1.6;">Delega firmata dal titolare con firma autografa, controfirmata dal progettista/tecnico incaricato con firma autografa e quindi con firma digitale</p>
        <input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cGEN-COPIA-MODULO-FIRMA-EL" name="GLOBO_allegato_cGEN-COPIA-MODULO-FIRMA-EL" obbligatorio="'OBBLIGATORIO'" type="hidden" value=""/>
      </td>
      <td style="background-color: #eeeeee; vertical-align: center;">
        <p style="line-height: 1.6; text-align: center;"><input id="numero_copia_modulo" name="numero_copia_modulo" dynamic_value="'1'" style="width: 90%; text-align: center;" readonly/></p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" name="Accettazione_Informativa_dati" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <div id="titol_Presa_visione1" name="titol_Presa_visione1" label="Dichiarazione presa visione titolare" mandatory_enabled="true"> </div>
        <input group="titol_Presa_visione1" id="titol_Presa_visione_check1" name="titol_Presa_visione_check1" type="checkbox" value="1" />
      </td>
      <td colspan="2" style="background-color: #eeeeee;">
        <p style="line-height:1.4;"><b>Dichiaro di aver ricevuto e preso visione dell'<a href="https://sportello.comune.trento.it/document/inform-tratt-dati-archivio" target="_blank">informativa sul trattamento dei dati personali</a></b> <br><span style="font-size:85%"><i>(artt. 13 e 14 Regolamento UE n. 2016/679)</i></span></p>
      </td>
    </tr>
  </tbody>
</table>

<br>

<table class="Modulo" name="Luogo_e_data" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="width: 25%; text-align: center;">
        <input class="" id="Luogo_PDF" name="Luogo_PDF" style="width:80%; text-align: center;" type="text"/>
      </td>
      <td style="width: 25%; text-align: center;">
        <input class="" id="Data_PDF" name="Data_PDF" style="width:80%; text-align: center;" type="text"/>
      </td>
      <td style="width: 50%; text-align: center; height: 1.5cm;">
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td>
        <p class="Labelcella" style="text-align: center">Luogo</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Data</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Il/La titolare <span style="font-size:95%"><i>(firma autografa)</i></span></p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<h1 class="Modulo">*******************************************************************************************</h1>
<h1 class="Modulo">*******************************************************************************************</h1>

<br>

<h1 class="Modulo">PARTE RISERVATA AL PROGETTISTA / TECNICO INCARICATO</h1>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border:1px solid grey" >
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="5">
        <p style="line-height:1.6;"><b>Il progettista / tecnico incaricato</b></p>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td colspan="2">
        <p class="Labelcella">Titolo</p>
      </td>
      <td style="width:30%;">
        <p class="Labelcella">Cognome</p>
      </td>
      <td style="width:30%;">
        <p class="Labelcella">Nome</p>
      </td>
      <td style="width:25%;">
        <p class="Labelcella">Codice Fiscale</p>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input class="" id="titolo_prog" name="titolo_prog" style="width:100%" label="Cognome del progettista" dynamic_value="#Referente_TitoloPersona.value()"/>
      </td>
      <td>
        <input class="" id="cogn_prog" name="cogn_prog" style="width:100%" label="Cognome del progettista"  dynamic_value="#Referente_Cognome.value()"/>
      </td>
      <td>
        <input class="" id="nome_prog" name="nome_prog" style="width:100%" label="Nome del progettista"  dynamic_value="#Referente_Nome.value()"/>
      </td>
      <td>
        <input class="" id="cf_prog" name="cf_prog" style="width:100%" format="cf" label="Il codice fiscale del progettista"  dynamic_value="#Referente_CodiceFiscale.value()"/>
      </td>
    </tr>  
    <tr class="Rigaintestazione">
      <td colspan="5">
        <p style="line-height:1.6;">consapevole delle sanzioni penali previste dal codice penale e dalle leggi speciali in materia per le dichiarazioni non veritiere e per la falsità in atti, risponde ai sensi degli articoli 47 e 76 del D.P.R. 28 dicembre 2000, n. 445 recante <i>"Testo unico delle disposizioni legislative e regolamentari in materia di documentazione amministrativa"</i>, per le attestazioni e le dichiarazioni contenute nel presente modello, fatta salva ogni altra forma di responsabilità prevista dall'ordinamento vigente</p>
      </td>
    </tr>
  </tbody>
</table>

<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border:1px solid grey" >
  <h1 class="Modulo">DICHIARA / ATTESTA</h1>
  <tbody>
    <tr>
      <td style="vertical-align: top; text-align: center; width: 4%;">
        <div id="accett_delega_operazione" name="accett_delega_operazione" label="Accettazione_delega operazione" mandatory_enabled="true"> </div>
          <input group="accett_delega_operazione" id="accett_delega_operazione1" name="accett_delega_operazione1" type="checkbox" value="1" dynamic_check="true"/> 
      </td>
      <td colspan="4">
        <p style="line-height:1.6;">di aver accettato l'incarico di gestione digitale della presente pratica edilizia, dalla formazione all'invio telematico della stessa</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; text-align: center; width: 4%;">
        <input group="accett_delega_operazione" id="accett_delega_operazione2" name="accett_delega_operazione2" type="checkbox" value="2" dynamic_check="true"/> 
      </td>
      <td colspan="4">
        <p style="line-height:1.6;">che le dichiarazioni del richiedente/titolare contenute nella pratica da me sottoscritta in formato digitale corrsipondono a quelle sottoscritte in formato cartaceo dal medesimo che così le ha rese; tali dichiarazioni sono conservate in originale presso il mio studio/ufficio</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; text-align: center; width: 4%;">
        <input group="accett_delega_operazione" id="accett_delega_operazione3" name="accett_delega_operazione3" type="checkbox" value="3" dynamic_check="true"/> 
      </td>
      <td colspan="4">
        <p style="line-height:1.6;">di aver accettato la ricezione per proprio nome e conto le comunicazioni relative al presente procedimento anche per il tramite del proprio indirizzo PEC (posta elettronica certificata)</p>
      </td>
    </tr>
  </tbody>
</table>

<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border:1px solid grey" >
  <h1 class="Modulo">DICHIARA / ATTESTA INOLTRE</h1>
  <tbody>
    <tr>
      <td style="vertical-align: top; text-align: center; width: 4%;">
        <div id="accett_elez_dom_spec" name="accett_elez_dom_spec" label="accettazione elezione domicilio speciale" mandatory_enabled="#elez_dom_spec1.checked()"> </div>
          <input group="accett_elez_dom_spec" id="accett_elez_dom_spec1" name="accett_elez_dom_spec1" type="checkbox" value="1"/> 
      </td>
      <td>
        <p style="line-height:1.6;">di aver accettato la ricezione per per proprio nome e conto anche tutti gli atti e/o provvedimenti comunque denominati inerenti il procedimento, di carattere recettizio per il tramite presso il proprio indirizzo di Posta Elettronica Certificata, eletto dal titolare come proprio domicilio speciale. 
        </p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" name="Accettazione_Informativa_dati" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <div id="progett_Presa_visione1" name="progett_Presa_visione1" label="Dichiarazione presa visione progettista" mandatory_enabled="true"> </div>
        <input group="progett_Presa_visione1" id="progett_Presa_visione_check1" name="progett_Presa_visione_check1" type="checkbox" value="1" />
      </td>
      <td colspan="2" style="background-color: #eeeeee;">
        <p style="line-height:1.4;"><b>Dichiaro di aver ricevuto e preso visione dell'<a href="https://sportello.comune.trento.it/document/inform-tratt-dati-archivio" target="_blank">informativa sul trattamento dei dati personali</a></b> <br><span style="font-size:85%"><i>(artt. 13 e 14 Regolamento UE n. 2016/679)</i></span></p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo" name="Luogo_e_data" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="width: 25%; text-align: center;">
        <input class="" id="Luogo" name="Luogo" style="width:80%; text-align: center;" type="text"/>
      </td>
      <td style="width: 25%; text-align: center;">
        <input class="" id="Data" name="Data" style="width:80%; text-align: center;" type="text"/>
      </td>
      <td style="width: 50%; text-align: center; height: 1.5cm;">
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td>
        <p class="Labelcella" style="text-align: center">Luogo</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Data</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Il progettista/tecnico incaricato <span style="font-size:95%"><i>(firma autografa)</i></span></p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<p class="Modulo">
  <input id="SalvaModulo" name="SalvaModulo" style="height:30px;width:120px;" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza." type="submit" value="Salva modulo"/>
</p>
 
<input id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value=""/>

<input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden"/>
<input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden"/>
<input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}"/>

<input id="GLOBO_allegato_cINFORM-TRATT-DATI-EDILIZIA" name="GLOBO_allegato_cINFORM-TRATT-DATI-EDILIZIA" obbligatorio="''" type="hidden" value=""/>

{% endblock content %}