{% set CodiceModulo =  "M1103-MSEC06-ALL-E" %}
{% set Urn =  "document:c_l378:residenza;cambio.residenza;msec06.m1103.allegatoE" %}
{% extends "base_trento_ok.html" %}

{% block meta %}
<meta campi_firma="Cognome_dichiarante"
classi_modulo="Generale"
codice_modulo="{{ CodiceModulo }}"
urn="{{ Urn }}"
descrizione="Modulo secondario - Allegato E - Dichiarazione sostitutiva atto di notorietà - da compilarsi da parte del proprietario dell'immobile"
destinatario_amministrazione=""
destinatario_ufficio=""
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="NO"
firmare="NO"
istruzioni_compilazione=""
istruzioni_invio=""
metodo_invio=""
name="GLOBO_modulo"
procura="NO,,"
tipo_modulo="secondario"
ufficio=""
urlhelp="/modulistica/moduli/M1103-MSEC06-ALL-E"
verifica_pagamento="NO"
versione="1.0|01/01/2015"/>

<meta codice_allegato="GEN-CDI"
urn="document:c_l378:allegato.copia.documento.identita"
descrizione_estesa="Copia del documento di identità del proprietario dell'immobile"
filename="Documento identita.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-CDI"
name="GLOBO_allegato"
numero="0"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-COPIA-MODULO-FIRMA-AU"
urn_allegato="document:c_l378:allegato.copia.modulo.firmato.con.firma.autografa"
descrizione_estesa="Allegato - Modulo compilato e firmato con firma autografa"
filename="Modulo_compilato_firma_autografa.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-COPIA-MODULO-FIRMA-AU"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="INFORM-TRATT-DATI-RESIDENZA"
urn_allegato="document:c_l378:allegato.informativa.trattamento.dati.residenza"
descrizione_estesa="Informativa trattamento dati RESIDENZA"
filename="INFORM-TRATT-DATI-RESIDENZA.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/INFORM-TRATT-DATI-RESIDENZA"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

{% endblock meta %}


{% block title %}
Allegato E - Dichiarazione sostitutiva atto di notorietà
{% endblock title %}

{% block content %}


{{intestazioni.intestazione_modulosecondario_senzabollo()}}

<input id="Oggetto" name="Oggetto" type="hidden" value="" dynamic_value="#Cognome_dichiarante.value().toUpperCase() + ' - Allegato E - Dichiarazione sostitutiva atto di notorietà'"/>

<h1 class="Modulo">Allegato E - Dichiarazione sostitutiva atto di notorietà</h1>

<h2 class="Modulo" style="font-size: 100%;"><i>resa in conformità dell'art. 47 del D.P.R. 28.12.2000 n. 445</i></h2>

<br>

<table class="Modulo" style="border:1px solid grey" mandatory="true">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p style="line-height:1.6;"><b>Il/La sottoscritto/a</b></p>
      </td>
    </tr>    
    <tr class="Rigaintestazioneridotta">
      <td>
        <p class="Labelcella" style="line-height:1.6;">Cognome</p>
      </td>
      <td>
        <p class="Labelcella" style="line-height:1.6;">Nome</p>
      </td>
    </tr>
    <tr>
      <td>
        <input class="" id="Cognome_dichiarante" name="Cognome_dichiarante" style="width:100%" label="Cognome del dichiarante"/>
      </td>
      <td>
        <input class="" id="Nome_dichiarante" name="Nome_dichiarante" style="width:100%" label="Nome del dichiarante"/>
      </td>
    </tr>   
    <tr class="Rigaintestazioneridotta" style="border-top:0px">
      <td>
        <p class="Labelcella" style="line-height:1.6;">Data di nascita</p>
      </td>
      <td>
        <p class="Labelcella" style="line-height:1.6;">Luogo di nascita</p>
      </td>
    </tr>
    <tr>
      <td>
        <input class="" id="DataNascita_dichiarante" name="DataNascita_dichiarante" style="width:100%;" format="date" label="Data di nascita del dichiarante"/>
      </td>
      <td>
        <input class="" id="LuogoNascita_dichiarante" name="LuogoNascita_dichiarante" style="width:100%;" label="Luogo di nascita del dichiarante"/>
      </td>
    </tr>
  </tbody>
</table>

<table class="Modulo" style="border:1px solid grey; margin-top:-1px;" mandatory="true">
  <tbody>
    <tr class="Rigaintestazioneridotta">
      <td style="width:9%;">
        <p class="Labelcella" style="line-height:1.6;">Provincia</p>
      </td>
      <td style="width:33%;">
        <p class="Labelcella" style="line-height:1.6;">Comune</p>
      </td>
      <td style="width:33%;">
        <p class="Labelcella" style="line-height:1.6;">Indirizzo</p>
      </td>
      <td style="width:9%;">
        <p class="Labelcella" style="line-height:1.6;">Civico</p>
      </td>
      <td style="width:16%;">
        <p class="Labelcella" style="line-height:1.6;">CAP</p>
      </td>
    </tr>
    <tr>
      <td>
        {{ utils.provincie( 'ProvinciaResidenza_dichiarante', label='Provincia di residenza' )}}
      </td>
      <td>
        <select class="inputNormal" id="ComuneResidenza_dichiarante" name="ComuneResidenza_dichiarante" style="width:100%" label="Comune di residenza del dichiarante" dynamic_value="getComuniFromProvincia( #ProvinciaResidenza_dichiarante.value(), 'ComuneResidenza_dichiarante')"></select>
      </td>
      <td>
        <input class="" id="ViaResidenza_dichiarante" name="ViaResidenza_dichiarante" style="width:100%;" label="Via di residenza del dichiarante"/>
      </td>
      <td>
        <input class="" id="CivicoResidenza_dichiarante" name="CivicoResidenza_dichiarante" style="width:100%;" label="Civico di residenza del dichiarante" maxlength="10"/>
      </td>
      <td>
        <input class="" id="CAPResidenza_dichiarante" name="CAPResidenza_dichiarante" style="width:100%;" format="cap" label="CAP di residenza del dichiarante" mandatory="#ProvinciaResidenza_dichiarante.value() != 'EE'"/>
      </td>
    </tr>
  </tbody>
</table>

<br>

{{ immobili_trento_uniformata.immobile_mod_E_resid("Immobiledichiarante", "In qualità di proprietario dell'abitazione:", disattivato="true") }}

<br>
<br>
  
<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td>
        <p style="line-height:1.6;">Con riferimento a quanto previsto dall'art. 5 del decreto legge 28 marzo 2014 n. 47 convertito, con modificazioni, nella legge 23 maggio 2014 n. 80 che dispone che <b><i>“chiunque occupa abusivamente un immobile senza titolo non può chiedere la residenza né l'allacciamento a pubblici servizi in relazione all'immobile medesimo e agli atti emessi in violazione di tale divieto sono nulli a tutti gli effetti di legge”</i></b>;</p>
        <p style="line-height:1.6;">Consapevole che in caso di mendaci dichiarazioni saranno applicate le sanzioni stabilite dall'art. 76 del D.P.R. 28.12.2000 n. 45</p>
      </td>
    </tr>
  </tbody>
</table>

<br>

<h2 class="Modulo">DICHIARA</h2>

<table class="Modulo" name="Informativa_dati" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <div id="tipo_autorizzazione" name="tipo_autorizzazione" label="Tipo di autorizzazione abitativa concessa" mandatory_enabled="true"></div> 
        <input id="tipo_autorizzazione1" name="tipo_autorizzazione" group="tipo_autorizzazione" type="radio" value="1"/>
      </td>
      <td>
        <p style="line-height: 1.6;">di aver ceduto in locazione</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <input id="tipo_autorizzazione2" name="tipo_autorizzazione" group="tipo_autorizzazione" type="radio" value="2"/>
      </td>
      <td>
        <p style="line-height: 1.6;">di aver messo a disposizione a titolo gratuito (comodato d'uso, ecc.)</p> 
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <input id="tipo_autorizzazione3" name="tipo_autorizzazione" group="tipo_autorizzazione" type="radio" value="3"/>
      </td>
      <td>
        <p style="line-height: 1.6;">altro: <input class="" id="altra_motivazione" name="altra_motivazione" label="Altro tipo di autorizzazione abitativa concessa" mandatory_enabled="#tipo_autorizzazione3.checked()" size="87"/></p> 
      </td>
    </tr>
  </tbody>
</table>

<table class="Modulo" name="Informativa_dati" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td colspan="2">
        <!--
        <p style="line-height:1.6;">la suddetta abitazione al signor/alla signora: <input dynamic_value="#Metadati_AventeTitolo_Cognome.value() != '' ? #Metadati_AventeTitolo_Cognome.value() + ' ' + #Metadati_AventeTitolo_Nome.value() : #Metadati_Minore_Cognome.value() + ' ' + #Metadati_Minore_Nome.value()" id="Nominativo_titolare" name="Nominativo_titolare" size="50" readonly/></p>
        <p style="line-height:1.6;">nato/a a: <input dynamic_value="#Metadati_AventeTitolo_luogonasc.value() != '' ? #Metadati_AventeTitolo_luogonasc.value() : #Metadati_Minore_LuogoNascita.value()" id="luogonasc_titolare" name="luogonasc_titolare" size="50" readonly/> &nbsp;&nbsp;&nbsp;&nbsp; il: <input dynamic_value="#Metadati_AventeTitolo_datanasc.value() != '' ? #Metadati_AventeTitolo_datanasc.value() : #Metadati_Minore_DataNascita.value()" id="datanasc_titolare" name="datanasc_titolare" size="24" readonly/></p>
        -->
        <p style="line-height:1.6;">la suddetta abitazione al signor/alla signora: <input dynamic_value="#AventeTitolo_Cognome.value() + ' ' + #AventeTitolo_Nome.value()" id="Nominativo_titolare" name="Nominativo_titolare" size="50" readonly/></p>
        <p style="line-height:1.6;">nato/a a: <input dynamic_value="#AventeTitolo_LuogoNascita.value()" id="luogonasc_titolare" name="luogonasc_titolare" size="50" readonly/> &nbsp;&nbsp;&nbsp;&nbsp; il: <input dynamic_value="#AventeTitolo_DataNascita.value()" id="datanasc_titolare" name="datanasc_titolare" size="24" readonly/></p>
        <br>
        <p style="line-height: 1.6;">ed ai seguenti suoi familiari e/o conviventi (indicarne le generalità):</p>
        <p style="line-height:1.6;"><input class="" id="altro_fam1" name="altro_fam1" label="Familiare cui è concesso abitare presso l'abitazione indicata" style="width:100%;"/></p>
        <p style="line-height:1.6;"><input class="" id="altro_fam2" name="altro_fam2" label="Familiare cui è concesso abitare presso l'abitazione indicata" style="width:100%;"/></p>   
       </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo" name="Allegati" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="3">
        <p style="text-align: center; line-height: 1.6;"><b>Elenco degli allegati</b></p>
      </td>
    </tr>
    <tr class="Rigaintestazione">
      <td style="width:4%;">
        <p style="line-height: 1.6; font-size: 85%; text-align: center;">Si allega</p>
      </td>
      <td>
        <p style="line-height: 1.6; font-size: 85%; text-align: center;">Titolo allegato</p>
      </td>
      <td style="width:15%;">
        <p style="line-height: 1.6; font-size: 85%; text-align: center;">Numero documenti</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width:4%;">
        <input id="Copia_mod_firm" name="Copia_mod_firm" type="checkbox" dynamic_check="true" enabled="true" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6;">Copia del modulo <i>allegato E</i> firmato con firma autografa<br> da: <input class="" id="nominativo_firma_E" name="nominativo_firma_E" dynamic_value="#Nome_dichiarante.value() + ' ' + #Cognome_dichiarante.value()" size="60" style="text-align: center;" readonly/></p>
      </td>
      <td style="background-color: #eeeeee; vertical-align: center;">
        <p style="line-height: 1.6; text-align: center;"><input id="numero_copia_modulo" name="numero_copia_modulo" dynamic_value="'1'" style="width: 90%; text-align: center;" readonly/></p>
        <input id="GLOBO_allegato_cGEN-COPIA-MODULO-FIRMA-AU" name="GLOBO_allegato_cGEN-COPIA-MODULO-FIRMA-AU" obbligatorio="'OBBLIGATORIO'" type="hidden" value=""/>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width:4%;">
        <input id="GEN_CDI" name="GEN_CDI" type="checkbox" dynamic_check="true" enabled="true" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6;">Copia del documento d'identità<br>di: <input class="" id="nominativo_ci_E" name="nominativo_ci_E" dynamic_value="#Nome_dichiarante.value() + ' ' + #Cognome_dichiarante.value()" size="60" style="text-align: center;" readonly/></p>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input id="numero_doc_id" name="numero_doc_id" dynamic_value="'1'" style="width: 90%; text-align: center;" readonly/></p>
        <input id="GLOBO_allegato_cGEN-CDI" name="GLOBO_allegato_cGEN-CDI" obbligatorio="'OBBLIGATORIO'" type="hidden" value=""/>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo" name="Accettazione_Informativa_dati" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <div id="Presa_visione" name="Presa_visione" label="Dichiarazione presa visione" mandatory_enabled="true"> </div>
        <input group="Presa_visione" id="Presa_visione_check" name="Presa_visione_check" type="checkbox" value="1" />
      </td>
      <td colspan="2" style="background-color: #eeeeee;">
        <p style="line-height:1.6;"><b>Dichiaro di aver ricevuto e preso visione dell'<a href="https://sportello.comune.trento.it/document/inform-tratt-dati-residenza" target="_blank">informativa sul trattamento dei dati personali</a></b> <br><span style="font-size:85%"><i>(artt. 13 e 14 Regolamento UE n. 2016/679)</i></span></p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo simpatico-block" name="Luogo_e_data" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="width: 25%; text-align: center;">
        <input class="" id="Luogo_PDF" name="Luogo_PDF" style="width:80%; text-align: center;" type="text"/>
      </td>
      <td style="width: 25%; text-align: center;">
        <input class="" id="Data_PDF" name="Data_PDF" style="width:80%; text-align: center;" type="text"/>
      </td>
      <td style="width: 50%; text-align: center; height: 1.5cm;">
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td>
        <p class="Labelcella" style="text-align: center">Luogo</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Data</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Il dichiarante <span style="font-size:95%"><i>(firma autografa)</i></span></p>
      </td>
    </tr>
  </tbody>
</table>

<br>

<p class="Modulo">
  <input id="SalvaModulo" name="SalvaModulo" style="height:30px;width:120px;" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza." type="submit" value="Salva modulo"/>
</p>

<input id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value=""/>
<input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden"/>
<input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden"/>
<input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}"/>

<input id="GLOBO_allegato_cINFORM-TRATT-DATI-RESIDENZA" name="GLOBO_allegato_cINFORM-TRATT-DATI-RESIDENZA" obbligatorio="''" type="hidden" value=""/>

{{ utils.passaggio_metadati() }}
<!-- METADATI TITOLARE -->
<!--
<input id="Metadati_AventeTitolo_Cognome" name="Metadati_AventeTitolo_Cognome" type="hidden"/>
<input id="Metadati_AventeTitolo_Nome" name="Metadati_AventeTitolo_Nome" type="hidden"/>
<input id="Metadati_AventeTitolo_CodiceFiscale" name="Metadati_AventeTitolo_CodiceFiscale" type="hidden"/>
<input id="Metadati_AventeTitolo_datanasc" name="Metadati_AventeTitolo_datanasc" type="hidden"/>
<input id="Metadati_AventeTitolo_luogonasc" name="Metadati_AventeTitolo_luogonasc" type="hidden"/>
<br>
-->
<input id="AventeTitolo_Cognome" name="AventeTitolo_Cognome" type="hidden"/>
<input id="AventeTitolo_Nome" name="AventeTitolo_Nome" type="hidden"/>
<input id="AventeTitolo_CodiceFiscale" name="AventeTitolo_CodiceFiscale" type="hidden"/>
<input id="AventeTitolo_DataNascita" name="AventeTitolo_DataNascita" type="hidden"/>
<input id="AventeTitolo_LuogoNascita" name="AventeTitolo_LuogoNascita" type="hidden"/>
<!-- METADATI MINORE -->
<!--
<input id="Metadati_Minore_Cognome" name="Metadati_Minore_Cognome" type="hidden"/>
<input id="Metadati_Minore_Nome" name="Metadati_Minore_Nome" type="hidden"/>
<input id="Metadati_Minore_CodiceFiscale" name="Metadati_Minore_CodiceFiscale" type="hidden"/>
<input id="Metadati_Minore_DataNascita" name="Metadati_Minore_DataNascita" type="hidden"/>
<input id="Metadati_Minore_LuogoNascita" name="Metadati_Minore_LuogoNascita" type="hidden"/>
-->

{% endblock content %}
