{% set CodiceModulo =  "M1103-MSEC07-ALTRI-FAM-NON-COMUNITARI" %}
{% set Urn =  "document:c_l378:residenza;cambio.residenza;msec07.m1103.altri.familiari.non.comunitari" %}
{% extends "base_trento_ok.html" %}

{% block meta %}
<meta campi_firma="AltroFamiliare_CodiceFiscale"
classi_modulo="Generale"
codice_modulo="{{ CodiceModulo }}"
urn="{{ Urn }}"
descrizione="Modulo secondario - Cambio Residenza anagrafica dei familiari NON appartenente all'UE trasferiti nella nuova residenza"
destinatario_amministrazione=""
destinatario_ufficio=""
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="NO"
firmare="NO"
istruzioni_compilazione=""
istruzioni_invio=""
metodo_invio=""
name="GLOBO_modulo"
procura="NO,,"
tipo_modulo="secondario"
ufficio=""
urlhelp="/modulistica/moduli/M1103-MSEC01-ALTRI-FAM"
verifica_pagamento="NO"
versione="1.1|03/06/2016"/>

<meta codice_allegato="GEN-CDI"
urn="document:c_l378:allegato.copia.documento.identita"
descrizione_estesa="Copia del documento di identità del familiare avente cittadinanza italiana"
filename="Documento identita.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-CDI"
name="GLOBO_allegato"
numero="0"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-COPIA-MODULO-FIRMA-AU"
urn_allegato="document:c_l378:allegato.copia.modulo.firmato.con.firma.autografa"
descrizione_estesa="Allegato - Modulo compilato e firmato con firma autografa"
filename="Modulo_compilato_firma_autografa.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-COPIA-MODULO-FIRMA-AU"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M1103-A18-STATO-CIV"
urn_allegato="document:c_l378:residenza;cambio.residenza;a18.m1103.stato.civile"
descrizione_estesa="Allegato - Copia degli atti originali tradotti e legalizzati comprovanti lo stato civile e la composizione della famiglia"
filename="M1103-A18-STATO-CIV.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/M1103-A18-STATO-CIV"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<!-- ALLEGATI PARTE A -->
<meta codice_allegato="M1103-A19-DOC-ID-NON-UE"
urn_allegato="document:c_l378:residenza;cambio.residenza;a19.m1103.passaporto"
descrizione_estesa="Allegato - Copia del passaporto o documento equipollente in corso di validità"
filename="M1103-A19-DOC-ID-NON-UE.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/M1103-A19-DOC-ID-NON-UE"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M1103-A03-TIT-SOGG"
urn_allegato="document:c_l378:residenza;cambio.residenza;a03.m1103.titolo.soggiorno"
descrizione_estesa="Allegato - Copia del titolo di soggiorno in corso di validità"
filename="M1103-A03-TIT-SOGG.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/M1103-A03-TIT-SOGG"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M1103-A04-TIT-SOGG-SCAD"
urn_allegato="document:c_l378:residenza;cambio.residenza;a04.m1103.titolo.soggiorno.scaduto"
descrizione_estesa="Allegato - Copia del titolo di soggiorno scaduto"
filename="M1103-A04-TIT-SOGG-SCAD.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/M1103-A04-TIT-SOGG-SCAD"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M1103-A05-RICH-RINN"
urn_allegato="document:c_l378:residenza;cambio.residenza;a05.m1103.richiesta.rinnovo.titolo.soggiorno"
descrizione_estesa="Allegato - Ricevuta della richiesta di rinnovo del titolo di soggiorno"
filename="M1103-A05-RICH-RINN.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/M1103-A05-RICH-RINN"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M1103-A06-CONTR-SOGG"
urn_allegato="document:c_l378:residenza;cambio.residenza;a06.m1103.contratto.soggiorno"
descrizione_estesa="Allegato - Copia del contratto di soggiorno presso lo Sportello Unico per l’immigrazione"
filename="M1103-A06-CONTR-SOGG.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/M1103-A06-CONTR-SOGG"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M1103-A07-DOM-PERM-SOGG"
urn_allegato="document:c_l378:residenza;cambio.residenza;a07.m1103.domanda.permesso.soggiorno"
descrizione_estesa="Allegato - Ricevuta rilasciata dall’ufficio postale attestante l’avvenuta presentazione della richiesta di permesso di soggiorno"
filename="M1103-A07-DOM-PERM-SOGG.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/M1103-A07-DOM-PERM-SOGG"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M1103-A08-DOM-PERM-SOGG-LAV-SUB"
urn_allegato="document:c_l378:residenza;cambio.residenza;a08.m1103.domanda.permesso.soggiorno.lavoro.subordinato"
descrizione_estesa="Allegato - Domanda di rilascio del permesso di soggiorno per lavoro subordinato presentata allo Sportello Unico"
filename="M1103-A08-DOM-PERM-SOGG-LAV-SUB.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/M1103-A08-DOM-PERM-SOGG-LAV-SUB"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M1103-A09-NULLA-OSTA"
urn_allegato="document:c_l378:residenza;cambio.residenza;a09.m1103.nulla.osta"
descrizione_estesa="Allegato - Copia (anche non autenticata) del nulla osta rilasciato dallo Sportello unico"
filename="M1103-A09-NULLA-OSTA.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/M1103-A09-NULLA-OSTA"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<!-- ALLEGATI PARTE B -->
<!--
<meta codice_allegato="M1103-A20-DOC-ID-UE"
urn_allegato="document:c_l378:residenza;cambio.residenza;a20.m1103.passaporto"
descrizione_estesa="Allegato - Copia di un documento di identità UE valido per l'espatrio"
filename="M1103-A20-DOC-ID-UE.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/M1103-A20-DOC-ID-UE"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M1103-A10-QUAL-LAV"
urn_allegato="document:c_l378:residenza;cambio.residenza;a10.m1103.documentazione.lavoratore"
descrizione_estesa="Allegato - Documentazione comprovante la qualità di lavoratore subordinato o autonomo"
filename="M1103-A10-QUAL-LAV.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/M1103-A10-QUAL-LAV"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M1103-A11-RIS-ECON"
urn_allegato="document:c_l378:residenza;cambio.residenza;a11.m1103.risorse.economiche"
descrizione_estesa="Allegato - Autocertificazione del possesso di risorse economiche sufficienti per non diventare un onere a carico dell'assistenza sociale dello Stato"
filename="M1103-A11-RIS-ECON.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/M1103-A11-RIS-ECON"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M1103-A12-ASS-SANIT"
urn_allegato="document:c_l378:residenza;cambio.residenza;a12.m1103.assistenza sanitaria"
descrizione_estesa="Allegato - Copia di un'assicurazione sanitaria che copra i rischi sanitari sul territorio nazionale valida per almeno un anno"
filename="M1103-A12-ASS-SANIT.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/M1103-A12-ASS-SANIT"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M1103-A13-ISCR-SCOL"
urn_allegato="document:c_l378:residenza;cambio.residenza;a13.m1103.documentazione.iscrizione scolastica"
descrizione_estesa="Allegato - Documentazione attestante l'iscrizione presso un istituto scolastico o di formazione professionale"
filename="M1103-A13-ISCR-SCOL.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/M1103-A13-ISCR-SCOL"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M1103-A14-ASS-SANIT-STUD"
urn_allegato="document:c_l378:residenza;cambio.residenza;a14.m1103.assistenza.sanitaria.studente"
descrizione_estesa="Allegato - Copia di un'assicurazione sanitaria che copra i rischi sanitari sul territorio nazionale valida per almeno un anno o almeno pari al corso di studi"
filename="M1103-A14-ASS-SANIT-STUD.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/M1103-A14-ASS-SANIT-STUD"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M1103-A15-ATTI-SOGG"
urn_allegato="document:c_l378:residenza;cambio.residenza;a15.m1103.atti.legalizzazione.soggiorno"
descrizione_estesa="Allegato - Copia degli atti originali in regola con le norme sulla traduzione e la legalizzazione di soggiorno"
filename="M1103-A15-ATTI-SOGG.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/M1103-A15-ATTI-SOGG"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M1103-A16-DICH-VIV"
urn_allegato="document:c_l378:residenza;cambio.residenza;a16.m1103.dichiarazione.vivenza"
descrizione_estesa="Allegato - Dichiarazione di vivenza a carico resa dal cittadino dell'Unione in possesso di autonomi requisiti di soggiorno"
filename="M1103-A16-DICH-VIV.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/M1103-A16-DICH-VIV"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M1103-A17-CARTA-SOGG-FAM"
urn_allegato="document:c_l378:residenza;cambio.residenza;a17.m1103.carta.soggiorno.familiare"
descrizione_estesa="Allegato - Carta di soggiorno di familiare di cittadino dell'Unione oppure ricevuta della richiesta di rilascio di carta di soggiorno"
filename="M1103-A17-CARTA-SOGG-FAM.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/M1103-A17-CARTA-SOGG-FAM"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="INFORM-TRATT-DATI-RESIDENZA"
urn_allegato="document:c_l378:allegato.informativa.trattamento.dati.residenza"
descrizione_estesa="Informativa trattamento dati RESIDENZA"
filename="INFORM-TRATT-DATI-RESIDENZA.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/INFORM-TRATT-DATI-RESIDENZA"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>
-->

{% endblock meta %}

{% block title %}
Anagrafica dei familiari trasferiti nella nuova residenza
{% endblock title %}


{% block content %}


{{intestazioni.intestazione_modulosecondario_senzabollo()}}

<input type="hidden" name="TipoContesto" id="TipoContesto" value="GLOBO">
<input type="hidden" name="TipoLista" id="TipoLista" value="PGLOBO">

<input dynamic_value="'Anagrafica del familiare NON appartenenti all\'UE e trasferito nella nuova residenza ' + #AltroFamiliare_Cognome.value().toUpperCase() + ' ' + #AltroFamiliare_Nome.value().toUpperCase() + ' (' + #AltroFamiliare_CodiceFiscale.value().toUpperCase() + ')'" id="Oggetto" name="Oggetto" type="hidden"/>

<h1 class="Modulo">Anagrafica del familiare non appartenente all'UE e trasferito nella nuova residenza</h1>

<br>
<br>

<!--<input id="fisso_obbligatorio" name="fisso_obbligatorio" dynamic_check="true" type="hidden" />-->
<input id="cellulare_obbligatorio" name="cellulare_obbligatorio" dynamic_check="true" type="hidden" />
<input id="mail_obbligatoria" name="mail_obbligatoria" dynamic_check="true" type="hidden" />
<!--<input id="pec_obbligatoria" name="pec_obbligatoria" dynamic_check="true" type="hidden" />-->

{{anagrafica_trento_uniformata.richiedente_cambio_res("AltroFamiliare","Il/La familiare, avente codice fiscale:", "visibility:visibility", "cursor:pointer", "visibility:visibility", "visibility:hidden")}} 

<br>
<br>

<!-- CONTROLLO SE MINORENNE -->
<input id="check_minorenne" name="check_minorenne" type="checkbox" dynamic_check="menoDiXAnni(#AltroFamiliare_DataNascita.value(),'18') == 1 ? true : false" style="display:none; pd4ml-display:none;">

<table class="Modulo" style="border:1px solid grey; margin-top:-1px;">
  <tbody>
    <tr class="Rigaintestazioneridotta">
      <td style="vertical-align: top; text-align: center; width: 4%;" rowspan="3">
        <input id="check_minorenne2" name="check_minorenne2" type="checkbox" dynamic_check="#check_minorenne.checked()" enabled="#check_minorenne.checked()"/>
      </td>
      <td colspan="2">
        <p style="line-height: 1.6;"><b>Il/La familiare minorenne si trasferisce:</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <div id="tipo_trasf" name="tipo_trasf" mandatory_enabled="#check_minorenne2.checked()" label="Modalità di trasferimento del minorenne"> </div>
        <input group="tipo_trasf" id="tipo_trasf1" name="tipo_trasf" type="radio" value="1"/>
      </td>
      <td>
        <p style="line-height: 1.6;"><b>con entrambi in genitori</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <input group="tipo_trasf" id="tipo_trasf2" name="tipo_trasf" type="radio" value="2"/>
      </td>
      <td>
        <p style="line-height: 1.6;"><b>con solo un genitore</b>, ad un indirizzo dove <b>NON</b> risiede l'altro genitore</p>
      </td>        
    </tr>
  </tbody>
</table>

<br>
<br>

<input id="altro_fam_verifica_non_UE" name="altro_fam_verifica_non_UE" dynamic_value="!#AltroFamiliare_Cittadinanza.check_value([ 'ITALIA', 'AUSTRIA', 'BELGIO', 'BULGARIA', 'CIPRO', 'DANIMARCA', 'EIRE', 'ESTONIA', 'FINLANDIA', 'FRANCIA', 'GERMANIA', 'GRECIA', 'LETTONIA', 'LITUANIA', 'LUSSEMBURGO', 'MALTA', 'PAESI BASSI', 'POLONIA', 'PORTOGALLO', 'REGNO UNITO', 'REPUBBLICA CECA', 'ROMANIA', 'SLOVACCHIA', 'SLOVENIA', 'SPAGNA', 'SVEZIA', 'UNGHERIA']) ? 'non UE' : ''" type="hidden"/>
<input id="altro_fam_verifica_UE" name="altro_fam_verifica_UE" dynamic_value="#AltroFamiliare_Cittadinanza.check_value([ 'AUSTRIA', 'BELGIO', 'BULGARIA', 'CIPRO', 'DANIMARCA', 'EIRE', 'ESTONIA', 'FINLANDIA', 'FRANCIA', 'GERMANIA', 'GRECIA', 'LETTONIA', 'LITUANIA', 'LUSSEMBURGO', 'MALTA', 'PAESI BASSI', 'POLONIA', 'PORTOGALLO', 'REGNO UNITO', 'REPUBBLICA CECA', 'ROMANIA', 'SLOVACCHIA', 'SLOVENIA', 'SPAGNA', 'SVEZIA', 'UNGHERIA']) ? 'UE' : ''" type="hidden"/>
<input id="altro_fam_verifica_ITA" name="altro_fam_verifica_ITA" dynamic_value="#AltroFamiliare_Cittadinanza.check_value([ 'ITALIA' ]) ? 'ITA' : ''" type="hidden"/>

<h1 class="Modulo" style="font-size:180%;">Allegato A</h1>

<h2 class="Modulo" style="font-size:120%;"><i>da compilarsi per l'iscrizione anagrafica di cittadini di Stati non appartenenti all'UE</i></h2>

<br>

<h2 class="Modulo">DICHIARA</h2>

<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p style="line-height: 1.6;"><b>di essere cittadino di uno Stato non appartenente all'UE ed essere:</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <div id="Tipo_cittadinanza_no_UE" name="Tipo_cittadinanza_no_UE" label="Tipo permesso di soggiorno posseduto" mandatory_enabled="true"> </div>
        <input group="Tipo_cittadinanza_no_UE" id="Tipo_cittadinanza_no_UE1" name="Tipo_cittadinanza_no_UE" type="radio" value="1" />
      </td>
      <td>
        <p style="line-height: 1.6;">in possesso di titolo di soggiorno in corso di validità</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <input group="Tipo_cittadinanza_no_UE" id="Tipo_cittadinanza_no_UE2" name="Tipo_cittadinanza_no_UE" type="radio" value="2" />
      </td>
      <td>
        <p style="line-height: 1.6;">in possesso di titolo di soggiorno in corso di rinnovo</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <input group="Tipo_cittadinanza_no_UE" id="Tipo_cittadinanza_no_UE3" name="Tipo_cittadinanza_no_UE" type="radio" value="3" />
      </td>
      <td>
        <p style="line-height: 1.6;">in attesa del rilascio del primo permesso di soggiorno per lavoro subordinato</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <input group="Tipo_cittadinanza_no_UE" id="Tipo_cittadinanza_no_UE4" name="Tipo_cittadinanza_no_UE" type="radio" value="4" />
      </td>
      <td>
        <p style="line-height: 1.6;">in attesa del rilascio del permesso di soggiorno per ricongiungimento familiare</p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<h1 class="Modulo" style="font-size:180%;">Allegato C</h1>

<h2 class="Modulo" style="font-size:120%;"><i>da compilarsi soltanto nel caso di trasferimento di minore (da solo o con un solo genitore)</i></h2>

<br>

<table class="Modulo" style="border:1px solid grey;">
  <tbody>
    <tr class="Rigaintestazione">
      <td style="border-right:0px">
        <p style="line-height: 1.6;">Il/La sottoscritto/a</p>
      </td>
    </tr>
  </tbody>
</table>

<table class="Modulo" style="border:1px solid grey; margin-top:-1px" mandatory_enabled="#tipo_trasf2.checked()">
  <tbody>
    <tr class="Rigaintestazioneridotta">
      <td style="width: 33%;">
        <p class="Labelcella" style="line-height:1.6;">Cognome</p>
      </td>
      <td style="width: 33%;">
        <p class="Labelcella" style="line-height:1.6;">Nome</p>
      </td>
      <td style="width: 34%;">
        <p class="Labelcella" style="line-height:1.6;">Codice Fiscale</p>
      </td>
    </tr>
    <tr>
      <td>
        <input id="dichiarante_Cognome" name="dichiarante_Cognome" style="width:100%" label="Cognome del dichiarante" dynamic_value="#AventeTitolo_Cognome.value()" readonly/>
      </td>
      <td>
        <input id="dichiarante_Nome" name="dichiarante_Nome" style="width:100%" label="Nome del dichiarante" dynamic_value="#AventeTitolo_Nome.value()" readonly/>
      </td>
      <td>
        <input format="cf" id="dichiarante_CodiceFiscale" name="dichiarante_CodiceFiscale" style="width:100%" label="Codice fiscale del dichiarante" dynamic_value="#AventeTitolo_CodiceFiscale.value()" readonly/>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>
  
<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td>
        <p style="line-height:1.6;">Consapevole che in caso di mendaci dichiarazioni saranno applicate le sanzioni stabilite dall'art. 76 del D.P.R. 28.12.2000 n. 45</p>
        <h1 class="Modulo">DICHIARA</h1>
        <p style="line-height:1.6;">di essere a conoscenza che l'articolo 316 del codice civile, secondo comma, prevede che <b>i genitori di comune accordo stabiliscano la residenza abituale del minore</b> ed al riguardo</p>
      </td>
    </tr>
  </tbody>
</table>

<br>
  
<h2 class="Modulo">DICHIARA INOLTRE</h2>

<table class="Modulo" name="Informativa_dati" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="width: 4%; vertical-align: top; text-align: center;">
        <div id="dich_inform" name="dich_inform" label="Dichiarazione di aver informato l'altro genitore" mandatory_enabled="#tipo_trasf2.checked()"></div> 
        <input id="dich_inform_check" name="dich_inform" type="radio" value="1"/>
      </td>
      <td>
        <p style="line-height:1.6;">di aver informato del trasferimento del/la minore: <input dynamic_value="#AltroFamiliare_Cognome.value() + ' ' + #AltroFamiliare_Nome.value()" id="Nominativo_minore" name="Nominativo_minore" size="50" enabled="#dich_inform_check.checked()" readonly/></p>
        <p style="line-height:1.6;">nato/a a: <input dynamic_value="#AltroFamiliare_LuogoNascita.value()" id="luogonasc_minore" name="luogonasc_minore" size="50" enabled="#dich_inform_check.checked()" readonly/> &nbsp;&nbsp;&nbsp;&nbsp; il: <input dynamic_value="#AltroFamiliare_DataNascita.value()" id="datanasc_minore" name="datanasc_minore" size="24" enabled="#dich_inform_check.checked()" readonly/></p>
        <br>
        <p style="line-height:1.6;">l'altro genitore signor/signora: <input id="nominativo_altro_gen" name="nominativo_altro_gen" size="66" mandatory_enabled="#dich_inform_check.checked()"/></p>
        <p style="line-height:1.6;">residente a: <input id="resid_altro_gen" name="resid_altro_gen" size="25" mandatory_enabled="#dich_inform_check.checked()"/> &nbsp; al seguente indirizzo: <input id="via_altro_gen" name="via_altro_gen" size="31" mandatory_enabled="#dich_inform_check.checked()"/></p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo" name="Allegati" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="3">
        <p style="text-align: center; line-height: 1.6;"><b>Elenco degli allegati</b></p>
      </td>
    </tr>
    <tr class="Rigaintestazione">
      <td style="width:4%;">
        <p style="line-height: 1.6; font-size: 85%; text-align: center;">Si allega</p>
      </td>
      <td>
        <p style="line-height: 1.6; font-size: 85%; text-align: center;">Titolo allegato</p>
      </td>
      <td style="width:15%;">
        <p style="line-height: 1.6; font-size: 85%; text-align: center;">Numero documenti</p>
      </td>
    </tr>
    <tr class="Rigaintestazione">
      <td colspan="3">
        <p style="line-height:1.6; text-align: center;"><b>DOCUMENTI GENERALI</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; text-align: center; width:4%;">
        <input id="Anag_famil" name="Anag_famil" type="checkbox" dynamic_check="true" enabled="true" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6;">Copia del modulo <i>anagrafica del familiare trasferito nella nuova residenza</i> firmata con firma autografa da: <input class="" id="nominativo_firma" name="nominativo_firma" enabled="#Anag_famil.checked()" dynamic_value="!#check_minorenne2.checked() ? (#AltroFamiliare_Nome.value() + ' ' + #AltroFamiliare_Cognome.value()) : (#AventeTitolo_Nome.value() + ' ' + #AventeTitolo_Cognome.value())" size="60" style="text-align: center;" readonly/></p>
      </td>
      <td style="background-color: #eeeeee; vertical-align: center;">
        <p style="line-height: 1.6; text-align: center;"><input id="numero_copia_modulo" name="numero_copia_modulo" dynamic_value="'1'" style="width: 90%; text-align: center;" readonly/></p>
        <input id="GLOBO_allegato_cGEN-COPIA-MODULO-FIRMA-AU" name="GLOBO_allegato_cGEN-COPIA-MODULO-FIRMA-AU" obbligatorio="'OBBLIGATORIO'" type="hidden" value=""/>
      </td>
    </tr>
    <!--
    <tr>
      <td style="vertical-align: center; text-align: center; width:4%;">
        <input id="GEN_CDI" name="GEN_CDI" type="checkbox" dynamic_check="#altro_fam_verifica_ITA.value() == 'ITA'" enabled="#altro_fam_verifica_ITA.value() == 'ITA'" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6;">Copia del documento d'identità del familiare se maggiorenne e avente cittadinanza italiana</p>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input id="numero_doc_id" name="numero_doc_id" dynamic_value="#GEN_CDI.checked() ? '1' : 'Non richiesto'" style="width: 90%; text-align: center;" readonly/></p>
        <input id="GLOBO_allegato_cGEN-CDI" name="GLOBO_allegato_cGEN-CDI" obbligatorio="#GEN_CDI.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
      </td>
    </tr>
    
    <tr>
      <td style="vertical-align: top; text-align: center; width:4%;">
        <input id="GEN_DOC_STATO_CIV" name="GEN_DOC_STATO_CIV" type="checkbox" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6;">Copia degli atti originali, tradotti e legalizzati, comprovanti lo stato civile e la composizione della famiglia</p>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input id="numero_GEN_DOC_STATO_CIV" name="numero_GEN_DOC_STATO_CIV" style="width: 90%; text-align: center;" type="number" min="1" max="100" mandatory_enabled="#GEN_DOC_STATO_CIV.checked()"/></p>
        <input id="GLOBO_allegato_cM1103-A18-STATO-CIV" name="GLOBO_allegato_cM1103-A18-STATO-CIV" obbligatorio="#GEN_DOC_STATO_CIV.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value="" numero="#numero_GEN_DOC_STATO_CIV.value()"/>
      </td>
    </tr>
    -->
    <tr class="Rigaintestazione">
      <td colspan="3">
        <p style="line-height:1.6; text-align: center;"><b>DOCUMENTI SEZIONE ALLEGATO A</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; text-align: center; width:4%;">
        <input id="GEN_CDI_NO_UE" name="GEN_CDI_NO_UE" type="checkbox" dynamic_check="#altro_fam_verifica_non_UE.value() == 'non UE'" enabled="#altro_fam_verifica_non_UE.value() == 'non UE'" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6;">Copia del passaporto o documento equipollente in corso di validità, se maggiorenne e non avente cittadinanza UE</p>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input id="numero_doc_id_no_ue" name="numero_doc_id_no_ue" type="number" min="1" mandatory_enabled="#GEN_CDI_NO_UE.checked()" style="width: 90%; text-align: center;" readonly/></p>
        <input id="GLOBO_allegato_cM1103-A19-DOC-ID-NON-UE" name="GLOBO_allegato_cM1103-A19-DOC-ID-NON-UE" numero="#numero_doc_id_no_ue.value()" obbligatorio="#GEN_CDI_NO_UE.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width:4%;">
        <input id="GEN_TIT_SOGG" name="GEN_TIT_SOGG" type="checkbox" dynamic_check="#Tipo_cittadinanza_no_UE1.checked()" enabled="#Tipo_cittadinanza_no_UE1.checked()" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6;">Copia del titolo di soggiorno in corso di validità</p>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input id="numero_GEN_TIT_SOGG" name="numero_GEN_TIT_SOGG" style="width: 90%; text-align: center;" type="number" min="1" max="100" mandatory_enabled="#GEN_TIT_SOGG.checked()"/></p>
        <input id="GLOBO_allegato_cM1103-A03-TIT-SOGG" name="GLOBO_allegato_cM1103-A03-TIT-SOGG" obbligatorio="#GEN_TIT_SOGG.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value="" numero="#numero_GEN_TIT_SOGG.value()"/>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width:4%;">
        <input id="GEN_TIT_SOGG_SCAD" name="GEN_TIT_SOGG_SCAD" type="checkbox" dynamic_check="#Tipo_cittadinanza_no_UE2.checked()" enabled="#Tipo_cittadinanza_no_UE2.checked()" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6;">Copia del titolo di soggiorno scaduto</p>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input id="numero_GEN_TIT_SOGG_SCAD" name="numero_GEN_TIT_SOGG_SCAD" style="width: 90%; text-align: center;" type="number" min="1" max="100" mandatory_enabled="#GEN_TIT_SOGG_SCAD.checked()"/></p>
        <input id="GLOBO_allegato_cM1103-A04-TIT-SOGG-SCAD" name="GLOBO_allegato_cM1103-A04-TIT-SOGG-SCAD" obbligatorio="#GEN_TIT_SOGG_SCAD.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value="" numero="#numero_GEN_TIT_SOGG_SCAD.value()"/>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width:4%;">
        <input id="GEN_RIC_RICH_RINN" name="GEN_RIC_RICH_RINN" type="checkbox" dynamic_check="#Tipo_cittadinanza_no_UE2.checked()" enabled="#Tipo_cittadinanza_no_UE2.checked()" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6;">Ricevuta della richiesta di rinnovo del titolo di soggiorno</p>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input id="numero_GEN_RIC_RICH_RINN" name="numero_GEN_RIC_RICH_RINN" style="width: 90%; text-align: center;" type="number" min="1" max="100" mandatory_enabled="#GEN_RIC_RICH_RINN.checked()"/></p>
        <input id="GLOBO_allegato_cM1103-A05-RICH-RINN" name="GLOBO_allegato_cM1103-A05-RICH-RINN" obbligatorio="#GEN_RIC_RICH_RINN.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value="" numero="#numero_GEN_RIC_RICH_RINN.value()"/>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width:4%;">
        <input id="GEN_CONTR_SOGG" name="GEN_CONTR_SOGG" type="checkbox" dynamic_check="#Tipo_cittadinanza_no_UE3.checked()" enabled="#Tipo_cittadinanza_no_UE3.checked()" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6;">Copia del contratto di soggiorno presso lo Sportello Unico per l’immigrazione</p>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input id="numero_GEN_CONTR_SOGG" name="numero_GEN_CONTR_SOGG" style="width: 90%; text-align: center;" type="number" min="1" max="100" mandatory_enabled="#GEN_CONTR_SOGG.checked()"/></p>
        <input id="GLOBO_allegato_cM1103-A06-CONTR-SOGG" name="GLOBO_allegato_cM1103-A06-CONTR-SOGG" obbligatorio="#GEN_CONTR_SOGG.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value="" numero="#numero_GEN_CONTR_SOGG.value()"/>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; text-align: center; width:4%;">
        <input id="GEN_RIC_DOM_PERM_SOGG" name="GEN_RIC_DOM_PERM_SOGG" type="checkbox" dynamic_check="#Tipo_cittadinanza_no_UE3.checked() || #Tipo_cittadinanza_no_UE4.checked()" enabled="#Tipo_cittadinanza_no_UE3.checked() || #Tipo_cittadinanza_no_UE4.checked()" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6;">Ricevuta rilasciata dall’ufficio postale attestante l’avvenuta presentazione della richiesta di permesso di soggiorno</p>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input id="numero_GEN_RIC_DOM_PERM_SOGG" name="numero_GEN_RIC_DOM_PERM_SOGG" style="width: 90%; text-align: center;" type="number" min="1" max="100" mandatory_enabled="#GEN_RIC_DOM_PERM_SOGG.checked()"/></p>
        <input id="GLOBO_allegato_cM1103-A07-DOM-PERM-SOGG" name="GLOBO_allegato_cM1103-A07-DOM-PERM-SOGG" obbligatorio="#GEN_RIC_DOM_PERM_SOGG.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value="" numero="#numero_GEN_RIC_DOM_PERM_SOGG.value()"/>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; text-align: center; width:4%;">
        <input id="GEN_PERM_SOGG_LAV_SUB" name="GEN_PERM_SOGG_LAV_SUB" type="checkbox" dynamic_check="#Tipo_cittadinanza_no_UE3.checked()" enabled="#Tipo_cittadinanza_no_UE3.checked()" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6;">Domanda di rilascio del permesso di soggiorno per lavoro subordinato presentata allo Sportello Unico</p>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input id="numero_GEN_PERM_SOGG_LAV_SUB" name="numero_GEN_PERM_SOGG_LAV_SUB" style="width: 90%; text-align: center;" type="number" min="1" max="100" mandatory_enabled="#GEN_PERM_SOGG_LAV_SUB.checked()"/></p>
        <input id="GLOBO_allegato_cM1103-A08-DOM-PERM-SOGG-LAV-SUB" name="GLOBO_allegato_cM1103-A08-DOM-PERM-SOGG-LAV-SUB" obbligatorio="#GEN_PERM_SOGG_LAV_SUB.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value="" numero="#numero_GEN_PERM_SOGG_LAV_SUB.value()"/>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width:4%;">
        <input id="GEN_NULLA_OSTA" name="GEN_NULLA_OSTA" type="checkbox" dynamic_check="#Tipo_cittadinanza_no_UE4.checked()" enabled="#Tipo_cittadinanza_no_UE4.checked()" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6;">Copia (anche non autenticata) del nulla osta rilasciato dallo Sportello unico</p>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input id="numero_GEN_NULLA_OSTA" name="numero_GEN_NULLA_OSTA" style="width: 90%; text-align: center;" type="number" min="1" max="100" mandatory_enabled="#GEN_NULLA_OSTA.checked()"/></p>
        <input id="GLOBO_allegato_cM1103-A09-NULLA-OSTA" name="GLOBO_allegato_cM1103-A09-NULLA-OSTA" obbligatorio="#GEN_NULLA_OSTA.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value="" numero="#numero_GEN_NULLA_OSTA.value()"/>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo" name="Accettazione_Informativa_dati" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <div id="Presa_visione" name="Presa_visione" label="Dichiarazione presa visione" mandatory_enabled="true"> </div>
        <input group="Presa_visione" id="Presa_visione_check" name="Presa_visione_check" type="checkbox" value="1" />
      </td>
      <td colspan="2" style="background-color: #eeeeee;">
        <p style="line-height:1.6;"><b>Dichiaro di aver preso visione dell'<a href="https://sportello.comune.trento.it/document/inform-tratt-dati-residenza" target="_blank">informativa sul trattamento dei dati personali</a></b> <br><span style="font-size:85%"><i>(artt. 13 e 14 Regolamento UE n. 2016/679)</i></span></p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo simpatico-block" name="Luogo_e_data" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="width: 25%; text-align: center;">
        <input class="" id="Luogo_PDF" name="Luogo_PDF" style="width:80%; text-align: center;" type="text"/>
      </td>
      <td style="width: 25%; text-align: center;">
        <input class="" id="Data_PDF" name="Data_PDF" style="width:80%; text-align: center;" type="text"/>
      </td>
      <td style="width: 50%; text-align: center; height: 1.5cm;">
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td>
        <p class="Labelcella" style="text-align: center">Luogo</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Data</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Il familiare dichiarante <span style="font-size:95%"><i>(firma autografa)</i></span></p>
      </td>
    </tr>
  </tbody>
</table>

<br>
    
<p class="Modulo">
  <input id="SalvaModulo" name="SalvaModulo" style="height:30px;width:120px;" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza." type="submit" value="Salva modulo"/>
</p>


<input id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value=""/>

<input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden"/>
<input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden"/>
<input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}"/>

<input id="GLOBO_allegato_cINFORM-TRATT-DATI-RESIDENZA" name="GLOBO_allegato_cINFORM-TRATT-DATI-RESIDENZA" obbligatorio="''" type="hidden" value=""/>

{{utils.passaggio_metadati()}}
<!-- METADATI DICHIARANTE -->
<!--
<input id="Metadati_Compilante_Cognome" name="Metadati_Compilante_Cognome" type="hidden"/>
<input id="Metadati_Compilante_Nome" name="Metadati_Compilante_Nome" type="hidden"/>
<input id="Metadati_Compilante_CodiceFiscale" name="Metadati_Compilante_CodiceFiscale" type="hidden"/>
<br>

<input id="Referente99_Compilante_Cognome" name="Referente99_Compilante_Cognome" type="hidden"/>
<input id="Referente99_Compilante_Nome" name="Referente99_Compilante_Nome" type="hidden"/>
<input id="Referente99_Compilante_CodiceFiscale" name="Referente99_Compilante_CodiceFiscale" type="hidden"/>
-->
<!-- METADATI TITOLARE -->
<!--
<input id="Metadati_AventeTitolo_Cognome" name="Metadati_AventeTitolo_Cognome" type="hidden"/>
<input id="Metadati_AventeTitolo_Nome" name="Metadati_AventeTitolo_Nome" type="hidden"/>
<input id="Metadati_AventeTitolo_CodiceFiscale" name="Metadati_AventeTitolo_CodiceFiscale" type="hidden"/>
<input id="Metadati_AventeTitolo_datanasc" name="Metadati_AventeTitolo_datanasc" type="hidden"/>
<input id="Metadati_AventeTitolo_luogonasc" name="Metadati_AventeTitolo_luogonasc" type="hidden"/>
-->

<input id="AventeTitolo_Cognome" name="AventeTitolo_Cognome" type="hidden"/>
<input id="AventeTitolo_Nome" name="AventeTitolo_Nome" type="hidden"/>
<input id="AventeTitolo_CodiceFiscale" name="AventeTitolo_CodiceFiscale" type="hidden"/>
<input id="AventeTitolo_DataNascita" name="AventeTitolo_DataNascita" type="hidden"/>
<input id="AventeTitolo_LuogoNascita" name="AventeTitolo_LuogoNascita" type="hidden"/>
{% endblock content %}