{% set CodiceModulo =  "GEN-INTAGG-INIZIO-LAVORI-AU" %}
{% set Urn =  "document:c_l378:inizio.lavori;comunicazione.inizio.lavori;modulo.secondario.inizio.lavori.ulteriori.intestatari.firma.autografa" %}
<!--{% set modulo_workflow_model = "https://sportello.comune.trento.it/modulistica/moduli/GEN-INTAGG-AU_v1.0" %}-->
{% extends "base_trento_new.html" %}

{% block meta %}
<meta campi_firma="AventeTitolo_CodiceFiscale"
classi_modulo="Generale"
codice_modulo="{{ CodiceModulo }}"
urn="{{ Urn }}"
descrizione="Ulteriori intestatari del procedimento (firma autografa)"
destinatario_amministrazione=""
destinatario_ufficio=""
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="NO"
firmare="NO"
istruzioni_compilazione="ATTENZIONE: questo modulo deve essere compilato con i dati del sottoscrivente."
istruzioni_invio=""
metodo_invio=""
name="GLOBO_modulo"
procura="NO,,"
tipo_modulo="secondario"
ufficio=""
urlhelp="/modulistica/moduli/GEN-INTAGG-INIZIO-LAVORI-AU"
verifica_pagamento="NO"
versione="1.1|03/06/2016"/>

<meta codice_allegato="GEN-CDI"
urn_allegato="document:c_l378:allegato.copia.documento.identita"
descrizione_estesa="Documento di identità"
filename="Documento identita.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-CDI"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-ULT-INT-AU"
urn_allegato="document:c_l378:allegato.copia.modulo.firma.autografa"
descrizione_estesa="Scansione stampa modulo ulteriori intestatari firmata"
filename="GEN-ULT-INT-AU.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-ULT-INT-AU"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<!-- *********** INIZIO ATTIVAZIONE STRUMENTI SIMPATICO *********** 
<script type="text/javascript">
    var simpaticoEservice="5_3"
    var simpaticoForm="modulo_secondario_ulteriori_intestatari_firma_autografa"
    var simpaticoCategory="Edilizia"
    var simpaticoMapping=[ "AventeTitolo_EMailPEC","AventeTitolo_Fax","AventeTitolo_EMail"]
    var ERROR_LABELS= {   
      'block1' : 'Inserire il codice fiscale',
      'block2' : 'Selezionare il ruolo',
      'block4' : 'Definire il ruolo'
      }
  
    </script>
*********** FINE ATTIVAZIONE STRUMENTI SIMPATICO *********** -->

{% endblock meta %}

<!--{% block simpaticoconfig %}
{% set simpaticoEservice="1" %}
{% set simpaticoEserviceName="M47750 AUTORIZZAZIIONE CPC" %}
{% set simpaticoEserviceURL="https://sportello.comune.trento.it/modulistica/moduli/M47750-AUTORIZZAZIONE-CPC" %}
{% set simpaticoForm="main" %}
{% set simpaticoCategory="Edilizia" %}
{% set simpaticoMapping=[ "AventeTitolo_EMailPEC","AventeTitolo_Fax","AventeTitolo_EMail"] %}
{% set ERROR_LABELS=[   ('block1' , 'Selezionare una delle opzioni'),
                        ('block2' , 'Inserire il codice fiscale'),
                        ('block3' , 'Selezionare il ruolo'),
                        ('block5' , 'Selezionare la tipologia di autorizzazione/parere richiesta'),
                        ('block7' , 'Specificare la tipologia di intervento'),
                        ('block8' , 'Particella edilizia non valida'),
                        ('block9' , 'Indirizzo non inserito'),
                        ('block10' , 'Indirizzo non verificato'),
                        ('block12' , 'Selezionare una delle opzioni'),
                        ('block13' , 'Definire il ruolo'),
                        ('block14' , 'Inserire il codice fiscale'),
                        ('block15' , 'Selezionare una delle opzioni'),
                        ('block17' , 'Confermare presa visione informativa sulla privacy')] %}
{{ utilsSimpatico.ScriptSimpatico(simpaticoEservice, simpaticoEserviceName, simpaticoEserviceURL, simpaticoForm, simpaticoCategory, simpaticoMapping, ERROR_LABELS ) }}
{% endblock simpaticoconfig %}-->


{% block title %}
   Ulteriori intestatari del procedimento
{% endblock title %}

{% block content %}
 <globo_fondo_pagina areaheight="150" scope="1">
 {{ utils.firma() }}
</globo_fondo_pagina>

{{intestazioni.intestazione_modulosecondario_senzabollo()}}
 <input checked="checked" dynamic_check="true" id="SempreSI" name="SempreSI" type="hidden" value="SI"/>

<h1 class="Modulo">
 Ulteriori intestatari del procedimento
</h1>

<!-- simpatico start -->
<div class="simpatico-block simpatico-query-and-answer">
<!-- simpatico end -->

<table class="Modulo" style="border:1px solid grey" mandatory="true">
   <tbody>
     <tr class="Rigaintestazione">
       <td colspan="6">
         <p><b>Il sottoscritto</b></p>
       </td>
     </tr>
     <tr class="Rigaintestazioneridotta">
       <td colspan="2" style="width:33%;">
         <p class="Labelcella">Cognome</p>
       </td>
       <td colspan="2" style="width:33%;">
         <p class="Labelcella">Nome</p>
       </td>
       <td colspan="2" style="width:33%;">
         <p class="Labelcella">Codice Fiscale</p>
       </td>
      </tr>
      <tr>
       <td colspan="2" style="width:33%;">
         <input class="" id="AventeTitolo_Cognome" name="AventeTitolo_Cognome" style="width:100%" label="Cognome del firmatario"/>
       </td>
       <td colspan="2" style="width:33%;">
         <input class="" id="AventeTitolo_Nome" name="AventeTitolo_Nome" style="width:100%" label="Nome del firmatario"/>
       </td>
       <td colspan="2" style="width:33%;">
         <input class="" id="AventeTitolo_CodiceFiscale" name="AventeTitolo_CodiceFiscale" style="width:100%" format="cf" label="Il codice fiscale del firmatario"/>
       </td>
      </tr>
      <tr class="Rigaintestazioneridotta" style="border-top:0px">
       <td style="width:20%;">
         <p class="Labelcella">Data di nascita</p>
       </td>
       <td style="width:10;">
         <p class="Labelcella">Sesso (M/F)</p>
       </td>
       <td colspan="2">
         <p class="Labelcella">Nazionalità</p>
       </td>
       <td colspan="2">
         <p class="Labelcella">Luogo di nascita</p>
       </td>
      </tr>
      <tr>
       <td style="width:20%;">
         <input class="" id="AventeTitolo_DataNascita" name="AventeTitolo_DataNascita" style="width:100%;" format="date" label="Data di nascita del firmatario"/>
       </td>
       <td style="width:10%;">
         <select class="inputNormal" id="AventeTitolo_Sesso" name="AventeTitolo_Sesso" style="width:100%;" label="Sesso del firmatario">
           <option value=""></option>
           <option value="M">M</option>
           <option value="F">F</option>
         </select>
       </td>
       <td colspan="2">
         {{ utils.nazionalita("AventeTitolo_Nazionalita", "Nazionalità")}}
       </td>
       <td colspan="2">
         <input class="" id="AventeTitolo_LuogoNascita" name="AventeTitolo_LuogoNascita" style="width:100%;" label="Luogo di nascita del firmatario"/>
       </td>
     </tr>
   </tbody>
 </table>

 <table class="Modulo" style="border:1px solid grey" mandatory="true">
   <tbody>
     <tr class="Rigaintestazioneridotta">
       <td colspan="5">
         <p class="Labelcella"><b>Residenza</b></p>
       </td>
     </tr>
     <tr class="Rigaintestazioneridotta">
       <td style="width:10%;">
         <p class="Labelcella">Provincia</p>
       </td>
       <td style="width:33%;">
         <p class="Labelcella">Comune</p>
       </td>
       <td style="width:33%;">
         <p class="Labelcella">Indirizzo</p>
       </td>
       <td style="width:12%;">
         <p class="Labelcella">Civico</p>
       </td>
       <td style="width:12%;">
         <p class="Labelcella">CAP</p>
       </td>
    </tr>
    <tr>
      <td style="width:10%;">
       {{ utils.provincie("AventeTitolo_ProvinciaResidenza", "Provincia di residenza")}}
      </td>
      <td style="width:33%;">
        <select class="inputNormal" id="AventeTitolo_ComuneResidenza" name="AventeTitolo_ComuneResidenza" style="width:100%" label="Comune di residenza del firmatario"
        dynamic_value="getComuniFromProvincia( #AventeTitolo_ProvinciaResidenza.value(), 'AventeTitolo_ComuneResidenza')">
        </select>
      </td>
      <td style="width:33%;">
       <input class="" id="AventeTitolo_ViaResidenza" name="AventeTitolo_ViaResidenza" style="width:100%;" label="Via di residenza del firmatario"/>
      </td>
      <td style="width:12%;">
       <input class="" id="AventeTitolo_CivicoResidenza" name="AventeTitolo_CivicoResidenza" style="width:100%;" label="Civico di residenza del firmatario" maxlength="10"/>
      </td>
      <td style="width:12%;">
       <input class="" id="AventeTitolo_CAPResidenza" name="AventeTitolo_CAPResidenza" style="width:100%;" format="cap" label="CAP di residenza del firmatario" mandatory="#AventeTitolo_ProvinciaResidenza.value() != 'EE'"/>
      </td>
    </tr>
  </tbody>
</table>

<table class="Modulo" style="border:1px solid grey" mandatory="true">
  <tbody>
    <tr class="Rigaintestazioneridotta">
      <td colspan="4">
        <p class="Labelcella"><b>Recapito</b></p>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td style="width:20%;">
        <p class="Labelcella">
          Telefono
        </p>
      </td>
      <td style="width:20%;">
        <p class="Labelcella">
          Fax
        </p>
      </td>
      <td style="width:30%;">
        <p class="Labelcella">
          E-mail
            <i>
              (posta elettronica ordinaria)
            </i>
        </p>
      </td>
      <td style="width:30%;">
        <p class="Labelcella">
          E-mail PEC
            <i>
            (domicilio digitale)
            </i>
        </p>
      </td>
    </tr>
    <tr>
      <td style="width:20%;">
        <input class="inputNormal" id="AventeTitolo_Telefono" label="Telefono del firmatario" name="AventeTitolo_Telefono" style="width:100%"/>
      </td>
      <td style="width:20%;">
        <input class="inputNormal" id="AventeTitolo_Fax" label="Fax del firmatario" mandatory="false" name="AventeTitolo_Fax" style="width:100%"/>
      </td>
      <td style="width:30%;">
        <input class="inputNormal" format="email" id="AventeTitolo_EMail" label="E-mail ordinaria del firmatario" mandatory="false" name="AventeTitolo_EMail" style="width:100%;"/>
      </td>
      <td style="width:30%;">
        <input class="inputNormal" format="pec" id="AventeTitolo_EMailPEC" label="E-mail PEC del firmatario" mandatory="false" name="AventeTitolo_EMailPEC" style="width:100%;" />
      </td>
    </tr>
   </tbody>
</table>

<!-- simpatico start -->
</div>
<!-- simpatico end -->

<input dynamic_value="#AventeTitolo_Cognome.value().toUpperCase() + ' - ulteriore intestatario firma autografa'" id="Oggetto" name="Oggetto" type="hidden"/>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border:1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td>
        <p><b>in qualità di</b></p>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td>
        <p class="Labelcella">Ruolo</p>
      </td>
    </tr>
    <tr>
      <td>
        <select class="inputNormal" id="AventeTitolo_Ruolo" name="AventeTitolo_Ruolo" style="width:100%;" mandatory_enabled="true" label="Ruolo del firmatario">
          <option value=""></option>
          <option value="Persona fisica">Persona fisica</option>
          <option value="Legale rappresentante">Legale rappresentante</option>
          <option value="Amministratore di condominio">Procuratore</option>
        </select>
      </td>
    </tr>
  </tbody>
</table>

<!-- simpatico start -->
<div class="simpatico-block simpatico-query-and-answer">
<!-- simpatico end -->

<table class="Modulo" style="border:1px solid grey">
  <tbody>
    <tr class="Rigaintestazioneridotta">
      <td style="width:75%;">
        <p class="Labelcella"><b>Denominazione/Ragione sociale (questa sezione deve essere compilata se il dichiarante non è la persona fisica)</b></p>
      </td>
      <td style="width:25%;">
        <p class="Labelcella">Tipologia</p>
      </td>
    </tr>
    <tr mandatory_enabled="#AventeTitolo_Ruolo.check_value(['Legale rappresentante', 'Amministratore di condominio'])">
      <td style="width:75%;">
        <input class="" id="AventeTitolo_Denominazione" name="AventeTitolo_Denominazione" style="width:100%" label="Denominazione/Ragione sociale"/>
      </td>
      <td style="width:25%;">
        {{ utils.tipologiaimpresa('AventeTitolo_TipologiaImpresa')}}
      </td>
    </tr>
  </tbody>
</table>

<table class="Modulo" style="border:1px solid grey" mandatory="true">
  <tbody>
    <tr class="Rigaintestazioneridotta">
      <td colspan="6">
        <p class="Labelcella"><b>Sede legale</b></p>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td style="width:10%;">
        <p class="Labelcella">Provincia</p>
      </td>
      <td style="width:33%;">
        <p class="Labelcella">Comune</p>
      </td>
      <td style="width:33%;">
        <p class="Labelcella">Indirizzo</p>
      </td>
      <td style="width:12%;">
        <p class="Labelcella">Civico</p>
      </td>
      <td style="width:12%;">
        <p class="Labelcella">CAP</p>
      </td>
    </tr>
    <tr mandatory_enabled="#AventeTitolo_Ruolo.check_value(['Legale rappresentante', 'Amministratore di condominio'])">
      <td>
        {{utils.provincie( 'AventeTitolo_ProvinciaSede', label="Provincia della sede legale")}}
      </td>
      <td>
        <select class="inputNormal" id="AventeTitolo_ComuneSede" name="AventeTitolo_ComuneSede" style="width:100%" label="Comune della sede legale" dynamic_value="getComuniFromProvincia( #AventeTitolo_ProvinciaSede.value(), 'AventeTitolo_ComuneSede')">
        </select>
      </td>
      <td>
        <input class="" id="AventeTitolo_ViaSede" name="AventeTitolo_ViaSede" style="width:100%;" label="Indirizzo della sede legale"/>
      </td>
      <td>
        <input class="" id="AventeTitolo_CivicoSede" name="AventeTitolo_CivicoSede" style="width:100%;" label="Civico della sede legale" maxlength="10"/>
      </td>
      <td>
        <input class="" id="AventeTitolo_CAPSede" name="AventeTitolo_CAPSede" style="width:100%;" format="cap" label="CAP della sede legale" enabled="#AventeTitolo_Ruolo.check_value(['Legale rappresentante', 'Amministratore di condominio'])" mandatory="#AventeTitolo_Ruolo.check_value(['Legale rappresentante', 'Amministratore di condominio']) and #AventeTitolo_ProvinciaSede.value() != 'EE'"/>
      </td>
    </tr>
  </tbody>
</table>

<table class="Modulo" style="border:1px solid grey" mandatory="true">
  <tbody>
    <tr class="Rigaintestazioneridotta">
      <td colspan="2">
        <p class="Labelcella">Codice Fiscale / Partita IVA </p>
      </td>
      <td>
        <p class="Labelcella">E-mail PEC (domicilio digitale)</p>
      </td>
    </tr>
    <tr mandatory_enabled="#AventeTitolo_Ruolo.check_value(['Legale rappresentante', 'Amministratore di condominio'])">
      <td colspan="2">
        <input class="" id="AventeTitolo_CFPI" name="AventeTitolo_CFPI" label="Codice fiscale" style="width:100%;" format="cfpiva"/>
      </td>
      <td>
        <input class="" id="AventeTitolo_APEC" name="AventeTitolo_APEC" label="PEC Azienda" style="width:100%;" format="pec" />
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td colspan="2">
        <p class="Labelcella">Telefono</p>
      </td>
      <td>
        <p class="Labelcella">Fax</p>
      </td>
    </tr>
    <tr mandatory_enabled="#AventeTitolo_Ruolo.check_value(['Legale rappresentante', 'Amministratore di condominio'])">
      <td colspan="2">
        <input class="" id="AventeTitolo_TelefonoSede" name="AventeTitolo_TelefonoSede" label="Telefono della sede legale" style="width:100%;"/>
      </td>
      <td>
        <input class="" id="AventeTitolo_FaxSede" name="AventeTitolo_FaxSede" label="Fax della sede legale" style="width:100%;" mandatory="false"/>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td style="width:50%">
        <p class="Labelcella">Iscrizione al Registro Imprese della Camera di Commercio</p>
      </td>
      <td style="width:9%">
        <p class="Labelcella">Provincia</p>
      </td>
      <td style="width:41%">
        <p class="Labelcella">Numero iscrizione</p>
      </td>
    </tr>
    <tr>
      <td>
        <select class="inputNormal" id="AventeTitolo_Attributi_IscrittoCCIAA" name="AventeTitolo_Attributi_IscrittoCCIAA" label="Iscrizione al Registro Imprese della Camera di Commercio" style="width:100%" mandatory_enabled="#AventeTitolo_Ruolo.check_value(['Legale rappresentante', 'Amministratore di condominio'])">
          <option value=""></option>
          <option value="iscritto">iscritto</option>
          <option value="in attesa di iscrizione">in attesa di iscrizione</option>
          <option value="non tenuto all'iscrizione">non tenuto all'iscrizione</option>
        </select>
      </td>
      <td mandatory_enabled="#AventeTitolo_Attributi_IscrittoCCIAA.check_value([ 'iscritto','in attesa di iscrizione' ])">
        {{utils.provincie( 'AventeTitolo_Attributi_CCIAAProv', label="Provincia iscrizione al Registro Imprese della Camera di Commercio")}}
      </td>
      <td mandatory_enabled="#AventeTitolo_Attributi_IscrittoCCIAA.check_value([ 'iscritto' ])">
        <input class="" id="AventeTitolo_Attributi_CCIAANumero" name="AventeTitolo_Attributi_CCIAANumero" label="Numero iscrizione al Registro Imprese della Camera di Commercio" style="width:100%"/>
      </td>
    </tr>
  </tbody>
</table>

<!-- simpatico start -->
</div>
<!-- simpatico end -->

<!--<input id="AventeTitolo_Attributi_CCIAAProv_categoria" 		name="AventeTitolo_Attributi_CCIAAProv_categoria" 		type="hidden" value="Altri dati"/>
<input id="AventeTitolo_Attributi_CCIAAProv_nome" 			name="AventeTitolo_Attributi_CCIAAProv_nome" 			type="hidden" value="Provincia registro imprese Camera Commercio"/>
<input id="AventeTitolo_Attributi_CCIAANumero_categoria" 	name="AventeTitolo_Attributi_CCIAANumero_categoria" 	type="hidden" value="Altri dati"/>
<input id="AventeTitolo_Attributi_CCIAANumero_nome" 		name="AventeTitolo_Attributi_CCIAANumero_nome" 			type="hidden" value="Numero iscrizione registro imprese Camera Commerci"/>
<input id="AventeTitolo_Attributi_IscrittoCCIAA_categoria" 	name="AventeTitolo_Attributi_IscrittoCCIAA_categoria" 	type="hidden" value="Altri dati"/>
<input id="AventeTitolo_Attributi_IscrittoCCIAA_nome" 		name="AventeTitolo_Attributi_IscrittoCCIAA_nome" 		type="hidden" value="Iscrizione registro imprese Camera Commercio"/>-->

<br>

<!-- simpatico start -->
<div class="simpatico-block simpatico-query-and-answer">
<!-- simpatico end -->

{{ utils.Dichiara_445() }}

<!-- Tabella dei titoli Inizio -->
<table class="Modulo" style="border:1px solid grey;">
  <tbody>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input id="dich1" name="dich1" type="checkbox" value="1" mandatory_enabled="true"/>
      </td>
      <td>
        <p>di avere titolo idoneo alla realizzazione dei lavori in quanto cointestatario del permesso di costruire prot.nr. <input class="" id="Prot_perm_costr" name="Prot_perm_costr" dynamic_value="#Metadati_Prot_concessione.value()" label="Numero di protocollo della concessione edilizia" size="16" mandatory_enabled="true"/> di data <input class="" id="Data_perm_costr" name="Data_perm_costr" dynamic_value="#Metadati_Data_concessione.value()" label="Data della concessione edilizia" format="date" size="8" mandatory_enabled="true"/></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input id="dich2" name="dich2" type="checkbox" value="2" mandatory_enabled="true"/>
      </td>
      <td>
        <p>di aver preso visione e di condividere quanto dichiarato dal titolare</p>
      </td>
    </tr>
  </tbody>
</table>

<!-- simpatico start -->
</div>
<!-- simpatico end -->

<br>
<br>


<table class="Modulo simpatico-block simpatico-query-and-answer" name="Allegati" style="border:1px solid grey">
 <tbody>
  <tr class="Rigaintestazione">
   <td colspan="2">
    <p style="text-align: center;">
     <b>
      Elenco degli allegati
     </b>
     <br/>
     <span style="font-size:70%">
      <i>
       (barrare tutti gli allegati richiesti in fase di presentazione della pratica ed elencati sul portale)
      </i>
     </span>
    </p>
   </td>
  </tr>
  <tr>
   <td style="vertical-align: top; width:4%">
    <input id="GEN_CDI" name="GEN_CDI" type="checkbox" dynamic_check="true" checked="checked" value="OBBLIGATORIO"/>
   </td>
   <td style="background-color: #eeeeee;">
    <p>
     copia del documento d'identità
     <br/>
   </p>
   </td>
  </tr>
  <tr>
   <td style="vertical-align: top; width:4%">
    <input id="ULT_INT_AU" name="ULT_INT_AU" type="checkbox" dynamic_check="true" checked="checked" value="OBBLIGATORIO"/>
   </td>
   <td style="background-color: #eeeeee;">
    <p>
     scansione della stampa di questo modulo firmata
     <br/>
   </p>
   </td>
  </tr>

 </tbody>
</table>

<br/>

<!-- simpatico start -->
<div class="simpatico-block">
<!-- simpatico end -->
 {{ utils.firma_hidden() }}
 </div>

 <br/>

 <p class="Modulo">
  <input id="SalvaModulo" name="SalvaModulo" style="height:30px;width:120px;" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza." type="submit" value="Salva modulo"/>
 </p>
 
 <input id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value=""/>
 
 <input id="GLOBO_allegato_cGEN-CDI" name="GLOBO_allegato_cGEN-CDI" obbligatorio="#GEN_CDI.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
 
 <input id="GLOBO_allegato_cGEN-ULT-INT-AU" name="GLOBO_allegato_cGEN-ULT-INT-AU" obbligatorio="#ULT_INT_AU.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
 
 <input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden"/>
 
 <input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden"/>
 
 <input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}"/>
 

 {{ utils.passaggio_metadati() }}
<input id="Metadati_Prot_concessione" name="Metadati_Prot_concessione" type="hidden"/>
<input id="Metadati_Data_concessione" name="Metadati_Data_concessione" type="hidden"/>

 {% endblock content %}