{% set CodiceModulo = "M47500-SEGNALAZIONE-CERTIFICATA-INIZIO-ATTIVITA" %}
{% set Urn =  "document:c_l378:segnalazione.certificata.inizio.attivita;scia;modulo.scia" %}
<!--{% set modulo_workflow_model =  "https://sportello.comune.trento.it/modulistica/moduli/M47500-SEGNALAZIONE-CERTIFICATA-INIZIO-ATTIVITA_vSTU3" %}-->
{% extends "base_trento_new.html" %}

{% block meta %}

<meta campi_firma="AventeTitolo_CodiceFiscale"
campi_firma_label="il dichiarante"
classi_modulo="Tributi"
codice_modulo="{{ CodiceModulo }}"
urn="{{ Urn }}"
sub_urn_list=""
uo_globo_list=""
contesto_procedurale="Segnalazione certificata di inizio attività"
descrizione="Segnalazione certificata di inizio attività"
destinatario_amministrazione=""
destinatario_ufficio="OE7NEF"
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="NO"
firmare="NO"
istruzioni_compilazione=""
istruzioni_invio="mail_pec"
metodo_invio="mail"
name="GLOBO_modulo"
procura="NO,,"
segnatura="AventeTitolo"
tipo_modulo="principale"
urlhelp="DomandeRisposte/FAQ"
verifica_pagamento="NO"
versione="1.0|09/02/2018" />

<meta codice_report="CSP_SESSION_REPORT"
generate_on="sending"
name="GLOBO_report"
urn_report="report:CSP_SESSION_REPORT"
/>

<!-- *********** INIZIO ATTIVAZIONE STRUMENTI SIMPATICO *********** -->
<!--<script type="text/javascript">
    var simpaticoEservice="7"
    var simpaticoForm="main"
    var simpaticoCategory="Edilizia"
    var simpaticoMapping=[ "AventeTitolo_EMailPEC",
                           "AventeTitolo_Fax",
                           "AventeTitolo_EMail"]
    var ERROR_LABELS= {   
                        'block1' : 'Selezionare una delle opzioni',
                        'block2' : 'Inserire il codice fiscale',
                        'block3' : 'Selezionare il ruolo',
                        'block5' : 'Inserire i dati richiesti',
                        'block6' : 'Data inizio lavori non inserita oppure particella edilizia non valida',
                        'block7' : 'Indirizzo non inserito',
                        'block8' : 'Indirizzo non verificato',
                        'block10' : 'Inserire il codice fiscale e indicare presa conoscenza',
                        'block11' : 'Selezionare una delle opzioni',
                        'block12' : 'Inserire il codice fiscale',
                        'block13' : 'Selezionare una delle opzioni',
                        'block14' : 'Selezionare una delle opzioni',
                        'block15' : 'Selezionare una delle opzioni',
                        'block16' : 'Indicare se richiesto invio della notifica',
                        'block18' : 'Confermare presa visione informativa sulla privacy'
      }
  
    </script>-->
  <!-- *********** FINE ATTIVAZIONE STRUMENTI SIMPATICO *********** -->

{% endblock meta %}

<!--{% block simpaticoconfig %}
{% set simpaticoEservice="1" %}
{% set simpaticoEserviceName="M47750 AUTORIZZAZIIONE CPC" %}
{% set simpaticoEserviceURL="https://sportello.comune.trento.it/modulistica/moduli/M47750-AUTORIZZAZIONE-CPC" %}
{% set simpaticoForm="main" %}
{% set simpaticoCategory="Edilizia" %}
{% set simpaticoMapping=[ "AventeTitolo_EMailPEC","AventeTitolo_Fax","AventeTitolo_EMail"] %}
{% set ERROR_LABELS=[   ('block1' , 'Selezionare una delle opzioni'),
                        ('block2' , 'Inserire il codice fiscale'),
                        ('block3' , 'Selezionare il ruolo'),
                        ('block5' , 'Selezionare la tipologia di autorizzazione/parere richiesta'),
                        ('block7' , 'Specificare la tipologia di intervento'),
                        ('block8' , 'Particella edilizia non valida'),
                        ('block9' , 'Indirizzo non inserito'),
                        ('block10' , 'Indirizzo non verificato'),
                        ('block12' , 'Selezionare una delle opzioni'),
                        ('block13' , 'Definire il ruolo'),
                        ('block14' , 'Inserire il codice fiscale'),
                        ('block15' , 'Selezionare una delle opzioni'),
                        ('block17' , 'Confermare presa visione informativa sulla privacy')] %}
{{ utilsSimpatico.ScriptSimpatico(simpaticoEservice, simpaticoEserviceName, simpaticoEserviceURL, simpaticoForm, simpaticoCategory, simpaticoMapping, ERROR_LABELS ) }}
{% endblock simpaticoconfig %}-->


{% block title %}M47500-SEGNALAZIONE-CERTIFICATA-INIZIO-ATTIVITA{% endblock title %}


{% block content %}

<input dynamic_value="#Ente.value()" id="Parametri_Comune" name="Parametri_Comune" type="hidden" />

<input dynamic_value="#AventeTitolo_Cognome.value().toUpperCase() + ' - Segnalazione certificata di inizio attività'" id="Oggetto" name="Oggetto" type="hidden" />

{{ intestazioni.intestazione_moduloprincipale_senzabollo() }}

<div class="simpatico-block simpatico-query-and-answer">
  <h1 class="Modulo" style="text-align: center;">SEGNALAZIONE CERTIFICATA DI INIZIO ATTIVITA'<br>
    <span style="font-size:75%">(artt. 85 e ss. della legge provinciale del 4 agosto 2015, n. 15)</span>
</h1>

<br>

  <table class="Modulo" style="border: 1px solid grey">
    <tbody>
      <tr class="Rigaintestazione">
        <td colspan="2">
          <p style="line-height:1.4;"><b>La compilazione del modulo seguente viene eseguita da:</b></p>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top; width: 4%;">
          <div id="Tipo_richiedente" name="Tipo_richiedente" label="Tipo richiedente" mandatory_enabled="true"> </div>
          <input group="Tipo_richiedente" id="Tipo_richiedente1" name="Tipo_richiedente" type="radio" value="1" />
        </td>
        <td>
          <p style="line-height:1.4;">Titolare o soggetto in possesso di titolo idoneo alla presentazione dell'istanza</p>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top; width: 4%;">
          <input group="Tipo_richiedente" id="Tipo_richiedente2" name="Tipo_richiedente" type="radio" value="2" />
        </td>
        <td>
          <p style="line-height:1.4;">Progettista incaricato</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<br>
<br>

{{anagrafica_trento.titolare("AventeTitolo","Il/La sottoscritto/a, avente codice fiscale:", ["Persona fisica","Legale rappresentante","Amministratore di condominio"], "visibility:visibility", "cursor:pointer", "visibility:visibility")}} 

<br>
<br>

<h1 class="Modulo" style="text-align: center;">DICHIARA</h1>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border:1px solid grey;">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p style="line-height:1.4;">
          <b>di essere soggetto abilitato alla presentazione dell'istanza in quanto</b>
        </p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="Parametri_Titolo" name="Parametri_Titolo" label="Parametri titolo sottoscrivente" mandatory_enabled="true"></div>
        <input id="Parametri_Titolo1" name="Parametri_Titolo" type="radio" value="1" />
      </td>
      <td>
        <p style="line-height:1.4;">Proprietario</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input id="Parametri_Titolo2" name="Parametri_Titolo" type="radio" value="2" />
      </td>
      <td>
        <p style="line-height:1.4;">Comproprietario</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input id="Parametri_Titolo4" name="Parametri_Titolo" type="radio" value="4" />
      </td>
      <td>
        <p style="line-height:1.4;">Titolare di diritto contrattuale (locatario, titolare di leasing, etc.)</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input id="Parametri_Titolo3" name="Parametri_Titolo" type="radio" value="3" />
      </td>
      <td>
        <p style="line-height:1.4;">Altro: <input class="" id="Tipo_Parametri_Titolo3" name="Tipo_Parametri_Titolo3" label="Altro titolo" mandatory_enabled="#Parametri_Titolo3.checked()" style="width:94%;"/></p>
      </td>
    </tr>
  </tbody>
</table>

<br>
  
<table class="Modulo simpatico-block simpatico-query-and-answer" style="border:1px solid grey;">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p style="line-height:1.4;"><b>Esclusivita' del titolo</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="Tassonomia_Titolo" name="Tassonomia_Titolo" label="Titolo sottoscrivente" mandatory_enabled="true"></div>
        <input id="Tassonomia_Titolo1" name="Tassonomia_Titolo" type="radio" value="1" />
      </td>
      <td>
        <p style="line-height:1.4;">intestatario unico</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input id="Tassonomia_Titolo2" name="Tassonomia_Titolo" type="radio" value="2" />
      </td>
      <td>
        <p style="line-height:1.4;">primo intestatario di altri soggetti</p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p style="line-height:1.4;"><b>I lavori vengono eseguiti</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="Modalita_lavori" name="Modalita_lavori" label="Modalita lavori" mandatory_enabled="true"> </div>
        <input id="Modalita_lavori1" group="Modalita_lavori" name="Modalita_lavori" type="radio" value="1" />
      </td>
      <td>
        <p style="line-height:1.4;">in economia</p>
        <span style="font-size:80%;"><i>(in quanto opere di modesta entità che non interessano le specifiche normative di settore)</i></span>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input id="Modalita_lavori2" group="Modalita_lavori" name="Modalita_lavori" type="radio" value="2" />
      </td>
      <td>
        <p style="line-height:1.4;">dall'impresa incaricata</p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<input id="Immobile_DatiCatastaliObbligatori" name="Immobile_DatiCatastaliObbligatori" dynamic_check="true" type="hidden"/>

  {{ immobili_trento.immobile_trento("Immobile", "I lavori interessano le seguenti realtà immobiliari:", disattivato="true") }}

<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td>
        <p style="line-height:1.4;"> <b>DESCRIZIONE DELL'INTERVENTO </b> </p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <textarea class="inputNormal" id="Parametri_Esecuzione" name="Parametri_Esecuzione" label="Per esecuzione intervento di:" style="width:100%;height:3cm" mandatory_enabled="true" ></textarea>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<h1 class="Modulo" style="text-align: center;">COMUNICA</h1>

<input id="Titolare1_DatiProfessionistaObbligatori" name="Titolare1_DatiProfessionistaObbligatori" dynamic_check="true" type="hidden" />
<input id="Titolare1_DatiAlboProfessionistaObbligatori" name="Titolare1_DatiAlboProfessionistaObbligatori" dynamic_check="true" type="hidden" />
<div class="simpatico-block simpatico-query-and-answer">
  {{anagrafica.progettista_opzionale("Titolare1","IL PROGETTISTA INCARICATO","Professionista","visibility:visibility","cursor:pointer","","visibility:visibility","provinciale","no") }}
  <table class="Modulo" style="border:1px solid grey;">
    <tbody>
      <tr>
        <td>
          <input style="width:100%" class="Modulo" id="coerenza_richiedente" name="coerenza_richiedente" dynamic_value="#Tipo_richiedente2.checked() and #AventeTitolo_CodiceFiscale.value() == #Titolare1_CodiceFiscale.value() ? 'ATTENZIONE: il richiedente e il professionista indicati sono la medesima persona!' : 'OK: proseguire la compilazione'">
        </td>
      </tr>
    </tbody>
  </table>

  <input type="hidden" class="Modulo" id="verifica_coerenza_richiedente" name="verifica_coerenza_richiedente" dynamic_value="#coerenza_richiedente.value() == 'ATTENZIONE: il richiedente e il progettista indicato sono la medesima persona!' ? '' : 'OK'" mandatory="true" label="Compilazione eseguita come professionista ma i CF di richiedente e professionista coincidono, verificare correttezza dei dati immessi">

</div>

<br>
<br>

<div class="simpatico-block simpatico-query-and-answer">
  {{anagrafica_trento.professionista_direttore_lavori("Titolare2","<b>IL DIRETTORE DEI LAVORI</b>:","Direttore dei lavori") }}
  
</div>

<br>
<br>

<div class="simpatico-block simpatico-query-and-answer">
  {{anagrafica_trento.domicilio_digitale(id_pec_personale="AventeTitolo_EMailPEC",id_cognome_professionista="Titolare1_Cognome",id_nome_professionista="Titolare1_Nome",id_pec_professionista="Titolare1_EMailPEC",id_pec_societa="AventeTitolo_APEC")}}
  <input id="Metadati_Dom_Digi" name="Metadati_Dom_Digi" dynamic_value="(#Tassonomia_DomDigi1.checked() ? #AventeTitolo_EMailPEC.value() : 0 || #Tassonomia_DomDigi2.checked() ? #Titolare1_EMailPEC.value() : 0 || #Tassonomia_DomDigi3.checked() ? #AventeTitolo_APEC.value() : 0)" type="hidden"/>
</div>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" name="consapevolezza_sanz_penali" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td>
        <p style="line-height:1.4;">Il <b>titolare</b> consapevole delle sanzioni penali previste dal codice penale e dalle leggi speciali in materia per le  dichiarazioni non veritiere e per la falsità in atti, risponde ai sensi degli articoli 47 e 76 del D.P.R. 28 dicembre 2000, n. 445 recante <i>"Testo unico delle disposizioni legislative e regolamentari in materia di documentazione amministrativa"</i>, per le attestazioni e le dichiarazioni contenute nel presente modello, fatta salva ogni altra forma di responsabilità prevista dall'ordinamento vigente</p>
      </td>
    </tr>
  </tbody>
</table>

<div class="simpatico-block simpatico-query-and-answer">  
  <h1 class="Modulo">DICHIARA INOLTRE</h1>

  <table class="Modulo" style="border:1px solid grey;">
    <tbody>
      <tr class="Rigaintestazione">
        <td colspan="2">
          <p style="line-height:1.4;">In riferimento alle opere oggetto della presente Segnalazione certificata d'inizio attività (SCIA), il titolare dichiara che si tratta di:</p>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top; width: 4%;">
          <div id="Tipo_intervento" name="Tipo_intervento" label="Tipo intervento" mandatory_enabled="true"> </div>
          <input group="Tipo_intervento" id="Tipo_intervento1" name="Tipo_intervento" type="radio" value="1" />
        </td>
        <td>
          <p style="line-height:1.4;">intervento di nuova costruzione su area libera (ai sensi dell’art. 85 L.P. n. 15/2015)</p>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top; width: 4%;">
          <input group="Tipo_intervento" id="Tipo_intervento2" name="Tipo_intervento" type="radio" value="2" />
        </td>
        <td>
          <p style="line-height: 1.6;">intervento su immobile esistente per il quale è stato reperito il seguente ultimo titolo abilitativo:<br> <input class="" id="Titolo_abitativo" name="Titolo_abitativo" label="Titolo abitativo" mandatory_enabled="#Tipo_intervento2.checked()" style="width:80%"/>, rispetto al quale il rilievo dello stato attuale risulta corrispondente</p>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top; width: 4%;">
          <input group="Tipo_intervento" id="Tipo_intervento3" name="Tipo_intervento" type="radio" value="3" />
        </td>
        <td>
          <p style="line-height:1.4;">non sono stati reperiti titoli abilitativi essendo l’immobile di remota costruzione e successivamente non è stato interessato da interventi edilizi per i quali era necessario munirsi di titoli abilitativi</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="3">
        <p style="line-height:1.4;">Le <b>opere</b> oggetto della presente segnalazione certificata di inizio attività:</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="Tipologia_opere" name="Tipologia_opere" label="Tipologia opere" mandatory_enabled="true"> </div>
        <input group="Tipologia_opere" id="Tipologia_opere1" name="Tipologia_opere" type="radio" value="1" />
      </td>
      <td colspan="2">
        <p style="line-height:1.4;">non riguardano parti comuni</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;" rowspan="3">
        <input group="Tipologia_opere" id="Tipologia_opere2" name="Tipologia_opere" type="radio" value="2" />
      </td>
      <td colspan="2">
        <p style="line-height:1.4;">riguardano le parti comuni di un fabbricato condominiale e</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="Assenso_richiesto" name="Assenso_richiesto" label="Richiesto atto assenso del condominio" mandatory_enabled="#Tipo_opere2.checked()"> </div>
        <input group="Assenso_richiesto" id="Assenso_richiesto_no" name="Assenso_richiesto" type="radio" value="1" />
      </td>
      <td colspan="2">
        <p style="line-height:1.4;">non necessita di atto di assenso del condominio</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Assenso_richiesto" id="Assenso_richiesto_si" name="Assenso_richiesto" type="radio" value="2" />
      </td>
      <td colspan="2">
        <p style="line-height:1.4;">necessita di atto di assenso del condominio</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;" rowspan="3">
        <input group="Tipologia_opere" id="Tipologia_opere3" name="Tipologia_opere" type="radio" value="3" />
      </td>
      <td colspan="2">
        <p style="line-height:1.4;">riguardano parti comuni di un fabbricato con più proprietà, non costituito in condominio e</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="Assenso_compropr" name="Assenso_compropr" label="Richiesto atto assenso dei comproprietari" mandatory_enabled="#Tipo_opere3.checked()"> </div>
        <input group="Assenso_compropr" id="Assenso_compropr_no" name="Assenso_compropr" type="radio" value="1" />
      </td>
      <td colspan="2">
        <p style="line-height:1.4;">non necessita di atto di assenso dei comproprietari</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Assenso_compropr" id="Assenso_compropr_si" name="Assenso_compropr" type="radio" value="2" />
      </td>
      <td colspan="2">
        <p style="line-height:1.4;">necessita di atto di assenso dei comproprietari</p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="3">
        <p style="line-height:1.4;">Relativamente agli <b>obblighi in materia di salute e sicurezza nei luoghi di lavoro</b>:</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;" rowspan="7">
        <div id="Obblighi_sicurezza" name="Obblighi_sicurezza" label="Obblighi in materia di sicurezza" mandatory_enabled="true"> </div>
        <input group="Obblighi_sicurezza" id="Obblighi_sicurezza1" name="Obblighi_sicurezza" type="radio" value="1" />
      </td>
      <td colspan="2">
        <p style="line-height:1.4;">l’intervento ricade nell’ambito di applicazione del d.lgs. n. 81/2008 e pertanto</p>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td colspan="2">
        <p style="line-height:1.4;">relativamente alla <b>documentazione delle imprese esecutrici:</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input id="Documentazione_imprese1" name="Documentazione_imprese1" type="checkbox" value="1" />
      </td>
      <td>
        <p style="line-height:1.4;"><b>dichiara</b> che l’entità presunta del cantiere è inferiore a 200 uomini giorno ed i lavori non comportano i rischi particolari di cui all’allegato XI del d.lgs. n. 81/2008 e di aver verificato il certificato di iscrizione alla Camera di commercio, il Documento Unico di Regolarità Contributiva corredato da autocertificazione in ordine al possesso degli altri requisiti previsti dall’allegato XVII del d.lgs. n. 81/2008, e l’autocertificazione relativa al contratto collettivo applicato</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input id="Documentazione_imprese2" name="Documentazione_imprese2" type="checkbox" value="2" />
      </td>
      <td>
        <p style="line-height:1.4;"><b>dichiara</b> di aver verificato la documentazione di cui alle lettere a) e b) dell’art. 90 comma 9 prevista dal d.lgs. n. 81/2008 circa l’idoneità tecnico professionale della/e impresa/e esecutrice/i e dei lavoratori autonomi, l’organico medio annuo distinto per qualifica, gli estremi delle denunce dei lavoratori effettuate all’Istituto Nazionale della previdenza sociale (INPS), all’Istituto nazionale assicurazione infortuni sul lavoro (INAIL) e alle casse edili, nonché il contratto collettivo applicato ai lavoratori dipendenti della/e impresa/e esecutrice/i</p>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td colspan="2">
        <p style="line-height:1.4;">relativamente alla <b>notifica preliminare di cui all’articolo 99 del d.lgs. n. 81/2008:</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="Notifica_richiesta" name="Notifica_richiesta" label="Richiesta notifica preliminare" mandatory_enabled="#Obblighi_sicurezza1.checked()"> </div>
        <input group="Notifica_richiesta" id="Notifica_richiesta_no" name="Notifica_richiesta" type="radio" value="1" />
      </td>
      <td>
        <p style="line-height:1.4;">dichiara che l’intervento <b>non è soggetto</b> all’invio della notifica</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Notifica_richiesta" id="Notifica_richiesta_si" name="Notifica_richiesta" type="radio" value="2" />
      </td>
      <td>
        <p style="line-height:1.4;">dichiara che l’intervento <b>è soggetto</b> all’invio della notifica</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Obblighi_sicurezza" id="Obblighi_sicurezza2" name="Obblighi_sicurezza" type="radio" value="2" />
      </td>
      <td colspan="2">
        <p style="line-height:1.4;">l’intervento non ricade nell’ambito di applicazione del d.lgs. n. 81/2008</p>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td colspan="3">    
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input id="Conoscenza_sospensione_scia" name="Conoscenza_sospensione_scia" type="checkbox" value="1" />
      </td>
      <td colspan="2">
        <p style="line-height:1.4;"><b>dichiara inoltre</b> di essere a conoscenza che l’efficacia della presente SCIA è sospesa qualora sia assente il piano di sicurezza e coordinamento di cui all’art. 100 d.lgs. n. 81/2008 o il fascicolo di cui all’art. 91, comma 1, lettera b), quando previsti, oppure in assenza di notifica di cui all’art. 99, quando prevista, oppure in assenza di documento unico di regolarità contributiva</p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p style="line-height:1.4;">Relativamente al <b>Libro Fondiario</b>:</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="Vincoli_fondiari" name="Vincoli_fondiari" label="Esistenza vincoli libro fondiario" mandatory_enabled="true"> </div>
        <input group="Vincoli_fondiari" id="Vincoli_fondiari_no" name="Vincoli_fondiari" type="radio" value="1" />
      </td>
      <td>
        <p style="line-height:1.4;"><b>non sussistono</b> vincoli iscritti che creano impedimento al rilascio del titolo abilitativo edilizio e alla realizzazione dell'intervento richiesto</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Vincoli_fondiari" id="Vincoli_fondiari_si" name="Vincoli_fondiari" type="radio" value="2" />
      </td>
      <td>
        <p style="line-height:1.6;"><b>sussistono</b> i seguenti vincoli:<br> <textarea class="inputNormal" id="Elenco_vincoli" name="Elenco_vincoli" label="Vincoli libro fondiario esistenti" style="width:99%;height:3cm" mandatory_enabled="#Vincoli_fondiari_si.checked()"></textarea></p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<div class="simpatico-block simpatico-query-and-answer">

  <h1 class="Modulo">SEGNALA</h1>

  <table class="Modulo" style="border: 1px solid grey">
    <tbody>
      <tr class="Rigaintestazione">
        <td colspan="2">
          <p style="line-height:1.4;">L'inizio dell'attività edilizia:</p>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top; width: 4%;">
          <div id="Inizio_attivita" name="Inizio_attivita" label="Inizio attività edilizia" mandatory_enabled="true"> </div>
          <input group="Inizio_attivita" id="Inizio_attivita1" name="Inizio_attivita" type="radio" value="1" />
        </td>
        <td>
          <p style="line-height:1.4;">ai sensi dell’art. 85 della legge provinciale del 4 agosto 2015, n. 15</p>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top; width: 4%;">
          <input group="Inizio_attivita" id="Inizio_attivita2" name="Inizio_attivita" type="radio" value="2" />
        </td>
        <td>
          <p style="line-height:1.4;">come variante ordinaria al permesso di costruire/SCIA nr. <input class="" id="var_ord_nr_scia" name="var_ord_nr_scia" label="Numero di protocollo della scia" size="16" mandatory_enabled="#Inizio_attivita2.checked()"/> di data <input class="" id="Data_scia" name="Data_scia" label="Data della scia" format="date" size="8" mandatory_enabled="#Inizio_attivita2.checked()"/></p>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top; width: 4%;">
          <input group="Inizio_attivita" id="Inizio_attivita3" name="Inizio_attivita" type="radio" value="3" />
        </td>
        <td>
          <p style="line-height:1.4;">come variante in corso d'opera al permesso di costruire/SCIA nr. <input class="" id="var_corso_op_nr_scia" name="var_corso_op_nr_scia" label="Numero di protocollo della scia" size="16" mandatory_enabled="#Inizio_attivita3.checked()"/> di data <input class="" id="Data_scia1" name="Data_scia1" label="Data della scia" format="date" size="8" mandatory_enabled="#Inizio_attivita3.checked()"/></p>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top; width: 4%;">
          <input group="Inizio_attivita" id="Inizio_attivita4" name="Inizio_attivita" type="radio" value="4" />
        </td>
        <td>
          <p style="line-height:1.4;">ai sensi dell’art. 85, comma 1, lettera i) della legge provinciale del 4 agosto 2015, n. 15, per la realizzazione della parte di intervento non ultimata</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<br>
<br>

<div class=" simpatico-block simpatico-query-and-answer"></div>
  <table class="Modulo" name="Informativa_dati" style="border: 1px solid grey">
    <tbody>
      <tr class="Rigaintestazione">
        <td colspan="2">
          <p style="text-align: center;"><b>INFORMATIVA SUL TRATTAMENTO DEI DATI PERSONALI</b></p>
          <p style="text-align: center; font-size:85%"><i>art. 13 Regolamento UE n. 2016/679</i></p>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <br>
          <p style="line-height:1.4;">Ai sensi del Regolamento UE n. 2016/679 relativo alla protezione delle persone fisiche con riguardo al trattamento dei dati personali e del decreto legislativo n. 196/2003, si informa che:</p>
          <ul>
            <li>Titolare del trattamento dei dati è il Comune di Trento (email: segreteria_generale@comune.trento.it; sito web: <a href="http://www.comune.trento.it" target="_blank">http://comune.trento.it</a>);</li>
            <li>Responsabile per la protezione dei dati è il Consorzio dei Comuni Trentini (email: servizioRPD@comunitrentini.it; sito web: <a href="http://www.comunitrentini.it" target="_blank">http://www.comunitrentini.it</a>);</li>
            <li>I dati vengono raccolti e trattati nell'ambito del procedimento per il quale la presente dichiarazione viene resa;</li>
            <li>La base giuridica del trattamento consiste nell'esecuzione di un compito o di una funzione di interesse pubblico;</li>
            <li>I dati vengono trattati con sistemi informatici e/o manuali, attraverso procedure adeguate a garantirne la sicurezza e la riservatezza;</li>
            <li>I dati possono essere comunicati ad altri soggetti pubblici o privati che, secondo le norme, sono tenuti a conoscerli o possono conoscerli, nonché ai soggetti che sono titolari del diritto di accesso;</li>
            <li>I dati sono oggetto di diffusione, nel rispetto del principio di minimizzazione, esclusivamente per l'ottemperanza agli obblighi di pubblicazione dei dati imposti dalla normativa vigente in materia di amministrazione trasparente;</li>
            <li>I dati non sono oggetto di trasferimento all'estero;</li>
            <li>I dati possono essere conosciuti dal responsabile o dagli incaricati del Servizio Attività edilizia sito in Trento, Via del Brennero n. 312, 38121 – Trento, tel. 0461/884798, fax 0461/884701, PEC: servizio.attivitaedilizia@pec.comune.trento.it;</li>
            <li>Il conferimento dei dati ha natura obbligatoria per le finalità di cui sopra e per tutte quelle ausiliarie e connesse. Non fornire i dati comporta non osservare obblighi di legge e/o impedire che il Comune di Trento possa corrispondere alla richiesta connessa alla specifica finalità;</li>
            <li>I dati sono conservati per il periodo strettamente necessario all'esecuzione del compito o della funzione di interesse pubblico e comunque a termini di legge;</li>
            <li>I diritti dell'interessato sono: 
              <ul>
                <li>richiedere la conferma dell'esistenza o meno dei dati che lo riguardano;</li>
                <li>ottenere la loro comunicazione in forma intelligibile; </li>
                <li>richiedere di conoscere l’origine dei dati personali, le finalità e modalità del trattamento, la logica applicata se il trattamento è effettuato con l’ausilio di strumenti elettronici; </li>
                <li>ottenere la rettifica , la cancellazione, la limitazione, la trasformazione in forma anonima o il blocco dei dati trattati in violazione di legge; </li>
                <li>richiedere la portabilità dei dati;</li>
                <li>aggiornare, correggere o integrare i dati che lo riguardano; </li>
                <li>opporsi, per motivi legittimi, al trattamento dei dati;</li>
                <li>proporre reclamo al Garante per la protezione dei dati personali.</li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="Modulo" name="Accettazione_Informativa_dati" style="border: 1px solid grey">
    <tbody>
      <tr>
        <td style="width: 4%; vertical-align: top;">
          <div id="Presa_visione" name="Presa_visione" label="Dichiarazione presa visione" mandatory_enabled="true"> </div>
          <input group="Presa_visione" id="Presa_visione_check" name="Presa_visione_check" type="checkbox" value="1" />
        </td>
        <td colspan="2" style="background-color: #eeeeee;">
          <p style="line-height:1.4;"><b>Dichiaro di aver ricevuto e preso visione dell'informativa sul trattamento dei dati personali</b> <br><span style="font-size:85%"><i>(artt. 13 e 14 Regolamento UE n. 2016/679)</i></span></p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<br>
<br>

<table class="Modulo simpatico-block" name="Luogo_e_data" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="width: 25%; text-align: center;">
        <input class="" id="Luogo_PDF" name="Luogo_PDF" style="width:80%;" type="text"/>
      </td>
      <td style="width: 25%; text-align: center;">
        <input class="" id="Data_PDF" name="Data_PDF" style="width:80%;" type="text"/>
      </td>
      <td style="width: 50%; text-align: center; height: 1.5cm;">
        <input class="" id="nominativo_richiedente" name="nominativo_richiedente" dynamic_value="' ' + #AventeTitolo_Cognome.value().toUpperCase() + ' ' + #AventeTitolo_Nome.value().toUpperCase()" style="width:90%;"/>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td>
        <p class="Labelcella" style="text-align: center">Luogo</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Data</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Il richiedente</p>
      </td>
    </tr>
  </tbody>
</table>

<br>

<p class="Modulo">
  <input id="SalvaModulo" name="SalvaModulo" style="height:30px;width:120px;" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza." type="submit" value="Salva modulo" />
</p>

<input destinatario_amministrazione="getParameter('Ente')" id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value="" />

<input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden" />
<input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden" />
<input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}" />


<input id="Metadati_oggetto" name="Metadati_oggetto" dynamic_value="#Oggetto.value()" type="hidden"/>

{% endblock content %}
