{% set CodiceModulo =  "M47010-MSEC13-PREV-INF-CADUTA" %}
{% set Urn =  "document:c_l378:ultimazione.lavori;dichiarazione.ultimazione.lavori;msec13.m47010.prev.infortunio.caduta" %}
{% extends "base_trento_ok.html" %}

{% block meta %}
<meta campi_firma="Referente_CodiceFiscale"
classi_modulo="Generale"
codice_modulo="{{ CodiceModulo }}"
urn="{{ Urn }}"
descrizione="Modulo secondario - Dichiarazioni del tecnico riguardo la prevenzione dei rischi di infortunio a seguito di cadute (firma digitale)"
destinatario_amministrazione=""
destinatario_ufficio=""
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="NO"
firmare="P7M_ELETTRONICA"
istruzioni_compilazione=""
istruzioni_invio=""
metodo_invio=""
name="GLOBO_modulo"
procura="NO,,"
tipo_modulo="secondario"
ufficio=""
urlhelp="/modulistica/moduli/M47010-MSEC13-PREV-INF-CADUTA"
verifica_pagamento="NO"
versione="1.0|01/01/2015"/>


{% endblock meta %}


{% block title %}
Dichiarazioni del tecnico riguardo la prevenzione dei rischi di infortunio a seguito di cadute
{% endblock title %}

{% block content %}

{{ intestazioni.intestazione_modulosecondario_senzabollo() }}
<input id="Oggetto" name="Oggetto" dynamic_value="'Dichiarazioni del tecnico riguardo la prevenzione dei rischi di infortunio a seguito di cadute - Richiedente ' + #Referente_Cognome.value().toUpperCase() + ' ' + #Referente_Nome.value().toUpperCase() + ' (' + #Referente_CodiceFiscale.value().toUpperCase() + ')'" type="hidden"/>

<h1 class="Modulo" style="line-height:1.6;">DICHIARAZIONE DEL TECNICO<br><span style="font-size:75%">(ai sensi dell'art. 91 ter della L.P. 22/91)</span></h1>

<table class="Modulo" name="consapevolezza_sanz_penali" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td>
        <p style="line-height:1.8;"><b>Il sottoscritto</b>, <input id="Nominativo_tecnico" name="Nominativo_tecnico" dynamic_value="#Referente_TitoloPersona.value() + ' ' + #Referente_Cognome.value() + ' ' + #Referente_Nome.value() + ' ' + '(' + #Referente_CodiceFiscale.value() + ')'" size="81" readonly/>
            <br>nato a &nbsp; <input id="Luogo_nascita_progettista" name="Luogo_nascita_progettista" dynamic_value="#Referente_LuogoNascita.value()" size="30" readonly/> &nbsp; e iscritto all'Ordine degli &nbsp; <input id="Albo_progettista" name="Albo_progettista" dynamic_value="#Referente_Attributi_Albo.value()" size="30" readonly/> &nbsp;<br>della Provincia di &nbsp; <input id="Provincia_albo_progettista" name="Provincia_albo_progettista" dynamic_value="#Referente_Attributi_DellaProvincia.value()" size="10" readonly/> &nbsp; al n. &nbsp; <input id="Num_albo_progettista" name="Num_albo_progettista" dynamic_value="#Referente_Attributi_AlNumero.value()" size="30" readonly/>, in qualità di tecnico abilitato, in ottemperanza alle vigenti disposizioni di legge e consapevole della responsabilità che con la presente si assume</p>
      </td>
    </tr>
  </tbody>
</table>

<br>

<h1 class="Modulo">DICHIARA CHE</h1>

<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td>
        <p style="line-height:1.8;">riguardo la prevenzione dei rischi di infortunio a seguito di cadute dall'alto nei lavori di manutenzione ordinarie delle coperture nell'intervento che ha interessato l'edificio sito in &nbsp; <input id="indirizzo_immobile" name="indirizzo_immobile" dynamic_value="#Immobile_Nomecompleto_via.value() + ' ' + #Immobile_numeroCivico.value() + (#Immobile_Barracivico.value() != '' ? '/' + #Immobile_Barracivico.value() : '')" size="45" readonly/> &nbsp; P.ed. &nbsp; <input id="ped_immobile" name="ped_immobile" dynamic_value="#Immobile_CatNumero.value()" size="10" readonly/> &nbsp; C.C. &nbsp; <input id="Localita_immobile" name="Localita_immobile" dynamic_value="#Immobile_ComuneCatastale_esteso.value()" size="45" readonly/>
          <br>di proprietà del Sig. &nbsp; <input id="nomin_titolare_immobile" name="nomin_titolare_immobile" dynamic_value="#AventeTitolo_Cognome.value() + ' ' + #AventeTitolo_Nome.value()" size="45" readonly/>&nbsp;, sono state rispettate le norme anticaduta e l'installazione dei punti d'ancoraggio ai sensi dell'art. 91 ter della L.P. 22/91</p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo" name="Luogo_e_data" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="width: 25%; text-align: center;">
        <input class="" id="Luogo_PDF" name="Luogo_PDF" style="width:80%; text-align: center;" type="text"/>
      </td>
      <td style="width: 25%; text-align: center;">
        <input class="" id="Data_PDF" name="Data_PDF" style="width:80%; text-align: center;" type="text"/>
      </td>
      <td style="width: 50%; text-align: center; height: 1.5cm;">
        <input class="" id="nominativo_tecnico" name="nominativo_tecnico" dynamic_value="#Referente_TitoloPersona.value() + ' ' + #Referente_Nome.value().toUpperCase() + ' ' + #Referente_Cognome.value().toUpperCase()" style="width:90%; text-align: center;"/>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td>
        <p class="Labelcella" style="text-align: center">Luogo</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Data</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Il tecnico abilitato <span style="font-size:95%"><i>(firma digitale)</i></span></p>
      </td>
    </tr>
  </tbody>
</table>

<br>

<p class="Modulo">
  <input id="SalvaModulo" name="SalvaModulo" style="height:30px;width:120px;" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza." type="submit" value="Salva modulo" />
</p>


<input id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value=""/>
<input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden"/>
<input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden"/>
<input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}"/>
 

<!-- Passaggio dati dal principale senza usare metadati -->
<input id="AventeTitolo_CodiceFiscale" name="AventeTitolo_CodiceFiscale" type="hidden" readonly/>
<input id="AventeTitolo_Cognome" name="AventeTitolo_Cognome" type="hidden"  readonly/>
<input id="AventeTitolo_Nome" name="AventeTitolo_Nome" type="hidden"  readonly/>

<input id="Referente_CodiceFiscale" name="Referente_CodiceFiscale" type="hidden"  readonly/>
<input id="Referente_TitoloPersona" name="Referente_TitoloPersona" type="hidden"  readonly/>
<input id="Referente_Cognome" name="Referente_Cognome" type="hidden"  readonly/>
<input id="Referente_Nome" name="Referente_Nome" type="hidden"  readonly/>
<input id="Referente_LuogoNascita" name="Referente_LuogoNascita" type="hidden"  readonly/>
<input id="Referente_Attributi_Albo" name="Referente_Attributi_Albo" type="hidden"  readonly/>
<input id="Referente_Attributi_AlNumero" name="Referente_Attributi_AlNumero" type="hidden"  readonly/>
<input id="Referente_Attributi_DellaProvincia" name="Referente_Attributi_DellaProvincia" type="hidden"  readonly/>
<input id="Referente_Indirizzocompleto" name="Referente_Indirizzocompleto" type="hidden"  readonly/>

<input id="Immobile_TipologiaImmobile" name="Immobile_TipologiaImmobile" type="hidden"  readonly/>
<input id="Immobile_ComuneCatastale_esteso" name="Immobile_ComuneCatastale_esteso" type="hidden"  readonly/>
<input id="Immobile_CatNumero" name="Immobile_CatNumero" type="hidden"  readonly/>
<input id="Immobile_CatBarra" name="Immobile_CatBarra" type="hidden"  readonly/>
<input id="Immobile_CatPM" name="Immobile_CatPM" type="hidden"  readonly/>
<input id="Immobile_CatSubalterno" name="Immobile_CatSubalterno" type="hidden"  readonly/>
<input id="Immobile_Provincia" name="Immobile_Provincia" type="hidden"  readonly/>
<input id="Immobile_Comune" name="Immobile_Comune" type="hidden"  readonly/>
<input id="Immobile_Nomecompleto_via" name="Immobile_Nomecompleto_via" type="hidden"  readonly/>
<input id="Immobile_numeroCivico" name="Immobile_numeroCivico" type="hidden"  readonly/>
<input id="Immobile_Barracivico" name="Immobile_Barracivico" type="hidden"  readonly/>

<input id="Immobile_NumeroAltriImmobili" name="Immobile_NumeroAltriImmobili" type="hidden" />

<input id="Immobile_check_numero_particelle" name="Immobile_check_numero_particelle" type="hidden" />

{% endblock content %}