{% set CodiceModulo = "M2305-NULLAOSTA-SCARICO-INSED-CIV" %}
{% set Urn =  "document:c_l378:autorizzazione.scarico.civ;nullaosta;richiesta.nullaosta;m2305.nullaosta.scarico.insed.civili" %}
<!--{% set modulo_workflow_model =  "https://sportello.comune.trento.it/modulistica/moduli/M2305-NULLAOSTA-SCARICO-INSED-CIV_vSTU3" %}-->
{% extends "base_trento_new.html" %}

{% block meta %}

<meta campi_firma="AventeTitolo_CodiceFiscale"
campi_firma_label="il dichiarante"
classi_modulo="Tributi"
codice_modulo="{{ CodiceModulo }}"
urn="{{ Urn }}"
sub_urn_list=""
uo_globo_list=""
contesto_procedurale="Richiesta nulla osta per autorizzazione scarico degli insediamenti civili"
descrizione="Richiesta nulla osta per connessione alla rete di scarico degli insediamenti civili"
destinatario_amministrazione=""
destinatario_ufficio="XXXXXXXXXXXXXXXXXXXXX"
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="NO"
firmare="NO"
istruzioni_compilazione=""
istruzioni_invio="mail_pec"
metodo_invio="mail"
name="GLOBO_modulo"
procura="NO,,"
segnatura="AventeTitolo"
tipo_modulo="principale"
urlhelp="/modulistica/moduli/M2305-NULLAOSTA-SCARICO-INSED-CIV"
verifica_pagamento="NO"
versione="1.0|23/02/2018" />

<meta codice_modulo_figlio="GEN-PROGETTISTA"
urn_modulo_figlio="document:c_l378:modulo.secondario.anagrafica.progettista"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<meta codice_modulo_figlio="GEN-IMMAGG"
urn_modulo_figlio="document:c_l378:modulo.secondario.ulteriori.particelle"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<meta codice_modulo_figlio="GEN-IMMAGG-EL"
urn_modulo_figlio="document:c_l378:modulo.secondario.ulteriori.particelle.firma.elettronica"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<meta codice_modulo_figlio="GEN-IMMAGG-AU"
urn_modulo_figlio="document:c_l378:modulo.secondario.ulteriori.particelle.firma.autografa"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<meta codice_modulo_figlio="GEN-INTAGG-EL"
urn_modulo_figlio="document:c_l378:modulo.secondario.ulteriori.intestatari.firma.elettronica"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<meta codice_modulo_figlio="GEN-INTAGG-AU"
urn_modulo_figlio="document:c_l378:modulo.secondario.ulteriori.intestatari.firma.autografa"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<meta codice_allegato="GEN-DOC-DIRITTO-CONTRATTUALE"
urn_allegato="document:c_l378:allegato.doc.diritto.contrattuale"
descrizione_estesa="Documentazione comprovante il diritto contrattuale"
filename="Doc_diritto_contrattuale.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-DOC-DIRITTO-CONTRATTUALE"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-COROGRAFIA"
urn_allegato="document:c_l378:allegato.corografia"
descrizione_estesa="Corografia (1:10000 - 1:5000) ed estratto PRG"
filename="Corografia.pdf"
firmato="SI"
firmatari="Progettista_CodiceFiscale"
firmatari_label="Professionista incaricato"
istruzioni="/modulistica/moduli/GEN-COROGRAFIA"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-PLANIMETRIA_RETI"
urn_allegato="document:c_l378:allegato.planimetria.reti"
descrizione_estesa="Planimetria generale 1:100 con dati urbanistici"
filename="Planimetria generale.pdf"
firmato="SI"
firmatari="Progettista_CodiceFiscale"
firmatari_label="Professionista incaricato"
istruzioni="/modulistica/moduli/GEN-PLANIMETRIA_RETI"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-PLANIMETRIA_DI_RAFFRONTO"
urn_allegato="document:c_l378:allegato.planimetria.raffronto"
descrizione_estesa="Planimetria di raffronto tra stato attuale e stato progetto"
filename="Planimetria_raffronto.pdf"
firmato="SI"
firmatari="Progettista_CodiceFiscale"
firmatari_label="Professionista incaricato"
istruzioni="/modulistica/moduli/GEN-PLANIMETRIA_DI_RAFFRONTO"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-ALTRI-ALLEGATI"
urn_allegato="document:c_l378:allegato.altri.allegati"
descrizione_estesa="Altri allegati"
filename="Altri allegati.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-ALTRI-ALLEGATI"
name="GLOBO_allegato"
numero="0"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-CDI"
urn_allegato="document:c_l378:allegato.copia.documento.identita"
descrizione_estesa="Copia del documento di identità del richiedente"
filename="Documento identita.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-CDI"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-Modulo_compilato_firma_autografa"
urn_allegato="document:c_l378:allegato.copia.modulo.firma.autografa"
descrizione_estesa="Modulo compilato e firmato manualmente"
filename="Modulo_compilato_firma_autografa.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-Modulo_compilato_firma_autografa"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-Modulo_compilato_firma_elettronica"
urn_allegato="document:c_l378:allegato.copia.modulo.firma.elettronica"
descrizione_estesa="Modulo compilato e firmato elettronicamente"
filename="Modulo_compilato_firma_elettronica.pdf"
firmato="SI"
istruzioni="/modulistica/moduli/GEN-Modulo_compilato_firma_elettronica"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="INFORM-TRATT-DATI-EDILIZIA"
urn_allegato="document:c_l378:allegato.informativa.trattamento.dati.edilizia"
descrizione_estesa="Informativa trattamento dati EDILIZIA"
filename="INFORM-TRATT-DATI-EDILIZIA.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/INFORM-TRATT-DATI-EDILIZIA"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_report="CSP_SESSION_REPORT"
generate_on="sending"
name="GLOBO_report"
urn_report="report:CSP_SESSION_REPORT"
/>

{% endblock meta %}

<!--{% block simpaticoconfig %}
  {% set simpaticoEservice="8" %}
  {% set simpaticoEserviceName="RILASCIO TITOLI EDILIZI" %}
  {% set simpaticoEserviceURL="https://sportello.comune.trento.it/modulistica/moduli/RILASCIO-TITOLI-EDILIZI" %}
  {% set simpaticoForm="main" %}
  {% set simpaticoCategory="Edilizia" %}
  {% set simpaticoMapping=["AventeTitolo_CodiceFiscale",
                          "AventeTitolo_DataNascita",
                          "AventeTitolo_Sesso",
                          "AventeTitolo_Nazionalita",
                          "AventeTitolo_LuogoNascita",
                          "AventeTitolo_ComuneResidenza",
                          "AventeTitolo_ViaResidenza",
                          "AventeTitolo_CivicoResidenza",
                          "AventeTitolo_CAPResidenza",
                          "AventeTitolo_Cognome",
                          "AventeTitolo_Nome",
                          "AventeTitolo_Telefono",
                          "AventeTitolo_Tel_Fisso",
                          "AventeTitolo_EMail",
                          "AventeTitolo_EMailPEC"] %}
                          
  {% set ERROR_LABELS=[   ('block1' , 'Selezionare una delle opzioni'),
                          ('block2' , 'Inserire il codice fiscale'),
                          ('block3' , 'Particella edilizia non valida'),
                          ('block4' , 'Indirizzo non inserito'),
                          ('block5' , 'Indirizzo non verificato'),
                          ('block12' , 'Selezionare una delle opzioni')] %}
  {{ utilsSimpatico.ScriptSimpatico(simpaticoEservice, simpaticoEserviceName, simpaticoEserviceURL, simpaticoForm, simpaticoCategory, simpaticoMapping, ERROR_LABELS ) }}
{% endblock simpaticoconfig %}-->

{% block title %}M2305-NULLAOSTA-SCARICO-INSED-CIV{% endblock title %}

{% block content %}

<input dynamic_value="#Ente.value()" id="Parametri_Comune" name="Parametri_Comune" type="hidden" />

<input dynamic_value="#AventeTitolo_Cognome.value().toUpperCase() + ' - Richiesta nullaosta autorizzazione scarico insediamenti civili'" id="Oggetto" name="Oggetto" type="hidden" />

{{ intestazioni.intestazione_moduloprincipale_senzabollo() }}

<br>
<h1 class="Modulo">
  Richiesta nulla osta per autorizzazione scarico degli insediamenti civili
</h1>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p style="line-height:1.6;"><b>La compilazione del modulo seguente viene eseguita da:</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="Tipo_richiedente" name="Tipo_richiedente" label="Tipo richiedente" mandatory_enabled="true"> </div>
        <input group="Tipo_richiedente" id="Tipo_richiedente1" name="Tipo_richiedente" type="radio" value="1" />
      </td>
      <td>
        <p style="line-height:1.6;">Proprietario, comproprietario o richiedente in possesso di titolo idoneo</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Tipo_richiedente" id="Tipo_richiedente2" name="Tipo_richiedente" type="radio" value="2" />
      </td>
      <td>
        <p style="line-height:1.6;">Professionista incaricato</p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<!--<input id="fisso_obbligatorio" name="fisso_obbligatorio" dynamic_check="true" type="hidden" />-->
<input id="cellulare_obbligatorio" name="cellulare_obbligatorio" dynamic_check="true" type="hidden" />
<input id="mail_obbligatoria" name="mail_obbligatoria" dynamic_check="#Tipo_richiedente1.checked()" type="hidden" />
<input id="pec_obbligatoria" name="pec_obbligatoria" dynamic_check="#Tipo_richiedente2.checked()" type="hidden" />
{{anagrafica_trento_uniformata.richiedente("AventeTitolo","Il/La sottoscritto/a, avente codice fiscale:", "visibility:visibility", "cursor:pointer", "visibility:visibility")}} 

<br>
<br>

<input id="Progettista_checkobbligatorio" name="Progettista_checkobbligatorio" dynamic_check="true" type="hidden" />
<input id="Progettista_checkabilitato" name="Progettista_checkabilitato" dynamic_check="true" type="hidden" />
{{anagrafica_trento_uniformata.professionista_direttore_lavori("Progettista","DATI DEL PROGETTISTA", "visibility:visibility", "cursor:pointer", "visibility:visibility")}} 

<br>
<br>

<input id="Immobile_DatiCatastaliObbligatori" name="Immobile_DatiCatastaliObbligatori" dynamic_check="true" type="hidden"/>
{{ immobili_trento.immobile_trento("Immobile", "LOCALIZZAZIONE INTERVENTO", disattivato="true") }}

<br>
<br>

<div class="simpatico-block simpatico-query-and-answer">
<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p style="line-height:1.6;"><b>Tipo di intervento</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="Tipo_intervento" name="Tipo_intervento" label="Tipo intervento" mandatory_enabled="true"> </div>
        <input group="Tipo_intervento" id="Tipo_intervento1" name="Tipo_intervento" type="radio" value="1" />
      </td>
      <td>
        <p style="line-height:1.6;">Ristrutturazione/Ampliamento</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Tipo_intervento" id="Tipo_intervento2" name="Tipo_intervento" type="radio" value="2" />
      </td>
      <td>
        <p style="line-height:1.6;">Nuova costruzione</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Tipo_intervento" id="Tipo_intervento3" name="Tipo_intervento" type="radio" value="3" />
      </td>
      <td>
        <p style="line-height:1.6;">Nuova lottizzazione</p>
      </td>
    </tr>
  </tbody>
</table>

<br>

<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p style="line-height:1.6;"><b>Tipo di insediamento</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="Tipo_insediamento" name="Tipo_insediamento" label="Tipo insediamento" mandatory_enabled="true"> </div>
        <input group="Tipo_insediamento" id="Tipo_insediamento1" name="Tipo_insediamento" type="radio" value="1" />
      </td>
      <td>
        <p style="line-height:1.6;">Civile</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Tipo_insediamento" id="Tipo_insediamento2" name="Tipo_insediamento" type="radio" value="2" />
      </td>
      <td>
        <p style="line-height:1.6;">Industriale/Artigianale</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Tipo_insediamento" id="Tipo_insediamento3" name="Tipo_insediamento" type="radio" value="3" />
      </td>
      <td>
        <p style="line-height:1.6;">Commerciale</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Tipo_insediamento" id="Tipo_insediamento4" name="Tipo_insediamento" type="radio" value="4" />
      </td>
      <td>
        <p style="line-height:1.6;">Altro: <input class="" label="Altra tipologia di insediamento" id="Altro_tipo_insediamento" mandatory_enabled="#Tipo_insediamento4.checked()" name="Altro_tipo_insediamento" style="width:94%;"/> </p>
      </td>
    </tr>
  </tbody>
</table>

<br>

<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td>
        <p style="line-height:1.6;"><b>Volumetria complessiva: <input class="" label="Volumetria complessiva" id="Volumetria_complessiva" mandatory_enabled="true" name="Volumetria_complessiva" style="width:15%;"/> m^3</b></p>
      </td>
    </tr>
  </tbody>
</table>

<br>

<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p style="line-height:1.6;"><b>Tipologia degli edifici</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="Tipo_edifici" name="Tipo_edifici" label="Tipo edifici" mandatory_enabled="true"> </div>
        <input group="Tipo_edifici" id="Tipo_edifici1" name="Tipo_edifici" type="radio" value="1" />
      </td>
      <td>
        <p style="line-height:1.6;">Civili --- n.: <input class="" label="Numero edifici civili" id="num_edifici_civili" mandatory_enabled="#Tipo_edifici1.checked()" name="num_edifici_civili" style="width:15%;"/></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Tipo_edifici" id="Tipo_edifici2" name="Tipo_edifici" type="radio" value="2" />
      </td>
      <td>
        <p style="line-height:1.6;">Industriali/Artigianali --- n.: <input class="" label="Numero edifici industriali/artigianali" id="num_edifici_industriali" mandatory_enabled="#Tipo_edifici2.checked()" name="num_edifici_industriali" style="width:15%;"/></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Tipo_edifici" id="Tipo_edifici3" name="Tipo_edifici" type="radio" value="3" />
      </td>
      <td>
        <p style="line-height:1.6;">Commerciali --- n.: <input class="" label="Numero edifici commerciali" id="num_edifici_commerciali" mandatory_enabled="#Tipo_edifici3.checked()" name="num_edifici_commerciali" style="width:15%;"/></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Tipo_edifici" id="Tipo_edifici4" name="Tipo_edifici" type="radio" value="4" />
      </td>
      <td>
        <p style="line-height:1.6;">Altro: <input class="" label="Altra tipologia di edifici" id="Altro_tipo_edifici" mandatory_enabled="#Tipo_edifici4.checked()" name="Altro_tipo_edifici" style="width:60%;"/> --- n.: <input class="" label="Numero edifici altro tipo" id="num_edifici_altro" mandatory_enabled="#Tipo_edifici4.checked()" name="num_edifici_altro" style="width:15%;"/> </p>
      </td>
    </tr>
  </tbody>
</table>
</div>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border:1px solid grey;">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="3">
        <p><b>Dichiara di essere soggetto abilitato alla presentazione dell'istanza in quanto</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="Parametri_Titolo" name="Parametri_Titolo" label="Parametri titolo sottoscrivente" mandatory_enabled="true"></div>
        <input group="Parametri_Titolo" id="Parametri_Titolo1" name="Parametri_Titolo" type="radio" value="1" />
      </td>
      <td colspan="2">
        <p>Proprietario</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;" rowspan="4">
        <input group="Parametri_Titolo" id="Parametri_Titolo2" name="Parametri_Titolo" type="radio" value="2" />
      </td>
      <td colspan="2">
        <p>Titolare di altro diritto reale:</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="Altro_titolo_reale" name="Altro_titolo_reale" label="Altro titolo reale sottoscrivente" mandatory_enabled="true"></div>
        <input group="Altro_titolo_reale" id="Altro_titolo_reale1" name="Altro_titolo_reale" type="radio" value="1" />
      </td>
      <td>
        <p>Comproprietario</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Altro_titolo_reale" id="Altro_titolo_reale2" name="Altro_titolo_reale" type="radio" value="2" />
      </td>
      <td>
        <p>Usufruttuario</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Altro_titolo_reale" id="Altro_titolo_reale3" name="Altro_titolo_reale" type="radio" value="3" />
      </td>
      <td>
        <p>Altro: <input class="" id="Spec_Altro_titolo_reale" name="Spec_Altro_titolo_reale" label="Altro titolo reale" mandatory_enabled="#Altro_titolo_reale3.checked()" style="width:94%;"/></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Parametri_Titolo" id="Parametri_Titolo3" name="Parametri_Titolo" type="radio" value="3" />
      </td>
      <td colspan="2">
        <p>Titolare di diritto contrattuale (locatario, titolare di leasing, etc.)</p>
      </td>
    </tr>
  </tbody>
</table>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border:1px solid grey;">
<tbody>
  <tr class="Rigaintestazione">
    <td colspan="2">
      <p style="line-height:1.6;"><b>Esclusivita' del titolo</b></p>
    </td>
  </tr>
  <tr>
    <td style="vertical-align: top; width: 4%;">
      <div id="Tassonomia_Titolo" name="Tassonomia_Titolo" label="Titolo sottoscrivente" mandatory_enabled="true"></div>
      <input id="Tassonomia_Titolo1" name="Tassonomia_Titolo" type="radio" value="1" />
    </td>
    <td>
      <p style="line-height:1.6;">intestatario unico</p>
    </td>
  </tr>
  <tr>
    <td style="vertical-align: top; width: 4%;">
      <input id="Tassonomia_Titolo2" name="Tassonomia_Titolo" type="radio" value="2" />
    </td>
    <td>
      <p style="line-height:1.6;">primo intestatario di altri soggetti</p>
    </td>
  </tr>
</tbody>
</table>

<br>
<br>

<h2 class="Modulo" style="line-height:1.6;">
  Richiede nulla osta<br>per connessione alla rete del servizio impianti ecologici/fognature
</h2>

<div class="simpatico-block simpatico-query-and-answer">
  <table class="Modulo" style="border: 1px solid grey">
    <tbody>
      <tr class="Rigaintestazione">
        <td colspan="2">
          <p style="line-height:1.6;"><b>Tipologia scarico</b></p>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top; width: 4%;">
          <div id="Tipo_scarico" name="Tipo_scarico" label="Tipologia scarico" mandatory_enabled="true"> </div>
          <input group="Tipo_scarico" id="Tipo_scarico1" name="Tipo_scarico" type="radio" value="1" />
        </td>
        <td>
          <p style="line-height:1.6;">Uso domestico</p>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top; width: 4%;">
          <input group="Tipo_scarico" id="Tipo_scarico2" name="Tipo_scarico" type="radio" value="2" />
        </td>
        <td>
          <p style="line-height:1.6;">Altri usi: <input class="" label="Altra tipologia di scarico" id="Altro_tipo_scarico" mandatory_enabled="#Tipo_scarico2.checked()" name="Altro_tipo_scarico" style="width:92%;"/> </p>
        </td>
      </tr>
    </tbody>
  </table>
  
  <br>
  
  <table class="Modulo" style="border: 1px solid grey">
    <tbody>
      <tr class="Rigaintestazione">
        <td colspan="3">
          <p style="line-height:1.6;"><b>Modalità di smaltimento</b></p>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top; width: 4%;" rowspan="5">
          <div id="Modalita_smaltimento" name="Modalita_smaltimento" label="Modalità di smaltimento" mandatory_enabled="true"> </div>
          <input group="Modalita_smaltimento" id="Modalita_smaltimento1" name="Modalita_smaltimento" type="radio" value="1" />
        </td>
        <td colspan="2">
          <p style="line-height:1.6;"><b>Acque nere</b></p>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top; width: 4%;">
          <div id="Modalita_smaltimento_acquenere" name="Modalita_smaltimento_acquenere" label="Modalità di smaltimento delle acque nere" mandatory_enabled="#Modalita_smaltimento1.checked()"> </div>
          <input group="Modalita_smaltimento_acquenere" id="Modalita_smaltimento_acquenere1" name="Modalita_smaltimento_acquenere" type="radio" value="1" />
        </td>
        <td colspan="2">
          <p style="line-height:1.6;">Fognatura comunale</p>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top; width: 4%;">
          <input group="Modalita_smaltimento_acquenere" id="Modalita_smaltimento_acquenere2" name="Modalita_smaltimento_acquenere" type="radio" value="2" />
        </td>
        <td colspan="2">
          <p style="line-height:1.6;">Acque superficiali</p>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top; width: 4%;">
          <input group="Modalita_smaltimento_acquenere" id="Modalita_smaltimento_acquenere3" name="Modalita_smaltimento_acquenere" type="radio" value="3" />
        </td>
        <td colspan="2">
          <p style="line-height:1.6;">Suolo/Sottosuolo</p>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top; width: 4%;">
          <input group="Modalita_smaltimento_acquenere" id="Modalita_smaltimento_acquenere4" name="Modalita_smaltimento_acquenere" type="radio" value="4" />
        </td>
        <td colspan="2">
          <p style="line-height:1.6;">Fossa a tenuta</p>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top; width: 4%;" rowspan="4">
          <input group="Modalita_smaltimento" id="Modalita_smaltimento2" name="Modalita_smaltimento" type="radio" value="2" />
        </td>
        <td colspan="2">
          <p style="line-height:1.6;"><b>Acque miste</b></p>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top; width: 4%;">
          <div id="Modalita_smaltimento_acquemiste" name="Modalita_smaltimento_acquemiste" label="Modalità di smaltimento delle acque miste" mandatory_enabled="#Modalita_smaltimento2.checked()"> </div>
          <input group="Modalita_smaltimento_acquemiste" id="Modalita_smaltimento_acquemiste1" name="Modalita_smaltimento_acquemiste" type="radio" value="1" />
        </td>
        <td colspan="2">
          <p style="line-height:1.6;">Fognatura comunale</p>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top; width: 4%;">
          <input group="Modalita_smaltimento_acquemiste" id="Modalita_smaltimento_acquemiste2" name="Modalita_smaltimento_acquemiste" type="radio" value="2" />
        </td>
        <td colspan="2">
          <p style="line-height:1.6;">Acque superficiali</p>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top; width: 4%;">
          <input group="Modalita_smaltimento_acquemiste" id="Modalita_smaltimento_acquemiste3" name="Modalita_smaltimento_acquemiste" type="radio" value="3" />
        </td>
        <td colspan="2">
          <p style="line-height:1.6;">Suolo/Sottosuolo</p>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top; width: 4%;" rowspan="4">
          <input group="Modalita_smaltimento" id="Modalita_smaltimento3" name="Modalita_smaltimento" type="radio" value="3" />
        </td>
        <td colspan="2">
          <p style="line-height:1.6;"><b>Acque bianche</b></p>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top; width: 4%;">
          <div id="Modalita_smaltimento_acquebianche" name="Modalita_smaltimento_acquebianche" label="Modalità di smaltimento delle acque bianche" mandatory_enabled="#Modalita_smaltimento3.checked()"> </div>
          <input group="Modalita_smaltimento_acquebianche" id="Modalita_smaltimento_acquebianche1" name="Modalita_smaltimento_acquebianche" type="radio" value="1" />
        </td>
        <td colspan="2">
          <p style="line-height:1.6;">Fognatura comunale</p>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top; width: 4%;">
          <input group="Modalita_smaltimento_acquebianche" id="Modalita_smaltimento_acquebianche2" name="Modalita_smaltimento_acquebianche" type="radio" value="2" />
        </td>
        <td colspan="2">
          <p style="line-height:1.6;">Acque superficiali</p>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top; width: 4%;">
          <input group="Modalita_smaltimento_acquebianche" id="Modalita_smaltimento_acquebianche3" name="Modalita_smaltimento_acquebianche" type="radio" value="3" />
        </td>
        <td colspan="2">
          <p style="line-height:1.6;">Suolo/Sottosuolo</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<br>
<br>


<table class="Modulo simpatico-block simpatico-query-and-answer" name="Allegati" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="3">
        <p style="text-align: center;"><b>Elenco degli allegati</b></p>
      </td>
    </tr>
    <tr>
      <td style="width:4%; vertical-align: top;">
        <input dynamic_check="#Tipo_richiedente2.checked() || (#Tipo_richiedente1.checked() and #AventeTitolo_CodiceFiscale.value() != #Progettista_CodiceFiscale.value() and #Progettista_CodiceFiscale.value() != '')" enabled="#Tipo_richiedente2.checked() || (#Tipo_richiedente1.checked() and #AventeTitolo_CodiceFiscale.value() != #Progettista_CodiceFiscale.value() and #Progettista_CodiceFiscale.value() != '')" id="GEN_PROG_INC" name="GEN_PROG_INC" type="checkbox" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height:1.6;">Modulo secondario - Anagrafica del progettista incaricato <input enabled="true" dynamic_value="'firmato con firma elettronica'" id="Tipo_firma_anag_prog" name="Tipo_firma_anag_prog" style="width:48.5%;"/></p>
      </td>
    </tr>
    <tr>
      <td style="width:4%">
        <input id="Corografia_estrattoPRG" name="Corografia_estrattoPRG" dynamic_check="true" type="checkbox" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height:1.6;">Corografia (1:10000 - 1:5000) ed estratto PRG</p>
      </td>
    </tr>
    <tr>
      <td style="width:4%">
        <input id="Planimetria_generale" name="Planimetria_generale" dynamic_check="true" type="checkbox" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height:1.6;">Planimetria generale 1:100 con dati urbanistici</p>
      </td>
    </tr>
    <tr>
      <td style="width:4%">
        <input id="Planimetria_raffronto" name="Planimetria_raffronto" dynamic_check="true" type="checkbox" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height:1.6;">Planimetria di raffronto tra stato attuale e stato progetto</p>
      </td>
    </tr>
    <tr>
      <td>
        <input dynamic_check="(parseInt(#Immobile_NumeroAltriImmobili.value()) / 10) &gt; 0" enabled="(parseInt(#Immobile_NumeroAltriImmobili.value()) / 10) &gt; 0" id="GEN_IMMAGG" name="GEN_IMMAGG" type="checkbox" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height:1.6;">Ulteriori particelle o subalterni oggetto del procedimento</p>
        <p style="line-height:1.6;"><select class="inputNormal" id="Tipo_Firma_ult_particelle" name="Tipo_Firma_ult_particelle" style="width:100%" label="Tipo firma modulo ulteriori particelle" mandatory_enabled="#Tipo_richiedente2.checked() and #Immobile_NumeroAltriImmobili.value() != '0'">
            <option value=""></option>
						<option value="Firmato con firma autografa">Si allega il modulo per le ulteriori particelle con firma autografa del richiedente</option>
						<option value="Firmato con firma elettronica">Si allega il modulo per le ulteriori particelle con firma elettronica del richiedente</option>
           </select>
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <input dynamic_check="#Tassonomia_Titolo2.checked()" enabled="#Tassonomia_Titolo2.checked()" id="GEN_INTAGG_EL" name="GEN_INTAGG_EL" type="checkbox" value="OBBLIGATORIO"/>
        <input dynamic_check="#Tassonomia_Titolo2.checked()" enabled="#Tassonomia_Titolo2.checked()" id="GEN_INTAGG_AU" name="GEN_INTAGG_AU" type="checkbox" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height:1.6;">n°<input class="" format="number" id="NschedeAllegateEl" label="Numero ulteriori intestatari" mandatory_enabled="#GEN_INTAGG_EL.checked()" name="NschedeAllegateEl" size="1"/>soggetti coinvolti nel procedimento edilizio che firmano con <b>firma elettronica</b></p>
        <p style="line-height:1.6;">n°<input class="" format="number" id="NschedeAllegateAu" label="Numero ulteriori intestatari" mandatory_enabled="#GEN_INTAGG_AU.checked()" name="NschedeAllegateAu" size="1"/>soggetti coinvolti nel procedimento edilizio che firmano con <b>firma autografa</b> con allegata copia del documento di identità</p>
      </td>
    </tr>
    <tr>
      <td>
        <input id="Modulo_compilato_firmato" name="Modulo_compilato_firmato" type="checkbox" dynamic_check="#Tipo_richiedente2.checked()" enabled="#Tipo_richiedente2.checked()" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height:1.6;">Domanda firmata dal titolare nella seguente modalità: 
            <select class="inputNormal" id="Tipo_Firma_modulo_compilato" name="Tipo_Firma_modulo_compilato" style="width:52%" label="Tipo firma modulo compilato" mandatory_enabled="#Modulo_compilato_firmato.checked()">
              <option value=""></option>
              <option value="Firma autografa">Firma autografa</option>
              <option value="Firma elettronica">Firma elettronica</option>
            </select>
        </p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width:3%">
        <input id="GEN_CDI" name="GEN_CDI" type="checkbox" dynamic_check="#Tipo_richiedente2.checked() and #Tipo_Firma_modulo_compilato.value() == 'Firma autografa'" enabled="#Tipo_richiedente2.checked() and #Tipo_Firma_modulo_compilato.value() == 'Firma autografa'" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height:1.6;">Copia del documento d'identità del proprietario dell'immobile/soggetto in possesso di titolo idoneo</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width:4%">
        <input id="Contr_locaz" name="Contr_locaz" type="checkbox" dynamic_check="#Parametri_Titolo3.checked()" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;">
        <p><b>Documentazione comprovante il diritto contrattuale</b></p>
      </td>
    </tr>
    <tr>
			<td>
			 <input id="ALTRI_ALLEGATI" name="ALTRI_ALLEGATI" type="checkbox" value="OBBLIGATORIO"/>
			</td>
			<td style="background-color: #eeeeee;" colspan="2">
			  <p style="line-height:1.6;">Altri allegati <input class="" label="Altri allegati" id="AltriAllegati" mandatory_enabled="#ALTRI_ALLEGATI.checked()" name="AltriAllegati" style="width:88%;"/></p>
			</td>
	  </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" name="Accettazione_Informativa_dati" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="width: 4%; vertical-align: top;">
        <div id="Presa_visione" name="Presa_visione" label="Dichiarazione presa visione" mandatory_enabled="true"> </div>
        <input group="Presa_visione" id="Presa_visione_check" name="Presa_visione_check" type="checkbox" value="1" />
      </td>
      <td colspan="2" style="background-color: #eeeeee;">
        <p style="line-height:1.4;"><b>Dichiaro di aver ricevuto e preso visione dell'<a href="https://sportello.comune.trento.it/document/inform-tratt-dati-edilizia" target="_blank">informativa sul trattamento dei dati personali</a></b> <br><span style="font-size:85%"><i>(artt. 13 e 14 Regolamento UE n. 2016/679)</i></span></p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo simpatico-block" name="Luogo_e_data" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="width: 25%; text-align: center;">
        <input class="" id="Luogo_PDF" name="Luogo_PDF" style="width:80%;" type="text"/>
      </td>
      <td style="width: 25%; text-align: center;">
        <input class="" id="Data_PDF" name="Data_PDF" style="width:80%;" type="text"/>
      </td>
      <td style="width: 50%; text-align: center; height: 1.5cm;">
        <input class="" id="nominativo_richiedente" name="nominativo_richiedente" dynamic_value="' ' + #AventeTitolo_Cognome.value().toUpperCase() + ' ' + #AventeTitolo_Nome.value().toUpperCase()" style="width:90%;"/>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td>
        <p class="Labelcella" style="text-align: center">Luogo</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Data</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Il richiedente</p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<p class="Modulo">
  <input id="SalvaModulo" name="SalvaModulo" style="height:30px;width:120px;" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza." type="submit" value="Salva modulo" />
</p>
<input destinatario_amministrazione="getParameter('Ente')" id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value="" />

<input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden" />
<input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden" />
<input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}" />

<input id="GLOBO_modulofiglio_cGEN-PROGETTISTA" name="GLOBO_modulofiglio_cGEN-PROGETTISTA" obbligatorio="'OBBLIGATORIO'" type="hidden" value=""/>

<input id="numeroallegati" name="numeroallegati" dynamic_value="parseInt(#Immobile_NumeroAltriImmobili.value()) /10" type="hidden" />

<input id="GLOBO_modulofiglio_cGEN-IMMAGG" name="GLOBO_modulofiglio_cGEN-IMMAGG" numero="Math.ceil(#numeroallegati.value())" obbligatorio="(#GEN_IMMAGG.checked() and #Tipo_richiedente1.checked()) ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_modulofiglio_cGEN-IMMAGG-EL" name="GLOBO_modulofiglio_cGEN-IMMAGG-EL" numero="Math.ceil(#numeroallegati.value())" obbligatorio="#Tipo_Firma_ult_particelle.value() == 'Firmato con firma elettronica' ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_modulofiglio_cGEN-IMMAGG-AU" name="GLOBO_modulofiglio_cGEN-IMMAGG-AU" numero="Math.ceil(#numeroallegati.value())" obbligatorio="#Tipo_Firma_ult_particelle.value() == 'Firmato con firma autografa' ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<input id="GLOBO_modulofiglio_cGEN-INTAGG-EL" name="GLOBO_modulofiglio_cGEN-INTAGG-EL" numero="#NschedeAllegateEl.value()" obbligatorio="#NschedeAllegateEl.value() != 0 ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_modulofiglio_cGEN-INTAGG-AU" name="GLOBO_modulofiglio_cGEN-INTAGG-AU" numero="#NschedeAllegateAu.value()" obbligatorio="#NschedeAllegateAu.value() != 0 ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>


<input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cGEN-COROGRAFIA" name="GLOBO_allegato_cGEN-COROGRAFIA" obbligatorio="#Corografia_estrattoPRG.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cGEN-PLANIMETRIA_RETI" name="GLOBO_allegato_cGEN-PLANIMETRIA_RETI" obbligatorio="#Planimetria_generale.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cGEN-PLANIMETRIA_DI_RAFFRONTO" name="GLOBO_allegato_cGEN-PLANIMETRIA_DI_RAFFRONTO" obbligatorio="#Planimetria_raffronto.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_allegato_cGEN-ALTRI-ALLEGATI" name="GLOBO_allegato_cGEN-ALTRI-ALLEGATI" obbligatorio="#ALTRI_ALLEGATI.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<input id="GLOBO_allegato_cGEN-CDI" name="GLOBO_allegato_cGEN-CDI" obbligatorio="#GEN_CDI.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input id="GLOBO_allegato_cGEN-Modulo_compilato_firma_autografa" name="GLOBO_allegato_cGEN-Modulo_compilato_firma_autografa" obbligatorio="#Tipo_Firma_modulo_compilato.value() == 'Firma autografa' ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
<input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cGEN-Modulo_compilato_firma_elettronica" name="GLOBO_allegato_cGEN-Modulo_compilato_firma_elettronica" obbligatorio="#Tipo_Firma_modulo_compilato.value() == 'Firma elettronica' ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<input id="GLOBO_allegato_cGEN-DOC-DIRITTO-CONTRATTUALE" name="GLOBO_allegato_cGEN-DOC-DIRITTO-CONTRATTUALE" obbligatorio="#Contr_locaz.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<input id="GLOBO_allegato_cINFORM-TRATT-DATI-EDILIZIA" name="GLOBO_allegato_cINFORM-TRATT-DATI-EDILIZIA" obbligatorio="''" type="hidden" value=""/>

<input id="Metadati_oggetto" name="Metadati_oggetto" dynamic_value="#Oggetto.value()" type="hidden"/>
<input id="Metadati_AventeTitolo_Cognome" name="Metadati_AventeTitolo_Cognome" dynamic_value="#AventeTitolo_Cognome.value()" type="hidden"/>

{% endblock content %}
