{% set CodiceModulo =  "M2301-MSEC02-DATI-TECNICI-EL" %}
{% set Urn =  "document:c_l378:aut.scarico.insed.civ;richiedere.autorizzazione;domanda.autorizzazione.scarico.civ;msec02.m2301.dati.tecnici.el" %}
{% extends "base_trento_new.html" %}

{% block meta %}
<meta campi_firma="AventeTitolo_CodiceFiscale"
classi_modulo="Generale"
codice_modulo="{{ CodiceModulo }}"
urn="{{ Urn }}"
descrizione="Modulo secondario - Autorizzazione scarico insediamenti civili - dati tecnici (firma elettronica)"
destinatario_amministrazione=""
destinatario_ufficio=""
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="NO"
firmare="P7M_ELETTRONICA"
istruzioni_compilazione=""
istruzioni_invio=""
metodo_invio=""
name="GLOBO_modulo"
procura="NO,,"
tipo_modulo="secondario"
ufficio=""
urlhelp="/modulistica/moduli/M2301-MSEC02-DATI-TECNICI-EL"
verifica_pagamento="NO"
versione="1.0|01/01/2015"/>

<meta codice_allegato="GEN-ESTRATTO-MAPPA-CATASTALE"
urn_allegato="document:c_l378:allegato.estratto.mappa.catastale"
descrizione_estesa="Allegato - Estratto mappa catastale in scala 1:1000"
filename="Estratto_mappa_catastale.pdf"
firmato="SI"
firmatari="Progettista_CodiceFiscale"
firmatari_label="Professionista incaricato"
istruzioni="/modulistica/moduli/GEN-ESTRATTO-MAPPA-CATASTALE"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-PERIZIA-GEOLOGICA"
urn_allegato="document:c_l378:allegato.perizia.geologica"
descrizione_estesa="Allegato - Perizia geologica"
filename="Perizia_geologica.pdf"
firmato="SI"
firmatari="Progettista_CodiceFiscale"
firmatari_label="Professionista incaricato"
istruzioni="/modulistica/moduli/GEN-PERIZIA-GEOLOGICA"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M2301-A01-PLANIM-INSED-SCARICO"
urn_allegato="document:c_l378:aut.scarico.insed.civ;richiedere.autorizzazione;domanda.autorizzazione.scarico.civ;a01.m2301.planim.insed.scarico"
descrizione_estesa="Allegato - Planimetria fabbricato, rete fognatura, pozzetti, secondo il Regolamento di fognatura comunale"
filename="Planimetria_insediamento_scarico.pdf"
firmato="SI"
firmatari="Progettista_CodiceFiscale"
firmatari_label="Professionista incaricato"
istruzioni="/modulistica/moduli/M2301-A01-PLANIM-INSED-SCARICO"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M2301-A02-RELAZ-TEC-IMP-DEPURAZ"
urn_allegato="document:c_l378:aut.scarico.insed.civ;richiedere.autorizzazione;domanda.autorizzazione.scarico.civ;a02.m2301.rel.tec.imp.depurazione"
descrizione_estesa="Allegato - Relazione tecnico-illustrativa dell'intervento"
filename="Relazione_tecnica_impianto_depurazione.pdf"
firmato="SI"
firmatari="Progettista_CodiceFiscale"
firmatari_label="Professionista incaricato"
istruzioni="/modulistica/moduli/M2301-A02-RELAZ-TEC-IMP-DEPURAZ"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M2301-A03-PART-GRAF-IMP-DEPURAZ"
urn_allegato="document:c_l378:aut.scarico.insed.civ;richiedere.autorizzazione;domanda.autorizzazione.scarico.civ;a03.m2301.part.graf.imp.depurazione"
descrizione_estesa="Allegato - Particolari costruttivi e specifiche tecniche degli impianti di depurazione"
filename="Part_graf_impianto_depurazione.pdf"
firmato="SI"
firmatari="Progettista_CodiceFiscale"
firmatari_label="Professionista incaricato"
istruzioni="/modulistica/moduli/M2301-A03-PART-GRAF-IMP-DEPURAZ"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M2301-A04-PART-GRAF-VASCA-TENUTA"
urn_allegato="document:c_l378:aut.scarico.insed.civ;richiedere.autorizzazione;domanda.autorizzazione.scarico.civ;a04.m2301.part.graf.vasca.tenuta"
descrizione_estesa="Allegato - Schema tecnico-funzionale vasca imhoff"
filename="Part_graf_vasca_tenuta.pdf"
firmato="SI"
firmatari="Progettista_CodiceFiscale"
firmatari_label="Professionista incaricato"
istruzioni="/modulistica/moduli/M2301-A04-PART-GRAF-VASCA-TENUTA"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M2301-A05-PROF-LONG-COND"
urn_allegato="document:c_l378:aut.scarico.insed.civ;richiedere.autorizzazione;domanda.autorizzazione.scarico.civ;a05.m2301.prof.long.cond"
descrizione_estesa="Allegato - Profilo longitudinale terreno e condotte"
filename="Profilo_long_condotte.pdf"
firmato="SI"
firmatari="Progettista_CodiceFiscale"
firmatari_label="Professionista incaricato"
istruzioni="/modulistica/moduli/M2301-A05-PROF-LONG-COND"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M2301-A06-PART-COSTR-SIF-POZZ"
urn_allegato="document:c_l378:aut.scarico.insed.civ;richiedere.autorizzazione;domanda.autorizzazione.scarico.civ;a06.m2301.part.costr.sif.pozz"
descrizione_estesa="Allegato - Particolari costruttivi (sifone Firenze, innesto a sella, pozzetti, ecc.)"
filename="Part_costrutt_event.pdf"
firmato="SI"
firmatari="Progettista_CodiceFiscale"
firmatari_label="Professionista incaricato"
istruzioni="/modulistica/moduli/M2301-A06-PART-COSTR-SIF-POZZ"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M2301-A07-PLAN-MOD-TUB"
urn_allegato="document:c_l378:aut.scarico.insed.civ;richiedere.autorizzazione;domanda.autorizzazione.scarico.civ;a07.m2301.plan.mod.tub"
descrizione_estesa="Allegato - Planimetria (stato di fatto, progetto e raffronto) corredata da profilo longitudinale in caso di modifica alle tubazioni esterne"
filename="Planim_mod_tubaz.pdf"
firmato="SI"
firmatari="Progettista_CodiceFiscale"
firmatari_label="Professionista incaricato"
istruzioni="/modulistica/moduli/M2301-A07-PLAN-MOD-TUB"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M2301-A08-PART-COSTR-TRINC"
urn_allegato="document:c_l378:aut.scarico.insed.civ;richiedere.autorizzazione;domanda.autorizzazione.scarico.civ;a08.m2301.part.costr.trinc"
descrizione_estesa="Allegato - Particolari costruttivi e dimensionamento di trincee o pozzi disperdenti"
filename="Part_costr_trinc.pdf"
firmato="SI"
firmatari="Progettista_CodiceFiscale"
firmatari_label="Professionista incaricato"
istruzioni="/modulistica/moduli/M2301-A08-PART-COSTR-TRINC"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M2301-A09-DIAG-FLUSSO-PISCINE"
urn_allegato="document:c_l378:aut.scarico.insed.civ;richiedere.autorizzazione;domanda.autorizzazione.scarico.civ;a09.m2301.diag.flusso.piscine"
descrizione_estesa="Allegato - Diagramma di flusso per piscine"
filename="Diagr_flusso_piscine.pdf"
firmato="SI"
firmatari="Progettista_CodiceFiscale"
firmatari_label="Professionista incaricato"
istruzioni="/modulistica/moduli/M2301-A09-DIAG-FLUSSO-PISCINE"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M2301-A10-SCHEMA-TECN-SOLLEV"
urn_allegato="document:c_l378:aut.scarico.insed.civ;richiedere.autorizzazione;domanda.autorizzazione.scarico.civ;a10.m2301.schema.tecn.sollev"
descrizione_estesa="Allegato - Schema tecnico/funzionale impianto di sollevamento"
filename="Schema_imp_sollev.pdf"
firmato="SI"
firmatari="Progettista_CodiceFiscale"
firmatari_label="Professionista incaricato"
istruzioni="/modulistica/moduli/M2301-A10-SCHEMA-TECN-SOLLEV"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M2301-A11-VALVOLA-NON-RIT"
urn_allegato="document:c_l378:aut.scarico.insed.civ;richiedere.autorizzazione;domanda.autorizzazione.scarico.civ;a11.m2301.valvola.non.ritorno"
descrizione_estesa="Allegato - Indicazione valvola di non ritorno"
filename="Valvola_non_ritorno.pdf"
firmato="SI"
firmatari="Progettista_CodiceFiscale"
firmatari_label="Professionista incaricato"
istruzioni="/modulistica/moduli/M2301-A11-VALVOLA-NON-RIT"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M2301-A13-PART-COSTR-VASCA-PRIMA-PIOG"
urn_allegato="document:c_l378:aut.scarico.insed.civ;richiedere.autorizzazione;domanda.autorizzazione.scarico.civ;a13.m2301.part.cost.vasca.prima.pioggia"
descrizione_estesa="Allegato - Particolari costruttivi e dimensionamento della vasca di prima pioggia"
filename="Part_cost_vasca_prima_pioggia.pdf"
firmato="SI"
firmatari="Progettista_CodiceFiscale"
firmatari_label="Professionista incaricato"
istruzioni="/modulistica/moduli/M2301-A13-PART-COSTR-VASCA-PRIMA-PIOG"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M2301-A14-QUOTA-BOCCA-SCARICO"
urn_allegato="document:c_l378:aut.scarico.insed.civ;richiedere.autorizzazione;domanda.autorizzazione.scarico.civ;a14.m2301.quota.bocca.scarico"
descrizione_estesa="Allegato - Indicazione della quota della bocca dello scarico rispetto alla quota della strada"
filename="Quota_bocca_scarico.pdf"
firmato="SI"
firmatari="Progettista_CodiceFiscale"
firmatari_label="Professionista incaricato"
istruzioni="/modulistica/moduli/M2301-A14-QUOTA-BOCCA-SCARICO"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M2301-A15-AUT-SCAR-ACQUE-SUP"
urn_allegato="document:c_l378:aut.scarico.insed.civ;richiedere.autorizzazione;domanda.autorizzazione.scarico.civ;a15.m2301.aut.scar.acque.sup"
descrizione_estesa="Allegato - Autorizzazione per scarico in acque superficiali"
filename="Autorizz_scaric_acque_sup.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/M2301-A15-AUT-SCAR-ACQUE-SUP"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M2301-A16-PARERE-BONIF-AGRARIE"
urn_allegato="document:c_l378:aut.scarico.insed.civ;richiedere.autorizzazione;domanda.autorizzazione.scarico.civ;a16.m2301.parere.bonifiche.agrarie"
descrizione_estesa="Allegato - Parere servizio foresta e fauna per bonifiche agrarie"
filename="Parere_bonif_agrarie.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/M2301-A16-PARERE-BONIF-AGRARIE"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-ALLEGATI-VARI"
urn_allegato="document:c_l378:allegato.allegati.vari"
descrizione_estesa="Allegato - Altri allegati"
filename="Altri allegati.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-ALLEGATI-VARI"
name="GLOBO_allegato"
numero="0"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

{% endblock meta %}


{% block title %}
Autorizzazione scarico insediamenti civili - DATI TECNICI (firma elettronica)
{% endblock title %}

{% block content %}


{{intestazioni.intestazione_modulosecondario_senzabollo()}}
<input id="Oggetto" name="Oggetto" type="hidden" value="" dynamic_value="#AventeTitolo_Cognome.value().toUpperCase() + ' - Autorizzazione scarico insediamenti civili - dati tecnici (firma elettronica)'"/>

<div class="simpatico-block simpatico-query-and-answer">
  <h1 class="Modulo" style="line-height:1.8;">Richiesta di autorizzazione allo scarico degli insediamenti civili <br> DATI TECNICI (firma elettronica)</h1>

  <br>

  <table class="Modulo" name="consapevolezza_sanz_penali" style="border: 1px solid grey">
    <tbody>
      <tr class="Rigaintestazione">
        <td>
          <p style="line-height:1.6;">Il proprietario, comproprietario o richiedente in possesso di titolo idoneo, <input id="Nominativo_titolare" name="Nominativo_titolare" dynamic_value="#AventeTitolo_Cognome.value() + ' ' + #AventeTitolo_Nome.value()" size="37"/></p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<br>
<br>

<h1 class="Modulo">DICHIARA</h1>

<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p style="line-height:1.6;"><b>DATI RELATIVI ALL'INSEDIAMENTO*</b><br><span style="font-size:80%;">*(edificio, area, struttura, impianto ecc. dove si svolge l'attività che dà luogo allo scarico)</span></p>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <p style="line-height:2;">>>> Volume dell'insediamento: <input class="" label="Volume dell'insediamento" id="Volume_insediamento" name="Volume_insediamento" mandatory_enabled="true" style="width:15%; text-align: center;"/> m^3
            <br>>>> Numero residenti o previsti totali: <input class="" label="Numero residenti" id="Residenti_insediamento" name="Residenti_insediamento" mandatory_enabled="true" style="width:15%; text-align: center;"/></p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="3">
        <p style="line-height:1.6;">Lo scarico è costituito esclusivamente da <b>liquami di tipo domestico e/o zootecnico</b> provenienti da:</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <div id="Provenienza_liquami" name="Provenienza_liquami" label="Provenienza dei liquami" mandatory_enabled="true"> </div>
        <input group="Provenienza_liquami" id="Provenienza_liquami1" name="Provenienza_liquami1" type="checkbox" value="1" />
      </td>
      <td colspan="2">
        <p style="line-height:1.6;">abitazione civile</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <input group="Provenienza_liquami" id="Provenienza_liquami2" name="Provenienza_liquami2" type="checkbox" value="2" />
      </td>
      <td colspan="2">
        <p style="line-height:1.6;">esercizio pubblico</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <input group="Provenienza_liquami" id="Provenienza_liquami3" name="Provenienza_liquami3" type="checkbox" value="3" />
      </td>
      <td colspan="2">
        <p style="line-height:1.6;">albergo/pensione</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <input group="Provenienza_liquami" id="Provenienza_liquami4" name="Provenienza_liquami4" type="checkbox" value="4" />
      </td>
      <td colspan="2">
        <p style="line-height:1.6;">esercizio commerciale</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <input group="Provenienza_liquami" id="Provenienza_liquami5" name="Provenienza_liquami5" type="checkbox" value="5" />
      </td>
      <td colspan="2">
        <p style="line-height:1.6;">scuole o simili</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; text-align: center; width: 4%;">
        <input group="Provenienza_liquami" id="Provenienza_liquami6" name="Provenienza_liquami6" type="checkbox" value="6" />
      </td>
      <td colspan="2">
        <p style="line-height:2;">allevamento zootecnico (indicare le specie allevate)<br><span style="font-size:85%;">
          &nbsp;&nbsp;&nbsp;&nbsp;>>> Specie 1: <input class="" id="specie_allevata1" name="specie_allevata1" label="Prima specie allevata" mandatory_enabled="#Provenienza_liquami6.checked()" style="width:57%;"/> &nbsp;&nbsp;&nbsp;&nbsp; Numero capi: <input class="" id="num_capi_specie_allevata1" name="num_capi_specie_allevata1" label="Numero capi prima specie allevata" mandatory_enabled="#Provenienza_liquami6.checked()" style="width:15%;"/><br>
          &nbsp;&nbsp;&nbsp;&nbsp;>>> Specie 2: <input class="" id="specie_allevata2" name="specie_allevata2" label="Seconda specie allevata" enabled="#Provenienza_liquami6.checked()" style="width:57%;"/> &nbsp;&nbsp;&nbsp;&nbsp; Numero capi: <input class="" id="num_capi_specie_allevata2" name="num_capi_specie_allevata2" label="Numero capi seconda specie allevata" mandatory_enabled="#specie_allevata2.value() != ''" style="width:15%;"/><br>
          &nbsp;&nbsp;&nbsp;&nbsp;>>> Specie 3: <input class="" id="specie_allevata3" name="specie_allevata3" label="Terza specie allevata" enabled="#Provenienza_liquami6.checked()" style="width:57%;"/> &nbsp;&nbsp;&nbsp;&nbsp; Numero capi: <input class="" id="num_capi_specie_allevata3" name="num_capi_specie_allevata3" label="Numero capi terza specie allevata" mandatory_enabled="#specie_allevata3.value() != ''" style="width:15%;"/><br>
          &nbsp;&nbsp;&nbsp;&nbsp;>>> Specie 4: <input class="" id="specie_allevata4" name="specie_allevata4" label="Quarta specie allevata" enabled="#Provenienza_liquami6.checked()" style="width:57%;"/> &nbsp;&nbsp;&nbsp;&nbsp; Numero capi: <input class="" id="num_capi_specie_allevata4" name="num_capi_specie_allevata4" label="Numero capi quarta specie allevata" mandatory_enabled="#specie_allevata4.value() != ''" style="width:15%;"/><br>
          &nbsp;&nbsp;&nbsp;&nbsp;>>> Specie 5: <input class="" id="specie_allevata5" name="specie_allevata5" label="Quinta specie allevata" enabled="#Provenienza_liquami6.checked()" style="width:57%;"/> &nbsp;&nbsp;&nbsp;&nbsp; Numero capi: <input class="" id="num_capi_specie_allevata5" name="num_capi_specie_allevata5" label="Numero capi quinta specie allevata" mandatory_enabled="#specie_allevata5.value() != ''" style="width:15%;"/><br>
        </span>
      </p>
     </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <input group="Provenienza_liquami" id="Provenienza_liquami7" name="Provenienza_liquami7" type="checkbox" value="7" />
      </td>
      <td colspan="2">
        <p style="line-height:1.6;">altro: <input class="" id="altro_tipo_provenienza" name="altro_tipo_provenienza" label="Altro tipo di provenienza dei liquami" mandatory_enabled="#Provenienza_liquami7.checked()" style="width:94%;"/></p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p style="line-height:1.6;"><b>APROVIGIONAMENTO ACQUE - FONTE</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <div id="Tipo_fonte" name="Tipo_fonte" label="Fonte delle acque" mandatory_enabled="true"> </div>
        <input group="Tipo_fonte" id="Tipo_fonte1" name="Tipo_fonte1" type="checkbox" value="1" />
      </td>
      <td>
        <p style="line-height:1.6;">Acquedotto</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <input group="Tipo_fonte" id="Tipo_fonte2" name="Tipo_fonte2" type="checkbox" value="2" />
      </td>
      <td>
        <p style="line-height:1.6;">Pozzo</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <input group="Tipo_fonte" id="Tipo_fonte3" name="Tipo_fonte3" type="checkbox" value="3" />
      </td>
      <td>
        <p style="line-height:1.6;">Corso d'acqua <span style="font-size:85%;"><i>(specificare)</i></span>&nbsp;&nbsp;<input class="" id="corso_acqua_fonte" name="corso_acqua_fonte" label="Corso d'acqua fonte" mandatory_enabled="#Tipo_fonte3.checked()" style="width:74.5%;"/></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <input group="Tipo_fonte" id="Tipo_fonte4" name="Tipo_fonte4" type="checkbox" value="4" />
      </td>
      <td>
        <p style="line-height:1.6;">Acqua lacustre <span style="font-size:85%;"><i>(specificare)</i></span>&nbsp;&nbsp;<input class="" id="acqua_lacustre_fonte" name="acqua_lacustre_fonte" label="Fonte acqua lacustre" mandatory_enabled="#Tipo_fonte4.checked()" style="width:74%;"/></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <input group="Tipo_fonte" id="Tipo_fonte5" name="Tipo_fonte5" type="checkbox" value="5" />
      </td>
      <td>
        <p style="line-height:1.6;">Sorgente <span style="font-size:85%;"><i>(specificare)</i></span>&nbsp;&nbsp;<input class="" id="sorgente_fonte" name="sorgente_fonte" label="Sorgente fonte" mandatory_enabled="#Tipo_fonte5.checked()" style="width:79%;"/></p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="6">
        <p style="line-height:1.6;"><b>Il punto di scarico, relativo alla particella edificiale o fondiaria indicata in precedenza</b></p>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td style="width: 30%;">
        <p class="Labelcella">Tipo</p>
      </td>
      <td style="width: 30%;">
        <p class="Labelcella">Comune catastale</p>
      </td>
      <td style="width: 10%;">
        <p class="Labelcella">Numero</p>
      </td>
      <td style="width: 10%;">
        <p class="Labelcella">Barra</p>
      </td>
      <td style="width: 10%;">
        <p class="Labelcella">Porzione Materiale</p>
      </td>
      <td style="width: 10%;">
        <p  class="Labelcella">Subalterno</p>
      </td>
    </tr>
    <tr>
      <td>
        <input style="width:100%;" class="" id="Tipo_particella_intervento" name="Tipo_particella_intervento" label="Tipo particella intervento" dynamic_value="#Immobile_TipologiaImmobile.value()">
      </td>
      <td>
        <input style="width:100%;" class="" id="Comune_cat_particella_intervento" name="Comune_cat_particella_intervento" label="Comune catastale particella intervento" dynamic_value="#Immobile_ComuneCatastale_esteso.value()">
      </td>
      <td>
        <input style="width:100%; text-align: center;" class="" id="Numero_particella_intervento" name="Numero_particella_intervento" label="Numero particella intervento" dynamic_value="#Immobile_CatNumero.value()">
      </td>
      <td>
        <input style="width:100%; text-align: center;" class="" id="Barra_particella_intervento" name="Barra_particella_intervento" label="Barra particella intervento" dynamic_value="#Immobile_CatBarra.value()">
      </td>
      <td>
        <input style="width:100%; text-align: center;" class="" id="Porz_mat_particella_intervento" name="Porz_mat_particella_intervento" label="Porzione materiale particella intervento" dynamic_value="#Immobile_CatPM.value()">
      </td>
      <td>
        <input style="width:100%; text-align: center;" class="" id="Subalterno_particella_intervento" name="Subalterno_particella_intervento" label="Subalterno particella intervento" dynamic_value="#Immobile_CatSubalterno.value()">
      </td>  
    </tr>
    <tr class="Rigaintestazione">
      <td colspan="6">
        <p style="line-height:1.6;"><br><b>è ubicato a una distanza di metri <input class="" id="distanza_fognatura" name="distanza_fognatura" label="Distanza dalla fognatura" mandatory_enabled="true" style="width:10%; text-align: center;"/> dalla pubblica fognatura</b></p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p style="line-height:1.6;"><b>Il progetto prevede inoltre l'installazione dei seguenti elementi:</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <div id="Elementi_ulteriori" name="Elementi_ulteriori" label="Ulteriori elementi la cui installazione è prevista nel progetto" enabled="true"> </div>
        <input group="Elementi_ulteriori" id="Elementi_ulteriori1" name="Elementi_ulteriori1" type="checkbox" value="1" />
      </td>
      <td>
        <p style="line-height:1.6;">Piscine</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <input group="Elementi_ulteriori" id="Elementi_ulteriori2" name="Elementi_ulteriori2" type="checkbox" value="2" />
      </td>
      <td>
        <p style="line-height:1.6;">Disoleatori/Depuratori</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <input group="Elementi_ulteriori" id="Elementi_ulteriori3" name="Elementi_ulteriori3" type="checkbox" value="3" />
      </td>
      <td>
        <p style="line-height:1.6;">Impianto di sollevamento</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width: 4%;">
        <input group="Elementi_ulteriori" id="Elementi_ulteriori4" name="Elementi_ulteriori4" type="checkbox" value="4" />
      </td>
      <td>
        <p style="line-height:1.6;">Vasca di prima pioggia</p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="4">
        <p style="text-align: center; line-height: 1.6;"><b>Elenco degli allegati</b></p>
      </td>
    </tr>
    <tr class="Rigaintestazione">
      <td style="width:4%;">
        <p style="line-height: 1.6; font-size: 85%; text-align: center;">Si allega</p>
      </td>
      <td colspan="2">
        <p style="line-height: 1.6; font-size: 85%; text-align: center;">Titolo allegato</p>
      </td>
      <td style="width:15%;">
        <p style="line-height: 1.6; font-size: 85%; text-align: center;">Indicare il numero di documenti</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width:4%;">
        <input id="Relazione_tecnica_impianto" name="Relazione_tecnica_impianto" type="checkbox" dynamic_check="true" value="OBBLIGATORIO" />
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height:1.6;"><b>Relazione tecnico-illustrativa</b> dell'intervento</p>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input class="" type="number" id="num_Relazione_tecnica_impianto" name="num_Relazione_tecnica_impianto" label="Numero relazione tecnica impianto" mandatory_enabled="#Relazione_tecnica_impianto.checked()" style="width: 90%; text-align: center;" min="1" max="100"/></p>
        <input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cM2301-A02-RELAZ-TEC-IMP-DEPURAZ" name="GLOBO_allegato_cM2301-A02-RELAZ-TEC-IMP-DEPURAZ" obbligatorio="#Relazione_tecnica_impianto.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value="" numero="#num_Relazione_tecnica_impianto.value()"/>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width:4%;">
        <input id="Estratto_mappa_catastale" name="Estratto_mappa_catastale" type="checkbox" dynamic_check="true" value="OBBLIGATORIO" />
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height:1.6;"><b>Estratto mappa catastale</b> in scala 1:1000 formato minimo A4</p>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input class="" type="number" id="num_Estratto_mappa_catastale" name="num_Estratto_mappa_catastale" label="Numero documenti estratto mappa catastale" mandatory_enabled="#Estratto_mappa_catastale.checked()" style="width: 90%; text-align: center;" min="1" max="100"/></p>
        <input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cGEN-ESTRATTO-MAPPA-CATASTALE" name="GLOBO_allegato_cGEN-ESTRATTO-MAPPA-CATASTALE" obbligatorio="#Estratto_mappa_catastale.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value="" numero="#num_Estratto_mappa_catastale.value()"/>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; text-align: center; width:4%;">
        <input id="Planim_rete_fogn" name="Planim_rete_fogn" type="checkbox" dynamic_check="true" value="OBBLIGATORIO" />
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height:1.6;"><b>Planimetria</b> in scala non minore a 1:200 con indicati: il fabbricato e le sue adiacenze con rappresentazione dello <b>sviluppo della rete di fognatura nera</b> e delle relative colonne di scarico, riportando l'esatta ubicazione dei pozzetti, il tutto secondo il regolamento di fognatura comunale.<br>Devono essere rappresentati i catastini dei locali con segnata la destinazione d’uso e le colonne di scarico.</p>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input class="" type="number" id="num_Planim_rete_fogn" name="num_Planim_rete_fogn" label="Numero documenti planimetria sviluppo rete fognatura" mandatory_enabled="#Planim_rete_fogn.checked()" style="width: 90%; text-align: center;" min="1" max="100"/></p>
        <input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cM2301-A01-PLANIM-INSED-SCARICO" name="GLOBO_allegato_cM2301-A01-PLANIM-INSED-SCARICO" obbligatorio="#Planim_rete_fogn.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value="" numero="#num_Planim_rete_fogn.value()"/>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; text-align: center; width:4%;">
        <input id="Prof_long_cond" name="Prof_long_cond" type="checkbox" dynamic_check="true" value="OBBLIGATORIO" />
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height:1.6;"><b>Profilo longitudinale del terreno e delle condotte</b> in scala non minore a 1:200 - 1:50, con indicazione dello sviluppo della rete, distanze parziali e progressive, quote terreno e di posa della rete, diametri e tipologia delle tubazioni, pendenze, eventuali intersezioni con sotto-servizi noti potenzialmente interferenti</p>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input class="" type="number" id="num_Prof_long_cond" name="num_Prof_long_cond" label="Numero documenti profilo longitudinale del terreno e delle condotte" mandatory_enabled="#Prof_long_cond.checked()" style="width: 90%; text-align: center;" min="1" max="100"/></p>
        <input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cM2301-A05-PROF-LONG-COND" name="GLOBO_allegato_cM2301-A05-PROF-LONG-COND" obbligatorio="#Prof_long_cond.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value="" numero="#num_Prof_long_cond.value()"/>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; text-align: center; width:4%;">
        <input id="Part_costrutt_sifone" name="Part_costrutt_sifone" type="checkbox" dynamic_check="true" value="OBBLIGATORIO" />
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height:1.6;"><b>Particolari costruttivi eventuali</b> come: sifone Firenze, innesto a sella o cameretta, pozzo di salto, prelievo campioni, pozzetti dissabbiatore</p>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input class="" type="number" id="num_Part_costrutt_sifone" name="num_Part_costrutt_sifone" label="Numero documenti particolari costruttivi eventuali" mandatory_enabled="#Part_costrutt_sifone.checked()" style="width: 90%; text-align: center;" min="1" max="100"/></p>
        <input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cM2301-A06-PART-COSTR-SIF-POZZ" name="GLOBO_allegato_cM2301-A06-PART-COSTR-SIF-POZZ" obbligatorio="#Part_costrutt_sifone.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value="" numero="#num_Part_costrutt_sifone.value()"/>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; text-align: center; width:4%;">
        <input id="Planim_modif_tub" name="Planim_modif_tub" type="checkbox" dynamic_check="#Tipo_richiesta_autorizz.value() == 'SOSTITUZIONE'" enabled="#Tipo_richiesta_autorizz.value() == 'SOSTITUZIONE'" value="OBBLIGATORIO" />
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height:1.6;"><b>Planimetria</b> rappresentante lo <b>stato di fatto, progetto e raffronto</b>, corredata da profilo longitudinale qualora vi sia una qualunque modifica delle tubazioni esterne all'edificio</p>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input class="" type="number" id="num_Planim_modif_tub" name="num_Planim_modif_tub" label="Numero documenti planimetria stato di fatto modifica tubazioni esterne" mandatory_enabled="#Planim_modif_tub.checked()" style="width: 90%; text-align: center;" min="1" max="100"/></p>
        <input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cM2301-A07-PLAN-MOD-TUB" name="GLOBO_allegato_cM2301-A07-PLAN-MOD-TUB" obbligatorio="#Planim_modif_tub.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value="" numero="#num_Planim_modif_tub.value()"/>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width:4%;">
        <input id="Perizia_geologica" name="Perizia_geologica" type="checkbox" dynamic_check="#Destinazione_acque_nere_suolo.value() == 'vero' || #Destinazione_acque_bianche_suolo.value() == 'vero'" enabled="#Destinazione_acque_nere_suolo.value() == 'vero' || #Destinazione_acque_bianche_suolo.value() == 'vero'" value="OBBLIGATORIO" />
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height:1.6;"><b>Perizia geologica</b></p>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input class="" type="number" id="num_Perizia_geologica" name="num_Perizia_geologica" label="Numero documenti perizia geologica" mandatory_enabled="#Perizia_geologica.checked()" style="width: 90%; text-align: center;" min="1" max="100"/></p>
        <input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cGEN-PERIZIA-GEOLOGICA" name="GLOBO_allegato_cGEN-PERIZIA-GEOLOGICA" obbligatorio="#Perizia_geologica.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value="" numero="#num_Perizia_geologica.value()"/>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width:4%;">
        <input id="Part_costr_trincee" name="Part_costr_trincee" type="checkbox" enabled="true" value="OBBLIGATORIO" />
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height:1.6;"><b>Particolari costruttivi e dimensionamento di trincee o pozzi disperdenti</b></p>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input class="" type="number" id="num_Part_costr_trincee" name="num_Part_costr_trincee" label="Numero documenti particolari costruttivi trincee o pozzi disperdenti" mandatory_enabled="#Part_costr_trincee.checked()" style="width: 90%; text-align: center;" min="1" max="100"/></p>
        <input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cM2301-A08-PART-COSTR-TRINC" name="GLOBO_allegato_cM2301-A08-PART-COSTR-TRINC" obbligatorio="#Part_costr_trincee.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value="" numero="#num_Part_costr_trincee.value()"/>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width:4%;">
        <input id="Diagr_flusso_piscine" name="Diagr_flusso_piscine" type="checkbox" dynamic_check="#Elementi_ulteriori1.checked()" enabled="#Elementi_ulteriori1.checked()" value="OBBLIGATORIO" />
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height:1.6;"><b>Diagramma di flusso per piscine</b></p>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input class="" type="number" id="num_Diagr_flusso_piscine" name="num_Diagr_flusso_piscine" label="Numero documenti diagramma di flusso per piscine" mandatory_enabled="#Diagr_flusso_piscine.checked()" style="width: 90%; text-align: center;" min="1" max="100"/></p>
        <input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cM2301-A09-DIAG-FLUSSO-PISCINE" name="GLOBO_allegato_cM2301-A09-DIAG-FLUSSO-PISCINE" obbligatorio="#Diagr_flusso_piscine.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value="" numero="#num_Diagr_flusso_piscine.value()"/>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width:4%;">
        <input id="Part_costr_depur" name="Part_costr_depur" type="checkbox" dynamic_check="#Elementi_ulteriori2.checked()" enabled="#Elementi_ulteriori2.checked()" value="OBBLIGATORIO" />
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height:1.6;"><b>Particolari costruttivi e specifiche tecniche disoleatori/depuratori</b> ecc., con relazione tecnica illustrativa di funzionamento e diagramma di flusso</p>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input class="" type="number" id="num_Part_costr_depur" name="num_Part_costr_depur" label="Numero documenti particolari costruttivi depuratori" mandatory_enabled="#Part_costr_depur.checked()" style="width: 90%; text-align: center;" min="1" max="100"/></p>
        <input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cM2301-A03-PART-GRAF-IMP-DEPURAZ" name="GLOBO_allegato_cM2301-A03-PART-GRAF-IMP-DEPURAZ" obbligatorio="#Part_costr_depur.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value="" numero="#num_Part_costr_depur.value()"/>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width:4%;">
        <input id="Schema_imp_sollev" name="Schema_imp_sollev" type="checkbox" dynamic_check="#Elementi_ulteriori3.checked()" enabled="#Elementi_ulteriori3.checked()" value="OBBLIGATORIO" />
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height:1.6;"><b>Schema tecnico/funzionale impianto di sollevamento</b></p>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input class="" type="number" id="num_Schema_imp_sollev" name="num_Schema_imp_sollev" label="Numero documenti schema impianto di sollevamento" mandatory_enabled="#Schema_imp_sollev.checked()" style="width: 90%; text-align: center;" min="1" max="100"/></p>
        <input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cM2301-A10-SCHEMA-TECN-SOLLEV" name="GLOBO_allegato_cM2301-A10-SCHEMA-TECN-SOLLEV" obbligatorio="#Schema_imp_sollev.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value="" numero="#num_Schema_imp_sollev.value()"/>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width:4%;">
        <input id="Indic_valv_nonrit" name="Indic_valv_nonrit" type="checkbox" dynamic_check="#Nec_valv_nonrit.value() == 'vero'" enabled="#Nec_valv_nonrit.value() == 'vero'" value="OBBLIGATORIO" />
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height:1.6;"><b>Indicazione valvola di non ritorno</b></p>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input class="" type="number" id="num_Indic_valv_nonrit" name="num_Indic_valv_nonrit" label="Numero documenti indicazione valvola di non ritorno" mandatory_enabled="#Indic_valv_nonrit.checked()" style="width: 90%; text-align: center;" min="1" max="100"/></p>
        <input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cM2301-A11-VALVOLA-NON-RIT" name="GLOBO_allegato_cM2301-A11-VALVOLA-NON-RIT" obbligatorio="#Indic_valv_nonrit.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value="" numero="#num_Indic_valv_nonrit.value()"/>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width:4%;">
        <input id="Schema_vasca_imhoff" name="Schema_vasca_imhoff" type="checkbox" dynamic_check="#Destinazione_acque_nere_suolo.value() == 'vero' || #Destinazione_acque_nere_corso_sup.value() == 'vero'" enabled="#Destinazione_acque_nere_suolo.value() == 'vero' || #Destinazione_acque_nere_corso_sup.value() == 'vero'" value="OBBLIGATORIO" />
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height:1.6;"><b>Schema tecnico/funzionale vasca imhoff</b></p>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input class="" type="number" id="num_Schema_vasca_imhoff" name="num_Schema_vasca_imhoff" label="Numero documenti schema tecnico vasca imhoff" mandatory_enabled="#Schema_vasca_imhoff.checked()" style="width: 90%; text-align: center;" min="1" max="100"/></p>
        <input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cM2301-A04-PART-GRAF-VASCA-TENUTA" name="GLOBO_allegato_cM2301-A04-PART-GRAF-VASCA-TENUTA" obbligatorio="#Schema_vasca_imhoff.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value="" numero="#num_Schema_vasca_imhoff.value()"/>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: center; text-align: center; width:4%;">
        <input id="Part_costr_vasca_prima_piogg" name="Part_costr_vasca_prima_piogg" type="checkbox" dynamic_check="#Elementi_ulteriori4.checked()" enabled="#Elementi_ulteriori4.checked()" value="OBBLIGATORIO" />
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height:1.6;"><b>Particolari costruttivi e dimensionamento della vasca di prima pioggia</b></p>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input class="" type="number" id="num_Part_costr_vasca_prima_piogg" name="num_Part_costr_vasca_prima_piogg" label="Numero documenti particolari costruttivi vasca di prima pioggia" mandatory_enabled="#Part_costr_vasca_prima_piogg.checked()" style="width: 90%; text-align: center;" min="1" max="100"/></p>
        <input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cM2301-A13-PART-COSTR-VASCA-PRIMA-PIOG" name="GLOBO_allegato_cM2301-A13-PART-COSTR-VASCA-PRIMA-PIOG" obbligatorio="#Part_costr_vasca_prima_piogg.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value="" numero="#num_Part_costr_vasca_prima_piogg.value()"/>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; text-align: center; width:4%;">
        <input id="Quota_bocca_scarico" name="Quota_bocca_scarico" type="checkbox" dynamic_check="#Destinazione_acque_nere_fogna.value() == 'vero' || #Destinazione_acque_bianche_fogna.value() == 'vero'" enabled="#Destinazione_acque_nere_fogna.value() == 'vero' || #Destinazione_acque_bianche_fogna.value() == 'vero'" value="OBBLIGATORIO" />
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height:1.6;"><b>Indicazione della quota della bocca dello scarico più bassa dello stabile</b> rispetto alla quota della strada dove è situata la botola di ispezione della fognatura</p>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input class="" type="number" id="num_Quota_bocca_scarico" name="num_Quota_bocca_scarico" label="Numero documenti indicazione quota bocca scarico" mandatory_enabled="#Quota_bocca_scarico.checked()" style="width: 90%; text-align: center;" min="1" max="100"/></p>
        <input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cM2301-A14-QUOTA-BOCCA-SCARICO" name="GLOBO_allegato_cM2301-A14-QUOTA-BOCCA-SCARICO" obbligatorio="#Quota_bocca_scarico.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value="" numero="#num_Quota_bocca_scarico.value()"/>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; text-align: center; width:4%;">
        <input id="Aut_scarico_acq_sup" name="Aut_scarico_acq_sup" type="checkbox" dynamic_check="#Destinazione_acque_nere_corso_sup.value() == 'vero' || #Destinazione_acque_bianche_corso_sup.value() == 'vero'" enabled="#Destinazione_acque_nere_corso_sup.value() == 'vero' || #Destinazione_acque_bianche_corso_sup.value() == 'vero'" value="OBBLIGATORIO" />
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height:1.6;"><b>Autorizzazione</b> Servizio Bacini Montani o Consorzio Trentino di Bonifica per <b>scarico in acque superficiali</b></p>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input class="" type="number" id="num_Aut_scarico_acq_sup" name="num_Aut_scarico_acq_sup" label="Numero documenti autorizzazione scarico in acque superficiali" mandatory_enabled="#Aut_scarico_acq_sup.checked()" style="width: 90%; text-align: center;" min="1" max="100"/></p>
        <input id="GLOBO_allegato_cM2301-A15-AUT-SCAR-ACQUE-SUP" name="GLOBO_allegato_cM2301-A15-AUT-SCAR-ACQUE-SUP" obbligatorio="#Aut_scarico_acq_sup.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value="" numero="#num_Aut_scarico_acq_sup.value()"/>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; text-align: center; width:4%;">
        <input id="Parere_bonif_agrar" name="Parere_bonif_agrar" type="checkbox" dynamic_check="#Destinazione_acque_bianche_fogna.value() == 'vero' || #Destinazione_acque_bianche_corso_sup.value() == 'vero' || #Destinazione_acque_bianche_suolo.value() == 'vero'" enabled="#Destinazione_acque_bianche_fogna.value() == 'vero' || #Destinazione_acque_bianche_corso_sup.value() == 'vero' || #Destinazione_acque_bianche_suolo.value() == 'vero'" value="OBBLIGATORIO" />
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height:1.6;"><b>Parere</b> servizio foresta e fauna per <b>bonifiche agrarie</b></p>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input class="" type="number" id="num_Parere_bonif_agrar" name="num_Parere_bonif_agrar" label="Numero documenti parere bonifiche agrarie" mandatory_enabled="#Parere_bonif_agrar.checked()" style="width: 90%; text-align: center;" min="1" max="100"/></p>
        <input id="GLOBO_allegato_cM2301-A16-PARERE-BONIF-AGRARIE" name="GLOBO_allegato_cM2301-A16-PARERE-BONIF-AGRARIE" obbligatorio="#Parere_bonif_agrar.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value="" numero="#num_Parere_bonif_agrar.value()"/>
      </td>
    </tr>
    <tr>
			<td style="vertical-align: center; text-align: center; width:4%;">
			 <input id="ALTRI_ALLEGATI" name="ALTRI_ALLEGATI" type="checkbox" enabled="true" value="OBBLIGATORIO"/>
			</td>
			<td style="background-color: #eeeeee;" colspan="2">
			  <p style="line-height:1.6;"><b>Altri allegati</b> <input class="" label="Altri allegati" id="AltriAllegati" mandatory_enabled="#ALTRI_ALLEGATI.checked()" name="AltriAllegati" style="width:83%;"/></p>
      </td>
      <td style="background-color: #eeeeee;">
        <p style="line-height: 1.6; text-align: center;"><input class="" type="number" id="num_AltriAllegati" name="num_AltriAllegati" label="Numero altri allegati" mandatory_enabled="#ALTRI_ALLEGATI.checked()" style="width: 90%; text-align: center;" min="1" max="100"/></p>
        <input id="GLOBO_allegato_cGEN-ALLEGATI-VARI" name="GLOBO_allegato_cGEN-ALLEGATI-VARI" obbligatorio="#ALTRI_ALLEGATI.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value="" numero="#num_AltriAllegati.value()"/>
      </td>
	  </tr>
  </tbody>
</table>

<br>
<br>

<div class="simpatico-block">
  <table class="Modulo" name="Luogo_e_data" style="border: 1px solid grey">
    <tbody>
      <tr>
        <td style="width: 25%; text-align: center;">
          <input class="" id="Luogo_PDF" name="Luogo_PDF" style="width:80%; text-align: center;" type="text"/>
        </td>
        <td style="width: 25%; text-align: center;">
          <input class="" id="Data_PDF" name="Data_PDF" style="width:80%; text-align: center;" type="text"/>
        </td>
        <td style="width: 50%; text-align: center; height: 1.5cm;">
          <input class="" id="nominativo_richiedente" name="nominativo_richiedente" dynamic_value="#AventeTitolo_Nome.value().toUpperCase() + ' ' + #AventeTitolo_Cognome.value().toUpperCase()" style="width:90%; text-align: center;"/>
        </td>
      </tr>
      <tr class="Rigaintestazioneridotta">
        <td>
          <p class="Labelcella" style="text-align: center">Luogo</p>
        </td>
        <td>
          <p class="Labelcella" style="text-align: center">Data</p>
        </td>
        <td>
          <p class="Labelcella" style="text-align: center">Il richiedente <span style="font-size:95%"><i>(firma elettronica)</i></span></p>
        </td>
      </tr>
    </tbody>
  </table>
  
  <br>
  <p class="Modulo">
    <input id="SalvaModulo" name="SalvaModulo" style="height:30px;width:120px;" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza." type="submit" value="Salva modulo" />
  </p>
</div>

<input id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value=""/>
<input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden"/>
<input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden"/>
<input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}"/>

<input id="AventeTitolo_CodiceFiscale" name="AventeTitolo_CodiceFiscale" type="hidden" readonly/>
<input id="AventeTitolo_Cognome" name="AventeTitolo_Cognome" type="hidden" readonly/>
<input id="AventeTitolo_Nome" name="AventeTitolo_Nome" type="hidden" readonly/>

<input id="Progettista_CodiceFiscale" name="Progettista_CodiceFiscale" type="hidden" readonly/>
<input id="Progettista_TitoloPersona" name="Progettista_TitoloPersona" type="hidden" readonly/>
<input id="Progettista_Cognome" name="Progettista_Cognome" type="hidden" readonly/>
<input id="Progettista_Nome" name="Progettista_Nome" type="hidden" readonly/>

<input id="Immobile_TipologiaImmobile" name="Immobile_TipologiaImmobile" type="hidden" readonly/>
<input id="Immobile_ComuneCatastale_esteso" name="Immobile_ComuneCatastale_esteso" type="hidden" readonly/>
<input id="Immobile_CatNumero" name="Immobile_CatNumero" type="hidden" readonly/>
<input id="Immobile_CatBarra" name="Immobile_CatBarra" type="hidden" readonly/>
<input id="Immobile_CatPM" name="Immobile_CatPM" type="hidden" readonly/>
<input id="Immobile_CatSubalterno" name="Immobile_CatSubalterno" type="hidden" readonly/>
<input id="Immobile_Provincia" name="Immobile_Provincia" type="hidden" readonly/>
<input id="Immobile_Comune" name="Immobile_Comune" type="hidden" readonly/>
<input id="Immobile_Nomecompleto_via" name="Immobile_Nomecompleto_via" type="hidden" readonly/>
<input id="Immobile_numeroCivico" name="Immobile_numeroCivico" type="hidden" readonly/>
<input id="Immobile_Barracivico" name="Immobile_Barracivico" type="hidden" readonly/>

<input id="Tipo_richiesta_autorizz" name="Tipo_richiesta_autorizz" type="hidden"/>

<input id="Destinazione_acque_nere_fogna" name="Destinazione_acque_nere_fogna" type="hidden"/>
<input id="Destinazione_acque_nere_corso_sup" name="Destinazione_acque_nere_corso_sup" type="hidden"/>
<input id="Destinazione_acque_nere_suolo" name="Destinazione_acque_nere_suolo" type="hidden"/>

<input id="Destinazione_acque_bianche_fogna" name="Destinazione_acque_bianche_fogna" type="hidden"/>
<input id="Destinazione_acque_bianche_corso_sup" name="Destinazione_acque_bianche_corso_sup" type="hidden"/>
<input id="Destinazione_acque_bianche_suolo" name="Destinazione_acque_bianche_suolo" type="hidden"/>

<input id="Nec_valv_nonrit" name="Nec_valv_nonrit" type="hidden"/>

{% endblock content %}
