{% set CodiceModulo =  "M2301-MSEC12-SCAR-INF-LIV-STRADA-EL" %}
{% set Urn =  "document:c_l378:aut.scarico.insed.civ;richiedere.autorizzazione;domanda.autorizzazione.scarico.civ;msec12.m2301.scar.inf.liv.strada.el" %}
{% extends "base_trento_new.html" %}

{% block meta %}
<meta campi_firma="AventeTitolo_CodiceFiscale"
classi_modulo="Generale"
codice_modulo="{{ CodiceModulo }}"
urn="{{ Urn }}"
descrizione="Modulo secondario - art. 25 Regolamento fognatura comunale - bocche di scarico a livello inferiore al piano stradale (firma elettronica)"
destinatario_amministrazione=""
destinatario_ufficio=""
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="NO"
firmare="P7M_ELETTRONICA"
istruzioni_compilazione=""
istruzioni_invio=""
metodo_invio=""
name="GLOBO_modulo"
procura="NO,,"
tipo_modulo="secondario"
ufficio=""
urlhelp="/modulistica/moduli/M2301-MSEC12-SCAR-INF-LIV-STRADA-EL"
verifica_pagamento="NO"
versione="1.0|01/01/2015"/>

{% endblock meta %}


{% block title %}
Art. 25 Regolamento fognatura comunale (firma elettronica)
{% endblock title %}

{% block content %}


{{intestazioni.intestazione_modulosecondario_senzabollo()}}
<input id="Oggetto" name="Oggetto" type="hidden" value="" dynamic_value="#AventeTitolo_Cognome.value().toUpperCase() + ' - art. 25 Regolamento fognatura comunale - bocche di scarico a livello inferiore al piano stradale (firma elettronica)'"/>

<div class="simpatico-block simpatico-query-and-answer">
    <h1 class="Modulo" style="line-height:1.8;">Art. 25 Regolamento fognatura comunale <br> bocche di scarico a livello inferiore al piano stradale (firma elettronica)</h1>
  <br>

  <table class="Modulo" name="consapevolezza_sanz_penali" style="border: 1px solid grey">
    <tbody>
      <tr class="Rigaintestazione">
        <td>
          <p style="line-height:1.6;">Il proprietario, comproprietario o richiedente in possesso di titolo idoneo, <input id="Nominativo_titolare" name="Nominativo_titolare" dynamic_value="#AventeTitolo_Cognome.value() + ' ' + #AventeTitolo_Nome.value()" size="37"/>, in riferimento all'autorizzazione allo scarico che si richiede per il seguente fabbricato:</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="6">
        <p style="line-height:1.6;"><b>Dati catastali</b></p>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td style="width: 30%;">
        <p class="Labelcella">Tipo</p>
      </td>
      <td style="width: 30%;">
        <p class="Labelcella">Comune catastale</p>
      </td>
      <td style="width: 10%;">
        <p class="Labelcella">Numero</p>
      </td>
      <td style="width: 10%;">
        <p class="Labelcella">Barra</p>
      </td>
      <td style="width: 10%;">
        <p class="Labelcella">Porzione Materiale</p>
      </td>
      <td style="width: 10%;">
        <p  class="Labelcella">Subalterno</p>
      </td>
    </tr>
    <tr>
      <td>
        <input style="width:100%;" class="" id="Tipo_particella_intervento" name="Tipo_particella_intervento" label="Tipo particella intervento" dynamic_value="#Immobile_TipologiaImmobile.value()">
      </td>
      <td>
        <input style="width:100%;" class="" id="Comune_cat_particella_intervento" name="Comune_cat_particella_intervento" label="Comune catastale particella intervento" dynamic_value="#Immobile_ComuneCatastale_esteso.value()">
      </td>
      <td>
        <input style="width:100%; text-align: center;" class="" id="Numero_particella_intervento" name="Numero_particella_intervento" label="Numero particella intervento" dynamic_value="#Immobile_CatNumero.value()">
      </td>
      <td>
        <input style="width:100%; text-align: center;" class="" id="Barra_particella_intervento" name="Barra_particella_intervento" label="Barra particella intervento" dynamic_value="#Immobile_CatBarra.value()">
      </td>
      <td>
        <input style="width:100%; text-align: center;" class="" id="Porz_mat_particella_intervento" name="Porz_mat_particella_intervento" label="Porzione materiale particella intervento" dynamic_value="#Immobile_CatPM.value()">
      </td>
      <td>
        <input style="width:100%; text-align: center;" class="" id="Subalterno_particella_intervento" name="Subalterno_particella_intervento" label="Subalterno particella intervento" dynamic_value="#Immobile_CatSubalterno.value()">
      </td>  
    </tr>
  </tbody>
</table>

<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="8">
        <p style="line-height:1.6;"><b>Ubicazione</b></p>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td style="width: 5%;">
        <p class="Labelcella">Prov.</p>
      </td>
      <td style="width: 20%;">
        <p class="Labelcella">Comune</p>
      </td>
      <td style="width: 35%;">
        <p class="Labelcella">Indirizzo</p>
      </td>
      <td style="width: 8%;">
        <p class="Labelcella">Civico</p>
      </td>
      <td style="width: 8%;">
        <p class="Labelcella">Barra</p>
      </td>
      <td style="width: 8%;">
        <p class="Labelcella">Interno</p>
      </td>
      <td style="width: 8%;">
        <p class="Labelcella">Piano</p>
      </td>
      <td style="width: 8%;">
        <p class="Labelcella">Scala</p>
      </td>
    </tr>
    <tr>
      <td>
        <input style="width:100%; text-align: center;" class="" id="Prov_particella_intervento" name="Prov_particella_intervento" label="Provincia particella intervento" dynamic_value="#Immobile_Provincia.value()">
      </td>
      <td>
        <input style="width:100%;" class="" id="Comune_particella_intervento" name="Comune_particella_intervento" label="Comune particella intervento" dynamic_value="#Immobile_Comune.value()">
      </td>
      <td>
        <input style="width:100%;" class="" id="Indirizzo_particella_intervento" name="Indirizzo_particella_intervento" label="Indirizzo particella intervento" dynamic_value="#Immobile_Nomecompleto_via.value()">
      </td>
      <td>
        <input style="width:100%; text-align: center;" class="" id="Civico_particella_intervento" name="Civico_particella_intervento" label="Civico particella intervento" dynamic_value="#Immobile_numeroCivico.value()">
      </td>
      <td>
        <input style="width:100%; text-align: center;" class="" id="Barra_civ_particella_intervento" name="Barra_civ_particella_intervento" label="Barra civico particella intervento" dynamic_value="#Immobile_Barracivico.value()">
      </td>  
      <td>
        <input style="width:100%; text-align: center;" class="" id="interno" name="interno" label="Interno immobile intervento" enabled="true">
      </td>  
      <td>
        <input style="width:100%; text-align: center;" class="" id="piano" name="piano" label="Piano immobile intervento" enabled="true">
      </td>  
      <td>
        <input style="width:100%; text-align: center;" class="" id="scala" name="scala" label="Scala immobile intervento" enabled="true">
      </td>  
    </tr>
  </tbody>
</table>

<br>
<br>

<h1 class="Modulo">DICHIARA</h1>

<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td>
        <p style="line-height:1.6;">di sollevare Novareti S.p.A. da ogni responsabilità per danni che potrebbero derivare allo stabile di cui sopra o a terzi per rigurgiti o per altre cause connesse all'esistenza di apparecchi con bocche di scarico a livello inferiore al piano stradale (art. 25 del vigente <i>Regolamento di fognatura comunale</i>)</p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<div class="simpatico-block">
  <table class="Modulo" name="Luogo_e_data" style="border: 1px solid grey">
    <tbody>
      <tr>
        <td style="width: 25%; text-align: center;">
          <input class="" id="Luogo_PDF" name="Luogo_PDF" style="width:80%; text-align: center;" type="text"/>
        </td>
        <td style="width: 25%; text-align: center;">
          <input class="" id="Data_PDF" name="Data_PDF" style="width:80%; text-align: center;" type="text"/>
        </td>
        <td style="width: 50%; text-align: center; height: 1.5cm;">
          <input class="" id="nominativo_richiedente" name="nominativo_richiedente" dynamic_value="#AventeTitolo_Nome.value().toUpperCase() + ' ' + #AventeTitolo_Cognome.value().toUpperCase()" style="width:90%; text-align: center;"/>
        </td>
      </tr>
      <tr class="Rigaintestazioneridotta">
        <td>
          <p class="Labelcella" style="text-align: center">Luogo</p>
        </td>
        <td>
          <p class="Labelcella" style="text-align: center">Data</p>
        </td>
        <td>
          <p class="Labelcella" style="text-align: center">Il richiedente <span style="font-size:95%"><i>(firma elettronica)</i></span></p>
        </td>
      </tr>
    </tbody>
  </table>
  
  <br>
  <p class="Modulo">
    <input id="SalvaModulo" name="SalvaModulo" style="height:30px;width:120px;" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza." type="submit" value="Salva modulo" />
  </p>
</div>

<input id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value=""/>
<input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden"/>
<input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden"/>
<input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}"/>

<input id="AventeTitolo_CodiceFiscale" name="AventeTitolo_CodiceFiscale" type="hidden" readonly/>
<input id="AventeTitolo_Cognome" name="AventeTitolo_Cognome" type="hidden" readonly/>
<input id="AventeTitolo_Nome" name="AventeTitolo_Nome" type="hidden" readonly/>

<input id="Referente_CodiceFiscale" name="Referente_CodiceFiscale" type="hidden" readonly/>
<input id="Referente_TitoloPersona" name="Referente_TitoloPersona" type="hidden" readonly/>
<input id="Referente_Cognome" name="Referente_Cognome" type="hidden" readonly/>
<input id="Referente_Nome" name="Referente_Nome" type="hidden" readonly/>

<input id="Immobile_TipologiaImmobile" name="Immobile_TipologiaImmobile" type="hidden" readonly/>
<input id="Immobile_ComuneCatastale_esteso" name="Immobile_ComuneCatastale_esteso" type="hidden" readonly/>
<input id="Immobile_CatNumero" name="Immobile_CatNumero" type="hidden" readonly/>
<input id="Immobile_CatBarra" name="Immobile_CatBarra" type="hidden" readonly/>
<input id="Immobile_CatPM" name="Immobile_CatPM" type="hidden" readonly/>
<input id="Immobile_CatSubalterno" name="Immobile_CatSubalterno" type="hidden" readonly/>
<input id="Immobile_Provincia" name="Immobile_Provincia" type="hidden" readonly/>
<input id="Immobile_Comune" name="Immobile_Comune" type="hidden" readonly/>
<input id="Immobile_Nomecompleto_via" name="Immobile_Nomecompleto_via" type="hidden" readonly/>
<input id="Immobile_numeroCivico" name="Immobile_numeroCivico" type="hidden" readonly/>
<input id="Immobile_Barracivico" name="Immobile_Barracivico" type="hidden" readonly/>



{% endblock content %}
