{% set CodiceModulo =  "M2301-MSEC02-DATI-TECNICI-EL" %}
{% set Urn =  "document:c_l378:autorizzazione.scarico.civ;domanda;domanda.autorizzazione.scarico.civ;msec02.m2301.dati.tecnici.el" %}
<!--{% set modulo_workflow_model =  "https://sportello.comune.trento.it/modulistica/moduli/M2301-MSEC02-DATI-TECNICI-EL_vSTU3" %}-->
{% extends "base_trento_new.html" %}

{% block meta %}
<meta campi_firma="AventeTitolo_CodiceFiscale"
classi_modulo="Generale"
codice_modulo="{{ CodiceModulo }}"
urn="{{ Urn }}"
descrizione="Modulo secondario - Autorizzazione scarico insediamenti civili - dati tecnici (firma elettronica)"
destinatario_amministrazione=""
destinatario_ufficio=""
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="NO"
firmare="P7M_ELETTRONICA"
istruzioni_compilazione=""
istruzioni_invio=""
metodo_invio=""
name="GLOBO_modulo"
procura="NO,,"
tipo_modulo="secondario"
ufficio=""
urlhelp="/modulistica/moduli/M2301-MSEC02-DATI-TECNICI-EL"
verifica_pagamento="NO"
versione="1.0|01/01/2015"/>

<meta codice_allegato="GEN-ELEMENTI_PROGETTUALI"
urn_allegato="document:c_l378:allegato.elementi.progettuali"
descrizione_estesa="Elaborati tecnici e progettuali secondo le specifiche del Regolamento di Fognatura Comunale"
filename="Elementi_progettuali.pdf"
firmato="SI"
firmatari="Progettista_CodiceFiscale"
firmatari_label="Professionista incaricato"
istruzioni="/modulistica/moduli/GEN-ELEMENTI_PROGETTUALI"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-RELAZIONE_TECNICA"
urn_allegato="document:c_l378:allegato.relazione.tecnica"
descrizione_estesa="Relazione tecnica relativa all'insediamento"
filename="Relazione_tecnica_insediamento.pdf"
firmato="SI"
firmatari="Progettista_CodiceFiscale"
firmatari_label="Professionista incaricato"
istruzioni="/modulistica/moduli/GEN-RELAZIONE_TECNICA"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M2301-A01-PLANIM-INSED-SCARICO"
urn_allegato="document:c_l378:autorizzazione.scarico.civ;domanda;domanda.autorizzazione.scarico.civ;a01.m2301.planim.insed.scarico"
descrizione_estesa="Planimetria con esatta indicazione dell'ubicazione dell'insediamento e del/i punto/i di scarico"
filename="Planimetria_insediamento_scarico.pdf"
firmato="SI"
firmatari="Progettista_CodiceFiscale"
firmatari_label="Professionista incaricato"
istruzioni="/modulistica/moduli/M2301-A01-PLANIM-INSED-SCARICO"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M2301-A02-RELAZ-TEC-IMP-DEPURAZ"
urn_allegato="document:c_l378:autorizzazione.scarico.civ;domanda;domanda.autorizzazione.scarico.civ;a02.m2301.rel.tec.imp.depurazione"
descrizione_estesa="Relazione tecnica dettagliata dell'impianto di depurazione ed il relativo rendimento depurativo"
filename="Relazione_tecnica_impianto_depurazione.pdf"
firmato="SI"
firmatari="Progettista_CodiceFiscale"
firmatari_label="Professionista incaricato"
istruzioni="/modulistica/moduli/M2301-A02-RELAZ-TEC-IMP-DEPURAZ"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M2301-A03-PART-GRAF-IMP-DEPURAZ"
urn_allegato="document:c_l378:autorizzazione.scarico.civ;domanda;domanda.autorizzazione.scarico.civ;a03.m2301.part.graf.imp.depurazione"
descrizione_estesa="Particolari grafici dell'impianto di depurazione"
filename="Part_graf_impianto_depurazione.pdf"
firmato="SI"
firmatari="Progettista_CodiceFiscale"
firmatari_label="Professionista incaricato"
istruzioni="/modulistica/moduli/M2301-A03-PART-GRAF-IMP-DEPURAZ"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="M2301-A04-PART-GRAF-VASCA-TENUTA"
urn_allegato="document:c_l378:autorizzazione.scarico.civ;domanda;domanda.autorizzazione.scarico.civ;a04.m2301.part.graf.vasca.tenuta"
descrizione_estesa="Particolari grafici della vasca a tenuta"
filename="Part_graf_vasca_tenuta.pdf"
firmato="SI"
firmatari="Progettista_CodiceFiscale"
firmatari_label="Professionista incaricato"
istruzioni="/modulistica/moduli/M2301-A04-PART-GRAF-VASCA-TENUTA"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

<meta codice_allegato="GEN-ALTRI-ALLEGATI"
urn_allegato="document:c_l378:allegato.altri.allegati"
descrizione_estesa="Altri allegati"
filename="Altri allegati.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-ALTRI-ALLEGATI"
name="GLOBO_allegato"
numero="0"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

{% endblock meta %}

<!--{% block simpaticoconfig %}
  {% set simpaticoEservice="1_3_2" %}
  {% set simpaticoEserviceName="GEN IMMAGG AU" %}
  {% set simpaticoEserviceURL="https://sportello.comune.trento.it/modulistica/moduli/GEN-IMMAGG-AU" %}
  {% set simpaticoForm="modulo_secondario" %}
  {% set simpaticoCategory="Edilizia" %}
  {% set simpaticoMapping=[ "AventeTitolo_EMailPEC",
                           "AventeTitolo_Tel_Fisso",
                           "AventeTitolo_EMail"] %}

  {% set ERROR_LABELS=[ ('block1' ,'Inserire il codice fiscale'),
                        ('block2' , 'Selezionare il ruolo'),
                        ('block4' , 'Particella inesistente'),
                        ('block5' , 'Particella inesistente'),
                        ('block6' , 'Particella inesistente'),
                        ('block7' , 'Particella inesistente'),
                        ('block8' , 'Particella inesistente'),
                        ('block9' , 'Particella inesistente'),
                        ('block10' , 'Particella inesistente'),
                        ('block11' , 'Particella inesistente'),
                        ('block12' , 'Particella inesistente'),
                        ('block13' , 'Particella inesistente')] %}
  {{ utilsSimpatico.ScriptSimpatico(simpaticoEservice, simpaticoEserviceName, simpaticoEserviceURL, simpaticoForm, simpaticoCategory, simpaticoMapping, ERROR_LABELS ) }}
{% endblock simpaticoconfig %}-->


{% block title %}
Autorizzazione scarico insediamenti civili - dati tecnici (firma elettronica)
{% endblock title %}

{% block content %}


{{intestazioni.intestazione_modulosecondario_senzabollo()}}
 <input id="Oggetto" name="Oggetto" type="hidden" value="" dynamic_value="#AventeTitolo_Cognome.value().toUpperCase() + ' - Autorizzazione scarico insediamenti civili - dati tecnici'"/>

 <h1 class="Modulo" style="line-height:1.8;">
    Richiesta di autorizzazione allo scarico degli insediamenti civili <br> DATI TECNICI
 </h1>

<div class="simpatico-block simpatico-query-and-answer">

<table class="Modulo" name="consapevolezza_sanz_penali" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td>
        <p style="line-height:1.6;">Il <b>titolare</b> <input id="Nominativo_titolare" name="Nominativo_titolare" dynamic_value="#AventeTitolo_Cognome.value() + #AventeTitolo_Nome.value()" size="87"/></p>
      </td>
    </tr>
  </tbody>
</table>

<br>

<h1 class="Modulo">DICHIARA</h1>

<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p style="line-height:1.6;"><b>DATI RELATIVI ALL'INSEDIAMENTO*</b><br><span style="font-size:80%;">*(edificio, area, struttura, impianto ecc. dove si svolge l'attività che dà luogo allo scarico)</span></p>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <p style="line-height:2;">>>> Volume dell'insediamento: <input class="" label="Volume dell'insediamento" id="Volume_insediamento" name="Volume_insediamento" mandatory_enabled="true" style="width:15%;"/> m^3
            <br>>>> Numero residenti o previsti totali: <input class="" label="Numero residenti" id="Residenti_insediamento" name="Residenti_insediamento" mandatory_enabled="true" style="width:15%;"/></p>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td style="background-color: #eeeeee;" rowspan="3"></td>
      <td>
        <p style="line-height:1.6; font-size: 85%;"><b>per le attività stagionali indicare</p>
      </td>
    </tr>
    <tr>
      <td>
        <p style="line-height:2;">> Stagione estiva: &nbsp;&nbsp;&nbsp;&nbsp; dal <input class="" label="Data inizio stagione estiva" id="inizio_estate" name="inizio_estate" enabled="true" style="width:15%;" format="date"/> al <input class="" label="Data fine stagione estiva" id="fine_estate" name="fine_estate" enabled="true" style="width:15%;" format="date"/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; n. persone: <input class="" label="Numero residenti estivi" id="Residenti_insediamento_estate" name="Residenti_insediamento_estate" enabled="true" style="width:15%;"/></p>
      </td>
    </tr>
    <tr>
      <td>
        <p style="line-height:2;">> Stagione invernale: dal <input class="" label="Data inizio stagione invernale" id="inizio_inverno" name="inizio_inverno" enabled="true" style="width:15%;" format="date"/> al <input class="" label="Data fine stagione invernale" id="fine_inverno" name="fine_inverno" enabled="true" style="width:15%;" format="date"/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; n. persone: <input class="" label="Numero residenti invernali" id="Residenti_insediamento_inverno" name="Residenti_insediamento_inverno" enabled="true" style="width:15%;"/></p>
      </td>
    </tr>
  </tbody>
</table>

</div>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="3">
        <p style="line-height:1.6;">Lo scarico è costituito esclusivamente da <b>liquami di tipo domestico e/o zootecnico</b> provenienti da:</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="Provenienza_liquami" name="Provenienza_liquami" label="Provenienza dei liquami" mandatory_enabled="true"> </div>
        <input group="Provenienza_liquami" id="Provenienza_liquami1" name="Provenienza_liquami" type="radio" value="1" />
      </td>
      <td colspan="2">
        <p style="line-height:1.6;">abitazione civile</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Provenienza_liquami" id="Provenienza_liquami2" name="Provenienza_liquami" type="radio" value="2" />
      </td>
      <td colspan="2">
        <p style="line-height:1.6;">esercizio pubblico</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Provenienza_liquami" id="Provenienza_liquami3" name="Provenienza_liquami" type="radio" value="3" />
      </td>
      <td colspan="2">
        <p style="line-height:1.6;">albergo/pensione</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Provenienza_liquami" id="Provenienza_liquami4" name="Provenienza_liquami" type="radio" value="4" />
      </td>
      <td colspan="2">
        <p style="line-height:1.6;">esercizio commerciale</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Provenienza_liquami" id="Provenienza_liquami5" name="Provenienza_liquami" type="radio" value="5" />
      </td>
      <td colspan="2">
        <p style="line-height:1.6;">scuole o simili</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Provenienza_liquami" id="Provenienza_liquami6" name="Provenienza_liquami" type="radio" value="6" />
      </td>
      <td colspan="2">
        <p style="line-height:2;">allevamento zootecnico (indicare le specie allevate)<br><span style="font-size:85%;">
          &nbsp;&nbsp;&nbsp;&nbsp;>>> Specie 1: <input class="" id="specie_allevata1" name="specie_allevata1" label="Prima specie allevata" mandatory_enabled="#Provenienza_liquami6.checked()" style="width:57%;"/> &nbsp;&nbsp;&nbsp;&nbsp; Numero capi: <input class="" id="num_capi_specie_allevata1" name="num_capi_specie_allevata1" label="Numero capi prima specie allevata" mandatory_enabled="#Provenienza_liquami6.checked()" style="width:15%;"/><br>
          &nbsp;&nbsp;&nbsp;&nbsp;>>> Specie 2: <input class="" id="specie_allevata2" name="specie_allevata2" label="Seconda specie allevata" enabled="#Provenienza_liquami6.checked()" style="width:57%;"/> &nbsp;&nbsp;&nbsp;&nbsp; Numero capi: <input class="" id="num_capi_specie_allevata2" name="num_capi_specie_allevata2" label="Numero capi seconda specie allevata" mandatory_enabled="#specie_allevata2.value() != ''" style="width:15%;"/><br>
          &nbsp;&nbsp;&nbsp;&nbsp;>>> Specie 3: <input class="" id="specie_allevata3" name="specie_allevata3" label="Terza specie allevata" enabled="#Provenienza_liquami6.checked()" style="width:57%;"/> &nbsp;&nbsp;&nbsp;&nbsp; Numero capi: <input class="" id="num_capi_specie_allevata3" name="num_capi_specie_allevata3" label="Numero capi terza specie allevata" mandatory_enabled="#specie_allevata3.value() != ''" style="width:15%;"/><br>
          &nbsp;&nbsp;&nbsp;&nbsp;>>> Specie 4: <input class="" id="specie_allevata4" name="specie_allevata4" label="Quarta specie allevata" enabled="#Provenienza_liquami6.checked()" style="width:57%;"/> &nbsp;&nbsp;&nbsp;&nbsp; Numero capi: <input class="" id="num_capi_specie_allevata4" name="num_capi_specie_allevata4" label="Numero capi quarta specie allevata" mandatory_enabled="#specie_allevata4.value() != ''" style="width:15%;"/><br>
          &nbsp;&nbsp;&nbsp;&nbsp;>>> Specie 5: <input class="" id="specie_allevata5" name="specie_allevata5" label="Quinta specie allevata" enabled="#Provenienza_liquami6.checked()" style="width:57%;"/> &nbsp;&nbsp;&nbsp;&nbsp; Numero capi: <input class="" id="num_capi_specie_allevata5" name="num_capi_specie_allevata5" label="Numero capi quinta specie allevata" mandatory_enabled="#specie_allevata5.value() != ''" style="width:15%;"/><br>
        </span>
      </p>

      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Provenienza_liquami" id="Provenienza_liquami7" name="Provenienza_liquami" type="radio" value="7" />
      </td>
      <td colspan="2">
        <p style="line-height:1.6;">altro: <input class="" id="altro_tipo_provenienza" name="altro_tipo_provenienza" label="Altro tipo di provenienza dei liquami" mandatory_enabled="#Provenienza_liquami7.checked()" style="width:94%;"/></p>
      </td>
    </tr>
  </tbody>
</table>
<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="5">
        <p style="line-height:1.6;"><b>APROVIGIONAMENTO ACQUE</b><br><br></p>
      </td>
    </tr>
    <tr class="Rigaintestazione">
      <td rowspan="2" style="width:40%;" colspan="2">
        <p style="line-height:1.6;text-align: center;"><i>FONTE</i></p>
      </td>
      <td colspan="3">
        <p style="line-height:1.6;text-align: center;"><i>QUANTITA'</i></p>  
      </td>
    </tr>
    <tr class="Rigaintestazione">
      <td style="width:15%;">
        <p style="line-height:1.6;text-align: center;font-size: 85%;">Consumo giornaliero medio<br>[mc/giorno]</p>
      </td>
      <td style="width:15%;">
        <p style="line-height:1.6;text-align: center;font-size: 85%;">Consumo annuo<br>[mc/anno]</p>
      </td>
      <td style="width:30%;">
        <p style="line-height:1.6;text-align: center;font-size: 85%;">Note relative ai consumi</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="Tipo_fonte" name="Tipo_fonte" label="Fonte delle acque" mandatory_enabled="true"> </div>
        <input group="Tipo_fonte" id="Tipo_fonte1" name="Tipo_fonte1" type="checkbox" value="1" />
      </td>
      <td>
        <p style="line-height:1.6;">Acquedotto</p>
      </td>
      <td>
        <input class="" id="cons_giorn_acquedotto" name="cons_giorn_acquedotto" label="Consumo giornaliero acquedotto" mandatory_enabled="#Tipo_fonte1.checked()" style="width:100%;"/>
      </td>
      <td>
        <input class="" id="cons_annuo_acquedotto" name="cons_annuo_acquedotto" label="Consumo annuo Acquedotto" mandatory_enabled="#Tipo_fonte1.checked()" style="width:100%;"/>
      </td>
      <td>
        <input class="" id="note_acquedotto" name="note_acquedotto" label="Note fonte acquedotto" mandatory_enabled="#Tipo_fonte1.checked()" style="width:100%;"/>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Tipo_fonte" id="Tipo_fonte2" name="Tipo_fonte2" type="checkbox" value="2" />
      </td>
      <td>
        <p style="line-height:1.6;">Pozzo</p>
      </td>
      <td>
        <input class="" id="cons_giorn_pozzo" name="cons_giorn_pozzo" label="Consumo giornaliero pozzo" mandatory_enabled="#Tipo_fonte2.checked()" style="width:100%;"/>
      </td>
      <td>
        <input class="" id="cons_annuo_pozzo" name="cons_annuo_pozzo" label="Consumo annuo pozzo" mandatory_enabled="#Tipo_fonte2.checked()" style="width:100%;"/>
      </td>
      <td>
        <input class="" id="note_pozzo" name="note_pozzo" label="Note fonte pozzo" mandatory_enabled="#Tipo_fonte2.checked()" style="width:100%;"/>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Tipo_fonte" id="Tipo_fonte3" name="Tipo_fonte3" type="checkbox" value="3" />
      </td>
      <td>
        <p style="line-height:1.6;">Corso d'acqua <span style="font-size:85%;"><i>(specificare)</i></span><br><input class="" id="corso_acqua_fonte" name="corso_acqua_fonte" label="Corso d'acqua fonte" mandatory_enabled="#Tipo_fonte3.checked()" style="width:100%;"/></p>
      </td>
      <td>
        <input class="" id="cons_giorn_corso_acqua" name="cons_giorn_corso_acqua" label="Consumo giornaliero corso d'acqua" mandatory_enabled="#Tipo_fonte3.checked()" style="width:100%;"/>
      </td>
      <td>
        <input class="" id="cons_annuo_corso_acqua" name="cons_annuo_corso_acqua" label="Consumo annuo corso d'acqua" mandatory_enabled="#Tipo_fonte3.checked()" style="width:100%;"/>
      </td>
      <td>
        <input class="" id="note_corso_acqua" name="note_corso_acqua" label="Note fonte corso d'acqua" mandatory_enabled="#Tipo_fonte3.checked()" style="width:100%;"/>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Tipo_fonte" id="Tipo_fonte4" name="Tipo_fonte4" type="checkbox" value="4" />
      </td>
      <td>
        <p style="line-height:1.6;">Acqua lacustre <span style="font-size:85%;"><i>(specificare)</i></span><br><input class="" id="acqua_lacustre_fonte" name="acqua_lacustre_fonte" label="Fonte acqua lacustre" mandatory_enabled="#Tipo_fonte4.checked()" style="width:100%;"/></p>
      </td>
      <td>
        <input class="" id="cons_giorn_acqua_lacustre" name="cons_giorn_acqua_lacustre" label="Consumo giornaliero acqua lacustre" mandatory_enabled="#Tipo_fonte4.checked()" style="width:100%;"/>
      </td>
      <td>
        <input class="" id="cons_annuo_acqua_lacustre" name="cons_annuo_acqua_lacustre" label="Consumo annuo acqua lacustre" mandatory_enabled="#Tipo_fonte4.checked()" style="width:100%;"/>
      </td>
      <td>
        <input class="" id="note_acqua_lacustre" name="note_acqua_lacustre" label="Note fonte acqua lacustre" mandatory_enabled="#Tipo_fonte4.checked()" style="width:100%;"/>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Tipo_fonte" id="Tipo_fonte5" name="Tipo_fonte5" type="checkbox" value="5" />
      </td>
      <td>
        <p style="line-height:1.6;">Sorgente <span style="font-size:85%;"><i>(specificare)</i></span><br><input class="" id="sorgente_fonte" name="sorgente_fonte" label="Sorgente fonte" mandatory_enabled="#Tipo_fonte5.checked()" style="width:100%;"/></p>
      </td>
      <td>
        <input class="" id="cons_giorn_sorgente" name="cons_giorn_sorgente" label="Consumo giornaliero sorgente" mandatory_enabled="#Tipo_fonte5.checked()" style="width:100%;"/>
      </td>
      <td>
        <input class="" id="cons_annuo_sorgente" name="cons_annuo_sorgente" label="Consumo annuo sorgente" mandatory_enabled="#Tipo_fonte5.checked()" style="width:100%;"/>
      </td>
      <td>
        <input class="" id="note_sorgente" name="note_sorgente" label="Note fonte sorgente" mandatory_enabled="#Tipo_fonte5.checked()" style="width:100%;"/>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="5">
        <p style="line-height:1.6;"><b>MODALITA' DI SCARICO</b><br><br></p>
      </td>
    </tr>
    <tr class="Rigaintestazione">
      <td rowspan="2" style="width:50%;" colspan="2">
        <p style="line-height:1.6;text-align: center;"><i>RECAPITO DELLE ACQUE REFLUE</i></p>
      </td>
      <td colspan="2">
        <p style="line-height:1.6;text-align: center;"><i>QUANTITA'</i></p>  
      </td>
    </tr>
    <tr class="Rigaintestazione">
      <td style="width:25%;">
        <p style="line-height:1.6;text-align: center;font-size: 85%;">MEDIA<br>[mc/giorno]</p>
      </td>
      <td style="width:25%;">
        <p style="line-height:1.6;text-align: center;font-size: 85%;">TOTALE<br>[mc/anno]</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="Recapito_acque_reflue" name="Recapito_acque_reflue" label="Recapito acque reflue" mandatory_enabled="true"> </div>
        <input group="Recapito_acque_reflue" id="Recapito_acque_reflue1" name="Recapito_acque_reflue1" type="checkbox" value="1" />
      </td>
      <td>
        <p style="line-height:1.6;">Pubblica fognatura nera</p>
      </td>
      <td>
        <input class="" id="media_scarico_fogn_nera" name="media_scarico_fogn_nera" label="Media scarico in fognatura nera" enabled="true" style="width:100%;"/>
      </td>
      <td>
        <input class="" id="tot_scarico_fogn_nera" name="tot_scarico_fogn_nera" label="Totale scarico in fognatura nera" enabled="true" style="width:100%;"/>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Recapito_acque_reflue" id="Recapito_acque_reflue2" name="Recapito_acque_reflue2" type="checkbox" value="2" />
      </td>
      <td>
        <p style="line-height:1.6;">Pubblica fognatura bianca</p>
      </td>
      <td>
        <input class="" id="media_scarico_fogn_bianca" name="media_scarico_fogn_bianca" label="Media scarico in fognatura bianca" enabled="true" style="width:100%;"/>
      </td>
      <td>
        <input class="" id="tot_scarico_fogn_bianca" name="tot_scarico_fogn_bianca" label="Totale scarico in fognatura bianca" enabled="true" style="width:100%;"/>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Recapito_acque_reflue" id="Recapito_acque_reflue3" name="Recapito_acque_reflue3" type="checkbox" value="3" />
      </td>
      <td>
        <p style="line-height:1.6;">Corso d'acqua superficiale <span style="font-size:85%;"><i>(specificare)</i></span><br><input class="" id="corso_acqua_recapito_reflue" name="corso_acqua_recapito_reflue" label="Corso d'acqua recapito acque reflue" mandatory_enabled="#Recapito_acque_reflue3.checked()" style="width:100%;"/></p>
      </td>
      <td>
        <input class="" id="media_scarico_corso_acqua" name="media_scarico_corso_acqua" label="Media scarico in corso d'acqua" enabled="true" style="width:100%;"/>
      </td>
      <td>
        <input class="" id="tot_scarico_corso_acqua" name="tot_scarico_corso_acqua" label="Totale scarico in corso d'acqua" enabled="true" style="width:100%;"/>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Recapito_acque_reflue" id="Recapito_acque_reflue4" name="Recapito_acque_reflue4" type="checkbox" value="4" />
      </td>
      <td>
        <p style="line-height:1.6;">Suolo</p>
      </td>
      <td>
        <input class="" id="media_scarico_suolo" name="media_scarico_suolo" label="Media scarico in suolo" enabled="true" style="width:100%;"/>
      </td>
      <td>
        <input class="" id="tot_scarico_suolo" name="tot_scarico_suolo" label="Totale scarico in suolo" enabled="true" style="width:100%;"/>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Recapito_acque_reflue" id="Recapito_acque_reflue5" name="Recapito_acque_reflue5" type="checkbox" value="5" />
      </td>
      <td>
        <p style="line-height:1.6;">Fossa a tenuta</p>
      </td>
      <td>
        <input class="" id="media_scarico_fossa" name="media_scarico_fossa" label="Media scarico in fossa a tenuta" enabled="true" style="width:100%;"/>
      </td>
      <td>
        <input class="" id="tot_scarico_fossa" name="tot_scarico_fossa" label="Totale scarico in fossa a tenuta" enabled="true" style="width:100%;"/>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p style="line-height:1.6;"><b>Impianto di depurazione delle acque reflue dell'insediamento</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="Impianto_depurazione" name="Impianto_depurazione" label="Tipo impianto di depurazione" mandatory_enabled="true"> </div>
        <input group="Impianto_depurazione" id="Impianto_depurazione1" name="Impianto_depurazione" type="radio" value="1" />
      </td>
      <td colspan="2">
        <p style="line-height:1.6;">Nessun impianto</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Impianto_depurazione" id="Impianto_depurazione2" name="Impianto_depurazione" type="radio" value="2" />
      </td>
      <td colspan="2">
        <p style="line-height:1.6;">Trattamenti primari (sedimentazione, disoleatura, fosse Imhoff, ...)</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Impianto_depurazione" id="Impianto_depurazione3" name="Impianto_depurazione" type="radio" value="3" />
      </td>
      <td colspan="2">
        <p style="line-height:1.6;">Biologico</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Impianto_depurazione" id="Impianto_depurazione4" name="Impianto_depurazione" type="radio" value="4" />
      </td>
      <td colspan="2">
        <p style="line-height:1.6;">Chimico-fisico</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Impianto_depurazione" id="Impianto_depurazione5" name="Impianto_depurazione" type="radio" value="5" />
      </td>
      <td colspan="2">
        <p style="line-height:1.6;">Chimico-fisico + biologico</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Impianto_depurazione" id="Impianto_depurazione6" name="Impianto_depurazione" type="radio" value="6" />
      </td>
      <td colspan="2">
        <p style="line-height:1.6;">Altro: <input class="" id="altro_tipo_impianto_depurazione" name="altro_tipo_impianto_depurazione" label="Altro tipo di impianto di depurazione" mandatory_enabled="#Impianto_depurazione6.checked()" style="width:94%;"/></p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="6">
        <p style="line-height:1.6;"><b>Il punto di scarico, relativo alla particella edificiale o fondiaria indicata in precedenza</b></p>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td style="width: 25%;">
        <p class="Labelcella">Tipo</p>
      </td>
      <td>
        <p class="Labelcella">Comune catastale</p>
      </td>
      <td style="width: 10%;">
        <p class="Labelcella">Numero</p>
      </td>
      <td style="width: 10%;">
        <p class="Labelcella">Barra</p>
      </td>
      <td style="width: 8%;">
        <p class="Labelcella">Porzione Materiale</p>
      </td>
      <td style="width: 8%;">
        <p  class="Labelcella">Subalterno</p>
      </td>
    </tr>
    <tr>
      <td>
        <input name="Immobile_TipoImmobile" id="Immobile_TipoImmobile" label="Tipo immobile" style="width:100%;" />
      </td>
      <td>
        <input name="Immobile_Comune" id="Immobile_Comune" style="width:100%;" label="Comune catastale" readonly/>
      </td>
      <td>
        <input name="Immobile_CatNumero" id="Immobile_CatNumero" style="width:100%;" label="Numero particella catastale" readonly/>
      </td>
      <td>
        <input name="Immobile_CatBarra" id="Immobile_CatBarra" style="width:100%;" label="Barra particella catastale" readonly/>
      </td>
      <td>
        <input name="Immobile_CatPM" id="Immobile_CatPM" style="width:100%;" label="Porzione Materiale" readonly/>
      </td>
      <td>
        <input name="Immobile_CatSubalterno" id="Immobile_CatSubalterno" style="width:100%;" label="Subalterno" readonly/>
      </td>
    </tr>
    <tr class="Rigaintestazione">
      <td colspan="6">
        <p style="line-height:1.6;"><b>è ubicato a una distanza di metri <input class="" id="distanza_fognatura" name="distanza_fognatura" label="Distanza dalla fognatura" mandatory_enabled="true" style="width:10%;"/> dalla pubblica fognatura</b></p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="2">
        <p style="line-height:1.6;"><b>ALTRO RECAPITO ACQUE METEORICHE</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="Recapito_acque_meteor" name="Recapito_acque_meteor" label="Recapito acque meteoriche" mandatory_enabled="true"> </div>
        <input group="Recapito_acque_meteor" id="Recapito_acque_meteor1" name="Recapito_acque_meteor1" type="checkbox" value="1" />
      </td>
      <td>
        <p style="line-height:1.6;">Corso d'acqua superficiale <span style="font-size:85%;"><i>(specificare)</i></span> <input class="" id="corso_acqua_recap_meteor" name="corso_acqua_recap_meteor" label="Corso d'acqua recapito acque meteoriche" mandatory_enabled="#Recapito_acque_meteor1.checked()" style="width:65%;"/></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="Recapito_acque_meteor" id="Recapito_acque_meteor2" name="Recapito_acque_meteor2" type="checkbox" value="2" />
      </td>
      <td>
        <p style="line-height:1.6;">Suolo</p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td colspan="3">
        <p style="line-height:1.6; font-size:90%;"><b>Per il provvedimento di autorizzazione si richiede:</b></p>
      </td>
    </tr>  
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <div id="Tipo_accesso" name="Tipo_accesso" label="Servizio Tipo_accesso" mandatory_enabled="true"> </div>
        <input group="Tipo_accesso" id="Tipo_accesso1" name="Tipo_accesso1" type="checkbox" value="1" /> 
      </td>
      <td colspan="2">
        <p style="line-height:1.6;">Copia semplice (in carta libera)</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;" rowspan="5">
        <input group="Tipo_accesso" id="Tipo_accesso2" name="Tipo_accesso2" type="checkbox" value="2" /> 
      </td>
      <td colspan="2">
        <p style="line-height:1.6;">Copia conforme (in carta legale)</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;" rowspan="3">
        <div id="esenz_bollo" name="esenz_bollo" label="Esenzione bollo" mandatory_enabled="#Tipo_accesso2.checked()"> </div>
        <input group="esenz_bollo" id="esenz_bollo1" name="esenz_bollo" type="radio" value="1" /> 
      </td>
      <td>
        <p style="line-height:1.6;">per la quale viene annullata la seguente <b>marca da bollo</b>:</p> <span style="font-size:85%;"><i>(per informazioni sulle modalità di pagamento dell'imposta di bollo consultare la pagina: <a href="https://sportello.comune.trento.it/action%3As_italia%3Apagare%3Bimposta.bollo" target="_blank">Come pagare? </i></a>)</span>
      </td>
    </tr>
    <tr>
      <td>
        <input class="" id="Parametri_NumeroBollo" label="Numero seriale marca da bollo" mandatory_enabled="#Tipo_accesso2.checked()" name="Parametri_NumeroBollo" style="width:100%;" type="text" format="regular_expression" expression="^[0-9]{14}$" maxlength="14"/>
      </td>
    </tr>
    <tr>
      <td>
        <p><b>Il richiedente si impegna a conservare l'originale della marca da bollo annullata</b></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 4%;">
        <input group="esenz_bollo" id="esenz_bollo2" name="esenz_bollo" type="radio" value="2" /> 
      </td>
      <td>
        <p style="line-height:1.6;">per la quale non è necessario annullare marca da bollo in quanto soggetto esente</p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" name="Allegati" style="border: 1px solid grey">
   <tbody>
    <tr class="Rigaintestazione">
      <td colspan="3">
       <p style="text-align: center;"><b>Elenco degli allegati richiesti</b></p>
      </td>
    </tr>
    <tr>
      <td style="width: 4%; vertical-align: top;">
        <input id="Elab_prog" name="Elab_prog" dynamic_check="true" type="checkbox" enabled="true" value="OBBLIGATORIO" />
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height:1.6;">Elaborati tecnici e progettuali secondo le specifiche del Regolamento di Fognatura Comunale</p>
      </td>
    </tr>
    <tr>
      <td style="width: 4%; vertical-align: top;">
        <input id="Planimetria_scarico" name="Planimetria_scarico" type="checkbox" enabled="true" value="OBBLIGATORIO" />
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height:1.6;">Planimetria con esatta indicazione dell'ubicazione dell'insediamento e del/i punto/i di scarico</p>
      </td>
    </tr>
    <tr>
      <td style="width: 4%; vertical-align: top;">
        <input id="Relazione_tecnica_insed" name="Relazione_tecnica_insed" type="checkbox" enabled="true" value="OBBLIGATORIO" />
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height:1.6;">Relazione tecnica relativa all'insediamento</p>
      </td>
    </tr>
    <tr>
      <td style="width: 4%; vertical-align: top;">
        <input id="Relazione_tecnica_impianto" name="Relazione_tecnica_impianto" type="checkbox" enabled="true" value="OBBLIGATORIO" />
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height:1.6;">Relazione tecnica dettagliata, evidenziante le caratteristiche dell'impianto di depurazione ed il relativo rendimento depurativo</p>
      </td>
    </tr>
    <tr>
      <td style="width: 4%; vertical-align: top;">
        <input id="Particolari_grafici_impianto" name="Particolari_grafici_impianto" type="checkbox" enabled="true" value="OBBLIGATORIO" />
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height:1.6;">Particolari grafici dell'impianto di depurazione</p>
      </td>
    </tr>
    <tr>
      <td style="width: 4%; vertical-align: top;">
        <input id="Particolari_grafici_vasca" name="Particolari_grafici_vasca" type="checkbox" enabled="true" value="OBBLIGATORIO" />
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height:1.6;">Particolari grafici della vasca a tenuta</p>
      </td>
    </tr>
    <tr>
			<td>
			 <input id="ALTRI_ALLEGATI" name="ALTRI_ALLEGATI" type="checkbox" value="OBBLIGATORIO"/>
			</td>
			<td style="background-color: #eeeeee;" colspan="2">
			  <p style="line-height:1.6;">Altri allegati <input class="" label="Altri allegati" id="AltriAllegati" mandatory_enabled="#ALTRI_ALLEGATI.checked()" name="AltriAllegati" style="width:88%;"/></p>
			</td>
	  </tr>
  </tbody>
</table>

<br>

<table class="Modulo simpatico-block" name="Luogo_e_data" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="width: 25%; text-align: center;">
        <input class="" id="Luogo_PDF" name="Luogo_PDF" style="width:80%;" type="text"/>
      </td>
      <td style="width: 25%; text-align: center;">
        <input class="" id="Data_PDF" name="Data_PDF" style="width:80%;" type="text"/>
      </td>
      <td style="width: 50%; text-align: center; height: 1.5cm;">
        <input class="" id="nominativo_richiedente" name="nominativo_richiedente" dynamic_value="' ' + #AventeTitolo_Cognome.value().toUpperCase() + ' ' + #AventeTitolo_Nome.value().toUpperCase()" style="width:90%;"/>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td>
        <p class="Labelcella" style="text-align: center">Luogo</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Data</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Il titolare <span style="font-size:95%"><i>(firma digitale)</i></span></p>
      </td>
    </tr>
  </tbody>
</table>
<br/>


 <p class="Modulo">
  <input id="SalvaModulo" name="SalvaModulo" style="height:30px;width:120px;" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza." type="submit" value="Salva modulo"/>
 </p>
 <input id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value=""/>
 <input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden"/>
 <input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden"/>
 <input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}"/>

<input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cGEN-ELEMENTI_PROGETTUALI" name="GLOBO_allegato_cGEN-ELEMENTI_PROGETTUALI" obbligatorio="#Elab_prog.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cGEN-RELAZIONE_TECNICA" name="GLOBO_allegato_cGEN-RELAZIONE_TECNICA" obbligatorio="#Relazione_tecnica_insed.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cM2301-A01-PLANIM-INSED-SCARICO" name="GLOBO_allegato_cM2301-A01-PLANIM-INSED-SCARICO" obbligatorio="#Planimetria_scarico.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cM2301-A02-RELAZ-TEC-IMP-DEPURAZ" name="GLOBO_allegato_cM2301-A02-RELAZ-TEC-IMP-DEPURAZ" obbligatorio="#Relazione_tecnica_impianto.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cM2301-A03-PART-GRAF-IMP-DEPURAZ" name="GLOBO_allegato_cM2301-A03-PART-GRAF-IMP-DEPURAZ" obbligatorio="#Particolari_grafici_impianto.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<input firmare="'P7M_ELETTRONICA'" id="GLOBO_allegato_cM2301-A04-PART-GRAF-VASCA-TENUTA" name="GLOBO_allegato_cM2301-A04-PART-GRAF-VASCA-TENUTA" obbligatorio="#Particolari_grafici_vasca.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<input id="GLOBO_allegato_cGEN-ALTRI-ALLEGATI" name="GLOBO_allegato_cGEN-ALTRI-ALLEGATI" obbligatorio="#ALTRI_ALLEGATI.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

<br>

 {{ utils.passaggio_metadati() }}

{% endblock content %}
