{% set CodiceModulo =  "M2301-MSEC03-DICH-SOST-ATTO-NOT-AU" %}
{% set Urn =  "document:c_l378:autorizzazione.scarico.civ;domanda;domanda.autorizzazione.scarico.civ;msec04.m2301.dich.sost.atto.notorio.el" %}
<!--{% set modulo_workflow_model =  "https://sportello.comune.trento.it/modulistica/moduli/M2301-MSEC03-DICH-SOST-ATTO-NOT-AU_vSTU3" %}-->
{% extends "base_trento_new.html" %}

{% block meta %}
<meta campi_firma="AventeTitolo_CodiceFiscale"
classi_modulo="Generale"
codice_modulo="{{ CodiceModulo }}"
urn="{{ Urn }}"
descrizione="Modulo secondario - Autorizzazione scarico insediamenti civili - dati tecnici (firma elettronica)"
destinatario_amministrazione=""
destinatario_ufficio=""
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="NO"
firmare="P7M_ELETTRONICA"
istruzioni_compilazione=""
istruzioni_invio=""
metodo_invio=""
name="GLOBO_modulo"
procura="NO,,"
tipo_modulo="secondario"
ufficio=""
urlhelp="/modulistica/moduli/M2301-MSEC03-DICH-SOST-ATTO-NOT-AU"
verifica_pagamento="NO"
versione="1.0|01/01/2015"/>

<meta codice_allegato="GEN-Modulo_compilato_firma_autografa"
urn_allegato="document:c_l378:allegato.copia.modulo.firma.autografa"
descrizione_estesa="Modulo compilato e firmato manualmente"
filename="Modulo_compilato_firma_autografa.pdf"
firmato="NO"
istruzioni="/modulistica/moduli/GEN-Modulo_compilato_firma_autografa"
name="GLOBO_allegato"
numero="1"
obbligatorio="DINAMICO"
tipo_mime="application/pdf"/>

{% endblock meta %}

<!--{% block simpaticoconfig %}
  {% set simpaticoEservice="1_3_2" %}
  {% set simpaticoEserviceName="GEN IMMAGG AU" %}
  {% set simpaticoEserviceURL="https://sportello.comune.trento.it/modulistica/moduli/GEN-IMMAGG-AU" %}
  {% set simpaticoForm="modulo_secondario" %}
  {% set simpaticoCategory="Edilizia" %}
  {% set simpaticoMapping=[ "AventeTitolo_EMailPEC",
                           "AventeTitolo_Tel_Fisso",
                           "AventeTitolo_EMail"] %}

  {% set ERROR_LABELS=[ ('block1' ,'Inserire il codice fiscale'),
                        ('block2' , 'Selezionare il ruolo'),
                        ('block4' , 'Particella inesistente'),
                        ('block5' , 'Particella inesistente'),
                        ('block6' , 'Particella inesistente'),
                        ('block7' , 'Particella inesistente'),
                        ('block8' , 'Particella inesistente'),
                        ('block9' , 'Particella inesistente'),
                        ('block10' , 'Particella inesistente'),
                        ('block11' , 'Particella inesistente'),
                        ('block12' , 'Particella inesistente'),
                        ('block13' , 'Particella inesistente')] %}
  {{ utilsSimpatico.ScriptSimpatico(simpaticoEservice, simpaticoEserviceName, simpaticoEserviceURL, simpaticoForm, simpaticoCategory, simpaticoMapping, ERROR_LABELS ) }}
{% endblock simpaticoconfig %}-->


{% block title %}
Autorizzazione scarico insediamenti civili - Dichiarazione sostitutiva atto di notorietà (firma elettronica)
{% endblock title %}

{% block content %}


{{intestazioni.intestazione_modulosecondario_senzabollo()}}
 <input id="Oggetto" name="Oggetto" type="hidden" value="" dynamic_value="#AventeTitolo_Cognome.value().toUpperCase() + ' - Autorizzazione scarico insediamenti civili - dati tecnici'"/>

 <h1 class="Modulo" style="line-height:1.8;">
    Richiesta di autorizzazione allo scarico degli insediamenti civili <br> DICHIARAZIONE SOSTITUTIVA ATTO DI NOTORIETA'
 </h1>

<div class="simpatico-block simpatico-query-and-answer">

<table class="Modulo" name="consapevolezza_sanz_penali" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td>
        <p style="line-height:1.6;">Il <b>titolare</b> <input id="Nominativo_titolare" name="Nominativo_titolare" dynamic_value="#AventeTitolo_Cognome.value() + #AventeTitolo_Nome.value()" size="87"/>
            <br><br><p style="text-align: center; line-height:1.6;">ai sensi degli artt. 46 e 47 del D.P.R. 28 dicembre 2000, n.445</p>
            <br><span style="font-size: 90%;line-height:1.6;"><i>Consapevole delle sanzioni penali, nel caso di dichiarazioni non veritiere, di formazione o uso di atti falsi, richiamate dell'articolo 76 del D.P.R. 28 dicembre 2000, n. 445, nonché della decadenza dai
                benefici conseguenti al provvedimento eventualmente emanato sulla base della dichiarazione non veritiera, qualora dal controllo effettuato emerga la non veridicità del contenuto di taluna delle dichiarazioni
                rese (art. 75 D.P.R. 28 dicembre 2000, n. 445)</i></span>
        </p>
      </td>
    </tr>
  </tbody>
</table>
</div>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" name="consapevolezza_sanz_penali" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td>
        <p style="line-height:1.6;">Al fine del <b>rinnovo dell'autorizzazione allo scarico</b> rilasciata da:  <input id="Rilascio_autorizzazione" name="Rilascio_autorizzazione" mandatory_enabled="true" label="Autorizzazione rilasciata da" size="40"/></p>
        <h2 style="line-height:1.6;text-align: center;">DICHIARA</h2>
        <p style="line-height:1.6;text-align: center;"><b>che sono rimaste immutate le condizioni di esercizio dello scarico delle acque reflue domestiche</b></p>
        <p style="line-height:1.6;font-size: 95%;">così come rappresentata nella documentazione tecnica a suo tempo depositata in allegato alla domanda di autorizzazione</p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" name="Allegati" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td colspan="3">
        <p style="text-align: center;"><b>Elenco degli allegati</b></p>
      </td>
    </tr>
    <tr>
      <td style="width:4%; vertical-align: top;">
        <input id="Modulo_firma_autografa" name="Modulo_firma_autografa" dynamic_check="#Tipo_Firma_dati_tecnici.value() == 'con firma autografa'" enabled="#Tipo_Firma_dati_tecnici.value() == 'con firma autografa'" type="checkbox" value="OBBLIGATORIO"/>
      </td>
      <td style="background-color: #eeeeee;" colspan="2">
        <p style="line-height:1.6;">Scansione della stampa di questo modulo firmata</p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table class="Modulo simpatico-block" name="Luogo_e_data" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="width: 25%; text-align: center;">
        <input class="" id="Luogo_PDF" name="Luogo_PDF" style="width:80%;" type="text"/>
      </td>
      <td style="width: 25%; text-align: center;">
        <input class="" id="Data_PDF" name="Data_PDF" style="width:80%;" type="text"/>
      </td>
      <td style="width: 50%; text-align: center; height: 1.5cm;">
        <input class="" id="nominativo_richiedente" name="nominativo_richiedente" dynamic_value="' ' + #AventeTitolo_Cognome.value().toUpperCase() + ' ' + #AventeTitolo_Nome.value().toUpperCase()" style="width:90%;"/>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td>
        <p class="Labelcella" style="text-align: center">Luogo</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Data</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Il titolare <span style="font-size:95%"><i>(firma autografa)</i></span></p>
      </td>
    </tr>
  </tbody>
</table>
<br/>


 <p class="Modulo">
  <input id="SalvaModulo" name="SalvaModulo" style="height:30px;width:120px;" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza." type="submit" value="Salva modulo"/>
 </p>
 <input id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value=""/>
 <input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden"/>
 <input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden"/>
 <input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}"/>

 <input id="GLOBO_allegato_cGEN-Modulo_compilato_firma_autografa" name="GLOBO_allegato_cGEN-Modulo_compilato_firma_autografa" obbligatorio="#Modulo_firma_autografa.checked() ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>

 {{ utils.passaggio_metadati() }}

{% endblock content %}
