{% set CodiceModulo =  "TSCW2019" %}
{% set Urn =  "document:c_l378:tscw;trento.smart.city.week;tscw2019" %}
{% extends "base_trento_new.html" %}

{% block meta %}

<meta campi_firma="AventeTitolo_CodiceFiscale"
campi_firma_label="il dichiarante"
classi_modulo="Tributi"
codice_modulo="{{ CodiceModulo }}"
urn="{{ Urn }}"
sub_urn_list=""
uo_globo_list=""
contesto_procedurale="Trento Smart City Week 2019"
descrizione="Trento Smart City Week 2019"
destinatario_amministrazione=""
destinatario_ufficio="94SMCB"
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="NO"
firmare="NO"
istruzioni_compilazione=""
istruzioni_invio="mail_pec"
metodo_invio="mail"
name="GLOBO_modulo"
procura="NO,,"
segnatura="AventeTitolo"
tipo_modulo="principale"
urlhelp="/modulistica/moduli/TSCW2019"
verifica_pagamento="NO"
versione="1.0|06/04/2016" />

<meta codice_modulo_figlio="SEC-PASS-DATI"
urn_modulo_figlio="document:c_l378:modulo.secondario.prova.passaggio.dati"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

<meta codice_report="CSP_SESSION_REPORT"
generate_on="sending"
name="GLOBO_report"
urn_report="report:CSP_SESSION_REPORT"
/>

{% endblock meta %}

{% block title %}
TSCW2019
{% endblock title %}

{% block content %}

<input dynamic_value="#Ente.value()" id="Parametri_Comune" name="Parametri_Comune" type="hidden" />
<input dynamic_value="#AventeTitolo_Cognome.value() + ' ' + #AventeTitolo_Nome.value() + ' - Trento Smart City Week 2019'" id="Oggetto" name="Oggetto" type="hidden"/>

{{ intestazioni.intestazione_moduloprincipale_senzabollo() }}

<br>

<h1 class="Modulo">
  Partecipazione a Trento Smart City Week 2019
</h1>

<input type="hidden" name="TipoContesto" id="TipoContesto" value="GLOBO">
<input type="hidden" name="TipoLista" id="TipoLista" value="PGLOBO">

<br>

<!--<input id="fisso_obbligatorio" name="fisso_obbligatorio" dynamic_check="true" type="hidden" />-->
<input id="cellulare_obbligatorio" name="cellulare_obbligatorio" dynamic_check="true" type="hidden" />
<input id="mail_obbligatoria" name="mail_obbligatoria" dynamic_check="true" type="hidden" />
<!--<input id="pec_obbligatoria" name="pec_obbligatoria" dynamic_check="true" type="hidden" />-->
{{anagrafica_trento_uniformata.richiedente_tscw("AventeTitolo","Il/La sottoscritto/a, avente codice fiscale:", "visibility:visibility", "cursor:pointer", "visibility:visibility")}} 

<br>
<br>

<input id="Referente_checkobbligatorio" name="Referente_checkobbligatorio" dynamic_check="true" type="hidden" />
<input id="Referente_checkabilitato" name="Referente_checkabilitato" dynamic_check="true" type="hidden" />
{{anagrafica_trento_uniformata.professionista_direttore_lavori("Referente","<b>DATI DEL REFERENTE</b>:","Referente") }}

<br>
<br>

<input id="Referente2_checkobbligatorio" name="Referente2_checkobbligatorio" dynamic_check="true" type="hidden" />
<input id="Referente2_checkabilitato" name="Referente2_checkabilitato" dynamic_check="true" type="hidden" />
{{anagrafica_trento_uniformata.professionista_direttore_lavori("Referente2","<b>DATI DEL SECONDO REFERENTE</b>:","Referente2") }}

<br>
<br>

<p class="Modulo">
  <input id="SalvaModulo" name="SalvaModulo" style="height:30px;width:120px;" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza." type="submit" value="Salva modulo"/>
</p>

<input destinatario_amministrazione="getParameter('Ente')" id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value=""/>

<input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden"/>
<input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden"/>
<input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}"/>

<input id="GLOBO_modulofiglio_cSEC-PASS-DATI" name="GLOBO_modulofiglio_cSEC-PASS-DATI" obbligatorio="'OBBLIGATORIO'" type="hidden" value=""/>


{% endblock content %}