{% set CodiceModulo =  "M5301-MSEC01-TEST-ANDREA-FIGLIO" %}
{% set Urn =  "document:c_l378:test.modulo.andrea;servizio.test.andrea.MSEC01.figlio" %}
{% extends "base_trento_new.html" %}

{% block meta %}
<meta campi_firma="AventeTitolo_CodiceFiscale"
classi_modulo="Generale"
codice_modulo="{{ CodiceModulo }}"
urn="{{ Urn }}"
descrizione="Modulo secondario - TEST ANDREA modulo figlio"
destinatario_amministrazione=""
destinatario_ufficio=""
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="NO"
firmare="NO"
istruzioni_compilazione=""
istruzioni_invio=""
metodo_invio=""
name="GLOBO_modulo"
procura="NO,,"
tipo_modulo="secondario"
ufficio=""
urlhelp="/modulistica/moduli/M5301-MSEC01-TEST-ANDREA-FIGLIO"
verifica_pagamento="NO"
versione="1.0|01/01/2015"/>

<meta codice_modulo_figlio="M5301-MSEC02-TEST-ANDREA-NIPOTE"
urn_modulo_figlio="document:c_l378:test.modulo.andrea;servizio.test.andrea.MSEC02.nipote"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>

{% endblock meta %}

<!--
<script type="text/javascript">
  var simpaticoEservice = "1_3"; //  the id corresponding to the e-service
  var simpaticoEserviceName = "M5301-MSEC01-FRAZIONAMENTO-PARTICELLE"; //  the name corresponding to the e-service
  var simpaticoEserviceURL = "https://sportello.comune.trento.it/modulistica/moduli/M5301-MSEC01-FRAZIONAMENTO-PARTICELLE" ; //  the url corresponding to the e-service
  var simpaticoForm = "modulo_secondario";
  var simpaticoCategory = "Urbanistica"; // the general category of the e-service
  var simpaticoMapping= ["Nominativo_titolare",
                          "Immobile1_CheckVerificaCatastale",
                          "Frazionamento1_FrazionamentoNumero",
                          "Frazionamento1_FrazionmanetoBarra",
                          ];
  var ERROR_LABELS = { 
		'block1' : 'Se non presente, inserire nome e cognome di chi sta facendo la domanda.',
    'block2' : 'Verificare che la particella inserita esista. Il verifica esito particella ha dato esito positivo?',
    'block3' : 'Inserire numero e anno frazionamento.',
  }
</script>

<form data-simpatico-workflow="https://sportello.comune.trento.it/modulistica/moduli/M5301-MSEC01-FRAZIONAMENTO-PARTICELLE" id="modulo" accept-charset="utf-8" method="post" onsubmit="return sendForm()" autocomplete="off">
-->


{% block title %}
Modulo secondario - TEST ANDREA modulo figlio
{% endblock title %}

{% block content %}


{{intestazioni.intestazione_modulosecondario_senzabollo()}} 
 <input id="Oggetto" name="Oggetto" type="hidden" value="" value="Modulo secondario - TEST ANDREA modulo figlio"/>

 <h1 class="Modulo">
  Modulo secondario - TEST ANDREA modulo figlio
 </h1>


 <p class="Modulo">
  <input id="SalvaModulo" name="SalvaModulo" style="height:30px;width:120px;" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza." type="submit" value="Salva modulo"/>
 </p>
 <input id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value=""/>
 <input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden"/>
 <input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden"/>
 <input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}"/>

<br>

<!--TEST ALLEGATI + FIRMA -->
<input id="GLOBO_modulofiglio_cM5301-MSEC02-TEST-ANDREA-NIPOTE" name="GLOBO_modulofiglio_cM5301-MSEC02-TEST-ANDREA-NIPOTE" numero="1" obbligatorio="'OBBLIGATORIO'" type="hidden" value=""/>

<!--TEST METADATI + FIRMA -->
<p>codice privilegiato:
  <input id="Referente_padre" name="Referente_padre" readonly/> </p>



{% endblock content %}
