{% set CodiceModulo =  "GEN-IMMAGG-CDU-EL-OVER15" %}
{% set Urn =  "document:c_l378:modulo.secondario.ulteriori.particelle.urbanistica.firma.elettronica.over15" %}
<!--{% set modulo_workflow_model =  "https://sportello.comune.trento.it/modulistica/moduli/GEN-IMMAGG-EL_vSTU3" %}-->
{% extends "base_trento_new.html" %}

{% block meta %}
<meta campi_firma="AventeTitolo_CodiceFiscale"
classi_modulo="Generale"
codice_modulo="{{ CodiceModulo }}"
urn="{{ Urn }}"
descrizione="Modulo secondario - Ulteriori particelle oggetto del procedimento (firma elettronica) over 15"
destinatario_amministrazione=""
destinatario_ufficio=""
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="NO"
firmare="P7M_ELETTRONICA"
istruzioni_compilazione=""
istruzioni_invio=""
metodo_invio=""
name="GLOBO_modulo"
procura="NO,,"
tipo_modulo="secondario"
ufficio=""
urlhelp="/modulistica/moduli/GEN-IMMAGG-CDU-EL-OVER15"
verifica_pagamento="NO"
versione="1.0|01/01/2015"/>

<!--
<meta codice_modulo_figlio="M5301-MSEC01-FRAZIONAMENTO-PARTICELLE-OVER15"
urn_modulo_figlio="document:c_l378:chiedere.rilascio.certificato.urbanistico;rilascio.certificato.urbanistico;msec01.m5301.fraz.over15"
name="GLOBO_modulofiglio"
numero="1"
obbligatorio="DINAMICO"/>
-->
{% endblock meta %}

<!--
<script type="text/javascript">
  var simpaticoEservice = "1_3"; //  the id corresponding to the e-service
  var simpaticoEserviceName = "M5301-MSEC01-FRAZIONAMENTO-PARTICELLE-OVER15"; //  the name corresponding to the e-service
  var simpaticoEserviceURL = "https://sportello.comune.trento.it/modulistica/moduli/M5301-MSEC01-FRAZIONAMENTO-PARTICELLE-OVER15" ; //  the url corresponding to the e-service
  var simpaticoForm = "modulo_secondario";
  var simpaticoCategory = "Urbanistica"; // the general category of the e-service
  var simpaticoMapping= ["Nominativo_titolare",
                          "Immobile16_CheckVerificaCatastale",
                          "Immobile17_CheckVerificaCatastale",
                          "Immobile18_CheckVerificaCatastale",
                          "Immobile19_CheckVerificaCatastale",
                          "Immobile20_CheckVerificaCatastale",
                          "Immobile21_CheckVerificaCatastale",
                          "Immobile22_CheckVerificaCatastale",
                          "Immobile23_CheckVerificaCatastale",
                          "Immobile24_CheckVerificaCatastale",
                          "Immobile25_CheckVerificaCatastale",
                          "Immobile26_CheckVerificaCatastale",
                          "Immobile27_CheckVerificaCatastale",
                          "Immobile28_CheckVerificaCatastale",
                          "Immobile29_CheckVerificaCatastale",
                          "Immobile30_CheckVerificaCatastale"
                          ];
  var ERROR_LABELS = { 
		'block1' : 'Se non presente, inserire nome e cognome di chi sta facendo la domanda.',
    'block2' : 'Verificare che la particella inserita esista. Selezionare il tipo di frazionamento',
    'block3' : 'Verificare che la particella inserita esista. Selezionare il tipo di frazionamento',
    'block4' : 'Verificare che la particella inserita esista. Selezionare il tipo di frazionamento',
    'block5' : 'Verificare che la particella inserita esista. Selezionare il tipo di frazionamento',
    'block6' : 'Verificare che la particella inserita esista. Selezionare il tipo di frazionamento',
    'block7' : 'Verificare che la particella inserita esista. Selezionare il tipo di frazionamento',
    'block8' : 'Verificare che la particella inserita esista. Selezionare il tipo di frazionamento',
    'block9' : 'Verificare che la particella inserita esista. Selezionare il tipo di frazionamento',
    'block10' : 'Verificare che la particella inserita esista. Selezionare il tipo di frazionamento',
    'block11' : 'Verificare che la particella inserita esista. Selezionare il tipo di frazionamento',
    'block17' : 'Questi allegati verranno richiesti appena salverai questo modulo.',
    'block18' : 'Verificare di aver inserito tutti i dati richiesti',
  }
</script>

<form data-simpatico-workflow="https://sportello.comune.trento.it/modulistica/moduli/GEN-IMMAGG-CDU-AU-OVER15"" id="modulo" accept-charset="utf-8" method="post" onsubmit="return sendForm()" autocomplete="off">
-->

{% block title %}
   Ulteriori particelle oggetto del procedimento over 15
{% endblock title %}

{% block content %}


{{intestazioni.intestazione_modulosecondario_senzabollo()}}
 <input id="Oggetto" name="Oggetto" type="hidden" value="" dynamic_value="#Metadati_AventeTitolo_Cognome_Dato.value().toUpperCase() + ' - ulteriori particelle'"/>

 <h1 class="Modulo">
  Ulteriori particelle oggetto del procedimento over 15
 </h1>

<div class="simpatico-block simpatico-query-and-answer">

  <table class="Modulo" name="consapevolezza_sanz_penali" style="border: 1px solid grey">
    <tbody>
      <tr class="Rigaintestazione">
        <td>
          <p style="line-height:1.6;">Il <b>titolare</b> <input id="Nominativo_titolare" name="Nominativo_titolare" dynamic_value="#Metadati_AventeTitolo_Cognome_Dato.value() + ' ' + #Metadati_AventeTitolo_Nome_Dato.value()" size="87"/>
          <br>valendosi della facoltà prevista dall'articolo 47 del Decreto del Presidente della Repubblica 28/12/2000, n. 445, consapevole delle sanzioni penali previste dall'articolo 76 del Decreto del Presidente della Repubblica 28/12/2000, n. 445 e dall'articolo 483 del Codice Penale nel caso di dichiarazioni non veritiere e di falsità in atti</p>
        </td>
      </tr>
    </tbody>
  </table>

</div>

<br>

<h1 class="Modulo">DICHIARA</h1>

<br>
<br>

<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td>
        <p style="line-height:1.6;"><b>che il procedimento riguarda anche le particelle di seguito indicati:</b>
      </td>
    </tr>
  </tbody>
</table>

{{ immobili_trento.immobile_destinazione_urbanistica_particelle("Immobile16", "Particella 16", disattivato="#Metadati_Totale_particelle.value() >= 16") }}

{{ immobili_trento.immobile_destinazione_urbanistica_particelle("Immobile17", "Particella 17", disattivato="#Metadati_Totale_particelle.value() >= 17") }}

{{ immobili_trento.immobile_destinazione_urbanistica_particelle("Immobile18", "Particella 18", disattivato="#Metadati_Totale_particelle.value() >= 18") }}

{{ immobili_trento.immobile_destinazione_urbanistica_particelle("Immobile19", "Particella 19", disattivato="#Metadati_Totale_particelle.value() >= 19") }}

{{ immobili_trento.immobile_destinazione_urbanistica_particelle("Immobile20", "Particella 20", disattivato="#Metadati_Totale_particelle.value() >= 20") }}

{{ immobili_trento.immobile_destinazione_urbanistica_particelle("Immobile21", "Particella 21", disattivato="#Metadati_Totale_particelle.value() >= 21") }}

{{ immobili_trento.immobile_destinazione_urbanistica_particelle("Immobile22", "Particella 22", disattivato="#Metadati_Totale_particelle.value() >= 22") }}

{{ immobili_trento.immobile_destinazione_urbanistica_particelle("Immobile23", "Particella 23", disattivato="#Metadati_Totale_particelle.value() >= 23") }}

{{ immobili_trento.immobile_destinazione_urbanistica_particelle("Immobile24", "Particella 24", disattivato="#Metadati_Totale_particelle.value() >= 24") }}

{{ immobili_trento.immobile_destinazione_urbanistica_particelle("Immobile25", "Particella 25", disattivato="#Metadati_Totale_particelle.value() >= 25") }}

{{ immobili_trento.immobile_destinazione_urbanistica_particelle("Immobile26", "Particella 26", disattivato="#Metadati_Totale_particelle.value() >= 26") }}

{{ immobili_trento.immobile_destinazione_urbanistica_particelle("Immobile27", "Particella 27", disattivato="#Metadati_Totale_particelle.value() >= 27") }}

{{ immobili_trento.immobile_destinazione_urbanistica_particelle("Immobile28", "Particella 28", disattivato="#Metadati_Totale_particelle.value() >= 28") }}

{{ immobili_trento.immobile_destinazione_urbanistica_particelle("Immobile29", "Particella 29", disattivato="#Metadati_Totale_particelle.value() >= 29") }}

{{ immobili_trento.immobile_destinazione_urbanistica_particelle("Immobile30", "Particella 30", disattivato="#Metadati_Totale_particelle.value() >= 30") }}

<br>

<table class="Modulo simpatico-block simpatico-query-and-answer" name="Allegati" style="border: 1px solid grey">
    <tbody>
      <tr class="Rigaintestazione">
        <td colspan="3">
          <p style="text-align: center;">
            <b>Elenco degli allegati richiesti</b>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <input id="Modulo_ult_fraz_firma_ele" name="Modulo_ult_fraz_firma_ele" dynamic_check="true" enabled="true" type="checkbox"/>
        </td>
        <td>
          il presente modulo va firmato elettronicamente
        </td>
      </tr>
      <!--<tr>
        <td>
          <input id="numeroallegati16" name="numeroallegati16" dynamic_value="parseInt(#Immobile16_NumeroAltriFrazionamenti.value()) /20 ? parseInt(#Immobile16_NumeroAltriFrazionamenti.value()) /20 : 0" type="hidden" />
          <input id="numeroallegati17" name="numeroallegati17" dynamic_value="parseInt(#Immobile17_NumeroAltriFrazionamenti.value()) /20 ? parseInt(#Immobile17_NumeroAltriFrazionamenti.value()) /20 : 0" type="hidden" />
          <input id="numeroallegati18" name="numeroallegati18" dynamic_value="parseInt(#Immobile18_NumeroAltriFrazionamenti.value()) /20 ? parseInt(#Immobile18_NumeroAltriFrazionamenti.value()) /20 : 0" type="hidden" />
          <input id="numeroallegati19" name="numeroallegati19" dynamic_value="parseInt(#Immobile19_NumeroAltriFrazionamenti.value()) /20 ? parseInt(#Immobile19_NumeroAltriFrazionamenti.value()) /20 : 0" type="hidden" />
          <input id="numeroallegati20" name="numeroallegati20" dynamic_value="parseInt(#Immobile20_NumeroAltriFrazionamenti.value()) /20 ? parseInt(#Immobile20_NumeroAltriFrazionamenti.value()) /20 : 0" type="hidden" />
          <input id="numeroallegati21" name="numeroallegati21" dynamic_value="parseInt(#Immobile21_NumeroAltriFrazionamenti.value()) /20 ? parseInt(#Immobile21_NumeroAltriFrazionamenti.value()) /20 : 0" type="hidden" />
          <input id="numeroallegati22" name="numeroallegati22" dynamic_value="parseInt(#Immobile22_NumeroAltriFrazionamenti.value()) /20 ? parseInt(#Immobile22_NumeroAltriFrazionamenti.value()) /20 : 0" type="hidden" />
          <input id="numeroallegati23" name="numeroallegati23" dynamic_value="parseInt(#Immobile23_NumeroAltriFrazionamenti.value()) /20 ? parseInt(#Immobile23_NumeroAltriFrazionamenti.value()) /20 : 0" type="hidden" />
          <input id="numeroallegati24" name="numeroallegati24" dynamic_value="parseInt(#Immobile24_NumeroAltriFrazionamenti.value()) /20 ? parseInt(#Immobile24_NumeroAltriFrazionamenti.value()) /20 : 0" type="hidden" />
          <input id="numeroallegati25" name="numeroallegati25" dynamic_value="parseInt(#Immobile25_NumeroAltriFrazionamenti.value()) /20 ? parseInt(#Immobile25_NumeroAltriFrazionamenti.value()) /20 : 0" type="hidden" />
          <input id="numeroallegati26" name="numeroallegati26" dynamic_value="parseInt(#Immobile26_NumeroAltriFrazionamenti.value()) /20 ? parseInt(#Immobile26_NumeroAltriFrazionamenti.value()) /20 : 0" type="hidden" />
          <input id="numeroallegati27" name="numeroallegati27" dynamic_value="parseInt(#Immobile27_NumeroAltriFrazionamenti.value()) /20 ? parseInt(#Immobile27_NumeroAltriFrazionamenti.value()) /20 : 0" type="hidden" />
          <input id="numeroallegati28" name="numeroallegati28" dynamic_value="parseInt(#Immobile28_NumeroAltriFrazionamenti.value()) /20 ? parseInt(#Immobile28_NumeroAltriFrazionamenti.value()) /20 : 0" type="hidden" />
          <input id="numeroallegati29" name="numeroallegati29" dynamic_value="parseInt(#Immobile29_NumeroAltriFrazionamenti.value()) /20 ? parseInt(#Immobile29_NumeroAltriFrazionamenti.value()) /20 : 0" type="hidden" />
          <input id="numeroallegati30" name="numeroallegati30" dynamic_value="parseInt(#Immobile30_NumeroAltriFrazionamenti.value()) /20 ? parseInt(#Immobile30_NumeroAltriFrazionamenti.value()) /20 : 0" type="hidden" />
          
          <input id="numeroallegatiOver15Ele" name="numeroallegatiOver15Ele" dynamic_value="Math.ceil(#numeroallegati16.value()) + Math.ceil(#numeroallegati17.value()) + Math.ceil(#numeroallegati18.value()) + Math.ceil(#numeroallegati19.value()) + Math.ceil(#numeroallegati20.value()) + Math.ceil(#numeroallegati21.value()) + Math.ceil(#numeroallegati22.value()) + Math.ceil(#numeroallegati23.value()) + Math.ceil(#numeroallegati24.value()) + Math.ceil(#numeroallegati25.value()) + Math.ceil(#numeroallegati26.value()) + Math.ceil(#numeroallegati27.value()) + Math.ceil(#numeroallegati28.value()) + Math.ceil(#numeroallegati29.value()) + Math.ceil(#numeroallegati30.value())" type="hidden" />
          <input id="Modulo_ult_fraz_firma_ele" name="Modulo_ult_fraz_firma_ele" dynamic_check="#numeroallegatiOver15Ele.value() &gt; 0" enabled="#numeroallegatiOver15Ele.value() &gt; 0" type="checkbox"/>
        </td>
        <td style="background-color: #eeeeee;" colspan="2">
          <p>
            n° <input id="Modulo_ult_fraz_firma_ele_num" name="Modulo_ult_fraz_firma_ele_num" dynamic_value="#numeroallegatiOver15Ele.value()" enabled="#numeroallegatiOver15Ele.value() &gt; 0" style="width:5%;"/> moduli frazionamento particelle 
          </p>
        </td>
      </tr>-->
    </tbody>
  </table>
<br>

<table class="Modulo simpatico-block" name="Luogo_e_data" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="width: 25%; text-align: center;">
        <input class="" id="Luogo_PDF" name="Luogo_PDF" style="width:80%;" type="text"/>
      </td>
      <td style="width: 25%; text-align: center;">
        <input class="" id="Data_PDF" name="Data_PDF" style="width:80%;" type="text"/>
      </td>
      <td style="width: 50%; text-align: center; height: 1.5cm;">
        <input class="" id="nominativo_richiedente" name="nominativo_richiedente" dynamic_value="' ' + #Metadati_AventeTitolo_Cognome_Dato.value().toUpperCase() + ' ' + #Metadati_AventeTitolo_Nome_Dato.value().toUpperCase()" style="width:90%;"/>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td>
        <p class="Labelcella" style="text-align: center">Luogo</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Data</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Il titolare <span style="font-size:95%"><i>(firma digitale)</i></span></p>
      </td>
    </tr>
  </tbody>
</table>
<br/>


 <p class="Modulo">
  <input id="SalvaModulo" name="SalvaModulo" style="height:30px;width:120px;" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza." type="submit" value="Salva modulo"/>
 </p>
 <input id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value=""/>
 <input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden"/>
 <input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden"/>
 <input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}"/>

 <!-- creazione modulo per l'inserimento dei frazionamenti 
<input id="GLOBO_modulofiglio_cM5301-MSEC01-FRAZIONAMENTO-PARTICELLE-OVER15" name="GLOBO_modulofiglio_cM5301-MSEC01-FRAZIONAMENTO-PARTICELLE-OVER15" numero="Math.ceil(#numeroallegatiOver15Ele.value())" obbligatorio="Math.ceil(#numeroallegatiOver15Ele.value()) > 0 ? 'OBBLIGATORIO' : ''" type="hidden" value=""/>
-->
<br>

<!--PASSO I META DATI
<input id="Metadati_Nominativo_titolare_Dato" name="Metadati_Nominativo_titolare_Dato" dynamic_value="#Nominativo_titolare.value()" hidden="true" />
-->
<!--PRENDO I META DATI-->
{{ utils.passaggio_metadati() }}
<input id="Metadati_AventeTitolo_Cognome_Dato" name="Metadati_AventeTitolo_Cognome_Dato" hidden="true"/>
<input id="Metadati_AventeTitolo_Nome_Dato" name="Metadati_AventeTitolo_Nome_Dato" hidden="true"/>
<input id="Metadati_Totale_particelle" name="Metadati_Totale_particelle" type="hidden"/>


{% endblock content %}
