{% set CodiceModulo =  "M5301-MSEC01-FRAZIONAMENTO-PARTICELLE-6" %}
{% set Urn =  "document:c_l378:chiedere.rilascio.certificato.urbanistico;rilascio.certificato.urbanistico;msec01.m5301.fraz.particelle6" %}
<!--{% set modulo_workflow_model =  "https://sportello.comune.trento.it/modulistica/moduli/GEN-IMMAGG_vSTU3" %}-->
{% extends "base_trento_new.html" %}

{% block meta %}
<meta campi_firma="AventeTitolo_CodiceFiscale"
classi_modulo="Generale"
codice_modulo="{{ CodiceModulo }}"
urn="{{ Urn }}"
descrizione="Modulo secondario - Ulteriori frazionamenti oggetto del procedimento"
destinatario_amministrazione=""
destinatario_ufficio=""
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="NO"
firmare="NO"
istruzioni_compilazione=""
istruzioni_invio=""
metodo_invio=""
name="GLOBO_modulo"
procura="NO,,"
tipo_modulo="secondario"
ufficio=""
urlhelp="/modulistica/moduli/M5301-MSEC01-FRAZIONAMENTO-PARTICELLE-6"
verifica_pagamento="NO"
versione="1.0|01/01/2015"/>

{% endblock meta %}

<!--{% block simpaticoconfig %}
  {% set simpaticoEservice="1_3" %}
  {% set simpaticoEserviceName="GEN IMMAGG" %}
  {% set simpaticoEserviceURL="https://sportello.comune.trento.it/modulistica/moduli/GEN-IMMAGG" %}
  {% set simpaticoForm="modulo_secondario" %}
  {% set simpaticoCategory="Edilizia" %}
  {% set simpaticoMapping=[ "AventeTitolo_EMailPEC",
                           "AventeTitolo_Tel_Fisso",
                           "AventeTitolo_EMail"] %}

  {% set ERROR_LABELS=[ ('block1' ,'Inserire il codice fiscale'),
                        ('block2' , 'Selezionare il ruolo'),
                        ('block4' , 'Particella inesistente'),
                        ('block5' , 'Particella inesistente'),
                        ('block6' , 'Particella inesistente'),
                        ('block7' , 'Particella inesistente'),
                        ('block8' , 'Particella inesistente'),
                        ('block9' , 'Particella inesistente'),
                        ('block10' , 'Particella inesistente'),
                        ('block11' , 'Particella inesistente'),
                        ('block12' , 'Particella inesistente'),
                        ('block13' , 'Particella inesistente')] %}
  {{ utilsSimpatico.ScriptSimpatico(simpaticoEservice, simpaticoEserviceName, simpaticoEserviceURL, simpaticoForm, simpaticoCategory, simpaticoMapping, ERROR_LABELS ) }}
{% endblock simpaticoconfig %}-->


{% block title %}
   Ulteriori frazionamenti oggetto del procedimento
{% endblock title %}

{% block content %}


{{intestazioni.intestazione_modulosecondario_senzabollo()}}
 <input id="Oggetto" name="Oggetto" type="hidden" value="" dynamic_value="#Metadati_AventeTitolo_Cognome_Dato.value().toUpperCase() + ' - ulteriori frazionamenti oggetto del procedimento'"/>

 <h1 class="Modulo">
  Ulteriori frazionamenti oggetto del procedimento
 </h1>

<div class="simpatico-block simpatico-query-and-answer">

<table class="Modulo" name="consapevolezza_sanz_penali" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td>
        <p style="line-height:1.6;">Il <b>titolare</b> <input id="Nominativo_titolare" name="Nominativo_titolare" dynamic_value="#Metadati_AventeTitolo_Cognome_Dato.value() + ' ' + #Metadati_AventeTitolo_Nome_Dato.value()" size="87"/>
        <br>valendosi della facoltà prevista dall'articolo 47 del Decreto del Presidente della Repubblica 28/12/2000, n. 445, consapevole delle sanzioni penali previste dall'articolo 76 del Decreto del Presidente della Repubblica 28/12/2000, n. 445 e dall'articolo 483 del Codice Penale nel caso di dichiarazioni non veritiere e di falsità in atti</p>
      </td>
    </tr>
  </tbody>
</table>

<br>

<h1 class="Modulo">DICHIARA</h1>

<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td>
        <p style="line-height:1.6;"><b>che il procedimento riguarda il frazionamento della particella 6:</b>
      </td>
    </tr>
  </tbody>
</table>
{{immobili_trento.immobile_semplice("Immobile6")}}

<table class="Modulo" style="border: 1px solid grey">
  <tbody>
    <tr class="Rigaintestazione">
      <td>
        <p style="line-height:1.6;"><b>di cui i seguenti frazionamenti:</b>
      </td>
    </tr>
  </tbody>
</table>
{{immobili_trento.immobile_frazionamento()}}
{{immobili_trento.immobile_frazionamento()}}
{{immobili_trento.immobile_frazionamento()}}
{{immobili_trento.immobile_frazionamento()}}
{{immobili_trento.immobile_frazionamento()}}
{{immobili_trento.immobile_frazionamento()}}
{{immobili_trento.immobile_frazionamento()}}
{{immobili_trento.immobile_frazionamento()}}
{{immobili_trento.immobile_frazionamento()}}
{{immobili_trento.immobile_frazionamento()}}
{{immobili_trento.immobile_frazionamento()}}
{{immobili_trento.immobile_frazionamento()}}
{{immobili_trento.immobile_frazionamento()}}
{{immobili_trento.immobile_frazionamento()}}
{{immobili_trento.immobile_frazionamento()}}
{{immobili_trento.immobile_frazionamento()}}
{{immobili_trento.immobile_frazionamento()}}
{{immobili_trento.immobile_frazionamento()}}
{{immobili_trento.immobile_frazionamento()}}
{{immobili_trento.immobile_frazionamento()}}


</div>



<br>
<br>

<table class="Modulo simpatico-block" name="Luogo_e_data" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="width: 25%; text-align: center;">
        <input class="" id="Luogo_PDF" name="Luogo_PDF" style="width:80%;" type="text"/>
      </td>
      <td style="width: 25%; text-align: center;">
        <input class="" id="Data_PDF" name="Data_PDF" style="width:80%;" type="text"/>
      </td>
      <td style="width: 50%; text-align: center; height: 1.5cm;">
        <input class="" id="nominativo_richiedente" name="nominativo_richiedente" dynamic_value="' ' + #Metadati_AventeTitolo_Cognome_Dato.value().toUpperCase() + ' ' + #Metadati_AventeTitolo_Nome_Dato.value().toUpperCase()" style="width:90%;"/>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td>
        <p class="Labelcella" style="text-align: center">Luogo</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Data</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Il titolare</p>
      </td>
    </tr>
  </tbody>
</table>
<br/>


 <p class="Modulo">
  <input id="SalvaModulo" name="SalvaModulo" style="height:30px;width:120px;" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza." type="submit" value="Salva modulo"/>
 </p>
 <input id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value=""/>
 <input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden"/>
 <input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden"/>
 <input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}"/>

<br>

 {{ utils.passaggio_metadati() }}
 <input id="Metadati_AventeTitolo_Cognome_Dato" name="Metadati_AventeTitolo_Cognome_Dato" hidden="true"/>
 <input id="Metadati_AventeTitolo_Nome_Dato" name="Metadati_AventeTitolo_Nome_Dato" hidden="true"/>


{% endblock content %}
