{% set CodiceModulo =  "M5301-MSEC01-FRAZIONAMENTO-PARTICELLE-5" %}
{% set Urn =  "document:c_l378:chiedere.rilascio.certificato.urbanistico;rilascio.certificato.urbanistico;msec01.m5301.fraz.particelle5" %}
<!--{% set modulo_workflow_model =  "https://sportello.comune.trento.it/modulistica/moduli/GEN-IMMAGG_vSTU3" %}-->
{% extends "base_trento_new.html" %}

{% block meta %}
<meta campi_firma="AventeTitolo_CodiceFiscale"
classi_modulo="Generale"
codice_modulo="{{ CodiceModulo }}"
urn="{{ Urn }}"
descrizione="Modulo secondario - Ulteriori frazionamenti oggetto del procedimento"
destinatario_amministrazione=""
destinatario_ufficio=""
dinamico="SI"
email_a=""
ente_abilitato="TUTTI"
filigrana="NO"
firmare="NO"
istruzioni_compilazione=""
istruzioni_invio=""
metodo_invio=""
name="GLOBO_modulo"
procura="NO,,"
tipo_modulo="secondario"
ufficio=""
urlhelp="/modulistica/moduli/M5301-MSEC01-FRAZIONAMENTO-PARTICELLE-5"
verifica_pagamento="NO"
versione="1.0|01/01/2015"/>

{% endblock meta %}

<!--
<script type="text/javascript">
  var simpaticoEservice = "1_3"; //  the id corresponding to the e-service
  var simpaticoEserviceName = "M5301-MSEC01-FRAZIONAMENTO-PARTICELLE-5"; //  the name corresponding to the e-service
  var simpaticoEserviceURL = "https://sportello.comune.trento.it/modulistica/moduli/M5301-MSEC01-FRAZIONAMENTO-PARTICELLE-5" ; //  the url corresponding to the e-service
  var simpaticoForm = "modulo_secondario";
  var simpaticoCategory = "Urbanistica"; // the general category of the e-service
  var simpaticoMapping= ["Nominativo_titolare",
                          "Immobile5_CheckVerificaCatastale",
                          "Frazionamento51_FrazionamentoNumero",
                          "Frazionamento51_FrazionmanetoBarra",
                          ];
  var ERROR_LABELS = { 
		'block1' : 'Se non presente, inserire nome e cognome di chi sta facendo la domanda.',
    'block2' : 'Verificare che la particella inserita esista. Il verifica esito particella ha dato esito positivo?',
    'block3' : 'Inserire numero e anno frazionamento.',
  }
</script>

<form data-simpatico-workflow="https://sportello.comune.trento.it/modulistica/moduli/M5301-MSEC01-FRAZIONAMENTO-PARTICELLE-5" id="modulo" accept-charset="utf-8" method="post" onsubmit="return sendForm()" autocomplete="off">
-->

{% block title %}
   Ulteriori frazionamenti oggetto del procedimento
{% endblock title %}

{% block content %}


{{intestazioni.intestazione_modulosecondario_senzabollo()}}
 <input id="Oggetto" name="Oggetto" type="hidden" value="" dynamic_value="#Metadati_AventeTitolo_Cognome_Dato.value().toUpperCase() + ' - ulteriori frazionamenti oggetto del procedimento Particella 5'"/>

 <h1 class="Modulo">
  Ulteriori frazionamenti oggetto del procedimento
 </h1>

<div class="simpatico-block simpatico-query-and-answer">

  <table class="Modulo" name="consapevolezza_sanz_penali" style="border: 1px solid grey">
    <tbody>
      <tr class="Rigaintestazione">
        <td>
          <p style="line-height:1.6;">Il <b>titolare</b> <input id="Nominativo_titolare" name="Nominativo_titolare" dynamic_value="#Metadati_AventeTitolo_Cognome_Dato.value() + ' ' + #Metadati_AventeTitolo_Nome_Dato.value()" size="87"/>
          <br>valendosi della facoltà prevista dall'articolo 47 del Decreto del Presidente della Repubblica 28/12/2000, n. 445, consapevole delle sanzioni penali previste dall'articolo 76 del Decreto del Presidente della Repubblica 28/12/2000, n. 445 e dall'articolo 483 del Codice Penale nel caso di dichiarazioni non veritiere e di falsità in atti</p>
        </td>
      </tr>
    </tbody>
  </table>

</div>

<br>

<h1 class="Modulo">DICHIARA</h1>

<div class="simpatico-block simpatico-query-and-answer">

  <table class="Modulo" style="border: 1px solid grey">
    <tbody>
      <tr class="Rigaintestazione">
        <td>
          <p style="line-height:1.6;"><b>che il procedimento riguarda il frazionamento della particella 5:</b>
        </td>
      </tr>
    </tbody>
  </table>
  {{immobili_trento.immobile_semplice("Immobile5")}}

</div>

<div class="simpatico-block simpatico-query-and-answer">

  <table class="Modulo" style="border: 1px solid grey">
    <tbody>
      <tr class="Rigaintestazione">
        <td>
          <p style="line-height:1.6;"><b>di cui i seguenti frazionamenti:</b>
        </td>
      </tr>
    </tbody>
  </table>

  {{immobili_trento.immobile_frazionamento("Frazionamento51", disattivato="true")}}
  {{immobili_trento.immobile_frazionamento("Frazionamento52", disattivato="#Metadati_Immobile5_NumeroAltriFrazionamentiDato.value() >= 2")}}
  {{immobili_trento.immobile_frazionamento("Frazionamento53", disattivato="#Metadati_Immobile5_NumeroAltriFrazionamentiDato.value() >= 3")}}
  {{immobili_trento.immobile_frazionamento("Frazionamento54", disattivato="#Metadati_Immobile5_NumeroAltriFrazionamentiDato.value() >= 4")}}
  {{immobili_trento.immobile_frazionamento("Frazionamento55", disattivato="#Metadati_Immobile5_NumeroAltriFrazionamentiDato.value() >= 5")}}
  {{immobili_trento.immobile_frazionamento("Frazionamento56", disattivato="#Metadati_Immobile5_NumeroAltriFrazionamentiDato.value() >= 6")}}
  {{immobili_trento.immobile_frazionamento("Frazionamento57", disattivato="#Metadati_Immobile5_NumeroAltriFrazionamentiDato.value() >= 7")}}
  {{immobili_trento.immobile_frazionamento("Frazionamento58", disattivato="#Metadati_Immobile5_NumeroAltriFrazionamentiDato.value() >= 8")}}
  {{immobili_trento.immobile_frazionamento("Frazionamento59", disattivato="#Metadati_Immobile5_NumeroAltriFrazionamentiDato.value() >= 9")}}
  {{immobili_trento.immobile_frazionamento("Frazionamento510", disattivato="#Metadati_Immobile5_NumeroAltriFrazionamentiDato.value() >= 10")}}
  {{immobili_trento.immobile_frazionamento("Frazionamento511", disattivato="#Metadati_Immobile5_NumeroAltriFrazionamentiDato.value() >= 11")}}
  {{immobili_trento.immobile_frazionamento("Frazionamento512", disattivato="#Metadati_Immobile5_NumeroAltriFrazionamentiDato.value() >= 12")}}
  {{immobili_trento.immobile_frazionamento("Frazionamento513", disattivato="#Metadati_Immobile5_NumeroAltriFrazionamentiDato.value() >= 13")}}
  {{immobili_trento.immobile_frazionamento("Frazionamento514", disattivato="#Metadati_Immobile5_NumeroAltriFrazionamentiDato.value() >= 14")}}
  {{immobili_trento.immobile_frazionamento("Frazionamento515", disattivato="#Metadati_Immobile5_NumeroAltriFrazionamentiDato.value() >= 15")}}
  {{immobili_trento.immobile_frazionamento("Frazionamento516", disattivato="#Metadati_Immobile5_NumeroAltriFrazionamentiDato.value() >= 16")}}
  {{immobili_trento.immobile_frazionamento("Frazionamento517", disattivato="#Metadati_Immobile5_NumeroAltriFrazionamentiDato.value() >= 17")}}
  {{immobili_trento.immobile_frazionamento("Frazionamento518", disattivato="#Metadati_Immobile5_NumeroAltriFrazionamentiDato.value() >= 18")}}
  {{immobili_trento.immobile_frazionamento("Frazionamento519", disattivato="#Metadati_Immobile5_NumeroAltriFrazionamentiDato.value() >= 19")}}
  {{immobili_trento.immobile_frazionamento("Frazionamento520", disattivato="#Metadati_Immobile5_NumeroAltriFrazionamentiDato.value() >= 20")}}



</div>



<br>
<br>

<table class="Modulo simpatico-block" name="Luogo_e_data" style="border: 1px solid grey">
  <tbody>
    <tr>
      <td style="width: 25%; text-align: center;">
        <input class="" id="Luogo_PDF" name="Luogo_PDF" style="width:80%;" type="text"/>
      </td>
      <td style="width: 25%; text-align: center;">
        <input class="" id="Data_PDF" name="Data_PDF" style="width:80%;" type="text"/>
      </td>
      <td style="width: 50%; text-align: center; height: 1.5cm;">
        <input class="" id="nominativo_richiedente" name="nominativo_richiedente" dynamic_value="' ' + #Metadati_AventeTitolo_Cognome_Dato.value().toUpperCase() + ' ' + #Metadati_AventeTitolo_Nome_Dato.value().toUpperCase()" style="width:90%;"/>
      </td>
    </tr>
    <tr class="Rigaintestazioneridotta">
      <td>
        <p class="Labelcella" style="text-align: center">Luogo</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Data</p>
      </td>
      <td>
        <p class="Labelcella" style="text-align: center">Il titolare</p>
      </td>
    </tr>
  </tbody>
</table>
<br/>


 <p class="Modulo">
  <input id="SalvaModulo" name="SalvaModulo" style="height:30px;width:120px;" title="Verifica la corretta compilazione dei campi e salva il modulo nel faldone virtuale dell'istanza." type="submit" value="Salva modulo"/>
 </p>
 <input id="GLOBO_modulo_c{{ CodiceModulo }}" name="GLOBO_modulo_c{{ CodiceModulo }}" type="hidden" value=""/>
 <input id="GLOBO_id_padre" name="GLOBO_id_padre" type="hidden"/>
 <input id="GLOBO_recupera_dati" name="GLOBO_recupera_dati" type="hidden"/>
 <input id="GLOBO_codice_modulo" name="GLOBO_codice_modulo" type="hidden" value="{{ CodiceModulo }}"/>

<br>

 {{ utils.passaggio_metadati() }}
 <input id="Metadati_AventeTitolo_Cognome_Dato" name="Metadati_AventeTitolo_Cognome_Dato" hidden="true"/>
 <input id="Metadati_AventeTitolo_Nome_Dato" name="Metadati_AventeTitolo_Nome_Dato" hidden="true"/>
 <input id="Metadati_Immobile4_NumeroAltriFrazionamentiDato" name="Metadati_Immobile4_NumeroAltriFrazionamentiDato" hidden="true"/>


{% endblock content %}
